<!-- BEGIN form-block -->

<div class="wrapper-block agent-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-12"> 
                    <h1>New/Edit Rate Category</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-block">
                    	{message}
                    	<fieldset class="sr-only">
                    		<input type="text" name="rctid" value="{rctid}" />
                    	</fieldset>
                        <fieldset class="form-inline">
                            <label>Rate Category Name</label>
                            <div class="form-group">
                                <input type="text" class="text text-large form-control" name="rctname" value="{rctname}" placeholder="">
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Rate Category Status</label>
                            <div class="form-group">
                                <select name="rcstatus" class="select-option" autocomplete="off" style="width:200px;">
                                    {rcstatus}
                                </select>
                            </div>
                        </fieldset>
                        <fieldset>
                            <label>Rate All Point</label>
                            <div class="subfield">
                                <div class="rate-wrapp net-rate">
                                    <div class="form-inline">
                                        <div class="net-rate-price-list-block">
                                            {rctvalue}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-action clearfix">
                    	<button type="submit" class="btn-save pull-left" name="publish">Save Rate Category</button>
                    	<a class="cancel pull-left" href="{cancel_link}">Cancel</a>
                    	<a class="delete pull-right {delete_class}" href="{ajax_link}">Delete</a>
                    </div>
                    <div class="form-note">
                        {last_update_note}
                    </div>
                </div>
            </div>
        </form>

        <script type="text/javascript">
            jQuery(document).ready(function(){
                jQuery('.select-option').chosen({ max_selected_options:10, search_contains:true });

                jQuery('.form-action .delete').on('click', function(e){
                    var url = jQuery(this).attr('href');
                    var prm = new Object();
                        prm.pkey = 'delete-rate-category';
                        prm.rctid = jQuery('[name=rctid]').val();

                    jQuery('<div></div>').dialog({
                        modal: true,
                        draggable: false,
                        resizable: false,
                        title: 'Notification',
                        open: function(){
                            jQuery(this).html('Are you sure want to delete this rate category?');
                        },
                        buttons: {
                            Yes: function(){
                                var popup = jQuery(this);

                                jQuery.ajax({
                                    method: 'POST',
                                    url: url,
                                    data: prm,
                                    dataType : 'json',
                                    success: function(e){
                                        popup.dialog('close');

                                        if( e.result=='success' )
                                        {                                       
                                            show_popup('Notification', 'This rate category has been successfully deleted', 'window.location.assign("{cancel_link}")');
                                        }
                                        else if( e.result=='error-query' )
                                        {
                                            if( e.error_code==1451 )
                                            {
                                                show_popup('Warning', 'Sorry, This rate category can\'t be deleted. May already be used in another data');
                                            }
                                            else
                                            {
                                                show_popup('Warning', 'Sorry, This rate category can\'t be deleted. Please try again later');
                                            }
                                        }
                                    },
                                    error: function(e){
                                       popup.dialog('close');

                                       show_popup('Warning', 'Sorry, This rate category can\'t be deleted. Please try again later');
                                    }
                                });
                            },
                            No: function(){
                                jQuery( this ).dialog('close');
                            }
                        }
                    });

                    return false;
                });
            });
        </script>
    </div>
</div>

<!-- END form-block -->