<!-- BEGIN form-block -->

<div class="wrapper-block users-block role-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-12"> 
                    <h1>New/Edit Admin</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-block no-field-border">
                    	{message}
                    	<fieldset class="sr-only">
                    		<input type="text" name="luser_id" value="{luser_id}" />
                    	</fieldset>
                    	<fieldset>
                    		<h2>Admin Info</h2>
                    		<div class="form-group">
	                    		<label>Name</label>
	                    		<div class="form-group">
								    <input type="text" class="text text-large form-control" name="ldisplay_name" value="{ldisplay_name}" />
							  	</div>
							</div>
                    		<div class="form-group">
	                    		<label>Email</label>
	                    		<div class="form-group">
								    <input type="text" class="text text-large form-control" name="lemail" value="{lemail}" {is_email_disabled} />
							  	</div>
							</div>
                    		<div class="form-group">
	                    		<label>Phone</label>
	                    		<div class="form-group">
								    <input type="text" class="text text-medium form-control" name="lphone" value="{lphone}" />
							  	</div>
							</div>
                    		<div class="form-group">
	                    		<label>Admin Role</label>
	                    		<div class="form-group">
	                    			<select class="select-option" name="lrole_id" autocomplete="off">
	                    				{role_option}
	                    			</select>
							  	</div>
							</div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <h2>Admin Privileges</h2>
                            <div class="role-section">
                                <div class="rs-content">
                                    {user_privilage}
                                </div>
                            </div>
                        </fieldset>
                    	<fieldset>
                    		<h2>Admin Login</h2>
                    		<div class="form-group">
	                    		<label>Username</label>
	                    		<div class="form-group">
								    <input type="text" class="text text-medium form-control" name="lusername" value="{lusername}" {is_username_disabled} />
							  	</div>
							</div>
                    		<div class="form-group">
	                    		<label>Password</label>
	                    		<p>Type password below if you need to a new one</p>
	                    		<div class="form-group">
								    <input type="password" class="text text-medium form-control" name="lpassword" value="{lpassword}" />
							  	</div>
							</div>
                    		<div class="form-group">
	                    		<label>Retype Password</label>
	                    		<div class="form-group">
								    <input type="password" class="text text-medium form-control" name="lrpassword" value="{lrpassword}" />
							  	</div>
							</div>
                    		<div class="form-group">
	                    		<label>Status</label>
	                    		<div class="form-group">
	                    			<select class="select-option" name="lstatus" autocomplete="off">
	                    				{status_option}
	                    			</select>
							  	</div>
							</div>
                        </fieldset>
                    </div>
                    <div class="form-action clearfix">
                    	<button type="submit" class="btn-save pull-left" name="save_changes">Save Admin</button>
                    	<a class="cancel pull-left" href="{cancel_link}">Cancel</a>
                    	<a class="delete pull-right {delete_class}" href="user.php">Delete</a>
                    </div>
                    <div class="form-note">
                        {last_update_note}
                    </div>
                </div>
            </div>
        </form>

        <script type="text/javascript">

            jQuery(document).ready(function(){
                jQuery('.form-action .delete').on('click', function(e){
                    var url = jQuery(this).attr('href');
                    var prm = new Object();
                        prm.prc = 'delete';
                        prm.id  = jQuery('[name=luser_id]').val();

                    jQuery('<div></div>').dialog({
                        modal: true,
                        draggable: false,
                        resizable: false,
                        title: 'Notification',
                        open: function(){
                            jQuery(this).html('Are you sure want to delete this user?');
                        },
                        buttons: {
                            Yes: function(){
                                var popup = jQuery(this);

                                jQuery.ajax({
                                    method: 'POST',
                                    url: url,
                                    data: prm,
                                    dataType : 'json',
                                    success: function(e){
                                        popup.dialog('close');

                                        if( e.result=='success' )
                                        {                                       
                                            show_popup('Notification', 'This user has been successfully deleted', 'window.location.assign("{cancel_link}")');
                                        }
                                        else if( e.result=='failed' )
                                        {
                                            show_popup('Warning', 'Sorry, This user can\'t be deleted. Please try again later');
                                        }
                                    },
                                    error: function(e){
                                       popup.dialog('close');

                                       show_popup('Warning', 'Sorry, This user can\'t be deleted. Please try again later');
                                    }
                                });
                            },
                            No: function(){
                                jQuery( this ).dialog('close');
                            }
                        }
                    });

                    return false;
                });

                jQuery('[name=lrole_id]').change(function(){
                    var role_id = jQuery('[name=lrole_id]').val();

                    if ( role_id != '' ) {
                        var prm         = new Object;
                            prm.pkey    = 'get_role_privilage';
                            prm.role_id = jQuery('[name=lrole_id]').val();

                        jQuery.ajax({
                            method: 'POST',
                            url: '{ajax_link}',
                            data: prm,
                            dataType : 'html',  
                            success: function( data ){
                                jQuery('.rs-content').html(data);
                            },          
                            beforeSend: function(){
                                jQuery(".section-overlay").show();
                            },
                            complete:function(data){
                                jQuery(".section-overlay").hide();
                            },
                            error: function(e){
                                console.log('Ajax Error!!');
                            }
                        });
                    } else {
                        jQuery('.rs-content').html('');
                    }
                });
            });

        </script>
    </div>
</div>

<!-- END form-block -->