<!-- BEGIN list-block -->

<div class="wrapper-block users-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-8"> 
                    <h1>Manage Admin</h1>
                </div>
                <div class="col-md-4">
                    <div class="button-box clearfix">
                        <button type="submit" class="button btn-delete disabled" name="delete" value="Delete" disabled="disabled">Delete Admin</button>
                        <button type="button" class="button btn-add" name="add_new" onclick="location.href='{add_new_link}';">New Admin</button>
                    </div>
                </div>
            </div>
            <div class="row">     
                <div class="col-md-12"> 
                    <div class="filter-box clearfix">
                        <div class="search-box clearfix">
                            <input type="text" name="suser" class="searchtext" placeholder="Search" autocomplete="off" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-block">
                        <table id="users-table" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="15" data-orderable="false"><input type="checkbox" name="check_all" autocomplete="off" /></th>
                                    <th>Admin Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Role</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {list}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        jQuery(document).ready(function(){    
            var table = jQuery('#users-table').DataTable({
                'dom'          : '<"row"<"col-xs-5 col-sm-6"l><"col-xs-7 col-sm-6 text-right">r>t<"row"<"col-md-12"i><"col-md-12 text-center"p>>',
                'pageLength'   : parseInt('{limit}'),
                'lengthChange' : false,
                'info'         : false,
                'searching'    : true,
                'order'        : []
            });

            jQuery('[name=suser]').on('keyup change', function(){
                table.search( this.value ).draw() ;
            });
        });
    </script>
</div>

<!-- END list-block -->