<!-- BEGIN profile-block -->

<div class="wrapper-block users-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-12"> 
                    <h1>Update Profile</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-block no-field-border">
                        {message}
                    	<fieldset class="sr-only">
                    		<input type="text" name="luser_id" value="{luser_id}" />
                    		<input type="text" name="lrole_id" value="{lrole_id}" />
                    		<input type="text" name="lstatus" value="{lstatus}" />
                    	</fieldset>
                    	<fieldset>
                    		<h2>Admin Info</h2>
                    		<div class="form-group">
	                    		<label>Name</label>
	                    		<div class="form-group">
								    <input type="text" class="text text-large form-control" name="ldisplay_name" value="{ldisplay_name}" />
							  	</div>
							</div>
                    		<div class="form-group">
	                    		<label>Email</label>
	                    		<div class="form-group">
								    <input type="text" class="text text-large form-control" name="lemail" value="{lemail}" {is_email_disabled} />
							  	</div>
							</div>
                    		<div class="form-group">
	                    		<label>Phone</label>
	                    		<div class="form-group">
								    <input type="text" class="text text-medium form-control" name="lphone" value="{lphone}" />
							  	</div>
							</div>
                        </fieldset>
                    	<fieldset>
                    		<h2>Admin Login</h2>
                    		<div class="form-group">
	                    		<label>Username</label>
	                    		<div class="form-group">
								    <input type="text" class="text text-medium form-control" name="lusername" value="{lusername}" {is_username_disabled} />
							  	</div>
							</div>
                    		<div class="form-group">
	                    		<label>Password</label>
	                    		<p>Type password below if you need to a new one</p>
	                    		<div class="form-group">
								    <input type="password" class="text text-medium form-control" name="lpassword" value="{lpassword}" onfocus="this.removeAttribute('readonly');" readonly />
							  	</div>
							</div>
                    		<div class="form-group">
	                    		<label>Retype Password</label>
	                    		<div class="form-group">
								    <input type="password" class="text text-medium form-control" name="lrpassword" value="{lrpassword}" autocomplete="off" />
							  	</div>
							</div>
                        </fieldset>
                    </div>
                    <div class="form-action clearfix">
                    	<button type="submit" class="btn-save pull-left" name="save_changes">Save Profile</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- END profile-block -->