<!-- BEGIN form-block -->

<div class="wrapper-block hotel-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-12"> 
                    <h1>New/Edit Hotel & Airport</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-block no-field-border">
                    	{message}
                    	<fieldset class="sr-only">
                    		<input type="text" name="hid" value="{hid}" />
                    	</fieldset>
                        <fieldset class="form-inline">
                    		<label>Hotel / Airport Name</label>
                    		<div class="form-group">
							    <input type="text" class="text text-medium form-control" name="hname" value="{hname}" />
						  	</div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Area</label>
                            <div class="form-group">
                                <select class="select-option" name="taid" autocomplete="off">
                                    {taid}
                                </select>
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Address</label>
                            <div class="form-group">
                                <textarea type="text" class="textarea text-large form-control" name="haddress" rows="5">{haddress}</textarea>
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Phone 1</label>
                            <div class="form-group">
                                <input type="text" class="text text-medium form-control" name="hphone" value="{hphone}" />
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Phone 2</label>
                            <div class="form-group">
                                <input type="text" class="text text-medium form-control" name="hphone2" value="{hphone2}" />
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Facsimile</label>
                            <div class="form-group">
                                <input type="text" class="text text-medium form-control" name="hfax" value="{hfax}" />
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Email</label>
                            <div class="form-group">
                                <input type="email" class="text text-large form-control" name="hemail" value="{hemail}" />
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Status</label>
                            <div class="form-group-block">
                                <select name="hstatus" autocomplete="off" style="width:200px;">
                                    {hstatus}
                                </select>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-action clearfix">
                    	<button type="submit" class="btn-save pull-left" name="publish">Save Hotel</button>
                    	<a class="cancel pull-left" href="{cancel_link}">Cancel</a>
                    	<a class="delete pull-right {delete_class}" href="{ajax_link}">Delete</a>
                    </div>
                    <div class="form-note">
                        {last_update_note}
                    </div>
                </div>
            </div>
        </form>

        <script type="text/javascript">
            jQuery(document).ready(function(){
                jQuery('.form-action .delete').on('click', function(e){
                    var url = jQuery(this).attr('href');
                    var prm = new Object();
                        prm.pkey = 'delete-hotel';
                        prm.hid  = jQuery('[name=hid]').val();

                    jQuery('<div></div>').dialog({
                        modal: true,
                        draggable: false,
                        resizable: false,
                        title: 'Notification',
                        open: function(){
                            jQuery(this).html('Are you sure want to delete this hotel?');
                        },
                        buttons: {
                            Yes: function(){
                                var popup = jQuery(this);

                                jQuery.ajax({
                                    method: 'POST',
                                    url: url,
                                    data: prm,
                                    dataType : 'json',
                                    success: function(e){
                                        popup.dialog('close');

                                        if( e.result=='success' )
                                        {                                       
                                            show_popup('Notification', 'This hotel has been successfully deleted', 'window.location.assign("{cancel_link}")');
                                        }
                                        else if( e.result=='failed' )
                                        {
                                            show_popup('Warning', 'Sorry, This hotel can\'t be deleted. Please try again later');
                                        }
                                    },
                                    error: function(e){
                                       popup.dialog('close');

                                       show_popup('Warning', 'Sorry, This hotel can\'t be deleted. Please try again later');
                                    }
                                });
                            },
                            No: function(){
                                jQuery( this ).dialog('close');
                            }
                        }
                    });

                    return false;
                });
            });
        </script>
    </div>
</div>

<!-- END form-block -->