<!-- BEGIN list-block -->

<div class="wrapper-block hotel-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-8"> 
                    <h1>Hotel & Airport</h1>
                </div>
                <div class="col-md-4">
                    <div class="button-box clearfix">
                        <button type="submit" class="button btn-delete disabled" name="delete" value="Delete" disabled="disabled">Delete Hotel / Airport</button>
                        <button type="button" class="button btn-add" name="add_new" onclick="location.href='{add_new_link}';">New Hotel / Airport</button>
                    </div>
                </div>
            </div>
            <div class="row">     
                <div class="col-md-12">
                    <div class="filter-box clearfix">
                        <div class="col-md-6">
                            <span class="text">Filter</span>
                            <select name="taid" id="select_area" class="select-option">
                                {area_option}
                            </select>
                            <input name="filter" type="submit" value="Filter" class="filters">
                        </div>
                        <div class="col-md-6">
                            <div class="search-box clearfix">
                                <input type="text" name="shotel" class="searchtext" placeholder="Search" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-block">
                        {message}
                        <table id="hotel-table" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="15" data-orderable="false"><input type="checkbox" name="check_all" autocomplete="off" /></th>
                                    <th>Hotel Name</th>
                                    <th>Area</th>
                                    <th>Address</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th width="80">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery('.select-option').chosen({ max_selected_options:10, search_contains:true });

            var table = jQuery('#hotel-table').DataTable({
                dom          : '<"row"<"col-xs-5 col-sm-6"l><"col-xs-7 col-sm-6 text-right">r>t<"row"<"col-md-12"i><"col-md-12 text-center"p>>',
                pageLength   : parseInt('{limit}'),
                lengthChange : false,
                info         : false,
                processing   : true,
                serverSide   : true,
                searching    : true,
                deferRender  : true,
                order        : [],
                ajax         : {
                    url  : '{ajax_link}',
                    type : 'POST',
                    data : { 
                        pkey : 'load-data',
                        taid : jQuery('[name=taid]').val()
                    }
                },
                columns: [
                    {
                        data: 'hid', render: function ( data, type, row ){
                            var html = '<input type="checkbox" name="select[]" autocomplete="off" value="'+ data +'" />';

                            return html;
                        }
                    },
                    {
                        data: 'hname', render: function ( data, type, row ) {
                            var html = data +
                            '<p>'+
                                '<a id="edit-'+ row.hid +'" rel="'+ row.hid +'" class="edit-data" href="'+ row.edit_link +'">Edit  &raquo;</a>'+
                                '<a id="delete-'+ row.hid +'" rel="'+ row.hid +'" class="delete-data" href="'+ row.ajax_link +'" onclick="return false;" >Delete &raquo;</a>'+
                            '</p>';

                            return html;
                        }
                    },
                    {
                        data: 'taname', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'haddress', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'hphone', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'hemail', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'hstatus', render: function ( data, type, row ) {
                            return data == 1 ? 'Open' : 'Closed';
                        }
                    }
                ]
            });

            table.on( 'draw.dt', function () {
                action_link_func( table );
            });

            table.on( 'page.dt', function () {
                start = table.page.info().start;
            });

            jQuery('[name=shotel]').on('keyup', function(){
                table.search( this.value ).draw() ;
            });
        }); 

        function action_link_func( table )
        {
            jQuery('.delete-data').unbind();
            jQuery('.delete-data').on('click', function(e){
                var url = jQuery(this).attr('href');
                var prm = new Object();
                    prm.pkey = 'delete-hotel';
                    prm.hid  = jQuery(this).attr('rel');

                jQuery('<div></div>').dialog({
                    modal: true,
                    draggable: false,
                    resizable: false,
                    title: 'Notification',
                    open: function(){
                        jQuery(this).html('Are you sure want to delete this hotel?');
                    },
                    buttons: {
                        Yes: function(){
                            var popup = jQuery(this);

                            jQuery.ajax({
                                method: 'POST',
                                url: url,
                                data: prm,
                                dataType : 'json',
                                success: function(e){
                                    popup.dialog('close');

                                    if( e.result=='success' )
                                    {
                                        table.ajax.reload(function(){
                                            action_link_func( table );                                            
                                            show_popup('Notification', 'This hotel has been successfully deleted');
                                        }, false);
                                    }
                                    else if( e.result=='error-query' )
                                    {
                                        if( e.error_code==1451 )
                                        {
                                            show_popup('Warning', 'Sorry, This hotel can\'t be deleted. May already be used in other table');
                                        }
                                        else
                                        {
                                            show_popup('Warning', 'Sorry, This hotel can\'t be deleted. Please try again later');
                                        }
                                    }
                                },
                                error: function(e){
                                   popup.dialog('close');

                                   show_popup('Warning', 'Sorry, This hotel can\'t be deleted. Please try again later');
                                }
                            });
                        },
                        No: function(){
                            jQuery( this ).dialog('close');
                        }
                    }
                });
            });
        }
    </script>
</div>

<!-- END list-block -->