<!-- BEGIN form-block -->

<div class="wrapper-block transport-block">
	<div class="container-fluid">
        <form class="{form_type}" action="{action}" method="post" name="alist">
			<div class="top-bar">
				<div class="row">
					<div class="col-md-6 text-left">
						<h1>{title}</h1>
					</div>
					<div class="col-md-6 text-right">
						<a href="{action_link}" class="small-title">{action_text}</a>
					</div>
				</div>
			</div>
			
            <div class="form-block">
        		{message}
        	</div>

			<div class="trip-detail">
				<div class="row row-border row-eq-height">
					<div class="col-md-3">
						<span class="small-title">Date</span>
						<strong class="strong-text">{date}</strong>
					</div>
					<div class="col-md-3">
						<span class="small-title">Boat</span>
						<strong class="strong-text">{boname}</strong>
					</div>
					<div class="col-md-3">
						<span class="small-title">Route</span>
						<strong class="strong-text">{rname}</strong>
					</div>
					<div class="col-md-3 text-right">
						<span class="small-title">{loc_type}</span>
						<strong class="strong-text">{location} ({time})</strong>
					</div>
				</div>
				<div class="row row-eq-height">
					<div class="col-md-3 col-box">
						<span class="small-title">Choose Vehicle</span>
						<strong class="strong-text">{vehicle}</strong>
						<select class="select-option" name="vid" {vehicle_option_attr}>
							{vehicle_option}
						</select>
					</div>
					<div class="col-md-3">
						<span class="small-title">Passenger</span>
						<strong class="strong-text passenger-capacity">{passenger}/{capacity}</strong>
					</div>
					<div class="col-md-3 col-box">
						<span class="small-title">Status</span>
						<strong class="strong-text">{status}</strong>
						<select class="select-option" name="status">
							{status_option}
						</select>
					</div>
				</div>
				<div class="row row-eq-height">
					<div class="col-md-3 col-box">
						<span class="small-title">Choose Driver</span>
						<strong class="strong-text">{driver}</strong>
						<select class="select-option" name="did" {driver_option_attr}>
							{driver_option}
						</select>
					</div>
					<div class="col-md-3">
						<span class="small-title">Transport Type</span>
						<strong class="strong-text">{transport_type} Transport</strong>
					</div>
					<div class="col-md-3 col-box {driver_type_style} driver-fee">
						<span class="small-title">Driver Fee</span>
						<strong class="strong-text">{fee_format}</strong>
						<input type="number" class="text form-control" name="ttfee" min="0" oninput="this.value = Math.abs(this.value)" value="{fee}"/> 
					</div>
				</div>
			</div>

			<div class="trip-guest-list">
				<h2>Guest</h2>

	            <div class="table-block">
	                <table id="guest-table" class="table" cellspacing="0" width="100%">
	                    <thead>
	                        <tr>
	                            <th>Booked By</th>
	                            <th width="300">Guest Name</th>
	                            <th>{type_txt}</th>
	                            <th>Address</th>
	                            <th>Hotel Phone</th>
	                            <th>Hotel Email</th>
	                            <th>Guest</th>
	                            <th>&nbsp;</th>
	                        </tr>
	                    </thead>
	                    <tbody>
							<!-- BEGIN loop-block -->
							<tr>
								<td>{bbname}</td>
								<td>{guest_name}</td>
								<td>{area}</td>
								<td>{address}</td>
								<td>{phone}</td>
								<td>{email}</td>
								<td>{guest_num}</td>
								<td>
									<a rel="{ttdid}" class="delete {delete_cls}"></a>
								</td>
							</tr>
							<!-- END loop-block -->
	                    </tbody>
	                </table>
	            </div>
	        </div>

	        <div class="form-action clearfix">
	        	<input type="text" class="sr-only" name="ttid" value="{ttid}">
				<input type="text" class="sr-only" name="ttdate" value="{date}">
				<input type="text" class="sr-only" name="tttime" value="{time}">
				<input type="text" class="sr-only" name="tttype" value="{transport_type}">
				<input type="text" class="sr-only" name="ttlocation" value="{location}">

	        	<button type="submit" class="btn-print pull-left" name="print">{print_title}</button>
	        	<button type="submit" class="btn-save pull-left" name="{button_name}">{publish_title}</button>
	        	
            	<a class="cancel pull-left" href="{cancel_link}">Cancel</a>
            	<a class="delete pull-right {delete_class}" href="{ajax_url}">Delete</a>
	        </div>

	        <div class="form-note">
	        	<small>Note: to add more guest, save this list then pick another guest to {title}</small>
	            {last_update_note}
	        </div>
	    </form>
	    <script type="text/javascript">
	    	jQuery(document).ready(function(){
	    		if( jQuery('[name=vid]').is(':visible') )
	    	    {
	    	    	jQuery('[name=vid]').chosen({ max_selected_options:10, search_contains:true, placeholder_text_single:'Select Vehicle' });
	    	    }

	    		if( jQuery('[name=did]').is(':visible') )
	    	    {
	    			jQuery('[name=did]').chosen({ max_selected_options:10, search_contains:true, placeholder_text_single:'Select Driver' });
	    		}
	    	    
	    		jQuery('[name=vid]').on('change', function(){	    			
		    		var url = '{ajax_url}';
	                var prm = new Object();
	                    prm.pkey = 'get-transport-capacity';
	                    prm.type = '{type}';
	                    prm.loc  = '{location}';
	                    prm.time = '{time}';
	                    prm.date = '{date}';
	                    prm.vid  = jQuery(this).val();

	                jQuery('.section-overlay').fadeIn(200, function(){	                	
		                jQuery.ajax({
		                    method: 'POST',
		                    url: url,
		                    data: prm,
		                    dataType : 'json',
		                    success: function(e){
		                    	jQuery('.section-overlay').fadeOut(200);

		                        if( e.result == 'success' )
		                        {
		                        	jQuery('.passenger-capacity').text( e.data );
		                        }
		                    },
                            error: function(e){
                               jQuery('.section-overlay').fadeOut(200);
                            }
		                });
	                });
	    		});

	    		jQuery('.trip-guest-list .delete').on('click', function(){
	    			var sel = jQuery(this).parent().parent();
					var url = '{ajax_url}';
	                var prm = new Object();
	                    prm.pkey  = 'delete-trip-transport-detail';
	                    prm.ttdid = jQuery(this).attr('rel');

	                jQuery('.section-overlay').fadeIn(200, function(){	                	
		                jQuery.ajax({
		                    method: 'POST',
		                    url: url,
		                    data: prm,
		                    dataType : 'json',
		                    success: function(e){
		                    	jQuery('.section-overlay').fadeOut(200);

		                        if( e.result == 'success' )
		                        {
					    			if( jQuery('#guest-table tbody tr').length == 1 )
					    			{
					    				sel.fadeOut(200, function(){ 
				    						window.location = '{cancel_link}';
					    				});
				    				}
				    				else
				    				{				    					
						    			sel.fadeOut(200, function(){ 
						    				location.reload();
						    			});
				    				}
		                        }
		                    },
                            error: function(e){
                               jQuery('.section-overlay').fadeOut(200);
                            }
		                });
	                });
	    		});

                jQuery('.form-action .delete').on('click', function(e){
                    var url = jQuery(this).attr('href');
                    var prm = new Object();
                        prm.pkey = 'delete-trip-transport';
                        prm.ttid = jQuery('[name=ttid]').val();

                    jQuery('<div></div>').dialog({
                        modal: true,
                        draggable: false,
                        resizable: false,
                        title: 'Notification',
                        open: function(){
                            jQuery(this).html('Are you sure want to delete this trip transport?');
                        },
                        buttons: {
                            Yes: function(){
                                var popup = jQuery(this);

                                jQuery.ajax({
                                    method: 'POST',
                                    url: url,
                                    data: prm,
                                    dataType : 'json',
                                    success: function(e){
                                        popup.dialog('close');

                                        if( e.result=='success' )
                                        {                                       
                                            show_popup('Notification', 'This trip transport has been successfully deleted', 'window.location.assign("{cancel_link}")');
                                        }
                                        else if( e.result=='failed' )
                                        {
                                            show_popup('Warning', 'Sorry, This trip transport can\'t be deleted. Please try again later');
                                        }
                                    },
                                    error: function(e){
                                       popup.dialog('close');

                                       show_popup('Warning', 'Sorry, This trip transport can\'t be deleted. Please try again later');
                                    }
                                });
                            },
                            No: function(){
                                jQuery( this ).dialog('close');
                            }
                        }
                    });

                    return false;
                });

		        jQuery('[name=print]').on('click', function(){
		            window.open('', '_blank').location.href = '{report_url}';
		            return false;
		        });

	    		jQuery('[name=did]').on('change', function(){
	    			var type = jQuery(this).find('option:selected').data('type');
	    			if( type == 1 )
	    			{
	    				jQuery('.driver-fee').removeClass('sr-only');
	    			}
	    			else
	    			{
	    				jQuery('.driver-fee').addClass('sr-only');
	    				jQuery('.driver-fee input').val(0);
	    			}
	    		});
	    	})
	    </script>
	</div>
</div>

<!-- END form-block -->