<!-- BEGIN list-block -->

<div class="wrapper-block transport-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="afilter">
            <div class="row">
                <div class="col-md-8">
                    <h1>{title}</h1>
                </div>
                <div class="col-md-4">
                    <div class="search-box clearfix">
                        <input type="text" name="s" class="searchtext" value="{search}" placeholder="Search Guest" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="hidden" name="type" value="{type}" />
                    <input type="hidden" name="state" value="{state}" />
                    <input type="hidden" name="thaurl" value="{action}" />
                    <input type="hidden" name="start_order" value="{start}" />

                    <div class="filter-box">
                        <div class="form-group clearfix">
                            <span class="text">Filter</span>
                            <select name="taid" id="taid" class="select-option select-option-area">
                                {area_option}
                            </select>
                            <select name="rid" id="rid" class="select-option select-option-route">
                                {route_option}
                            </select>
                            <select name="trans_type" id="trans_type" class="select-option">
                                {trans_type_option}
                            </select>
                            <select name="lcid" id="location" class="select-option" style="width:200px;">
                                {location_option}
                            </select>
                            <input name="bddate" type="text" placeholder="Choose date" value="{date}" class="medium_textbox dpicker">
                            <input name="filter" type="submit" value="Apply" class="filters">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-block">
                        {message}
                    </div>
                    <div class="table-block">
                        <table id="transport-table" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="15" data-orderable="false"><input type="checkbox" name="check_all" autocomplete="off" /></th>
                                    <th width="200">Booked By</th>
                                    <th width="250" data-orderable="false">Guest Name</th>
                                    <th>{type}</th>
                                    <th width="250" data-orderable="false">Address</th>
                                    <th width="200" data-orderable="false">Guest</th>
                                    <th>{etime}</th>
                                    <th>Date</th>
                                    <th>Port</th>
                                    <th>Transport</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>

                        <div class="table-action clearfix">
                            <button type="submit" class="btn-add-transport pull-left" name="add_trip_transport">Add to {type} List</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<div id="wrap-popup" class="wrap-popup"></div>

<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery('.select-option').chosen({ max_selected_options:10, search_contains:true });
        jQuery('.select-multiple-option').chosen({ max_selected_options:10, search_contains:true, placeholder_text_multiple:'Payment Status' });

        jQuery('[name=bddate]').datepicker({ dateFormat:'dd MM yy' });

        var table = jQuery('#transport-table').DataTable({
            dom          : '<"row"<"col-xs-5 col-sm-6"l><"col-xs-7 col-sm-6 text-right">r>t<"row"<"col-md-12"i><"col-md-12 text-center"p>>',
            columnDefs   : [{ targets:6, type:'date' }, { targets:7, type:'date' }],
            order        : [[ 9, 'asc'], [ 3, 'asc'], [ 6, 'asc' ], [ 7, 'asc' ]],
            pageLength   : parseInt('{limit}'),
            lengthChange : false,
            info         : false,
            processing   : true,
            serverSide   : true,
            searching    : true,
            deferRender  : true,
            ajax         : {
                url  : '{ajax_url}',
                type : 'POST',
                data : {
                    pkey       : 'load-guest-data',
                    type       : '{tran_type}',
                    rid        : jQuery('[name=rid]').val(),
                    lcid       : jQuery('[name=lcid]').val(),
                    taid       : jQuery('[name=taid]').val(),
                    bddate     : jQuery('[name=bddate]').val(),
                    trans_type : jQuery('[name=trans_type]').val()
                }
            },
            columns: [
                {
                    data: 'id', render: function ( data, type, row ){
                        var html = '<input class="id" type="checkbox" name="bdata[]" autocomplete="off" value="' + row.btid + '|' + row.from + '|' + row.dept_date + '|' + row.dept_time + '|' + row.trans_type + '" />';
                        return html;
                    }
                },
                {
                    data: 'booked_by', render: function ( data, type, row ) {
                        return data;
                    }
                },
                {
                    data: 'guest_name', render: function ( data, type, row ) {
                        return data;
                    }
                },
                {
                    data: 'pickup', render: function ( data, type, row ) {
                        return data;
                    }
                },
                {
                    data: 'hotel_detail', render: function ( data, type, row ) {
                        return data;
                    }
                },
                {
                    data: 'guest_num', render: function ( data, type, row ) {
                        return data;
                    }
                },
                {
                    data: 'dept_time', render: function ( data, type, row ) {
                        return data;
                    }
                },
                {
                    data: 'dept_date', render: function ( data, type, row ) {
                        return data;
                    }
                },
                {
                    data: 'from', render: function ( data, type, row ) {
                        return data;
                    }
                },
                {
                    data: 'trans_type', render: function ( data, type, row ) {
                        return data;
                    }
                }
            ]
        });

        jQuery('[name=s]').on('keyup change', function(){
            table.search( this.value ).draw() ;
        });

        jQuery('.btn-add-transport').on('click',function(){
            if( jQuery('td .id:checked').length <= 0 )
            {
                show_popup('Warning', 'Please select one reservation from the list, by checked the checkbox field');
                return false;
            }
        });
    });
</script>

<!-- END list-block -->

<!-- BEGIN more-block -->

<div class="wrapper-block transport-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="afilter">
            <div class="row">
                <div class="col-md-8">
                    <h1>{title}</h1>
                </div>
                <div class="col-md-4">
                    <div class="search-box clearfix">
                        <input type="text" name="s" class="searchtext" value="{search}" placeholder="Search Guest" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="hidden" name="date" value="{date}" />
                    <input type="hidden" name="time" value="{time}" />
                    <input type="hidden" name="ttid" value="{ttid}" />
                    <input type="hidden" name="add_more_guest" value="1">
                    <input type="hidden" name="trans_type" value="{trans_type}" />

                    <div class="filter-box form-inline clearfix">
                        <div class="trip-detail">
                            <div class="row row-border row-eq-height">
                                <div class="col-md-3">
                                    <span class="small-title">Date</span>
                                    <strong class="strong-text">{date}</strong>
                                </div>
                                <div class="col-md-3">
                                    <span class="small-title">Boat</span>
                                    <strong class="strong-text">{boname}</strong>
                                </div>
                                <div class="col-md-3">
                                    <span class="small-title">Route</span>
                                    <strong class="strong-text">{rname}</strong>
                                </div>
                                <div class="col-md-3 text-right">
                                    <span class="small-title">{loc_type}</span>
                                    <strong class="strong-text">{location} ({time})</strong>
                                </div>
                            </div>
                            <div class="row row-eq-height">
                                <div class="col-md-3 col-box">
                                    <span class="small-title">Choose Vehicle</span>
                                    <strong class="strong-text">{vehicle}</strong>
                                </div>
                                <div class="col-md-3">
                                    <span class="small-title">Passenger</span>
                                    <strong class="strong-text passenger-capacity">{passenger}/{capacity}</strong>
                                </div>
                                <div class="col-md-3 col-box">
                                    <span class="small-title">Status</span>
                                    <strong class="strong-text">{status}</strong>
                                </div>
                            </div>
                            <div class="row row-eq-height">
                                <div class="col-md-3 col-box">
                                    <span class="small-title">Choose Driver</span>
                                    <strong class="strong-text">{driver}</strong>
                                </div>
                                <div class="col-md-3">
                                    <span class="small-title">Transport Type</span>
                                    <strong class="strong-text">{transport_type}</strong>
                                </div>
                                <div class="col-md-3 col-box  driver-fee">
                                    <span class="small-title">Driver Fee</span>
                                    <strong class="strong-text">{fee_format}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="table-block">
                        <table id="transport-table" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="15" data-orderable="false"><input type="checkbox" name="check_all" autocomplete="off" /></th>
                                    <th width="200">Booked By</th>
                                    <th width="250" data-orderable="false">Guest Name</th>
                                    <th>{type}</th>
                                    <th width="250" data-orderable="false">Address</th>
                                    <th width="200" data-orderable="false">Guest</th>
                                    <th>Depart</th>
                                    <th>Date</th>
                                    <th>Port</th>
                                    <th>Transport</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>

                        <div class="table-action form-action clearfix">
                            <button type="submit" class="btn-add-transport pull-left" name="add_more_trip_transport">Add to {type} List</button>
                            <a class="cancel pull-left" href="{cancel_link}">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery('.select-option').chosen({ max_selected_options:10, search_contains:true });
        jQuery('[name=bddate]').datepicker({ dateFormat:'dd MM yy' });

        var table = jQuery('#transport-table').DataTable({
            dom          : '<"row"<"col-xs-5 col-sm-6"l><"col-xs-7 col-sm-6 text-right">r>t<"row"<"col-md-12"i><"col-md-12 text-center"p>>',
            columnDefs   : [{ targets:6, type:'date' }, { targets:7, type:'date' }],
            order        : [[ 9, 'asc'], [ 3, 'asc'], [ 6, 'asc' ], [ 7, 'asc' ]],
            pageLength   : parseInt('{limit}'),
            lengthChange : false,
            info         : false,
            processing   : true,
            serverSide   : true,
            searching    : true,
            deferRender  : true,
            ajax         : {
                url  : '{ajax_url}',
                type : 'POST',
                data : {
                    pkey       : 'load-more-guest-data',
                    type       : '{tran_type}',
                    ttid       : jQuery('[name=ttid]').val(),
                    time       : jQuery('[name=time]').val(),
                    date       : jQuery('[name=date]').val(),
                    trans_type : jQuery('[name=trans_type]').val()
                }
            },
            columns: [
                {
                    data: 'id', render: function ( data, type, row ){
                        var html = '<input class="id" type="checkbox" name="bdata[]" autocomplete="off" value="' + row.btid + '|' + row.from + '|' + row.dept_date + '|' + row.dept_time + '|' + row.trans_type + '" />';
                        return html;
                    }
                },
                {
                    data: 'booked_by', render: function ( data, type, row ) {
                        return data;
                    }
                },
                {
                    data: 'guest_name', render: function ( data, type, row ) {
                        return data;
                    }
                },
                {
                    data: 'pickup', render: function ( data, type, row ) {
                        return data;
                    }
                },
                {
                    data: 'hotel_detail', render: function ( data, type, row ) {
                        return data;
                    }
                },
                {
                    data: 'guest_num', render: function ( data, type, row ) {
                        return data;
                    }
                },
                {
                    data: 'dept_time', render: function ( data, type, row ) {
                        return data;
                    }
                },
                {
                    data: 'dept_date', render: function ( data, type, row ) {
                        return data;
                    }
                },
                {
                    data: 'from', render: function ( data, type, row ) {
                        return data;
                    }
                },
                {
                    data: 'trans_type', render: function ( data, type, row ) {
                        return data;
                    }
                }
            ]
        });

        jQuery('[name=s]').on('keyup change', function(){
            table.search( this.value ).draw() ;
        });

        jQuery('[name=print]').on('click', function(){
            window.open('', '_blank').location.href = '{print_url}';
            return false;
        });

        jQuery('.btn-add-transport').on('click',function(){
            if( jQuery('td .id:checked').length <= 0 )
            {
                show_popup('Warning', 'Please select one reservation from the list, by checked the checkbox field');
                return false;
            }
        });
    });
</script>

<!-- END more-block -->