<!-- BEGIN form-block -->

<div class="wrapper-block transport-block">
	<div class="container-fluid">
        <form action="{action}" method="post" name="alist">
			<div class="top-bar">
				<div class="row">
					<div class="col-md-6 text-left">
						<h1>{title}</h1>
					</div>
					<div class="col-md-6 text-right">
						<a href="{cancel_link}" class="small-title">Cancel</a>
					</div>
				</div>
			</div>
			
            <div class="form-block">
        		{message}
        	</div>

			<div class="trip-detail">
				<div class="row row-border row-eq-height">
					<div class="col-md-6">
						<span class="small-title">Date</span>
						<strong class="strong-text">{date}</strong>
					</div>
					<div class="col-md-6 text-right">
						<span class="small-title">{loc_type}</span>
						<strong class="strong-text">{location} ({time})</strong>
					</div>
				</div>
				<div class="row row-eq-height">
					<div class="col-md-4">
						<span class="small-title">Choose Vehicle</span>
						<select class="select-option" name="vid" autocomplete="off">
							{vehicle_option}
						</select>
					</div>
					<div class="col-md-4">
						<span class="small-title">Passenger</span>
						<strong class="strong-text passenger-capacity">{passenger}/{capacity}</strong>
					</div>
					<div class="col-md-4">
						<span class="small-title">Status</span>
						<select class="select-option" name="status" autocomplete="off">
							{status_option}
						</select>
					</div>
				</div>
				<div class="row row-eq-height">
					<div class="col-md-4">
						<span class="small-title">Choose Driver</span>
						<select class="select-option" name="did" autocomplete="off">
							{driver_option}
						</select>
					</div>
					<div class="col-md-4">
						<span class="small-title">Transport Type</span>
						<strong class="strong-text">{transport_type} Transport</strong>
					</div>
					<div class="col-md-4 {driver_type_style} driver-fee">
						<span class="small-title">Driver Fee</span>
						<input type="number" class="text form-control" name="ttfee" min="0" oninput="this.value = Math.abs(this.value)" value="0" /> 
					</div>
				</div>
			</div>

			<div class="trip-guest-list">
				<h2>Guest</h2>

	            <div class="table-block">
	                <table id="guest-table" class="table" cellspacing="0" width="100%">
	                    <thead>
	                        <tr>
	                            <th>Guest Name</th>
	                            <th>Pickup</th>
	                            <th>Address</th>
	                            <th>Guest</th>
	                            <th>&nbsp;</th>
	                        </tr>
	                    </thead>
	                    <tbody>
							<!-- BEGIN loop-block -->
							<tr>
								<td>{bbname}</td>
								<td>{area}</td>
								<td>{address}</td>
								<td>{guest_num}</td>
								<td>
									<a rel="{btid}" class="delete"></a>
									<input type="text" class="sr-only" name="btid[]" value="{btid}">
									<input type="text" class="sr-only" name="bdata[]" value="{btid}|{location}|{date}|{time}|{transport_type}">
								</td>
							</tr>
							<!-- END loop-block -->
	                    </tbody>
	                </table>
	            </div>
	        </div>

	        <div class="form-action clearfix">
				<input type="text" class="sr-only" name="ttdate" value="{date}">
				<input type="text" class="sr-only" name="tttime" value="{time}">
				<input type="text" class="sr-only" name="param" value="{param}">
				<input type="text" class="sr-only" name="tttype" value="{transport_type}">
				<input type="text" class="sr-only" name="ttlocation" value="{location}">

	        	<!-- <button type="submit" class="btn-print pull-left" name="print">{print_title}</button> -->
	        	<button type="submit" class="btn-save pull-left" name="publish">{publish_title}</button>
	        </div>

	        <div class="form-note">
	        	<small>Note: to add more guest, save this list then pick another guest to {title}</small>
	            {last_update_note}
	        </div>
	    </form>
	    <script type="text/javascript">
	    	jQuery(document).ready(function(){
	    		jQuery('[name=vid]').chosen({ max_selected_options:10, search_contains:true, placeholder_text_single:'Select Vehicle' });
	    		jQuery('[name=did]').chosen({ max_selected_options:10, search_contains:true, placeholder_text_single:'Select Driver' });

	    		jQuery('[name=vid]').on('change', function(){	    			
		    		var url = '{ajax_url}';
	                var prm = new Object();
	                    prm.pkey = 'get-transport-capacity';
	                    prm.type = '{type}';
	                    prm.loc  = '{location}';
	                    prm.time = '{time}';
	                    prm.date = '{date}';
	                    prm.vid  = jQuery(this).val();

	                jQuery('.section-overlay').fadeIn(200, function(){	                	
		                jQuery.ajax({
		                    method: 'POST',
		                    url: url,
		                    data: prm,
		                    dataType : 'json',
		                    success: function(e){
		                    	jQuery('.section-overlay').fadeOut(200);

		                        if( e.result == 'success' ){
		                        	jQuery('.passenger-capacity').text( e.data );
		                        }
		                    },
                            error: function(e){
                               jQuery('.section-overlay').fadeOut(200);
                            }
		                });
	                });
	    		});

	    		jQuery('.delete').on('click', function(){
	    			if( jQuery('#guest-table tbody tr').length == 1 )
	    			{
    					window.location = '{cancel_link}';
    				}
    				else
    				{
		    			jQuery(this).parent().parent().fadeOut(200, function(){
		    				jQuery(this).remove();
		    			})
    				}
	    		});

	    		jQuery('[name=did]').on('change', function(){
	    			var type = jQuery(this).find('option:selected').data('type');
	    			if( type == 1 )
	    			{
	    				jQuery('.driver-fee').removeClass('sr-only');
	    			}
	    			else
	    			{
	    				jQuery('.driver-fee').addClass('sr-only');
	    				jQuery('.driver-fee input').val(0);
	    			}
	    		});
	    	})
	    </script>
	</div>
</div>

<!-- END form-block -->