<!-- BEGIN list-block -->

<div class="wrapper-block transport-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-8">
                    <h1>{title}</h1>
                </div>
                <div class="col-md-4">
                    <div class="search-box clearfix">
                        <input type="text" name="s" class="searchtext" value="{search}" placeholder="Search" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="hidden" name="thaurl" value="{action}" />
                    <input type="hidden" name="start_order" value="{start}" />
                    <input type="hidden" name="state" value="{state}" />
                    <div class="filter-box">
                        <div class="form-group clearfix">
                            <span class="text ">Filter</span>
                            <select name="rid" id="select-route" class="select-option" style="width:calc( 50% - 70px );">
                                {route_option}
                            </select>
                            <select name="lcid" id="location" class="select-option" style="width:calc( 25% - 10px );">
                                {location_option}
                            </select>
                            <select name="trans_type" id="trans_type" class="select-option" style="width:calc( 25% - 10px );">
                                {trans_type_option}
                            </select>
                        </div>
                        <div class="form-group clearfix">
                            <span class="text ">&nbsp;</span>
                            <select name="vid" id="vid" class="select-option" style="width:calc( 25% - 40px );">
                                {vehicle_option}
                            </select>
                            <select name="did" id="did" class="select-option" style="width:calc( 25% - 40px );">
                                {driver_option}
                            </select>
                            <select name="taid" id="taid" class="select-option" style="width:calc( 25% - 10px );">
                                {area_option}
                            </select>
                            <input name="bddate" type="text" placeholder="Choose date" value="{date}"  class="medium_textbox drpicker">
                            <input name="filter" type="submit" value="Apply" class="filters">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-block">
                        <table id="transport-table" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="15" data-orderable="false"><input type="checkbox" name="check_all" autocomplete="off" /></th>
                                    <th width="300">Vehicle Name</th>
                                    <th>Date</th>
                                    <th>Driver</th>
                                    <th data-orderable="false">Passenger</th>
                                    <th data-orderable="false">Pickup Area</th>
                                    <th>Transport</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>

                        <div class="table-action clearfix">
                            <button type="button" class="btn-print pull-left" name="print">Print Out List</button>
                            <button type="button" class="btn-export-pdf pull-left" name="export_pdf">Export PDF</button>
                            <button type="button" class="btn-export-csv pull-left" name="export_csv">Export CSV</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <script type="text/javascript">
        function action_link_func( table )
        {
            jQuery('.delete-list').unbind();
            jQuery('.delete-list').on('click', function(e){
                var url = jQuery(this).attr('href');
                var prm = new Object();
                    prm.pkey = 'delete-trip-transport';
                    prm.ttid = jQuery(this).attr('rel');

                jQuery('<div></div>').dialog({
                    modal: true,
                    draggable: false,
                    resizable: false,
                    title: 'Notification',
                    open: function(){
                        jQuery(this).html('Are you sure want to delete this trip transport?');
                    },
                    buttons: {
                        Yes: function(){
                            var popup = jQuery(this);

                            jQuery.ajax({
                                method: 'POST',
                                url: url,
                                data: prm,
                                dataType : 'json',
                                success: function(e){
                                    popup.dialog('close');

                                    if( e.result=='success' )
                                    {
                                        table.ajax.reload(function(){
                                            action_link_func();
                                            show_popup('Notification', 'This trip transport has been successfully deleted');
                                        }, false);
                                    }
                                    else if( e.result=='failed' )
                                    {
                                        show_popup('Warning', 'Sorry, This trip transport can\'t be deleted. Please try again later');
                                    }
                                },
                                error: function(e){
                                   popup.dialog('close');

                                   show_popup('Warning', 'Sorry, This trip transport can\'t be deleted. Please try again later');
                                }
                            });
                        },
                        No: function(){
                            jQuery( this ).dialog('close');
                        }
                    }
                });

                return false;
            });
        }

        jQuery(document).ready(function(){
            jQuery('.select-option').chosen({ max_selected_options:10, search_contains:true });

            jQuery('.drpicker').daterangepicker({ 
                autoUpdateInput:false,
                locale: {
                    cancelLabel: 'Clear',
                    format: 'DD/MM/YYYY',
                }
            });

            jQuery('.drpicker').on('apply.daterangepicker', function(ev, picker) {
                jQuery(this).val( picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY') );
            });

            jQuery('.drpicker').on('cancel.daterangepicker', function(ev, picker) {
                jQuery(this).val('');
            });

            var table = jQuery('#transport-table').DataTable({
                dom          : '<"row"<"col-xs-5 col-sm-6"l><"col-xs-7 col-sm-6 text-right">r>t<"row"<"col-md-12"i><"col-md-12 text-center"p>>',
                columnDefs   : [{ targets:2, type:'date' }],
                order        : [[ 6, 'desc' ], [ 6, 'desc' ]],
                pageLength   : parseInt('{limit}'),
                lengthChange : false,
                info         : false,
                processing   : true,
                serverSide   : true,
                searching    : true,
                deferRender  : true,
                ajax         : {
                    url  : '{ajax_url}',
                    type : 'POST',
                    data : {
                        pkey       : 'load-transport-list-data',
                        type       : '{tran_type}',
                        rid        : jQuery('[name=rid]').val(),
                        vid        : jQuery('[name=vid]').val(),
                        did        : jQuery('[name=did]').val(),
                        lcid       : jQuery('[name=lcid]').val(),
                        taid       : jQuery('[name=taid]').val(),
                        bddate     : jQuery('[name=bddate]').val(),
                        trans_type : jQuery('[name=trans_type]').val()
                    }
                },
                columns: [
                    {
                        data: 'id', render: function ( data, type, row ){
                            var html = '<input type="checkbox" name="ttid[]" autocomplete="off" value="' + data + '" />';
                            return html;
                        }
                    },
                    {
                        data: 'vname', render: function ( data, type, row ) {
                            var html = data +
                            '<p>'+
                                '<a id="show-' + row.id + '" class="show-detail" rel="' + row.id + '" href="' + row.show_link + '">Show Detail  &raquo;</a>'+
                                '<a id="edit-' + row.id + '" class="edit-list" rel="' + row.id + '" href="' + row.edit_link + '">Edit List  &raquo;</a>'+
                                '<a id="delete-' + row.id + '" class="delete-list" rel="' + row.id + '" href="' + row.ajax_link + '">Delete List &raquo;</a>'+
                            '</p>';
                            return html;
                        }
                    },
                    {
                        data: 'ttdate', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'dname', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'passenger', render: function ( data, type, row ) {
                            return row.passenger + '/' + row.vpassenger;
                        }
                    },
                    {
                        data: 'pickup_drop_area', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'tttype', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'ttstatus', render: function ( data, type, row ) {
                            return data == '0' ? 'Open' : 'Delivered';
                        }
                    }
                ]
            });

            table.on( 'draw.dt', function () {
                action_link_func( table );
            });

            jQuery('[name=s]').on('keyup', function(){
                table.search( this.value ).draw() ;
            });

            jQuery('[name=print]').on('click', function(){
                window.open('', '_blank').location.href = '{print_url}';
                return false;
            });

            jQuery('[name=export_pdf]').on('click', function(){
                window.open('', '_blank').location.href = '{export_pdf_url}';
                return false;
            });

            jQuery('[name=export_csv]').on('click', function(){
                window.open('', '_blank').location.href = '{export_csv_url}';
                return false;
            });
        });
    </script>
</div>

<!-- END list-block -->