<!-- BEGIN detail-block -->

<div class="wrapper-block agent-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-8"> 
                    <h1>{agname}</h1>
                </div>
                <div class="col-md-4">
                    <h2 class="text-right">{agchanel}</h2>
                </div>
            </div>

            {calendar_detail}

            <div class="row">
                <div class="col-md-12">
                	<div class="allotment-detail">
                		{allotment_table}
                	</div>
                    <div class="form-note">
                		<a class="edit" href="{edit_link}">Edit Allotment</a>
                        {last_update_note}
                    </div>
                </div>
            </div>
        </form>

        <div class="edit-allotment-popup">
        	<fieldset>
        		<p>Increase/Decrease Allotment</p>
        		<input type="number" name="new_allot" value="" />
        		<label for="close-allot"><input id="close-allot" type="checkbox" name="close_allot" value="1" /> Close allotment</label>
        		<button>Apply</button>
        		<a class="close-popup">Cancel</a>
        	</fieldset>
        </div>

        <script type="text/javascript">
		    jQuery(document).ready(function(){
		    	jQuery('[name=agent_allotment_trip_boat]').chosen({ max_selected_options:10, search_contains:true });
		    	jQuery('[name=agent_allotment_schedule]').chosen({ max_selected_options:10, search_contains:true });
		        jQuery('[name=agent_allotment_schedule]').on('change', function(){
		            var sid    = jQuery(this).val();
                    var sfrom  = jQuery(this).find(':selected').data('from');
                    var boid   = jQuery(this).find(':selected').data('boid');
		            var bopass = jQuery(this).find(':selected').data('passenger');
		            
		            jQuery('.boat-passenger').text(bopass);

		            jQuery('[name=sid]').val(sid);
		            jQuery('[name=bopassenger]').val(bopass);

                    jQuery('#availability-calendar').datepicker( 'setDate', sfrom );

                    jQuery('[name=agent_allotment_trip_boat]').val(boid).trigger('chosen:updated');

		            update_date_cells();
		        });

                jQuery('[name=agent_allotment_trip_boat]').on('change', function(){
                    var boid = jQuery(this).val();

                    jQuery('[name=agent_allotment_schedule] option').each(function(){
                        if( jQuery(this).data('boid') != boid && boid != '' )
                        {
                            jQuery(this).prop('disabled', true);
                        }
                        else
                        {
                            jQuery(this).prop('disabled', false);
                        }
                    })

                    jQuery('[name=agent_allotment_schedule]').trigger('chosen:updated');
                });

			    jQuery('#availability-calendar').datepicker({
			    	minDate: 0,
					numberOfMonths: 2,
                    dateFormat: 'yy-mm-dd',
					onSelect: function(date, dp){
                        dp.inline = false;

				        select_option_action(dp);
				        show_popup_edit_allotment(date, dp);				        
				    },
				    onChangeMonthYear: function( month, year, dp ) {
				        update_date_cells(dp);
				        select_option_action(dp);
				        hide_popup_edit_allotment();
				    },
					beforeShow: function(el, dp){
				        update_date_cells(dp);
				        select_option_action(dp);
					}
			    });

			    update_date_cells();
			});

			function show_popup_edit_allotment(date, dp)
			{
				var sel = jQuery('.ui-datepicker td[data-month='+dp.currentMonth+'] .ui-state-default[data-date='+dp.currentDay+']');

        		if( parseInt( sel.attr('data-sid') ) != 0 )
        		{        			
			        var edw   = jQuery('.edit-allotment-popup').innerWidth() / 2;
			        var sdw   = jQuery('.sidebar').innerWidth();
					var tdw   = sel.innerWidth() / 2;
			        var td    = sel.offset();
			        var top   = td.top;
			        var left  = td.left - ( sdw + ( edw - tdw ) );
			        var close = parseInt( sel.attr('data-close') ) == 1 ? true : false;

			        jQuery('.edit-allotment-popup').stop().animate({ top:top+'px', left:left+'px' }, 200, function(){
			        	jQuery('[name=new_allot]').val(sel.attr('data-rallot'));
			        	jQuery('[name=close_allot]').prop( 'checked', close );
			        	jQuery(this).slideDown(200);
			        });

			        jQuery('.edit-allotment-popup button').unbind();
			        jQuery('.edit-allotment-popup button').on('click', function(){
			        	if( parseInt( sel.attr('data-allot') ) <  jQuery('[name=new_allot]').val() )
			        	{
			        		show_popup('Warning', 'Sorry, you can\'t add allotment greater then daily allotment');

			        		return false;
			        	}
			        	else
			        	{
                            var rallot = parseInt( sel.attr('data-rallot') );
                            var gbseat = parseInt( sel.attr('data-gbseat') );
                            var nallot = parseInt( jQuery('[name=new_allot]').val() );

                            if( gbseat <= 0 && nallot > rallot )
                            {
                                show_popup('Warning', 'Sorry, you can\'t add allotment greater then previous allotment because global seat for this schedule already full');

                                return false;
                            }
                            else
                            {
                                var sallot = Math.abs( rallot - nallot );
                                var mallot = rallot + gbseat;

                                if( nallot > rallot && sallot > gbseat )
                                {
                                    show_popup('Warning', 'Sorry, you can\'t add allotment greater then remain global seat. Remain global seat right now is <b>' + gbseat + ' seat</b> and maximun allotment you can add is <b>' + mallot + '</b> allotment');

                                    return false;
                                }
                                else
                                {
                                	var url = '{ajax_link}';
						    		var prm = new Object();
						    			prm.pkey   = 'edit-agent-allotment-detail';
						    			prm.close  = jQuery('[name=close_allot]:checked').val();
						    			prm.allot  = jQuery('[name=new_allot]').val();
						    			prm.agid   = jQuery('[name=agid]').val();
						    			prm.sid    = jQuery('[name=sid]').val();
                                        prm.gbseat = parseInt( sel.attr('data-gbseat') );
		                                prm.rallot = parseInt( sel.attr('data-rallot') );
						    			prm.dagid  = parseInt( sel.attr('data-dagid') );
						    			prm.adate  = date;

									jQuery.ajax({
			                            method: 'POST',
			                            url: url,
			                            data: prm,
			                            dataType : 'json',
					                    beforeSend: function( xhr ) {
					                        show_ajax_overlay();
					                    },
									    success: function(e){
									    	if( e.result == 'success' )
									  		{
									  			update_date_cells(dp);
									    	}
	                                        else if( e.result == 'error' )
	                                        {
	                                            show_popup('Warning', e.message);
	                                        }
									    	else
									    	{
									    		show_popup('Warning', 'Sorry, you can\'t change allotment value. Please try again later');
									    	}
									    },
			                            error: function(e){
			                               	show_popup('Warning', 'Sorry, you can\'t change allotment value. Please try again later');
			                            }
									}).always(function(){
					                    hide_ajax_overlay();
			                            hide_popup_edit_allotment();
					                });
					            }
				            }
			        	}
			        });

			        jQuery('.edit-allotment-popup .close-popup').unbind();
			        jQuery('.edit-allotment-popup .close-popup').on('click', function(){
			        	jQuery('.edit-allotment-popup').slideUp(200);
			        });
			    }
			    else
			    {
			    	hide_popup_edit_allotment();
			    	show_popup('Warning', 'Sorry, you can\'t change allotment value for this schedule. Please select correct schedule data');
			    }
			}

			function hide_popup_edit_allotment()
			{
				jQuery('.edit-allotment-popup').slideUp(200);
			}

			function select_option_action(dp)
			{
				jQuery('[name=agent_allotment_schedule]').unbind('change');
				jQuery('[name=agent_allotment_schedule]').on('change', function(){
		            var sid    = jQuery(this).val();
                    var sfrom  = jQuery(this).find(':selected').data('from');
                    var boid   = jQuery(this).find(':selected').data('boid');
		            var bopass = jQuery(this).find(':selected').data('passenger');
		            
		            jQuery('.boat-passenger').text(bopass);

		            jQuery('[name=sid]').val(sid);
		            jQuery('[name=bopassenger]').val(bopass);

                    jQuery('#availability-calendar').datepicker( 'setDate', sfrom );

                    jQuery('[name=agent_allotment_trip_boat]').val(boid).trigger('chosen:updated');

		            update_date_cells(dp);
		        });
        
                jQuery('[name=agent_allotment_trip_boat]').unbind('change');
                jQuery('[name=agent_allotment_trip_boat]').on('change', function(){
                    var boid = jQuery(this).val();
                    var slct = '';

                    jQuery('[name=agent_allotment_schedule] option').each(function(){
                        if( jQuery(this).data('boid') != boid && boid != '' )
                        {
                            jQuery(this).prop('disabled', true);
                        }
                        else
                        {
                            jQuery(this).prop('disabled', false);

                            if( slct == '' )
                            {
                                slct = jQuery(this).val();
                            }
                        }
                    })

                    jQuery('[name=agent_allotment_schedule]').val(slct).trigger('chosen:updated');
                    jQuery('[name=agent_allotment_schedule]').trigger('change');
                });
			}

			function update_date_cells(dp)
			{
				setTimeout(function (){
					if( typeof dp != 'undefined' )
					{
						hide_popup_edit_allotment();

						var fheight = jQuery('.ui-datepicker-group-first').innerHeight() + 4;
						var lheight = jQuery('.ui-datepicker-group-last').innerHeight() + 4;
						var wheight = lheight > fheight ? lheight : fheight;
						
						jQuery('.ui-datepicker.ui-datepicker-multi').css('height', Math.round(wheight)+'px');
						jQuery('.ui-datepicker.ui-datepicker-multi .ui-datepicker-group').css('height', Math.round(wheight)+'px');

			    		var url = '{ajax_link}';
			    		var prm = new Object();
			    			prm.pkey  = 'get-agent-allotment';
			    			prm.sid   = jQuery('[name=sid]').val();
			    			prm.agid  = jQuery('[name=agid]').val();
			    			prm.month = dp.drawMonth + 1;
			    			prm.year  = dp.drawYear;

						jQuery.ajax({
		                    method: 'POST',
		                    url: url,
		                    data: prm,
		                    dataType : 'json',
		                    beforeSend: function( e ) {
                        		jQuery('#availability-calendar').addClass('availability-calendar-loading');
		                    },
						    success: function(e){
                        		jQuery('#availability-calendar').removeClass('availability-calendar-loading');

						    	if( e.result=='success' )
						  		{
						    		jQuery('.ui-datepicker td > *').each(function(idx, elem) {
							        	var day   = jQuery(elem).html();
							        	var month = jQuery(elem).parent().data('month') + 1;
							        	var year  = jQuery(elem).parent().data('year');
							        	var key   = day + '-' + month + '-' + year;

							        	if( typeof e.data[key] != 'undefined' )
							        	{
							        		var arr   = e.data[key].split('|');
							        		var allot = arr[1].split('/');

							        		jQuery(this).attr('data-date', day);
							        		jQuery(this).attr('data-sid', arr[2]);
							        		jQuery(this).attr('data-close', arr[3]);
							        		jQuery(this).attr('data-dagid', arr[0]);
							        		jQuery(this).attr('data-allot', allot[1]);
							        		jQuery(this).attr('data-content', arr[1]);
							        		jQuery(this).attr('data-rallot', allot[0]);
                                            jQuery(this).attr('data-gbseat', arr[4]);

							        		if( arr[3] == 1 )
							        		{
							        			jQuery(this).parent().addClass('close-allot');
							        		}
							        		else
							        		{
							        			jQuery(this).parent().removeClass('close-allot');
							        		}
							        	}
							        });
						    	}
						    },
		                    error: function(e){
		                        jQuery('#availability-calendar').removeClass('availability-calendar-loading');
		                    }
						});
					}
			    }, 0);
			}

			(function ($) {
			    $.extend($.datepicker, {
			        _inlineDatepicker2: $.datepicker._inlineDatepicker,
			        _inlineDatepicker: function (target, inst) {
			            this._inlineDatepicker2(target, inst);

			            var beforeShow = $.datepicker._get(inst, 'beforeShow');

			            if (beforeShow)
			            {
			                beforeShow.apply(target, [target, inst]);
			            }
			        }
			    });
			}(jQuery));
        </script>
    </div>
</div>

<!-- END detail-block -->

<!-- BEGIN detail-all-block -->

<div class="wrapper-block agent-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-12"> 
                    <h1>{agname}</h1>
                </div>
            </div>

            {calendar_detail}
        </form>

        <script type="text/javascript">
		    jQuery(document).ready(function(){
		    	jQuery('[name=agent_allotment_trip_boat]').chosen({ max_selected_options:10, search_contains:true });
		    	jQuery('[name=agent_allotment_schedule]').chosen({ max_selected_options:10, search_contains:true });
		        jQuery('[name=agent_allotment_schedule]').on('change', function(){
		            var sid    = jQuery(this).val();
                    var sfrom  = jQuery(this).find(':selected').data('from');
                    var boid   = jQuery(this).find(':selected').data('boid');
		            var bopass = jQuery(this).find(':selected').data('passenger');

		            jQuery('.boat-passenger').text(bopass);

		            jQuery('[name=sid]').val(sid);
		            jQuery('[name=bopassenger]').val(bopass);

                    jQuery('#availability-calendar').datepicker( 'setDate', sfrom );

                    jQuery('[name=agent_allotment_trip_boat]').val(boid).trigger('chosen:updated');

		            update_date_cells();
		        });

                jQuery('[name=agent_allotment_trip_boat]').on('change', function(){
                    var boid = jQuery(this).val();

                    jQuery('[name=agent_allotment_schedule] option').each(function(){
                        if( jQuery(this).data('boid') != boid && boid != '' )
                        {
                            jQuery(this).prop('disabled', true);
                        }
                        else
                        {
                            jQuery(this).prop('disabled', false);
                        }
                    })

                    jQuery('[name=agent_allotment_schedule]').trigger('chosen:updated');
                });

			    jQuery('#availability-calendar').datepicker({
			    	minDate: 0,
					numberOfMonths: 2,
                    dateFormat: 'yy-mm-dd',
					onSelect: function(date, dp){
                        dp.inline = false;
                        
				        select_option_action(dp);			        
				    },
				    onChangeMonthYear: function( month, year, dp ) {
				        update_date_cells(dp);
				        select_option_action(dp);
				    },
					beforeShow: function(el, dp){
				        update_date_cells(dp);
				        select_option_action(dp);
					}
			    });

			    update_date_cells();
			});

			function select_option_action(dp)
			{
				jQuery('[name=agent_allotment_schedule]').unbind('change');
				jQuery('[name=agent_allotment_schedule]').on('change', function(){
		            var sid    = jQuery(this).val();
                    var sfrom  = jQuery(this).find(':selected').data('from');
                    var boid   = jQuery(this).find(':selected').data('boid');
		            var bopass = jQuery(this).find(':selected').data('passenger');
		            
		            jQuery('.boat-passenger').text(bopass);

		            jQuery('[name=sid]').val(sid);
		            jQuery('[name=bopassenger]').val(bopass);

                    jQuery('#availability-calendar').datepicker( 'setDate', sfrom );

                    jQuery('[name=agent_allotment_trip_boat]').val(boid).trigger('chosen:updated');

                    update_date_cells(dp);
		        });
        
                jQuery('[name=agent_allotment_trip_boat]').unbind('change');
                jQuery('[name=agent_allotment_trip_boat]').on('change', function(){
                    var boid = jQuery(this).val();
                    var slct = '';

                    jQuery('[name=agent_allotment_schedule] option').each(function(){
                        if( jQuery(this).data('boid') != boid && boid != '' )
                        {
                            jQuery(this).prop('disabled', true);
                        }
                        else
                        {
                            jQuery(this).prop('disabled', false);

                            if( slct == '' )
                            {
                                slct = jQuery(this).val();
                            }
                        }
                    })

                    jQuery('[name=agent_allotment_schedule]').val(slct).trigger('chosen:updated');
                    jQuery('[name=agent_allotment_schedule]').trigger('change');
                });
			}

			function update_date_cells(dp)
			{
				setTimeout(function (){
					if( typeof dp != 'undefined' )
					{
						var fheight = jQuery('.ui-datepicker-group-first').innerHeight() + 4;
						var lheight = jQuery('.ui-datepicker-group-last').innerHeight() + 4;
						var wheight = lheight > fheight ? lheight : fheight;
						
						jQuery('.ui-datepicker.ui-datepicker-multi').css('height', Math.round(wheight)+'px');
						jQuery('.ui-datepicker.ui-datepicker-multi .ui-datepicker-group').css('height', Math.round(wheight)+'px');

			    		var url = '{ajax_link}';
			    		var prm = new Object();
			    			prm.pkey  = 'get-all-agent-allotment';
			    			prm.sid   = jQuery('[name=sid]').val();
			    			prm.month = dp.drawMonth + 1;
			    			prm.year  = dp.drawYear;

						jQuery.ajax({
		                    method: 'POST',
		                    url: url,
		                    data: prm,
		                    dataType : 'json',
                            beforeSend: function( e ) {
                                jQuery('#availability-calendar').addClass('availability-calendar-loading');
                            },
						    success: function(e){
                                jQuery('#availability-calendar').removeClass('availability-calendar-loading');

						    	if( e.result == 'success' )
						  		{
						    		jQuery('.ui-datepicker td > *').each(function(idx, elem) {
							        	var day   = jQuery(elem).html();
							        	var month = jQuery(elem).parent().data('month') + 1;
							        	var year  = jQuery(elem).parent().data('year');
							        	var key   = day + '-' + month + '-' + year;

							        	if( typeof e.data[key] != 'undefined' )
							        	{
							        		var arr   = e.data[key].split('|');
							        		var allot = arr[0].split('/');

							        		jQuery(this).attr('data-date', day);
							        		jQuery(this).attr('data-sid', arr[1]);
							        		jQuery(this).attr('data-allot', allot[1]);
							        		jQuery(this).attr('data-content', arr[0]);
							        		jQuery(this).attr('data-rallot', allot[0]);
							        	}
							        });
						    	}
						    },
                            error: function(e){
                                jQuery('#availability-calendar').removeClass('availability-calendar-loading');
                            }
						});
					}
			    }, 0);
			}

			(function ($) {
			    $.extend($.datepicker, {
			        _inlineDatepicker2: $.datepicker._inlineDatepicker,
			        _inlineDatepicker: function (target, inst) {
			            this._inlineDatepicker2(target, inst);

			            var beforeShow = $.datepicker._get(inst, 'beforeShow');

			            if (beforeShow)
			            {
			                beforeShow.apply(target, [target, inst]);
			            }
			        }
			    });
			}(jQuery));
		</script>
    </div>
</div>

<!-- END detail-all-block -->