<!-- BEGIN list-block -->

<div class="wrapper-block agent-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-8"> 
                    <h1>Allotment by Agent</h1>
                </div>
                <div class="col-md-4">
                    <div class="search-box clearfix">
                        <input type="text" name="agallotment" class="searchtext" value="{search}" placeholder="Search" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-block table-with-border">
                        <table id="agent-table" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="85%">Agent Name</th>
                                    <th class="text-center">Avr Daily Allotment</th>
                                </tr>
                            </thead>
                            <tbody>
                                {list}
                            </tbody>
                        </table>

                        {paging}
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function(){
            set_allotemnet_by_agent_table();
        });

        function set_allotemnet_by_agent_table()
        {
            var table = jQuery('#agent-table').DataTable({
                dom          : '<"row"<"col-xs-5 col-sm-6"l><"col-xs-7 col-sm-6 text-right">r>t<"row"<"col-md-12"i><"col-md-12 text-center"p>>',
                columnDefs   : [{ className: 'text-center', targets: [ 1 ] }],
                pageLength   : parseInt('{limit}'),
                lengthChange : false,
                info         : false,
                processing   : true,
                serverSide   : true,
                searching    : true,
                deferRender  : true,
                order        : [],
                ajax         : {
                    url  : '{ajax_link}',
                    type : 'POST',
                    data : {
                        pkey : 'load-data-allotment-by-agent'
                    }
                },
                columns: [
                    {
                        data: 'agid', render: function ( data, type, row ){
                            var html = row.agname +
                            '<p>'+
                                '<a id="edit-' + data + '" rel="' + data + '" href="' + row.view_link + '">View Allotment</a>'+
                                '<a id="edit-' + data + '" rel="' + data + '" href="' + row.edit_link + '">Edit Allotment</a>'+
                            '</p>';

                            return html;
                        }
                    },
                    {
                        data: 'alloted', render: function ( data, type, row ){
                            return data;
                        }
                    }
                ]
            });

            jQuery('[name=agallotment]').on('keyup change', function(){
                table.search( this.value ).draw() ;
            });
        }
    </script>
</div>

<!-- END list-block -->