<!-- BEGIN form-block -->

<div class="wrapper-block schedule-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-12"> 
                    <h1>New/Edit Allotment By Schedule</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-block no-field-border">
                    	{message}
                    	<fieldset class="sr-only">
                    		<input type="text" name="sid" value="{sid}" />
                            <input type="text" name="aid" value="{aid}" />
                            <input type="text" name="aexist" value="{allot_exist}">
                            <input type="text" name="bopassenger" value="{passenger}" />                   
                    	</fieldset>
                    	<fieldset class="form-inline">
                            <div class="row">
                                <div class="col-md-3">
                            		<div class="form-group">
                                        <label>Schedule</label>
                                        <p>{schedule}</p>
        						  	</div>
                                </div>
                                <div class="col-md-3">
                            		<div class="form-group">
                                        <label>Route</label>
                                        <p>{route}</p>
        						  	</div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Boat</label>
                                        <p>{boat}</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Passenger</label>
                                        <p>{passenger}</p>
                                    </div>
                                </div>
                            </div>
                    	</fieldset>

                        <fieldset class="agent-allotment">
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Agent</label>
                                </div>
                                <div class="col-md-1">
                                    <label>Allotment</label>
                                </div>
                            </div>
                            <div class="agent-allotment-list">
                                {allotment_item}                                
                            </div>
                            <div class="agent-allotment-action">
                                <a class="add-new-agent-allotment" href="{ajax_link}">Add Agent</a>
                            </div>
                            <div class="agent-allotment-total">
                                <div class="row">
                                    <div class="col col-md-3">
                                        <label>Total Alloted</label>
                                    </div>
                                    <div class="col col-md-1">
                                        <label class="total text-right">{total}</label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="form-action clearfix">
                    	<button type="submit" class="btn-save pull-left" name="publish">Save Allotment</button>
                    	<a class="cancel pull-left" href="{cancel_link}">Cancel</a>
                    </div>
                    <div class="form-note">
                        {last_update_note}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    function delete_agent_allotment(){
        jQuery('.delete-agent').unbind();
        jQuery('.delete-agent').on('click', function(e){
            var sel = jQuery(this).parent().parent();
            var id  = jQuery(this).attr('rel');

            if( id == '' )
            {
                if( jQuery('.agent-allotment-list .row').length == 1 )
                {
                    jQuery('.agent-allotment-list select').val('').trigger('chosen:updated');
                    jQuery('.agent-allotment-list .text').val('');
                    jQuery('.agent-allotment-list .delete-agent').attr('rel','');
                }
                else
                {
                    sel.fadeOut(200, function(){
                        jQuery(this).remove();
                    });
                }
            }
            else
            {
                var url = jQuery(this).attr('href');
                var prm = new Object();
                    prm.pkey  = 'delete-allotment-detail';
                    prm.sid   = jQuery('[name=sid]').val();
                    prm.dagid = id;

                jQuery.ajax({
                    method: 'POST',
                    url: url,
                    data: prm,
                    dataType : 'json',
                    beforeSend: function( xhr ) {
                        show_ajax_overlay();
                    },
                    success: function(e){
                        if( e.result == 'success' )
                        {
                            jQuery('.agent-allotment-total .total').text( e.alloted );

                            if( jQuery('.agent-allotment-list .row').length == 1 )
                            {
                                sel.fadeOut(200, function(){
                                    jQuery(this).remove();

                                    jQuery('.add-new-agent-allotment').trigger('click');
                                });
                            }
                            else
                            {
                                sel.fadeOut(200, function(){
                                    jQuery(this).remove();
                                });
                            }
                        }
                        else
                        {
                            show_popup('Warning', 'Sorry, can\'t add delete agent allotment from list');
                        }
                    },
                    error: function(e){
                       show_popup('Warning', 'Sorry, can\'t add delete agent allotment from list');
                    }
                }).always(function(){
                    hide_ajax_overlay();
                });
            }

            return false;
        });
    }

    jQuery(document).ready(function(){
        delete_agent_allotment();

        jQuery('.select-option').chosen({ max_selected_options:10, search_contains:true });

        jQuery('.add-new-agent-allotment').on('click', function(e){
            var url = jQuery(this).attr('href');
            var prm = new Object();
                prm.pkey = 'add-new-agent-allotment';
                prm.type = 0;

            jQuery.ajax({
                method: 'POST',
                url: url,
                data: prm,
                beforeSend: function( xhr ) {
                    show_ajax_overlay();
                },
                success: function(e){
                    jQuery('.agent-allotment-list').append(e);
                    jQuery('.agent-allotment-list .select-option').chosen({ max_selected_options:10, search_contains:true });

                    delete_agent_allotment();
                },
                error: function(e){
                   show_popup('Warning', 'Sorry, can\'t add new agent to list');
                }
            }).always(function(){
                hide_ajax_overlay();
            });

            return false;
        });
    });
</script>

<!-- END form-block -->