<!-- BEGIN list-block -->

<div class="wrapper-block schedule-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-8"> 
                    <h1>Allotment by Schedule</h1>
                </div>
                <div class="col-md-4">
                    <div class="search-box clearfix">
                        <input type="text" name="sallotment" class="searchtext" value="{search}" placeholder="Search" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-block">
                        <table id="schedule-table" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Period</th>
                                    <th>Route Name</th>
                                    <th>Boat</th>
                                    <th>Alloted</th>
                                </tr>
                            </thead>
                            <tbody>
                                {list}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function(){
            set_allotemnet_by_schedule_table();
        });

        function set_allotemnet_by_schedule_table()
        {
            var table = jQuery('#schedule-table').DataTable({
                dom          : '<"row"<"col-xs-5 col-sm-6"l><"col-xs-7 col-sm-6 text-right">r>t<"row"<"col-md-12"i><"col-md-12 text-center"p>>',
                columnDefs   : [{ targets:0, type:'date' }],
                order        : [[ 0, 'desc' ]],
                pageLength   : parseInt('{limit}'),
                lengthChange : false,
                info         : false,
                processing   : true,
                serverSide   : true,
                searching    : true,
                deferRender  : true,
                order        : [],
                ajax         : {
                    url  : '{ajax_link}',
                    type : 'POST',
                    data : {
                        pkey : 'load-data-allotment-by-schedule'
                    }
                },
                columns: [
                    {
                        data: 'sid', render: function ( data, type, row ){
                            var html = row.sfrom + ' - ' + row.sto +
                            '<p>'+
                                '<a id="edit-' + data + '" rel="' + data + '" href="' + row.edit_link + '">Edit Allotment</a>'+
                            '</p>';

                            return html;
                        }
                    },
                    { 
                        data: 'rname', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    { 
                        data: 'boname', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'alloted', render: function ( data, type, row ){
                            return data;
                        }
                    }
                ]
            });

            jQuery('[name=sallotment]').on('keyup change', function(){
                table.search( this.value ).draw() ;
            });
        }
    </script>
</div>

<!-- END list-block -->