<!-- BEGIN form-block -->

<div class="wrapper-block reschedule-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-12">
                    <h1>Confirm Reschedule</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-block">
                    	{message}
                      {message_sample}
                    	<fieldset class="form-inline" style="border-bottom:none;">
                    		<label>Reschedule From</label>
                        <div class="form-group">
                      			<p class="subtitle">Select Schedule</p>
                            <select id="select_route" class="select-option select-option-source" disabled="true">
                                {schedule_option}
                            </select>
        						  	</div>
                        <div class="form-group">
                      			<p class="subtitle">Boat</p>
                            <select name="old_boid" id="select_route" class="select-option select-option-source" disabled="true">
                                {boat_option}
                            </select>
        						  	</div>
                    	</fieldset>
                      <fieldset class="form-inline" style="border-bottom:none;">
                        <div class="form-group">
                            <p class="subtitle">Ticket</p>
                            <input type="text" name="" value="{data_bticket}" disabled="true">
                        </div>
                        <div class="form-group">
                            <p class="subtitle">From</p>
                            <input type="text" name="" value="{data_bdfrom}" disabled="true">
                        </div>
                        <div class="form-group">
                            <p class="subtitle">To</p>
                            <input type="text" name="" value="{data_bdto}" disabled="true">
                        </div>
                        <div class="form-group">
                            <p class="subtitle">Deppart Time</p>
                            <input type="text" name="" value="{old_depart_time}" disabled="true">
                        </div>
                        <div class="form-group">
                            <p class="subtitle">Arrive Time</p>
                            <input type="text" name="" value="{old_arrive_time}" disabled="true">
                        </div>
                      </fieldset>
                    </div>
                    <div class="form-block">
                      <fieldset class="form-inline" style="border-bottom:none;">
                        <label>Reschedule To</label>
                        <div class="form-group">
                            <p class="subtitle">Select Schedule</p>
                            <select name="view_new_sid" id="select_schedule_new" class="select-option select-option-source" disabled="true">
                                {schedule_option_new}
                            </select>
                        </div>
                        <div class="form-group">
                      			<p class="subtitle">Boat</p>
                            <select name="view_new_boid" id="select_boat_new" class="select-option select-option-source" disabled="true">
                                {boat_option_new}
                            </select>
        						  	</div>
                      </fieldset>
                      <fieldset class="form-inline">
                        <div class="form-group">
                            <p class="subtitle">Ticket</p>
                            <input type="text" name="" value="{data_bticket}" disabled="true">
                        </div>
                        <div class="form-group">
                            <p class="subtitle">From</p>
                            <input type="text" name="" value="{data_bdfrom}" disabled="true">
                        </div>
                        <div class="form-group">
                            <p class="subtitle">To</p>
                            <input type="text" name="" value="{data_bdto}" disabled="true">
                        </div>
                        <div class="form-group">
                            <p class="subtitle">Deppart Time</p>
                            <input type="text" name="" value="{new_depart_time}" disabled="true">
                        </div>
                        <div class="form-group">
                            <p class="subtitle">Arrive Time</p>
                            <input type="text" name="" value="{new_arrive_time}" disabled="true">
                        </div>
                      </fieldset>
                    </div>

                    <div class="form-action clearfix">
                    	<button type="submit" class="btn-save pull-left" name="publish">Reschedule</button>
                    	<a class="cancel pull-left" href="{cancel_link}">Cancel</a>
                    </div>
                    <div class="form-note">
                        {last_update_note}
                    </div>
                </div>
            </div>
            <div class="row">
              <select name="old_sid" id="select_schedule" class="select-option select-option-source" style="visibility:hidden;">
                  {schedule_option}
              </select>
              <select name="new_sid" id="select_schedule_new" class="select-option select-option-source" style="visibility:hidden;">
                  {schedule_option_new}
              </select>
            </div>
            <input type="hidden" value="{bddate}" name="bddate"/>
        </form>
        <div class="row">
            <div class="col-md-12">
                <div class="table-block">
                    <fieldset class="form-inline">
                      <label>Total Ticket Efected {num_rows}</label>
                    </<fieldset>
                    <table id="rate-period-table" class="table table-striped" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <!-- <th width="15" data-orderable="false"><input type="checkbox" name="check_all" autocomplete="off" /></th> -->
                                <th width="300">Ticket</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Depart Time</th>
                                <th>Arrive Time</th>
                                <th>Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            {ticket_list}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function(){


$( "#myselect" ).val();
      $("select#select_schedule_new"). change(function(){
      var selected = $(this).children("option:selected").val();
      var boid_selected = $(this).children("option:selected").attr("boid");

      $("select#select_boat_new").val(boid_selected);

      });
        jQuery('[name=rsfrom]').datepicker({
            dateFormat:'dd MM yy'
        });

        jQuery('[name=rsto]').datepicker({
            dateFormat:'dd MM yy'
        });

        jQuery('.form-action .delete').on('click', function(e){
            var url = jQuery(this).attr('href');
            var prm = new Object();
                prm.pkey = 'delete-rate-period';

            jQuery('<div></div>').dialog({
                modal: true,
                draggable: false,
                resizable: false,
                title: 'Notification',
                open: function(){
                    jQuery(this).html('Are you sure want to delete this rate period?');
                },
                buttons: {
                    Yes: function(){
                        var popup = jQuery(this);

                        jQuery.ajax({
                            method: 'POST',
                            url: url,
                            data: prm,
                            dataType : 'json',
                            success: function(e){
                                popup.dialog('close');

                                if( e.result=='success' )
                                {
                                    show_popup('Notification', 'This rate period has been successfully deleted', 'window.location.assign("{cancel_link}")');
                                }
                                else if( e.result=='failed' )
                                {
                                    show_popup('Warning', 'Sorry, This rate period can\'t be deleted. Please try again later');
                                }
                            },
                            error: function(e){
                               popup.dialog('close');

                               show_popup('Warning', 'Sorry, This rate period can\'t be deleted. Please try again later');
                            }
                        });
                    },
                    No: function(){
                        jQuery( this ).dialog('close');
                    }
                }
            });

            return false;
        });
    });
</script>

<!-- END form-block -->
