<!-- BEGIN list-block -->

<div class="wrapper-block reschedule-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-8">
                    <h1>Select Schedule</h1>
                </div>
                <div class="col-md-4">
                    <div class="search-box clearfix">
                        <input type="text" name="bticket" class="searchtext" placeholder="Search" autocomplete="off" value="{search}" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="filter-box">
                        <div class="clearfix">
                            <span class="text">Filter</span>
                            <select name="rid" id="select_route" class="select-option select-option-source">
                                {route_option}
                            </select>
                            <select name="boid" id="boid" class="select-option">
                                {boat_option}
                            </select>
                            <input name="sfrom" type="text" placeholder="From date" value="{date_start}"  class="medium_textbox dpicker">
                            <input name="sto" type="text" placeholder="To date" value="{date_end}"  class="medium_textbox dpicker">
                            <input name="get_id" type="hidden" value="{get_id}"  >
                          <input name="filter" type="submit" value="Filter" class="filters">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-block">
                        {message}
                        <table id="rate-period-table" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="15" data-orderable="false"><input type="checkbox" name="check_all" autocomplete="off" /></th>
                                    <th width="300">Period</th>
                                    <th>Route Name</th>
                                    <th>Boat Name</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {list}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery('#rate-period-table').DataTable({
                'dom':"<'row'<'col-xs-5 col-sm-6'l><'col-xs-7 col-sm-6 text-right'f>r>t<'row'<'col-md-12'i><'col-md-12 text-center'p>>",
                'pageLength': parseInt('{limit}'),
                'lengthChange': false,
                'searching': false,
                'info': false,
                'order': []
            });

            jQuery('[name=sfrom]').datepicker({
                dateFormat:'dd MM yy',
                // onSelect: function(date){
                //     var date2 = jQuery('[name=sto]').datepicker('getDate');
                //
                //     if( date2 == null )
                //     {
                //         jQuery('[name=sto]').datepicker('setDate', date);
                //     }
                //
                //     jQuery('[name=sto]').datepicker('option', 'minDate', date);
                // }
            });

            jQuery('[name=sto]').datepicker({
                dateFormat:'dd MM yy',
                // onClose: function(date){
                //     var date2 = jQuery('[name=sfrom]').datepicker('getDate');
                //
                //     if( date2 == null )
                //     {
                //         jQuery('[name=sfrom]').datepicker('setDate', date);
                //     }
                //
                //     jQuery('[name=sfrom]').datepicker('option', 'maxDate', date);
                // }
            });


            // jQuery('[name=filter]').unbind();
            jQuery('[name=filter]').on('click', function(){
              var date1 = $("[name=sfrom]").datepicker("getDate");
              var date2 = $("[name=sto]").datepicker("getDate");
              var sfrom = $.datepicker.formatDate("dd-mm-yy", date1);
              var sto = $.datepicker.formatDate("dd-mm-yy", date2);
              var get_id = {get_id};
                var data = {
                    "get_id"     : get_id,
                    "rid"        : jQuery('[name=rid]').val(),
                    "sfrom"      : sfrom,
                    "sto"        : sto,
                    "bticket"    : jQuery('[name=bticket]').val(),
                    "boid"    : jQuery('[name=boid]').val()
                };

                var filter = jQuery.base64.encode( JSON.stringify( data ) );

                window.open('', '_blank').location.href = '//{site_url}/?state=reservation&sub=reschedule?id='get_id+'&prm='+filter;
                // return false;
            });

        });
    </script>
</div>

<!-- END list-block -->
