<!-- BEGIN list-block -->

<div class="wrapper-block reservation-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-8">
                    <h1>Reschedule Ticket</h1>
                </div>
                <div class="col-md-4">
                    <div class="search-box clearfix">
                        <input type="text" name="sbooking" class="searchtext" placeholder="Search" autocomplete="off" value="{search}" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="filter-box">
                        <div class="form-group clearfix">
                            <span class="text">Filter</span>
                            <select name="chid" id="select_chanel" class="select-option select-option-source">
                                {bsource_option}
                            </select>
                            <select name="lcid" id="select_dep" class="select-option">
                                {location_option}
                            </select>
                            <select name="lcid2" id="select_arv" class="select-option">
                                {location2_option}
                            </select>
                            <select name="rid" id="select_route" class="select-option select-option-route">
                                {route_option}
                            </select>
                            <input name="bdate" type="text" placeholder="Booking date" value="{bdate}"  class="medium_textbox dpicker">
                            <input name="bbemail" type="text" placeholder="Booked Email" value="{bbemail}"  class="medium_textbox booked_email">
                        </div>
                        <div class="form-group clearfix">
                            <span class="text">&nbsp;</span>
                            <input name="date_start" type="text" placeholder="Start date" value="{date_start}"  class="medium_textbox dpicker">
                            <input name="date_end" type="text" placeholder="End date" value="{date_end}"  class="medium_textbox dpicker">
                            <select name="bstatus[]" id="select_status" class="bstatus select-multiple-option" multiple="" style="width:400px;">
                                {status_option}
                            </select>
                            <select name="rstatus[]" id="select-status" class="select-status-rev select-multiple-option" multiple="true" style="width:355px;">
                                {rev_status}
                            </select>
                            <input name="filter" type="submit" value="Filter" class="filters">
                            <input name="reschedule" type="button" value="Reschedule" class="filters" href="#" id="reschedule">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-block">
                        <table id="reservation-table" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="110">Booking#</th>
                                    <th width="110">Code Agent</th>
                                    <th width="250" data-orderable="false">Guest Name</th>
                                    <th width="150" data-orderable="false">Booking Source</th>
                                    <th width="110" data-orderable="false">Booked By</th>
                                    <th width="110">Travel Date</th>
                                    <th width="150" data-orderable="false">Route</th>
                                    <th width="80" data-orderable="false">ETD</th>
                                    <th width="80" data-orderable="false">ETA</th>
                                    <th width="150" data-orderable="false">Transport</th>
                                    <th width="100">Rsv. Status</th>
                                    <th width="100" data-orderable="false" class="text-right">Total</th>
                                    <th width="120" data-orderable="false">Payment Status</th>
                                    <th width="120" data-orderable="false">Remarks</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <td colspan="3" align="right"><b>Total </b></td>
                                <td colspan="11"></td>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function(){

            jQuery('.select-option').chosen({ max_selected_options:10, search_contains:true });
            jQuery('.select-multiple-option').chosen({ max_selected_options:10, search_contains:true, placeholder_text_multiple:'Payment Status' });
            jQuery('.select-status-rev').chosen({ max_selected_options:10, search_contains:true, placeholder_text_multiple:'All Reservation Status' });

            jQuery('[name=bdate]').datepicker({
                dateFormat:'dd MM yy'
            });

            jQuery('[name=date_start]').datepicker({
                dateFormat:'dd MM yy',
                onSelect: function(date){
                    var date2 = jQuery('[name=date_end]').datepicker('getDate');

                    if( date2 == null )
                    {
                        jQuery('[name=date_end]').datepicker('setDate', date);
                    }

                    jQuery('[name=date_end]').datepicker('option', 'minDate', date);
                }
            });

            jQuery('[name=date_end]').datepicker({
                dateFormat:'dd MM yy',
                onClose: function(date){
                    var date2 = jQuery('[name=date_start]').datepicker('getDate');

                    if( date2 == null )
                    {
                        jQuery('[name=date_start]').datepicker('setDate', date);
                    }

                    jQuery('[name=date_start]').datepicker('option', 'maxDate', date);
                }
            });

            set_reservation_table();
        });

        function set_reservation_table()
        {
            var rvstatus = [];
            jQuery('.select-status-rev option:selected').each(function() {
                rvstatus.push( jQuery(this).val() );
            });

            var status = jQuery('.bstatus').val();
            var table  = jQuery('#reservation-table').DataTable({
                dom          : '<"row"<"col-xs-5 col-sm-6"l><"col-xs-7 col-sm-6 text-right">r>t<"row"<"col-md-12"i><"col-md-12 text-center"p>>',
                columnDefs   : [{ targets:1, type:'date' }, { targets:5, type:'date' }],
                order        : [[ 1, 'desc' ], [ 0, 'desc' ]],
                pageLength   : parseInt('{limit}'),
                lengthChange : false,
                info         : false,
                processing   : true,
                serverSide   : true,
                searching    : true,
                deferRender  : true,
                autoWidth    : false,
                ajax         : {
                    url  : '{ajax_url}',
                    type : 'POST',
                    data : {
                        pkey       : 'load-data',
                        rid        : jQuery('[name=rid]').val(),
                        rstatus    : rvstatus != '' ? rvstatus : '',
                        chid       : jQuery('[name=chid]').val(),
                        lcid       : jQuery('[name=lcid]').val(),
                        lcid2      : jQuery('[name=lcid2]').val(),
                        status     : status.length == 0 ? '' : status,
                        date_start : jQuery('[name=date_start]').val(),
                        date_end   : jQuery('[name=date_end]').val(),
                        sbooking   : jQuery('[name=sbooking]').val(),
                        bbemail    : jQuery('[name=bbemail]').val(),
                        bdate      : jQuery('[name=bdate]').val()
                    }
                },
                rowCallback: function( row, data, index ) {
                    if( data.print_sts == '1' )
                    {
                        jQuery( 'td:first-child', row ).css( 'color', 'red' );
                    }
                },
                columns: [
                    {
                        data: 'ticket_date', render: function ( data, type, row ){
                            return data;
                        }
                    },
                    {
                        data: 'ref_agent', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'guest_name', render: function ( data, type, row ) {
                            var html = data +
                            '<p class="reschedule-link">'+
                                '<a id="detail-' + row.id + '" href="' + row.reschedule_link + '" class="show-detail" data-type="iframe" data-src="' + row.detail_link + '" rel="' + row.id + '">Reschedule  &raquo;</a>'+
                            '</p>';

                            return html;
                        }
                    },
                    {
                        data: 'chanel', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'booked_by', render: function ( data, type, row ) {
                            var html = data + '<br/>Phone: ' + row.phone + '<br/>Email: ' + row.bbemail;

                            return html;
                        }
                    },
                    {
                        data: 'dept_date', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'route', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'dept_time', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'arrive_time', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'transport', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'rsv_status', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'total', render: function ( data, type, row ) {
                            return '<div class="text-right">' + data + '</div>';
                        }
                    },
                    {
                        data: 'status', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'remarks', render: function ( data, type, row ) {
                            return data;
                        }
                    }
                ],
                footerCallback: function( row, data, start, end, display ){
                    var apidata = this.api(), data;
                    var items   = apidata.column( 2, { page: 'current'} ).data();
                    var ptotal  = 0;
                    var atotal  = 0;
                    var ctotal  = 0;
                    var itotal  = 0;

                    jQuery.each( items, function(i, ele){
                        if( jQuery.type( ele ) !== 'null' )
                        {
                            ele = ele.split('<span class="sr-only">');

                            if( ele.length > 1 )
                            {
                                ele = ele[1].split('</span>');
                                prt = ele[0];
                                prt = prt.split('|');

                                ptotal = ptotal + parseInt( prt[0] );
                                atotal = atotal + parseInt( prt[1] );
                                ctotal = ctotal + parseInt( prt[2] );
                                itotal = itotal + parseInt( prt[3] );
                            }
                        }
                    });

                    jQuery( apidata.column( 2 ).footer() ).html( '<b>Pax : ' + ptotal + ' | Adult : ' + atotal + ' | Child : ' + ctotal + ' | Infant : ' + itotal + '</b>' );
                },
                initComplete:function( settings, json){
                    var link_reschedule = $(".reschedule-link a").attr('href');
                    jQuery('[name=reschedule]').on('click', function(){
                      location.href = link_reschedule;
                    });
                }
            });

            table.on( 'draw.dt', function () {
                action_link_func( table );
            });

            table.on( 'page.dt', function () {
                start = table.page.info().start;
            });

            jQuery('[name=sbooking]').on('keyup', function(){
                table.search( this.value ).draw() ;
            });
        }

        function action_link_func( table )
        {
            jQuery('[name=print]').unbind();
            jQuery('[name=print]').on('click', function(){
                var status = jQuery('.bstatus').val();
                var data = {
                    "rid"        : jQuery('[name=rid]').val(),
                    "chid"       : jQuery('[name=chid]').val(),
                    "lcid"       : jQuery('[name=lcid]').val(),
                    "lcid2"      : jQuery('[name=lcid2]').val(),
                    "status"     : status.length == 0 ? '' : status,
                    "date_start" : jQuery('[name=date_start]').val(),
                    "date_end"   : jQuery('[name=date_end]').val(),
                    "sbooking"   : jQuery('[name=sbooking]').val(),
                    "bbemail"    : jQuery('[name=bbemail]').val(),
                    "bdate"      : jQuery('[name=bdate]').val(),
                    "rstatus"    : jQuery('.select-status-rev').val()
                };

                var order  = jQuery.base64.encode( JSON.stringify( table.order() ) );
                var filter = jQuery.base64.encode( JSON.stringify( data ) );

                window.open('', '_blank').location.href = '//{site_url}/rsv-retrive-print-report?filter='+filter+'&order=' + order;
                return false;
            });

            jQuery('[name=export_csv]').unbind();
            jQuery('[name=export_csv]').on('click', function(){
                var status = jQuery('.bstatus').val();
                var data = {
                    "rid"        : jQuery('[name=rid]').val(),
                    "chid"       : jQuery('[name=chid]').val(),
                    "lcid"       : jQuery('[name=lcid]').val(),
                    "lcid2"      : jQuery('[name=lcid2]').val(),
                    "status"     : status.length == 0 ? '' : status,
                    "date_start" : jQuery('[name=date_start]').val(),
                    "date_end"   : jQuery('[name=date_end]').val(),
                    "sbooking"   : jQuery('[name=sbooking]').val(),
                    "bbemail"    : jQuery('[name=bbemail]').val(),
                    "bdate"      : jQuery('[name=bdate]').val(),
                    "rstatus"    : jQuery('.select-status-rev').val()
                };

                var order  = jQuery.base64.encode( JSON.stringify( table.order() ) );
                var filter = jQuery.base64.encode( JSON.stringify( data ) );

                window.open('', '_blank').location.href = '//{site_url}/rsv-retrive-csv-report?filter='+filter+'&order=' + order;
                return false;
            });

            // jQuery('.show-detail').fancybox({
            //     slideClass:'modal-dialog',
            //     toolbar:false,
            //     afterShow : function( instance, current ) {
            //         var button   = '<button data-fancybox-close="" class="fancybox-close-small" title="Close"></button>';
            //         var instance = jQuery.fancybox.getInstance();
            //
            //         jQuery('.modal-dialog .fancybox-content').append(button);
            //         jQuery('.modal-dialog .close').on('click', function(){
            //             instance.close();
            //         });
            //     }
            // });

            jQuery('.show-detail').unbind();
            jQuery('.show-detail').on('click', function(){
                window.location = jQuery(this).attr('href');
                return false;
            });

            jQuery('.cancel-rev').unbind();
            jQuery('.cancel-rev').on('click', function(){
                window.location = jQuery(this).attr('rel');
                return false;
            });
        }
    </script>
</div>

<!-- END list-block -->
