<!-- BEGIN form-block -->

<div class="wrapper-block reschedule-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-12">
                    <h1>Confirm Reschedule</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-block">
                        {message}
                        <fieldset class="form-inline">
                            <label>Total Ticket Efected : <b class="text-danger">{num_rows} ticket</b></label>
                            <table class="table-striped reschedule-table">
                                <thead>
                                    <tr>
                                        <th width="150">Ticket</th>
                                        <th width="200">From</th>
                                        <th width="200">To</th>
                                        <th width="100">Type</th>
                                        <th width="100" class="text-center">Depart</th>
                                        <th width="100" class="text-center">Arrive</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- BEGIN reschedule-affected-block -->
                                    <tr>
                                        <td>{ticket}</td>
                                        <td>{from}</td>
                                        <td>{to}</td>
                                        <td>{type}</td>
                                        <td class="text-center">{depart}</td>
                                        <td class="text-center">{arrive}</td>
                                    </tr>
                                    <!-- END reschedule-affected-block -->
                                </tbody>
                            </table>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Reschedule From</label>
                            <table class="table-striped reschedule-table">
                                <thead>
                                    <tr>
                                        <th width="250">Period</th>
                                        <th>Route</th>
                                        <th width="200">Boat</th>
                                        <th width="200">From</th>
                                        <th width="200">To</th>
                                        <th width="100" class="text-center">Depart</th>
                                        <th width="100" class="text-center">Arrive</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- BEGIN reschedule-from-block -->
                                    <tr>
                                        <td>{period}</td>
                                        <td>{route}</td>
                                        <td>{boat}</td>
                                        <td>{from}</td>
                                        <td>{to}</td>
                                        <td class="text-center">{depart}</td>
                                        <td class="text-center">{arrive}</td>
                                    </tr>
                                    <!-- END reschedule-from-block -->
                                </tbody>
                            </table>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Reschedule To</label>
                            <table class="table-striped reschedule-table">
                                <thead>
                                    <tr>
                                        <th width="250">Period</th>
                                        <th>Route</th>
                                        <th width="200">Boat</th>
                                        <th width="200">From</th>
                                        <th width="200">To</th>
                                        <th width="100" class="text-center">Depart</th>
                                        <th width="100" class="text-center">Arrive</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- BEGIN reschedule-to-block -->
                                    <tr>
                                        <td>{period}</td>
                                        <td>{route}</td>
                                        <td>{boat}</td>
                                        <td>{from}</td>
                                        <td>{to}</td>
                                        <td class="text-center">{depart}</td>
                                        <td class="text-center">{arrive}</td>
                                    </tr>
                                    <!-- END reschedule-to-block -->
                                </tbody>
                            </table>
                        </fieldset>
                    </fieldset>
                    <div class="form-action clearfix">
                        <input type="text" class="sr-only" value="{sid}" name="sid" />
                        <input type="text" class="sr-only" value="{bdid}" name="bdid" />
                        <button type="submit" class="btn-save pull-left" name="publish">Reschedule</button>
                        <a class="cancel pull-left" href="{cancel_link}">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery("#myselect").val();

        jQuery("select#select_schedule_new").change(function() {
            var selected = jQuery(this).children("option:selected").val();
            var boid_selected = jQuery(this).children("option:selected").attr("boid");

            jQuery("select#select_boat_new").val(boid_selected);
        });

        jQuery('[name=rsfrom], [name=rsto]').datepicker({
            dateFormat: 'dd MM yy'
        });

        jQuery('').datepicker({
            dateFormat: 'dd MM yy'
        });

        jQuery('.form-action .delete').on('click', function(e) {
            var url = jQuery(this).attr('href');
            var prm = new Object();
            prm.pkey = 'delete-rate-period';

            jQuery('<div></div>').dialog({
                modal: true,
                draggable: false,
                resizable: false,
                title: 'Notification',
                open: function() {
                    jQuery(this).html('Are you sure want to delete this rate period?');
                },
                buttons: {
                    Yes: function() {
                        var popup = jQuery(this);

                        jQuery.ajax({
                            method: 'POST',
                            url: url,
                            data: prm,
                            dataType: 'json',
                            success: function(e) {
                                popup.dialog('close');

                                if (e.result == 'success') {
                                    show_popup('Notification', 'This rate period has been successfully deleted', 'window.location.assign("{cancel_link}")');
                                } else if (e.result == 'failed') {
                                    show_popup('Warning', 'Sorry, This rate period can\'t be deleted. Please try again later');
                                }
                            },
                            error: function(e) {
                                popup.dialog('close');

                                show_popup('Warning', 'Sorry, This rate period can\'t be deleted. Please try again later');
                            }
                        });
                    },
                    No: function() {
                        jQuery(this).dialog('close');
                    }
                }
            });

            return false;
        });
    });
</script>
<!-- END form-block -->