<!-- BEGIN form-block -->

<div class="wrapper-block channel-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-12"> 
                    <h1>New/Edit Sales Channel</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-block">
                    	{message}
                    	<fieldset class="sr-only">
                    		<input type="text" name="chid" value="{chid}" />
                    	</fieldset>
                    	<fieldset>
                            <div class="form-group">
                        		<label>Sales Channel Name</label>
                        		<div class="form-group">
    							    <input type="text" class="text text-medium form-control" name="chname" value="{chname}" placeholder="">
    						  	</div>
                            </div>
                            <div class="form-group">
                                <label>Channel’s Code</label>
                                <div class="form-group">
                                    <input type="text" class="text text-medium form-control" name="chcode" value="{chcode}" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <div class="form-group">
                                    <textarea class="textarea text-large form-control" rows="5" name="chdescription">{chdescription}</textarea>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset style="{chpercentage_style} ">
                            <div class="form-group" >
                                <label>Percentage fr Publish</label>
                                <div class="form-group">
                                    <input type="number" class="text text-small form-control" name="chpercentage" value="{chpercentage}" placeholder=""  min="0" max="100">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-action clearfix">
                    	<button type="submit" class="btn-save pull-left" name="publish">Save Channel</button>
                    	<a class="cancel pull-left" href="{cancel_link}">Cancel</a>
                    	<a class="delete pull-right {delete_class}" href="{ajax_link}">Delete</a>
                    </div>
                    <div class="form-note">
                        {last_update_note}
                    </div>
                </div>
            </div>
        </form>

        <script type="text/javascript">
            jQuery(document).ready(function(){
                jQuery('.form-action .delete').on('click', function(e){
                    var url = jQuery(this).attr('href');
                    var prm = new Object();
                        prm.pkey = 'delete-channel';
                        prm.chid = jQuery('[name=chid]').val();

                    jQuery('<div></div>').dialog({
                        modal: true,
                        draggable: false,
                        resizable: false,
                        title: 'Notification',
                        open: function(){
                            jQuery(this).html('Are you sure want to delete this channel?');
                        },
                        buttons: {
                            Yes: function(){
                                var popup = jQuery(this);

                                jQuery.ajax({
                                    method: 'POST',
                                    url: url,
                                    data: prm,
                                    dataType : 'json',
                                    success: function(e){
                                        popup.dialog('close');

                                        if( e.result=='success' )
                                        {                                       
                                            show_popup('Notification', 'This channel has been successfully deleted', 'window.location.assign("{cancel_link}")');
                                        }
                                        else if( e.result=='failed' )
                                        {
                                            show_popup('Warning', 'Sorry, This channel can\'t be deleted. Please try again later');
                                        }
                                    },
                                    error: function(e){
                                       popup.dialog('close');

                                       show_popup('Warning', 'Sorry, This channel can\'t be deleted. Please try again later');
                                    }
                                });
                            },
                            No: function(){
                                jQuery( this ).dialog('close');
                            }
                        }
                    });

                    return false;
                });
            });
        </script>
    </div>
</div>

<!-- END form-block -->