<!-- BEGIN form-block -->

<div class="wrapper-block agent-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="apform">
            <div class="row">
                <div class="col-md-12"> 
                    <h1>New/Edit Sub-Agent</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-block">
                    	{message}
                    	<fieldset class="sr-only">
                    		<input type="text" name="agid" value="{agid}" />
                    		<input type="text" name="agparent" value="{agparent}" />               		
                    	</fieldset>
                    	<fieldset>
                            <h2 class="sub sub-info">Sub-Agent Info</h2>
                            <div class="subfield">
                                <div class="form-group">
                                    <label>Sub-Agent Name</label>
                                    <input type="text" class="text text-medium form-control" name="agname" value="{agname}" />
                                </div>
                                <div class="form-group">
                                    <label>Sub-Agent Address</label>
                                    <textarea class="textarea text-large form-control" name="agaddress">{agaddress}</textarea>
                                </div>
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="text" class="text text-medium form-control" name="agemail" value="{agemail}" />
                                    </div>
                                    <div class="form-group">
                                        <label>Contact Person</label>
                                        <input type="text" class="text text-medium form-control" name="agcp" value="{agcp}" />
                                    </div>
                                </div>
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>Mobile Phone</label>
                                        <input type="text" class="text text-medium form-control" name="agmobile" value="{agmobile}" />
                                    </div>
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <input type="text" class="text text-medium form-control" name="agphone" value="{agphone}" />
                                    </div>
                                </div>
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>Fax</label>
                                        <input type="text" class="text text-medium form-control" name="agfax" value="{agfax}" />
                                    </div>
                                    <div class="form-group">
                                        <label>Operation Phone</label>
                                        <input type="text" class="text text-medium form-control" name="agophone" value="{agophone}" />
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    	<fieldset>
                            <h2 class="sub sub-info">Sub-Agent Login</h2>
                            <div class="subfield">
                                <div class="form-group clearfix">
                                    <label>Username</label>
                                    <input type="text" class="text text-medium form-control" name="agnusername" value="{agusername}" {is_read_only} />
                                </div>
                                <div class="form-group clearfix">
                                    <label>Password</label>
                                    <p>Type password below if you need to a new one</p>
                                    <input type="password" class="text text-medium form-control" name="agnpassword" value="{agpassword}" />
                                </div>
                                <div class="form-group clearfix">
                                    <label>Retype Password</label>
                                    <input type="password" class="text text-medium form-control" name="agrpassword" value="{agrpassword}" />
                                </div>
                                <div class="form-group clearfix">
                                    <label>Status</label>
                                    <select class="select-option" name="agstatus" autocomplete="off">
                                        {agstatus}
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-action clearfix">
                    	<button type="submit" class="btn-save pull-left" name="publish">Save Agent</button>
                        <a class="cancel pull-left" href="{cancel_link}">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- END form-block -->