<!-- BEGIN form-block -->

<div class="wrapper-block promo-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-12"> 
                    <h1>New/Edit Promo</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-block no-field-border">
                    	{message}
                    	<fieldset class="sr-only">
                    		<input type="text" name="pmid" value="{pmid}" />
                    	</fieldset>
                        <fieldset class="form-inline">
                            <label>Promo Name</label>
                            <div class="form-group">
                                <input type="text" class="text text-medium form-control" name="pmname" value="{pmname}" autocomplete="off">
                            </div>
                        </fieldset>
                    	<fieldset class="form-inline">
                    		<label>Promo Validity</label>
                            <div class="form-group">
                                <p class="subtitle">Base On</p>
                                <select class="select-option" name="pmbaseon" autocomplete="off" style="width:220px;">
                                    {pmbaseon}
                                </select>
                            </div>
                    		<div class="form-group">
                    			<p class="subtitle">From</p>
							    <input type="text" class="text text-date text-medium form-control" name="pmfrom" value="{pmfrom}" placeholder="Date" readonly>
						  	</div>
                    		<div class="form-group">
                    			<p class="subtitle">To</p>
							    <input type="text" class="text text-date text-medium form-control" name="pmto" value="{pmto}" placeholder="Date" readonly>
						  	</div>
                    	</fieldset>
                        <fieldset class="form-inline">
                            <label>Promo Application</label>
                            <div class="form-group">
                                <select class="select-option" name="pmapplication[]" multiple autocomplete="off" style="width:300px;">
                                    {pmapplication}
                                </select>
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Schedules</label>
                            <div class="form-group">
                                <select class="select-option" name="pmsid[]" data-placeholder="All Schedules" multiple autocomplete="off" style="width:800px;">
                                    {pmsid}
                                </select>
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Apply on </label>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <input id="apply-on-1" name="apply_on" class="promo-24" autocomplete="off" type="radio" {radio_apply_on_channel_opt} value="0">
                                        <label for="apply-on-1">Channel</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <input id="apply-on-2" name="apply_on" class="promo-24" autocomplete="off" type="radio" {radio_apply_on_agent_opt} value="1">
                                        <label for="apply-on-2">Agent</label>
                                    </div>
                                </div>
                        </fieldset>
                        <fieldset class="form-inline" id="channel_option" style="visibility:hidden; max-height:0px; padding:0px">
                            <div class="form-group" >
                                <select class="select-option" name="chid" data-placeholder="Select Channel" autocomplete="off" style="width:500px;">
                                    {chid}
                                </select>
                            </div>
                        </fieldset>
                        <fieldset class="form-inline" id="agent_option" style="visibility:hidden; max-height:0px; padding:0px">
                            <div class="form-group" >
                                <select class="select-option" name="agid" data-placeholder="Select Agent" autocomplete="off" style="width:500px;">
                                    {agid}
                                </select>
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Commission for Agent</label>
                            <div class="form-group">
                                <input type="text" class="text text-small form-control" name="pmcommission" value="{pmcommission}" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <select class="select-option" name="pmcommissiontype" autocomplete="off">
                                    {pmcommissiontype}
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="select-option" name="pmcommissioncondition" autocomplete="off">
                                    {pmcommissioncondition}
                                </select>
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Discount for Client</label>
                            <div class="form-group">
                                <input type="text" class="text text-small form-control" name="pmdiscount" value="{pmdiscount}" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <select class="select-option" name="pmdiscounttype" autocomplete="off" style="width:135px;">
                                    {pmdiscounttype}
                                </select>
                            </div>
                        </fieldset>                        
                        <fieldset class="form-inline">
                            <label>Promo Code</label>
                            <div class="form-group">
                                <input type="text" class="text text-medium form-control" name="pmcode" value="{pmcode}" autocomplete="off">
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Limit Code</label>
                            <div class="form-group-block">
                                <div class="checkbox">
                                    <input id="use-limit" name="pmuselimit" class="use-limit" autocomplete="off" type="checkbox" {check_opt}>
                                    <label for="use-limit">Set usage limitation</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="text text-small form-control" name="pmlimit" value="{pmlimit}" autocomplete="off">
                                <span class="regular-txt">usage</span>
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Seat Limitation</label>
                            <div class="form-group">
                                <input type="text" class="text text-small form-control" name="pmlimit_day" value="{pmlimit_day}" autocomplete="off">
                                <span class="regular-txt">Seats</span>
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Booking less than 24h in advance</label>
                            <div class="form-group promo-status-group">
                                <div class="checkbox">
                                    <input id="promo-24-1" name="pmbook24inadvance" class="promo-24" autocomplete="off" type="radio" {radio_book24inadvance_no_opt} value="1">
                                    <label for="promo-24-1">No</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <input id="promo-24-2" name="pmbook24inadvance" class="promo-24" autocomplete="off" type="radio" {radio_book24inadvance_yes_opt} value="2">
                                    <label for="promo-24-2">Yes</label>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>As Additional Discount?</label>
                            <div class="form-group promo-status-group">
                                <div class="checkbox">
                                    <input id="additional-disc-1" name="pmadditionaldisc" class="additional-disc" autocomplete="off" type="radio" {radio_additionaldisc_no_opt} value="1">
                                    <label for="additional-disc-1">No</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <input id="additional-disc-2" name="pmadditionaldisc" class="additional-disc" autocomplete="off" type="radio" {radio_additionaldisc_yes_opt} value="2">
                                    <label for="additional-disc-2">Yes</label>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Status</label>
                            <div class="form-group promo-status-group">
                                <div class="checkbox">
                                    <input id="promo-status-1" name="pmstatus" class="promo-status" autocomplete="off" type="radio" {radio_valid_opt} value="1">
                                    <label for="promo-status-1">Valid</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <input id="promo-status-2" name="pmstatus" class="promo-status" autocomplete="off" type="radio" {radio_on_hold_opt} value="2">
                                    <label for="promo-status-2">On Hold</label>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Share Promo Code Link</label>
                            <div class="form-group">
                                <input type="text" class="text text-large form-control" name="share_link" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn-copy" onclick="copyfunction()" >Copy Link Promo</button>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-action clearfix">
                    	<button type="submit" class="btn-save pull-left" name="publish">Save Promo</button>
                    	<a class="cancel pull-left" href="{cancel_link}">Cancel</a>
                    	<a class="delete pull-right {delete_class}" href="{ajax_link}">Delete</a>
                    </div>
                    <div class="form-note">
                        {last_update_note}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    function copyfunction() {
      /* Get the text field */
      var copyText = jQuery('[name=share_link]');
      /* Select the text field */
      copyText.select();

      /* Copy the text inside the text field */
      document.execCommand("copy");

      /* Alert the copied text */
      jQuery('<div></div>').dialog({
          modal: true,
          draggable: false,
          resizable: false,
          title: 'Notification',
          open: function(){
              jQuery(this).html('Promocdoe link was copied');
          }
      });
      // alert("Copied the text: " + copyText.val());
    }
    
    jQuery(document).ready(function(){
        // jQuery('[name=share_link]').val() = '{site_url}' + '/?pmcode=' + jQuery('[name=pmname]').val();
        // var link_promo = '{site_url}' + '/?pmcode=' + jQuery('[name=pmname]').val();
        $strreplace = jQuery('[name=pmcode]').val().replace(/\s/g, ".");
        if(jQuery("input[name='apply_on']:checked"). val() == 0){
                jQuery('#channel_option').css('visibility','visible');
                jQuery('#channel_option').css('padding','');
                jQuery('#channel_option').css('max-height','unset');
                
                jQuery('#agent_option').css('visibility','hidden');
                jQuery('#agent_option').css('padding','0px');
                jQuery('#agent_option').css('max-height','0px');
            }
        if(jQuery("input[name='apply_on']:checked"). val() == 1){
                jQuery('#agent_option').css('visibility','visible');
                jQuery('#agent_option').css('padding','');
                jQuery('#agent_option').css('max-height','unset');
                
                jQuery('#channel_option').css('visibility','hidden');
                jQuery('#channel_option').css('padding','0px');
                jQuery('#channel_option').css('max-height','0px');
        }
        
        jQuery('[name=apply_on]').on('change', function(){
            if(jQuery("input[name='apply_on']:checked"). val() == 0){
                jQuery('#channel_option').css('visibility','visible');
                jQuery('#channel_option').css('padding','');
                jQuery('#channel_option').css('max-height','unset');
                
                jQuery('#agent_option').css('visibility','hidden');
                jQuery('#agent_option').css('padding','0px');
                jQuery('#agent_option').css('max-height','0px');
            }
            if(jQuery("input[name='apply_on']:checked"). val() == 1){
                jQuery('#agent_option').css('visibility','visible');
                jQuery('#agent_option').css('padding','');
                jQuery('#agent_option').css('max-height','unset');
                
                jQuery('#channel_option').css('visibility','hidden');
                jQuery('#channel_option').css('padding','0px');
                jQuery('#channel_option').css('max-height','0px');
            }
        });
        jQuery('[name=pmcode]').on('change', function(){
            $strreplace = jQuery('[name=pmcode]').val().replace(/\s/g, ".");
            jQuery('[name=share_link]').val( '{site_url}' + '/?pmcode=' + $strreplace );
        });
        jQuery('[name=share_link]').val( '{site_url}' + '/?pmcode=' + $strreplace );

        jQuery('.select-option').chosen({ max_selected_options:10, search_contains:true, allow_single_deselect:true });

        jQuery('[name=pmfrom]').datepicker({
            dateFormat:'dd MM yy',
            minDate: 0,
            onSelect: function(date){
                var date2 = jQuery('[name=pmto]').datepicker('getDate');

                if( date2 == null )
                {
                    jQuery('[name=pmto]').datepicker('setDate', date);
                }

                jQuery('[name=pmto]').datepicker('option', 'minDate', date);
            }
        });

        jQuery('[name=pmto]').datepicker({
            dateFormat:'dd MM yy',
            minDate: 0,
            onClose: function(date){
                var date2 = jQuery('[name=pmfrom]').datepicker('getDate');

                if( date2 == null )
                {
                    jQuery('[name=pmfrom]').datepicker('setDate', date);
                }
                
                jQuery('[name=pmfrom]').datepicker('option', 'maxDate', date);
            }
        });

        jQuery('.form-action .delete').on('click', function(e){
            var url = jQuery(this).attr('href');
            var prm = new Object();
                prm.pkey = 'delete-promo';
                prm.pmid = jQuery('[name=pmid]').val();

            jQuery('<div></div>').dialog({
                modal: true,
                draggable: false,
                resizable: false,
                title: 'Notification',
                open: function(){
                    jQuery(this).html('Are you sure want to delete this promo code?');
                },
                buttons: {
                    Yes: function(){
                        var popup = jQuery(this);

                        jQuery.ajax({
                            method: 'POST',
                            url: url,
                            data: prm,
                            dataType : 'json',
                            success: function(e){
                                popup.dialog('close');

                                if( e.result=='success' )
                                {                                       
                                    show_popup('Notification', 'This promo code has been successfully deleted', 'window.location.assign("{cancel_link}")');
                                }
                                else if( e.result=='failed' )
                                {
                                    show_popup('Warning', 'Sorry, This promo code can\'t be deleted. Please try again later');
                                }
                                else if( e.result=='error-query' )
                                {
                                    if( e.error_code==1451 )
                                    {
                                        show_popup('Warning', 'Sorry, This promo can\'t be deleted. May already be used in another data');
                                    }
                                    else
                                    {
                                        show_popup('Warning', 'Sorry, This promo can\'t be deleted. Please try again later');
                                    }
                                }
                            },
                            error: function(e){
                               popup.dialog('close');

                               show_popup('Warning', 'Sorry, This promo code can\'t be deleted. Please try again later');
                            }
                        });
                    },
                    No: function(){
                        jQuery( this ).dialog('close');
                    }
                }
            });

            return false;
        });
    });
</script>

<!-- END form-block -->