<!-- BEGIN list-block -->

<div class="wrapper-block promo-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-8"> 
                    <h1>Rate Promo Code</h1>
                </div>
                <div class="col-md-4">
                    <div class="button-box clearfix">
                        <button type="submit" class="button btn-delete disabled" name="delete" value="Delete" disabled="disabled">Delete Promo</button>
                        <button type="button" class="button btn-add" name="add_new" onclick="location.href='{add_new_link}';">New Promo Code</button>
                    </div>
                </div>
            </div>
            <div class="row">     
                <div class="col-md-12"> 
                    <div class="filter-box clearfix">
                        <div class="row">          
                            <div class="col-md-8">                   
                                <div class="form-inline filter-wrapp clearfix">
                                    <div class="form-group">
                                        <span class="text">Filter :</span>
                                        <select class="select-option" name="pmstatus" autocomplete="off">
                                            {pmstatus}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input name="filter" type="submit" value="Filter" class="filters">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="search-box clearfix">
                                    <input type="text" name="spromo" class="searchtext" placeholder="Search" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-block">
                        {message}
                        <table id="promo-table" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="15" data-orderable="false"><input type="checkbox" name="check_all" autocomplete="off" /></th>
                                    <th>Promo Name</th>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>Discount</th>
                                    <th>Code</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery('[name=pmstatus]').chosen({ max_selected_options:10, search_contains:true });

            set_promo_table();
        });

        function set_promo_table()
        {
            var table = jQuery('#promo-table').DataTable({
                dom          : '<"row"<"col-xs-5 col-sm-6"l><"col-xs-7 col-sm-6 text-right">r>t<"row"<"col-md-12"i><"col-md-12 text-center"p>>',
                pageLength   : parseInt('{limit}'),
                lengthChange : false,
                info         : false,
                processing   : true,
                serverSide   : true,
                searching    : true,
                deferRender  : true,
                order        : [],
                ajax         : {
                    url  : '{ajax_link}',
                    type : 'POST',
                    data : { 
                        pkey : 'load-data',
                        pmstatus : jQuery('[name=pmstatus]').val()
                    }
                },
                columns: [
                    { 
                        data: 'pmid', render: function ( data, type, row ) {
                            var html = '<input type="checkbox" name="select[]" autocomplete="off" value="' + data + '" />';

                            return html;
                        }
                    },
                    { 
                        data: 'pmname', render: function ( data, type, row ) {
                            var html = 
                            data +
                            '<p>'+
                                '<a id="edit-' + row.pmid + '" rel="' + row.pmid + '" href="' + row.edit_link + '">Edit  &raquo;</a>'+
                                '<a id="delete-' + row.pmid + '" rel="' + row.pmid + '" href="javascript:;" class="delete-promo">Delete &raquo;</a>'+
                            '</p>';

                            return html;
                        }
                    },
                    { 
                        data: 'pmfrom', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'pmto', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'pmdiscount', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'pmcode', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'pmstatus', render: function ( data, type, row ) {
                            return data;
                        }
                    }
                ]
            });

            table.on( 'draw.dt', function () {
                action_link_func( table );
                table_block_action();
            });

            table.on( 'page.dt', function () {
                start = table.page.info().start;
            });
            
            jQuery('[name=spromo]').on('keyup', function(){
                table.search( this.value ).draw() ;
            });
        }

        function action_link_func( table )
        {
            jQuery('.delete-promo').unbind();
            jQuery('.delete-promo').on('click', function(){
                var url = '{ajax_link}';
                var prm = new Object();
                    prm.pkey = 'delete-promo';
                    prm.pmid = jQuery(this).attr('rel');

                jQuery('<div></div>').dialog({
                    modal: true,
                    draggable: false,
                    resizable: false,
                    title: 'Notification',
                    open: function(){
                        jQuery(this).html('Are you sure want to delete this promo?');
                    },
                    buttons: {
                        Yes: function(){
                            var popup = jQuery(this);

                            jQuery.ajax({
                                method: 'POST',
                                url: url,
                                data: prm,
                                dataType : 'json',
                                success: function(e){
                                    popup.dialog('close');

                                    if( e.result == 'success' )
                                    {                            
                                        table.ajax.reload(function(){
                                            action_link_func( table );                                            
                                            show_popup('Notification', 'This promo has been successfully deleted');
                                        }, false);
                                    }
                                    else if( e.result == 'failed' )
                                    {
                                        show_popup('Warning', 'Sorry, This promo can\'t be deleted. Please try again later');
                                    }
                                },
                                error: function(e){
                                   popup.dialog('close');

                                   show_popup('Warning', 'Sorry, This promo can\'t be deleted. Please try again later');
                                }
                            });
                        },
                        No: function(){
                            jQuery( this ).dialog('close');
                        }
                    }
                });
            });
        }
    </script>
</div>

<!-- END list-block -->