<!-- BEGIN loop-block -->

<tr id="item-{id}">
    <td class="id"><input type="checkbox" name="select[]" autocomplete="off" value="{id}" /></td>
    <td class="name">
    	{pmname}
    	<p>
	        <a id="edit-{id}" rel="{id}" href="{edit_link}">Edit  &raquo;</a>
	        <a id="delete-{id}" rel="{id}" href="{ajax_link}" onclick="return false;" >Delete &raquo;</a>
	    </p>
	    <script type="text/javascript">
	    	jQuery('#delete-{id}').on('click', function(e){
	    		var url = jQuery(this).attr('href');
	    		var prm = new Object();
	    			prm.pkey = 'delete-promo';
	    			prm.pmid = jQuery(this).attr('rel');

	    		jQuery('<div></div>').dialog({
	                modal: true,
	                draggable: false,
	                resizable: false,
	                title: 'Notification',
	                open: function(){
	                    jQuery(this).html('Are you sure want to delete this promo code?');
	                },
	                buttons: {
	                    Yes: function(){
	                    	var popup = jQuery(this);

	                    	jQuery.ajax({
		                        method: 'POST',
		                        url: url,
		                        data: prm,
		                        dataType : 'json',
							    success: function(e){
							    	popup.dialog('close');

							    	if( e.result=='success' )
							    	{							    		
							    		jQuery('#item-{id}').fadeOut(200, function(){
							    			show_popup('Notification', 'This promo code has been successfully deleted');
							    		});
							    	}
                                    else if( e.result=='failed' )
                                    {
                                        show_popup('Warning', 'Sorry, This promo can\'t be deleted. May already be used in another data');
                                    }
                                    else if( e.result=='error-query' )
                                    {
                                    	if( e.error_code==1451 )
                                    	{
                                        	show_popup('Warning', 'Sorry, This promo can\'t be deleted. May already be used in another data');
                                    	}
                                    	else
                                    	{
                                    		show_popup('Warning', 'Sorry, This promo can\'t be deleted. Please try again later');
                                    	}
                                    }
							    },
							    error: function(e){
							       popup.dialog('close');

							       show_popup('Notification', 'Sorry, This promo code can\'t be deleted. Please try again later');
							    }
							});
	                    },
	                    No: function(){
	                        jQuery( this ).dialog('close');
	                    }
	                }
	            });
	    	});
	    </script>
    </td>
    <td class="from">{pmfrom}</td>
    <td class="to">{pmto}</td>
    <td class="disc">{pmdiscount}</td>
    <td class="code">{pmcode}</td>
    <td class="status">{pmstatus}</td>
</tr>

<!-- END loop-block -->