<!-- BEGIN detail-block -->

<div class="wrapper-block agent-detail-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8"> 
                <h1>{agname}</h1>
            </div>
            <div class="col-md-4">
            	<h2>{chname}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            	<fieldset>
            		<div class="head">
            			<div class="row">
            				<div class="col-md-6">
            					<strong>Contact Info</strong>
            				</div>
            				<div class="col-md-6">
            					<p class="text-right"><a href="{edit_link}">Edit</a></p>
            				</div>
            			</div>
            		</div>
            		<div class="inner">
            			<div class="item">
	            			<div class="row">
	            				<div class="col-md-3">
	            					<b>Address</b>
	            					<p>{agaddress}</p>
	            				</div>
	            				<div class="col-md-3">
	            					<b>Email</b>
	            					<p><a href="mailto:{agemail}">{agemail}</a></p>
	            				</div>
	            				<div class="col-md-3">
	            					<b>Contact Person</b>
	            					<p>{agcp}</p>
	            				</div>
	            				<div class="col-md-3">
	            					<b>Mobile Phone</b>
	            					<p>{agmobile}</p>
	            				</div>
	            			</div>
	            		</div>
            			<div class="item">
	            			<div class="row">
	            				<div class="col-md-3">
	            					<b>Phone</b>
	            					<p>{agphone}</p>
	            				</div>
	            				<div class="col-md-3">
	            					<b>Fax</b>
	            					<p>{agfax}</p>
	            				</div>
	            				<div class="col-md-3">
	            					<b>Operation Phone</b>
	            					<p>{agophone}</p>
	            				</div>
	            			</div>
	            		</div>
            		</div>
            	</fieldset>
            	<fieldset>
            		<div class="head">
            			<div class="row">
            				<div class="col-md-6">
            					<strong>{agtype}</strong>
            				</div>
            				<div class="col-md-6">
            					<p class="text-right"><a href="{edit_link}">Edit</a></p>
            				</div>
            			</div>
            		</div>
            		<div class="inner">
            			{net_rate_list}
            		</div>
            	</fieldset>
            	<fieldset>
            		<div class="head">
            			<div class="row">
            				<div class="col-md-6">
            					<strong>Payment Type</strong>
            				</div>
            				<div class="col-md-6">
            					<p class="text-right"><a href="{edit_link}">Edit</a></p>
            				</div>
            			</div>
            		</div>
            		<div class="inner">
            			<div class="item">
	            			<div class="row">
	            				<div class="col-md-12">
            						<p>{agpayment_type}</p>
            					</div>
            				</div>
            			</div>
            		</div>
            	</fieldset>
            	<fieldset>
            		<div class="head">
            			<div class="row">
            				<div class="col-md-6">
            					<strong>Sales Person</strong>
            				</div>
            				<div class="col-md-6">
            					<p class="text-right"><a href="{edit_link}">Edit</a></p>
            				</div>
            			</div>
            		</div>
            		<div class="inner">
            			<div class="item">
	            			<div class="row">
	            				<div class="col-md-12">
            						<p>{agsp}</p>
            					</div>
            				</div>
            			</div>
            		</div>
            	</fieldset>
            	<fieldset>
            		<div class="head">
            			<div class="row">
            				<div class="col-md-6">
            					<strong>Agent Login Detail</strong>
            				</div>
            				<div class="col-md-6">
            					<p class="text-right"><a href="{edit_link}">Edit</a></p>
            				</div>
            			</div>
            		</div>
            		<div class="inner">
            			<div class="item">
	            			<div class="row">
	            				<div class="col-md-3">
	            					<b>User Name</b>
	            					<p>{agusername}</p>
	            				</div>
	            				<div class="col-md-3">
	            					<b>Password</b>
	            					<p>••••••••••</p>
	            				</div>
	            				<div class="col-md-3">
	            					<b>Status</b>
	            					<p>{agstatus}</p>
	            				</div>
	            			</div>
	            			<div class="row">
	            				<div class="col-md-12">
	            					<a class="send-pwd">Send Agent Login To Agent's Email</a>
	            					<script type="text/javascript">
	            						jQuery(document).ready(function(){
	            							jQuery('.send-pwd').click(function(){	            								
	            								var url = '{ajax_link}';
	            								var prm = new Object();
	            									prm.pkey = 'send-login-access';
                        							prm.agid = '{agid}';

							                    jQuery('<div></div>').dialog({
							                        modal: true,
							                        draggable: false,
							                        resizable: false,
							                        title: 'Notification',
							                        open: function(){
							                            jQuery(this).html('This function will reset the password and replace it with the new one then send it to the agent email. Are you sure?');
							                        },
							                        buttons: {
							                            Yes: function(){
							                                jQuery( this ).dialog('close');

				            								jQuery.ajax({
							                                    method: 'POST',
							                                    url: url,
							                                    data: prm,
							                                    dataType : 'json',
											                    beforeSend: function( xhr ) {
											                        show_ajax_overlay();
											                    },
							                                    success: function(e){
							                                        if( e.result=='success' )
							                                        {                                       
							                                            show_popup('Notification', 'Admin Authentication data successfully sent');
							                                        }
							                                        else if( e.result=='error' )
							                                        {
							                                            show_popup('Warning', 'Sorry, can\'t reset this agent password. Please try again later');
							                                        }
							                                        else if( e.result=='failed' )
							                                        {
							                                            show_popup('Warning', e.message);
							                                        }
							                                    },
							                                    error: function(e){
							                                       	show_popup('Warning', 'Sorry, admin Authentication data failed to sent. Please try again later');
							                                    }
							                                }).always(function(){
											                    hide_ajax_overlay();
											                });
							                            },
							                            No: function(){
							                                jQuery( this ).dialog('close');
							                            }
							                        }
							                    });
							                });
	            						})
	            					</script>
	            				</div>
	            			</div>
            			</div>
            		</div>
            	</fieldset>
            	<fieldset>
                    <div class="form-note">
                        {last_update_note}
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>

<!-- END detail-block -->