<!-- BEGIN form-block -->

<div class="wrapper-block agent-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-12">
                    <h1>New/Edit Agent</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-block">
                    	{message}
                    	<fieldset class="sr-only">
                    		<input type="text" name="agid" value="{agid}" />
                    	</fieldset>
                    	<fieldset>
                    		<label>Agent Name <span class="text-danger">*</span></label>
							<input type="text" class="text text-medium form-control" name="agname" value="{agname}" />
                        </fieldset>
                        <fieldset>
                            <h2>Contact Info</h2>
                            <div class="subfield">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#contracting">Contracting</a></li>
                                    <li><a data-toggle="tab" href="#booking-cancellation">Booking/Cancellation</a></li>
                                    <li><a data-toggle="tab" href="#invoicing-payment">Invoicing/Payment</a></li>
                                    <li><a data-toggle="tab" href="#ground-handler">Ground Handler</a></li>
                                </ul>

                                <div class="tab-content">
                                    <div id="contracting" class="tab-pane fade in active">
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <label>Contact Person <span class="text-danger">*</span></label>
                                                <input type="text" class="text text-medium form-control" name="cagcp" value="{cagcp}" />
                                            </div>
                                            <div class="form-group">
                                                <label>Position</label>
                                                <input type="text" class="text text-medium form-control" name="cagposition" value="{cagposition}" />
                                            </div>
                                        </div>
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <label>Mobile Phone</label>
                                                <input type="text" class="text text-medium form-control" name="cagmobile" value="{cagmobile}" />
                                            </div>
                                            <div class="form-group">
                                                <label>Phone <span class="text-danger">*</span></label>
                                                <input type="text" class="text text-medium form-control" name="cagphone" value="{cagphone}" />
                                            </div>
                                        </div>
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <label>Fax</label>
                                                <input type="text" class="text text-medium form-control" name="cagfax" value="{cagfax}" />
                                            </div>
                                            <div class="form-group">
                                                <label>Operation Phone</label>
                                                <input type="text" class="text text-medium form-control" name="cagophone" value="{cagophone}" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Email <span class="text-danger">*</span></label>
                                            <input type="text" class="text text-large form-control" name="cagemail" value="{cagemail}" />
                                        </div>
                                        <div class="form-group">
                                            <label>Address <span class="text-danger">*</span></label>
                                            <textarea class="textarea text-large form-control" name="cagaddress">{cagaddress}</textarea>
                                        </div>
                                    </div>

                                    <div id="booking-cancellation" class="tab-pane fade">
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <label>Contact Person</label>
                                                <input type="text" class="text text-medium form-control" name="agcp" value="{agcp}" />
                                            </div>
                                            <div class="form-group">
                                                <label>Position</label>
                                                <input type="text" class="text text-medium form-control" name="agposition" value="{agposition}" />
                                            </div>
                                        </div>
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <label>Mobile Phone</label>
                                                <input type="text" class="text text-medium form-control" name="agmobile" value="{agmobile}" />
                                            </div>
                                            <div class="form-group">
                                                <label>Phone</label>
                                                <input type="text" class="text text-medium form-control" name="agphone" value="{agphone}" />
                                            </div>
                                        </div>
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <label>Fax</label>
                                                <input type="text" class="text text-medium form-control" name="agfax" value="{agfax}" />
                                            </div>
                                            <div class="form-group">
                                                <label>Operation Phone</label>
                                                <input type="text" class="text text-medium form-control" name="agophone" value="{agophone}" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Email <span class="text-danger">*</span></label>
                                            <input type="text" class="text text-large form-control" name="agemail" value="{agemail}" />
                                        </div>
                                        <div class="form-group">
                                            <label>Address</label>
                                            <textarea class="textarea text-large form-control" name="agaddress">{agaddress}</textarea>
                                        </div>
                                    </div>

                                    <div id="invoicing-payment" class="tab-pane fade">
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <label>Contact Person</label>
                                                <input type="text" class="text text-medium form-control" name="iagcp" value="{iagcp}" />
                                            </div>
                                            <div class="form-group">
                                                <label>Position</label>
                                                <input type="text" class="text text-medium form-control" name="iagposition" value="{iagposition}" />
                                            </div>
                                        </div>
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <label>Mobile Phone</label>
                                                <input type="text" class="text text-medium form-control" name="iagmobile" value="{iagmobile}" />
                                            </div>
                                            <div class="form-group">
                                                <label>Phone</label>
                                                <input type="text" class="text text-medium form-control" name="iagphone" value="{iagphone}" />
                                            </div>
                                        </div>
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <label>Fax</label>
                                                <input type="text" class="text text-medium form-control" name="iagfax" value="{iagfax}" />
                                            </div>
                                            <div class="form-group">
                                                <label>Operation Phone</label>
                                                <input type="text" class="text text-medium form-control" name="iagophone" value="{iagophone}" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Email <span class="text-danger">*</span></label>
                                            <input type="text" class="text text-large form-control" name="iagemail" value="{iagemail}" />
                                        </div>
                                        <div class="form-group">
                                            <label>Address</label>
                                            <textarea class="textarea text-large form-control" name="iagaddress">{iagaddress}</textarea>
                                        </div>
                                    </div>

                                    <div id="ground-handler" class="tab-pane fade">
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <label>Contact Person</label>
                                                <input type="text" class="text text-medium form-control" name="gagcp" value="{gagcp}" />
                                            </div>
                                            <div class="form-group">
                                                <label>Position</label>
                                                <input type="text" class="text text-medium form-control" name="gagposition" value="{gagposition}" />
                                            </div>
                                        </div>
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <label>Mobile Phone</label>
                                                <input type="text" class="text text-medium form-control" name="gagmobile" value="{gagmobile}" />
                                            </div>
                                            <div class="form-group">
                                                <label>Phone</label>
                                                <input type="text" class="text text-medium form-control" name="gagphone" value="{gagphone}" />
                                            </div>
                                        </div>
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <label>Fax</label>
                                                <input type="text" class="text text-medium form-control" name="gagfax" value="{gagfax}" />
                                            </div>
                                            <div class="form-group">
                                                <label>Operation Phone</label>
                                                <input type="text" class="text text-medium form-control" name="gagophone" value="{gagophone}" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="text" class="text text-large form-control" name="gagemail" value="{gagemail}" />
                                        </div>
                                        <div class="form-group">
                                            <label>Address</label>
                                            <textarea class="textarea text-large form-control" name="gagaddress">{gagaddress}</textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Sales Channel <span class="text-danger">*</span></label>
                                    <select class="select-option" name="chid" autocomplete="off">
                                        {chid}
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <h2>Rates</h2>
                            <div class="subfield">
                              <div class="form-group clearfix">
                                  <label>Rate if Validity Expired (%)</label>
                                  <input type="number" class="text text-small pull-left form-control" name="agpercentage" autocomplete="off" value="{agpercentage}" max="100" min="0" />
                                  <span style="margin-top:5px; display:inline-block;">&nbsp;&nbsp;Off from Publish&nbsp;&nbsp;</span>
                              </div>
                                <div class="form-group clearfix">
                                    <label>Rate Type</label>
                                    <select class="select-option" name="agtype" autocomplete="off">
                                        {agtype}
                                    </select>
                                    <a class="apply">Apply</a>
                                </div>
                                <div class="rate-wrapp net-rate {net_rate_cls}">
                                    <div class="form-group">
                                        <label>Rate Validity <span class="text-danger">*</span></label>
                                        <div class="net-date-validity-list-block">
                                            {agrate_validity}
                                        </div>
                                        <div class="net-rate-validity-action">
                                            <div class="form-group">
                                                <a href="{ajax_link}" class="add-new-rate-validity">Add new period</a>
                                                <img class="loader" src="{img_url}/loader.gif" alt="Loading..." width="100">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-inline">
                                        <div class="net-rate-price-list-block">
                                            {net_rate_list}
                                        </div>
                                    </div>
                                </div>
                                <div class="rate-wrapp freelance-code {freelance_cls}">
                                    <div class="form-group">
                                        <label>Code Validity <span class="text-danger">*</span></label>
                                        <div class="form-inline">
                                            <input type="text" class="text text-date text-medium form-control" name="agfvdatefrom" value="{agfvdatefrom}" placeholder="Date" readonly>
                                            <span>&nbsp;&nbsp;to&nbsp;&nbsp;</span>
                                            <input type="text" class="text text-date text-medium form-control" name="agfvdateto" value="{agfvdateto}" placeholder="Date" readonly>
                                        </div>
                                        <div class="checkbox">
                                            <input id="agfneverend" value="1" name="agfneverend" autocomplete="off" type="checkbox" {agfneverend_check} />
                                            <label for="agfneverend">Set unspecified for never-ending validity</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Commission from Publish Rate</label>
                                        <div class="form-inline">
                                            <div class="form-group no-margin-bottom">
                                                <input type="text" class="text text-medium form-control" name="agfcommission" value="{agfcommission}">
                                            </div>
                                            <div class="form-group no-margin-bottom">
                                                <select name="agfcommission_type" autocomplete="off">
                                                    {agfcommission_type}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Freelance Code <span class="text-danger">*</span></label>
                                        <input type="text" class="text text-medium form-control" name="agfreelance_code" value="{agfreelance_code}">
                                    </div>
                                </div>

                                <div class="form-group clearfix contract-wrapp">
                                    {agcontract}
                                </div>

                                <div class="form-group clearfix contract-wrapp">
                                    <label>Payment Type</label>
                                    <select name="agpayment_type" autocomplete="off">
                                        {agpayment_type}
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label>Cut Of Date</label>
                                <select class="select-option" name="agcod" autocomplete="off">
                                    {agcod}
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Sales Person</label>
                                <input type="text" class="text text-medium form-control" name="agsp" value="{agsp}" />
                            </div>
                            <div class="form-group no-margin-bottom">
                                <label>Always Topup Allotment</label>
                                <select class="select-option" name="agtopup" autocomplete="off">
                                    {agtopup}
                                </select>
                                <br/>
                                <div class="{topup_cls}">
                                    <label>Topup Allotment</label>
                                    <input type="text" class="text text-small form-control" name="agtopupval" value="{agtopupval}" />
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <h2>Agent Login</h2>
                            <div class="subfield">
                                <div class="form-group clearfix">
                                    <label>Username <span class="text-danger">*</span></label>
                                    <input type="text" class="text text-medium form-control" name="agusername" value="{agusername}" autocomplete="off" />
                                </div>
                                <div class="form-group clearfix">
                                    <label>Password <span class="text-danger">*</span></label>
                                    <p>Type password below if you need to a new one</p>
                                    <input type="password" class="text text-medium form-control" name="agpassword" value="{agpassword}" autocomplete="false" readonly onfocus="this.removeAttribute('readonly');" />
                                </div>
                                <div class="form-group clearfix">
                                    <label>Retype Password <span class="text-danger">*</span></label>
                                    <input type="password" class="text text-medium form-control" name="agrpassword" value="{agrpassword}" autocomplete="false" readonly onfocus="this.removeAttribute('readonly');" />
                                </div>
                                <div class="form-group clearfix">
                                    <label>Status</label>
                                    <select class="select-option" name="agstatus" autocomplete="off">
                                        {agstatus}
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-action clearfix">
                    	<button type="submit" class="btn-save pull-left" name="publish">Save Agent</button>
                    	<a class="cancel pull-left" href="{cancel_link}">Cancel</a>
                    	<a class="delete pull-right {delete_class}" href="{ajax_link}" data-state="booking-source" data-sub="agent">Delete</a>
                    </div>
                    <div class="form-note">
                        {last_update_note}
                    </div>
                </div>
            </div>
        </form>

        <script type="text/javascript">
            jQuery(document).ready(function(){
                jQuery('.form-action .delete').on('click', function(e){
                    var url = jQuery(this).attr('href');
                    var prm = new Object();
                        prm.pkey  = 'delete-agent';
                        prm.agid  = jQuery('[name=agid]').val();
                        prm.state = jQuery(this).data('state');
                        prm.sub   = jQuery(this).data('sub');

                    jQuery('<div></div>').dialog({
                        modal: true,
                        draggable: false,
                        resizable: false,
                        title: 'Notification',
                        open: function(){
                            jQuery(this).html('Are you sure want to delete this agent?');
                        },
                        buttons: {
                            Yes: function(){
                                var popup = jQuery(this);

                                jQuery.ajax({
                                    method: 'POST',
                                    url: url,
                                    data: prm,
                                    dataType : 'json',
                                    success: function(e){
                                        popup.dialog('close');

                                        if( e.result=='success' )
                                        {
                                            show_popup('Notification', 'This agent has been successfully deleted', 'window.location.assign("{cancel_link}")');
                                        }
                                        else if( e.result=='failed' )
                                        {
                                            show_popup('Warning', 'Sorry, This agent can\'t be deleted. Please try again later');
                                        }
                                    },
                                    error: function(e){
                                       popup.dialog('close');

                                       show_popup('Warning', 'Sorry, This agent can\'t be deleted. Please try again later');
                                    }
                                });
                            },
                            No: function(){
                                jQuery( this ).dialog('close');
                            }
                        }
                    });

                    return false;
                });

                jQuery('[name=agtopup]').on('change', function(e){
                    jQuery('[name=agtopupval]').parent().toggleClass('sr-only');
                });

                jQuery('.apply').on('click', function(e){
                    var type = jQuery('[name=agtype]').val();

                    if( type == 'Net Rate' )
                    {
                        jQuery('.net-rate').removeClass('sr-only');
                        jQuery('.freelance-code').addClass('sr-only');
                    }
                    else
                    {
                        jQuery('.net-rate').addClass('sr-only');
                        jQuery('.freelance-code').removeClass('sr-only');
                    }
                });

                jQuery('.add-new-rate-validity').on('click', function(e){
                    var loader = jQuery(this).parent().find('.loader');
                    var url    = jQuery(this).attr('href');
                    var prm    = new Object();
                        prm.pkey  = 'add-new-rate-validity-and-price';

                    loader.css('display', 'inline');

                    jQuery.ajax({
                        method: 'POST',
                        url: url,
                        data: prm,
                        dataType : 'json',
                        success: function(e){
                            loader.css('display', 'none');

                            jQuery('.net-date-validity-list-block').append(e.period);
                            jQuery('.net-rate-price-list-block').append(e.prices);

                            run_after_ajax_request();
                        },
                        error: function(e){
                            loader.css('display', 'none');

                            show_popup('Warning', 'Sorry, can\'t completed your request. Please try again later');
                        }
                    });

                    return false;
                });

                jQuery('.net-date-validity-list-block .form-inline').each(function(i, e){
                    var from   = jQuery(this).find('.text-date-from');
                    var to     = jQuery(this).find('.text-date-to');
                    var selidx = jQuery(this).index();

                    from.datepicker({
                        dateFormat:'dd MM yy',
                        onSelect: function(date){
                            var date   = from.datepicker('getDate');
                            var date2  = to.datepicker('getDate');

                            if( date2 == null )
                            {
                                to.datepicker('setDate', date);
                            }

                            to.datepicker('option', 'minDate', date);

                            if( jQuery( '.net-price-block:eq(' + selidx + ')' ).length > 0 )
                            {
                                var dtfrom = jQuery.datepicker.formatDate( 'dd MM yy', date );
                                var dtto   = jQuery.datepicker.formatDate( 'dd MM yy', date2 );

                                jQuery( '.net-price-block:eq(' + selidx + ')' ).find( 'h3' ).text( 'Period : ' + dtfrom + ' to ' + dtto );
                            }
                        }
                    });

                    to.datepicker({
                        dateFormat:'dd MM yy',
                        onClose: function(date){
                            var date   = to.datepicker('getDate');
                            var date2  = from.datepicker('getDate');

                            if( date2 == null )
                            {
                                from.datepicker('setDate', date);
                            }

                            from.datepicker('option', 'maxDate', date);

                            if( jQuery( '.net-price-block:eq(' + selidx + ')' ).length > 0 )
                            {
                                var dtfrom = jQuery.datepicker.formatDate( 'dd MM yy', date2 );
                                var dtto   = jQuery.datepicker.formatDate( 'dd MM yy', date );

                                jQuery( '.net-price-block:eq(' + selidx + ')' ).find( 'h3' ).text( 'Period : ' + dtfrom + ' to ' + dtto );
                            }
                        }
                    });
                });

                jQuery('[name=agfvdatefrom]').datepicker({
                    dateFormat:'dd MM yy',
                    onSelect: function(date){
                        var date2 = jQuery('[name=agfvdateto]').datepicker('getDate');

                        if( date2 == null )
                        {
                            jQuery('[name=agfvdateto]').datepicker('setDate', date);
                        }

                        jQuery('[name=agfvdateto]').datepicker('option', 'minDate', date);
                    }
                });

                jQuery('[name=agfvdateto]').datepicker({
                    dateFormat:'dd MM yy',
                    onClose: function(date){
                        var date2 = jQuery('[name=agfvdatefrom]').datepicker('getDate');

                        if( date2 == null )
                        {
                            jQuery('[name=agfvdatefrom]').datepicker('setDate', date);
                        }

                        jQuery('[name=agfvdatefrom]').datepicker('option', 'maxDate', date);
                    }
                });

                jQuery('[name=contract_file]').change(function(e){
                    jQuery.each(e.currentTarget.files, function(i, el){
                        var data = new FormData();
                            data.append('pkey', 'add-contract-file');
                            data.append('agid', jQuery('[name=agid]').val());
                            data.append('file_name', el);

                        jQuery.ajax({
                            method: 'POST',
                            url: '{ajax_link}',
                            data: data,
                            dataType : 'json',
                            async: true,
                            cache: false,
                            timeout: 60000,
                            contentType: false,
                            processData: false,
                            success: function( e ) {
                                if( e.result=='success' )
                                {
                                    $ncontent =
                                    '<div class="inner">'+
                                        '<div class="form-group">'+
                                            '<label>Contract Type</label>'+
                                            '<select class="select-option" name="agcontract['+ e.index +'][type]" autocomplete="off">'+
                                                '<option value="Ad Hoc">Ad Hoc</option>'+
                                                '<option value="LOA">LOA</option>'+
                                            '</select>'+
                                            '<figure class="contract-file">'+
                                                '<img src="../l-plugins/ticket/images/contract.svg" alt="Contract">'+
                                            '</figure>'+
                                            '<div class="link-action">'+
                                                '<a class="view-contract" href="'+ e.fileloc +'" target="_blank">View Contract</a>'+
                                                '<a class="delete-contract" data-index="'+ e.index +'" data-filename="'+ e.filename +'">Delete Contract</a>'+
                                                '<input type="text" class="sr-only" name="agcontract['+ e.index +'][filename]" value="'+ e.filename +'" autocomplete="off">'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>';

                                    jQuery('.contract-file-list').append( $ncontent );

                                    delete_contract_file();
                                }
                                else
                                {
                                    show_popup( 'Warning', e.message );
                                }
                            },
                            error: function( e ) {
                                show_popup('Warning', 'Failed to add new contract');
                            }
                        });
                    });
                });

                delete_date_validity();
                delete_contract_file();
                init_rate_category_func();
            });

            function init_rate_category_func()
            {
                jQuery('.select-rate-category').chosen({ max_selected_options:10, search_contains:true });
                jQuery('.select-rate-category').on('change', function(e){
                    var sel = jQuery(this).parent();
                    var url = '{ajax_link}';
                    var prm = new Object;
                        prm.pkey  = 'set-rate-by-rate-category';
                        prm.rctid = jQuery(this).val();

                    jQuery.ajax({
                        method: 'POST',
                        url: url,
                        data: prm,
                        dataType : 'json',
                        success: function(e){
                            if( e.result == 'success' )
                            {
                                sel.find('.table-net-rate-wrapp').html( e.content );
                            }
                            else
                            {
                               show_popup('Warning', 'Sorry, Can\'t set the rate by this category. Please try again later');

                               jQuery('.select-rate-category').val('').trigger('chosen:updated');
                            }
                        },
                        error: function(e){
                           show_popup('Warning', 'Sorry, Can\'t set the rate by this category. Please try again later');

                           jQuery('.select-rate-category').val('').trigger('chosen:updated');
                        }
                    });
                });
            }

            function delete_date_validity()
            {
                jQuery('.delete-date').unbind('click');
                jQuery('.delete-date').on('click', function(e){
                    var sel  = jQuery(this).parent().parent();
                    var id   = jQuery(this).data('id');
                    var to   = jQuery(this).data('to');
                    var from = jQuery(this).data('from');

                    if( id != '' )
                    {
                        jQuery('<div></div>').dialog({
                            resizable: false,
                            height: 'auto',
                            modal: true,
                            width: 400,
                            title: 'Delete Rate Validity',
                            open: function(){
                                jQuery(this).html('Are you sure want to delete this rate validity?');
                            },
                            buttons:{
                                Yes: function(){
                                    var dlg = jQuery(this);
                                    var prm = new Object();
                                        prm.pkey = 'delete-rate-validity';
                                        prm.agid = id;
                                        prm.agvdatefrom = from;
                                        prm.agvdateto   = to;

                                    jQuery.ajax({
                                        method: 'POST',
                                        url: '{ajax_link}',
                                        data: prm,
                                        dataType : 'json',
                                        success: function( e ){
                                            dlg.dialog('close');

                                            if( e.result = 'success' )
                                            {
                                                show_popup('Notification', 'Successfully remove this rate validity from list', 'location.reload()');
                                            }
                                            else
                                            {
                                                show_popup('Warning', 'Sorry you can\'t remove rate validity. Please try again later');
                                            }
                                        },
                                        error: function( e ){
                                            dlg.dialog('close');

                                            show_popup('Warning', 'Sorry you can\'t remove rate validity. Please try again later');
                                        }
                                    });
                                },
                                No: function(){
                                    jQuery(this).dialog('close');
                                }
                            }
                        });
                    }
                    else
                    {
                        sel.remove();

                        jQuery('.net-rate-price-list-block .net-price-block:eq(' + sel.parent().index() + ')').remove();
                    }
                });
            }

            function run_after_ajax_request()
            {
                delete_date_validity();
                init_rate_category_func();

                var from   = jQuery('.net-date-validity-list-block .form-inline:last-child .text-date-from');
                var to     = jQuery('.net-date-validity-list-block .form-inline:last-child .text-date-to');
                var selidx = jQuery('.net-date-validity-list-block .form-inline:last-child').index();

                from.datepicker({
                    dateFormat:'dd MM yy',
                    onSelect: function(date){
                        var date   = from.datepicker('getDate');
                        var date2  = to.datepicker('getDate');

                        if( date2 == null )
                        {
                            to.datepicker('setDate', date);
                        }

                        to.datepicker('option', 'minDate', date);

                        if( jQuery( '.net-price-block:eq(' + selidx + ')' ).length > 0 )
                        {
                            var dtfrom = jQuery.datepicker.formatDate( 'dd MM yy', date );
                            var dtto   = jQuery.datepicker.formatDate( 'dd MM yy', date2 );

                            jQuery( '.net-price-block:eq(' + selidx + ')' ).find( 'h3' ).text( 'Period : ' + dtfrom + ' to ' + dtto );
                        }
                    }
                });

                to.datepicker({
                    dateFormat:'dd MM yy',
                    onSelect: function(date){
                        var date   = to.datepicker('getDate');
                        var date2  = from.datepicker('getDate');

                        if( date2 == null )
                        {
                            from.datepicker('setDate', date);
                        }

                        from.datepicker('option', 'maxDate', date);

                        if( jQuery( '.net-price-block:eq(' + selidx + ')' ).length > 0 )
                        {
                            var dtfrom = jQuery.datepicker.formatDate( 'dd MM yy', date2 );
                            var dtto   = jQuery.datepicker.formatDate( 'dd MM yy', date );

                            jQuery( '.net-price-block:eq(' + selidx + ')' ).find( 'h3' ).text( 'Period : ' + dtfrom + ' to ' + dtto );
                        }
                    }
                });
            }

            function delete_contract_file()
            {
                jQuery('.delete-contract').unbind();
                jQuery('.delete-contract').on('click', function(){
                    var sel = jQuery(this).parent().parent();
                    var prm = new Object();
                        prm.pkey = 'delete-contract-file';
                        prm.idx  = jQuery(this).data('index');
                        prm.file = jQuery(this).data('filename');
                        prm.agid = jQuery('[name=agid]').val();

                    jQuery('<div></div>').dialog({
                        modal: true,
                        draggable: false,
                        resizable: false,
                        title: 'Notification',
                        open: function(){
                            jQuery(this).html('Are you sure want to delete this contract file?');
                        },
                        buttons: {
                            Yes: function(){
                                var popup = jQuery(this);

                                jQuery.ajax({
                                    method: 'POST',
                                    url: '{ajax_link}',
                                    data: prm,
                                    dataType : 'json',
                                    success: function(e){
                                        popup.dialog('close');

                                        if( e.result=='success' )
                                        {
                                            sel.fadeOut(200, function(){
                                                jQuery(this).remove();
                                                show_popup('Notification', 'This contract file has been successfully deleted');
                                            });
                                        }
                                        else if( e.result=='failed' )
                                        {
                                            show_popup('Warning', 'Sorry, This contract file can\'t be deleted. Please try again later');
                                        }
                                    },
                                    error: function(e){
                                       popup.dialog('close');

                                       show_popup('Warning', 'Sorry, This contract file can\'t be deleted. Please try again later');
                                    }
                                });
                            },
                            No: function(){
                                jQuery( this ).dialog('close');
                            }
                        }
                    });

                    return false;
                });
            }
        </script>
    </div>
</div>

<!-- END form-block -->
