<!-- BEGIN list-block -->

<div class="wrapper-block agent-block">
    <div class="container-fluid">
        <form action="{action}" method="post">
            <div class="row">
                <div class="col-md-8"> 
                    <h1>Manage Agent</h1>
                </div>
                <div class="col-md-4">
                    <div class="button-box clearfix">
                        <button type="submit" class="button btn-delete disabled" name="delete" value="Delete" disabled="disabled">Delete Agent</button>
                        <button type="button" class="button btn-add" name="add_new" onclick="location.href='{add_new_link}';">New Agent</button>
                    </div>
                </div>
            </div>
            <div class="row">     
                <div class="col-md-12"> 
                    <div class="filter-box clearfix">
                        <div class="row">          
                            <div class="col-md-8">                   
                                <div class="form-inline filter-wrapp clearfix">
                                    <div class="form-group">
                                        <span class="text">Filter</span>
                                        <select class="select-option" name="chid" autocomplete="off">
                                            {channel_option}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select class="select-option" name="agsp" autocomplete="off">
                                            {sales_person_option}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input name="filter" type="submit" value="Filter" class="filters">
                                    </div>
                                    <div class="form-group">
                                        <input name="export_csv" type="button" value="Export as CSV" class="export">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="search-box clearfix">
                                    <input type="text" name="sagent" class="searchtext" placeholder="Search" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-block">
                        <table id="agent-table" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="15" data-orderable="false"><input type="checkbox" name="check_all" autocomplete="off" /></th>
                                    <th>Agent Name</th>
                                    <th>Address</th>
                                    <th width="120">Rate Type</th>
                                    <th width="150" data-orderable="false">Rate Valid To</th>
                                    <th>Sales Channel</th>
                                    <th width="120">Payment Type</th>
                                    <th>Status</th>
                                    <th width="120">Sales Person</th>
                                </tr>
                            </thead>
                            <tbody>
                                {list}
                            </tbody>
                        </table>

                        {paging}
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery('[name=chid]').chosen({ max_selected_options:10, search_contains:true, placeholder_text_single:'Select Channel' });
            jQuery('[name=agsp]').chosen({ max_selected_options:10, search_contains:true, placeholder_text_single:'Select Sales Person' });

            jQuery('[name=export_csv]').unbind();
            jQuery('[name=export_csv]').on('click', function(){
                window.open('', '_blank').location.href = '{site_url}/agent-export-csv?filter={filter}';
                return false;
            });

            set_agent_table();
        });

        function set_agent_table()
        {
            var table = jQuery('#agent-table').DataTable({
                dom          : '<"row"<"col-xs-5 col-sm-6"l><"col-xs-7 col-sm-6 text-right">r>t<"row"<"col-md-12"i><"col-md-12 text-center"p>>',
                pageLength   : parseInt('{limit}'),
                lengthChange : false,
                info         : false,
                processing   : true,
                serverSide   : true,
                searching    : true,
                deferRender  : true,
                order        : [],
                ajax         : {
                    url  : '{ajax_link}',
                    type : 'POST',
                    data : { 
                        pkey : 'load-data',
                        chid : jQuery('[name=chid]').val(), 
                        agsp : jQuery('[name=agsp]').val(),
                    }
                },
                columns: [
                    {
                        data: 'agid', render: function ( data, type, row ){
                            var html = '<input type="checkbox" name="select[]" autocomplete="off" value="' + data + '" />';

                            return html;
                        }
                    },
                    { 
                        data: 'agname', render: function ( data, type, row ) {
                            var html = data +
                            '<p>'+
                                '<a id="edit-' + row.agid + '" rel="' + row.agid + '" href="' + row.view_link + '">View  &raquo;</a>'+
                                '<a id="delete-' + row.agid + '" rel="' + row.agid + '" href="javascript:;" class="delete-agent" data-state="booking-source" data-sub="agent">Delete &raquo;</a>'+
                            '</p>';

                            return html;
                        }
                    },
                    { 
                        data: 'agaddress', render: function ( data, type, row ) {
                            var html =                             
                            '<p>' + data + '</p>'+
                            '<a href="mailto:' + row.agemail + '">' + row.agemail + '</a>'+
                            '<p>' + row.agphone + '</p>';

                            return html;
                        }
                    },
                    {
                        data: 'agtype', render: function ( data, type, row ){
                            return data;
                        }
                    },
                    {
                        data: 'agvalidto', render: function ( data, type, row ){
                            return data;
                        }
                    },
                    {
                        data: 'agchanel', render: function ( data, type, row ){
                            return data;
                        }
                    },
                    {
                        data: 'agpayment_type', render: function ( data, type, row ){
                            return data;
                        }
                    },
                    {
                        data: 'agstatus', render: function ( data, type, row ){
                            return data;
                        }
                    },
                    {
                        data: 'agsp', render: function ( data, type, row ){
                            return data;
                        }
                    }
                ]
            });

            table.on( 'draw.dt', function () {
                action_link_func( table );
            });

            table.on( 'page.dt', function () {
                start = table.page.info().start;
            });

            jQuery('[name=sagent]').on('keyup', function(){
                table.search( this.value ).draw() ;
            });
        }

        function action_link_func( table )
        {
            jQuery('.delete-agent').unbind();
            jQuery('.delete-agent').on('click', function(){
                var url = '{ajax_link}';
                var prm         = new Object();
                    prm.pkey    = 'delete-agent';
                    prm.agid    = jQuery(this).attr('rel');
                    prm.state   = jQuery(this).data('state');
                    prm.sub     = jQuery(this).data('sub');

                jQuery('<div></div>').dialog({
                    modal: true,
                    draggable: false,
                    resizable: false,
                    title: 'Notification',
                    open: function(){
                        jQuery(this).html('Are you sure want to delete this agent?');
                    },
                    buttons: {
                        Yes: function(){
                            var popup = jQuery(this);

                            jQuery.ajax({
                                method: 'POST',
                                url: url,
                                data: prm,
                                dataType : 'json',
                                success: function(e){
                                    popup.dialog('close');

                                    if( e.result=='success' )
                                    {                             
                                        table.ajax.reload(function(){
                                            action_link_func( table );                                            
                                            show_popup('Notification', 'This agent has been successfully deleted');
                                        }, false);
                                    }
                                    else if( e.result=='failed' )
                                    {
                                        show_popup('Warning', 'Sorry, This agent can\'t be deleted. Please try again later');
                                    }
                                },
                                error: function(e){
                                   popup.dialog('close');

                                   show_popup('Warning', 'Sorry, This agent can\'t be deleted. Please try again later');
                                }
                            });
                        },
                        No: function(){
                            jQuery( this ).dialog('close');
                        }
                    }
                });
            });
        }
    </script>
</div>

<!-- END list-block -->