<!-- BEGIN detail-block -->

<div class="wrapper-block detail-booking-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="dbform">
            <div class="row">
                <div class="col-md-12"> 
                    <h1>Booking Details</h1>
                </div>
            </div>

            <div class="row">
            	<div class="col-md-12">
            		<div class="booking-reference form-block">
            			<h2>Booking By</h2>
            			<div class="row">
            				<div class="col-md-6">
            					<h3>Agent</h3>
                                <div class="agent-detail">
                                    <strong>{agname}</strong>
                                    <p>
                                        {agaddress}<br/>
                                        Ph: {agphone}
                                    </p>
                                </div>
                                <div class="form-group sr-only">
                                    <label>Sub Agent</label>
                                    <select class="select-option" name="sagid">
                                        {sub_agent_option}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Booking Staf <small>*</small></label>
                                    <input type="text" class="text form-control required" name="booking_staf">
                                </div>
                                <div class="form-group">
                                    <label>Email <small>*</small></label>
                                    <input type="text" class="text text-email form-control required" name="email" value="{email}" />
                                </div>
            				</div>
            				<div class="col-md-6">
            					<h3>Additional Info</h3>
            					<div class="form-group">
            						<label>Reservation Type <small>*</small></label>
									<select class="select-option" name="rev_type">
										<option value="FIT">FIT</option>
										<option value="Group">Group</option>
										<option value="Charter">Charter</option>
									</select>
            					</div>
            					<div class="form-group sr-only">
            						<label>Reservation Status <small>*</small></label>
                                    <input type="text" class="text form-control" name="rev_status" value="Tentative" readonly="readonly">
            					</div>
            					<div class="form-group">
            						<label>Reference (Agent Code)</label>
            						<input type="text" class="text form-control" name="agent_code" />
            					</div>
								<div class="form-group">
									<label>Guest Email</label>
									<input type="text" class="text form-control" name="gemail" />
								</div>
								<div class="form-group">
									<label>Guest Mobile</label>
									<input type="text" class="text form-control" name="gmobile" />
								</div>
            				</div>
            			</div>
            		</div>
            	</div>
            </div>
            <div class="row row-relative">
            	<div class="col-md-8">
            		<div class="guest-detail form-block">
            			<h2>Guest Detail</h2>
            			<div class="wrapp-detail departure-detail">
							<h3>{depart_from_port} ({depart_etd}) to {depart_to_port} ({depart_eta})</h3>
							<p>Departure, {depart_date_format} ( {depart_passenger} )</p>
							<ul class="field-list">{depart_passenger_field_list}</ul>
            			</div>
            			<div class="wrapp-detail return-detail {return_css}">
							<h3>{return_from_port} ({return_etd}) to {return_to_port} ({return_eta})</h3>
							<p>Return, {return_date_format} ( {return_passenger} )</p>
							<a class="same-info">Same as above information</a>
							<ul class="field-list">{return_passenger_field_list}</ul>
            			</div>

                        {depart_transport_detail}

            			<div class="wrapp-detail other-detail {suggestion_accommodation_style}">
							<h3>Accommodation in {suggestion_accommodation_area}</h3>
                            {suggestion_accommodation}
            			</div>

                        {return_transport_detail}
            		</div>

            		<div class="term-conditions-block">
                        <div class="opt-btn">
                            <input type="checkbox" name="term_conditions" autocomplete="off" value="1">
                            <label>I have read and agreed to the Terms &amp; Conditions</label>
                        </div>
                        <input type="text" name="phone2" value="" class="sr-only">
                        <input type="text" name="remark" value="" class="sr-only">
                        <input type="text" name="bbcountry" value="" class="sr-only">
                        <input type="text" name="agid" value="{agid}" class="sr-only">
                        <input type="text" name="phone" value="{phone}" class="sr-only">
                        <input type="text" name="blocking_time" value="" class="sr-only">
                        <!--input type="text" name="status" value="pp" class="sr-only"-->
                        <input type="text" name="payment" value="{payment}" class="sr-only">
                        <input type="text" name="sess_id" value="{sess_id}" class="sr-only">
                        <input type="text" name="full_name" value="{full_name}" class="sr-only">
    					<input type="submit" value="Add Booking" name="add_booking" class="add-booking">
            		</div>
            	</div>
            	<div class="col-md-4">
            		<div class="trip-detail">
            			<h2>The Trip</h2>
            			<ul>
            				<li>
            					<p><b>{depart_from_port} to {depart_to_port}</b><br />Departure, {depart_date_format}</p>
            					<ul>
		            				<li><p><b>Departure</b><br />{depart_from_port} at {depart_etd}</p></li>
		            				<li><p><b>Arrival</b><br />{depart_to_port} at {depart_eta}</p></li>
		            				<li><p><b>Passenger</b><br />{depart_passenger}</p></li>
		            				<li><p><b>Boat</b><br />{depart_boat_name}</p></li>
                                    {depart_transport}
            					</ul>
            				</li>
            				<li class="{return_css}">
            					<p><b>{return_from_port} to {return_to_port}</b><br />Return, {return_date_format}</p>
            					<ul>
		            				<li><p><b>Departure</b><br />{return_from_port} at {return_etd}</p></li>
		            				<li><p><b>Arrival</b><br />{return_to_port} at {return_eta}</p></li>
		            				<li><p><b>Passenger</b><br />{return_passenger}</p></li>
		            				<li><p><b>Boat</b><br />{return_boat_name}</p></li>
                                    {return_transport}
            					</ul>
            				</li>
            				<li><p class="price"><b>Grand Total</b><br />IDR {grand_total_price}</p></li>
            			</ul>
            		</div>
            	</div>
            </div>
        </form>
        <div class="sr-only">
            <input type="text" class="form-control" name="dprt_date" value="{d_date}">
        </div>

        <script type="text/javascript">
            function scroll_to_anchor()
            {
                jQuery('html, body').animate({
                    scrollTop: jQuery('.has-error:eq(0)').offset().top - 50
                }, 500);
            }

            function validate_booking_detail()
            {
                var error = 0;

                jQuery('.required').each(function(i, e){
                    var vals = jQuery(this).val();

                    if(  vals == '' )
                    {
                        jQuery(this).parent().addClass('has-error');
                        error++;
                    }
                    else
                    {
                        if( jQuery(this).hasClass('text-email') && !validate_email( vals ) )
                        {
                            jQuery(this).parent().addClass('has-error');
                            error++;
                        }
                    }
                });

                if( error == 0 )
                {
                    if( jQuery('[name=term_conditions]:checked').length == 0 )
                    {
                        show_popup('Warning', 'Please read and agreed to our terms & conditions before submited Your booking');
                    }
                    else
                    {
                        return true;
                    }
                }
                else
                {
                    show_popup('Warning', 'Please check again your data before submited request, some of field may be empty or not valid', 'scroll_to_anchor()');

                    return false;
                }
            }

            jQuery(document).ready(function(){
        		jQuery('.select-option').chosen({ max_selected_options:10, search_contains:true });

		        var dt = jQuery('[name=dprt_date]').val();

                var maxAdult = new Date( dt );
                    maxAdult.setFullYear(maxAdult.getFullYear() - 11);
                    maxAdult.setMonth(maxAdult.getMonth() - 12);
                    maxAdult.setDate(maxAdult.getDate() - 1);

                var maxChild = new Date( dt );
                    maxChild.setFullYear(maxChild.getFullYear() - 12);
                var minChild = new Date( dt );
                    minChild.setFullYear(minChild.getFullYear() - 3);

                var minInfant = new Date( dt );
                    minInfant.setFullYear(minInfant.getFullYear() - 3);
                    minInfant.setDate(minInfant.getDate() + 1);
                var maxInfant = new Date( dt );
                    maxInfant.setFullYear(maxInfant.getFullYear());

                jQuery('.date').datepicker({
                    dateFormat:'dd MM yy',
                    changeMonth: true,
                    changeYear: true,
                    maxDate: maxAdult, //'-1D -12M -11Y', /* D(day) M(Month) Y(Year) */
                    yearRange: '-100:+0',
                    defaultDate: '01 January 1985'
                });

                jQuery('.date-child').datepicker({
                    dateFormat:'dd MM yy',
                    changeMonth: true,
                    changeYear: true,
                    minDate: maxChild,
                    maxDate: minChild
                });

                jQuery('.date-infant').datepicker({
                    dateFormat:'dd MM yy',
                    changeMonth: true,
                    changeYear: true,
                    minDate: minInfant,
                    maxDate: maxInfant,
                    yearRange: '-10:+0'
                });

                jQuery('.required').on('focusin', function(){
                    jQuery(this).parent().removeClass('has-error');
                });

                jQuery('.select-option').chosen().on('change', function(evt, params){
                    jQuery(this).parent().removeClass('has-error');
                });

                jQuery('.same-info').unbind();
                jQuery('.same-info').on('click', function(){
                    jQuery('.departure-detail .field-list .field-item').each(function(i, e){
                        var obj = new Object();
                            obj.name        = jQuery(this).find('.full-name').find('input').val();
                            obj.gender      = jQuery(this).find('.gender').find('input:checked').val();
                            obj.birthday    = jQuery(this).find('.birthday').find('input').val();
                            obj.nationality = jQuery(this).find('.nationality').find('select').val();

                        jQuery('.return-detail .field-list li:eq('+i+') .full-name input').val(obj.name);
                        jQuery('.return-detail .field-list li:eq('+i+') .birthday input').val(obj.birthday);
                        jQuery('.return-detail .field-list li:eq('+i+') .gender input[value='+obj.gender+']').prop('checked', true);
                        jQuery('.return-detail .field-list li:eq('+i+') .nationality select').val(obj.nationality).trigger('chosen:updated');
                    });
                });

                jQuery('[name=add_booking]').on('click', function(){
                    if( validate_booking_detail() )
                    {
                        return true;
                    }

                    return false;
                });
        	});

        	jQuery(function() {
			    var sidebar   = jQuery('.trip-detail');
			    var offset    = jQuery('.trip-detail').offset();
			    var width     = sidebar.innerWidth();

			    jQuery(window).scroll(function() {
			        if( jQuery(this).scrollTop() > offset.top )
			        {
			            sidebar.css({ 'position':'fixed', 'width':width+'px', 'top':'-30px' });
			        }
			        else
			        {
			            sidebar.css({ 'position':'static', 'width':'auto', 'top':'0' });
			        }
			    });
			});
        </script>
    </div>
</div>

<!-- END detail-block -->