<!-- BEGIN review-block -->

<div class="wrapper-block review-booking-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="rvform">
        	<div class="overlay">
        		<img src="{img_url}/loader.gif" alt="Loading..." width="100">
        	</div>
            <div class="row">
                <div class="col-md-12"> 
                    <h1>Reservation</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
					<div id="departure-{depart_rid}" class="item col-md-12">
						<div class="row row-eq-height">
							<div class="col col-md-10 top-title">
								<p>{depart_route}</p>
							</div>
							<div class="col col-md-2 top-date">
								<p class="text-right">Departure, {depart_date_format}</p>
							</div>
						</div>
						<div class="row row-eq-height">
							<div class="col-md-10 shadow">
								<div class="row">
									<div class="col col-md-12 title">
										<p>{depart_boat_name}</p>
									</div>
								</div>
								<div class="row row-detail row-eq-height">
									<div class="col col-md-4">
										<p class="subtitle route">Route</p>
										<ul class="route-list">
											{depart_route_list}
										</ul>
									</div>
									<div class="col col-md-2">
										<p class="subtitle passenger">Passenger</p>
										{depart_passenger_number}
									</div>
									<div class="col col-md-2">
										<p class="subtitle transport">Transport</p>
										{depart_trans}
									</div>
									<div class="col col-md-4">
										<p class="subtitle rate">Rate</p>
										{depart_rate_price}
									</div>
								</div>
							</div>
							<div class="col col-md-2 price">
								<div class="tb">
									<div class="tb-c">
										<small>Total Price</small>
										{depart_price_disc_num}
										<p class="ptotal">{depart_price_num}</p>
									</div>
								</div>
							</div>
						</div>

                        {depart_pickup_transport}
                        {depart_add_ons}
					</div>
					<div id="return-{return_rid}" class="item col-md-12 {return_css}">
						<div class="row row-eq-height">
							<div class="col col-md-10 top-title">
								<p>{return_route}</p>
							</div>
							<div class="col col-md-2 top-date">
								<p class="text-right">Return, {return_date_format}</p>
							</div>
						</div>
						<div class="row row-eq-height">
							<div class="col-md-10 shadow">
								<div class="row">
									<div class="col col-md-12 title">
										<p>{return_boat_name}</p>
									</div>
								</div>
								<div class="row row-detail row-eq-height">
									<div class="col col-md-4">
										<p class="subtitle route">Route</p>
										<ul class="route-list">
											{return_route_list}
										</ul>
									</div>
									<div class="col col-md-2">
										<p class="subtitle passenger">Passenger</p>
										{return_passenger_number}
									</div>
									<div class="col col-md-2">
										<p class="subtitle transport">Transport</p>
										{return_trans}
									</div>
									<div class="col col-md-4">
										<p class="subtitle rate">Rate</p>
										{return_rate_price}
									</div>
								</div>
							</div>
                            <div class="col col-md-2 price">
                                <div class="tb">
                                    <div class="tb-c">
                                        <small>Total Price</small>
                                        {return_price_disc_num}
                                        <p class="ptotal">{return_price_num}</p>
                                    </div>
                                </div>
                            </div>
						</div>
                        
                        {return_dropoff_transport}
                        {return_add_ons}
					</div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
		            {message}
		        </div>
		    </div>

            <div class="row">
                <div class="col-md-12">
                	<div class="subtotal {discount_css}">
                		<div class="row">
                			<div class="col-md-9">
                				<p>Subtotal</p>                				
                			</div>
                			<div class="col-md-3">
                				<b class="sub">IDR {subtotal_num}</b>
                			</div>
                		</div>
                	</div>
                	<div class="discount {discount_css}">
                		<div class="row">
                			<div class="col-md-9">
                				<p>Discount</p>                				
                			</div>
                			<div class="col-md-3">
                				<b class="disc">IDR {discount_price_num}</b>
                				<small>{promo_code}</small>
                				<a class="delete-promo">delete</a>
                			</div>
                		</div>
                	</div>
                	<div class="freelance-code {freelance_code_css}">
                		<div class="row">
                			<div class="col-md-9">
                				<p>Freelance Code</p>                				
                			</div>
                			<div class="col-md-3">
                				<b class="disc">{promo_code}</b>
                                <a class="delete-freelance-code">delete</a>
                			</div>
                		</div>
                	</div>
                	<div class="grand-total">
                		<div class="row">
                			<div class="col-md-9">
                				<p>Grand Total</p>
                			</div>
                			<div class="col-md-3">
                				<b class="gtotal">IDR {grand_total_price}</b>
                			</div>
                		</div>
                	</div>
                	<div class="promo-code">
                		<div class="row">
                			<div class="col-md-9">
                				<p>Promotional Code</p>
                			</div>
                			<div class="col-md-3">
                				<div class="p-code clearfix">
	                				<input type="text" name="pcode">
	                				<a class="apply">Apply</a>
	                			</div>
                			</div>
                		</div>
                	</div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                	<div class="actions clearfix">
                		<input type="text" name="sess_id" value="{sess_id}" class="sr-only">
                		<input class="submit" type="submit" name="detail_booking" value="Continue Reservation" disabled>
                	</div>
                </div>
            </div>
        </form>

        <script type="text/javascript">

            function add_transport( sel, taid, trip_type, type, pdtype, hotel, fee, nfee, airport, rpfrom, rpto )
            {
                var prm = new Object;
                    prm.pkey    = 'add-transport';
                    prm.sid     = '{sess_id}';
                    prm.type    = trip_type;
                    prm.airport = airport;
                    prm.pdtype  = pdtype;
                    prm.rpfrom  = rpfrom;
                    prm.hotel   = hotel;
                    prm.rpto    = rpto;
                    prm.taid    = taid;
                    prm.ttype   = type;
                    prm.fee     = fee;

                jQuery.ajax({
                    method: 'POST',
                    url: '{ajax_link}',
                    data: prm,
                    dataType : 'json',
                    beforeSend: function( xhr ) {
        				jQuery('.overlay').fadeIn(200);
                    },
                    success: function(e){
                        if( e.result=='success' )
                        {
                            if( type == 1 )
                            {
                                sel.parents('.row-eq-height').find('.price .'+ pdtype +'-trans-fee').val( fee );
                                sel.parents('.row-eq-height').find('.price .'+ pdtype +'-trans p').text( nfee );
                            }
                            else
                            {
                                sel.parents('.row-eq-height').find('.price .'+ pdtype +'-trans-fee').val( 0 );
                                sel.parents('.row-eq-height').find('.price .'+ pdtype +'-trans p').text( 'Free' );
                            }

                            if( airport == 1 )
                            {
                                sel.parent().find('.flight-time').removeClass('sr-only');
                                sel.parent().find('.flight-time .trans-airport').val(1);
                            }
                            else
                            {
                                sel.parent().find('.flight-time').addClass('sr-only');
                                sel.parent().find('.flight-time .trans-ftime').val('');
                                sel.parent().find('.flight-time .trans-airport').val(0);
                            }

                            sel.parent().parent().find('.trans-rpto').val( rpto );
                            sel.parent().parent().find('.trans-rpfrom').val( rpfrom );

                            if( e.promo_code == '' )
                            {
                                jQuery('.subtotal').addClass('sr-only');
                                jQuery('.discount').addClass('sr-only');

                                jQuery('.discount .disc').text('');
                                jQuery('.discount small').text('');
                            }
                            else
                            {
                                jQuery('.subtotal').removeClass('sr-only');
                                jQuery('.discount').removeClass('sr-only');

                                jQuery('.discount .disc').text( 'IDR ' + e.discount_num );
                                jQuery('.discount small').text( 'Promo Code : ' + e.promo_code );
                            }

                            jQuery('.subtotal .sub').text( 'IDR ' + e.subtotal_num );
                            jQuery('.grand-total .gtotal' ).text( 'IDR '+ e.grandtotal_num );
                        }
                        else
                        {
                            show_popup('Warning', 'Something Wrong!!');
                        }
                    },
                    error: function(e){
                        show_popup('Warning', 'Something Wrong!!');
                    }
                }).always(function(){
	                jQuery('.overlay').fadeOut(200);
                    jQuery('.review-booking-block .message').css('display', 'none');
                });
        	}

            function add_add_ons( trip_type )
            {
                var prm = new Object;
                    prm.pkey   = 'add-add-ons';
                    prm.sid    = '{sess_id}';
                    prm.addons = new Array;

                jQuery('.add-ons-check:checked').each(function(i, e){
                    prm.addons.push({
                        id: jQuery(this).val(),
                        type: jQuery(this).data('trip'),
                        notes: jQuery(this).parent().parent().find('.add-ons-notes').val(), 
                        price: jQuery(this).parent().parent().find('.add-ons-price').val(), 
                        paxs:  jQuery(this).parent().parent().find('.add-ons-pax').val()
                    });
                });

                jQuery.ajax({
                    method: 'POST',
                    url: '{ajax_link}',
                    data: prm,
                    dataType : 'json',
                    beforeSend: function( xhr ) {
                        jQuery('.your-trip-overlay').fadeIn(200);
                    },
                    success: function(e){
                        if( e.result=='success' )
                        {
                            jQuery('.addons-price-departure').text( e.dep_addons );
                            jQuery('.addons-price-return').text( e.rtn_addons );

                            jQuery('.subtotal .sub').text( 'IDR ' + e.subtotal_num );
                            jQuery('.grand-total .gtotal' ).text( 'IDR '+ e.grandtotal_num );
                        }
                        else
                        {
                            show_popup('Warning', 'Something Wrong!!');
                        }
                    },
                    error: function(e){
                        show_popup('Warning', 'Something Wrong!!');
                    }
                }).always(function(){
                    jQuery('.your-trip-overlay').fadeOut(200);
                });
            }

            function init_transport_func()
            {
                if( jQuery('.add-ons-check').length > 0 )
                {
                    jQuery('.transport-type').each(function(i, e){
                        var sel = jQuery(this);

                        jQuery(this).parents('.item').find('.add-ons-check:checked').each(function(ii, ee){
                            if( jQuery(this).data('aotype') == 1 )
                            {
                                sel.find('option[value!=1]').prop('disabled', true).trigger('chosen:updated');

                                return false;
                            }
                        });
                    });
                }
                
                jQuery('.transport-type').on('change', function(e){
                    var sel      = jQuery(this);
                    var type     = sel.val();
                    var ttype    = sel.parent().find('.trip-type').val();
                    var pdtype   = sel.parent().find('.trans-type').val();

                    if( type == 2 )
                    {
                        sel.parent().find('.hotels').prop('disabled', true).val('').trigger('chosen:updated');
                        sel.parent().find('.hotels-area').prop('disabled', true).val('').trigger('chosen:updated');
                    }
                    else if( type == 1 )
                    {
                        var harea   = sel.parent().find('.hotels-area').val();
                        var hvalue  = sel.parent().find('.hotels').val();
                        
                        if( harea == '' || harea == null )
                        {
                            harea = sel.parent().find('.hotels-area option:eq(1)').val();
                        }

                        if( hvalue == '' || hvalue == null )
                        {
                            hvalue = sel.parent().find('.hotels option[data-area-id="' + harea + '"]').val();

                            if( typeof hvalue == 'undefined' )
                            {
                                hvalue = 1;
                            }
                        }

                        sel.parent().find('.hotels').prop('disabled', false).val( hvalue ).trigger('chosen:updated');
                        sel.parent().find('.hotels-area').prop('disabled', false).val( harea ).trigger('chosen:updated');
                        sel.parent().find('.hotels-area option:contains("No Accommodation Booked")').prop('disabled', true).trigger('chosen:updated');
                    }
                    else
                    {
                        sel.parent().find('.hotels-area').prop('disabled', false).trigger('chosen:updated');
                        sel.parent().find('.hotels-area option:contains("No Accommodation Booked")').prop('disabled', false).trigger('chosen:updated');
                    }

                    var hotel    = sel.parent().find('.hotels').val();
                    var rpfrom   = sel.parent().find('.hotels-area option').filter(':selected').data('rpfrom');
                    var rpto     = sel.parent().find('.hotels-area option').filter(':selected').data('rpto');
                    var fee      = sel.parent().find('.hotels-area option').filter(':selected').data('fee');
                    var nfee     = sel.parent().find('.hotels-area option').filter(':selected').data('fee-num');
                    var area     = sel.parent().find('.hotels-area option').filter(':selected').data('area');
                    var hairport = sel.parent().find('.hotels-area option').filter(':selected').data('airport');
                    var area_id  = sel.parent().find('.hotels-area option').filter(':selected').data('area-id');
                    var strans   = sel.parent().find('.hotels-area option').filter(':selected').data('supporttrans');

                    if( strans == 2 && type != 1 )
                    {
                        sel.parent().find('.hotels-area').val('').trigger('chosen:updated');

                        area_id = sel.parent().find('.hotels-area option').filter(':selected').data('area-id');
                    }
                    else if( strans == 1 && type != 0 )
                    {
                        sel.parent().find('.hotels-area').val('').trigger('chosen:updated');

                        area_id = sel.parent().find('.hotels-area option').filter(':selected').data('area-id');
                    }

                    add_transport( sel, area_id, ttype, type, pdtype, hotel, fee, nfee, hairport, rpfrom, rpto );
                });

                jQuery('.hotels-area').on('change', function(e){
                    var sel      = jQuery(this);
                    var hotel    = sel.parent().find('.hotels').val();
                    var ttype    = sel.parent().find('.trip-type').val();
                    var pdtype   = sel.parent().find('.trans-type').val();
                    var type     = sel.parent().find('.transport-type').val();
                    var area_id  = sel.find('option').filter(':selected').data('area-id');

                    if( area_id == '' )
                    {
                        sel.parent().find('.hotels').prop('disabled', true).val('').trigger('chosen:updated');
                    }
                    else
                    {
                        sel.parent().find('.hotels').prop('disabled', false).val(1).trigger('chosen:updated');
                    }

                    var rpfrom   = sel.find('option').filter(':selected').data('rpfrom');
                    var rpto     = sel.find('option').filter(':selected').data('rpto');
                    var fee      = sel.find('option').filter(':selected').data('fee');
                    var nfee     = sel.find('option').filter(':selected').data('fee-num');
                    var area     = sel.find('option').filter(':selected').data('area');
                    var hairport = sel.find('option').filter(':selected').data('airport');
                    var strans   = sel.find('option').filter(':selected').data('supporttrans');

                    if( strans == 2 && type != 1 )
                    {
                        sel.parent().find('.transport-type').val(1).trigger('chosen:updated');

                        type = sel.parent().find('.transport-type').val();
                    }
                    else if( strans == 1 && type != 0 )
                    {
                        sel.parent().find('.transport-type').val(0).trigger('chosen:updated');

                        type = sel.parent().find('.transport-type').val();
                    }

                    add_transport( sel, area_id, ttype, type, pdtype, hotel, fee, nfee, hairport, rpfrom, rpto );
                });

                jQuery('.hotels').on('change', function(e){
                    var sel      = jQuery(this);
                    var hotel    = sel.val();
                    var ttype    = sel.parent().find('.trip-type').val();
                    var pdtype   = sel.parent().find('.trans-type').val();
                    var type     = sel.parent().find('.transport-type').val();
                    var area_id  = sel.find('option').filter(':selected').data('area-id');

                    if( area_id != '' )
                    {
                        sel.parent().find('.hotels-area').val(area_id).trigger('chosen:updated');
                    }

                    var rpfrom   = sel.parent().find('.hotels-area option').filter(':selected').data('rpfrom');
                    var rpto     = sel.parent().find('.hotels-area option').filter(':selected').data('rpto');
                    var fee      = sel.parent().find('.hotels-area option').filter(':selected').data('fee');
                    var nfee     = sel.parent().find('.hotels-area option').filter(':selected').data('fee-num');
                    var area     = sel.parent().find('.hotels-area option').filter(':selected').data('area');
                    var hairport = sel.parent().find('.hotels-area option').filter(':selected').data('airport');
                    var strans   = sel.parent().find('.hotels-area option').filter(':selected').data('supporttrans');

                    if( strans == 2 && type != 1 )
                    {
                        sel.parent().find('.transport-type').val(1).trigger('chosen:updated');

                        type = sel.parent().find('.transport-type').val();
                    }
                    else if( strans == 1 && type != 0 )
                    {
                        sel.parent().find('.transport-type').val(0).trigger('chosen:updated');

                        type = sel.parent().find('.transport-type').val();
                    }

                    add_transport( sel, area_id, ttype, type, pdtype, hotel, fee, nfee, hairport, rpfrom, rpto );
                });
            }

            function init_promo_func()
            {
                jQuery('.apply').on('click', function(){
                    var prm = new Object;
                        prm.pkey  = 'apply-coupon-code';
                        prm.sid   = '{sess_id}';
                        prm.apply = 2;
                        prm.code  = jQuery('[name=pcode]').val();

                    jQuery.ajax({
                        method: 'POST',
                        url: '{ajax_link}',
                        data: prm,
                        dataType : 'json',
                        beforeSend: function( xhr ) {
                            jQuery('.overlay').fadeIn(200);
                        },
                        success: function(e){
                            if( e.result=='success' )
                            {
                                location.reload();
                            }
                            else
                            {
                                jQuery('[name=pcode]').val('');
                                
                                jQuery('.discount .disc').text('');
                                jQuery('.discount small').text('');

                                jQuery('.subtotal').addClass('sr-only');
                                jQuery('.discount').addClass('sr-only');

                                jQuery('.subtotal .sub').text( 'IDR ' + e.subtotal_num );
                                jQuery('.grand-total .gtotal' ).text( 'IDR '+ e.grandtotal_num );

                                show_popup('Warning', 'Invalid Promotional Code');
                            }
                        },
                        error: function(e){
                            show_popup('Warning', 'Something Wrong!!');
                        }
                    }).always(function(){
                        jQuery('.overlay').fadeOut(200);
                    });

                    return false;
                });

                jQuery('.delete-promo').on('click', function(){
                    var prm = new Object;
                        prm.pkey = 'delete-coupon-code';
                        prm.sid  = '{sess_id}';

                    jQuery.ajax({
                        method: 'POST',
                        url: '{ajax_link}',
                        data: prm,
                        dataType : 'json',
                        beforeSend: function( xhr ) {
                            jQuery('.overlay').fadeIn(200);
                        },
                        success: function(e){
                            if( e.result=='success' )
                            {
                                location.reload();
                            }
                            else
                            {
                                show_popup('Warning', 'Something Wrong!!');
                            }
                        },
                        error: function(e){
                            show_popup('Warning', 'Something Wrong!!');
                        }
                    }).always(function(){
                        jQuery('.overlay').fadeOut(200);
                    });
                });

                jQuery('.delete-freelance-code').on('click', function(){
                    var prm = new Object;
                        prm.pkey = 'delete-freelance-code';
                        prm.sid  = '{sess_id}';

                    jQuery.ajax({
                        method: 'POST',
                        url: '{ajax_link}',
                        data: prm,
                        dataType : 'json',
                        beforeSend: function( xhr ) {
                            jQuery('.overlay').fadeIn(200);
                        },
                        success: function(e){
                            if( e.result=='success' )
                            {
                                jQuery('.freelance-code .disc').text('');
                                jQuery('.freelance-code').addClass('sr-only');

                                jQuery('.subtotal .sub').text( 'IDR ' + e.subtotal_num );
                                jQuery('.grand-total .gtotal' ).text( 'IDR '+ e.grandtotal_num );
                            }
                            else
                            {
                                show_popup('Warning', 'Something Wrong!!');
                            }
                        },
                        error: function(e){
                            show_popup('Warning', 'Something Wrong!!');
                        }
                    }).always(function(){
                        jQuery('.overlay').fadeOut(200);
                    });
                });
            }

            jQuery(document).ready(function(){
                init_promo_func();
                init_transport_func();

        		jQuery('.select-option').chosen({ max_selected_options:10, search_contains:true });
                jQuery('.review-booking-block .submit').prop('disabled', false);

                jQuery('.flight-time input').datetimepicker({
					controlType: 'select',
		            dateFormat: 'dd MM yy',
					timeFormat: 'HH:mm',
					oneLine: true,
		            minDate: 0
				});

                jQuery('.add-ons-check').on('change', function(e){
                    var aotype = jQuery(this).data('aotype');

                    if( this.checked )
                    {
                        if( aotype == 1 )
                        {
                            jQuery(this).parents('.item').find('.transport-type option[value!=1]').prop('disabled', true);
                            jQuery(this).parents('.item').find('.transport-type').val(1).trigger('chosen:updated').trigger('change');
                        }
                    }
                    else
                    {
                        if( aotype == 1 )
                        {
                            jQuery(this).parents('.item').find('.transport-type option[value!=1]').prop('disabled', false);
                            jQuery(this).parents('.item').find('.transport-type').trigger('chosen:updated');
                        }
                    }

                    add_add_ons( jQuery(this).data('trip') );
                });

                jQuery('.add-ons-notes').on('blur', function(e){
                    add_add_ons( jQuery(this).data('trip') );
                });

                jQuery('.add-ons-pax').on('change', function(e){
                    add_add_ons( jQuery(this).data('trip') );
                });

                jQuery('[name=detail_booking]').on('click', function(){
                    var flight = jQuery('.flight-time');
                    var error  = 0;

                    if( flight.hasClass('sr-only') === false )
                    {
                        flight.each(function(i, e){
                            if( jQuery(this).find('.trans-ftime').val() == '' )
                            {
                                error++;
                            }
                        });
                    }

                    if( error > 0 )
                    {
                        show_popup('Warning', '<ul class="ui-dialog-error-list"><li>Please check again your request before continue the reservation</li></ul>');

                        return false;
                    }
                });
        	});
        </script>
    </div>
</div>

<!-- END review-block -->