<!-- BEGIN search-result-block -->

<div class="wrapper-block availability-result-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="resform">
            <div class="row">
                <div class="col-md-12"> 
                    <h1>Search Result</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                	<div class="wrapp-list departure-list">
                		<h3>Departure, {depart_date_format}</h3>
						<h4>{depart_route}</h4>
						<div class="row">
							<div class="col-md-12">
								<div class="result">
									{departure_availability_result}
								</div>
							</div>
						</div>
                	</div>
                	<div class="wrapp-list return-list {return_css}">
                		<h3>Return, {return_date_format}</h3>
						<h4>{return_route}</h4>
						<div class="row">
							<div class="col-md-12">
								<div class="result">
									{return_availability_result}
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                	<div class="actions clearfix">
                		<input class="sr-only" type="text" name="chid" value="{chid}">
                		<input class="sr-only" type="text" name="agid" value="{agid}">
                		<input class="sr-only" type="text" name="sess_id" value="{sess_id}">
                		<input class="sr-only" type="text" name="adult_num" value="{adult_num}">
                		<input class="sr-only" type="text" name="child_num" value="{child_num}">
                		<input class="sr-only" type="text" name="infant_num" value="{infant_num}">
                		<input class="sr-only" type="text" name="depart_port" value="{depart_port}">
                		<input class="sr-only" type="text" name="return_port" value="{return_port}">
                		<input class="sr-only" type="text" name="date_of_depart" value="{depart_date}">
                		<input class="sr-only" type="text" name="date_of_return" value="{return_date}">
                		<input class="sr-only" type="text" name="type_of_route" value="{type_of_route}">
                		<input class="sr-only" type="text" name="destination_port" value="{destination_port}">
                		<input class="sr-only" type="text" name="destination_port_rtn" value="{destination_port_rtn}">
                		<input class="submit" type="submit" name="review_booking" value="Continue Reservation">
                	</div>
                </div>
            </div>
        </form>

        <script type="text/javascript">
        	function scroll_to_anchor()
        	{
        		jQuery('html, body').animate({
					scrollTop: jQuery('.booking-source-option').offset().top
				}, 500);	
        	}

		    function validate_booking_form()
		    {
		    	var channel = jQuery('[name=chid]').val();
		    	var dep_rid = jQuery('[name=dep_rid]:checked').val();
		    	var rtn_rid = jQuery('[name=rtn_rid]:checked').val();
		    	var type    = jQuery('[name=type_of_route]').val();

		    	if( channel == '' )
		    	{
		    		show_popup('Warning', 'Please choose your booking source', 'scroll_to_anchor()');
		    		return false;
		    	}
		    	else if( typeof dep_rid == 'undefined' && type == 1 && typeof rtn_rid == 'undefined' )
		    	{
		    		show_popup('Warning', 'Please choose your departure and return package');
		    		return false;
		    	}
		    	else if( dep_rid == 'undefined' )
		    	{
		    		show_popup('Warning', 'Please choose your departure package');
		    		return false;
		    	}
		    	else if( type == 1 && typeof rtn_rid == 'undefined' )
		    	{
		    		show_popup('Warning', 'Please choose your return package');
		    		return false;
		    	}
		    	else
		    	{
		    		return true;
		    	}
		    }

            jQuery(document).ready(function(){
        		jQuery('.price [name=dep_rid]').on('change', function(e){
        			if( this.checked )
        			{
        				jQuery('.departure-list .item').removeClass('selected');
        				jQuery(this).parent('.item').addClass('selected');
        			}
        		});

        		jQuery('.price [name=rtn_rid]').on('change', function(e){
        			if( this.checked )
        			{
        				jQuery('.return-list .item').removeClass('selected');
        				jQuery(this).parents('.item').addClass('selected');
        			}
        		});

        		jQuery('[name=review_booking]').on('click', function(){
        			if( validate_booking_form() )
        			{
        				return true;
        			}
        			else
        			{
        				return false;
        			}
        		});
        	});
        </script>
    </div>
</div>

<div class="wrapper-block availability-block on-result-page">
    <div class="container-fluid">
        <form action="{action}" method="post" name="avform">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline route-option">
                        <div class="form-group">
                            <div class="radio">
                                <input id="one-way-option" class="one-way-option" value="0" name="route_type" autocomplete="off" type="radio" {one_way_css}/>
                                <label for="one-way-option">One Way</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="radio">
                                <input id="return-option" class="return-option" value="1" name="route_type" autocomplete="off" type="radio" {return_way_css}>
                                <label for="return-option">Return</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                	<fieldset class="form-block">
                    	<label>Choose Destination <small>*</small></label>
                    	<div class="clearfix">
                        	<div class="col-md-3 loc">
                        		<select class="select-option required" name="destination_from" autocomplete="off">
                        			{depart_port_list}
                        		</select>
                        	</div>
                        	<div class="col-md-3 loc">
                        		<select class="select-option required" name="destination_to" autocomplete="off">
                        			{destination_port_list}
                        		</select>
                        	</div>
                        	<div class="col-md-3 loc">
                        		<select class="select-option required" name="destination_return" autocomplete="off" {return_port_css}>
                        			{return_port_list}
                        		</select>
                        	</div>
                            <div class="col-md-3 loc">
                                <select class="select-option required" name="destination_return_to" autocomplete="off" {destination_to_port_css}>
                                    {destination_to_port_list}
                                </select>
                            </div>
                    	</div>
                	</fieldset>
                	<fieldset class="form-block">
                		<div class="row">
	                        <div class="col-md-6 date">
	                    		<label>Departing <small>*</small></label>
	                        	<input type="text" class="text form-control required" name="depart_date" placeholder="Date" value="{depart_date_field}" readonly>
	                    	</div>
	                        <div class="col-md-6 date">
	                    		<label>Returning <small>*</small></label>
	                        	<input type="text" class="text form-control required" name="return_date" placeholder="Date" value="{return_date_field}" readonly {return_date_css}>
	                    	</div>
	                    </div>
                    </fieldset>
                	<fieldset class="form-block">
                		<div class="row">
	                        <div class="col-md-6 passenger">
                				<div class="row">
	                        		<div class="col-md-4 adult">
			                    		<label>Adult <small>*</small></label>
                                        <div class="number-field">
                                            <input type="number" class="text form-control prequired" name="adult" value="{adult_num}" min="0" oninput="this.value = Math.abs(this.value)">
                                            <div class="number-nav">
                                                <div class="number-button up">+</div>
                                                <div class="number-button down">-</div>
                                            </div>
                                        </div>
			                        </div>
	                        		<div class="col-md-4 child">
			                    		<label>Child (3 - 12)</label>
                                        <div class="number-field">
                                            <input type="number" class="text form-control prequired" name="child" value="{child_num}" min="0" oninput="this.value = Math.abs(this.value)">
                                            <div class="number-nav">
                                                <div class="number-button up">+</div>
                                                <div class="number-button down">-</div>
                                            </div>
                                        </div>
			                        </div>
	                        		<div class="col-md-4 infant">
			                    		<label>Infant (< 3yo)</label>
                                        <div class="number-field">
                                            <input type="number" class="text form-control prequired" name="infant" value="{infant_num}" min="0" oninput="this.value = Math.abs(this.value)">
                                            <div class="number-nav">
                                                <div class="number-button up">+</div>
                                                <div class="number-button down">-</div>
                                            </div>
                                        </div>
			                        </div>
			                    </div>
	                    	</div>
	                        <div class="col-md-6">
	                    		<label>&nbsp;</label>
                        		<input type="text" class="sr-only" name="booking_source" value="{chid}|{agid}" />
	                        	<input type="submit" name="check_availability" class="check" value="Check Availability">
	                    	</div>
                		</div>
                	</fieldset>
                </div>
            </div>
        </form>

        <script type="text/javascript">
		    function validate_form()
		    {
		        var type  = jQuery('[name=route_type]').val();
		        var error = 0;
		        var sum   = 0;

		        jQuery('.required:not(:disabled)').each(function(){
		            var vals = jQuery(this).val();

		            if( vals == '' )
		            {
		                jQuery(this).parent().addClass('has-error');
		                error++;
		            }
		        });

		        jQuery('.prequired').each(function(){
		            var vals = jQuery(this).val();
		                sum  = sum + parseInt(vals);

		            if( vals == '' )
		            {
		                jQuery(this).parent().addClass('has-error');
		                error++;
		            }
		        });
		        
		        if( error == 0 )
		        {
		            if( sum == 0 )
		            {
		                show_popup('Warning', 'Number of passenger can\'t be empty');

		                return false;
		            }
		            else
		            {
		                return true;
		            }
		        }
		        else
		        {
		            show_popup('Warning', 'Please check again your data before submited request, some of field may be empty or not valid');

		            return false;
		        }
		    }

            jQuery(document).ready(function(){
        		jQuery('[name=destination_from]').chosen({ max_selected_options:10, search_contains:true, placeholder_text_single:'From' });
        		jQuery('[name=destination_to]').chosen({ max_selected_options:10, search_contains:true, placeholder_text_single:'To' });
        		jQuery('[name=destination_return]').chosen({ max_selected_options:10, search_contains:true, placeholder_text_single:'Return' });
                jQuery('[name=destination_return_to]').chosen({ max_selected_options:10, search_contains:true, placeholder_text_single:'Return To' });
        		
		        jQuery('[name=depart_date]').datepicker({
		            dateFormat:'dd MM yy',
		            minDate: 0,
		            onSelect: function (date) {
		                var date2 = jQuery('[name=depart_date]').datepicker('getDate');
		                    date2.setDate(date2.getDate());

		                jQuery('[name=return_date]').datepicker('setDate', date2);
		                jQuery('[name=return_date]').datepicker('option', 'minDate', date2);
		            }
		        });

		        jQuery('[name=return_date]').datepicker({
		            dateFormat:'dd MM yy',
		            minDate: 0,
		            onClose: function () {
		                var dt1 = jQuery('[name=depart_date]').datepicker('getDate');
		                var dt2 = jQuery('[name=return_date]').datepicker('getDate');

		                if( dt2 < dt1)
		                {
		                    var minDate = jQuery('[name=return_date]').datepicker('option', 'minDate');
		                    jQuery('[name=return_date]').datepicker('setDate', minDate);
		                }
		            }
		        });

		        jQuery('[name=route_type]').on('change', function(){
		            var vals = jQuery(this).val();
		            if( vals == 0 )
		            {
		                jQuery('[name=destination_return]').prop('disabled', true).trigger('chosen:updated');
                        jQuery('[name=destination_return_to]').prop('disabled', true).trigger('chosen:updated');
		                jQuery('[name=return_date]').prop('disabled', true);
		            }
		            else
		            {
		                jQuery('[name=destination_return]').prop('disabled', false).trigger('chosen:updated');
                        jQuery('[name=destination_return_to]').prop('disabled', false).trigger('chosen:updated');
		                jQuery('[name=return_date]').prop('disabled', false);
		            }
		        });

		        jQuery('[name=check_availability]').on('click', function(){
		            if( validate_form() )
		            {
		                return true;
		            }

		            return false;
		        });

		        jQuery('.required').on('focusin', function(){
		            jQuery(this).parent().removeClass('has-error');
		        });

		        jQuery('.select-option').chosen().on('change', function(evt, params){
		            jQuery(this).parent().removeClass('has-error');
		        });
        	});
        </script>
    </div>
</div>

<!-- END search-result-block -->