<!-- BEGIN form-block -->

<div class="wrapper-block port-clearance-block">
	<div class="container-fluid">
        <form class="{form_type}" action="{action}" method="post" name="alist">
			<div class="top-bar">
				<div class="row">
					<div class="col-md-6 text-left">
						<h1>{title}</h1>
					</div>
					<div class="col-md-6 text-right">
						<a href="{cancel_link}" class="small-title">Cancel</a>
					</div>
				</div>
			</div>
			
            <div class="form-block">
        		{message}
        	</div>

			<div class="trip-detail">
				<div class="row row-border row-eq-height">
					<div class="col-md-6">
						<span class="small-title">Date</span>
						<strong class="strong-text">{date}</strong>
					</div>
					<div class="col-md-6 text-right">
						<span class="small-title">Route</span>
						<strong class="strong-text">{rname}</strong>
					</div>
				</div>
				<div class="row row-eq-height sr-only">
					<div class="col-md-6 col-box">
						<span class="small-title">Port</span>
						<strong class="strong-text">{port}</strong>
					</div>
					<div class="col-md-6 text-right">
						<span class="small-title">Trip</span>
						<strong class="strong-text">{trip}</strong>
					</div>
				</div>
				<div class="row row-eq-height">
					<div class="col-md-4 col-box">
						<span class="small-title">Boat</span>
						<select class="select-option" name="boid" style="width:100%;">
							{boat_option}
						</select>
					</div>
					<div class="col-md-4 col-box">
						<div class="form-block">
							<span class="small-title">Captain</span>
							<input name="captain" type="text"  class="text text-full form-control" value="{captain}">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-block">
							<span class="small-title">KKM</span>
							<input name="kkm" type="text"  class="text text-full form-control" value="{kkm}">
						</div>
					</div>
				</div>
				<div class="row row-eq-height">
					<div class="col-md-12 col-box">
						<div class="form-block">
							<span class="small-title">Crew</span>
							<textarea name="crew" class="text text-full form-control">{crew}</textarea>
						</div>
					</div>
				</div>
			</div>

			<div class="trip-guest-list">
				<h2>Guest</h2>

	            <div class="table-block">
	                <table id="guest-table" class="table" cellspacing="0" width="100%">
	                    <thead>
	                        <tr>
	                            <th width="30">No</th>
	                            <th>Guest Name</th>
	                            <th>Adult</th>
	                            <th>Child</th>
	                            <th>Infant</th>
	                            <th>Nat</th>
	                            <th>Gen</th>
	                            <th width="30">Age</th>
	                            <th>&nbsp;</th>
	                        </tr>
	                    </thead>
	                    <tbody>
							<!-- BEGIN loop-block -->
							<tr>
								<td>{no}</td>
								<td>{bbname}</td>
								<td>{is_adult}</td>
								<td>{is_child}</td>
								<td>{is_infant}</td>
								<td>{nationality}</td>
								<td>{gender}</td>
								<td>{age}</td>
								<td>
									<a rel="{pcdid}" class="delete {delete_cls}"></a>
									<input type="text" class="sr-only" name="bpid[]" value="{bpid}">
									<input type="text" class="sr-only" name="lcountry_id[]" value="{country_id}">
									<input type="text" class="sr-only" name="guest_name[]" value="{bbname}">
									<input type="text" class="sr-only" name="guest_type[]" value="{bptype}">
									<input type="text" class="sr-only" name="guest_country[]" value="{nationality}">
									<input type="text" class="sr-only" name="guest_gender[]" value="{gender}">
									<input type="text" class="sr-only" name="guest_age[]" value="{age}">
									<input type="text" class="sr-only" name="pdata[]" value="{bpid}|{pcroute}|{pcdate}|{pctrip}|{pcport}">
								</td>
							</tr>
							<!-- END loop-block -->

							<!-- BEGIN empty-block -->
							<tr>
								<td colspan="8"><p class="text-center text-danger">{empty_txt}</p></td>
							</tr>
							<!-- END empty-block -->
	                    </tbody>
	                </table>
	            </div>
	        </div>

	        <div class="form-action clearfix">
	        	<input type="text" class="sr-only" name="pcid" value="{pcid}">
				<input type="text" class="sr-only" name="pcdate" value="{pcdate}">
				<input type="text" class="sr-only" name="pcroute" value="{pcroute}">
				<input type="text" class="sr-only" name="pcport" value="{pcport}">
				<input type="text" class="sr-only" name="pctrip" value="{pctrip}">

	        	<button type="submit" class="btn-print pull-left" name="print">{print_title}</button>
	        	<button type="submit" class="btn-save pull-left" name="publish">{publish_title}</button>
                <a class="delete pull-right {delete_class}" href="{ajax_url}">Delete</a>
	        </div>

	        <div class="form-note">
	            {last_update_note}
	        </div>
	    </form>
	    <script type="text/javascript">
	    	jQuery(document).ready(function(){
	    		jQuery('.trip-guest-list .delete').on('click', function(){
	    			var sel = jQuery(this).parent().parent();
					var url = '{ajax_url}';
	                var prm = new Object();
	                    prm.pkey  = 'delete-port-clearance-passenger';
	                    prm.pcdid = jQuery(this).attr('rel');

	                jQuery('.section-overlay').fadeIn(200, function(){	                	
		                jQuery.ajax({
		                    method: 'POST',
		                    url: url,
		                    data: prm,
		                    dataType : 'json',
		                    success: function(e){
		                    	jQuery('.section-overlay').fadeOut(200);

		                        if( e.result == 'success' )
		                        {
					    			if( jQuery('#guest-table tbody tr').length == 1 )
					    			{
					    				sel.fadeOut(200, function(){ 
				    						window.location = '{cancel_link}';
					    				});
				    				}
				    				else
				    				{				    					
						    			sel.fadeOut(200, function(){ 
						    				jQuery(this).remove(); 
						    			});
				    				}
		                        }
		                    },
                            error: function(e){
                               jQuery('.section-overlay').fadeOut(200);
                            }
		                });
	                });
	    		});

                jQuery('.form-action .delete').on('click', function(e){
                    var url = jQuery(this).attr('href');
                    var prm = new Object();
                        prm.pkey = 'delete-port-clearance';
                        prm.pcid = jQuery('[name=pcid]').val();

                    jQuery('<div></div>').dialog({
                        modal: true,
                        draggable: false,
                        resizable: false,
                        title: 'Notification',
                        open: function(){
                            jQuery(this).html('Are you sure want to delete this port clearance?');
                        },
                        buttons: {
                            Yes: function(){
                                var popup = jQuery(this);

                                jQuery.ajax({
                                    method: 'POST',
                                    url: url,
                                    data: prm,
                                    dataType : 'json',
                                    success: function(e){
                                        popup.dialog('close');

                                        if( e.result=='success' )
                                        {                                       
                                            show_popup('Notification', 'This port clearance has been successfully deleted', 'window.location.assign("{table_link}")');
                                        }
                                        else if( e.result=='error-query' )
                                        {
                                            if( e.error_code==1451 )
                                            {
                                                show_popup('Warning', 'Sorry, This port clearance can\'t be deleted. May already be used in another data');
                                            }
                                            else
                                            {
                                                show_popup('Warning', 'Sorry, This port clearance can\'t be deleted. Please try again later');
                                            }
                                        }
                                    },
                                    error: function(e){
                                       popup.dialog('close');

                                       show_popup('Warning', 'Sorry, This port clearance can\'t be deleted. Please try again later');
                                    }
                                });
                            },
                            No: function(){
                                jQuery( this ).dialog('close');
                            }
                        }
                    });

                    return false;
                });
	    	})
	    </script>
	</div>
</div>

<!-- END form-block -->