<!-- BEGIN list-block -->

<div class="wrapper-block port-clearance-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12"> 
                <h1>{title}</h1>
            </div>
        </div>
        <div class="row">  
            <form action="{state}" method="post" name="afilter">   
                <div class="col-md-12">
                    <div class="filter-box clearfix">
                        <span class="text">Filter</span>
                        <select name="tid" id="tid" class="select-option" style="width:250px;">
                            {trip_option}
                        </select>
                        <select name="rid" id="rid" class="select-option" style="width:300px;">
                            {route_option}
                        </select>
                        <input name="bddate" type="text" placeholder="Departure date" value="{date}"  class="medium_textbox dpicker">
                        <input name="filter" type="submit" value="Apply" class="filters">
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <form action="{action}" method="post" name="alist">
                <div class="col-md-12">         
                    <div class="form-block">
                        {message}
                    </div>

                    <div class="table-block">
                        <table id="port-clearance-table" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="15" data-orderable="false"><input type="checkbox" name="check_all" autocomplete="off" /></th>
                                    <th>Guest Name</th>
                                    <th>Adult</th>
                                    <th>Child</th>
                                    <th>Infant</th>
                                    <th>Nat</th>
                                    <th>Gen</th>
                                    <th>Age</th>
                                    <th>Port</th>
                                    <th>Trip</th>
                                    <th>Route</th>
                                    <th>Departure</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>

                        <div class="table-action clearfix">
                            <button type="submit" class="btn-add-port-clearance pull-left" name="add_trip_port_clearance">Add to Port Clearance</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery('.select-option').chosen({ disable_search_threshold:10 });
            
            jQuery('[name=bddate]').datepicker({
                dateFormat:'dd MM yy'
            });

            jQuery('#port-clearance-table').DataTable({
                dom:"<'row'<'col-xs-5 col-sm-6'l><'col-xs-7 col-sm-6 text-right'f>r>t<'row'<'col-md-12'i><'col-md-12 text-center'p>>",
                columnDefs   : [{ targets:11, type:'date' }],
                order        : [],
                pageLength   : parseInt('{limit}'),
                lengthChange : false,
                info         : false,
                processing   : true,
                serverSide   : true,
                searching    : false,
                deferRender  : true,
                ajax         : {
                    url  : '{ajax_url}',
                    type : 'POST',
                    data : { 
                        pkey    : 'load-passenger-list-data',
                        tid     : jQuery('[name=tid]').val(),
                        rid     : jQuery('[name=rid]').val(),
                        bddate  : jQuery('[name=bddate]').val(), 
                    },          
                    beforeSend: function(){
                        jQuery('.section-overlay').show();
                    },
                    complete:function(data){
                        jQuery('.section-overlay').hide();
                    }
                },
                columns: [
                    {
                        data: 'id', render: function ( data, type, row ){
                            var html = '<input class="id" type="checkbox" name="pdata[]" autocomplete="off" value="' + row.id + '|' + row.rid + '|' + row.bddate + '|' + row.trip + '|' + row.port + '" />';
                            return html;
                        }
                    },
                    {
                        data: 'guest_name', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'is_adult', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'is_child', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'is_infant', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'nationality', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'gender', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'age', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'port', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'trip', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'route', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'bddate', render: function ( data, type, row ) {
                            return data;
                        }
                    }
                ]
            });
        });
    </script>
</div>

<!-- END list-block -->