<!-- BEGIN detail-block -->

<div class="wrapper-block port-clearance-block">
	<div class="container-fluid">
        <form class="{form_type}" action="{action}" method="post" name="alist">
			<div class="top-bar">
				<div class="row">
					<div class="col-md-6 text-left">
						<h1>{title}</h1>
					</div>
					<div class="col-md-6 text-right">
						<a href="{edit_link}" class="small-title">Edit</a>
					</div>
				</div>
			</div>
			
            <div class="form-block">
        		{message}
        	</div>

			<div class="trip-detail">
				<div class="row row-border row-eq-height">
					<div class="col-md-6">
						<span class="small-title">Date</span>
						<strong class="strong-text">{date}</strong>
					</div>
					<div class="col-md-6 text-right">
						<span class="small-title">Route</span>
						<strong class="strong-text">{rname}</strong>
					</div>
				</div>
				<div class="row row-eq-height sr-only">
					<div class="col-md-4 col-box">
						<span class="small-title">Port</span>
						<strong class="strong-text">{port}</strong>
					</div>
					<div class="col-md-4">
						<span class="small-title">Trip</span>
						<strong class="strong-text">{trip}</strong>
					</div>
				</div>
				<div class="row row-eq-height">
					<div class="col-md-3 col-box">
						<span class="small-title">Boat</span>
						<strong class="strong-text">{boat}</strong>
					</div>
					<div class="col-md-3 col-box">
						<span class="small-title">Captain</span>
						<strong class="strong-text">{captain}</strong>
					</div>
					<div class="col-md-3">
						<span class="small-title">KKM</span>
						<strong class="strong-text">{kkm}</strong>
					</div>
					<div class="col-md-3 col-box">
						<span class="small-title">Crew</span>
						<strong class="strong-text">{crew}</strong>
					</div>
				</div>
			</div>

			<div class="trip-guest-list">
				<h2>Guest</h2>

	            <div class="table-block">
	                <table id="guest-table" class="table" cellspacing="0" width="100%">
	                    <thead>
	                        <tr>
	                        	<th width="30">No</th>
	                            <th>Guest Name</th>
	                            <th>Adult</th>
	                            <th>Child</th>
	                            <th>Infant</th>
	                            <th>Nat</th>
	                            <th>Gen</th>
	                            <th width="30">Age</th>
	                        </tr>
	                    </thead>
	                    <tbody>
							<!-- BEGIN loop-block -->
							<tr>
								<td>{no}</td>
								<td>{bbname}</td>
								<td>{is_adult}</td>
								<td>{is_child}</td>
								<td>{is_infant}</td>
								<td>{nationality}</td>
								<td>{gender}</td>
								<td>{age}</td>
							</tr>
							<!-- END loop-block -->

							<!-- BEGIN empty-block -->
							<tr>
								<td colspan="8"><p class="text-center text-danger">{empty_txt}</p></td>
							</tr>
							<!-- END empty-block -->
	                    </tbody>
	                </table>
	            </div>
	        </div>

	        <div class="form-action clearfix">
            	<button type="submit" class="btn-print pull-left" name="print">Print Report</button>
            	<button type="submit" class="btn-export-pdf pull-left" name="export_pdf">Export as PDF</button>
            	<button type="submit" class="btn-export-csv pull-left" name="export_csv">Export as CSV</button>
	        	<button type="submit" class="btn-save pull-left" name="add_more_port_clearance_passenger">Add More Guest</button>
                
                <a class="cancel pull-left" href="{cancel_link}">Cancel</a>
	        </div>

	        <div class="form-note">
	            {last_update_note}
	        </div>
	    </form>
	</div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function(){
    	if( get_uri_param( 'print' ) == 'true' )
    	{
            window.open('', '_blank').location.href = '{site_url}/port-clearance-pdf-report?id={pcid}&print=true';
            window.location.href = remove_uri_param( window.location.href, 'print' );
    	}

        jQuery('[name=print]').on('click', function(){
            window.open('', '_blank').location.href = '{site_url}/port-clearance-pdf-report?id={pcid}&print=true';
            return false;
        });

        jQuery('[name=export_pdf]').on('click', function(){
            window.open('', '_blank').location.href = '{site_url}/port-clearance-pdf-report?id={pcid}';
            return false;
        });

        jQuery('[name=export_csv]').on('click', function(){
            window.open('', '_blank').location.href = '{site_url}/port-clearance-csv-report?id={pcid}';
            return false;
        });
    });
</script>

<!-- END detail-block -->