<!-- BEGIN list-block -->

<div class="wrapper-block port-clearance-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12"> 
                <h1>{title}</h1>
            </div>
        </div>
        <div class="row">  
       		<form action="{state}" method="post" name="afilter">   
	            <div class="col-md-12">
	                <div class="filter-box clearfix">
	                    <span class="text">Filter</span>
	                    <select name="tid" id="tid" class="select-option" style="width:250px;">
	                        {trip_option}
	                    </select>
	                    <select name="rid" id="rid" class="select-option" style="width:300px;">
	                        {route_option}
	                    </select>
	                    <input name="bddate" type="text" placeholder="{date_placeholder}" value="{date}"  class="medium_textbox dpicker">
	                    <input name="filter" type="submit" value="Apply" class="filters">
	                </div>
	            </div>
	        </form>
        </div>
        <div class="row">
   			<form action="{action}" method="post" name="alist">
                <div class="col-md-12">			
		            <div class="form-block">
		        		{message}
		        	</div>

                    <div class="table-block">
                        <table id="port-clearance-table" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Port</th>
                                    <th>Trip</th>
                                    <th>Boat</th>
                                    <th>Route</th>
                                    <th data-orderable="false">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery('.select-option').chosen({ disable_search_threshold:10 });

            jQuery('[name=bddate]').datepicker({
                dateFormat:'dd MM yy'
            });

            jQuery('#port-clearance-table').DataTable({
                dom:"<'row'<'col-xs-5 col-sm-6'l><'col-xs-7 col-sm-6 text-right'f>r>t<'row'<'col-md-12'i><'col-md-12 text-center'p>>",
                columnDefs   : [{ targets:0, type:'date' }],
                pageLength   : parseInt('{limit}'),
                order        : [[ 0, 'desc' ]],
                lengthChange : false,
                info         : false,
                searching    : false,
                processing   : true,
                serverSide   : true,
                deferRender  : true,
                ajax         : {
                    url  : '{ajax_url}',
                    type : 'POST',
                    data : { 
                        pkey   : 'load-port-clearance-doc-data',
                        bddate : jQuery('[name=bddate]').val(),
                        tid    : jQuery('[name=tid]').val(),
                        rid    : jQuery('[name=rid]').val()
                    }
                },
                columns: [
                    {
                        data: 'pcdate', render: function ( data, type, row ){
                            return data;
                        }
                    },
                    {
                        data: 'pcport', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'pctrip', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'pcboat', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'pcroute', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'vlink', render: function ( data, type, row ) {
                            return '<a href="' + data + '" class="view">View</a>';
                        }
                    }
                ]
            });
        });
    </script>
</div>

<!-- END list-block -->