<!-- BEGIN form-block -->

<div class="wrapper-block rate-period-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-12"> 
                    <h1>New/Edit Rate Period</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-block">
                    	{message}
                    	<fieldset class="sr-only">
                    		<input type="text" name="rpid" value="{rpid}" />
                    	</fieldset>
                    	<fieldset class="form-inline">
                    		<label>Rate Period</label>
                    		<div class="form-group">
                    			<p class="subtitle">From</p>
							    <input type="text" class="text text-date text-medium form-control" name="rpfrom" value="{rpfrom}" placeholder="Date" readonly>
						  	</div>
                    		<div class="form-group">
                    			<p class="subtitle">To</p>
							    <input type="text" class="text text-date text-medium form-control" name="rpto" value="{rpto}" placeholder="Date" readonly>
						  	</div>
                    	</fieldset>
                    </div>
                    <div class="form-action clearfix">
                    	<button type="submit" class="btn-save pull-left" name="publish">Save Rate Period</button>
                    	<a class="cancel pull-left" href="{cancel_link}">Cancel</a>
                    	<a class="delete pull-right {delete_class}" href="{ajax_link}">Delete</a>
                    </div>
                    <div class="form-note">
                        {last_update_note}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery('[name=rpfrom]').datepicker({
            dateFormat:'dd MM yy',
            onSelect: function(date){
                var date2 = jQuery('[name=rpto]').datepicker('getDate');

                if( date2 == null )
                {
                    jQuery('[name=rpto]').datepicker('setDate', date);
                }

                jQuery('[name=rpto]').datepicker('option', 'minDate', date);
            }
        });

        jQuery('[name=rpto]').datepicker({
            dateFormat:'dd MM yy',
            onClose: function(date){
                var date2 = jQuery('[name=rpfrom]').datepicker('getDate');

                if( date2 == null )
                {
                    jQuery('[name=rpfrom]').datepicker('setDate', date);
                }
                
                jQuery('[name=rpfrom]').datepicker('option', 'maxDate', date);
            }
        });

        jQuery('.form-action .delete').on('click', function(e){
            var url = jQuery(this).attr('href');
            var prm = new Object();
                prm.pkey = 'delete-rate-period';
                prm.rpid = jQuery('[name=rpid]').val();

            jQuery('<div></div>').dialog({
                modal: true,
                draggable: false,
                resizable: false,
                title: 'Notification',
                open: function(){
                    jQuery(this).html('Are you sure want to delete this rate period?');
                },
                buttons: {
                    Yes: function(){
                        var popup = jQuery(this);

                        jQuery.ajax({
                            method: 'POST',
                            url: url,
                            data: prm,
                            dataType : 'json',
                            success: function(e){
                                popup.dialog('close');

                                if( e.result=='success' )
                                {                                       
                                    show_popup('Notification', 'This rate period has been successfully deleted', 'window.location.assign("{cancel_link}")');
                                }
                                else if( e.result=='failed' )
                                {
                                    show_popup('Warning', 'Sorry, This rate period can\'t be deleted. Please try again later');
                                }
                            },
                            error: function(e){
                               popup.dialog('close');

                               show_popup('Warning', 'Sorry, This rate period can\'t be deleted. Please try again later');
                            }
                        });
                    },
                    No: function(){
                        jQuery( this ).dialog('close');
                    }
                }
            });

            return false;
        });
    });
</script>

<!-- END form-block -->