<!-- BEGIN detail-block -->

<div class="wrapper-block outstanding-payment-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-6"> 
                    <h1>Outstanding Payment</h1>
                </div>
                <div class="col-md-6">
                    <div class="filter-box">
                        <select name="rid" id="select_route" class="select-option select-option-route">
                            {route_option}
                        </select>  
                        <input name="bddate" type="text" placeholder="Travel Date" value="{bddate}"  class="medium_textbox dpicker">
                        <input name="filter" type="submit" value="Filter" class="filters">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-block no-field-border">
                        {message}

                        <fieldset class="form-inline">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Agent</label>
                                        <p>{agname}</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Sales Channel</label>
                                        <p>{agchanel}</p>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset class="outstanding-payment-section">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Ticket Number</label>
                                </div>
                            </div>
                            <div class="outstanding-payment-field">
                                <div class="row">
                                    <div class="col-md-12">
                                        <select class="select-multiple-option field-bid-opt" name="bid_opt[]" multiple>
                                            <option value="" data-bdid="" data-amount="0" data-paidoff="0" data-remaining="0">Select Ticket Number</option>
                                            {agent_invoice_list}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <label>Date of Payment</label>
                                </div>
                                <div class="col-md-4">
                                    <label>Method</label>
                                </div>
                                <div class="col-md-2 text-right">
                                    <label>Outstanding</label>
                                </div>
                                <div class="col-md-2 text-right">
                                    <label>Paid Off</label>
                                </div>
                                <div class="col-md-2 text-right">
                                    <label>Paid Amount</label>
                                </div>
                            </div>
                            <div class="outstanding-payment-field outstanding-payment-field-2">
                                <!-- BEGIN field-block -->
                                <div class="row">
                                    <div class="col-md-2">
                                        <input type="text" class="text text-date form-control" name="atdate[]" value="{f_atdate}" autocomplete="off" readonly="" />
                                    </div>
                                    <div class="col-md-4">
                                        <select class="select-option" name="atmethod[]">
                                            {f_payment_method_list}
                                        </select>
                                    </div>
                                    <div class="col-md-2 text-right">
                                        <input type="text" class="text text-number text-right form-control" name="atdebet[]" value="{f_atdebet}" data-v-min="0" data-a-sep="." data-a-dec="," data-m-dec="2" readonly="">
                                    </div>
                                    <div class="col-md-2 text-right">
                                        <input type="text" class="text text-number text-right form-control" name="atpaidoff[]" value="{f_atpaidoff}" data-v-min="0" data-a-sep="." data-a-dec="," data-m-dec="2" readonly="">
                                    </div>
                                    <div class="col-md-2 text-right">
                                        <input type="text" class="field-bid sr-only" name="bid[]" value="{f_bid}">
                                        <input type="text" class="field-bdid sr-only" name="bdid[]" value="{f_bdid}" />
                                        <input type="text" class="field-btotal sr-only" name="btotal[]" value="{f_btotal}">
                                        <input type="text" class="field-bticket sr-only" name="bticket[]" value="{f_bticket}">
                                        <input type="text" class="field-agid sr-only" name="agid[]" value="{f_agid}">
                                        <input type="text" class="field-atgname sr-only" name="atgname[]" value="{f_atgname}">
                                        <input type="text" class="field-atstatus sr-only" name="atstatus[]" value="2" />
                                        <input type="text" class="field-atremaining sr-only" name="atremaining[]" value="{f_atremaining}">
                                        <input type="text" class="field-atcredit text text-number text-right form-control" name="atcredit[]" value="{f_atcredit}" data-v-min="0" {f_vmax} data-a-sep="." data-a-dec="," data-m-dec="2">
                                    </div>
                                </div>
                                <!-- END field-block -->
                            </div>
                            <div class="outstanding-payment-field outstanding-payment-field-act">
                                <div class="row">
						            <div class="col-md-12 text-right">
                        				<button type="submit" class="btn-save" name="publish">Save Payment</button>
						            </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </form>

        <div class="sr-only cloned-row">                                    
            <div class="row">
                <div class="col-md-2">
                    <input type="text" class="text text-clone-date form-control" name="atdate[]" value="{atdate}" autocomplete="off" readonly="" />
                </div>
                <div class="col-md-4">
                    <select class="select-clone-option" name="atmethod[]" style="width:100%;">
                        {payment_method_list}
                    </select>
                </div>
                <div class="col-md-2 text-right">
                    <input type="text" class="field-atdebet text text-clone-number text-right form-control" name="atdebet[]" value="{atdebet}" data-v-min="0" data-a-sep="." data-a-dec="," data-m-dec="2" readonly="">
                </div>
                <div class="col-md-2 text-right">
                    <input type="text" class="field-atpaidoff text text-clone-number text-right form-control" name="atpaidoff[]" value="{atpaidoff}" data-v-min="0" data-a-sep="." data-a-dec="," data-m-dec="2" readonly="">
                </div>
                <div class="col-md-2 text-right">
                    <input type="text" class="field-bid sr-only" name="bid[]" value="">
                    <input type="text" class="field-bdid sr-only" name="bdid[]" value="" />
                    <input type="text" class="field-btotal sr-only" name="btotal[]" value="">
                    <input type="text" class="field-bticket sr-only" name="bticket[]" value="">
                    <input type="text" class="field-agid sr-only" name="agid[]" value="{agid}">
                    <input type="text" class="field-atgname sr-only" name="atgname[]" value="">
                    <input type="text" class="field-atstatus sr-only" name="atstatus[]" value="2" />
                    <input type="text" class="field-atremaining sr-only" name="atremaining[]" value="0">
                    <input type="text" class="field-atcredit text text-clone-number text-right form-control" name="atcredit[]" value="0" data-v-min="0" data-a-sep="." data-a-dec="," data-m-dec="2">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="table-block">
                    <table id="outstanding-payment-table" class="table table-striped" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Travel Date</th>
                                <th>Transaction Date</th>
                                <th>Booking Code</th>
                                <th>Reference Code Agent</th>
                                <th>Guest Name</th>
                                <th>Status</th>
                                <th class="text-right">Debet</th>
                                <th class="text-right">Credit</th>
                                <th class="text-right">Outstanding</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- BEGIN loop-block -->

							<tr id="item-{atid}">
							    <td class="rev-date">{tdate}</td>
                                <td class="rev-date">{atdate}</td>
							    <td class="no-ticket">{bticket}</td>
							    <td class="ref-code">{bbrevagent}</td>
							    <td class="guest-name">{atgname}</td>
							    <td class="status">{atstatus}</td>
							    <td class="debet text-right text-number" data-a-sep="." data-a-dec="," data-m-dec="0">{atdebet}</td>
							    <td class="credit text-right text-number" data-a-sep="." data-a-dec="," data-m-dec="0">{atcredit}</td>
							    <td class="outstanding text-right text-number" data-a-sep="." data-a-dec="," data-m-dec="0">{atoutstanding}</td>
                                <td class="actions">
                                    <div class="text-center {aclass}">
                                        <a href="javascript:;" class="edit" data-atid="{atid}" data-bid="{bid}" data-bdid="{bdid}" data-ticket="{bticket}" data-amount="{atcredit}">Edit</a>&nbsp;|&nbsp;
                                        <a href="javascript:;" class="delete" data-atid="{atid}" data-bid="{bid}" data-bdid="{bdid}" data-ticket="{bticket}">Delete</a>
                                    </div>
                                </td>
							</tr>

							<!-- END loop-block -->

                            <!-- BEGIN no-loop-block -->
                            <tr>
                        		<td colspan="8">
                        			<p class="text-center text-danger">No data found</p>
                        		</td>
                        	</tr>
                            <!-- END no-loop-block -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-action clearfix">
                <div class="row">
                    <div class="col-md-12">                                        
                        <button type="submit" class="btn-print" name="print">Print</button>
                        <button type="submit" class="btn-export-pdf" name="export_pdf">Export as PDF</button>
                        <button type="submit" class="btn-export-csv" name="export_csv">Export as CSV</button>
                    </div>
                    <div class="col-md-12">
                        {paging}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery('.text-number').autoNumeric('init');
        jQuery('.select-option').chosen({ max_selected_options:10, search_contains:true });
        jQuery('.select-multiple-option').chosen({ max_selected_options:10, search_contains:true });

        jQuery('.field-bid-opt').on('change', function(evt, param){
            if( typeof param.selected == 'undefined')
            {
                jQuery('.outstanding-payment-field-2 #row-' + param.deselected).remove();
            }
            else
            {
                var sel       = jQuery(this).find('option[value="' + param.selected + '"]');
                var clone     = jQuery('.cloned-row .row').clone();
                var remaining = sel.data('remaining');
                var tripdate  = sel.data('tripdate');
                var atgname   = sel.data('atgname');
                var paidoff   = sel.data('paidoff');
                var bticket   = sel.data('bticket');
                var btotal    = sel.data('btotal');
                var amount    = sel.data('amount');
                var bid       = sel.data('bid');
                var bdid      = param.selected;
                
                jQuery('.outstanding-payment-field-2').append( clone );
                jQuery('.outstanding-payment-field-2 .row:last-child').attr('id', 'row-' + bdid);
                jQuery('.outstanding-payment-field-2 .row:last-child .text-clone-number').autoNumeric('init');
                jQuery('.outstanding-payment-field-2 .row:last-child .text-clone-date').datepicker({ dateFormat:'dd MM yy' });
                jQuery('.outstanding-payment-field-2 .row:last-child .text-clone-date').datepicker( 'setDate', tripdate );
                jQuery('.outstanding-payment-field-2 .row:last-child .select-clone-option').chosen({ max_selected_options:10, search_contains:true });               

                jQuery('.outstanding-payment-field-2 .row:last-child .field-bid').val(bid);               
                jQuery('.outstanding-payment-field-2 .row:last-child .field-bdid').val(bdid);
                jQuery('.outstanding-payment-field-2 .row:last-child .field-btotal').val(btotal);
                jQuery('.outstanding-payment-field-2 .row:last-child .field-bticket').val(bticket);
                jQuery('.outstanding-payment-field-2 .row:last-child .field-atgname').val(atgname);
                jQuery('.outstanding-payment-field-2 .row:last-child .field-atremaining').val(remaining);
                jQuery('.outstanding-payment-field-2 .row:last-child .field-atdebet').val(amount).autoNumeric('update');
                jQuery('.outstanding-payment-field-2 .row:last-child .field-atpaidoff').val(paidoff).autoNumeric('update');
                jQuery('.outstanding-payment-field-2 .row:last-child .field-atcredit').val(remaining).autoNumeric('update', { vMax : remaining });
                jQuery('.outstanding-payment-field-2 .row:last-child .select-clone-option').val('36|Bank Transfer');
                jQuery('.outstanding-payment-field-2 .row:last-child .select-clone-option').trigger("chosen:updated");
            }
        });

        jQuery('.dpicker').daterangepicker({
            autoUpdateInput: false,
            locale: {
                format: 'DD-MM-YYYY',
                cancelLabel: 'Clear',
                separator: ', '
            }
        });

        jQuery('.dpicker').on('apply.daterangepicker', function(ev, picker) {
            jQuery(this).val( picker.startDate.format('DD-MM-YYYY') + ', ' + picker.endDate.format('DD-MM-YYYY') );
        });

        jQuery('.dpicker').on('cancel.daterangepicker', function(ev, picker) {
            jQuery(this).val('');
        });

        jQuery('.text-date').datepicker({
            dateFormat:'dd MM yy'
        });

        jQuery('[name=alist]').on('submit', function(){
            jQuery('form .text-number, form .text-clone-number').each(function(i){
                var v = jQuery(this).autoNumeric('get');

                jQuery(this).autoNumeric('destroy');
                jQuery(this).val(v);
            });
        });

        jQuery('.table .actions .edit').on('click', function(){
            var prm = new Object();
                prm.pkey = 'view-outstanding-payment';
                prm.atid = jQuery(this).data('atid');
                prm.bdid = jQuery(this).data('bdid');
                prm.bid  = jQuery(this).data('bid');

            jQuery.ajax({
                method: 'POST',
                url: '{ajax_url}',
                data: prm,
                dataType : 'json',
                beforeSend: function( xhr ){
                    jQuery('.section-overlay').fadeIn(200);
                },
                success: function( e ){
                    if( e.result == 'success' )
                    {
                        jQuery('.section-overlay').fadeOut(200, function(){
                            jQuery('<div></div>').dialog({
                                modal: true,
                                draggable: false,
                                resizable: false,
                                title: 'Edit Outstanding Payment',
                                dialogClass: 'popup-edit-outstanding',
                                open: function()
                                {                
                                    var template =
                                    '<fieldset>'+
                                        '<div class="row">'+
                                            '<div class="col-md-3">'+
                                                '<p class="text-right">Booking Ticket :</p>'+
                                            '</div>'+
                                            '<div class="col-md-9">'+
                                                '<p class="text-left">#'+ e.data.bticket +'</p>'+
                                            '</div>'+
                                        '</div>'+
                                    '</fieldset>'+
                                    '<fieldset>'+
                                        '<div class="row">'+
                                            '<div class="col-md-3">'+
                                                '<p class="text-right">Payment Method :</p>'+
                                            '</div>'+
                                            '<div class="col-md-9">'+
                                                '<select class="select-option" name="atmethod" autocomplete="off">'+ 
                                                    jQuery('.select-clone-option').html() +
                                                '</select>'+
                                            '</div>'+
                                        '</div>'+
                                    '</fieldset>'+
                                    '<fieldset>'+
                                        '<div class="row">'+
                                            '<div class="col-md-3">'+
                                                '<p class="text-right">Guest Name :</p>'+
                                            '</div>'+
                                            '<div class="col-md-9">'+
                                                '<textarea class="textarea" name="atgname" rows="5">'+ e.data.atgname +'</textarea>'+
                                            '</div>'+
                                        '</div>'+
                                    '</fieldset>'+
                                    '<fieldset>'+
                                        '<div class="row">'+
                                            '<div class="col-md-3">'+
                                                '<p class="text-right">Payment Date :</p>'+
                                            '</div>'+
                                            '<div class="col-md-9">'+
                                                '<input type="text" class="text txt-date form-control" name="atdate" value="" data-date="" autocomplete="off" />'+
                                            '</div>'+
                                        '</div>'+
                                    '</fieldset>'+
                                    '<fieldset>'+
                                        '<div class="row">'+
                                            '<div class="col-md-3">'+
                                                '<p class="text-right">Paid Amount :</p>'+
                                            '</div>'+
                                            '<div class="col-md-9">'+
                                                '<input data-v-min="0" data-a-sep="." data-a-dec="," data-m-dec="2" type="text" class="text text-number text-right form-control" name="atcredit" value="'+ e.data.atcredit +'" autocomplete="off" />'+
                                            '</div>'+
                                        '</div>'+
                                    '</fieldset>';

                                    jQuery(this).html( template );
                                    jQuery(this).find('.text-number').autoNumeric('init');
                                    jQuery(this).find('.txt-date').datepicker({ dateFormat:'dd MM yy' });
                                    jQuery(this).find('.txt-date').datepicker('setDate', new Date( e.data.atdate ));
                                    jQuery(this).find('.select-option').chosen({ max_selected_options:10, search_contains:true })
                                    jQuery(this).find('.select-option').val( e.data.apmethod ).trigger('chosen:updated');
                                },
                                buttons:
                                {
                                    Update: function()
                                    {
                                        var prm = new Object();
                                            prm.pkey        = 'update-outstanding-payment';
                                            prm.atid        = e.data.atid;
                                            prm.bid         = e.data.bid;
                                            prm.atgname     = jQuery(this).find('[name=atgname]').val();
                                            prm.atmethod    = jQuery(this).find('[name=atmethod]').val();
                                            prm.atcredit    = jQuery(this).find('[name=atcredit]').autoNumeric('get');
                                            prm.atdate      = jQuery.datepicker.formatDate( 'yy-mm-dd', jQuery(this).find('[name=atdate]').datepicker('getDate') );

                                        jQuery.ajax({
                                            method: 'POST',
                                            url: '{ajax_url}',
                                            data: prm,
                                            dataType : 'json',
                                            beforeSend: function( xhr ){
                                                jQuery(this).addClass('processing');
                                            },
                                            success: function( e ){
                                                jQuery(this).removeClass('processing');

                                                if( e.result == 'success' )
                                                {
                                                    location.reload();
                                                }
                                                else
                                                {
                                                    show_popup( 'Warning', 'Update payment data failed, please try again later' );
                                                }
                                            },
                                            error: function( e ){
                                                jQuery(this).removeClass('processing');
                                                
                                                show_popup( 'Warning', 'Update payment data failed, please try again later' );
                                            }
                                        });

                                        return false;
                                    },
                                    Close: function()
                                    {
                                        jQuery(this).dialog('close');
                                        jQuery(this).dialog('destroy').remove();
                                    }
                                }
                            });
                        });
                    }
                    else
                    {
                        jQuery('.section-overlay').fadeOut(200, function(){
                            show_popup( 'Warning', 'Sorry, something wrong with this data, please try again later' );
                        });
                    }
                },
                error: function( e ){
                    jQuery('.section-overlay').fadeOut(200, function(){
                        show_popup( 'Warning', 'Sorry, something wrong with this data, please try again later' );
                    });
                }
            });
        });

        jQuery('.table .actions .delete').on('click', function(){
            var prm = new Object();
                prm.pkey = 'delete-outstanding-payment';
                prm.atid = jQuery(this).data('atid');
                prm.bid  = jQuery(this).data('bid');

            jQuery('<div></div>').dialog({
                modal: true,
                draggable: false,
                resizable: false,
                title: 'Confirmation',
                open: function()
                {
                    jQuery(this).html('Do you want to delete this payment data?');
                },
                buttons:
                {
                    Yes: function()
                    {
                        jQuery.ajax({
                            method: 'POST',
                            url: '{ajax_url}',
                            data: prm,
                            dataType : 'json',
                            beforeSend: function( xhr ){
                                jQuery('.section-overlay').fadeIn(200);
                            },
                            success: function( e ){
                                if( e.result == 'success' )
                                {
                                    location.reload();
                                }
                                else
                                {
                                    jQuery('.section-overlay').fadeOut(200, function(){
                                        show_popup( 'Warning', 'Update payment data failed, please try again later' );
                                    });
                                }
                            },
                            error: function( e ){
                                jQuery('.section-overlay').fadeOut(200, function(){
                                    show_popup( 'Warning', 'Update payment data failed, please try again later' );
                                });
                            }
                        });

                        jQuery(this).dialog('close');
                        jQuery(this).dialog('destroy').remove();
                    },
                    No: function()
                    {
                        jQuery(this).dialog('close');
                        jQuery(this).dialog('destroy').remove();
                    }
                }
            });
        });

        jQuery('.btn-save').on('click', function(){
        	var remaining  = parseFloat( jQuery('[name=atremaining]').val() );
        	var paidamount = parseFloat( jQuery('[name=atcredit]').val() );

        	if( remaining < paidamount )
        	{
        		show_popup('Warning', 'Sorry, Your paid amount can\'t be greater than remaining amount');        		
        	}
        	else
        	{
        		return true;
        	}

        	return false;
        });

        jQuery('.btn-print').on('click', function(){
            var data = new Object;
                data.agid   = '{agid}';
                data.rid    = jQuery('[name=rid]').val();
                data.bddate = jQuery('[name=bddate]').val();

            window.open('', '_blank').location.href = '//{site_url}/agent-print-invoice-summary?filter=' + jQuery.base64.encode( JSON.stringify( data ) );
            return false;
        });

        jQuery('.btn-export-pdf').on('click', function(){
            var data = new Object;
                data.agid   = '{agid}';
                data.rid    = jQuery('[name=rid]').val();
                data.bddate = jQuery('[name=bddate]').val();

            window.open('', '_blank').location.href = '//{site_url}/agent-pdf-invoice-summary?filter=' + jQuery.base64.encode( JSON.stringify( data ) );
            return false;
        });

        jQuery('.btn-export-csv').on('click', function(){
            var data = new Object;
                data.agid   = '{agid}';
                data.rid    = jQuery('[name=rid]').val();
                data.bddate = jQuery('[name=bddate]').val();

            window.open('', '_blank').location.href = '//{site_url}/agent-csv-invoice-summary?filter=' + jQuery.base64.encode( JSON.stringify( data ) );
            return false;
        });
   	});
</script>

<!-- END detail-block -->