<!-- BEGIN list-block -->

<div class="wrapper-block outstanding-payment-block">
    <div class="container-fluid">
        <form action="{action}" method="post">
            <div class="row with-border">
                <div class="col-md-6">
                    <h1>Outstanding Payment</h1>
                </div>
                <div class="col-md-4">
                	<div class="button-box clearfix">
                        <button type="button" class="button btn-print" name="out_print">Print Outstanding</button>
                        <button type="button" class="button btn-export-csv" name="out_export_csv">Export CSV</button>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="search-box clearfix">
                        <input type="text" name="soutstanding" class="searchtext" placeholder="Search" autocomplete="off" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-block">
                        <table id="outstanding-payment-table" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Agent Name</th>
                                    <th>Email</th>
                                    <th>Outstanding (IDR)</th>
                                </tr>
                            </thead>
                            <tbody>
                                {list}
                            </tbody>
                        </table>

                        {paging}
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function(){
            var table = jQuery('#outstanding-payment-table').DataTable({
                dom          : '<"row"<"col-xs-5 col-sm-6"l><"col-xs-7 col-sm-6 text-right">r>t<"row"<"col-md-12"i><"col-md-12 text-center"p>>',
                pageLength   : parseInt('{limit}'),
                lengthChange : false,
                info         : false,
                processing   : true,
                serverSide   : true,
                searching    : true,
                deferRender  : true,
                ajax         : {
                    url  : '{ajax_url}',
                    type : 'POST',
                    data : {
                        pkey : 'load-data'
                    }
                },
                columns: [
                    {
                        data: 'agname', render: function ( data, type, row ){
                            var html = data +
                            '<p>'+
                                '<a id="detail-' + row.agid + '" href="' + row.detail_link + '" class="show-detail">Show Detail  &raquo;</a>'+
                            '</p>';

                            return html;
                        }
                    },
                    {
                        data: 'iagemail', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'outstanding', render: function ( data, type, row ) {
                            return data;
                        }
                    }
                ],
                columnDefs   : [
                    { className: 'text-right', 'targets': [ 2 ] }

                ],
                aaSorting: [],
                headerCallback: function( thead, data, start, end, display ){
                    var grandTotal = 0;

                    jQuery.each( data, function(i, ele){
                        grandTotal = grandTotal + parseInt( ele.outstanding2 );
                    });

                    jQuery( thead ).find( 'th' ).eq( 2 ).html( 'Outstanding (IDR)<br/><b style="font-size:14px;">' + grandTotal.format( 0, 3, '.', ',' ) + '</b>' );
                }
            });

            jQuery('[name=soutstanding]').on('keyup change', function(){
                table.search( this.value ).draw();
            });

            jQuery('[name=out_print]').unbind();
			jQuery('[name=out_print]').click(function(){
				var data = {
                    "src" : jQuery('[name=soutstanding]').val()
                };

				var order  = jQuery.base64.encode( JSON.stringify( table.order() ) );
				var filter = jQuery.base64.encode( JSON.stringify( data ) );

				window.open('', '_blank').location.href = '//{site_url}/outstanding-print-list?order='+order+'&filter=' + filter;
            	return false;
			});

			jQuery('[name=out_export_csv]').unbind();
			jQuery('[name=out_export_csv]').click(function(){
				var data = {
                    "src" : jQuery('[name=soutstanding]').val()
                };

				var order  = jQuery.base64.encode( JSON.stringify( table.order() ) );
				var filter = jQuery.base64.encode( JSON.stringify( data ) );

				window.open('', '_blank').location.href = '//{site_url}/outstanding-export-csv?order='+order+'&filter=' + filter;
            	return false;
			});
        });

        Number.prototype.format = function( n, x, s, c )
        {
		    var re  = '\\d(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\D' : '$') + ')',
		        num = this.toFixed(Math.max(0, ~~n));

		    return ( c ? num.replace( '.', c ) : num ).replace( new RegExp( re, 'g' ), '$&' + ( s || ',' ) );
		};
    </script>
</div>

<!-- END list-block -->
