<!-- BEGIN dashboard-block -->

<div class="wrapper-block availability-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="avform">
            <div class="row">
                <div class="col-md-12"> 
                    <h1>Dashboard</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline route-option">
                        <div class="form-group">
                            <div class="radio">
                                <input id="one-way-option" class="one-way-option" value="0" name="route_type" autocomplete="off" type="radio" checked/>
                                <label for="one-way-option">One Way</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="radio">
                                <input id="return-option" class="return-option" value="1" name="route_type" autocomplete="off" type="radio" />
                                <label for="return-option">Return</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <fieldset class="sr-only">
                        <input type="text" name="agid" value="{agid}" />
                        <input type="text" name="agcod" value="{agcod}" />
                    </fieldset>
                	<fieldset class="form-block">
                    	<label>Choose Destination <small>*</small></label>
                    	<div class="clearfix">
                            <div class="col-md-3 loc">
                                <select class="select-option required" name="destination_from" autocomplete="off">
                                    {from_list}
                                </select>
                            </div>
                            <div class="col-md-3 loc">
                                <select class="select-option required" name="destination_to" autocomplete="off">
                                    {to_list}
                                </select>
                            </div>
                            <div class="col-md-3 loc">
                                <select class="select-option required" name="destination_return" autocomplete="off" disabled>
                                    {to_list}
                                </select>
                            </div>
                            <div class="col-md-3 loc">
                                <select class="select-option required" name="destination_return_to" autocomplete="off" disabled>
                                    {from_list}
                                </select>
                            </div>
                    	</div>
                	</fieldset>
                	<fieldset class="form-block">
                		<div class="row">
	                        <div class="col-md-6 date">
	                    		<label>Departing <small>*</small></label>
	                        	<input type="text" class="text form-control required" name="depart_date" placeholder="Date" readonly>
	                    	</div>
	                        <div class="col-md-6 date">
	                    		<label>Returning <small>*</small></label>
	                        	<input type="text" class="text form-control required" name="return_date" placeholder="Date" readonly disabled>
	                    	</div>
	                    </div>
                    </fieldset>
                	<fieldset class="form-block">
                		<div class="row">
	                        <div class="col-md-6 passenger">
                				<div class="row">
	                        		<div class="col-md-4 adult">
			                    		<label>Adult <small>*</small></label>
                                        <div class="number-field">
                                            <input type="number" class="text form-control prequired" name="adult" value="1" min="0" oninput="this.value = Math.abs(this.value)">
                                            <div class="number-nav">
                                                <div class="number-button up">+</div>
                                                <div class="number-button down">-</div>
                                            </div>
                                        </div>
			                        </div>
	                        		<div class="col-md-4 child">
			                    		<label>Child (3 - 12)</label>
                                        <div class="number-field">
                                            <input type="number" class="text form-control prequired" name="child" value="0" min="0" oninput="this.value = Math.abs(this.value)">
                                            <div class="number-nav">
                                                <div class="number-button up">+</div>
                                                <div class="number-button down">-</div>
                                            </div>
                                        </div>
			                        </div>
	                        		<div class="col-md-4 infant">
			                    		<label>Infant (< 3yo)</label>
                                        <div class="number-field">
                                            <input type="number" class="text form-control prequired" name="infant" value="0" min="0" oninput="this.value = Math.abs(this.value)">
                                            <div class="number-nav">
                                                <div class="number-button up">+</div>
                                                <div class="number-button down">-</div>
                                            </div>
                                        </div>
			                        </div>
			                    </div>
	                    	</div>
	                        <div class="col-md-6">
	                    		<label>&nbsp;</label>
                                <input type="text" class="sr-only" name="booking_source" value="{chid}|{agid}" />
	                        	<input type="submit" name="check_availability" class="check" value="Check Availability">
	                    	</div>
                		</div>
                	</fieldset>
                </div>
            </div>
        </form>        

        <script type="text/javascript">
            function validate_form()
            {
                var type  = jQuery('[name=route_type]').val();
                var error = 0;
                var sum   = 0;

                jQuery('.required:not(:disabled)').each(function(){
                    var vals = jQuery(this).val();

                    if( vals == '' )
                    {
                        jQuery(this).parent().addClass('has-error');
                        error++;
                    }
                });

                jQuery('.prequired').each(function(){
                    var vals = jQuery(this).val();
                        sum  = sum + parseInt(vals);

                    if( vals == '' )
                    {
                        jQuery(this).parent().addClass('has-error');
                        error++;
                    }
                });
                
                if( error == 0 )
                {
                    if( sum == 0 )
                    {
                        show_popup('Warning', 'Number of passenger can\'t be empty');

                        return false;
                    }
                    else
                    {
                        return true;
                    }
                }
                else
                {
                    show_popup('Warning', 'Please check again your data before submited request, some of field may be empty or not valid');

                    return false;
                }
            }

            jQuery(document).ready(function(){
                jQuery('[name=destination_from]').chosen({ max_selected_options:10, search_contains:true, placeholder_text_single:'From' });
                jQuery('[name=destination_to]').chosen({ max_selected_options:10, search_contains:true, placeholder_text_single:'To' });
                jQuery('[name=destination_return]').chosen({ max_selected_options:10, search_contains:true, placeholder_text_single:'Return From' });
                jQuery('[name=destination_return_to]').chosen({ max_selected_options:10, search_contains:true, placeholder_text_single:'Return To' });
                
                jQuery('[name=depart_date]').datepicker({
                    dateFormat:'dd MM yy',
                    minDate: 0,
                    onSelect: function (date) {
                        var date2 = jQuery('[name=depart_date]').datepicker('getDate');
                            date2.setDate(date2.getDate());

                        jQuery('[name=return_date]').datepicker('setDate', date2);
                        jQuery('[name=return_date]').datepicker('option', 'minDate', date2);
                        jQuery('[name=return_date]').parent().removeClass('has-error');
                    }
                });

                jQuery('[name=return_date]').datepicker({
                    dateFormat:'dd MM yy',
                    minDate: 0,
                    onClose: function () {
                        var dt1 = jQuery('[name=depart_date]').datepicker('getDate');
                        var dt2 = jQuery('[name=return_date]').datepicker('getDate');

                        if( dt2 < dt1)
                        {
                            var minDate = jQuery('[name=return_date]').datepicker('option', 'minDate');
                            jQuery('[name=return_date]').datepicker('setDate', minDate);
                            jQuery('[name=return_date]').parent().removeClass('has-error');
                        }
                    }
                });

                jQuery('[name=route_type]').on('change', function(){
                    var vals = jQuery(this).val();
                    
                    if( vals == 0 )
                    {
                        jQuery('[name=destination_return]').prop('disabled', true).val('').trigger('chosen:updated');
                        jQuery('[name=destination_return_to]').prop('disabled', true).val('').trigger('chosen:updated');
                        jQuery('[name=return_date]').prop('disabled', true).val('');
                    }
                    else
                    {
                        jQuery('[name=destination_return]').prop('disabled', false).trigger('chosen:updated');
                        jQuery('[name=destination_return_to]').prop('disabled', false).trigger('chosen:updated');
                        jQuery('[name=return_date]').prop('disabled', false);
                    }

                    jQuery('.required, .select-option').parent().removeClass('has-error');
                });

                jQuery('[name=check_availability]').on('click', function(){
                    if( validate_form() )
                    {
                        return true;
                    }

                    return false;
                });

                jQuery('.required').on('focusin', function(){
                    jQuery(this).parent().removeClass('has-error');
                });

                jQuery('.select-option').chosen().on('change', function(evt, params){
                    jQuery(this).parent().removeClass('has-error');
                });
            });
        </script>
    </div>
</div>

<div class="wrapper-block dashboard-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="seat-block">
                    <h3>This Week Availability</h3>                    
                    <div class="boxs single-block">
                        {remain_seat_panel}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-block">
                    <h3>Latest Reservation</h3>
                    <div class="row">   
                        <div class="col-md-12">
                            {last_reservation}
                            <p class="see-all"><a href="{reservation_link}">See All Reservation &raquo;</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="//{site_url}/l-plugins/ticket/js/slick.min.js" ></script>
<script type="text/javascript">

    jQuery(document).ready(function(){
        jQuery('.seat-availability-agent .inner').slick({
            appendArrows: jQuery('.seat-availability-agent nav'),
            slidesToScroll: 1,
            slidesToShow: 1,
            infinite: false,
            arrows: true,
            dots: false,
            speed: 500
        });
    });

</script>

<!-- END dashboard-block -->