<!-- BEGIN form-block -->

<div class="wrapper-block boat-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-12"> 
                    <h1>New/Edit Boat</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-block no-field-border">
                    	{message}
                    	<fieldset class="sr-only">
                    		<input type="text" name="boid" value="{boid}" />
                    	</fieldset>
                    	<fieldset class="form-inline">
                            <label>Boat Name</label>
                            <div class="form-group">
                                <input type="text" class="text text-medium form-control" name="boname" value="{boname}" autocomplete="off">
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Boat Code</label>
                            <div class="form-group">
                                <input type="text" class="text text-medium form-control" name="bocode" value="{bocode}" autocomplete="off">
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Passenger</label>
                            <div class="form-group">
                                <input type="text" class="text text-small form-control number" name="bopassenger" value="{bopassenger}" autocomplete="off">
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Description</label>
                            <div class="form-group-block">
                                <textarea class="textarea text-large tinymce form-control" rows="5" name="bodesc" autocomplete="off">{bodesc}</textarea>
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Pictures</label>
                            <div class="form-group-block">
                                <div id="dropzone">
                                    <div class="dropzone" id="boat-pictures"></div>
                                </div>
                                <div id="boat-pic-template" class="dz-preview dz-file-preview" style="display:none;">
                                    <div class="dz-preview dz-file-preview">
                                        <div class="dz-image">
                                            <img data-dz-thumbnail data-dz-thumbnail-id />
                                            <input type="text" class="sr-only" name="boattachment[]" autocomplete="off" value="" />
                                        </div>
                                        <div class="dz-details">
                                            <a class="dz-delete">
                                                <img src="../l-plugins/ticket/images/delete.svg" />
                                            </a>
                                        </div>
                                        <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Status</label>
                            <div class="form-group-block">
                                <select name="bostatus" autocomplete="off" style="width:200px;">
                                    {bostatus}
                                </select>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-action clearfix">
                    	<button type="submit" class="btn-save pull-left" name="publish">Save Boat</button>
                    	<a class="cancel pull-left" href="{cancel_link}">Cancel</a>
                    	<a class="delete pull-right {delete_class}" href="{ajax_link}">Delete</a>
                    </div>
                    <div class="form-note">
                        {last_update_note}
                    </div>
                </div>
            </div>
        </form>

        <script type="text/javascript">

            Dropzone.autoDiscover = false;

            jQuery(document).ready(function(){
                jQuery('.form-action .delete').on('click', function(e){
                    var url = jQuery(this).attr('href');
                    var prm = new Object();
                        prm.pkey = 'delete-boat';
                        prm.boid = jQuery('[name=boid]').val();

                    jQuery('<div></div>').dialog({
                        modal: true,
                        draggable: false,
                        resizable: false,
                        title: 'Notification',
                        open: function(){
                            jQuery(this).html('Are you sure want to delete this boat?');
                        },
                        buttons: {
                            Yes: function(){
                                var popup = jQuery(this);

                                jQuery.ajax({
                                    method: 'POST',
                                    url: url,
                                    data: prm,
                                    dataType : 'json',
                                    success: function(e){
                                        popup.dialog('close');

                                        if( e.result=='success' )
                                        {                                       
                                            show_popup('Notification', 'This boat has been successfully deleted', 'window.location.assign("{cancel_link}")');
                                        }
                                        else if( e.result=='error-query' )
                                        {
                                            if( e.error_code==1451 )
                                            {
                                                show_popup('Warning', 'Sorry, This boat can\'t be deleted. May already be used in another data');
                                            }
                                            else
                                            {
                                                show_popup('Warning', 'Sorry, This boat can\'t be deleted. Please try again later');
                                            }
                                        }
                                    },
                                    error: function(e){
                                       popup.dialog('close');

                                       show_popup('Warning', 'Sorry, This boat can\'t be deleted. Please try again later');
                                    }
                                });
                            },
                            No: function(){
                                jQuery( this ).dialog('close');
                            }
                        }
                    });

                    return false;
                });

                set_tinymce();
                set_boat_gallery();                
            });

            function set_boat_gallery()
            {
                if( document.getElementById('boat-pictures') )
                {
                    var myDropzone = new Dropzone('#boat-pictures', { 
                        url: '{ajax_link}',
                        previewTemplate: document.querySelector('#boat-pic-template').innerHTML,
                        maxFilesize: 2,
                        init: function()
                        {
                            var prm = new Object;
                                prm.pkey = 'get-boat-pictures';
                                prm.boid = jQuery('[name=boid]').val();

                            jQuery.ajax({
                                method: 'POST',
                                url: '{ajax_link}',
                                data: prm,
                                dataType : 'json',
                                success: function(e){
                                    if( e.result=='success' )
                                    {
                                        jQuery.each(e.gallery, function(i, e){
                                            var mockFile = new Object
                                                mockFile.url = e.thumbnail;
                                                mockFile.id  = e.id;

                                            myDropzone.emit('addedfile', mockFile);
                                            myDropzone.emit('thumbnail', mockFile, e.thumbnail);
                                            myDropzone.emit('complete', mockFile);
                                            myDropzone.files.push(mockFile);
                                        });
                                    }
                                }
                            });
                
                            this.on('addedfile', function(file) {
                                var thumb_id = ( typeof file.id != 'undefined' ? file.id : '');
                                var selector = jQuery(file.previewElement);
                                
                                selector.attr('id', 'list_'+thumb_id);
                                selector.find('img').attr('data-dz-thumbnail-id', thumb_id);
                                selector.find('input').val(thumb_id);

                                selector.find('.dz-delete').unbind('click');
                                selector.find('.dz-delete').click(function(){
                                    var prm = new Object;
                                        prm.pkey   = 'delete-boat-pictures';
                                        prm.att_id = selector.find('img').data('dz-thumbnail-id');

                                    jQuery.ajax({
                                        method: 'POST',
                                        url: '{ajax_link}',
                                        data: prm,
                                        dataType : 'json',
                                        success: function(e){
                                            if( e.result=='success' )
                                            {
                                                myDropzone.removeFile(file);
                                            }
                                            else
                                            {
                                                show_popup('Warning', 'Something Wrong!!');
                                            }
                                        },
                                        error: function(e){
                                            show_popup('Warning', 'Something Wrong!!');
                                        }
                                    });
                                });
                            });

                            this.on('error', function(file, message) {
                                show_popup('Warning', message);
                                myDropzone.removeFile(file);
                            });

                            this.on('sending', function(file, xhr, formData){
                                formData.append('pkey', 'upload-boat-pictures');
                                formData.append('boid', jQuery('[name=boid]').val());
                            });

                            this.on('success', function(file, responseText){
                                var e = JSON.parse(responseText);
                                if( e && typeof e === 'object' )
                                {
                                    if( e.result = 'success' )
                                    {
                                        var selector  = jQuery(file.previewElement);
                                            selector.find('img').attr('data-dz-thumbnail-id', e.id);
                                            selector.find('input').val(e.id);
                                            selector.attr('id','list_'+e.id);
                                    }
                                    else
                                    {
                                        myDropzone.removeFile(file);   
                                    }
                                }
                            });
                        }
                    });
                }
            }

            function set_tinymce()
            {
                tinymce.init({
                    selector: '.tinymce',
                    height: 300,
                    theme: 'modern',
                    plugins: [
                        'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                        'searchreplace wordcount visualblocks visualchars code fullscreen',
                        'insertdatetime media nonbreaking save table contextmenu directionality',
                        'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
                    ],
                    toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link unlink image | print preview media | forecolor backcolor emoticons | codesample code',
                    image_advtab: true,
                    content_css: [
                        '../l-admin/themes/{admin_theme}/css/textarea.css',
                    ]
                });
            }
        </script>
    </div>
</div>

<!-- END form-block -->