<!-- BEGIN loop-block -->

<tr id="item-{id}">
    <td class="id"><input type="checkbox" name="select[]" autocomplete="off" value="{id}" /></td>
    <td class="name">
    	<img src="{bopicture}" alt="{bopicturetitle}" width="120" class="pull-left" />
    	{boname}
    	<p>
	        <a id="edit-{id}" rel="{id}" href="{edit_link}">Edit  &raquo;</a>
	        <a id="delete-{id}" rel="{id}" href="{ajax_link}" onclick="return false;" >Delete &raquo;</a>
	    </p>
	    <script type="text/javascript">
	    	jQuery('#delete-{id}').on('click', function(e){
	    		var url = jQuery(this).attr('href');
	    		var prm = new Object();
	    			prm.pkey = 'delete-boat';
	    			prm.boid = jQuery(this).attr('rel');

	    		jQuery('<div></div>').dialog({
	                modal: true,
	                draggable: false,
	                resizable: false,
	                title: 'Notification',
	                open: function(){
	                    jQuery(this).html('Are you sure want to delete this boat?');
	                },
	                buttons: {
	                    Yes: function(){
	                    	var popup = jQuery(this);

	                    	jQuery.ajax({
		                        method: 'POST',
		                        url: url,
		                        data: prm,
		                        dataType : 'json',
							    success: function(e){
							    	popup.dialog('close');

							    	if( e.result=='success' )
							    	{							    		
							    		jQuery('#item-{id}').fadeOut(200, function(){
							    			show_popup('Notification', 'This boat has been successfully deleted');
							    		});
							    	}
                                    else if( e.result=='error-query' )
                                    {
                                        if( e.error_code==1451 )
                                        {
                                            show_popup('Warning', 'Sorry, This boat can\'t be deleted. May already be used in another data');
                                        }
                                        else
                                        {
                                            show_popup('Warning', 'Sorry, This boat can\'t be deleted. Please try again later');
                                        }
                                    }
							    },
							    error: function(e){
							       popup.dialog('close');

							       show_popup('Warning', 'Sorry, This boat can\'t be deleted. Please try again later');
							    }
							});
	                    },
	                    No: function(){
	                        jQuery( this ).dialog('close');
	                    }
	                }
	            });
	    	});
	    </script>
    </td>
    <td class="passenger">{bopassenger}</td>
    <td class="status">{bostatus}</td>
</tr>

<!-- END loop-block -->