<!-- BEGIN dashboard-block -->

<div class="wrapper-block dashboard-block">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">	
				<h1>Dashboard</h1>
				{dashboard_memo}
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="count-block">
					<p>Visitors</p>
					<strong>0</strong>
					<small>Last 30 days</small>
				</div>
			</div>
			<div class="col-md-4">
				<div class="count-block">
					<p>Reservations</p>
					<strong>{last_reservation_count}</strong>
					<small>Last 30 days</small>
				</div>
			</div>
			<div class="col-md-4">
				<div class="count-block">
					<p>Feedback</p>
					<strong>{last_feedback_count}</strong>
					<small>Last 30 days</small>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="seat-block">
					<h3>Seats Availability</h3>
					<div class="row">
						<div class="col-md-6">
							{boat_seat_panel}
						</div>
						<div class="col-md-6">
							{trip_seat_panel}
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- BEGIN report-block -->
		<div class="row">
		    <div class="col-md-12">
		        <div class="table-block seats-production">
                    <h3>Seats Production</h3>
                    <!-- BEGIN report-loop -->
                    <table width="100%" border="0">
                    
                    <!--{data_tbl_variance_and_percent}-->
                    
                    <!--{data_tbl_prev_sum}-->
                    <tr>
                        <td colspan="20" style="text-align:center;"><b clas="text-center">{year}</b></td>
                    </tr>
                    <tr>
                        <td rowspan="2" align="center"><b>No</b></td>
                        <td rowspan="2" align="center"><b>Code</b></td>
                        <td rowspan="2" align="center"><b>Account</b></td>
                        <!--{data_sp_column}                    -->
                    </tr>
                    
                    <!--{data_tbl_sum}-->
                    
                    <tr>
                        <td align="right" ><b>Jan</b></td>
                        <td align="right" ><b>Feb</b></td>
                        <td align="right" ><b>Mar</b></td>
                        <td align="right" ><b>Apr</b></td>
                        <td align="right" ><b>May</b></td>
                        <td align="right" ><b>Jun</b></td>
                        <td align="right" ><b>Jul</b></td>
                        <td align="right" ><b>Aug</b></td>
                        <td align="right" ><b>Sep</b></td>
                        <td align="right" ><b>Oct</b></td>
                        <td align="right" ><b>Nov</b></td>
                        <td align="right" ><b>Dec</b></td>
                        <td align="right" ><b>{year}</b></td>
                    </tr>
                    
                    {data_tbl}
                    
                    </table>
                    <p class="see-all"><a href="?state=report&sub=seats-production-report">See All Seats Production Report &raquo;</a></p>
                    <!-- END report-loop -->

		        </div>
		    </div>
		</div>
		<!-- END report-block -->
		<div class="row">
			<div class="col-md-12">
				<div class="feedback-block">
					<h3>Latest Feedback</h3>
					<div class="row">
						{latest_feedback}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="chart-block">
					<h3>30 Days Chart</h3>
					<div class="row">
		                <div class="col-md-12">
		                    <div class="report-chart-wrapp">
		                        <div id="report-chart" class="report-chart"></div>                        
		                        <div class="report-chart-legend"></div>
		                    </div>
		                </div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="table-block">
					<h3>Latest Reservation</h3>
					<div class="row">	
						<div class="col-md-12">
							{last_reservation}							
							<p class="see-all"><a href="?state=reservation&sub=booking">See All Reservation &raquo;</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="table-block">
					<h3>Today's Pickup</h3>
					<div class="row">	
						<div class="col-md-12">
							<table id="today-{type}" class="table table-striped" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th>Vehicle Name</th>
							            <th>Date</th>
							            <th>Driver</th>
							            <th>Passenger</th>
							            <th>Pickup Area</th>
							            <th>Transport</th>
							            <th>Status</th>
									</tr>
								</thead>
								<tbody>
									{today_pickup}
								</tbody>
							</table>
							<p class="see-all"><a href="?state=transport-list&sub=pickup-list">See All Pickup &raquo;</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="table-block">
					<h3>Today's Drop-Off</h3>
					<div class="row">	
						<div class="col-md-12">	

							<!-- BEGIN last-drop-off-block -->

							<table id="today-{type}" class="table table-striped" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th>Vehicle Name</th>
							            <th>Date</th>
							            <th>Driver</th>
							            <th>Passenger</th>
							            <th>Pickup Area</th>
							            <th>Transport</th>
							            <th>Status</th>
									</tr>
								</thead>
								<tbody>
									{today_drop_off}
								</tbody>
							</table>

							<!-- END last-drop-off-block -->

							<p class="see-all"><a href="?state=transport-list&sub=drop-off-list">See All Drop-Off &raquo;</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</div>
</div>

<script type="text/javascript" src="//{site_url}/l-admin/javascript/jquery.base64.min.js" ></script>
<script type="text/javascript" src="//code.highcharts.com/highcharts.js" ></script>
<script type="text/javascript" src="//{site_url}/l-plugins/ticket/js/slick.min.js" ></script>
<script type="text/javascript">

jQuery(document).ready(function(){
	jQuery('.nav-tabs').on('init', function(event, slick){
        var sel = jQuery(this);

        sel.find('li a').on('click', function(){
            var id = jQuery(this).attr('href');
                id = id.replace('#', '');

            sel.find('li').removeClass('active');
            sel.parent().find('.tab-content .tab-pane').removeClass('active');
            sel.parent().find('.tab-content #'+id).addClass('active');

            jQuery(this).parent().addClass('active');

            return false;
        });
    });

    jQuery('.nav-tabs').slick({
        slidesToScroll: 3,
        slidesToShow: 3,
        infinite: false,
        arrows: false,
        dots: false,
        speed: 500
    });

	jQuery('.edit-feedback-status').on('click', function(e){
		var id = jQuery(this).attr('rel');

		jQuery('#edit-form-'+id).dialog({
			width: 600,
            modal: true,
            draggable: false,
            resizable: false,
            title: 'Guest Feedback',
            open: function(){
            	jQuery(this).parent().addClass('feedback-popup');
        		feedback_popup_action(id);
            }
        });

        return false;
	});

	jQuery('.close').click(function(){
		var sel = jQuery(this).parent();
		var url = jQuery(this).attr('data-ajax-link');
		var prm = new Object();
			prm.pkey    = 'update-ticket-notification';
			prm.nid     = jQuery(this).attr('data-id');
			prm.nstatus = 1;

		jQuery.ajax({
            method: 'POST',
            url: url,
            data: prm,
            dataType : 'json',
		    success: function(e){
		    	if( e.result=='success' )
		    	{
					sel.slideUp(200, function(){
						jQuery(this).remove();
					})
		    	}
		    }
		});
	})
});

function feedback_popup_action( id )
{
	jQuery('#edit-form-' + id +' button').unbind();
	jQuery('#edit-form-' + id +' button').on('click', function(){
		var url = jQuery(this).attr('data-ajax-link');
		var prm = new Object();
			prm.pkey   = 'edit-feedback-status';
			prm.status = jQuery('[name=fstatus_' + id + ']').val();
			prm.fid    = id;

		jQuery.ajax({
            method: 'POST',
            url: url,
            data: prm,
            dataType : 'json',
		    success: function(e){
		    	if( e.result=='success' )
		    	{
		    		show_popup('Notification', 'This feedback has been successfully edited', 'location.reload()');
		    	}
                else if( e.result=='failed' )
                {
                    show_popup('Warning', 'Sorry, This feedback can\'t be edited. Please try again later');
                }
		    },
		    error: function(e){
		       show_popup('Warning', 'Sorry, This feedback can\'t be edited. Please try again later');
		    }
		});
	});

	jQuery('#edit-form-' + id +' .cancel').unbind();
	jQuery('#edit-form-' + id +' .cancel').on('click', function(){
		jQuery('#edit-form-' + id).dialog('close');
	});
}

</script>

<script type="text/javascript">
    jQuery(function () {
        var legend  = jQuery('.report-chart-legend');
        var options = jQuery.parseJSON( jQuery.base64.decode( '{last_30_days_chart}' ) );
        
        jQuery.each( options.series, function(i, e){
            legend.append('<a><span></span>'+e.name+'</a>');
        });

        options.chart.marginTop = legend.innerHeight() + 50;

        var report = Highcharts.chart('report-chart', options );

        jQuery(report.series).each(function(i, e){
            jQuery('.report-chart-legend a:eq('+i+')').css('border-bottom-color', e.color);
        });

        jQuery('.report-chart-legend a').click(function (){
            var idx = jQuery(this).index();

            jQuery(this).toggleClass('leg-clicked');
            jQuery('.highcharts-legend-item:eq('+idx+')').trigger('click');
        });
    });
</script>

<!-- END dashboard-block -->