<!-- BEGIN genSetting -->

<div class="wrapper-block settings-block">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h1>Settings</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<ul class="tabs">
				   {tab}
				</ul>
			</div>
			<div class="col-md-12">
		        <form action="{action}" method="post" name="alist">
		            <div class="row">
		                <div class="col-md-12">
		                    <div class="form-block">
		                    	{alert}
		                    	<fieldset class="sr-only">
							    	<input type="text" name="update" value="true" />
		                    	</fieldset>
							    <fieldset>
									<label>Organization/Website Name</label>
									<input type="text" id="web_name" name="web_name" value="{web_name}" class="text text-large form-control" />
							    </fieldset>
							    <fieldset>
									<label>Website Title</label>
									<input type="text" id="web_title" name="web_title" value="{web_title}" class="text text-large form-control" />
							    </fieldset>
							    <fieldset>
									<label>Tagline:</label>
									<input type="text" id="tagline" name="web_tagline" value="{tagline}" class="text text-large form-control" />
							    </fieldset>
							    <fieldset>
									<label>Website Address</label>
									<input type="text" id="website_address" name="site_url" value="{site_url}" class="text text-large form-control" />
							    </fieldset>
							    <fieldset>
									<label>Email</label>
									<input type="text" id="email" name="email" value="{email}" class="text text-large form-control" />
									<em><br />This address is used for admin purposes, like new user notification.</em>
							    </fieldset>
							    <fieldset>
									<label>Email Feedback Invitation</label>
									<input type="text" id="email_feedback_invotation" name="email_feedback_invotation" value="{email_feedback_invotation}" class="text text-large form-control" />
									<em><br />This address is used for guest feedback invitation to admin.</em>
							    </fieldset>
							    <fieldset>
									<label>Email Feedback Submited</label>
									<input type="text" id="email_feedback_submited" name="email_feedback_submited" value="{email_feedback_submited}" class="text text-large form-control" />
									<em><br />This address is used for guest feedback after submited to admin.</em>
							    </fieldset>
							    <fieldset>
									<label>Email Reservation</label>
									<input type="text" id="email_reservation" name="email_reservation" value="{email_reservation}" class="text text-large form-control" /><br /><br />
									<input type="text" id="email_reservation_2" name="email_reservation_2" value="{email_reservation_2}" class="text text-large form-control" />
									<em><br />This address is used for reservation purposes, like new reservation, payment, etc.</em>
							    </fieldset>
							    <fieldset>
									<label>Outgoing Mail Server Hostname</label>
									<input type="text" id="smtp" name="smtp" value="{smtp}" class="text text-large form-control" />
									<em><br />SMTP address is used for sending an email.</em>
							    </fieldset>
							    <fieldset>
				                    <label>Outgoing Mail Server Port</label>
				                    <input type="text" id="smtp-port" name="smtp_email_port" value="{smtp_email_port}" class="text text-medium form-control" />
							    </fieldset>
							    <fieldset>
				                    <label>SMTP Email address</label>
				                    <input type="text" id="smtp-email" name="smtp_email_address" value="{smtp_email_address}" class="text text-large form-control" />
							    </fieldset>
							    <fieldset>
				                    <label>SMTP Email password</label>
				                    <input type="password" id="smtp-email-pwd" name="smtp_email_pwd" value="{smtp_email_pwd}" class="text text-large form-control" />
							    </fieldset>
							    <fieldset>
				                    <label>Recaptcha Public Key</label>
				                    <input type="text" id="recaptcha-public-key" name="r_public_key" value="{r_public_key}" class="text text-large form-control" />
							    </fieldset>
							    <fieldset>
				                    <label>Recaptcha Secret Key</label>
				                    <input type="text" id="recaptcha-private-key" name="r_secret_key" value="{r_secret_key}" class="text text-large form-control" />
							    </fieldset>
							    <fieldset>
									<div style="display:flex">
										<div style="max-width : 50%;">
				                    		<label>Feedback Link</label>
											<select id="feedback-link-option"  name="feedback_link_opt" class="combobox">
												{feedback_link_opt}
											</select>
										</div>
										<div style="max-width : 50%; margin-left:25px;">
											<label>Feedback Time</label>
 									 		<input style="max-width : 25%;" type="number" id="feedback-time" name="feedback_time" value="{feedback_time}" class="text text-large form-control" min="1"/>
										</div>
									</div>
									<div class="feedback-link-wrapp {feedback_link_css}"><br/>
				             			<input type="text" id="feedback-link" name="feedback_link" value="{feedback_link}" class="text text-large form-control" />
						           </div>
							    </fieldset>
							    <fieldset>
				                    <label>Credit Card Payment Gateway</label>
									<select id="cc-payment-gateway-option"  name="cc_payment_gateway_opt" class="combobox">
										{cc_payment_gateway_opt}
									</select>
									<div>
										<br /><em>Choose default payment gateway for credit card</em>
									</div>
							    </fieldset>
							    <fieldset>
									<label>Timezone</label>
									<select id="time_zone"  name="time_zone" class="combobox">
									    {timezone}
									</select>
									<div>
										<br /><em>Choose a city in the same timezone as you. UTC time is <span class="alert_yellow">{utc_time}</span>, Local time is <span class="alert_yellow">{local_time}</span> </em>
									</div>
							    </fieldset>
							    <fieldset>
									<label>Date Format</label>
									<ul class="format">
										{date_format}
									</ul>
							    </fieldset>
							    <fieldset>
									<label>Time Format:</label>
									<ul class="format">
										{time_format}
									</ul>
							    </fieldset>
		                   	</div>
		                    <div class="form-action clearfix">
		                    	<button type="submit" class="btn-save pull-left" name="save_changes">Save Changes</button>
		                    </div>
		                    <script type="text/javascript">
		                    	jQuery(document).ready(function(){
		                    		jQuery('[name=feedback_link_opt]').on('change', function(){
		                    			if( jQuery(this).val() == 1 )
		                    			{
		                    				jQuery('.feedback-link-wrapp').removeClass('sr-only');
		                    			}
		                    			else
		                    			{
		                    				jQuery('.feedback-link-wrapp').addClass('sr-only');
		                    			}
		                    		});

		                    		jQuery('.combobox').chosen({ max_selected_options:10, search_contains:true });
		                    	})
		                    </script>
		                </div>
		            </div>
		        </form>
			</div>
		</div>
	</div>
</div>

<!-- END genSetting -->

<!-- BEGIN readingSettings -->

<div class="wrapper-block settings-block">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h1>Settings</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<ul class="tabs">
				   {tab}
				</ul>
			</div>
			<div class="col-md-12">
		        <form action="{action}" method="post" name="alist">
		            <div class="row">
		                <div class="col-md-12">
		                    <div class="form-block">
		                    	{alert}
		                    	<fieldset class="sr-only">
							    	<input type="text" name="update" value="true" />
		                    	</fieldset>
							    <fieldset>
								    <label>Default number of posts viewed</label>
								    <input type="text" id="post_view" name="post_viewed" value="{post_viewed}" class="text text-small form-control" /> <i>posts</i>
								</fieldset>
								<fieldset>
								    <label>The most recent RSS viewed</label>
								    <input type="text" id="rss_view" name="rss_viewed" value="{rss_viewed}" class="text text-small form-control" /> <i>posts</i>
								</fieldset>
								<fieldset>
								    <label>Default number of status viewed</label>
								    <input type="text" id="status_view" name="status_viewed" value="{status_viewed}" class="text text-small form-control" /> <i> status posts</i>
								</fieldset>
								<fieldset>
								    <label>For each article in a feed, show</label>
								    <ul class="format">
								    	{rss_view_format}
								    </ul>
								</fieldset>
								<fieldset>
								    <label>Use Search Engine Friendly URL</label>
								    <ul class="format">
								    	{sef_format}
								    </ul>
								</fieldset>
		                    </div>
		                    <div class="form-action clearfix">
		                    	<button type="submit" class="btn-save pull-left" name="save_changes">Save Changes</button>
		                    </div>
		                </div>
		            </div>
		        </form>
			</div>
		</div>
	</div>
</div>

<!-- END readingSettings -->

<!-- BEGIN writingSettings -->

<div class="wrapper-block settings-block">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h1>Settings</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<ul class="tabs">
				   {tab}
				</ul>
			</div>
			<div class="col-md-12">
		        <form action="{action}" method="post" name="alist">
		            <div class="row">
		                <div class="col-md-12">
		                    <div class="form-block">
		                    	{alert}
		                    	<fieldset class="sr-only">
							    	<input type="text" name="update" value="true" />
		                    	</fieldset>
								<fieldset>
								    <label>Default number of list viewed</label>
								    <input type="text" id="lists_view" name="list_viewed" value="{list_viewed}" class="text text-small form-control" /> <i>posts</i>
								</fieldset>
								<fieldset>
								    <label>Email format</label>
								    <ul class="format">
								    	{email_format}
								    </ul>
								</fieldset>
								<fieldset>
								    <label>Text Editor</label>
								    <ul class="format">
								    	{text_editor}
								    </ul>
								</fieldset>
								<fieldset>
								    <h2>Image sizes</h2>
								    <label>Default thumbnail size</label>
								    <div class="form-group">
										<i>Width</i> <input type="text" name="thumbnail_image_width" value="{thumbnail_image_width}" class="text text-small form-control" />
										<i>Height</i> <input type="text" name="thumbnail_image_height" value="{thumbnail_image_height}" class="text text-small form-control" />
									</div>
								</fieldset>
								<fieldset>
									<label>Default medium image size</label>
								    <div class="form-group">
										<i>Max Width</i> <input type="text" name="medium_image_width" value="{medium_image_width}" class="text text-small form-control" />
										<i>Max Height</i> <input type="text" name="medium_image_height" value="{medium_image_height}" class="text text-small form-control" />
									</div>
								</fieldset>
								<fieldset>
									<label>Default large image size</label>
								    <div class="form-group">
										<i>Max Width</i> <input type="text" name="large_image_width" value="{large_image_width}" class="text text-small form-control" />
										<i>Max Height</i> <input type="text" name="large_image_height" value="{large_image_height}" class="text text-small form-control" />
									</div>
								</fieldset>
		                    </div>
		                    <div class="form-action clearfix">
		                    	<button type="submit" class="btn-save pull-left" name="save_changes">Save Changes</button>
		                    </div>
		                </div>
		            </div>
		        </form>
			</div>
		</div>
	</div>
</div>

<!-- END writingSettings -->