<!-- BEGIN form-block -->

<div class="wrapper-block agent-discount-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-12"> 
                    <h1>New/Edit Location</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-block">
                    	{message}
                    	<fieldset class="sr-only">
                    		<input type="text" name="adid" value="{adid}" />
                    	</fieldset>
                        <fieldset class="form-inline">
                            <label>Discount Name</label>
                            <div class="form-group">
                                <input type="text" class="text text-large form-control" name="adname" value="{adname}" placeholder="">
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Discount Value</label>
                            <div class="form-group">
                                <input type="text" class="text text-small form-control" name="addisc" value="{addisc}" placeholder="">
                            </div>
                            <div class="form-group">
                                <select name="adtype" class="select-option" autocomplete="off">
                                    {adtype}
                                </select>
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Discount Period</label>
                            <div class="form-group">
                                <p class="subtitle">From</p>
                                <input type="text" class="text text-date text-medium form-control" name="adfrom" value="{adfrom}" placeholder="Date" readonly>
                            </div>
                            <div class="form-group">
                                <p class="subtitle">To</p>
                                <input type="text" class="text text-date text-medium form-control" name="adto" value="{adto}" placeholder="Date" readonly>
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Discount Apply On</label>
                            <div class="form-group">
                                <select name="adapply[]" class="select-multiple-option" autocomplete="off" multiple="">
                                    {adapply}
                                </select>
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Discount Status</label>
                            <div class="form-group">
                                <select name="adstatus" class="select-option" autocomplete="off" style="width:200px;">
                                    {adstatus}
                                </select>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-action clearfix">
                    	<button type="submit" class="btn-save pull-left" name="publish">Save Agent Discount</button>
                    	<a class="cancel pull-left" href="{cancel_link}">Cancel</a>
                    	<a class="delete pull-right {delete_class}" href="{ajax_link}">Delete</a>
                    </div>
                    <div class="form-note">
                        {last_update_note}
                    </div>
                </div>
            </div>
        </form>

        <script type="text/javascript">
            jQuery(document).ready(function(){
                jQuery('.select-option').chosen({ max_selected_options:10, search_contains:true });
                jQuery('.select-multiple-option').chosen({ max_selected_options:10, search_contains:true, placeholder_text_multiple:'All Agent' });

                jQuery('[name=adfrom]').datepicker({
                    dateFormat:'dd MM yy',
                    onSelect: function(date){
                        var date2 = jQuery('[name=adto]').datepicker('getDate');

                        if( date2 == null )
                        {
                            jQuery('[name=adto]').datepicker('setDate', date);
                        }

                        jQuery('[name=adto]').datepicker('option', 'minDate', date);
                    }
                });

                jQuery('[name=adto]').datepicker({
                    dateFormat:'dd MM yy',
                    onClose: function(date){
                        var date2 = jQuery('[name=adfrom]').datepicker('getDate');

                        if( date2 == null )
                        {
                            jQuery('[name=adfrom]').datepicker('setDate', date);
                        }
                        
                        jQuery('[name=adfrom]').datepicker('option', 'maxDate', date);
                    }
                });

                jQuery('.form-action .delete').on('click', function(e){
                    var url = jQuery(this).attr('href');
                    var prm = new Object();
                        prm.pkey = 'delete-agent-discount';
                        prm.adid = jQuery('[name=adid]').val();

                    jQuery('<div></div>').dialog({
                        modal: true,
                        draggable: false,
                        resizable: false,
                        title: 'Notification',
                        open: function(){
                            jQuery(this).html('Are you sure want to delete this agent discount?');
                        },
                        buttons: {
                            Yes: function(){
                                var popup = jQuery(this);

                                jQuery.ajax({
                                    method: 'POST',
                                    url: url,
                                    data: prm,
                                    dataType : 'json',
                                    success: function(e){
                                        popup.dialog('close');

                                        if( e.result=='success' )
                                        {                                       
                                            show_popup('Notification', 'This agent discount has been successfully deleted', 'window.location.assign("{cancel_link}")');
                                        }
                                        else if( e.result=='error-query' )
                                        {
                                            if( e.error_code==1451 )
                                            {
                                                show_popup('Warning', 'Sorry, This agent discount can\'t be deleted. May already be used in another data');
                                            }
                                            else
                                            {
                                                show_popup('Warning', 'Sorry, This agent discount can\'t be deleted. Please try again later');
                                            }
                                        }
                                    },
                                    error: function(e){
                                       popup.dialog('close');

                                       show_popup('Warning', 'Sorry, This agent discount can\'t be deleted. Please try again later');
                                    }
                                });
                            },
                            No: function(){
                                jQuery( this ).dialog('close');
                            }
                        }
                    });

                    return false;
                });
            });
        </script>
    </div>
</div>

<!-- END form-block -->