<!-- BEGIN list-block -->

<div class="wrapper-block log-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-8"> 
                    <h1>Admin Log</h1>
                </div>
                <div class="col-md-4">
                    <div class="search-box clearfix">
                        <input type="text" name="slog" class="searchtext" placeholder="Search" autocomplete="off" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-block">
                        {message}
                        <table id="log-table" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="30%">Log Date</th>
                                    <th>Application</th>
                                    <th>Description</th>
                                    <th>Users</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function(){
            var table = jQuery('#log-table').DataTable({
                dom          : '<"row"<"col-xs-5 col-sm-6"l><"col-xs-7 col-sm-6 text-right">r>t<"row"<"col-md-12"i><"col-md-12 text-center"p>>',
                columnDefs   : [{ targets:0, type:'date' }],
                order        : [[ 0, 'desc' ]],
                pageLength   : parseInt('{limit}'),
                lengthChange : false,
                info         : false,
                processing   : true,
                serverSide   : true,
                searching    : true,
                deferRender  : true,
                ajax         : {
                    url  : '{ajax_url}',
                    type : 'POST',
                    data : { pkey : 'load-data' }
                },
                columns: [
                    {
                        data: 'log_date', render: function ( data, type, row ){
                            return data;
                        }
                    },
                    {
                        data: 'log_app', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'ldescription', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'ldisplay_name', render: function ( data, type, row ) {
                            return data;
                        }
                    }
                ]
            });

            jQuery('[name=slog]').on('keyup change', function(){
                table.search( this.value ).draw() ;
            });
        });
    </script>
</div>

<!-- END list-block -->