<!-- BEGIN not-found-block -->

<div class="wrapper-block not-found-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12"> 
                <h1>Not Match Route</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            	<div class="message">
            		<div class="bg-danger">
            			<p class="text-danger">
            				<span class="glyphicon glyphicon-exclamation-sign"></span>
            				One or more of the reservation cannot be moved to the new schedule, make sure the starting and destination ports of the reservation match the ports in the new schedule
            			</p>
            		</div>
            	</div>
            </div>
        </div>
    </div>
</div>

<!-- END not-found-block -->