<!-- BEGIN not-found-block -->

<div class="wrapper-block not-found-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12"> 
                <h1>Access Denied</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            	<div class="message">
            		<div class="bg-danger">
            			<p class="text-danger">
            				<span class="glyphicon glyphicon-exclamation-sign"></span>
            				Sorry You don't have an authorization to access this page, or your page can't be found
            			</p>
            		</div>
            	</div>
            </div>
        </div>
    </div>
</div>

<!-- END not-found-block -->