<!-- BEGIN backuprestore -->

<div class="wrapper-block settings-block agent-block">
    <div class="container-fluid">
    	<div class="row">
			<div class="col-md-12">	
				<h1>{title}</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">	
				<ul class="tabs">
				   {tab}
				</ul>
			</div>
			<div class="col-md-12">
				<form action="{action}" method="post" name="alist">
					<div class="row">
		                <div class="col-md-12">
		                    <div class="form-block">
		                        <fieldset style="position:relative;">
									<div class="table-block">
                                        <table id="backup-file" class="table table-striped" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Backup file</th>
													<th>Size</th>
													<th>Backup created</th>
                                                </tr>
                                            </thead>
											<tbody>
												{list}
											</tbody>
                                        </table>	
                                    </div>
								</fieldset>
		                    </div>
		                    <div class="form-action clearfix">
		                    	<button type="submit" class="btn-save" name="start_proses" id="submit-process">Start Backup</button>
		                    </div>
		                </div>
		            </div>
				</form>
			</div>
		</div>

        <script type="text/javascript">
            jQuery(document).ready(function(){
            	jQuery('#backup-file').DataTable({
	                'dom':"<'row'<'col-xs-5 col-sm-6'l><'col-xs-7 col-sm-6 text-right'f>r>t<'row'<'col-md-12'i><'col-md-12 text-center'p>>",
	                'pageLength': parseInt('{limit}'),
	                'lengthChange': false,
	                'searching': false,
	                'info': false,
	                'order': []
	            });

	            jQuery('[name=start_proses]').on('click', function(){

		        	var prm  = new Object;
		            prm.pkey = 'backup-process';

		        	jQuery.ajax({
			            method: 'POST',
			            url: '{ajax_process}',
			            data: prm,
			            dataType : 'json',
		                success: function( e ){	
		                	$(".section-overlay").hide();

					    	if( e.result == 1 ){							    		
					    		show_popup('Notification', 'Backup process has been success !');
					    	} else {
					    		show_popup('Notification', 'Backup process failed !');
					    	}

					    	setTimeout(function () { 
						      	location.reload();
						    }, 1500);
					    },
					    beforeSend: function(){
					    	$(".section-overlay").show();
					   	},
					    error: function(e){
					    	$(".section-overlay").hide();

					       	show_popup('Notification', 'Sorry, Backup process failed. Please try again later');
					    }
		        	});

		        	return false;     
		        });
            });
        </script>
    </div>
</div>

<!-- END backuprestore -->