<!-- BEGIN loop-block -->
<tr>
    <td class="namefile">
		{bname}
		<p>
	        <a href="{downlod_link}">Download &raquo;</a>
			<a id="restore-{bid}" rel="{bname}" href="{restore_link}">Restore &raquo;</a>
			<a id="delete-{bid}" rel="{bname}" href="{delete_link}">Delete &raquo;</a>
	    </p>
	    <script type="text/javascript">

	    	jQuery('#restore-{bid}').on('click', function(e){
	    		var url  = jQuery(this).attr('href');

	    		var prm = new Object();
	    			prm.pkey = 'restore-process';
	    			prm.pmfile = jQuery(this).attr('rel');

	    		jQuery('<div></div>').dialog({
	                modal: true,
	                draggable: false,
	                resizable: false,
	                title: 'Notification',
	                open: function(){
	                    jQuery(this).html('Are you sure want to restore this data ?<br/><small style="color:red">*notes : Caution! some previus data may be lost.</small>');
	                },
	                buttons: {
	                    Yes: function(){
	                    	var popup = jQuery(this);
	                    	jQuery.ajax({
	                    		method: 'POST',
		                        url: url,
		                        data: prm,
		                        dataType : 'json',
		                        cache: false,
		                        success: function(e){
		                        	$(".section-overlay").hide();

		                        	console.log(e);
							    	popup.dialog('close');	 	

							    	if( e.result=='success' )
							    	{							    		
							    		show_popup('Notification', 'Data restore has been success.');
							    	}
							    	else
							    	{
							    		show_popup('Notification', 'Data restore failed!');
							    	}
							    },
							    beforeSend: function(){
							    	$(".section-overlay").show();
							   	},
							    error: function(e){
							    	$(".section-overlay").hide();
							       	popup.dialog('close');
		
							       	show_popup('Notification', 'Sorry, Data restore failed. Please try again later');

							       	console.log(e);
							    },
							    complete:function(data){
									$(".section-overlay").hide();
								}
	                    	});
	                    	popup.dialog('close');
	                    },
	                    No: function(){
	                        jQuery( this ).dialog('close');
	                    }
	                }
	            });
	            return false;
	    	});

	    	jQuery('#delete-{bid}').on('click', function(e){
	    		var url  = jQuery(this).attr('href');
	    		
	    		var prm = new Object();
	    			prm.pkey = 'delete-file';
	    			prm.pmfile = jQuery(this).attr('rel');

	    		jQuery('<div></div>').dialog({
	                modal: true,
	                draggable: false,
	                resizable: false,
	                title: 'Notification',
	                open: function(){
	                    jQuery(this).html('Are you sure want to delete this file?');
	                },
	                buttons: {
	                    Yes: function(){
	                    	var popup = jQuery(this);
	                    	jQuery.ajax({
	                    		method: 'POST',
		                        url: url,
		                        data: prm,
		                        dataType : 'json',
		                        cache: false,
		                        success: function(e){
		                        	$(".section-overlay").hide();
		                        	
							    	popup.dialog('close');	 	

							    	if( e.result=='success' )
							    	{							    		
							    		show_popup('Notification', 'This file has been successfully deleted.');

							    		setTimeout(function () { 
									      	location.reload();
									    }, 1500);
							    	}
							    	else
							    	{
							    		show_popup('Notification', 'This file can\'t be deleted!');
							    	}
							    },
							    beforeSend: function(){
							    	$(".section-overlay").show();
							   	},
							    error: function(e){
							    	$(".section-overlay").hide();

							       popup.dialog('close');
		
							       show_popup('Notification', 'This file can\'t be deleted!');
							    },
							    complete:function(data){
									$(".section-overlay").hide();
								}
	                    	});
	                    	popup.dialog('close');
	                    },
	                    No: function(){
	                        jQuery( this ).dialog('close');
	                    }
	                }
	            });

	            return false;
	    	});
	    </script>
	</td>
    <td class="size">{bsize}</td>
    <td class="date">{bdate}</td>
</tr>
<!-- END loop-block -->