<!-- BEGIN availability-block -->

<div class="wrapper-block availability-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="avform">
            <div class="row">
                <div class="col-md-12"> 
                    <h1>Check Availability</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline route-option">
                        <div class="form-group">
                            <div class="radio">
                                <input id="one-way-option" class="one-way-option" value="0" name="route_type" autocomplete="off" type="radio" checked/>
                                <label for="one-way-option">One Way</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="radio">
                                <input id="return-option" class="return-option" value="1" name="route_type" autocomplete="off" type="radio" />
                                <label for="return-option">Return</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                	<fieldset class="form-block">
                    	<label>Choose Destination <small>*</small></label>
                    	<div class="clearfix">
                        	<div class="col-md-3 loc">
                        		<select class="select-option required" name="destination_from" autocomplete="off">
                        			{destination_list_from}
                        		</select>
                        	</div>
                        	<div class="col-md-3 loc">
                        		<select class="select-option required" name="destination_to" autocomplete="off">
                        			{destination_list_to}
                        		</select>
                        	</div>
                        	<div class="col-md-3 loc">
                        		<select class="select-option required" name="destination_return" autocomplete="off" disabled>
                        			{destination_list_from_return}
                        		</select>
                        	</div>
                            <div class="col-md-3 loc">
                                <select class="select-option required" name="destination_return_to" autocomplete="off" disabled>
                                    {destination_list_to_return}
                                </select>
                            </div>
                    	</div>
                	</fieldset>
                	<fieldset class="form-block">
                		<div class="row">
	                        <div class="col-md-6 date">
	                    		<label>Departing <small>*</small></label>
	                        	<input type="text" class="text form-control required" name="depart_date" placeholder="Date" readonly>
	                    	</div>
	                        <div class="col-md-6 date">
	                    		<label>Returning <small>*</small></label>
	                        	<input type="text" class="text form-control required" name="return_date" placeholder="Date" readonly disabled>
	                    	</div>
	                    </div>
                    </fieldset>
                	<fieldset class="form-block">
                		<div class="row">
	                        <div class="col-md-6 passenger">
                				<div class="row">
	                        		<div class="col-md-4 adult">
			                    		<label>Adult <small>*</small></label>
                                        <div class="number-field">
			                        	    <input type="number" class="text form-control prequired" name="adult" value="1" min="0" oninput="this.value = Math.abs(this.value)">
                                            <div class="number-nav">
                                                <div class="number-button up">+</div>
                                                <div class="number-button down">-</div>
                                            </div>
                                        </div>
			                        </div>
	                        		<div class="col-md-4 child">
			                    		<label>Child (3 - 12)</label>
                                        <div class="number-field">
			                        	    <input type="number" class="text form-control prequired" name="child" value="0" min="0" oninput="this.value = Math.abs(this.value)">
                                            <div class="number-nav">
                                                <div class="number-button up">+</div>
                                                <div class="number-button down">-</div>
                                            </div>
                                        </div>
			                        </div>
	                        		<div class="col-md-4 infant">
			                    		<label>Infant (< 3yo)</label>
                                        <div class="number-field">
			                        	    <input type="number" class="text form-control prequired" name="infant" value="0" min="0" oninput="this.value = Math.abs(this.value)">
                                            <div class="number-nav">
                                                <div class="number-button up">+</div>
                                                <div class="number-button down">-</div>
                                            </div>
                                        </div>
			                        </div>
			                    </div>
	                    	</div>
	                        <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6 source">
                                        <label>Booking Source <small>*</small></label>
                                        <select class="select-option required" name="booking_source" autocomplete="off">
                                            {booking_source_list}
                                        </select>
                                    </div>
                                    <div class="col-md-6">                                    
        	                    		<label>&nbsp;</label>
        	                        	<input type="submit" name="check_availability" class="check" value="Check Availability">
                                    </div>
                                </div>
	                    	</div>
                		</div>
                	</fieldset>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="seats-availability">
    <div class="container-fluid">
        <h2>Seats Availability</h2>
        <div class="row row-block sr-only">
            <div class="col-md-12">
                {boat_seat_panel}
            </div>
        </div>
        <div class="row row-block sr-only">
            <div class="col-md-12">
                {trip_seat_panel}
            </div>
        </div>
        <div class="row row-block">
            <div class="col-md-12">
                {seat_avaibility_calendar}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="//{site_url}/l-plugins/ticket/js/slick.min.js" ></script>
<script type="text/javascript">
    jQuery(document).ready(function(){
		jQuery('[name=destination_from]').chosen({ max_selected_options:10, search_contains:true, placeholder_text_single:'From' });
		jQuery('[name=destination_to]').chosen({ max_selected_options:10, search_contains:true, placeholder_text_single:'To' });
		jQuery('[name=destination_return]').chosen({ max_selected_options:10, search_contains:true, placeholder_text_single:'Return From' });
        jQuery('[name=destination_return_to]').chosen({ max_selected_options:10, search_contains:true, placeholder_text_single:'Return To' });
        jQuery('[name=booking_source]').chosen({ max_selected_options:10, search_contains:true, placeholder_text_single:'Select booking source' });

        jQuery('[name=depart_date]').datepicker({
            dateFormat:'dd MM yy',
            minDate: 0,
            onSelect: function(date){
                var date2 = jQuery('[name=return_date]').datepicker('getDate');

                if( date2 == null )
                {
                    jQuery('[name=return_date]').datepicker('setDate', date);
                    jQuery('[name=return_date]').parent().removeClass('has-error');
                }

                jQuery('[name=return_date]').datepicker('option', 'minDate', date);
            }
        });

        jQuery('[name=return_date]').datepicker({
            dateFormat:'dd MM yy',
            minDate: 0,
            onClose: function(date){
                var date2 = jQuery('[name=depart_date]').datepicker('getDate');

                if( date2 == null )
                {
                    jQuery('[name=depart_date]').datepicker('setDate', date);
                    jQuery('[name=depart_date]').parent().removeClass('has-error');
                }
                
                jQuery('[name=depart_date]').datepicker('option', 'maxDate', date);
            }
        });

        jQuery('[name=route_type]').on('change', function(){
            var vals = jQuery(this).val();

            if( vals == 0 )
            {
                jQuery('[name=destination_return]').prop('disabled', true).val('').trigger('chosen:updated');
                jQuery('[name=destination_return_to]').prop('disabled', true).val('').trigger('chosen:updated');
                jQuery('[name=return_date]').prop('disabled', true).val('');
            }
            else
            {
                jQuery('[name=destination_return]').prop('disabled', false).trigger('chosen:updated');
                jQuery('[name=destination_return_to]').prop('disabled', false).trigger('chosen:updated');
                jQuery('[name=return_date]').prop('disabled', false);
            }

            jQuery('.required, .select-option').parent().removeClass('has-error');
        });

        jQuery('[name=check_availability]').on('click', function(){
            if( validate_form() )
            {
                return true;
            }

            return false;
        });

        jQuery('.required').on('focusin', function(){
            jQuery(this).parent().removeClass('has-error');
        });

        jQuery('.select-option').chosen().on('change', function(evt, params){
            jQuery(this).parent().removeClass('has-error');
        });

        jQuery('.tab-slide-content').on('init', function(event, slick){
            today  = new Date();
            index  = today.getDate();

            jQuery(slick.$slides).each(function(i, el){
                var sel     = jQuery('#'+el.id).find('.seat-slide');
                var type    = sel.data('type');

                sel.on('init', function(event, slick){
                    setTimeout( function(){
                        sel.slick( 'slickGoTo', jQuery('#'+el.id+'-'+index).data('slick-index'), true );
                    }, 0);
                });

                sel.slick({
                    slidesToScroll: 7,
                    slidesToShow: 7,
                    infinite: false,
                    swipe: false,
                    arrows: true,
                    dots: false,
                    speed: 500
                });
            });
        });

        jQuery('.tab-slide-content').slick({
            slidesToScroll: 1,
            slidesToShow: 1,
            infinite: false,
            arrows: false,
            swipe: false,
            dots: false,
            speed: 500
        });

        jQuery('.nav-tabs').on('init', function(event, slick){
            var sel = jQuery(this);

            sel.find('li a').on('click', function(){
                var id = jQuery(this).attr('href');
                    id = id.replace('#', '');

                sel.find('li').removeClass('active');
                sel.parent().find('.tab-slide-content').slick('slickGoTo', jQuery('#'+id).data('slick-index') );

                jQuery(this).parent().addClass('active');

                return false;
            });
        });

        jQuery('.nav-tabs').slick({
            slidesToScroll: 5,
            slidesToShow: 5,
            infinite: false,
            arrows: false,
            dots: false,
            speed: 500
        });

        jQuery('[name=period]').chosen({ max_selected_options:10, search_contains:true });
        jQuery('[name=trip_boat]').chosen({ max_selected_options:10, search_contains:true });
        jQuery('[name=trip_schedule]').chosen({ max_selected_options:10, search_contains:true });

        jQuery('[name=period]').on('change', function(){
            var prm        = new Object;
                prm.pkey   = 'set-seat-avaibility-option';
                prm.period = '01-' + jQuery(this).val();

            jQuery.ajax({
                method: 'POST',
                url: '{ajax_url}',
                data: prm,
                dataType : 'json',           
                success: function( e ){
                    if( e.result == 'success' )
                    {
                        jQuery('[name=trip_boat]').html( e.data.boat ).trigger('chosen:updated');
                        jQuery('[name=trip_schedule]').html( e.data.schedule ).trigger('chosen:updated');
                        jQuery('[name=trip_schedule]').trigger('change');
                    }
                }
            });
        });

        jQuery('[name=trip_schedule]').on('change', function(){
            var sid    = jQuery(this).val();
            var sfrom  = jQuery(this).find(':selected').data('from');
            var boid   = jQuery(this).find(':selected').data('boid');
            var bopass = jQuery(this).find(':selected').data('passenger');
            
            jQuery('.boat-passenger').text(bopass);

            jQuery('[name=sid]').val(sid);
            jQuery('[name=bopassenger]').val(bopass);

            jQuery('#availability-calendar').datepicker( 'setDate', sfrom );

            jQuery('[name=trip_boat]').val(boid).trigger('chosen:updated');

            update_date_cells();
        });

        jQuery('[name=trip_boat]').on('change', function(){
            var boid = jQuery(this).val();

            jQuery('[name=trip_schedule] option').each(function(){
                if( jQuery(this).data('boid') != boid && boid != '' )
                {
                    jQuery(this).prop('disabled', true);
                }
                else
                {
                    jQuery(this).prop('disabled', false);
                }
            })

            jQuery('[name=trip_schedule]').trigger('chosen:updated');
        });

        jQuery('#availability-calendar').datepicker({
            minDate: 0,
            numberOfMonths: 2,
            dateFormat: 'yy-mm-dd',
            onSelect: function(date, dp){
                update_date_cells(dp);
                select_option_action(dp);                   
            },
            onChangeMonthYear: function( month, year, dp ) {
                update_date_cells(dp);
                select_option_action(dp);
            },
            beforeShow: function(el, dp){
                update_date_cells(dp);
                select_option_action(dp);
            }
        });

        update_date_cells();
	});

    function select_option_action(dp)
    {
        jQuery('[name=trip_schedule]').unbind('change');
        jQuery('[name=trip_schedule]').on('change', function(){
            var sid    = jQuery(this).val();
            var sfrom  = jQuery(this).find(':selected').data('from');
            var boid   = jQuery(this).find(':selected').data('boid');
            var bopass = jQuery(this).find(':selected').data('passenger');
            
            jQuery('.boat-passenger').text(bopass);

            jQuery('[name=sid]').val(sid);
            jQuery('[name=bopassenger]').val(bopass);

            jQuery('#availability-calendar').datepicker( 'setDate', sfrom );

            jQuery('[name=trip_boat]').val(boid).trigger('chosen:updated');

            update_date_cells(dp);
        });
        
        jQuery('[name=trip_boat]').unbind('change');
        jQuery('[name=trip_boat]').on('change', function(){
            var boid = jQuery(this).val();
            var slct = '';

            jQuery('[name=trip_schedule] option').each(function(){
                if( jQuery(this).data('boid') != boid && boid != '' )
                {
                    jQuery(this).prop('disabled', true);
                }
                else
                {
                    jQuery(this).prop('disabled', false);

                    if( slct == '' )
                    {
                        slct = jQuery(this).val();
                    }
                }
            })

            jQuery('[name=trip_schedule]').val(slct).trigger('chosen:updated');
            jQuery('[name=trip_schedule]').trigger('change');
        });
    }

    function update_date_cells(dp)
    {
        setTimeout(function(){
            if( typeof dp != 'undefined' )
            {
                var url = '{ajax_url}';
                var prm = new Object();
                    prm.pkey  = 'get-seat-avaibility-calendar';
                    prm.sid   = jQuery('[name=sid]').val();
                    prm.month = dp.drawMonth + 1;
                    prm.year  = dp.drawYear;

                jQuery.ajax({
                    method: 'POST',
                    url: url,
                    data: prm,
                    dataType : 'json',
                    beforeSend: function( e ){
                        jQuery('#availability-calendar').addClass('availability-calendar-loading');
                    },
                    success: function(e){
                        jQuery('#availability-calendar').removeClass('availability-calendar-loading');

                        if( e.result == 'success' )
                        {
                            jQuery('.ui-datepicker td > *').each(function(idx, elem) {
                                var day   = jQuery(elem).html();
                                var month = jQuery(elem).parent().data('month') + 1;
                                var year  = jQuery(elem).parent().data('year');
                                var key   = day + '-' + month + '-' + year;

                                if( typeof e.data[key] != 'undefined' )
                                {
                                    if( e.data[key].type == '1' )
                                    {
                                        jQuery('#availability-calendar').addClass('hooping-calendar');
                                    }
                                    else
                                    {
                                        jQuery('#availability-calendar').removeClass('hooping-calendar');
                                    }

                                    if( e.data[key].status == 'closed' )
                                    {
                                        jQuery(this).addClass('ui-state-closed');
                                        jQuery(this).parent().addClass('close-allot');
                                    }
                                    else
                                    {
                                        jQuery(this).removeClass('ui-state-closed');
                                        jQuery(this).parent().removeClass('close-allot');
                                    }

                                    jQuery(this).attr('data-date', day);                                    
                                    jQuery(this).attr('data-content', e.data[key].content);
                                }
                            });
                        }
                    },
                    error: function(e){
                        jQuery('#availability-calendar').removeClass('availability-calendar-loading');
                    }
                });
            }
        }, 0);
    }

    (function ($) {
        $.extend($.datepicker, {
            _inlineDatepicker2: $.datepicker._inlineDatepicker,
            _inlineDatepicker: function (target, inst) {
                this._inlineDatepicker2(target, inst);

                var beforeShow = $.datepicker._get(inst, 'beforeShow');

                if (beforeShow)
                {
                    beforeShow.apply(target, [target, inst]);
                }
            }
        });
    }(jQuery));

    function validate_form()
    {
        var type  = jQuery('[name=route_type]').val();
        var error = 0;
        var sum   = 0;

        jQuery('.required:not(:disabled)').each(function(){
            var vals = jQuery(this).val();

            if( vals == '' )
            {
                jQuery(this).parent().addClass('has-error');
                error++;
            }
        });

        jQuery('.prequired').each(function(){
            var vals = jQuery(this).val();
                sum  = sum + parseInt(vals);

            if( vals == '' )
            {
                jQuery(this).parent().addClass('has-error');
                error++;
            }
        });
        
        if( error == 0 )
        {
            if( sum == 0 )
            {
                show_popup('Warning', 'Number of passenger can\'t be empty');

                return false;
            }
            else
            {
                return true;
            }
        }
        else
        {
            show_popup('Warning', 'Please check again your data before submited request, some of field may be empty or not valid');

            return false;
        }
    }
</script>

<!-- END availability-block -->