<!-- BEGIN search-result-loop-block -->
<div class="item col-md-12 {include_css} {include_trans_css} {closed_css}">
	<div class="row row-eq-height">
		<div class="col-md-9 shadow">
			<div class="row head-title">
				<div class="col col-md-4 title">
					<p>{port_name}</p>
				</div>
				<div class="col col-md-4 seat">
					<p class="{remain_seat_css}">{remain_seat}</p>
				</div>
				<div class="col col-md-4 notif">
					<span>{discount_notif}</span>
				</div>
			</div>
			<div class="row row-detail row-eq-height">
				<div class="closed-overlay">
					<div class="co-inner">
						<span><b>CLOSED</b></span>
					</div>
				</div>
				<div class="col col-md-4 routes">
					<p class="subtitle route">{boname}</p>
					<ul>
						{route_list}
					</ul>
				</div>
				<div class="col col-md-4">
					<p class="subtitle passenger">Passenger</p>
					{passenger_number}
				</div>
				<div class="col col-md-4">
					<p class="subtitle transport">Transport</p>
					<p><b>Shared</b> (Free)</p>
					<p><b>Private</b> (Additional)</p>
				</div>
			</div>
		</div>
		<div class="col-md-3 price">
			<div class="tb">
				<div class="tb-c">
					<small>Total Price</small>
					{include_price_disc_number}
					<p>{include_price_number}</p>
					<div class="opt-btn {select_trip_btn_cls}">
						<input type="radio" name="{radio_name}" autocomplete="off" value="{rid}|{sid}|{boid}|{rtdid}|{inc_adult_price}|{inc_child_price}|{inc_infant_price}|{inc_sell_adult_price}|{inc_sell_child_price}|{inc_sell_infant_price}|{inc_disc_adult}|{inc_disc_child}|{inc_disc_infant}|{inc_total_price}|{inc_disc_price}|1" {closed_attr}>
						<label></label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="item col-md-12 {exclude_css} {exclude_trans_css} {closed_css}">
	<div class="row row-eq-height">
		<div class="col-md-9 shadow">
			<div class="row head-title">
				<div class="col col-md-4 title">
					<p>{port_name}</p>
				</div>
				<div class="col col-md-4 seat">
					<p class="{remain_seat_css}">{remain_seat}</p>
				</div>
				<div class="col col-md-4 notif">
					<span>{discount_notif}</span>
				</div>
			</div>
			<div class="row row-detail row-eq-height">
				<div class="closed-overlay">
					<div class="co-inner">
						<span><b>CLOSED</b></span>
					</div>
				</div>
				<div class="col col-md-4 routes">
					<p class="subtitle route">{boname}</p>
					<ul>
						{route_list}
					</ul>
				</div>
				<div class="col col-md-4">
					<p class="subtitle passenger">Passenger</p>
					{passenger_number}
				</div>
				<div class="col col-md-4">
					<p class="subtitle transport">Transport</p>
					<p><b>Excluded </b></p>
				</div>
			</div>
		</div>
		<div class="col-md-3 price">
			<div class="tb">
				<div class="tb-c">
					<small>Total Price</small>
					{exclude_price_disc_number}
					<p>{exclude_price_number}</p>
					<div class="opt-btn {select_trip_btn_cls}">
						<input type="radio" name="{radio_name}" autocomplete="off" value="{rid}|{sid}|{boid}|{rtdid}|{exc_adult_price}|{exc_child_price}|{exc_infant_price}|{exc_sell_adult_price}|{exc_sell_child_price}|{exc_sell_infant_price}|{exc_disc_adult}|{exc_disc_child}|{exc_disc_infant}|{exc_total_price}|{exc_disc_price}|0" {closed_attr}>
						<label></label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END search-result-loop-block -->

<!-- BEGIN search-empty-loop-block -->
<div class="item col-md-12">
    <div class="row row-eq-height">
        <div class="col-md-12">
            <div class="row">
                <div class="col col-md-12 title">
                    <t>At the moment we are running a limited service to the Gili Islands and Lombok. Please see below for further details.....</t>
                    <ul>
                        <li>Boats are only running on Mondays and Fridays.</li>
                        <li>Serangan will be the only Bali port in service. For the time being we are not running from Padang Bai.</li>
                        <li>Rapid tests will be available at our departure area in Serangan harbour. Guests without a negative rapid test will not be permitted to board the boat.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END search-empty-loop-block -->

<!-- BEGIN search-suggestion-result-block -->
<div class="row">
    <div class="col-md-12">
        <div class="sugestion-trip">
            <p class="note">The trip you are looking for is not available or already fully booked, below is another trip that we can suggest to you</p>
            <h4>{sugested_routes}</h4>
            <div class="sr-only">
                <input type="text" name="use_sugested_trip" value="1" />
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="result">
                    	<!-- BEGIN search-suggestion-result-loop-block -->
						<div class="item col-md-12 {include_css} {include_trans_css} {closed_css}">
							<div class="row row-eq-height">
								<div class="col-md-9 shadow">
									<div class="row head-title">
										<div class="col col-md-4 title">
											<p>{port_name}</p>
										</div>
										<div class="col col-md-4 seat">
											<p class="{remain_seat_css}">{remain_seat}</p>
										</div>
										<div class="col col-md-4 notif">
											<span>{discount_notif}</span>
										</div>
									</div>
									<div class="row row-detail row-eq-height">
										<div class="closed-overlay">
											<div class="co-inner">
												<span><b>CLOSED</b></span>
											</div>
										</div>
										<div class="col col-md-4 routes">
											<p class="subtitle route">{boname}</p>
											<ul>
												{route_list}
											</ul>
										</div>
										<div class="col col-md-4">
											<p class="subtitle passenger">Passenger</p>
											{passenger_number}
										</div>
										<div class="col col-md-4">
											<p class="subtitle transport">Transport</p>
											<p><b>Shared</b> (Free)</p>
											<p><b>Private</b> (Additional)</p>
										</div>
									</div>
								</div>
								<div class="col-md-3 price">
									<div class="tb">
										<div class="tb-c">
											<small>Total Price</small>
											{include_price_disc_number}
											<p>{include_price_number}</p>
											<div class="opt-btn {select_trip_btn_cls}">
												<input type="radio" name="{radio_name}" autocomplete="off" value="{rid}|{sid}|{boid}|{rtdid}|{inc_adult_price}|{inc_child_price}|{inc_infant_price}|{inc_sell_adult_price}|{inc_sell_child_price}|{inc_sell_infant_price}|{inc_disc_adult}|{inc_disc_child}|{inc_disc_infant}|{inc_total_price}|{inc_disc_price}|1" {closed_attr}>
												<label></label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="item col-md-12 {exclude_css} {exclude_trans_css} {closed_css}">
							<div class="row row-eq-height">
								<div class="col-md-9 shadow">
									<div class="row head-title">
										<div class="col col-md-4 title">
											<p>{port_name}</p>
										</div>
										<div class="col col-md-4 seat">
											<p class="{remain_seat_css}">{remain_seat}</p>
										</div>
										<div class="col col-md-4 notif">
											<span>{discount_notif}</span>
										</div>
									</div>
									<div class="row row-detail row-eq-height">
										<div class="closed-overlay">
											<div class="co-inner">
												<span><b>CLOSED</b></span>
											</div>
										</div>
										<div class="col col-md-4 routes">
											<p class="subtitle route">{boname}</p>
											<ul>
												{route_list}
											</ul>
										</div>
										<div class="col col-md-4">
											<p class="subtitle passenger">Passenger</p>
											{passenger_number}
										</div>
										<div class="col col-md-4">
											<p class="subtitle transport">Transport</p>
											<p><b>Excluded </b></p>
										</div>
									</div>
								</div>
								<div class="col-md-3 price">
									<div class="tb">
										<div class="tb-c">
											<small>Total Price</small>
											{exclude_price_disc_number}
											<p>{exclude_price_number}</p>
											<div class="opt-btn {select_trip_btn_cls}">
												<input type="radio" name="{radio_name}" autocomplete="off" value="{rid}|{sid}|{boid}|{rtdid}|{exc_adult_price}|{exc_child_price}|{exc_infant_price}|{exc_sell_adult_price}|{exc_sell_child_price}|{exc_sell_infant_price}|{exc_disc_adult}|{exc_disc_child}|{exc_disc_infant}|{exc_total_price}|{exc_disc_price}|0" {closed_attr}>
												<label></label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- END search-suggestion-result-loop-block -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END search-suggestion-result-block -->