<!-- BEGIN form-block -->

<div class="wrapper-block exception-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-12"> 
                    <h1>New/Edit Exception</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-block no-field-border">
                    	{message}
                    	<fieldset class="sr-only">
                    		<input type="text" name="eid" value="{eid}" />
                    	</fieldset>
                        <fieldset class="form-inline">
                    		<label>Title</label>
                    		<div class="form-group">
							    <input type="text" class="text text-large form-control" name="etitle" value="{etitle}" />
						  	</div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Messages</label>
                            <div class="form-group">
                                <textarea class="text text-large form-control" rows="5" name="emessage">{emessage}</textarea>
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Exception Period</label>
                            <div class="date-list-wrapp">
                                {exception_date}
                            </div>
                            <div class="date-list-action">
                                <a class="single-btn"><span class="glyphicon glyphicon-plus"></span> Single Date</a>
                                <a class="range-btn"><span class="glyphicon glyphicon-plus"></span> Range Date</a>
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Schedules</label>
                            <select class="select-option" name="esid[]" autocomplete="off" multiple="multiple" data-placeholder="Select Schedules" style="width:100%;">
                                {esid_option}
                            </select>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Apply In</label>
                            <select class="select-option" name="eapplication[]" autocomplete="off" multiple="multiple" data-placeholder="Select Apply In" style="width:100%;">
                                {apllyin_option}
                            </select>
                        </fieldset>
                    </div>
                    <div class="form-action clearfix">
                    	<button type="submit" class="btn-save pull-left" name="publish">Save Exception</button>
                    	<a class="cancel pull-left" href="{cancel_link}">Cancel</a>
                    	<a class="delete pull-right {delete_class}" href="{ajax_link}">Delete</a>
                    </div>
                    <div class="form-note">
                        {last_update_note}
                    </div>
                </div>
            </div>
        </form>

        <script type="text/javascript">
            function set_exception_date()
            {
                jQuery('.date-list').each(function(i, e){
                    var sel = jQuery(this);

                    sel.find('.text-date-from').datepicker({
                        dateFormat:'dd MM yy',
                        onSelect: function(date){
                            var date1 = sel.find('.text-date-from').datepicker('getDate');
                            var date2 = sel.find('.text-date-to').datepicker('getDate');

                            if( date2 == null )
                            {
                                sel.find('.text-date-to').datepicker('setDate', date);
                            }
                            else
                            {
                                if( date2 > date1 && sel.find('.text-date-to').parent().hasClass('sr-only') )
                                {
                                    sel.find('.text-date-to').datepicker('setDate', date);
                                }
                            }

                            sel.find('.text-date-to').datepicker('option', 'minDate', date);
                        }
                    });

                    sel.find('.text-date-to').datepicker({
                        dateFormat:'dd MM yy',
                        onClose: function(date){
                            var date2 = sel.find('.text-date-from').datepicker('getDate');
                            
                            if( date2 == null )
                            {
                                sel.find('.text-date-from').datepicker('setDate', date);
                            }

                            sel.find('.text-date-from').datepicker('option', 'maxDate', date);
                        }
                    });
                });

                jQuery('.delete-date').on('click', function(){
                    var sel = jQuery(this).parents('.date-list');
                    var id  = jQuery(this).attr('rel');

                    if( id == 0 )
                    {
                        sel.remove();
                    }
                    else
                    {
                        var url = '{ajax_link}';
                        var prm = new Object();
                            prm.pkey = 'delete-exception-detail';
                            prm.edid = id;

                        jQuery('<div></div>').dialog({
                            modal: true,
                            draggable: false,
                            resizable: false,
                            title: 'Notification',
                            open: function(){
                                jQuery(this).html('Are you sure want to delete this exception date?');
                            },
                            buttons: {
                                Yes: function(){
                                    var popup = jQuery(this);

                                    jQuery.ajax({
                                        method: 'POST',
                                        url: url,
                                        data: prm,
                                        dataType : 'json',
                                        success: function(e){
                                            popup.dialog('close');

                                            if( e.result=='failed' )
                                            {
                                                show_popup('Warning', 'Sorry, This exception date can\'t be deleted. Please try again later');
                                            }
                                            else
                                            {
                                                sel.remove();
                                            }
                                        },
                                        error: function(e){
                                           popup.dialog('close');

                                           show_popup('Warning', 'Sorry, This exception date can\'t be deleted. Please try again later');
                                        }
                                    });
                                },
                                No: function(){
                                    jQuery( this ).dialog('close');
                                }
                            }
                        });

                        return false;
                    }
                });
            }

            jQuery(document).ready(function(){
                set_exception_date();

                jQuery('.select-option').chosen({ max_selected_options:10, search_contains:true });

                jQuery('.single-btn').on('click', function(e){
                    var index = jQuery('.date-list:last-child').index() + 1;
                    var item  = 
                    '<div class="date-list">'+
                        '<div class="row">'+
                            '<div class="col-md-12">'+
                                '<div class="form-group">'+
                                    '<input type="text" class="text text-date-from text-medium form-control" name="exception_date[' + index + '][edatefrom]" placeholder="Date" readonly>'+
                                '</div>'+
                                '<div class="form-group sr-only">'+
                                    '<input type="text" class="text text-date-to text-medium form-control" name="exception_date[' + index + '][edateto]" placeholder="Date" readonly>'+
                                '</div>'+
                                '<div class="form-group sr-only">'+
                                    '<input type="text" class="text-medium form-control" name="exception_date[' + index + '][etype]" value="0">'+
                                    '<input type="text" class="text-medium form-control" name="exception_date[' + index + '][edid]" value="">'+
                                '</div>'+
                                '<div class="form-group">'+
                                    '<a class="delete-date" rel="0"><span class="glyphicon glyphicon-trash"></span></a>'+
                                '</div>'+
                            '</div>'+
                        '</div>'+
                    '</div>';

                    jQuery('.date-list-wrapp').append( item );

                    set_exception_date( );
                });

                jQuery('.range-btn').on('click', function(e){
                    var index = jQuery('.date-list:last-child').index() + 1;
                    var item  = 
                    '<div class="date-list">'+
                        '<div class="row">'+
                            '<div class="col-md-12">'+
                                '<div class="form-group">'+
                                    '<input type="text" class="text text-date-from text-medium form-control" name="exception_date[' + index + '][edatefrom]" placeholder="Date" readonly>'+
                                '</div>'+
                                '<div class="form-group">'+
                                    '<input type="text" class="text text-date-to text-medium form-control" name="exception_date[' + index + '][edateto]" placeholder="Date" readonly>'+
                                '</div>'+
                                '<div class="form-group sr-only">'+
                                    '<input type="text" class="text-medium form-control" name="exception_date[' + index + '][etype]" value="1">'+
                                    '<input type="text" class="text-medium form-control" name="exception_date[' + index + '][edid]" value="">'+
                                '</div>'+
                                '<div class="form-group">'+
                                    '<a class="delete-date" rel="0"><span class="glyphicon glyphicon-trash"></span></a>'+
                                '</div>'+
                            '</div>'+
                        '</div>'+
                    '</div>';

                    jQuery('.date-list-wrapp').append( item );

                    set_exception_date( );
                });

                jQuery('.form-action .delete').on('click', function(e){
                    var url = jQuery(this).attr('href');
                    var prm = new Object();
                        prm.pkey = 'delete-exception';
                        prm.eid  = jQuery('[name=eid]').val();

                    jQuery('<div></div>').dialog({
                        modal: true,
                        draggable: false,
                        resizable: false,
                        title: 'Notification',
                        open: function(){
                            jQuery(this).html('Are you sure want to delete this exception?');
                        },
                        buttons: {
                            Yes: function(){
                                var popup = jQuery(this);

                                jQuery.ajax({
                                    method: 'POST',
                                    url: url,
                                    data: prm,
                                    dataType : 'json',
                                    success: function(e){
                                        popup.dialog('close');

                                        if( e.result=='success' )
                                        {                                       
                                            show_popup('Notification', 'This exception has been successfully deleted', 'window.location.assign("{cancel_link}")');
                                        }
                                        else if( e.result=='failed' )
                                        {
                                            show_popup('Warning', 'Sorry, This exception can\'t be deleted. Please try again later');
                                        }
                                    },
                                    error: function(e){
                                       popup.dialog('close');

                                       show_popup('Warning', 'Sorry, This exception can\'t be deleted. Please try again later');
                                    }
                                });
                            },
                            No: function(){
                                jQuery( this ).dialog('close');
                            }
                        }
                    });

                    return false;
                });
            });
        </script>
    </div>
</div>

<!-- END form-block -->