<!-- BEGIN list-block -->

<div class="wrapper-block exception-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-8"> 
                    <h1>Exception</h1>
                </div>
                <div class="col-md-4">
                    <div class="button-box clearfix">
                        <button type="submit" class="button btn-delete disabled" name="delete" value="Delete" disabled="disabled">Delete Exception</button>
                        <button type="button" class="button btn-add" name="add_new" onclick="location.href='{add_new_link}';">New Exception</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-block">
                        {message}
                        <table id="exception-table" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="15" data-orderable="false"><input type="checkbox" name="check_all" autocomplete="off" /></th>
                                    <th width="20%">Title</th>
                                    <th width="30%" data-orderable="false">Schedule</th>
                                    <th>Message</th>
                                </tr>
                            </thead>
                            <tbody>
                                {list}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function(){
            set_exception_table();
        });

        function set_exception_table()
        {
            var table = jQuery('#exception-table').DataTable({
                dom          : '<"row"<"col-xs-5 col-sm-6"l><"col-xs-7 col-sm-6 text-right">r>t<"row"<"col-md-12"i><"col-md-12 text-center"p>>',
                pageLength   : parseInt('{limit}'),
                lengthChange : false,
                info         : false,
                processing   : true,
                serverSide   : true,
                searching    : true,
                deferRender  : true,
                order        : [],
                ajax         : {
                    url  : '{ajax_link}',
                    type : 'POST',
                    data : { 
                        pkey : 'load-data'
                    }
                },
                columns: [
                    { 
                        data: 'eid', render: function ( data, type, row ) {
                            var html = '<input type="checkbox" name="select[]" autocomplete="off" value="' + data + '" />';

                            return html;
                        }
                    },
                    { 
                        data: 'etitle', render: function ( data, type, row ) {
                            var html = data +
                            '<p>'+
                                '<a id="edit-' + row.eid + '" rel="' + row.eid + '" href="' + row.edit_link + '">Edit  &raquo;</a>'+
                                '<a id="delete-' + row.eid + '" rel="' + row.eid + '" href="javascript:;" class="delete-exception">Delete &raquo;</a>'+
                            '</p>';

                            return html;
                        }
                    },
                    { 
                        data: 'eschedules', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    { 
                        data: 'emessage', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                ]
            });

            table.on( 'draw.dt', function () {
                action_link_func( table );
            });

            table.on( 'page.dt', function () {
                start = table.page.info().start;
            });
        }

        function action_link_func( table )
        {
            jQuery('.delete-exception').unbind();
            jQuery('.delete-exception').on('click', function(){
                var url = '{ajax_link}';
                var prm = new Object();
                    prm.pkey = 'delete-exception';
                    prm.eid = jQuery(this).attr('rel');

                jQuery('<div></div>').dialog({
                    modal: true,
                    draggable: false,
                    resizable: false,
                    title: 'Notification',
                    open: function(){
                        jQuery(this).html('Are you sure want to delete this exception?');
                    },
                    buttons: {
                        Yes: function(){
                            var popup = jQuery(this);

                            jQuery.ajax({
                                method: 'POST',
                                url: url,
                                data: prm,
                                dataType : 'json',
                                success: function(e){
                                    popup.dialog('close');

                                    if( e.result == 'success' )
                                    {                            
                                        table.ajax.reload(function(){
                                            action_link_func( table );                                            
                                            show_popup('Notification', 'This exception has been successfully deleted');
                                        }, false);
                                    }
                                    else if( e.result == 'failed' )
                                    {
                                        show_popup('Warning', 'Sorry, This exception can\'t be deleted. Please try again later');
                                    }
                                },
                                error: function(e){
                                   popup.dialog('close');

                                   show_popup('Warning', 'Sorry, This exception can\'t be deleted. Please try again later');
                                }
                            });
                        },
                        No: function(){
                            jQuery( this ).dialog('close');
                        }
                    }
                });
            });
        }
    </script>
</div>

<!-- END list-block -->