body {
    font-family: 'Open Sans';
}

input.error, select.error {
    border: 1px solid rgb(203, 43, 43) !important;
}

label.error {
    color: rgb(203, 43, 43) !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{ -webkit-appearance:none; margin:0; }
input[type=number]{ -moz-appearance:textfield; }

.form-control[disabled],
.form-control[readonly],
.date-picker[disabled],
fieldset[disabled] .form-control{ background-color:inherit; }

.number-field{ position:relative; }
.number-nav{ position:absolute; top:0; right:0; bottom:0; }
.number-button{
    -webkit-transform:translateX(-100%);
        transform:translateX(-100%);
            -webkit-user-select:none;
            -moz-user-select:none;
            -ms-user-select:none;
            -o-user-select:none;
                user-select:none;
                    border-left:1px solid rgb(210, 210, 210);
                    text-align:center;
                    position:relative;
                    line-height:17px;
                    cursor:pointer;
                    font-size:13px;
                    width:20px;}
.number-button.up{ position:absolute; height:50%; top:0; border-bottom:1px solid rgb(210, 210, 210); }
.number-button.down{ position:absolute; bottom:1px; height:50%; }

.depart-information .btn-select.ui-selecting { background: #ccc; }
.depart-information .btn-select.ui-selected { background: red; }

.side-login-link{ position:relative; display:block; cursor:pointer; }
.side-login-link #signin-button{ position:absolute; top:0; left:0; right:0; bottom:0; opacity:0; }

.ui-widget-overlay{ background:rgb(255, 255, 255); opacity:0.7; }

#term-condition .modal-dialog {
    max-width: 680px;
    width: 680px;
}

#term-condition .modal-dialog .modal-header{padding: 30px 30px 10px} #term-condition .modal-dialog .modal-body{padding:10px 30px 10px;} #term-condition .modal-dialog .modal-footer {
  padding: 10px 30px 30px;
}

.modal-dialog .fancybox-content{ max-height:none !important; max-width:900px !important; width:93% !important; }
.modal-dialog .btn-control{ margin-top:0; background-color:rgb(255,255,255); padding:0 15px 15px; }
.modal-dialog .close-btn {
    position: absolute;
    top: -17px;
    right: -17px;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background: url('../images/close.svg') rgb(39, 38, 94);
    background-repeat: no-repeat;
    background-size: 16px auto;
    background-position: center center;
    opacity: 1;
}
.modal-content{ border:none !important; box-shadow:none !important; border-radius:0 !important; }
.modal-content .modal-title{ font-size:24px; }
.modal-sub-title{ color:rgb(16, 163, 193); font-size:14px; margin-bottom:0; }

.modal-content .form-block .message{ border:none; padding:0; margin-bottom:10px; }
.modal-content .form-block .message p{ padding:15px; margin:0; }
.modal-content .form-block .message ul{ margin:0; padding:10px 15px; list-style:none; }
.modal-content .form-block .message ul li{ padding:5px 0; font-weight:600; }
.modal-content .form-block .message ul li span{ padding-right:10px; }
.modal-content .form-area{ padding:30px 0; }
.modal-content .form-area textarea{ resize:none; }

.rating{ overflow:hidden; display:block; padding:2px 0; float:left; }
.rating-input{ float:right; width:auto; height:23px; padding:0; margin:0 5px 0 -23px; opacity:0; }
.rating-star{
    background:url(../images/star-empty.svg);
    position:relative;
    display:block;
    height:23px;
    float:right;
    width:23px;}
.rating-star:hover{ background:url(../images/star-fill.svg); }
.rating-star:hover,
.rating-star:hover ~ .rating-star{ background:url(../images/star-fill.svg); }
.rating-star:hover,
.rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star{ background:url(../images/star-fill.svg); }

.modal-content .has-error .form-control,
.modal-content .has-error .chosen-container-single .chosen-single{ border-color:#a94442; }

.modal-content .ticket {
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 5px;
}

.modal-content .blue {
    color: rgb(16, 163, 193);
}

.modal {
    padding-left: 0;
}

.background-first {
    height: 100vh;
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0) 46.666666666666664%, rgba(22, 34, 59, 0.5) 100%), url('../images/first-bg.jpeg');
    background-image: -moz-linear-gradient(270deg, rgba(0, 0, 0, 0) 46.666666666666664%, rgba(22, 34, 59, 0.5) 100%), url('../images/first-bg.jpeg');
    background-image: -o-linear-gradient(270deg, rgba(0, 0, 0, 0) 46.666666666666664%, rgba(22, 34, 59, 0.5) 100%), url('../images/first-bg.jpeg');
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 46.666666666666664%, rgba(22, 34, 59, 0.5) 100%), url('../images/first-bg.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%, cover;
    background-position: 0% 0%, right bottom;
    background-attachment: fixed;
    color: rgb(73, 73, 85);
}

.container-no-result p{ padding:10px 15px; margin-bottom:0; border:1px solid rgb(166, 194, 201); }

.no-gutter>[class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.header {
    width: 100%;
    height: 100px;
    background-image: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 0.75) 28.57142857142857%, rgba(16, 163, 193, 0.34) 100%);
    background-image: -moz-linear-gradient(270deg, rgba(255, 255, 255, 0.75) 28.57142857142857%, rgba(16, 163, 193, 0.34) 100%);
    background-image: -o-linear-gradient(270deg, rgba(255, 255, 255, 0.75) 28.57142857142857%, rgba(16, 163, 193, 0.34) 100%);
    background-image: -ms-linear-gradient(270deg, rgba(255, 255, 255, 0.75) 28.57142857142857%, rgba(16, 163, 193, 0.34) 100%);
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.75) 28.57142857142857%, rgba(16, 163, 193, 0.34) 100%);
}

.header-line {
    float: left;
    clear: both;
    width: 100%;
    padding-top: 10px;
    background: rgb(35, 34, 126);
    background: -webkit-linear-gradient(0deg, rgb(35, 34, 126) 0%, rgb(16, 163, 193) 59.523809523809526%) rgb(35, 34, 126);
    background: -moz-linear-gradient(0deg, rgb(35, 34, 126) 0%, rgb(16, 163, 193) 59.523809523809526%) rgb(35, 34, 126);
    background: -o-linear-gradient(0deg, rgb(35, 34, 126) 0%, rgb(16, 163, 193) 59.523809523809526%) rgb(35, 34, 126);
    background: -ms-linear-gradient(0deg, rgb(35, 34, 126) 0%, rgb(16, 163, 193) 59.523809523809526%) rgb(35, 34, 126);
    background: linear-gradient(450deg, rgb(35, 34, 126) 0%, rgb(16, 163, 193) 59.523809523809526%) rgb(35, 34, 126);
}

.thank-you-img {
    display: block;
    float: left;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.logo-header {
    padding-top: 20px;
}

.thank-you{
    float:left;
    clear:both;
    width:100%;
    padding-bottom:50px;
    background-color:rgb(230, 238, 239);
    min-height:400px;}
.thank-you .wrapper{ padding:50px 0 0; max-width:500px; margin:0 auto; }
.thank-you .wrapper .form-area{ padding:30px; }
.thank-you .wrapper label{ color:rgb(35, 34, 126); font-size:12px; margin-bottom:5px; display:block; }
.thank-you .wrapper input{ border-color:rgb(210, 210, 210); padding:0 10px; border-radius:2px; }
.thank-you .wrapper select{ width:100%; padding:0 7px; height:34px; border-radius:2px; }
.thank-you .wrapper button{
    background-color:rgb(220, 91, 14);
    color:rgb(255, 255, 255);
    border:none !important;
    padding-bottom:10px;
    border-radius:3px;
    text-align:center;
    padding-top:10px;
    margin-top:15px;
    font-weight:600;
    line-height:1.5;
    font-size:16px;
    display:block;
    width:100%;}
.thank-you .wrapper .nav-tabs.nav-justified > li.active a{ background-color:rgb(255,255,255); }
.thank-you .wrapper .nav-tabs.nav-justified > li a{ background-color:rgb(163,163,176); }

.thank-you .block-payment-type{ margin-top:10px; }
.thank-you .block-payment-type img{ width:70px; }
.thank-you .block-payment-type .option{ text-align:center; padding:10px; }
.thank-you .block-payment-type .option span{ display:inline-block; padding:0; text-align:center; margin:0 10px; height:70px; }
.thank-you .block-payment-type .option span:last-child{ padding-left:0; }
.thank-you .block-payment-type label{ background:url(../images/logo-paychan.png); margin:0 0 10px 0; display:block; }
.thank-you .block-payment-type input{ margin-top:45px; }
.thank-you .block-payment-type .mandiri-clickPay{ width:51px; height:40px; background-position:-178px 0; }
.thank-you .block-payment-type .bca-clickPay{ width:89px; height:40px; background-position:-491px 0; }
.thank-you .block-payment-type .visa-master{ width:91px; height:40px; background-position:0 0; }
.thank-you .block-payment-type .klik-bca{ width:89px; height:40px; background-position:-229px 0; }
.thank-you .block-payment-type .paypal{ width:74px; height:40px; background-position:-267px 0; }
.thank-you .block-payment-type .atm{ width:74px; height:40px; background-position:-801px -40px; }
.thank-you .block-payment-type button{
    background-color:rgb(220, 91, 14);
    color:rgb(255, 255, 255);
    border:none !important;
    padding-bottom:10px;
    border-radius:3px;
    text-align:center;
    margin:30px auto;
    padding-top:10px;
    font-weight:600;
    line-height:1.5;
    font-size:16px;
    display:block;
    width:120px;}

.thank-you .title {
    padding-bottom: 20px;
    margin: 56px auto 0;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.38;
    text-align: center;
    color: rgb(16, 163, 193);
}

.thank-you .paragraph {
    width: 60%;
    /*min-height: 143px;*/
    margin: 30px auto 0;
    font-size: 16px;
    text-align: center;
    color: rgb(73, 73, 85);
}

.thank-you .paragraph p{ font-size: 18px; }

.thank-you .line {
    width: 20%;
    height: 1px;
    margin: 30px auto 0;
    background-color: rgb(198, 216, 220);
}

.thank-you .footer-link {
    width: 40%;
    margin: 30px auto 0;
}

.thank-you .footer-link a {
    display: inline-block;
    float: left;
    width: 50%;
    padding-left: 10px;
    font-size: 14px;
    line-height: 1.38;
    color: rgb(35, 34, 126);
    text-align: center;
}

.footer-line {
    float: left;
    clear: both;
    width: 100%;
    height: 20px;
    background: rgb(35, 34, 126);
    background: -webkit-linear-gradient(0deg, rgb(35, 34, 126) 0%, rgb(16, 163, 193) 59.523809523809526%) rgb(35, 34, 126);
    background: -moz-linear-gradient(0deg, rgb(35, 34, 126) 0%, rgb(16, 163, 193) 59.523809523809526%) rgb(35, 34, 126);
    background: -o-linear-gradient(0deg, rgb(35, 34, 126) 0%, rgb(16, 163, 193) 59.523809523809526%) rgb(35, 34, 126);
    background: linear-gradient(450deg, rgb(35, 34, 126) 0%, rgb(16, 163, 193) 59.523809523809526%) rgb(35, 34, 126);
}

.bg-blue {
    width: 100%;
    background: rgb(35, 34, 126);
    background: -webkit-linear-gradient(0deg, rgb(35, 34, 126) 0%, rgb(16, 163, 193) 59.523809523809526%) rgb(35, 34, 126);
    background: -moz-linear-gradient(0deg, rgb(35, 34, 126) 0%, rgb(16, 163, 193) 59.523809523809526%) rgb(35, 34, 126);
    background: -o-linear-gradient(0deg, rgb(35, 34, 126) 0%, rgb(16, 163, 193) 59.523809523809526%) rgb(35, 34, 126);
    background: linear-gradient(450deg, rgb(35, 34, 126) 0%, rgb(16, 163, 193) 59.523809523809526%) rgb(35, 34, 126);
}

.top-header .title {
    font-size: 32px;
    vertical-align: middle;
    color: rgb(255, 255, 255);
    padding-top: 28px;
    padding-bottom: 28px;
    text-transform: uppercase;
    font-weight: 300;
}

.top-header .search-header {
    font-size: 26px;
    vertical-align: middle;
    padding-top: 30px;
    float: right;
}

.top-header .search-header a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.search-bar .trip-type {
    width: 100%;
    margin: 0 auto;
    font-size: 12px;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
}

.search-bar .tiny-title {
    padding: 5px 5px 5px 0;
    width: 100%;
    font-size: 12px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.search-bar .container-first {
    padding: 20px 0 0 0;
}

.search-bar .container-destination {
    width: 45%;
    display: inline-block;
}

.search-bar .container-passagers {
    width: 40%;
    display: inline-block;
}

.search-bar .container-edit-search {
    width: 14%;
    display: inline-block;
}

.search-bar .container-edit-search a {
    position: relative;
    bottom: 10px;
    font-size: 14px;
    text-decoration: none;
    color: rgb(35, 34, 126);
    padding-left: 80px;
}

.search-bar .destination-name {
    line-height: 1.3;
    color: rgb(255, 255, 255);
    font-size: 22px;
    display: inline;
    vertical-align: top;
}

.search-bar .container-passagers p {
    position: relative;
    text-align: right;
    padding-right: 20px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    bottom: 10px;
}

.flip-icon-result {
    width: 10%;
    height: 36px;
    background-image: url(../images/flip-white.svg);
    background-repeat: no-repeat;
    background-size: 32px auto;
    background-position: center center;
    display: inline-block;
}


/**
   * Date Picker
   */

.ui-state-active, .ui-widget-content .ui-state-active {
    background-color: black;
    border: 1px solid grey;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight {
    background-color: #f6f6f6;
    border: 1px solid #c5c5c5;
}

.ui-datepicker-calendar tr td.markholiday a {
    color: red;
}

.ui-widget-header {
    background-color: rgb(43, 111, 156);
    color: white;
}

.ui-widget-content {
    background: rgb(230, 238, 239);
}

.ui-datepicker-prev span {
    background-image: url('../images/prev-white.svg') !important;
    background-position: 0px 0px !important;
    background-color: rgb(43, 111, 156);
}

.ui-datepicker-next span {
    background-image: url('../images/next-white.svg') !important;
    background-position: 0px 0px !important;
    background-color: rgb(43, 111, 156);
}

.ui-widget-header .ui-state-hover {
    background: none !important;
    border: none !important;
    font-weight: normal !important;
    right: 2px !important;
    top: 2px !important;
}

.ui-datepicker .ui-datepicker-prev-hover {
    left: 2px !important;
}
.ui-datepicker .ui-datepicker-title select{ color:#454545; }

.container-form-search-first {
    background: rgb(255, 255, 255);
    position: fixed;
    bottom: 35px;
    left: 0;
    right: 0;
    z-index: 1;
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
    opacity: 0.97;
    border-radius: 5px;
    border: 0;
}

.container-form-search-first li a {
    background-color: rgba(159, 159, 173, 0.95);
    text-transform: uppercase;
}

.nav-tabs.nav-justified>li>a {
    border-radius: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
    color: #23227e;
    padding-left: 40px;
    text-align: left;
    border-bottom: 0;
    border-left: none !important;
}

.nav-tabs.nav-justified>li>a.one {
    border-top-left-radius: 5px;
    border: none !important;
}

.nav-tabs.nav-justified>li>a.two {
    border-top-right-radius: 5px;
    border: none !important;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: rgba(159, 159, 173, 0.95);
    border-top-color: rgba(159, 159, 173, 0.95);
    border-bottom-color: none;
    border-right-color: rgba(159, 159, 173, 0.95);
    border-left-color: rgba(159, 159, 173, 0.95);
    color: #23227e;
}

.form-area {
    overflow: hidden;
    width: 100%;
    padding: 20px 40px 50px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: rgba(255, 255, 255, 0.95);
}

.way-form, .text-my-reservation {
    float: left;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    border-bottom: 1px solid rgb(210, 210, 210);
    font-size: 16px;
    color: rgb(73, 73, 85);
    font-weight: 400;
    line-height: 1.5;
}

.way-form-radio {
    display: inline-block;
}

.way-form-radio label {
    font-weight: 600;
    padding-right: 10px;
}

.text-my-reservation p {
    font-size: 16px;
}

.schedule-form, .passengers-form, .find-reservation {
    float: left;
    clear: both;
    width: 100%;
    margin-top: 15px;
}

.destination-form {
    float: left;
    width: 100%;
}

.adult-form, .child-form, .infant-form {
    width: 15%;
    float: left;
    margin-right: 10px;
}

.depart, .return {
    width: 50%;
    float: left;
    padding-top: 15px;
}

.depart-full,
.full {
    width: 100% !important;
}

.return {
    padding-left: 1%;
}

.return-full {
    width: 100%;
}

.find-email, .find-booking {
    float: left;
}

.find-email {
    width: 60%;
    padding-right: 10px;
}

.find-booking {
    width: 40%;
}

.find-email .container-form, .find-booking .container-form {
    width: 100%;
}

.find-email .container-form input, .find-booking .container-form input {
    width: 100%;
    height: 36px;
    padding: 10px;
    border-radius: 2px;
}

.find-booking .container-form input {
    float: right;
}

.date-picker {
    display: block;
    height: 36px;
    padding-left: 36px;
    background-image: url('../images/calendar-2.svg');
    background-repeat: no-repeat;
    background-size: 40px 25px;
    background-position: left center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(73, 73, 85);
    float: left;
    width: 100%;
    padding-right: 10px;
    border-radius: 2px;
}

.container-form {
    display: inline-block;
    float: left;
    width: 33.33%;
}

.container-form-select {
    /*display: inline-block;
    float: left;
    width: 33.33%;*/
    padding:0;
}

.container-form-btn {
    display: inline-block;
    width: 45%;
    float: right;
    border: none;
}

.depart .container-form, .return .container-form {
    width: 100%;
}

.adult-form .container-form, .child-form .container-form, .infant-form .container-form {
    width: 100%;
}

.container-form input, .container-form button, .container-form-btn button {
    border: 1px solid rgb(210, 210, 210);
}

.form-area form select, .form-area form input {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(73, 73, 85);
}

.from, .to, .rtn {
    display: block;
    width: 100%;
    height: 36px;
    padding-left: 30px;
    background-image: url('../images/pointer.svg');
    background-repeat: no-repeat;
    background-size: 35px 25px;
    background-position: left center;
    cursor: pointer !important;
    background-color: white !important;
}

.from:hover, .to:hover, .rtn:hover {
    color : rgb(73, 73, 85);
}

.form-area select {
    border: 1px solid rgb(210, 210, 210);
    /*for firefox*/
    -moz-appearance: none;
    /*for chrome*/
    -webkit-appearance: none;
    font-weight: normal;
}

.to, .rtn {
    border-left: none !important;
}

.from {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.to {
    border-radius: 0;
}

.rtn {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.adult {
    display: block;
    width: 100%;
    height: 36px;
    padding: 0 10px 0 40px;
    background-image: url('../images/adult-2.svg');
    background-repeat: no-repeat;
    background-size: 45px 25px;
    background-position: left center;
    border-radius: 2px;
    background-color: white !important;
}

.child {
    display: block;
    width: 100%;
    height: 36px;
    padding-left: 40px;
    background-image: url('../images/child-2.svg');
    background-repeat: no-repeat;
    background-size: 45px 25px;
    background-position: left center;
    border-radius: 2px;
    background-color: white !important;
}

.infant {
    display: block;
    width: 100%;
    height: 36px;
    padding-left: 40px;
    background-image: url('../images/infant-2.svg');
    background-repeat: no-repeat;
    background-size: 45px 25px;
    background-position: left center;
    border-radius: 2px;
    background-color: white !important;
}

.check-availability {
    display: block;
    float: right;
    width: 100%;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    background-color: rgb(220, 91, 14);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    color: rgb(255, 255, 255);
    border: none !important;
}

.way-form p, .schedule-form p, .passengers-form p, .find-reservation p, .find-booking p {
    float: left;
    width: 100%;
    font-size: 12px;
    color: rgb(35, 34, 126);
    font-weight: 600;
}

.form-area p span, .your-details .your-detail-information label span, .your-details .your-guest-detail label span, .your-details .payment-method label span {
    color: red;
}

.background-white {
    background: white;
}

.title-information {
    background-color: rgb(230, 238, 239);
}

.title-information .title {
    font-size: 30px;
    font-weight: 200;
    color: rgb(16, 163, 193);
    padding-top: 30px;
}

.title-information .title-desc {
    color: #494955;
    font-size: 20px;
}

.title-information .title-note {
    color: rgb(242, 78, 78);
    font-size: 16px;
    text-align:center;
    margin:20px 0 40px;
}

.container-sugestion-result{
    margin-top:20px;
}

.box-shadow {
    border: 1px solid rgb(198, 216, 220);
    background-color: rgb(255, 255, 255);
}

.detail-information {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(230, 238, 239);
}

.detail-information .container-add {
    margin-top: 20px;
    /*padding-top: 20px;*/
    padding: 0;
}

.detail-information .container-add article{
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
        transition: 0.3s linear;
            border: 1px solid rgb(198, 216, 220);
            background-color: rgb(254, 254, 254);}

.detail-information .container-result-first {
    width: 75%;
    float: left;
    min-height: 225px;
}

.detail-information .container-result-second {
    width: 25%;
    float: left;
    min-height: 400px;
    border-left: 1px solid rgb(198, 216, 220);
}

.detail-information .title {
    padding: 10px 15px;
    border-bottom: 1px solid rgb(198, 216, 220);
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    color: rgb(73, 73, 85);
    min-height: 50px;
}

.detail-information .title span{ float:right; font-size:12px; color:rgb(242, 78, 78); margin-top:10px; }
.detail-information .title small{
    background:rgb(169, 68, 66); 
    color:rgb(255, 255, 255);
    display:inline-block;
    border-radius:2px;
    margin-left:20px;
    padding:3px 10px;
    font-size:11px;
    font-weight:600;}

.detail-information .info-route {
    background-image: url('../images/depart-from-2.svg');
    background-repeat: no-repeat;
    background-size: 18px auto;
    background-position: 10px 15px;
    padding-left: 3%;
    float: left;
    width: 35%;
    min-height: 350px;
}

.detail-information .info-passenger {
    background-image: url('../images/adult-2.svg');
    background-repeat: no-repeat;
    padding-left: 3%;
    background-size: 18px auto;
    background-position: 10px 15px;
    float: left;
    width: 20%;
    min-height: 350px;
}

.detail-information .info-transport {
    background-image: url('../images/transport.svg');
    background-repeat: no-repeat;
    padding-left: 3%;
    background-size: 18px auto;
    background-position: 10px 15px;
    float: left;
    width: 25%;
    min-height: 350px;
}

.detail-information .info-route, .detail-information .info-passenger {
    border-right: 1px solid rgb(198, 216, 220);
}

.detail-information .info-route {
    font-weight: 600;
    font-size: 14px;
}

.detail-information .passenger-result, .detail-information .transport-result {
    font-size: 12px;
    font-weight: 600;
}

.detail-information .passenger-result ul, .detail-information .transport-result ul {
    padding-left: 13px;
}

.detail-information .passenger-result ul li, .detail-information .transport-result ul li {
    color: #494955;
    font-size: 13px;
    line-height: 1.8em;
}

.detail-information .container-add article:hover {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}

.detail-information .passenger-result span, .detail-information .transport-result span {
    font-weight: normal;
}

.detail-information .heading-route, .detail-information .heading-passenger, .detail-information .heading-transport {
    padding-top: 10px;
    padding-left: 10px;
    line-height: 2.5;
    color: rgb(16, 163, 193);
    font-weight: 700;
    font-size: 12px;
    width: 100%;
    margin-bottom: 0;
}

.detail-information .routes {
    font-size: 14px;
    padding-left: 5px;
}

.routes ul li {
    padding-right: 5px;
    padding-left: 18px;
    background-repeat: no-repeat;
    background-size: 5px auto;
    background-position: 5px 50%;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.8em;
    color: #494955;
}

.routes ul li span {
    font-weight: normal;
}

/*.routes ul li:first-child {*/
/*    background-image: url('../images/start-route.svg');*/
/*}*/

/*.routes ul li:last-child {*/
/*    background-image: url('../images/end-route(4).svg');*/
/*}*/

/*.routes ul li:not(:first-child):not(:last-child) {*/
/*    background-image: url('../images/inbetween-route(4).svg');*/
/*}*/

.img-ship {
    float: left;
    width: 20%;
}

.img-ship img {
    object-fit: cover;
    width: 100%;
    display: inline;
}

.detail-information .container-price-select {
    width: 100%;
    padding-top: 10%;
}

.detail-information .total-price {
    font-size: 14px;
    font-weight: 700;
    line-height: 2;
    color: rgb(16, 163, 193);
    text-align: center;
    position: relative;
    top: 10px;
}
.detail-information .disc-price{ text-align:center; margin:0; display:block; margin:10px 0 -10px 0; text-decoration:line-through; }

.detail-information .price {
    font-size: 26px;
    font-weight: 500;
    line-height: 2;
    text-align: center;
    color: #494955;
}

.detail-information .border-price {
    border-left: 1px solid rgb(198, 216, 220);
}

.detail-information .btn-select {
    position: relative;
    bottom: 15px;
    border: none;
    display: block;
    width: 60%;
    margin: 15px auto 0;
    padding-top: 8px;
    padding-bottom: 10px;
    border-radius: 3px;
    background-color: rgb(220, 91, 14);
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    color: rgb(255, 255, 255);
}

.detail-information .btn-selected {
    position: relative;
    bottom: 15px;
    border: none;
    display: block;
    width: 60%;
    margin: 15px auto 0;
    padding-top: 8px;
    padding-bottom: 10px;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    color: rgb(255, 255, 255);
    background: url('../images/checked.svg') rgb(12, 123, 146);
    background-repeat: no-repeat;
    background-size: 16px auto;
    background-position: 17px 8px;
}

.detail-information .opt-btn{
    color:rgb(255, 255, 255);
    margin:5px auto 0;
    position:relative;
    font-size:16px;
    width:150px;
    height:35px;}
.detail-information .opt-btn input{ position:absolute; top:0; left:0; width:100%; height:100%; margin:0; opacity:0; cursor:pointer; z-index:1; }
.detail-information .opt-btn label{
    background-color:rgb(220, 91, 14);
    border-radius: 3px;
    position:absolute;
    text-align:center;
    height:100%;
    width:100%;
    margin:0;
    left:0;
    top:0;}
.detail-information .opt-btn label:after{ content:'Select'; display:block; height:35px; font-weight:400; line-height:35px; }
.detail-information .opt-btn input:checked + label{ background-color:rgb(12, 123, 146); }
.detail-information .opt-btn input:checked + label:after{
    content:'Selected';
        background-image:url(../images/checked.svg);
        background-position:30px center;
        background-repeat:no-repeat;
        background-size:16px auto;
        padding-left:15px;}

.detail-information .opt-btn input:disabled + label{ background-color:rgb(153, 153, 153); }
.detail-information .opt-btn input:disabled + label:after{ content:'Fully booked'; }

.has-error input,
.has-error select{ border-color:#a94442; }

.continue-reservation {
    padding: 30px 0 50px 0;
    background-color: rgb(230, 238, 239);
}

.continue-reservation .container {
    padding-right: 0;
    padding-left: 0;
}

.continue-reservation button {
    display: block;
    float: right;
    padding: 10px 30px 12px;
    border-radius: 3px;
    background-color: rgb(220, 91, 14);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.38;
    text-align: center;
    color: rgb(255, 255, 255);
    border: none;
    width: 30%;
}

.continue-reservation button[disabled] {
    background-color: rgb(198, 216, 220) !important;
}

.footer {
    padding-top: 30px;
    padding-bottom: 100px;
    background-color: rgb(198, 216, 220);
}

.footer .transfer-method {
    display: table-cell;
    padding-right: 10px;
    padding-left: 10px;
    width: 50%;
}

.footer .transfer-method p {
    border-bottom: 1px solid rgb(166, 194, 201);
    font-size: 14px;
    font-weight: 600;
}

.footer ul li {
    display: inline-block;
}

.footer ul li img {
    height: 40px;
}

.form-search-overlay {
    overflow: hidden;
    height: 0;
    transition: 0.5s linear;
}

.form-search-overlay.height-overlay {
    height: max-content;/*370px;*/
}

.form-search-overlay .edit-search, .form-search-overlay .edit-search-reservation {
    display: inline;
    margin-bottom: 10%;
}

.form-search-overlay .edit-search .close, .form-search-reservation .edit-search-reservation .close {
    width: 20%;
    height: 44px;
    border-radius: 3px;
    background-image: url(../images/close.svg);
    background-repeat: no-repeat;
    background-size: 16px auto;
    background-position: center right;
    font-size: 1.231em;
    line-height: 1.38;
    text-align: center;
    color: rgb(0, 0, 0);
}

.form-search-overlay .edit-search-text, .form-search-reservation .edit-search-text-reservation {
    width: 80%;
    display: inline;
    font-size: 26px;
    height: 70px;
}

.form-search-overlay .form-area{ padding:20px 0; }

.form-search-reservation {
    position: absolute;
    top: 20.5%;
    right: 0;
    left: 0;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s linear;
}

.booking .box-shadow {
    margin: 20px 0 20px 0;
}

.booking .booking-numb {
    width: 100%;
    padding: 20px 15px 20px 15px;
    border-bottom: 1px solid rgb(198, 216, 220);
}

.booking .booking-numb button,
.booking .booking-numb a {
    float: right;
    width: 150px;
    height: 30px;
    border-radius: 2px;
    background-color: rgb(74, 73, 147);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
    border: none;
}
.booking .booking-numb a{ text-decoration:none; }

.booking .numb {
    font-size: 26px;
    display: inline-block;
}

.booking .short-text {
    width: 100%;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.4;
    color: rgb(16, 163, 193);
    display: inline-block;
}

.booking .booking-name {
    display: flex;
    width: 100%;
    padding: 20px 15px 20px 15px;
    font-weight: 700;
    font-size: 16px;
    border-bottom: 1px solid rgb(198, 216, 220);
}

.booking .booking-detail {
    display: flex;
    width: 100%;
}

.booking .booking-detail .route, .booking .booking-detail .passengers, .booking .booking-detail .pickup, .booking .booking-detail .departs, .booking .booking-detail .status {
    width: 20%;
    display: inline-block;
    padding: 5px;
}

.booking .booking-detail .route, .booking .booking-detail .passengers, .booking .booking-detail .pickup, .booking .booking-detail .departs {
    border-right: 1px solid rgb(198, 216, 220);
}

.booking .heading-route, .booking .heading-passenger, .booking .heading-pickup, .booking .heading-depart, .booking .heading-status {
    padding-left: 25px;
    line-height: 2.2;
    color: rgb(16, 163, 193);
    font-weight: 700;
    font-size: 12px;
    width: 100%;
}

.booking .booking-detail .text, .booking .booking-detail ul li {
    padding-left: 25px;
    font-weight: 700;
}

.booking .pic-format {
    background-repeat: no-repeat;
    background-size: 16px auto;
    background-position: 10px 10px;
    padding-left: 3%;
    float: left;
    width: 30%;
}

.booking .route {
    background-image: url('../images/depart-from-2.svg');
}

.booking .passengers {
    background-image: url('../images/adult-2.svg');
}

.booking .pickup {
    background-image: url('../images/transport.svg');
}

.booking .departs {
    background-image: url('../images/calendar-2.svg');
}

.booking .status {
    background-image: url('../images/status.svg');
}

.new-reservation .btn-select{
    float: left;
    margin-top: 10px;
    margin-bottom: 90px;
    border: none;
    width: 30%;
    padding: 10px;
    border-radius: 3px;
    background-color: rgb(220, 91, 14);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.new-reservation .add-feedback{
    float: left;
    margin-left:10px;
    margin-top: 10px;
    margin-bottom: 90px;
    border: none;
    width:200px;
    padding: 10px;
    border-radius: 3px;
    background-color: rgb(220, 91, 14);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.reservation-detail .title {
    width: 100%;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.4;
    color: rgb(16, 163, 193);
    display: inline-block;
}
.reservation-detail .select2-container .select2-selection--single{ height:34px; box-shadow:0 1px 5px rgba(0, 0, 0, 0.15) inset; }
.reservation-detail .select2-container--default .select2-selection--single .select2-selection__rendered{ line-height:34px; }
.reservation-detail .select2-container--default .select2-selection--single{ border-color:rgb(166, 166, 183); border-radius:2px; }
.reservation-detail .select2-container--default .select2-selection--single .select2-selection__arrow{ height:34px; }

.reservation-detail {
    border-bottom: 1px solid rgb(198, 216, 220);
}

.booking-details {
    border-top: 1px solid rgb(198, 216, 220);
    display: flex;
    width: 100%;
}

.booking-details p.title, .trip-details p.title, .transport-pickup-dropoff p.title, .total-all p.title, .subtotal-all p.title, .discount-all p.title {
    color: rgb(16, 163, 193);
    font-size: 12px;
    font-weight: 600;
}

.booking-details .booked-by {
    width: 33.33%;
    padding: 10px 0 10px;
}
.booking-details .booked-by p:last-child{ margin-bottom:0; }

.booking-details .booked-day, .booking-details .booked-source, .booking-details .booked-status {
    width: 33.33%;
    padding: 10px 0 10px 20px;
}
.booking-details .booked-status{ text-align:right; }

.reservation-detail input, .reservation-detail select, .trip-detail input, .trip-detail select, .transport-pickup-dropoff select, .transport-pickup-dropoff input, .passenger-details input {
    width: 90%;
    border: 1px solid rgb(166, 166, 183);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15) inset;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.38;
    color: rgb(73, 73, 85);
}

.trip-details {
    display: flex;
    width: 100%;
    border:1px solid rgb(198, 216, 220);
}

.trip-detail .title, .passenger-details .title, .cancelation-request .title {
    background:rgb(245, 245, 245);
    color: rgb(16, 163, 193);
    padding:10px;
    font-size: 20px;
    font-weight: 300;
    margin:0;
}

.trip-detail .short-text {
    border: 1px solid rgb(198, 216, 220);
    border-bottom: 0;
    margin:10px 0 0;
    padding:10px;
    font-weight:bold;
    font-size:14px;
}

.trip-details .departure, .trip-details .arrival, .trip-details .adults, .trip-details .childs, .trip-details .infants, .trip-details .sub-total {
    width: 20%;
}
.trip-details .departure .title, .trip-details .arrival .title, .trip-details .adults .title, .trip-details .childs .title, .trip-details .infants .title, .trip-details .sub-total .title{
    background:none;
}
.trip-details p{ padding:0 10px; }
.trip-details .sub-total strong small{ display:block; color:rgb(242, 78, 78); text-decoration:line-through; font-size:12px; }
.trip-details .sub-total,
.transport-pickup-dropoff .transport-fee{ text-align:right; }

.transport-pickup-dropoff {
    display: inline-block;
    width: 100%;
    border-top:0;
    white-space: nowrap;
    padding:0 10px 20px;
    border: 1px solid rgb(198, 216, 220);
    border-top:0;
}

.transport-pickup-dropoff .pickup-transport, .transport-pickup-dropoff .transport-fee {
    display: inline-block;
}
.reservation-detail, .trip-detail, .passenger-details{
    font-size: 12px;
}
.transport-pickup-dropoff .pickup-transport .title, .transport-pickup-dropoff .transport-fee .title{ padding:10px 0; }

.transport-pickup-dropoff .pickup-transport {
    width: 80%;
}

.transport-pickup-dropoff .pickup-transport label.first {
    color: rgb(16, 163, 193);
    padding: 10px 0 0;
    font-size: 12px;
    font-weight: 600;
}

.transport-pickup-dropoff .pickup-transport{
    /*padding-bottom: 20px;*/
}

.transport-pickup-dropoff .pickup-transport .col-2 .form-group {
    margin-bottom: 0;
}

.transport-pickup-dropoff .pickup-transport label {
    color: rgb(16, 163, 193);
    font-size: 12px;
    font-weight: 600;
    margin-bottom:10px;
    padding-top:10px;
}

.pickup-transport .title {
    width: 100%;
}

.pickup-transport .col-1 {
    width: 50%;
    float: left;
}

.pickup-transport .col-2 {
    width: 50%;
    float: left;
}

.pickup-transport .col-1 .title-second {
    color: rgb(16, 163, 193);
    font-size: 12px;
    font-weight: 600;
    padding: 10px 0 0;
}

.pickup-transport .body {
    width: 50%;
    display: -webkit-inline-box;
    vertical-align: top;
}

.pickup-transport .desc {
    width: 40%;
    display: -webkit-inline-box;
    white-space:normal;
}

.transport-pickup-dropoff .transport-fee {
    width: 20%;
    vertical-align: top;
}

.transport-pickup-dropoff .pickup-transport .title,
.transport-pickup-dropoff .transport-fee .title{ background:none; }

.total-all,
.subtotal-all,
.discount-all{
    border-top: 1px solid rgb(198, 216, 220);
}

.modal-content .total-all{
    margin-top: 20px;
}

.total-all p.title, .total-all p.amount,
.subtotal-all p.title, .subtotal-all p.amount,
.discount-all p.title, .discount-all p.amount {
    text-align: right;
    width: 100%;
    right: 0;
    position: relative;
}
.total-all p.title{ padding-top:10px; background:none; }

.total-all p.amount {
    font-size: 26px;
}

.person-detail .col-1 {
    width: 40%;
    display: inline-block;
}

.person-detail .col-2, .person-detail .col-3, .person-detail .col-4 {
    width: 20%;
    display: inline-block;
}

.passenger-details .title {
    border: 1px solid rgb(198, 216, 220);
    border-top:0;
    font-size:14px !important;
    background:#f2f5f5;
    color:#333;
}
.passenger-details .select2-container .select2-selection--single{ height:34px; box-shadow:0 1px 5px rgba(0, 0, 0, 0.15) inset; }
.passenger-details .select2-container--default .select2-selection--single .select2-selection__rendered{ line-height:34px; }
.passenger-details .select2-container--default .select2-selection--single{ border-color:rgb(166, 166, 183); border-radius:2px; }
.passenger-details .select2-container--default .select2-selection--single .select2-selection__arrow{ height:34px; }

.person-detail .col-1 .person, .person-detail .col-2 .gender, .person-detail .col-3 .dob, .person-detail .col-4 .nationality {
    color: rgb(16, 163, 193);
    font-size: 12px;
    font-weight: 600;
}

/*.passenger-details {
    border-bottom: 4px solid rgb(198, 216, 220);
    padding-bottom: 20px;
}*/
.passenger-details .p-detail-block{ border:1px solid rgb(198, 216, 220); border-top:0; }
.passenger-details .p-detail-block strong{ display:block; padding-bottom:7px; font-weight:normal; }
.passenger-details .p-detail-block ul{ padding:0 10px; margin:0 -10px; }
.passenger-details .p-detail-block ul li{ list-style:none; padding:10px; border-bottom:1px solid rgb(198, 216, 220); }
.passenger-details .p-detail-block ul:last-child li{ border-bottom:0; }
.passenger-details .p-detail-block ul.row-head li{ background:#f2f5f5; }
.passenger-details .p-detail-block ul.row-head li span{ color:rgb(16, 163, 193); font-weight:600; }
.passenger-details .p-detail-block select{ max-width:150px; }

.passenger-details .p-detail-edit-block{ padding: 10px; }

.add-ons-detail .p-detail-block{ overflow:hidden; }
.add-ons-detail .p-detail-block ul li{ border-bottom:0; }
.add-ons-detail .p-detail-block ul{ border-bottom:1px solid rgb(198, 216, 220); }
.add-ons-detail .p-detail-block ul:last-child{ border-bottom:none; }

.passenger-details .person-detail {
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid rgb(198, 216, 220);
    white-space: nowrap;
}

.person-detail .col-1 .name {
    font-weight: 600;
}

.btn-control {
    margin-top: 30px;
}

.btn-control a {
    text-decoration: none;
    padding-right: 15px;
}

.btn-control .btn-select {
    padding: 5px 15px;
    border: none;
    border-radius: 3px;
    background-color: rgb(220, 91, 14);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.3;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-right: 10px;
}

.your-details {
    background-color: rgb(230, 238, 239);
}

.your-details .your-detail-information {
    padding: 20px 40px 20px 30px;
    background-color: rgb(255, 255, 255);
    margin: 30px 0 30px;
    white-space: nowrap;
}

.your-details .your-detail-information .title {
    font-size: 42px;
    color: rgb(16, 163, 193);
    font-weight: 300;
    padding-bottom: 20px;
}

.your-details .your-detail-information .form-group {
    padding-left: 30px;
}

.your-details .your-detail-information .col-1, .your-details .your-detail-information .col-2 {
    width: 50%;
    display: inline-block;
}

.your-details .your-guest-detail .col-1 {
    width: 68%;
    float: left;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    margin-right: 2%;
    margin-bottom: 30px;
}

.your-details .payment-method .col-1 {
    width: 68%;
    float: left;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    margin-right: 2%;
    margin-bottom: 80px;
}

.your-details .your-guest-detail .col-2 {
    width: 30%;
    float: left;
    padding: 30px 20px 30px;
    background-color: rgb(39, 38, 94);
}

.your-details .your-detail-information label, .your-details .your-guest-detail label, .your-details .payment-method label {
    font-size: 12px;
    font-weight: normal;
}

.your-details .your-detail-information input,
.your-details .your-detail-information select,
.your-details .your-guest-detail input,
.your-details .your-guest-detail select,
.your-details .payment-method select,
.your-details .your-guest-detail textarea {
    border-radius: 2px;
    height: 38px;
    max-width: 500px;
}
.your-details .your-guest-detail textarea{ height:auto; resize:vertical; }

.your-detail-information .side-login-information {
    padding-top: 200px;
    text-align: center;
    position: relative;
    top: -150px;
}

.your-detail-information .side-login-information p.or {
    display: inline-block;
    font-size: 30px;
    padding: 10% 10% 6% 10%;
    vertical-align: bottom;
}

.your-detail-information .side-login-information ul {
    display: inline-block;
}

.your-detail-information .side-login-information ul li {
    padding-bottom: 15px;
}

.your-detail-information .side-login-information ul li img {
    width: 185px;
}

.your-guest-detail .side-detail-information .title {
    color: rgb(16, 163, 193);
    font-size: 36px;
    padding:0;
}

.your-guest-detail .side-detail-information .desc {
    color: rgb(16, 163, 193);
    font-size: 16px;
    font-weight: 600;
    padding-top: 20px;
    border-top: 1px solid rgb(74, 73, 147);
}

.your-guest-detail .side-detail-information ul {
    padding-left: 20px;
    font-size: 12px;
}

.your-guest-detail .side-detail-information ul li {
    padding: 5px;
    color: rgb(16, 163, 193);
    font-weight: 600;
}

.your-guest-detail .side-detail-information ul li span {
    color: rgb(255, 255, 255);
    font-weight: 100;
}

.your-guest-detail .side-detail-information p.grand-total {
    color: rgb(16, 163, 193);
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}

.your-guest-detail .side-detail-information p.price {
    color: rgb(255, 255, 255);
    font-size: 24px;
    margin-bottom:0;
}

.your-guest-detail .title {
    color: rgb(16, 163, 193);
    font-size: 42px;
    padding: 20px 0 30px 0;
    font-weight: 300;
}

.your-guest-detail .route {
    color: rgb(16, 163, 193);
    font-weight: 600;
    font-size: 22px;
    padding-bottom: 5px;
    padding-left: 15px;
}

.your-guest-detail .date {
    font-size: 14px;
    padding-bottom: 30px;
    padding-left: 15px;
}

.your-guest-detail .copy {
    padding-bottom: 10px;
    padding-left: 20px;
    background-image: url('../images/copy-info(2).svg');
    background-repeat: no-repeat;
    background-size: 18px auto;
    margin-left: 15px;
}

.your-guest-detail .container-form-guest .form-passenger:last-of-type {
    /*border-bottom: 5px solid #c6d8dc;*/
    padding-bottom: 35px;
    margin-bottom: 0;
}

.your-guest-detail .form-passenger {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid rgb(198, 216, 220);
}

.your-guest-detail .head-form-passenger {
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(73, 73, 85);
    padding-left: 30px;
}

.your-guest-detail .form-group {
    padding-left: 30px;
}

.your-guest-detail .form-passenger .circle {
    display: inline-block;
}

.your-guest-detail .form-passenger .circle {
    padding-right: 10px;
}

.your-guest-detail .form-passenger .circle span {
    position: relative;
    top: -15px;
    padding-left: 5px;
}

.pickup-detail-passenger,
.dropoff-detail-passenger{
    padding-bottom:35px;
}

.accomodation-detail-passenger{
    padding:35px 0;
    border-bottom: 4px solid rgb(198, 216, 220);
    margin-bottom:35px;
}

.accomodation-detail-passenger .title{
    color: rgb(16, 163, 193);
    font-size: 24px;
    padding: 0 0 30px 15px;
}

.pickup-detail-passenger .title {
    color: rgb(16, 163, 193);
    font-size: 24px;
    padding: 0 0 0 15px;
}
.dropoff-detail-passenger .title{
    color: rgb(16, 163, 193);
    font-size: 24px;
    padding: 0 0 0 15px;
}

.dropoff-detail-passenger .text {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 10px;
    color: rgb(73, 73, 85);
    padding-left: 15px;
}
.dropoff-detail-passenger .subtext{ margin-top:-10px; padding-left: 15px; }

.dropoff-detail-passenger .text-desc {
    padding-bottom: 30px;
    padding-left: 15px;
}

.pickup-detail-passenger .text {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 10px;
    color: rgb(73, 73, 85);
    padding-left: 15px;
}
.pickup-detail-passenger .subtext{ margin-top:-10px; padding-left: 15px; }

.your-details .payment-method .title {
    color: rgb(16, 163, 193);
    font-size: 42px;
    font-weight: 300;
    padding-bottom: 30px;
    padding-left: 15px;
}

.your-details .payment-method .grand-total {
    font-weight: 700;
    font-size: 16px;
    color: rgb(16, 163, 193);
    padding-left: 15px;
}

.your-details .payment-method .price {
    padding-bottom: 20px;
    font-size: 28px;
    font-weight: 600;
    color: rgb(73, 73, 85);
    border-bottom: 1px solid rgb(198, 216, 220);
    padding-left: 15px;
}

.your-details .payment-method .choose-pay {
    padding-top: 10px;
    padding-bottom: 70px;
    border-bottom: 1px solid rgb(198, 216, 220);
    padding-left: 15px;
}

.your-details .payment-method .choose-pay ul li img {
    width: 48px;
    float: left;
    padding-right: 10px;
}

.your-details .payment-method .checkbox {
    padding: 0 0 30px 15px;
}

.your-details .payment-method .checkbox label {
    font-size: 16px;
}

.your-details .payment-method .checkbox label a, .your-details .payment-method .checkbox label a:hover {
    text-decoration: none;
}

.your-details .container-form-guest{ padding-bottom:35px; }
.your-details .container-departure-detail,
.your-details .container-return-detail,
.your-details .depart-transport-detail{ border-bottom: 4px solid #c6d8dc; }

.your-details .payment-method button {
    font-size: 20px;
    width: 100%;
    padding: 10px 25px 10px 25px;
    border-radius: 2px;
    background-color: rgb(198, 216, 220);
    font-weight: 600;
    line-height: 1.38;
    text-align: center;
    color: rgb(255, 255, 255);
    border: none;
}

.your-details .form-action button{
    font-size: 20px;
    width: 150px;
    padding: 10px 25px 10px 25px;
    border-radius: 2px;
    background-color:rgb(220, 91, 14);
    font-weight: 600;
    line-height: 1.38;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top:15px;
    border: none;
}

.cancelation-request .reason, .cancelation-request .message {
    color: rgb(16, 163, 193);
    font-size: 12px;
    font-weight: 800;
    margin: 0;
}

.cancelation-request .message-text {
    line-height: 2;
}

.your-trip{ position:relative; }
.your-trip .your-detail-trip {
    border: 1px solid rgb(198, 216, 220);
    width: 100%;
    float: left;
}

.your-trip-overlay{ position:absolute; top:0; left:0; width:100%; height:100%; background-color:rgba( 255, 255, 255, 0.8 ); z-index:2; display:none; }
.your-trip-overlay img{
    position:absolute;
    margin-left:-80px;
    margin-top:-10px;
    display:block;
    width:160px;
    height:20px;
    left:50%;
    top:50%;}

.your-trip .border-btm {
    border-bottom: none !important;
}

.your-trip .your-detail-trip .col-1 {
    width: 100%;
    float: left;
    border-bottom: 1px solid rgb(198, 216, 220);
}

.your-trip {
    background-color: rgb(230, 238, 239);
}

.your-trip .container .row {
    background-color: white;
    margin-top: 30px;
    margin-bottom: 20px;
}

.your-trip .your-detail-trip .title, .your-trip .your-detail-trip .date {
    background-color: white;
    color: rgb(16, 163, 193);
    padding: 10px 15px;
}

.your-trip .your-detail-trip .title {
    float: left;
    width: 65%;
    font-size: 22px;
}

.your-trip .your-detail-trip .date {
    float: left;
    width: 35%;
    text-align: right;
    margin-top: 10px;
    padding-right: 20px;
}

.your-trip .your-detail-trip .col-2, .your-trip .your-detail-trip .col-3 {
    min-height: 150px;
}

.your-trip .your-detail-trip .col-2 {
    width: 85%;
    float: left;
    border-right: 1px solid rgb(198, 216, 220);
}

.your-trip .your-detail-trip .info-route, .your-trip .your-detail-trip .info-passenger, .your-trip .your-detail-trip .info-transport {
    border-right: 1px solid rgb(198, 216, 220);
    min-height: 120px;
}

.your-trip .your-detail-trip .info-rate {
    min-height: 100px;
}

.your-trip .your-detail-trip .ship-info {
    color: #494955;
    font-size: 16px;
    font-weight: 600;
    float: left;
    width: 100%;
    padding: 10px 15px;
    border-bottom: 1px solid rgb(198, 216, 220);
}

.your-trip .your-detail-trip .info-passenger {
    background-image: url('../images/adult-2.svg');
    background-repeat: no-repeat;
    background-size: 18px auto;
    background-position: 10px 13px;
    padding-left: 3%;
    width: 20%;
    float: left;
}

.your-trip .your-detail-trip .info-transport {
    background-image: url('../images/transport.svg');
    background-repeat: no-repeat;
    background-size: 18px auto;
    background-position: 10px 13px;
    padding-left: 3%;
    width: 20%;
    float: left;
}

.your-trip .your-detail-trip .info-rate {
    background-image: url('../images/price(2).svg');
    background-repeat: no-repeat;
    background-size: 18px auto;
    background-position: 10px 13px;
    padding-left: 3%;
    width: 25%;
    float: left;
}

.your-trip .your-detail-trip .info-route {
    background-image: url('../images/depart-from-2.svg');
    background-repeat: no-repeat;
    background-size: 18px auto;
    background-position: 15px 13px;
    padding-left: 3%;
    float: left;
    width: 35%;
}

.your-trip .heading-route, .your-trip .heading-passenger, .your-trip .heading-transport, .your-trip .heading-rate {
    line-height: 2.2;
    color: rgb(16, 163, 193);
    font-weight: 700;
    font-size: 12px;
    width: 100%;
    margin-bottom: 0;
}

.your-trip .heading-passenger, .your-trip .heading-transport, .your-trip .heading-rate {
    padding-top: 10px;
    padding-left: 5px;
}

.your-trip .heading-route {
    padding-top: 10px;
    padding-left: 10px;
}

.your-trip .passenger-result ul, .your-trip .transport-result ul, .your-trip .rate-result ul {
    padding-left: 12px;
}

.your-trip .passenger-result, .your-trip .transport-result, .your-trip .rate-result {
    font-size: 12px;
    font-weight: 600;
    color: #494955;
}

.your-trip .passenger-result span, .your-trip .transport-result span, .your-trip .rate-result span {
    font-weight: normal;
}

.your-trip .your-detail-trip .col-3 {
    width: 15%;
    float: left;
    display: flex;
}

.your-trip .col-3 .price {
    width: 100%;
    margin: 0 auto;
    min-height: 150px;
}

.your-trip .col-3 .text, .your-trip .col-3 .price-text {
    text-align: right;
    padding-right: 20px;
}

.your-trip .col-3 .text {
    font-size: 12px;
    color: rgb(16, 163, 193);
    font-weight: 600;
    margin: 0;
    margin-top: 45%;
}

.your-trip .col-3 .disc-price{ color: #494955; display:block; text-align:right; text-decoration:line-through; padding-right:20px; margin-top:7px; }

.your-trip .col-3 .price-text {
    color: #494955;
    font-size: 20px;
}

.your-trip .your-detail-trip .col-4 {
    width: 100%;
    float: left;
    background-color: rgb(242, 242, 242);
    border-top: 1px solid rgb(198, 216, 220);
}

.your-trip .col-4 .pickup-text {
    width: 85%;
    float: left;
    padding: 20px 20px;
    border-right: 1px solid rgb(198, 216, 220);
    font-weight: 600;
}

.your-trip .col-4 .pickup-text span {
    font-weight: normal;
}

.your-trip .col-4 .pickup-desc, .your-trip .col-4 .text-desc {
    width: 15%;
    float: left;
    padding: 18px 20px;
    font-weight: 600;
    text-align:right;
}

.your-trip .col-4 .pickup-desc p,
.your-trip .col-4 .text-desc p{ margin:0; }

.your-trip .col-4 .text .own-trans{ padding:20px; }
.your-trip .col-4 .text .own-trans + .own-trans{ padding-top:0; margin-top:-10px; }
.your-trip .col-4 .text .own-trans em{ font-style:normal; }

.your-trip .col-4 .pickup-desc .both:first-child p,
.your-trip .col-4 .text-desc .both:first-child p{ margin-bottom:0; }
.your-trip .col-4 .pickup-desc .both:last-child p,
.your-trip .col-4 .text-desc .both:last-child p{ padding-top:32px; margin-bottom:0 }

.your-trip .col-4 .pickup-desc .own-transport.both:last-child p,
.your-trip .col-4 .text-desc .own-transport.both:last-child p{ padding-top:20px; margin-bottom:0 }

.your-trip .col-4 .text {
    width: 85%;
    float: left;
    border-right: 1px solid rgb(198, 216, 220);
}

.your-trip .col-4 .text-desc {
    width: 15%;
    float: left;
}

.your-trip .col-4 .dropoff-text,
.your-trip .col-4 .pickups-text,
.your-trip .col-4 .ao-title{ float:left; padding:17px 0 10px 20px; font-weight:600; width:205px; text-align:right; }
.your-trip .col-4 .ao-content{ float:left; width:100%; margin-left:-205px; padding-left:216px; padding-top:17px; }
.your-trip .col-4 .ao-content ul{ padding:0; margin:0; list-style:none; }
.your-trip .col-4 .ao-content ul li label span{ vertical-align:top; margin-left:7px; color:rgb(16, 163, 193); }
.your-trip .col-4 .ao-content ul li .row{ margin:0 -15px 15px; background-color:transparent; padding-left:25px; }
.your-trip .col-4 .ao-content ul li .row img{ float:left; width:150px; margin-bottom:10px; }
.your-trip .col-4 .ao-content ul li .row img + .bx{ float:left; width:100%; margin-left:-150px; padding-left:160px; }
.your-trip .col-4 .ao-content ul li .row .bx a{ color:rgb(16, 163, 193); text-decoration:underline; display:inline-block; margin-bottom:15px; }
.your-trip .col-4 .ao-content ul li .row .bx textarea{ 
    border:1px solid rgb(210, 210, 210);
    background:rgb(255, 255, 255);
    margin-bottom:5px;
    max-width:300px;
    border-radius:0;
    font-size:14px;
    padding:7px;
    width:100%;}
.your-trip .col-4 .ao-content ul li .row .form-group p{ margin:0; }
.your-trip .col-4 .ao-content ul li .row .form-group p b{ color:rgb(16, 163, 193); }
.your-trip .col-4 .ao-content ul li .row .form-group .input-group{ width:150px; }
.your-trip .col-4 .ao-content ul li .row .form-group .input-group-addon{ border-radius:0; }
.your-trip .col-4 .ao-content ul li .row .form-group .text{ background:rgb(255, 255, 255); border-radius:0; border:none; height:100%; width:77px; }
.your-trip .col-4 .ao-content ul li .row .form-group .number-field{ height:34px; border:1px solid rgb(210, 210, 210); }

.popup-add-ons .fancybox-content{ max-width:700px; padding-left:25px; padding-right:25px; }
.popup-add-ons .fancybox-content h2{ margin-bottom:30px; margin-top:0; }
.popup-add-ons .fancybox-content figure{ width:100%; margin-bottom:15px; }
.popup-add-ons .fancybox-content figure img{ width:100%; }

.your-trip .col-4 .area-text{ float: left; font-weight: 600; width:100%; }
.your-trip .col-4 .area-text .input-group{ padding:10px 0 0; }
.your-trip .col-4 .area-text .input-group input{
    background-color:rgb(255, 255, 255);
    border:1px solid rgb(210, 210, 210);
    color:rgb(73, 73, 85);
    display:inline-block;
    padding:10px 7px;
    font-size:12px;
    width:100%;}
.your-trip .col-4 .notif-text{ padding:0; clear:both; display:block; }
.your-trip .col-4 .area-text .input-group-addon{ padding:10px 7px; border-radius:0; }

.your-trip .col-4 .select-opt-transport,
.your-trip .col-4 .select-opt-area,
.your-trip .col-4 .select-opt-hotel{ float:left; padding:10px 0 10px 10px; width:170px; }
.your-trip .col-4 .select-opt-area{ width:250px; }
.your-trip .col-4 .select-opt-hotel{ width:350px; }

.your-trip .col-4 .select-opt-transport select,
.your-trip .col-4 .select-opt-area select,
.your-trip .col-4 .select-opt-hotel select{
    -webkit-appearance: none;
    -moz-appearance: none;
        appearance: none;
            background: url('../images/select-arrows.svg') rgb(255, 255, 255);
            background-position: right center;
            background-repeat: no-repeat;
            background-size: auto auto;
            padding: 2px 25px 2px 10px;
            display: inline-block;
            border-radius: 2px;
            cursor: pointer;}

.your-trip .col-4 .select-opt-transport .select2-container,
.your-trip .col-4 .select-opt-area .select2-container,
.your-trip .col-4 .select-opt-hotel .select2-container{ width:100% !important; }

.your-trip .description-total {
    width: 100%;
    float: left;
    background-color: rgb(230, 238, 239);
}
.your-trip .description-total .message{ padding:10px; margin-top:5px; }
.your-trip .description-total .message ul{ margin:0; padding:0; list-style:none; }
.your-trip .description-total .message ul li{ margin-bottom:10px; }
.your-trip .description-total .message ul li:last-child{ margin-bottom:0; }
.your-trip .description-total .message ul li span{ margin-right:10px; }

.your-trip .description-total .total {
    width: 100%;
    padding: 20px 20px 15px 20px;
    float: left;
    border-bottom: 1px solid rgb(166, 166, 183);
}

.your-trip .description-total .total .text, .your-trip .description-total .total .text-total {
    float: left;
    text-align: right;
}

.your-trip .description-total .total .text {
    font-size: 16px;
    font-weight: 600;
    width: 75%;
    padding-top: 5px;
}

.your-trip .description-total .total .text-total {
    font-size: 24px;
    font-weight: 600;
    width: 25%;
}

.your-trip .promotion {
    float: left;
    width: 100%;
    padding: 15px 0px 15px 20px;
    border-bottom: 1px solid rgb(166, 166, 183);
}

.your-trip .promotion .text-promo, .your-trip .promotion .promo-code {
    display: inline-block;
    vertical-align: sub;
}

.your-trip .promotion .text-promo {
    width: 75%;
    text-align: right;
}

.your-trip .promotion .promo-code {
    float: right;
}

.your-trip .description-total .subtotal,
.your-trip .description-total .discount,
.your-trip .description-total .freelance-code{
    width: 100%;
    padding: 20px 20px 15px 20px;
    float: left;
    border-bottom: 1px solid rgb(166, 166, 183); }

.your-trip .description-total .subtotal .text, .your-trip .description-total .subtotal .text-total,
.your-trip .description-total .discount .text, .your-trip .description-total .discount .text-total,
.your-trip .description-total .freelance-code .text, .your-trip .description-total .freelance-code .text-total{
    float: left;
    text-align: right;}

.your-trip .description-total .subtotal .text,
.your-trip .description-total .discount .text,
.your-trip .description-total .freelance-code .text{
    font-size: 14px;
    font-weight: 400;
    width: 75%;
    padding-top: 5px;
}
.your-trip .description-total .freelance-code .text{ padding-top:0; }

.your-trip .description-total .subtotal .text-total,
.your-trip .description-total .discount .text-total,
.your-trip .description-total .freelance-code .text-total{
    font-size: 14px;
    font-weight: 400;
    width: 25%;
}
.your-trip .description-total .subtotal .text-total span,
.your-trip .description-total .discount .text-total span{ font-weight:600; }
.your-trip .description-total .discount .text-total small{ display:block; }
.your-trip .description-total .discount .text-total a{ color:rgb(16, 163, 193); cursor:pointer; font-size:13px; }

.your-trip .description-total .freelance-code .text-total span{ display:block; }
.your-trip .description-total .freelance-code .text-total a{ color:rgb(16, 163, 193); cursor:pointer; font-size:13px; }

.code {
    display: block;
    float: left;
    width: 170px;
    height: 28px;
    padding: 0 10px;
    background-color: rgb(242, 242, 242);
    font-size: 1.083em;
    line-height: 1.5;
    color: rgb(0, 0, 0);
    border-radius: 0;
    position: relative;
    left: 10px;
    border-radius: 2px;
    border: 1px solid #a6a6b7;
}

.apply {
    display: block;
    float: left;
    height: 28px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: rgb(73, 73, 85);
    font-size: 1em;
    line-height: 1.38;
    text-align: center;
    color: rgb(255, 255, 255);
    border: none;
    position: relative;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.your-trip .continue-reservation {
    background-color: rgb(230, 238, 239);
    float: left;
    width: 100%;
}

.cancel-request .btn-select {
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    width: 30%;
    padding-top: 8px;
    padding-bottom: 10px;
    border-radius: 3px;
    background-color: rgb(220, 91, 14);
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.container-form-select .select2-container .select2-selection--single{ height:36px; }
.container-form-select .select2-container--default .select2-selection--single .select2-selection__rendered{ line-height:36px; }
.container-form-select .select2-container--default .select2-selection--single{ border-color:rgb(210, 210, 210); border-radius:0; border-left-width:0; }
.container-form-select .select2-container--default .select2-selection--single .select2-selection__arrow{ height:36px; }
.container-form-select:first-child .select2-container--default .select2-selection--single{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-left-width:1px;}
.container-form-select:last-child .select2-container--default .select2-selection--single{
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;}
.container-form-select .select2-container{ width:100% !important; }

.container-select-choose .select2-container .select2-selection--single{ height:36px; }
.container-select-choose .select2-container--default .select2-selection--single .select2-selection__rendered{ line-height:36px; }
.container-select-choose .select2-container--default .select2-selection--single{ border-color:rgb(210, 210, 210); border-radius:0; }
.container-select-choose .select2-container--default .select2-selection--single .select2-selection__arrow{ height:36px; }

.your-details .select2-container{ display:block; width:100% !important; max-width:500px; }
.your-details .select2-selection--single{ height:36px; }
.your-details .select2-container--default .select2-selection--single .select2-selection__rendered{ line-height:36px; }
.your-details .select2-container--default .select2-selection--single{ border-color:rgb(210, 210, 210); border-radius:2px; }
.your-details .select2-container--default .select2-selection--single .select2-selection__arrow{ height:36px; }

.form-nicepay-cc{ background-color:rgb(255,255,255); padding:30px; margin:0 auto; text-align:left; width:500px; }
.form-nicepay-cc label{ text-align:center; display:block; }
.form-nicepay-cc .input-group .form-control{ font-size:16px; font-weight:400; line-height:1.5; color:rgb(73, 73, 85); border-radius:0; }
.form-nicepay-cc .input-group-addon{ border-radius:0; }
.form-nicepay-cc .col-lg-6 .form-group{ margin-bottom:0; }
.form-nicepay-cc .total{ text-align:center; font-weight:bold; font-size:30px !important; }
.form-nicepay-cc .btn-submit{
    background-color:rgb(220, 91, 14);
    color:rgb(255, 255, 255);
    padding-bottom:10px;
    border-radius:3px;
    text-align:center;
    padding-top:10px;
    margin-top:20px;
    font-weight:600;
    line-height:1.5;
    font-size:16px;
    display:block;
    border:none;
    width:100%;}

.form-nicepay-transfer{ background-color:rgb(255,255,255); padding:30px; margin:0 auto; text-align:left; }
.form-nicepay-transfer label{ text-align:center; display:block; }
.form-nicepay-transfer .total{ text-align:center; font-weight:bold; font-size:30px; }
.form-nicepay-transfer .form-group:last-child{ margin-bottom:0; }
.form-nicepay-transfer input{ width:200px; margin:0 auto; display:block; border:1px solid rgb(210, 210, 210); height:36px; border-radius:2px; padding:0 10px; }
.form-nicepay-transfer .btn-submit{
    background-color:rgb(220, 91, 14);
    color:rgb(255, 255, 255);
    padding-bottom:10px;
    border-radius:3px;
    text-align:center;
    padding-top:10px;
    margin-top:20px;
    font-weight:600;
    line-height:1.5;
    font-size:16px;
    display:block;
    border:none;
    width:100%;}
.form-nicepay-transfer .select2-container{ width:100% !important; }
.form-nicepay-transfer .select2-container .select2-selection--single{ height:36px; }
.form-nicepay-transfer .select2-container--default .select2-selection--single .select2-selection__rendered{ line-height:36px; }
.form-nicepay-transfer .select2-container--default .select2-selection--single{ border-color:rgb(210, 210, 210); border-radius:0; }
.form-nicepay-transfer .select2-container--default .select2-selection--single .select2-selection__arrow{ height:36px; }

.ui.icon.message > .content .header{ background-image:none; height:auto; }
.ui.dividing.header{ background-image:none; height:auto; padding-bottom:10px; margin-bottom:15px; }
.ui.segment{ box-shadow:none; border-radius:0; border:1px solid rgb(198, 216, 220); margin-top:30px !important; }
.ui.segment:last-child{ margin-bottom:30px; }
.ui.teal.table{ border-top-color:#10A3C1; border-radius:0; }
.ui.card, .ui.cards > .card, .ui.message{ box-shadow:none; border:1px solid rgb(198, 216, 220); border-radius:0; }

.thank-you header{ background:none !important; }
.thank-you header .title{ margin-top:0; }
.thank-you .btn-default {
  font-size: 14px;
  display: inline-block;
  text-transform: uppercase;
  color: rgba(34, 34, 34, 0.5);
  font-family: 'Opensans', sans-serif;
  border: 2px solid rgba(34, 34, 34, 0.3);
  padding: 11px 15px;
  background: none;
  text-decoration: none;
  line-height: 17px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.thank-you .btn-default.active {
  color: #393249;
  background: none;
  border-color: #393249;
}
.thank-you .btn-default.active:hover {
  color: #ffffff;
  background-color: #393249;
  border-color: #393249;
}
.thank-you .btn-default.white {
  color: #ffffff;
  background: none;
  border-color: #ffffff;
}
.thank-you .btn-default.white:hover {
  color: #222222;
  background-color: #ffffff;
  border-color: #ffffff;
}
.thank-you .btn-default:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #222222;
  border-color: #222222;
}
.thank-you .btn-default:focus {
  text-decoration: none;
}
form.mailchimp-form{
  background-color:rgba(6, 6, 6, 0.87);
  justify-content:center;
  align-items:center;
  position:fixed;
  display:flex;
  height:100%;
  width:100%;
  z-index:9;
  right:0;
  left:0;
  top:0;}
form.mailchimp-form .form-content{
  padding:0px 0px 25px 0px;
  background-color:white;
  justify-content:center;
  align-items:center;
  position:relative;
  display:flex;
  height:auto;
  width:auto;}
form.mailchimp-form .foverlay{
  background:rgba(255, 255, 255, 0.8);
  text-align:center;
  position:absolute;
  display:none;
  height:100%;
  width:100%;
  left:0;
  top:0;}
form.mailchimp-form .foverlay img{ position:absolute; top:60%; left:50%; margin-left:-25px; margin-top:-25px; }
form.mailchimp-form img{ max-width:500px; }
form.mailchimp-form .form-content .start-input{ display:flex; flex-direction:column; }
form.mailchimp-form .form-content .start-input p{ margin:0px; color:black; font-size:21px; font-weight:900; }
form.mailchimp-form .form-content .start-input t{ color:rgb(35, 34, 126); font-size:12px; padding:0px 15px; font-weight:600; }
form.mailchimp-form .form-content .start-input input{ 
  border:1px solid rgb(210, 210, 210);
  color:rgb(73, 73, 85);
  margin:5px 15px 10px;
  border-radius:2px;
  font-weight:400;
  line-height:1.5;
  font-size:16px;
  padding:0 10px;
  height:36px;}
button.submit-mailchimp{
  background-color:rgb(220, 91, 14);
  margin:10px 15px 0;
  text-align:center;
  font-weight:600;
  display:block;
  padding:10px;
  color:white;
  border:none;
  width:25%;}
form.mailchimp-form .form-content .start-input .description{ padding:15px; }
form.mailchimp-form .close-small{
  background-image:url(../images/close.svg);
  background-color:rgb(39, 38, 94);
  background-repeat:no-repeat;
  background-position:center;
  background-size:16px 16px;
  position:absolute;
  border-radius:50%;
  height:25px;
  right:-10px;
  border:none;
  width:25px;
  top:-10px;}
.popup-mailchimp{
 top:50%!important;
 left:50%!important;
transform: translate(-50%,-50%);
}
.popup-mailchimp .ui-dialog-content{
    display:flex;
    flex-direction:column;
    text-align:center;
    padding-bottom: 75px;
}
.popup-mailchimp .title-status{
    color:#27265E;
    font-size:25px;
    padding-bottom:25px;
}
.popup-mailchimp .title-status-sorry{
    color:#D7152B;
    font-size:25px;
    padding-bottom:25px;
}
.popup-mailchimp .image-icon{
    width: 100px;
    height: 150px;
    margin-top: 25px;
    margin-bottom: 45px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.route-custom.r-0{ 
    color: white;
    background-color: #0094a0;
    width: 90%;
}
.routes ul li.route-custom{ 
    color: white;
    background-color: #0094a0;
    width: 90%;
    /*border:1px solid #0094a0;*/
    display: flex;
    justify-content: space-between;
    padding-right: 18px;
        text-align: center;
    flex-direction: column;
}

li.different.r-0{
    display:none;
}
li.different{
    margin: 7px 0px;
    display: flex;
    /* text-align: center; */
    /* align-content: center; */
    /* justify-content: center; */
    width: 90%;
    margin-left: 50%;
    transform: translateX(-50%);
}
li.different.packages{
    justify-content: center;
    margin-left: 45%;
    padding: 0;
}
.routes ul li.route-custom.lbl-arrival{
    border:1px solid white;
        color:#0094a0;
    background-color:white;
    border:1px solid #0094a0 ;
    flex-direction: row;
}
.routes ul li.route-custom.lbl-departure{
    color:#0094a0;
    background-color:white;
    border:1px solid #0094a0 ;
    flex-direction: row;
}
li.lbl-departure.r-0{
    border-bottom:1px solid white;
}
span.arrow-down{
    display: block;
    width: 29px;
    /* height: 146px; */
    background: url(../images/downloading.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.add-ons-list{
    padding-left: 10px; 
    margin:0;
}
.add-destination{
    background-color:rgba(159, 159, 173, 0.95);
    width:200px; 
    float: left; 
}
.destination-list .row{
    margin-bottom: 10px;
}
.destination-list .row:last-child{
    margin-bottom: 0;
}
.nav-tabs.nav-justified > li > a.checkin-pass{
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding: 15px 15px 0;
    text-align: center;
}
.form-checkin{
    max-width: 500px;
    margin: 0 auto;
}
.form-checkin p{
    text-align:center;
    margin-bottom: 20px;
}
.form-checkin .barcode-field{
    justify-content: space-between;
    display: flex;
    width: 100%;
}
.form-checkin input{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 0;
    padding:7px 10px;
    height: auto;
    width: 80%;
}
.form-checkin button{
    background-color:rgb(220, 91, 14);
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    text-transform: uppercase;
    text-align:center;
    font-weight:600;
    display:block;
    padding:7px;
    color:white;
    border:none;
    width: 20%;
}
.form-checkin .reset{
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
    color: #23227e;
}
.checkin-places-form p{
    color: rgb(35, 34, 126);
    font-weight: 600;
    font-size: 12px;
    width: 100%;
}
.checkin-places-form .col{
    padding-top: 20px;
}
.checkin-places-form .row-passenger{
    padding: 0;
    margin: 0;
}
.checkin-places-form .row-passenger li{
    justify-content: space-between;
    border-top: 1px solid #ddd;
    align-items: center;
    padding: 7px 0;
    display: flex;
    width: 100%;
}
.checkin-places-form .row-passenger li:last-child{
    border-bottom: 1px solid #ddd;
}
.checkin-button{
    background-color:rgb(220, 91, 14);
    text-transform: uppercase;
    margin: 30px auto 0;
    border-radius: 3px;
    text-align:center;
    padding:7px 20px;
    font-weight:600;
    display:block;
    color:white;
    border:none;
}
.checkin-passenger{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
}
.checkin-passenger .container-form-search-first{
    position: relative;
    bottom: auto;
    height: auto;
    top: auto;
}
.checkin-passenger .message,
.checkin-passenger .mess{
    margin-top: 15px;
    padding: 10px;
}
.checkin-passenger .message ul,
.checkin-passenger .mess ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.checkin-passenger .message li,
.checkin-passenger .mess li{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
}
.checkin-passenger .message span,
.checkin-passenger .mess span{
    margin-right: 10px;
    top: auto;
}
.loading-process{
    position: relative;
}
.height-auto{
    background-color: rgb(230, 238, 239);
    height: auto;
}
.height-auto .form-area{
    border: 1px solid rgb(198, 216, 220);
    margin: 40px 0;
    padding: 0;
}
.height-auto .reservation-detail{
    padding: 20px 0 0;
    border-bottom: 0;
}
.height-auto .trip-detail .row-trips{
    background-color: rgb(245, 245, 245);
}
.height-auto .trip-detail .title{
    padding: 10px 0;
}
.height-auto .row-details{
    border-top: 1px solid rgb(198, 216, 220);
}
.height-auto .col-border{
    border-bottom: 1px solid rgb(198, 216, 220);
}
.height-auto .col-booked{
    padding: 15px 0;
}
.height-auto .col-booked p{
    margin-bottom: 0;
    margin-top: 10px;
}
.height-auto .col-booked p.title{
    margin-top: 0;
}
.height-auto .col-booked .form-group{
    margin-bottom: 0;
    margin-top: 10px;
}
.height-auto .col-booked .form-group input,
.height-auto .col-booked .form-group .select2-container{
    width: 100% !important;
}
.height-auto .col-booked .form-group input:disabled{
    background-color: #f5f5f5;
}
.height-auto .ctitle{
    color:rgb(16, 163, 193);
    font-weight: 700;
    line-height: 1.4;
    font-size: 12px;
    width: 100%;
}
.height-auto .trip-detail{
    padding-bottom: 15px;
}
.height-auto .trip-list{
    border: 1px solid rgb(198, 216, 220);
    margin: 15px 0 0;
}
.height-auto .trip-list .short-text{
    border: 0;
    border-bottom: 1px solid rgb(198, 216, 220);
    margin-top: 0;
}
.height-auto .trip-list .box{
    padding: 10px 0;
}
.height-auto .trip-list .col-list{
    border-bottom: 1px solid rgb(198, 216, 220);
}
.height-auto .trip-list .col-list p.ctitle{
    margin-top: 0;
}
.height-auto .trip-list .col-list p{
    margin-bottom: 0;
    margin-top: 5px;
}
.height-auto .trip-list .col-blue{
    background-color: rgb(230, 238, 239);
}
.height-auto .trip-list .flex{
    display:flex; 
    flex-wrap: wrap; 
    width:100%;
}
.height-auto .trip-list .flex:nth-child(odd){
    background-color: rgb(245, 245, 245);
}
.height-auto .trip-list input,
.height-auto .trip-list .select2-container{
    width: 100% !important;
}
.height-auto .trip-list .select2-container .select2-selection--single {
    height: 34px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15) inset;
}
.height-auto .trip-list .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 34px;
}
.height-auto .trip-list .select2-container--default .select2-selection--single {
    border-color: rgb(166, 166, 183);
    border-radius: 2px;
}
.height-auto .trip-list .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 34px;
}
.height-auto .trip-list .form-group{
    margin-bottom: 0;
    margin-top: 5px;
}
.height-auto .btn-control{
    margin: 0 0 20px;
    float: right;
}
.height-auto .message{
    margin-top: 15px;
}
.height-auto .message ul{
    list-style: none;
    padding: 10px 15px;
    margin: 0;
}
.height-auto .message ul span{
    margin-right: 10px;
}
