<!-- BEGIN report-block -->

<table width="100%" border="1">
	<tr>
		<td colspan="3">Outstanding Payment List</td>
	</tr>
	<tr>
		<td>Print Date</td>
		<td>{print_date}</td>
		<td></td>
	</tr>
	<tr>
		<td>Agent Name</td>
		<td>Email</td>
		<td>Outstanding</td>
	</tr>

	<!-- BEGIN report-loop-block -->

	<tr>
		<td>{agname}</td>
		<td>{agemail}</td>
		<td>{outstanding}</td>
	</tr>

	<!-- END report-loop-block -->

	<tr>
		<td colspan="2">Outstanding Total</td>
		<td>{total_outstanding}</td>
	</tr>
</table>

<!-- END report-block -->