<!-- BEGIN report-block -->

<table width="100%" border="1">
    <tr>
        <td>Booking#</td>
        <td>Booking Date</td>
        <td>Code Agent</td>
        <td>Guest Name</td>
        <td>Pax</td>
        <td>Adult</td>
        <td>Child</td>
        <td>Infant</td>
        <td>Booking Source</td>
        <td>Booked By</td>
        <td>Phone</td>
        <td>Email</td>
        <td>Travel Date</td>
        <td>Route</td>
        <td>ETD</td>
        <td>ETA</td>
        <td>Transport</td>
        <td>Rsv. Status</td>
        <td>Total</td>
        <td>Payment Status</td>
    </tr>

    <!-- BEGIN report-loop-block -->

    <tr>
        <td>{no_ticket}</td>
        <td>{rev_date}</td>
        <td>{ref_agent}</td>
        <td>{guest_name}</td>
        <td>{gpax}</td>
        <td>{gadult}</td>
        <td>{gchild}</td>
        <td>{ginfant}</td>
        <td>{chanel}</td>
        <td>{booked_by}</td>
        <td>{phone}</td>
        <td>{bbemail}</td>
        <td>{dept_date}</td>
        <td>{route}</td>
        <td>{dept_time}</td>
        <td>{arrive_time}</td>
        <td>{transport}</td>
        <td>{rsv_status}</td>
        <td>{btotal}</td>
        <td>{status}</td>
    </tr>

    <!-- END report-loop-block -->
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Total</td>
        <td>{pax}</td>
        <td>{adult}</td>
        <td>{child}</td>
        <td>{infant}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>';
</table>

<!-- END report-block -->