<!-- BEGIN report-block -->

<table width="100%" border="1">
	<tr>
		<td>Total Amount</td>
		<td></td>
		<td></td>
		<td></td>
	    <td></td>
	    <td></td>
		<td></td>
		<td></td>
	    <td>{tbooking} Booking</td>
		<td>{total} Pax | (100%)</td>
	</tr>

	<!-- BEGIN report-loop-block -->

	<tr>
		<td>Category : {category}</td>
		<td></td>
		<td></td>
		<td></td>
	    <td></td>
	    <td></td>
		<td></td>
		<td></td>
	    <td>{ctbooking}</td>
		<td>{ctpax} ({percent}%)</td>
	</tr>

	{rev_data}

	<!-- END report-loop-block -->

</table>

<!-- END report-block -->