<!-- BEGIN report-block -->

<table width="100%" border="1">
	<tr>
		<td>Total Amount</td>
		<td>{booking} booking</td>
		<td>{total}</td>
		<td>100%</td>
	</tr>

	<!-- BEGIN report-loop-block -->

	<tr>
		<td>{rev_date}</td>
		<td>{total_booking_by_date} booking</td>
		<td>{total_revenue_by_date}</td>
		<td>{total_percent_revenue_by_date}%</td>
	</tr>

	{rev_data}

	<!-- END report-loop-block -->

</table>

<!-- END report-block -->