<!-- BEGIN report-block -->

<table width="100%" border="1">
	<tr>
		<td>Total Amount</td>
		<td></td>
		<td></td>
	    <td></td>
	    <td></td>
		<td>{total}</td>
	</tr>

	<!-- BEGIN report-loop-block -->

	<tr>
		<td>{trip_location}</td>
		<td></td>
		<td></td>
	    <td></td>
	    <td></td>
		<td>{total_by_location}</td>
	</tr>

	{trip_data}

	<!-- END report-loop-block -->

</table>

<!-- END report-block -->