<!-- BEGIN report-block -->

<table width="100%" border="1">
	<tr>
		<td>Total Average</td>
		<td>{total}</td>
	</tr>

	<!-- BEGIN report-loop-block -->

	<tr>
		<td>Year : {rates_year}</td>
		<td>{average}</td>
	</tr>

	{rates_data}

	<!-- END report-loop-block -->

</table>

<!-- END report-block -->