<!-- BEGIN report-block -->

<table width="100%" border="1">
	<tr>
		<td>Total Amount</td>
		<td>Total Pax : {total_pax}</td>
		<td></td>
		<td></td>
	    <td></td>
		<td>{total} (100%)</td>
	</tr>

	<!-- BEGIN report-loop-block -->

	<tr>
		<td>Rev. date : {rev_date}</td>
		<td></td>
		<td></td>
		<td></td>
	    <td></td>
		<td>{total_rev} ({total_rev_percent}%)</td>
	</tr>

	{rev_data}

	<!-- END report-loop-block -->

</table>

<!-- END report-block -->