<!-- BEGIN report-block -->

<table width="100%" border="1">
	<tr>
		<td>Total Amount</td>
		<td>{total} (100%)</td>
	</tr>

	<!-- BEGIN report-loop-block -->

	<tr>
		<td>{rev_month}</td>
		<td>{total_by_booking_month} ({total_percent_by_booking_month}%)</td>
	</tr>

	{rev_data}

	<!-- END report-loop-block -->

</table>

<!-- END report-block -->