<!-- BEGIN report-block -->

<table width="100%" border="1">
    <tr>
        <td>Booking Source</td>
        <td>{booking_source}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Promo Code</td>
        <td>{promo_code}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Payment Status</td>
        <td>{payment_status}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Base date</td>
        <td>{base_on} {period}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Total Used</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{total} (100%)</td>
    </tr>

    <!-- BEGIN report-loop-block -->

    <tr>
        <td>{code}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{total_by_code} ({total_by_code_prc}%)</td>
    </tr>
    <tr>
        <td>Date</td>
        <td>Booking Ticket</td>
        <td>Booking Source</td>
        <td>Travel Date</td>
        <td>Route</td>
        <td>Commission (IDR)</td>
        <td>Discount (IDR)</td>
    </tr>

    {list}

    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Total</td>
        <td>{total_sum_com_by_code}</td>
        <td>{total_sum_by_code}</td>
    </tr>

    <!-- END report-loop-block -->

</table>

<!-- END report-block -->

<!-- BEGIN report-agent-block -->

<table width="100%" border="1">
    <tr>
        <td>Booking Source</td>
        <td>{booking_source}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Promo Code</td>
        <td>{promo_code}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Payment Status</td>
        <td>{payment_status}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Base date</td>
        <td>{base_on} {period}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Total Used</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{total} (100%)</td>
    </tr>

    <!-- BEGIN report-agent-loop-block -->

    <tr>
        <td>{code}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{total_by_code} ({total_by_code_prc}%)</td>
    </tr>
    <tr>
        <td>Date</td>
        <td>Booking Ticket</td>
        <td>Booking Source</td>
        <td>Travel Date</td>
        <td>Route</td>
        <td>Commission (IDR)</td>
    </tr>

    {list}

    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Total</td>
        <td>{total_sum_com_by_code}</td>
    </tr>

    <!-- END report-agent-loop-block -->

</table>

<!-- END report-agent-block -->