<!-- BEGIN report-block -->

<table width="100%" border="0">
    <tr>
        <td>Date</td>
        <td></td>
        <td></td>
        <td></td>
        <td>Route</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>{date}</td>
        <td></td>
        <td></td>
        <td></td>
        <td>{rname}</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Port</td>
        <td>Trip</td>
        <td></td>
        <td></td>
        <td>Boat</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>{port}</td>
        <td>{trip}</td>
        <td></td>
        <td></td>
        <td>{boat}</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Captain</td>
        <td>KKM</td>
        <td></td>
        <td></td>
        <td>Crew</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>{captain}</td>
        <td>{kkm}</td>
        <td></td>
        <td></td>
        <td>{crew}</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="7"></td>
    </tr>
    <tr>
        <td colspan="7">Guest</td>
    </tr>
    <tr>
        <td>Guest Name</td>
        <td>Adult</td>
        <td>Child</td>
        <td>Infant</td>
        <td>Nat</td>
        <td>Gen</td>
        <td>Age</td>
    </tr>
    {detail}
</table>

<!-- END report-block -->