<!-- BEGIN report-block -->

<table width="100%" border="1">

   	<!-- BEGIN report-loop -->
   	{data_tbl_variance_and_percent}

	{data_tbl_prev_sum}

	<tr>
		<td>No</td>
		<td>Code</td>
		<td>Account</td>
		<td>{year}</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		{data_sp_column}
		<td></td>
		<td></td>
		<td></td>
	</tr>

	{data_tbl_sum}

	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td>Jan</td>
		<td>Feb</td>
		<td>Mar</td>
		<td>Apr</td>
		<td>May</td>
		<td>Jun</td>
		<td>Jul</td>
		<td>Aug</td>
		<td>Sep</td>
		<td>Okt</td>
		<td>Nov</td>
		<td>Dec</td>
		<td>Total</td>
		<td>{head_filter}</td>
		<td>Booking Method</td>
		<td>Payment Method</td>
		<td>Promo Code</td>
	</tr>

	{data_tbl}
   	<!-- END report-loop -->

</table>

<!-- END report-block -->