<!-- BEGIN report-block -->

<link rel="stylesheet" type="text/css" href="{style}">
<div class="reservation-addons-block wrapper">
	<div class="content">
		<div class="row-item">
			<ul>

				<!-- BEGIN report-loop-block -->

				<li>
                    <div class="r-head clearfix">                                
                        <div class="col-md-6">
                            <p>Trip : {travel_date}</p>
                        </div>
                        <div class="col-md-6">
                            <p class="text-right medium-bold"></p>
                        </div>
                    </div>
                    <div class="r-content">
                        {data}
                    </div>
                </li>

				<!-- END report-loop-block -->

            </ul>
        </div>
        <div class="row-total-bottom clearfix" style="padding:7px 0 7px 15px;">
            <div class="col-md-6" style="width:100px;">
                <h3>Total</h3>
            </div>
            <div class="col-md-6" style="width:432px;">
                <p class="bold text-right">{total_pax}</p>
            </div>
            <div class="col-md-6" style="width:218px;">
                <p class="bold text-right">{total}</p>
            </div>
        </div>
	</div>
</div>

<!-- END report-block -->