<!-- BEGIN report-block -->

<link rel="stylesheet" type="text/css" href="{style}">
<div class="reservation-addons-block wrapper">
	<div class="content">
		<div class="row-total clearfix">
			<div class="col-md-6">
				<h3>Total Addons</h3>
			</div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <p class="bold text-right">Total Qty : {total_pax}</p>
                    </div>
                    <div class="col-md-6">
                        <p class="bold text-right">{total} (100%)</p>
                    </div>
                </div>
            </div>
		</div>
		<div class="row-item">
			<ul>

				<!-- BEGIN report-loop-block -->

				<li>
                    <div class="r-head clearfix">                                
                        <div class="col-md-6">
                            <p>{travel_date}</p>
                        </div>
                        <div class="col-md-6">
                            <p class="text-right medium-bold">
                            	{total} ({total__percent}%)
                            </p>
                        </div>
                    </div>
                    <div class="r-content">
                        {data}
                    </div>
                </li>

				<!-- END report-loop-block -->

            </ul>
        </div>
	</div>
</div>

<!-- END report-block -->