<!-- BEGIN report-block -->

<link rel="stylesheet" type="text/css" href="{style}">
<div class="port-clearance-block">
	<div class="trip-detail">
		<div class="row row-border clearfix">
			<div class="col-md-6">
				<p class="small-title">Date</p>
				<strong class="strong-text">{date}</strong>
			</div>
			<div class="col-md-6 text-right">
				<p class="small-title">Route</p>
				<strong class="strong-text">{rname}</strong>
			</div>
		</div>
		<div class="row sr-only">
			<div class="col-md-4 col-box">
				<p class="small-title">Port</p>
				<strong class="strong-text">{port}</strong>
			</div>
			<div class="col-md-4">
				<p class="small-title">Trip</p>
				<strong class="strong-text">{trip}</strong>
			</div>
		</div>
		<div class="row row-last clearfix">
			<div class="col-md-3 col-box">
				<div class="form-block">
					<p class="small-title">Boat</p>
					<strong class="strong-text">{boat}</strong>
				</div>
			</div>
			<div class="col-md-3 col-box">
				<div class="form-block">
					<p class="small-title">Captain</p>
					<strong class="strong-text">{captain}</strong>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-block">
					<p class="small-title">KKM</p>
					<strong class="strong-text">{kkm}</strong>
				</div>
			</div>
			<div class="col-md-3 col-box">
				<div class="form-block">
					<p class="small-title">Crew</p>
					<strong class="strong-text">{crew}</strong>
				</div>
			</div>
		</div>
	</div>

	<div class="trip-guest-list">
		<h2>Guest</h2>

        <div class="table-block">
            <table id="guest-table" class="table" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th align="left">No</th>
                        <th align="left">Name</th>
                        <th align="center">Adult</th>
                        <th align="center">Child</th>
                        <th align="center">Infant</th>
                        <th align="left">Nat</th>
                        <th align="left">Gen</th>
                        <th align="right">Age</th>
                    </tr>
                </thead>
                <tbody>
					{detail}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- END report-block -->