<!-- BEGIN report-block -->

<link rel="stylesheet" type="text/css" href="{style}">
<div class="port-clearance-block">
    <div class="trip-detail">
        <div class="row row-border">
            <div class="col-md-6">
                <p class="small-title">Date</p>
                <strong class="strong-text">{date}</strong>
            </div>
            <div class="col-md-6 text-right">
                <p class="small-title">Departure</p>
                <strong class="strong-text">{location} ({time})</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-box">
                <p class="small-title">Choose Vehicle</p>
                <strong class="strong-text">{vehicle}</strong>
            </div>
            <div class="col-md-4">
                <p class="small-title">Passenger</p>
                <strong class="strong-text">{passenger}/{capacity}</strong>
            </div>
            <div class="col-md-4 col-box">
                <p class="small-title">Status</p>
                <strong class="strong-text">{status}</strong>
            </div>
        </div>
        <div class="row row-last">
            <div class="col-md-4 col-box">
                <div class="form-block">
                    <p class="small-title">Choose Driver</p>
                    <strong class="strong-text">{driver}</strong>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-block">
                    <p class="small-title">Transport Type</p>
                    <strong class="strong-text">{transport_type} Transport</strong>
                </div>
            </div>
            <div class="col-md-4 col-box" {driver_type_style}>
                <div class="form-block">
                    <p class="small-title">Driver Fee</p>
                    <strong class="strong-text">{fee_format}</strong>
                </div>
            </div>
        </div>
	</div>

    <div class="trip-guest-list">
        <h2>Guest</h2>

        <div class="table-block">
            <table id="guest-table" class="table" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <!--<th align="left" width="20%">Booked By</th>-->
                        <th align="left" width="20%">Guest Name</th>
                        <th align="left" width="20%">Pax</th>
                        <th align="left" width="10%">Pickup</th>
                        <th align="left" width="30%">Address</th>
                        <th align="left" width="15%">Hotel Phone</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- BEGIN report-loop-block -->
                    <tr>
                        <!--<td align="left" valign="top">{bbname}</td>-->
                        <td align="left" valign="top">{gname}</td>
                        <td align="left" valign="top">{guest_num}</td>
                        <td align="left" valign="top">{area}</td>
                        <td align="left" valign="top">{address}</td>
                        <td align="left" valign="top">{phone}</td>
                    </tr>
                    <!-- END report-loop-block -->
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- END report-block -->