<!-- BEGIN report-block -->

<link rel="stylesheet" type="text/css" href="{style}">
<div id="agent-invoice-summary" class="agent-invoice-summary-wrapper wrapper">
    <div class="header">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="boxs">
                    <p><b>BlueWater Express</b></p>
                    <p>
                        Jl. Tukad Punggawa, Banjar Ponjok, Kelurahan Serangan<br/>
                        Denpasar Selatan - 80229, Bali - Indonesia<br/>
                        Telp. +62 (361) 8951111/12 | Mobile +62 813-3963-8640<br/>
                        ar@bluewater-express.com | www.bluewater-express.com
                    </p>
                </div>
                <div class="boxs">
                    <img src="{admurl}/themes/{themes}/images/logo.png" style="width:119px; float:right; margin-top:50px;" alt="Blue Water Express" />
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <h1>Open Invoices & Orders Summary</h1>
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-6">
                    <strong>Bill To:</strong>
                    <p><strong>{agname}</strong><br/>{agaddress}<br/>Phone: {agphone}</p>
                </div>                
                <div class="push-right">
                    <strong>Date Summary:</strong>
                    <p>From: {from_date}<br/>To: {until_date}<br/>Print date: {print_date}</p>
                </div>
            </div>            
            <div class="row">
                <div class="col-md-12">
                    <table>
                        <thead>
                            <tr>
                                <th width="100">Date/Trv Date</th>
                                <th>Invoice#</th>
                                <th>Cust. Ref. PO</th>
                                <th width="200">Guest Name</th>
                                <th align="right">Amount</th>
                                <th align="right">Amount Due</th>
                                <th align="left" width="100">Due Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- BEGIN report-loop-block -->
                            <tr>
                                <td valign="top">{tdate}</td>
                                <td valign="top">{bticket}</td>
                                <td valign="top">{bbrevagent}</td>
                                <td valign="top">{atgname}</td>
                                <td valign="top" align="right">{atdebet}</td>
                                <td valign="top" align="right">{atdebdue}</td>
                                <td valign="top" align="left">{due}</td>
                            </tr>
                            <!-- END report-loop-block -->

                            <tr style="background:rgb(245, 245, 245);">
                                <td colspan="4" align="right"><b>Total :</b></td>
                                <td align="right"><b>{total}</b></td>
                                <td align="right"><b>{total_due}</b></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END report-block -->