<!-- BEGIN report-block -->

<link rel="stylesheet" type="text/css" href="{style}">
<div class="wrapper">
	<div class="content">
		<div class="row-total">
			<div class="col-md-6">
				<h3>Total Amount</h3>
			</div>
			<div class="col-md-6">
				<p class="bold text-right">{total}</p>
			</div>
		</div>
		<div class="row-item">
			<ul>

				<!-- BEGIN report-loop-block -->

				<li>
                    <div class="r-head clearfix">                                
                        <div class="col-md-6">
                            <p>{rates_year}</p>
                        </div>
                        <div class="col-md-6">
                            <p class="text-right medium-bold">
                            	{average}
                            </p>
                        </div>
                    </div>
                    <div class="r-content">
                        <div class="table-block">
                            <div class="table">
                                <div class="t-content">
                                    {rates_data}
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

				<!-- END report-loop-block -->

            </ul>
        </div>
	</div>
</div>

<!-- END report-block -->