<!-- BEGIN report-block -->

<link rel="stylesheet" type="text/css" href="{style}">
<div class="wrapper">
	<div class="content">
        <div class="hs-sales-sum hs-sales-sum-pdf">
    		<div class="row-total clearfix">
    			<div class="col-md-6">
    				<h3>Total Amount</h3>
    			</div>
    			<div class="col-md-6">
    				<p class="bold text-right">{total} (100%)</p>
    			</div>
    		</div>
    		<div class="row-item">
    			<ul>

    				<!-- BEGIN report-loop-block -->

    				<li>
                        <div class="r-head clearfix">                                
                            <div class="col-md-6">
                                <p>{rev_month}</p>
                            </div>
                            <div class="col-md-6">
                                <p class="text-right medium-bold">
                                	{total_by_booking_month} ({total_percent_by_booking_month}%)
                                </p>
                            </div>
                        </div>
                        <div class="r-content">
                            {rev_data}
                        </div>
                    </li>

    				<!-- END report-loop-block -->

                </ul>
            </div>
        </div>
	</div>
</div>

<!-- END report-block -->