<!-- BEGIN report-block -->

<link rel="stylesheet" type="text/css" href="{style}">
<div class="reservation-block wrapper">
	<div class="content">
		<div class="row-total">
			<div class="col-md-6">
                <h3>Total Amount</h3>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">                                    
                        <p class="bold text-right">{tbooking} Booking</p>
                    </div>
                    <div class="col-md-2">
                        <p class="bold text-right">{total} Pax | 100%</p>
                    </div>
                </div>
            </div>
		</div>
		<div class="row-item">
			<ul>

				<!-- BEGIN report-loop-block -->

				<li>
                    <div class="r-head clearfix">                                
                        <div class="col-md-6">
                            <p>{category}</p>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">                                    
                                    <p class="bold text-right">{ctbooking} Booking</p>
                                </div>
                                <div class="col-md-2">
                                    <p class="bold text-right">{ctpax} Pax | {percent}%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="r-content">
                        {rev_data}
                    </div>
                </li>

				<!-- END report-loop-block -->

            </ul>
        </div>
	</div>
</div>

<!-- END report-block -->