<!-- BEGIN report-block -->

<link rel="stylesheet" type="text/css" href="{style}">
<div class="wrapper" style="padding-top: 1px;">
    <div class="content">
        <div class="row-total">
            <div class="col-md-6">
                <h3>Total Amount</h3>
            </div>
            <div class="col-md-6">
                <p class="bold text-right">{total} / {booking} booking (100%)</p>
            </div>
        </div>
        <div class="row-item">
            <ul>

                <!-- BEGIN report-loop-block -->

                <li>
                    <div class="r-head clearfix"> 
                        <div class="col-md-6">
                            <p>{rev_date}</p>
                        </div>
                        <div class="col-md-6">
                            <p class="text-right medium-bold">
                                {total_revenue_by_date} / {total_booking_by_date} booking ({total_percent_revenue_by_date}%)
                            </p>
                        </div>
                    </div>
                    <div class="r-content">
                        {rev_data}
                    </div>
                </li>

                <!-- END report-loop-block -->

            </ul>
        </div>
    </div>
</div>

<!-- END report-block -->