<!-- BEGIN report-block -->

<link rel="stylesheet" type="text/css" href="{style}">
<div class="wrapper">
    <div class="content">

        <div class="passanger-list">

            <!-- BEGIN report-loop-block -->

            <div class="row">
                <div class="col-md-1">
                    <p><b>Date</b></p>
                </div>
                <div class="col-md-6">
                    <p><b>: {bddate}</b></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <p><b>Boat</b></p>
                </div>
                <div class="col-md-6">
                    <p><b>: {bocode}</b></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <p><b>Trip Type</b></p>
                </div>
                <div class="col-md-6">
                    <p><b>: {btype}</b></p>
                </div>
            </div>

            <div class="rs-table">
                <table class="table table-striped" cellspacing="0" width="100%">
                    <tr>
                        <th rowspan="2" width="20">No</th>
                        <th rowspan="2" width="150">Guest Name</th>
                        <th colspan="3" align="center">Pax #</th>
                        <th rowspan="2">NAT</th>
                        <th rowspan="2" width="100">Booking Source</th>
                        <th rowspan="2" width="80">Next Trips</th>
                        <th rowspan="2" width="80">Payment</th>
                        <th rowspan="2" width="100">Destination</th>
                        <th rowspan="2" width="100">Pickup/Drop-off</th>
                    </tr>
                    <tr>
                        <th align="right" width="10">ADL</th>
                        <th align="right" width="10">CHL</th>
                        <th align="right" width="10">INF</th>
                    </tr>

                    {bitems}
                </table>
            </div>

            <!-- END report-loop-block -->

        </div>
	</div>
</div>

<!-- END report-block -->