<!-- BEGIN report-block -->

<link rel="stylesheet" type="text/css" href="{style}">
<div class="wrapper">
    <div class="content">
        <div class="daily-report">
            <div style="{daily_css}">
                <div class="row">
                    <div class="col-md-1">
                        <p><b>Trip date</b></p>
                    </div>
                    <div class="col-md-6">
                        <p><b>: {date_from}</b></p>
                    </div>
                </div>
            </div>
            <div style="{range_css}">
                <div class="row">
                    <div class="col-md-1">
                        <p><b>From date</b></p>
                    </div>
                    <div class="col-md-6">
                        <p><b>: {date_from}</b></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <p><b>To date</b></p>
                    </div>
                    <div class="col-md-6">
                        <p><b>: {date_to}</b></p>
                    </div>
                </div>
            </div>
            <div class="row" style="{trip_css}">
                <div class="col-md-1">
                    <p><b>Trip</b></p>
                </div>
                <div class="col-md-6">
                    <p><b>: {trip}</b></p>
                </div>
            </div>
            <div class="row" style="{channel_css}">
                <div class="col-md-1">
                    <p><b>Channel</b></p>
                </div>
                <div class="col-md-6">
                    <p><b>: {channel}</b></p>
                </div>
            </div>

            {data_tbl}
        </div>
    </div>
</div>

<!-- END report-block -->