<!-- BEGIN report-block -->

<link rel="stylesheet" type="text/css" href="{style}">
<div class="reservation-block wrapper">
	<div class="content">
		<div class="row-total">
			<div class="col-md-6">
				<h3>Total Amount</h3>
			</div>
            <div class="col-md-3">
                <p class="bold text-left">Total Pax : {total_pax}</p>
            </div>
			<div class="col-md-3">
				<p class="bold text-right">{total} (100%)</p>
			</div>
		</div>
		<div class="row-item">
			<ul>

				<!-- BEGIN report-loop-block -->

				<li>
                    <div class="r-head clearfix">                                
                        <div class="col-md-6">
                            <p>{rev_date}</p>
                        </div>
                        <div class="col-md-6">
                            <p class="text-right medium-bold">
                            	{total_rev} ({total_rev_percent}%)
                            </p>
                        </div>
                    </div>
                    <div class="r-content">
                        {rev_data}
                    </div>
                </li>

				<!-- END report-loop-block -->

            </ul>
        </div>
	</div>
</div>

<!-- END report-block -->