<!-- BEGIN report-block -->

<link rel="stylesheet" type="text/css" href="{style}">
<div class="wrapper">
    <div class="content">
        <div class="seat-by-agent-report">

            <!-- BEGIN report-loop -->
            <table width="100%" border="0">

                {data_tbl_variance_and_percent}

                {data_tbl_prev_sum}

                <tr>
                    <td rowspan="3" align="center"><b>No</b></td>
                    <td rowspan="3" align="center"><b>Code</b></td>
                    <td rowspan="3" align="center"><b>Account</b></td>
                    <td colspan="13" align="center" bgcolor="rgb(73,73,85)" color="rgb(255,255,255)"><b>{year}</b></td>
                    {data_sp_column}                    
                </tr>

                {data_tbl_sum}

                <tr>
                    <td align="right" bgcolor="rgb(216,228,188)"><b>Jan</b></td>
                    <td align="right" bgcolor="rgb(216,228,188)"><b>Feb</b></td>
                    <td align="right" bgcolor="rgb(216,228,188)"><b>Mar</b></td>
                    <td align="right" bgcolor="rgb(242,220,219)"><b>Apr</b></td>
                    <td align="right" bgcolor="rgb(242,220,219)"><b>May</b></td>
                    <td align="right" bgcolor="rgb(242,220,219)"><b>Jun</b></td>
                    <td align="right" bgcolor="rgb(220,230,241)"><b>Jul</b></td>
                    <td align="right" bgcolor="rgb(220,230,241)"><b>Aug</b></td>
                    <td align="right" bgcolor="rgb(220,230,241)"><b>Sep</b></td>
                    <td align="right" bgcolor="rgb(217,217,217)"><b>Oct</b></td>
                    <td align="right" bgcolor="rgb(217,217,217)"><b>Nov</b></td>
                    <td align="right" bgcolor="rgb(217,217,217)"><b>Dec</b></td>
                    <td align="right" bgcolor="rgb(204,192,218)"><b>{year}</b></td>
                </tr>

                {data_tbl}

            </table>
            
            {pagebreak}
            <!-- END report-loop -->

        </div>
    </div>
</div>

<!-- END report-block -->