<!-- BEGIN report-block -->

<link rel="stylesheet" type="text/css" href="{style}">
<div class="wrapper">
    <div class="content">
        <div class="promo-report">
            <div class="row clearfix">
                <div class="col-md-1">
                    <p><b>Booking Source</b></p>
                </div>
                <div class="col-md-6">
                    <p><b>: {booking_source}</b></p>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-1">
                    <p><b>Promo Code</b></p>
                </div>
                <div class="col-md-6">
                    <p><b>: {promo_code}</b></p>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-1">
                    <p><b>Payment Status</b></p>
                </div>
                <div class="col-md-6">
                    <p><b>: {payment_status}</b></p>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-1">
                    <p><b>Base date</b></p>
                </div>
                <div class="col-md-6">
                    <p><b>: {base_on} {period}</b></p>
                </div>
            </div>

            <table width="100%">
                <tr>
                    <td colspan="6"><b>Total Used</b></td>
                    <td align="right"><b>{total} (100%)</b></td>
                </tr>
                <!-- BEGIN report-loop-block -->
                <tr>
                    <td colspan="6"><b>{code}</b></td>
                    <td align="right"><b>{total_by_code} ({total_by_code_prc}%)</b></td>
                </tr>
                <tr style="background-color:#f5f5f5;">
                    <td><b>Date</b></td>
                    <td><b>Booking Ticket</b></td>
                    <td><b>Booking Source</b></td>
                    <td><b>Travel Date</b></td>
                    <td><b>Route</b></td>
                    <td align="right"><b>Commission (IDR)</b></td>
                    <td align="right"><b>Discount (IDR)</b></td>
                </tr>

                {list}

                <tr style="background-color:#f5f5f5;">
                    <td colspan="5" align="right"><b>Total :</b></td>
                    <td align="right"><b>{total_sum_com_by_code}</b></td>
                    <td align="right"><b>{total_sum_by_code}</b></td>
                </tr>
                <!-- END report-loop-block -->
            </table>
        </div>
    </div>
</div>

<!-- END report-block -->

<!-- BEGIN report-agent-block -->

<link rel="stylesheet" type="text/css" href="{style}">
<div class="wrapper">
    <div class="content">
        <div class="promo-report">
            <div class="row clearfix">
                <div class="col-md-1">
                    <p><b>Booking Source</b></p>
                </div>
                <div class="col-md-6">
                    <p><b>: {booking_source}</b></p>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-1">
                    <p><b>Promo Code</b></p>
                </div>
                <div class="col-md-6">
                    <p><b>: {promo_code}</b></p>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-1">
                    <p><b>Payment Status</b></p>
                </div>
                <div class="col-md-6">
                    <p><b>: {payment_status}</b></p>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-1">
                    <p><b>Base date</b></p>
                </div>
                <div class="col-md-6">
                    <p><b>: {base_on} {period}</b></p>
                </div>
            </div>

            <table width="100%">
                <tr>
                    <td colspan="5"><b>Total Used</b></td>
                    <td align="right"><b>{total} (100%)</b></td>
                </tr>
                <!-- BEGIN report-agent-loop-block -->
                <tr>
                    <td colspan="5"><b>{code}</b></td>
                    <td align="right"><b>{total_by_code} ({total_by_code_prc}%)</b></td>
                </tr>
                <tr style="background-color:#f5f5f5;">
                    <td><b>Date</b></td>
                    <td><b>Booking Ticket</b></td>
                    <td><b>Booking Source</b></td>
                    <td><b>Travel Date</b></td>
                    <td><b>Route</b></td>
                    <td align="right"><b>Commission (IDR)</b></td>
                </tr>

                {list}

                <tr style="background-color:#f5f5f5;">
                    <td colspan="5" align="right"><b>Total :</b></td>
                    <td align="right"><b>{total_sum_com_by_code}</b></td>
                </tr>
                <!-- END report-agent-loop-block -->
            </table>
        </div>
    </div>
</div>

<!-- END report-agent-block -->