<!-- BEGIN report-block -->

<link rel="stylesheet" type="text/css" href="{style}">
<div class="wrapper">
    <div class="content">
        <div class="transport-guest-report">
            <div class="row" style="{area_css}">
                <div class="col-md-1">
                    <p><b>Area</b></p>
                </div>
                <div class="col-md-6">
                    <p><b>: {tarea}</b></p>
                </div>
            </div>
            <div class="row" style="{type_css}">
                <div class="col-md-1">
                    <p><b>Transport</b></p>
                </div>
                <div class="col-md-6">
                    <p><b>: {ttype}</b></p>
                </div>
            </div>
            <div class="row" style="{date_css}">
                <div class="col-md-1">
                    <p><b>Date</b></p>
                </div>
                <div class="col-md-6">
                    <p><b>: {tdate}</b></p>
                </div>
            </div>
            <div class="row" style="{search_css}">
                <div class="col-md-1">
                    <p><b>Search</b></p>
                </div>
                <div class="col-md-6">
                    <p><b>: {tsearch}</b></p>
                </div>
            </div>

            <table width="100%" border="0">
                <tr>
                    <!--<th align="left">Booked By</th>-->
                    <th align="left">Guest Name</th>
                    <th align="left">Drop-off</th>
                    <th align="left">Address</th>
                    <th align="left">Pax</th>
                    <th align="left">Depart</th>
                    <th align="left">Date</th>
                    <th align="left">Transport</th>
                </tr>

            	<!-- BEGIN report-loop-block -->

				<tr id="item-{id}">
				    <!--<td class="booked-by" valign="top">{booked_by}</td>-->
				    <td class="guest-name" valign="top">{guest_name}</td>
				    <td class="pickup" valign="top">{pickup}</td>
				    <td class="pickup-addr" valign="top">{hotel_detail}</td>
				    <td class="guest" valign="top">{guest_num}</td>
				    <td class="dept-time" valign="top">{dept_time}</td>
				    <td class="dept-date" valign="top">{dept_date}</td>
				    <td class="trans-type" valign="top">{trans_type}</td>
				</tr>

            	<!-- END report-loop-block -->
            </table>
        </div>
    </div>
</div>

<!-- END report-block -->