<!-- BEGIN form-block -->

<div class="wrapper-block role-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-12"> 
                    <h1>New/Edit Admin Role</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-block no-field-border">
                    	{message}
                    	<fieldset class="sr-only">
                    		<input type="text" name="lrole_id" value="{lrole_id}" />
                    	</fieldset>
                        <fieldset class="form-inline">
                    		<label>Admin Role Name</label>
                    		<div class="form-group">
							    <input type="text" class="text text-large form-control" name="lrole_name" value="{lrole_name}" /">
						  	</div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Role Description</label>
                            <div class="form-group">
                                <textarea class="textarea text-large form-control" rows="5" name="lrole_description">{lrole_description}</textarea>
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Privileges</label>
                            <select class="select-option" name="lrole_type" autocomplete="off">
                                {lrole_type}
                            </select>
                        </fieldset>
                        <fieldset class="form-inline">
                            <div class="role-section">
                                <div class="rs-head">
                                    <div class="checkbox">
                                        <input id="check-all" name="check_all" autocomplete="off" type="checkbox" {checkbox_opt} />
                                        <label for="check-all">All Sections</label>
                                    </div>
                                </div>
                                <div class="rs-content">
                                    {lrole_privileges}
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-action clearfix">
                    	<button type="submit" class="btn-save pull-left" name="publish">Save Admin Role</button>
                    	<a class="cancel pull-left" href="{cancel_link}">Cancel</a>
                    	<a class="delete pull-right {delete_class}" href="{ajax_link}">Delete</a>
                    </div>
                    <div class="form-note">
                        {last_update_note}
                    </div>
                </div>
            </div>
        </form>

        <script type="text/javascript">
            jQuery(document).ready(function(){
                jQuery('.form-action .delete').on('click', function(e){
                    var url = jQuery(this).attr('href');
                    var prm = new Object();
                        prm.pkey     = 'delete-role';
                        prm.lrole_id = jQuery('[name=lrole_id]').val();

                    jQuery('<div></div>').dialog({
                        modal: true,
                        draggable: false,
                        resizable: false,
                        title: 'Notification',
                        open: function(){
                            jQuery(this).html('Are you sure want to delete this role?');
                        },
                        buttons: {
                            Yes: function(){
                                var popup = jQuery(this);

                                jQuery.ajax({
                                    method: 'POST',
                                    url: url,
                                    data: prm,
                                    dataType : 'json',
                                    success: function(e){
                                        popup.dialog('close');

                                        if( e.result=='success' )
                                        {                                       
                                            show_popup('Notification', 'This role has been successfully deleted', 'window.location.assign("{cancel_link}")');
                                        }
                                        else if( e.result=='error-query' )
                                        {
                                            if( e.error_code==1451 )
                                            {
                                                show_popup('Warning', 'Sorry, This role can\'t be deleted. May already be used in role data');
                                            }
                                            else
                                            {
                                                show_popup('Warning', 'Sorry, This role can\'t be deleted. Please try again later');
                                            }
                                        }
                                    },
                                    error: function(e){
                                       popup.dialog('close');

                                       show_popup('Warning', 'Sorry, This role can\'t be deleted. Please try again later');
                                    }
                                });
                            },
                            No: function(){
                                jQuery( this ).dialog('close');
                            }
                        }
                    });

                    return false;
                });

                jQuery('.rs-head [name=check_all]').on('click', function(e){
                    var is_check = jQuery(this).prop('checked');

                    jQuery('.rs-content input[type=checkbox]').prop('checked', is_check);
                });
            });
        </script>
    </div>
</div>

<!-- END form-block -->