<!-- BEGIN list-block -->

<div class="wrapper-block role-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-8"> 
                    <h1>Admin Role</h1>
                </div>
                <div class="col-md-4">
                    <div class="button-box clearfix">
                        <button type="submit" class="button btn-delete disabled" name="delete" value="Delete" disabled="disabled">Delete Role</button>
                        <button type="button" class="button btn-add" name="add_new" onclick="location.href='{add_new_link}';">New Admin Role</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-block">
                        <table id="role-table" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="15" data-orderable="false"><input type="checkbox" name="check_all" autocomplete="off" /></th>
                                    <th>Group Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                {list}
                            </tbody>
                        </table>

                        {paging}
                    </div>
                </div>
            </div>
        </form>
    </div>
    
    <script type="text/javascript">
        jQuery(document).ready(function(){    
            jQuery('#role-table').DataTable({
                'dom'          : '<"row"<"col-xs-5 col-sm-6"l><"col-xs-7 col-sm-6 text-right"f>r>t<"row"<"col-md-12"i><"col-md-12 text-center"p>>',
                'pageLength'   : parseInt('{limit}'),
                'lengthChange' : false,
                'searching'    : false,
                'info'         : false,
                'order'        : []
            });
        });
    </script>
</div>

<!-- END list-block -->