<!-- BEGIN list-block -->

<div class="wrapper-block reservation-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-8">
                    <h1>Send Notification</h1>
                </div>
                <div class="col-md-4">
                    <div class="search-box clearfix">
                        <input type="text" name="sbooking" class="searchtext" placeholder="Search" autocomplete="off" value="{search}" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="filter-box">
                        <div class="form-group clearfix">
                            <span class="text">Filter</span>
                            <select name="chid" id="select_chanel" class="select-option select-option-source">
                                {bsource_option}
                            </select>
                            <select name="lcid" id="select_dep" class="select-option">
                                {location_option}
                            </select>
                            <select name="lcid2" id="select_arv" class="select-option">
                                {location2_option}
                            </select>
                            <select name="rid" id="select_route" class="select-option select-option-route">
                                {route_option}
                            </select>
                            <input name="bbemail" type="text" placeholder="Booked Email" value="{bbemail}"  class="medium_textbox booked_email">
                        </div>
                        <div class="form-group clearfix">
                            <span class="text">&nbsp;</span>
                            <input name="bdate" type="text" placeholder="Booking date" value="{bdate}"  class="medium_textbox drpicker" autocomplete="off">
                            <input name="bddate" type="text" placeholder="Travel date" value="{bddate}"  class="medium_textbox drpicker" autocomplete="off">
                            <select name="bstatus[]" id="select_status" class="bstatus select-multiple-option" multiple="" style="width:400px;">
                                {status_option}
                            </select>
                            <select name="rstatus[]" id="select-status" class="select-status-rev select-multiple-option" multiple="true" style="width:355px;">
                                {rev_status}
                            </select>
                            <input name="filter" type="submit" value="Filter" class="filters">
                            <input name="send_email" type="submit" value="Send Email" class="btn-send">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-block">
                        <table id="booking-notification-table" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="50">
                                        <input type="checkbox" name="all" autocomplete="off">
                                    </th>
                                    <th width="110">Booking#</th>
                                    <th width="110">Code Agent</th>
                                    <th width="250" data-orderable="false">Guest Name</th>
                                    <th width="150" data-orderable="false">Booking Source</th>
                                    <th width="110" data-orderable="false">Booked By</th>
                                    <th width="110">Travel Date</th>
                                    <th width="150" data-orderable="false">Route</th>
                                    <th width="80" data-orderable="false">ETD</th>
                                    <th width="80" data-orderable="false">ETA</th>
                                    <th width="150" data-orderable="false">Transport</th>
                                    <th width="100">Rsv. Status</th>
                                    <th width="100" data-orderable="false" class="text-right">Total</th>
                                    <th width="120" data-orderable="false">Payment Status</th>
                                    <th width="120" data-orderable="false">Remarks</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <td colspan="4" align="right"><b>Total </b></td>
                                <td colspan="11"></td>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="sr-only">
        <div id="popup-send-notif" class="popup-form popup-send-notif">
            <fieldset class="form-group">
                <label>Template</label>
                <select class="select-option" name="email_template_type">
                    <option value="1">Rescheduling</option>
                    <option value="2">Force Majeure</option>
                    <option value="3">Cancellation</option>
                </select>
            </fieldset>
            <fieldset class="form-group">
                <label>Sender</label>
                <select class="select-option" name="email_sender">
                    <option value="online@bluewater-express.com">online@bluewater-express.com</option>
                    <option value="booking@bluewater-express.com">booking@bluewater-express.com</option>
                </select>
            </fieldset>
            <fieldset class="form-group">
                <label>Subject</label>
                <div class="textarea-1 textarea-template">
                    <textarea id="email_template_subject_1" name="email_template_subject_1" class="textarea text-large form-control" autocomplete="off"></textarea>
                </div>
                <div class="textarea-2 textarea-template sr-only">
                    <textarea id="email_template_subject_2" name="email_template_subject_2" class="textarea text-large form-control" autocomplete="off"></textarea>
                </div>
                <div class="textarea-3 textarea-template sr-only">
                    <textarea id="email_template_subject_3" name="email_template_subject_3" class="textarea text-large form-control" autocomplete="off"></textarea>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <label>Message</label>
                <div class="textarea-1 textarea-template">
                    <textarea id="email_template_message_1" class="textarea text-large tinymce form-control" rows="10" name="email_template_message_1" autocomplete="off"></textarea>
                </div>
                <div class="textarea-2 textarea-template sr-only">
                    <textarea id="email_template_message_2" class="textarea text-large tinymce form-control" rows="5" name="email_template_message_2" autocomplete="off"></textarea>
                </div>
                <div class="textarea-3 textarea-template sr-only">
                    <textarea id="email_template_message_3" class="textarea text-large tinymce form-control" rows="5" name="email_template_message_3" autocomplete="off"></textarea>
                </div>
            </fieldset>
            <fieldset class="form-action">
                <button type="button" class="btn-send pull-left" data-ajax-link="{ajax_url}" name="send_notif">Send</button>
                <a class="cancel pull-left">Cancel</a>
            </fieldset>
            <fieldset class="form-result">
            </fieldset>
        </div>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function(){

            jQuery('.select-option').chosen({ max_selected_options:10, search_contains:true });
            jQuery('.select-multiple-option').chosen({ max_selected_options:10, search_contains:true, placeholder_text_multiple:'Payment Status' });
            jQuery('.select-status-rev').chosen({ max_selected_options:10, search_contains:true, placeholder_text_multiple:'All Reservation Status' });

            jQuery('.drpicker').daterangepicker({ 
                autoUpdateInput:false,
                locale: {
                    cancelLabel: 'Clear',
                    format: 'DD/MM/YYYY',
                }
            });

            jQuery('.drpicker').on('apply.daterangepicker', function(ev, picker) {
                jQuery(this).val( picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY') );
            });

            jQuery('.drpicker').on('cancel.daterangepicker', function(ev, picker) {
                jQuery(this).val('');
            });

            set_booking_notification_table();
        });

        function set_booking_notification_table()
        {
            var rvstatus = [];
            jQuery('.select-status-rev option:selected').each(function() {
                rvstatus.push( jQuery(this).val() );
            });

            var status = jQuery('.bstatus').val();
            var table  = jQuery('#booking-notification-table').DataTable({
                dom          : '<"row"<"col-xs-5 col-sm-6"l><"col-xs-7 col-sm-6 text-right">r>t<"row"<"col-md-12"i><"col-md-12 text-center"p>>',
                columnDefs   : [{ targets:1, type:'date' }, { targets:5, type:'date' }],
                order        : [[ 2, 'desc' ], [ 1, 'desc' ]],
                pageLength   : parseInt('{limit}'),
                lengthChange : false,
                info         : false,
                processing   : true,
                serverSide   : true,
                searching    : true,
                deferRender  : true,
                autoWidth    : false,
                ajax         : {
                    url  : '{ajax_url}',
                    type : 'POST',
                    data : {
                        pkey       : 'load-data',
                        rid        : jQuery('[name=rid]').val(),
                        rstatus    : rvstatus != '' ? rvstatus : '',
                        chid       : jQuery('[name=chid]').val(),
                        lcid       : jQuery('[name=lcid]').val(),
                        lcid2      : jQuery('[name=lcid2]').val(),
                        status     : status.length == 0 ? '' : status,
                        bddate     : jQuery('[name=bddate]').val(),
                        sbooking   : jQuery('[name=sbooking]').val(),
                        bbemail    : jQuery('[name=bbemail]').val(),
                        bdate      : jQuery('[name=bdate]').val()
                    }
                },
                rowCallback: function( row, data, index ) {
                    jQuery( row ).attr( 'data-id', data.id );

                    jQuery( 'td:nth-child(2)', row ).css( 'color', 'red' );
                    if( data.print_sts == '1' )
                    {
                        jQuery( 'td:nth-child(2)', row ).css( 'color', 'red' );
                    }
                },
                columnDefs: [
                    { orderable: false, targets: 0 }
                ],
                columns: [
                    {
                        data: 'id', render: function ( data, type, row ){
                            return '<input data-bticket="' + row.no_ticket + '" type="checkbox" name="batch_id[]" value="' + data + '" autocomplete="off">';
                        }
                    },
                    {
                        data: 'ticket_date', render: function ( data, type, row ){
                            return data;
                        }
                    },
                    {
                        data: 'ref_agent', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'guest_name', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'chanel', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'booked_by', render: function ( data, type, row ) {
                            var html = data + '<br/>Phone: ' + row.phone + '<br/>Email: ' + row.bbemail;

                            return html;
                        }
                    },
                    {
                        data: 'dept_date', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'route', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'dept_time', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'arrive_time', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'transport', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'rsv_status', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'total', render: function ( data, type, row ) {
                            return '<div class="text-right">' + data + '</div>';
                        }
                    },
                    {
                        data: 'status', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'remarks', render: function ( data, type, row ) {
                            return data;
                        }
                    }
                ],
                footerCallback: function( row, data, start, end, display ){
                    var apidata = this.api(), data;
                    var items   = apidata.column( 2, { page: 'current'} ).data();
                    var ptotal  = 0;
                    var atotal  = 0;
                    var ctotal  = 0;
                    var itotal  = 0;

                    jQuery.each( items, function(i, ele){
                        if( jQuery.type( ele ) !== 'null' )
                        {
                            ele = ele.split('<span class="sr-only">');

                            if( ele.length > 1 )
                            {
                                ele = ele[1].split('</span>');
                                prt = ele[0];
                                prt = prt.split('|');

                                ptotal = ptotal + parseInt( prt[0] );
                                atotal = atotal + parseInt( prt[1] );
                                ctotal = ctotal + parseInt( prt[2] );
                                itotal = itotal + parseInt( prt[3] );
                            }
                        }
                    });

                    jQuery( apidata.column( 2 ).footer() ).html( '<b>Pax : ' + ptotal + ' | Adult : ' + atotal + ' | Child : ' + ctotal + ' | Infant : ' + itotal + '</b>' );
                }
            });

            table.on( 'draw.dt', function () {
                action_link_func( table );
            });

            table.on( 'page.dt', function () {
                start = table.page.info().start;
            });

            table.on('xhr.dt', function(e, settings, json, xhr){
                jQuery('[name=bid_arr]').val( json.bid );
            });

            jQuery('[name=sbooking]').on('keyup', function(){
                table.search( this.value ).draw() ;
            });
        }

        function action_link_func( table )
        {
            jQuery('input[name=all]').on('change', function(){
                var checked = this.checked ? true : false;

                jQuery('#booking-notification-table input[type=checkbox]').each(function(){
                    jQuery(this).prop('checked', checked );
                });
            });

            jQuery('[name=email_template_type]').on('change', function(){
                var vals = jQuery(this).val();

                jQuery('.textarea-template').addClass('sr-only');
                jQuery('.textarea-'+vals).removeClass('sr-only');
            });

            jQuery('[name=send_email]').unbind();
            jQuery('[name=send_email]').on('click', function(){
                if( jQuery('#booking-notification-table td input[type=checkbox]:checked').length > 0 )
                {
                    jQuery('#popup-send-notif').dialog({
                        width: 1024,
                        modal: true,
                        draggable: true,
                        resizable: false,
                        title: 'Send Notification',
                        open: function(){           
                            set_action( jQuery(this) );
                        },
                        close: function( event, ui ){
                            destroy_action( jQuery(this) );
                        }
                    });
                }
                else
                {
                    show_popup('Warning', 'Please select one of the reservations before clicking the send button');
                }

                return false;
            });
        }           
        
        function destroy_action( selector )
        {
            selector.dialog('destroy');

            jQuery('.form-result').html('');
            jQuery('#popup-send-notif .tinymce').each(function(){
                tinymce.remove( '#' + jQuery(this).attr('id') );
            });
        }

        function set_action( selector )
        {
            var bid = new Array;
            var tck = new Array;

            jQuery('#booking-notification-table td input[type=checkbox]:checked').each( function(){
                if( jQuery.inArray( this.value, bid ) == -1 )
                {
                    bid.push( this.value );
                    tck.push( jQuery(this).data('bticket' ) );
                }
            });

            var url = selector.find('.btn-send').data('ajax-link');
            var prm = new Object();
                prm.pkey = 'set-notification-form';
                prm.bid  = bid;

            jQuery.ajax({
                method: 'POST',
                url: url,
                data: prm,
                dataType : 'json',          
                beforeSend: function(){

                },
                success: function(e){
                    jQuery('#email_template_subject_1').val( e.subject1 );
                    jQuery('#email_template_subject_2').val( e.subject2 );
                    jQuery('#email_template_subject_3').val( e.subject3 );
                    jQuery('#email_template_message_1').val( e.template1 );
                    jQuery('#email_template_message_2').val( e.template2 );
                    jQuery('#email_template_message_3').val( e.template3 );

                    tinymce.init({
                        selector: '.notif-popup .tinymce',
                        height: '100%',
                        theme: 'modern',
                        plugins: [
                            'autoresize',
                            'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                            'searchreplace wordcount visualblocks visualchars code fullscreen',
                            'insertdatetime media nonbreaking save table contextmenu directionality',
                            'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
                        ],
                        toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link unlink image | print preview media | forecolor backcolor emoticons | codesample code',
                        image_advtab: true,
                        content_css: [
                            '../l-admin/themes/{admin_theme}/css/textarea.css',
                        ]
                    });
                }
            });

            selector.parent().addClass('notif-popup');

            selector.find('.cancel').unbind();
            selector.find('.cancel').on('click', function(){
                selector.dialog('close');
            });

            selector.find('.btn-send').unbind();
            selector.find('.btn-send').on('click', function(){
                var url  = jQuery(this).data('ajax-link');
                var type = selector.find('[name=email_template_type]').val();

                jQuery('.form-result').html('');

                jQuery.each( bid, function( i, e ){
                    var prm = new Object();
                        prm.pkey    = 'send-notification';
                        prm.sender  = selector.find('[name=email_sender]').val();
                        prm.subject = selector.find('[name=email_template_subject_' + type + ']').val();
                        prm.message = tinymce.get('email_template_message_' + type).getContent();
                        prm.bid     = e;

                    jQuery.ajax({
                        url: url,
                        data: prm,
                        method: 'POST',
                        dataType : 'json',          
                        beforeSend: function(){
                            jQuery('.form-result').append('<div id="progress-' + prm.bid + '" class="progress">' + tck[i] + ' ( Sending... )</div>');
                        },
                        success: function(e){
                            if( e.result == 'success' )
                            {
                                jQuery('#progress-' + prm.bid).text( tck[i] + ' ( Sent )' );
                            }
                            else
                            {
                                jQuery('#progress-' + prm.bid).addClass('failed')
                                jQuery('#progress-' + prm.bid).text( tck[i] + ' ( Failed )' );
                            }
                        }
                    });
                });
            });
        }
    </script>
</div>

<!-- END list-block -->
