<!-- BEGIN clearance-block -->

<div id="row-clearance-0" class="row" style="padding-top:15px;">
    <div class="col col-md-12">
        <div class="form-group">
            <p class="subtitle">Location</p>
            <select class="location-opt" name="lcid[3][0]" style="min-width:250px;" autocomplete="off">
                {location_option}
            </select>
        </div>
        <div class="form-group">
            <p class="subtitle">ETA</p>
            <input id="rdtime-3-0" type="text" class="text text-small form-control timepicker" name="rdtime[3][0]" value="{rdtime}" autocomplete="off">
        </div>
        <div class="form-group">
            <p class="subtitle">ETD</p>
            <input id="rdtime-3-0" type="text" class="text text-small form-control timepicker" name="rdtime2[3][0]" value="{rdtime2}" autocomplete="off">
        </div>
    </div>
</div>

<!-- END clearance-block -->