<!-- BEGIN form-block -->

<div class="wrapper-block route-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-12">
                    <h1>New/Edit Route</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-block">
                    	{message}
                    	<fieldset class="sr-only">
                    		<input type="text" name="rid" value="{rid}" />
                    	</fieldset>
                    	<fieldset class="form-inline">
                    		<label>Route Name</label>
                    		<div class="form-group">
							    <input type="text" class="text text-large form-control" name="rname" value="{rname}" autocomplete="off">
						  	</div>
                    	</fieldset>
                        <fieldset class="form-inline">
                            <div class="form-group">
                                <label>Cut Of Time (COT)</label>
                                <div class="form-group">
                                    <select name="rcot" style="width:250px;" autocomplete="off">
                                        {rcot_option}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Booking Time Limit OB/Agent Panel</label>
                                <div class="form-group">
                                    <select name="rtimelimit" style="width:300px;" autocomplete="off">
                                        {tl_option}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Route Type</label>
                                <div class="form-group">
                                    <select name="rtype" style="width:200px;" autocomplete="off">
                                        {rtype_option}
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <div class="form-group">
								<div class="checkbox" >
									<input type="checkbox" id="add-via"/>
									<label for="add-via">
										Add Via
									</label>
								</div>
                            </div>
                            <div class="form-group" >
								<div class="sr-only" id="add-via-group">
									<div class="form-group">
										<select name="via_id" style="width:200px;" autocomplete="off" id="via-select">
											<option value="0">Select Via by</option>
											{via_option}
										</select>
									</div>
								</div>
                            </div>
                        </fieldset>
                        <fieldset class="form-inline departure-block">
                            {departure}
                        </fieldset>
                        <fieldset class="form-inline">
                            <div class="row">
                                <div class="col col-md-12">
                                    <div class="form-group clearfix">
                                        <a href="{ajax_link}" class="add-new-departure">Add new departure</a>
                                        <img class="loader" src="{img_url}/loader.gif" alt="Loading..." width="100">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-inline clearance-block">
                            <label>Clearance Point</label>
                            <div class="checkbox" >
                                <input type="checkbox" name="rclearance" id="add-clearance" {rclearance_chck} autocomplete="off" />
                                <label for="add-clearance">
                                    Use clearance point
                                </label>
                            </div>
                            {clearance}
                        </fieldset>
                        <fieldset class="form-inline hopping-block">
                            <div class="row-item {hopping_css}">
                                {hopping}
                            </div>
                            <div class="row-action {hopping_css}">
                                <div class="row">
                                    <div class="col col-md-12">
                                        <div class="form-group clearfix">
                                            <a href="{ajax_link}" class="add-new-hopping">Add new hopping</a>
                                            <img class="loader" src="{img_url}/loader.gif" alt="Loading..." width="100">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-inline arrival-block">
                            {arrival}
                        </fieldset>
                        <fieldset class="form-inline">
                            <div class="row">
                                <div class="col col-md-12">
                                    <div class="form-group clearfix">
                                        <a href="{ajax_link}" class="add-new-arrival">Add new arrival</a>
                                        <img class="loader" src="{img_url}/loader.gif" alt="Loading..." width="100">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-action clearfix">
                    	<button type="submit" class="btn-save pull-left" name="publish">Save Route</button>
                    	<a class="cancel pull-left" href="{cancel_link}">Cancel</a>
                    	<a class="delete pull-right {delete_class}" href="{ajax_link}">Delete</a>
                    </div>
                    <div class="form-note">
                        {last_update_note}
                    </div>
                </div>
            </div>
        </form>

        <script type="text/javascript">
			function add_via_func()
			{
				var via_id = '{via_id}';
				
				if( via_id != 0 )
				{
					jQuery("#add-via").prop('checked', true)
					jQuery("#via-select").val(via_id);
					jQuery('#add-via-group').removeClass('sr-only');
				}
				
				jQuery('#add-via').on('click', function(e){
					if( document.getElementById('add-via').checked )
					{
						jQuery('#add-via-group').removeClass('sr-only');
					}
					else
					{
						jQuery('#add-via-group').addClass('sr-only');
						jQuery("#via-select").val("0");
					}
				});
			}
			
            function pickup_drop_option_func()
            {
                jQuery('.use-pickup-drop').unbind('click');
                jQuery('.use-pickup-drop').on('click', function(e){
                    var wrapper  = jQuery(this).parent().parent();
                    var is_check = jQuery(this).prop('checked');

                    if( is_check )
                    {
                        var sel = jQuery(this).parent().parent().parent().parent();
                        var loc = sel.find('.location-opt').val();

                        if( loc=='' )
                        {
                            sel.find('.no-pickup-drop-data').removeClass('sr-only');
                            sel.find('.pickup-drop-list .item-wrapp').addClass('sr-only');
                        }
                        else
                        {
                            if( sel.find('.pickup-drop-list .item-wrapp[data-loc-id="'+loc+'"]').length > 0 )
                            {
                                sel.find('.no-pickup-drop-data').addClass('sr-only');
                                sel.find('.pickup-drop-list .item-wrapp').addClass('sr-only');
                                sel.find('.pickup-drop-list .item-wrapp[data-loc-id="'+loc+'"]').removeClass('sr-only');
                            }
                            else
                            {
                                sel.find('.no-pickup-drop-data').removeClass('sr-only');
                                sel.find('.pickup-drop-list .item-wrapp').addClass('sr-only');
                            }
                        }

                        wrapper.find('.pickup-drop-list').removeClass('hidden');
                    }
                    else
                    {
                        wrapper.find('.pickup-drop-list').addClass('hidden');
                        wrapper.find('.pickup-drop-list .timepicker').val('');
                        wrapper.find('.pickup-drop-list .plctime').addClass('hidden');
                        wrapper.find('.pickup-drop-list .use-pick-drop-location').prop('checked', is_check);
                        wrapper.find('.no-pickup-drop-data').removeClass('sr-only');
                        wrapper.find('.pickup-drop-list .item-wrapp').addClass('sr-only');
                    }
                });

                jQuery('.use-pick-drop-location').unbind('click');
                jQuery('.use-pick-drop-location').on('click', function(e){
                    var wrapper  = jQuery(this).parent().parent();
                    var is_check = jQuery(this).prop('checked');

                    if( is_check )
                    {
                        wrapper.find('.plctime').removeClass('hidden');
                    }
                    else
                    {
                        wrapper.find('.plctime').addClass('hidden');
                        wrapper.find('.plctime .timepicker').val('');
                    }
                });

                jQuery('.timepicker').timepicker({
                    controlType: 'select',
                    timeFormat: 'HH:mm',
                    oneLine: true,
                    hourMax: 23,
                    hourMin: 5
                });

                jQuery('.location-opt').unbind('change');
                jQuery('.location-opt').on('change', function(e){
                    var sel  = jQuery(this).parent().parent().parent();
                    var vals = jQuery(this).val();

                    if( vals=='' )
                    {
                        sel.find('.no-pickup-drop-data').removeClass('sr-only');
                        sel.find('.pickup-drop-list .item-wrapp').addClass('sr-only');
                    }
                    else
                    {
                        if( sel.find('.pickup-drop-list .item-wrapp[data-loc-id="'+vals+'"]').length > 0 )
                        {
                            sel.find('.no-pickup-drop-data').addClass('sr-only');
                            sel.find('.pickup-drop-list .item-wrapp').addClass('sr-only');
                            sel.find('.pickup-drop-list .item-wrapp[data-loc-id="'+vals+'"]').removeClass('sr-only');
                        }
                        else
                        {
                            sel.find('.no-pickup-drop-data').removeClass('sr-only');
                            sel.find('.pickup-drop-list .item-wrapp').addClass('sr-only');
                        }
                    }
                });

                jQuery('.form-block .delete').unbind('click');
                jQuery('.form-block .delete').on('click', function(e){
                    var sel = jQuery(this);

                    jQuery(this).parent().parent().parent().fadeOut(200, function(){
                        jQuery(this).remove();

                        if( sel.hasClass('delete-hopping') )
                        {
                            if( jQuery('.hopping-block .row-item .row').length == 0 )
                            {
                                jQuery('[name=rtype]').val(0).trigger('chosen:updated');
                                jQuery('.hopping-block .row-item').addClass('sr-only');
                                jQuery('.hopping-block .row-action').addClass('sr-only');
                            }
                        }
                    });
                });
            }

            function add_new_hooping_act()
            {
                jQuery('.add-new-hopping').unbind('click');
                jQuery('.add-new-hopping').on('click', function(e){
                    var loader = jQuery(this).parent().find('.loader');
                    var url    = '{ajax_link}';
                    var prm    = new Object();
                        prm.pkey = 'add-new-hopping';
                        prm.idx  = jQuery('.hopping-block .row-item .row:last-child').index() + 1;

                    loader.css('display', 'inline');

                    jQuery.ajax({
                        method: 'POST',
                        url: url,
                        data: prm,
                        dataType : 'json',
                        success: function(e){
                            loader.css('display', 'none');

                            if( e.result=='success' )
                            {
                                jQuery('.hopping-block .row-item').removeClass('sr-only').append(e.data);
                                jQuery('.hopping-block .row-action').removeClass('sr-only');

                                pickup_drop_option_func();
                            }
                            else if( e.result=='failed' )
                            {
                                show_popup('Warning', 'Sorry, can\'t completed your request. Please try again later');

                                jQuery('.hopping-block .row-item').addClass('sr-only').html('');
                                jQuery('.hopping-block .row-action').removeClass('sr-only');
                            }
                        },
                        error: function(e){
                            loader.css('display', 'none');

                            show_popup('Warning', 'Sorry, can\'t completed your request. Please try again later');

                            jQuery('.hopping-block .row-item').addClass('sr-only').html('');
                            jQuery('.hopping-block .row-action').removeClass('sr-only');
                        }
                    });

                    return false;
                });
            }

            jQuery(document).ready(function(){
                pickup_drop_option_func();
                add_new_hooping_act();
                add_via_func();
                
                jQuery('[name=rcot]').chosen({ max_selected_options:10, search_contains:true });
                jQuery('[name=rtype]').chosen({ max_selected_options:10, search_contains:true });
                jQuery('[name=rtimelimit]').chosen({ max_selected_options:10, search_contains:true });

                jQuery('[name=rtype]').on('change', function(){
                    if( jQuery(this).val() == 1 )
                    {
                        jQuery('.add-new-hopping').trigger('click');
                    }
                    else
                    {
                        jQuery('.hopping-block .row-item').addClass('sr-only').html('');
                        jQuery('.hopping-block .row-action').addClass('sr-only');
                    }
                });

                jQuery('.add-new-departure').on('click', function(e){
                    var loader = jQuery(this).parent().find('.loader');
                    var url    = jQuery(this).attr('href');
                    var prm    = new Object();
                        prm.pkey = 'add-new-departure';
                        prm.idx  = jQuery('.departure-block .row:last-child').index() + 1;

                    loader.css('display', 'inline');

                    jQuery.ajax({
                        method: 'POST',
                        url: url,
                        data: prm,
                        dataType : 'json',
                        success: function(e){
                            loader.css('display', 'none');

                            if( e.result=='success' )
                            {
                                jQuery('.departure-block').append(e.data);

                                pickup_drop_option_func();
                            }
                            else if( e.result=='failed' )
                            {
                                show_popup('Warning', 'Sorry, can\'t completed your request. Please try again later');
                            }
                        },
                        error: function(e){
                            loader.css('display', 'none');

                            show_popup('Warning', 'Sorry, can\'t completed your request. Please try again later');
                        }
                    });

                    return false;
                });

                jQuery('.add-new-arrival').on('click', function(e){
                    var loader = jQuery(this).parent().find('.loader');
                    var url    = jQuery(this).attr('href');
                    var prm    = new Object();
                        prm.pkey = 'add-new-arrival';
                        prm.idx  = jQuery('.arrival-block .row:last-child').index() + 1;

                    loader.css('display', 'inline');

                    jQuery.ajax({
                        method: 'POST',
                        url: url,
                        data: prm,
                        dataType : 'json',
                        success: function(e){
                            loader.css('display', 'none');

                            if( e.result=='success' )
                            {
                                jQuery('.arrival-block').append(e.data);

                                pickup_drop_option_func();
                            }
                            else if( e.result=='failed' )
                            {
                                show_popup('Warning', 'Sorry, can\'t completed your request. Please try again later');
                            }
                        },
                        error: function(e){
                            loader.css('display', 'none');

                            show_popup('Warning', 'Sorry, can\'t completed your request. Please try again later');
                        }
                    });

                    return false;
                });

                jQuery('.form-action .delete').on('click', function(e){
                    var url = jQuery(this).attr('href');
                    var prm = new Object();
                        prm.pkey = 'delete-route';
                        prm.rid  = jQuery('[name=rid]').val();

                    jQuery('<div></div>').dialog({
                        modal: true,
                        draggable: false,
                        resizable: false,
                        title: 'Notification',
                        open: function(){
                            jQuery(this).html('Are you sure want to delete this route?');
                        },
                        buttons: {
                            Yes: function(){
                                var popup = jQuery(this);

                                jQuery.ajax({
                                    method: 'POST',
                                    url: url,
                                    data: prm,
                                    dataType : 'json',
                                    success: function(e){
                                        popup.dialog('close');

                                        if( e.result=='success' )
                                        {
                                            show_popup('Notification', 'This route has been successfully deleted', 'window.location.assign("{cancel_link}")');
                                        }
                                        else if( e.result=='error-query' )
                                        {
                                            if( e.error_code==1451 )
                                            {
                                                show_popup('Warning', 'Sorry, This route can\'t be deleted. May already be used in another data');
                                            }
                                            else
                                            {
                                                show_popup('Warning', 'Sorry, This route can\'t be deleted. Please try again later');
                                            }
                                        }
                                    },
                                    error: function(e){
                                       popup.dialog('close');

                                       show_popup('Warning', 'Sorry, This route can\'t be deleted. Please try again later');
                                    }
                                });
                            },
                            No: function(){
                                jQuery( this ).dialog('close');
                            }
                        }
                    });

                    return false;
                });
            });
        </script>
    </div>
</div>

<!-- END form-block -->