<!-- BEGIN hopping-block -->

<div id="{row_id}" class="row">
    <div class="col col-md-12">
        <label>{label} <a class="delete delete-hopping"><img src="../l-plugins/ticket/images/delete.svg" /></a></label>
        <div class="form-group">
            <p class="subtitle">Location</p>
            <select class="location-opt" name="lcid[2][{i}]" style="min-width:250px;" autocomplete="off">
                {location_option}
            </select>
        </div>
        <div class="form-group">
            <p class="subtitle">ETA</p>
            <input id="rdtime-2-0" type="text" class="text text-small form-control timepicker" name="rdtime[2][{i}]" value="{rdtime}" autocomplete="off">
        </div>
        <div class="form-group">
            <p class="subtitle">ETD</p>
            <input id="rdtime-2-0" type="text" class="text text-small form-control timepicker" name="rdtime2[2][{i}]" value="{rdtime2}" autocomplete="off">
        </div>
    </div>
    <div class="col col-md-6">
        <div class="clearfix">
            <p class="subtitle">Pickup</p>
            <div class="checkbox">
                <input id="rdhpickup-0" name="rdpickup[2][{i}]" class="use-pickup-drop" autocomplete="off" type="checkbox" {pickup_check_opt}>
                <label for="rdhpickup-0">Include Pickup</label>
            </div>
            <div class="col-md-12 pickup-drop-list {pickup_css}">
                <div class="form-group clearfix">
                    <p class="no-pickup-drop-data text-danger {pickup_no_data_css}">No data</p>
                	{pickup_hopping_option}
                </div>
            </div>
        </div>
    </div>
    <div class="col col-md-6">
        <div class="clearfix">
            <p class="subtitle">Drop-off</p>
            <div class="checkbox">
                <input id="rdhdropoff-0" name="rddropoff[2][{i}]" class="use-pickup-drop" autocomplete="off" type="checkbox" {dropoff_check_opt}>
                <label for="rdhdropoff-0">Include Drop-off</label>
            </div>
            <div class="col-md-12 pickup-drop-list {dropoff_css}">
                <div class="form-group clearfix">
                    <p class="no-pickup-drop-data text-danger {dropoff_no_data_css}">No data</p>
                    {dropoff_hopping_option}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- END hopping-block -->