<!-- BEGIN list-block -->

<div class="wrapper-block route-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-8"> 
                    <h1>Route</h1>
                </div>
                <div class="col-md-4">
                    <div class="button-box clearfix">
                        <button type="submit" class="button btn-delete disabled" name="delete" value="Delete" disabled="disabled">Delete Route</button>
                        <button type="button" class="button btn-add" name="add_new" onclick="location.href='{add_new_link}';">New Route</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-block">
                        {message}
                        <table id="route-table" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="15" data-orderable="false"><span class="move"></span></th>
                                    <th width="15" data-orderable="false"><input type="checkbox" name="check_all" autocomplete="off" /></th>
                                    <th>Route Name</th>
                                    <th data-orderable="false">Route</th>
                                    <th data-orderable="false">ETD</th>
                                    <th data-orderable="false">ETA</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function(){
            var table = jQuery('#route-table').DataTable({
                dom:"<'row'<'col-xs-5 col-sm-6'l><'col-xs-7 col-sm-6 text-right'f>r>t<'row'<'col-md-12'i><'col-md-12 text-center'p>>",
                pageLength   : parseInt('{limit}'),
                searching    : false,
                lengthChange : false,
                info         : false,
                processing   : true,
                serverSide   : true,
                deferRender  : true,
                order        : [],
                ajax         : {
                    url  : '{ajax_link}',
                    type : 'POST',
                    data : function(d){
                        d.pkey = 'load-data';
                    }
                },
                columns: [
                    {
                        data: 'rid', render: function ( data, type, row ){
                            return '<span class="move"></span>';
                        }
                    },
                    {
                        data: 'rid', render: function ( data, type, row ){
                            var html = 
                            '<input type="checkbox" name="select[]" class="title_checkbox select" value="' + data + '"  autocomplete="off" />';

                            return html;
                        }
                    },
                    {
                        data: 'rname', render: function ( data, type, row ){
                            var html = 
                            data +
                            '<p>'+
                                '<a id="edit-' + row.rid + '" rel="' + row.rid + '" href="' + row.edit_link + '">Edit  &raquo;</a>'+
                                '<a id="delete-' + row.rid + '" rel="' + row.rid + '" href="javascript:;" class="delete-route">Delete &raquo;</a>'+
                            '</p>';

                            return html;
                        }
                    },
                    { 
                        data: 'rroute', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'retd', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'reta', render: function ( data, type, row ) {
                            return data;
                        }
                    }
                ],
                rowReorder: {
                    selector: 'td:first-child'
                }
            });

            table.on( 'draw.dt', function () {
                action_link_func( table );
                table_block_action();
            });

            table.on( 'page.dt', function () {
                start = table.page.info().start;
            });

            table.on( 'row-reorder', function ( e, diff, edit ){
                if( diff.length > 0 )
                {
                    var data  = new Object;
                    var start = table.page.info().start;
                    
                    jQuery.each(diff, function(i, ele){
                        data[ table.row( diff[i].node ).data().rid ] = start + diff[i].newPosition;
                    });

                    var url = '{ajax_link}';
                    var prm = new Object();
                        prm.pkey    = 'reorder-data';
                        prm.reorder = data;
                        
                    jQuery.ajax({
                        method: 'POST',
                        url: url,
                        data: prm,
                        dataType : 'json',
                        success: function(e){
                            console.log(e);
                        }
                    });
                }
            });
        });

        function action_link_func( table )
        {
            jQuery('.delete-route').unbind();
            jQuery('.delete-route').on('click', function(){
                var url = '{ajax_link}';
                var prm = new Object();
                    prm.pkey = 'delete-route';
                    prm.rid  = jQuery(this).attr('rel');

                jQuery('<div></div>').dialog({
                    modal: true,
                    draggable: false,
                    resizable: false,
                    title: 'Notification',
                    open: function(){
                        jQuery(this).html('Are you sure want to delete this route?');
                    },
                    buttons: {
                        Yes: function(){
                            var popup = jQuery(this);

                            jQuery.ajax({
                                method: 'POST',
                                url: url,
                                data: prm,
                                dataType : 'json',
                                success: function(e){
                                    popup.dialog('close');

                                    if( e.result == 'success' )
                                    {                            
                                        table.ajax.reload(function(){
                                            action_link_func( table );                                            
                                            show_popup( 'Notification', 'This route has been successfully deleted' );
                                        }, false);
                                    }
                                    else if( e.result == 'error-query' )
                                    {
                                        if( e.error_code == 1451 )
                                        {
                                            show_popup( 'Warning', 'Sorry, This route can\'t be deleted. May already be used in another data' );
                                        }
                                        else
                                        {
                                            show_popup( 'Warning', 'Sorry, This route can\'t be deleted. Please try again later' );
                                        }
                                    }
                                },
                                error: function(e){
                                   popup.dialog('close');

                                   show_popup( 'Warning', 'Sorry, This route can\'t be deleted. Please try again later' );
                                }
                            });
                        },
                        No: function(){
                            jQuery( this ).dialog('close');
                        }
                    }
                });
            });
        }
    </script>
</div>

<!-- END list-block -->