<!-- BEGIN location-block -->

<div id="{row_id}" class="row">
    <div class="col col-md-12">
        <label>{label} <a class="delete"><img src="../l-plugins/ticket/images/delete.svg" /></a></label>
        <div class="form-group">
            <p class="subtitle">Location</p>
            <select class="location-opt" name="lcid[{type}][{i}]" style="min-width:250px;" autocomplete="off">
                {location_option}
            </select>
        </div>
        <div class="form-group">
            <p class="subtitle">{time_label}</p>
            <input id="rdtime-{type}-{i}" type="text" class="text text-small form-control timepicker" name="rdtime[{type}][{i}]" value="{rdtime}" autocomplete="off">
        </div>
        <div class="form-group">
            <p class="subtitle">{time_label_2}</p>
            <input id="rdtime2-{type}-{i}" type="text" class="text text-small form-control timepicker" name="rdtime2[{type}][{i}]" value="{rdtime2}" autocomplete="off">
        </div>
    </div>
    <div class="col col-md-12">
        <div class="clearfix">
            <p class="subtitle">{type_label}</p>
            <div class="checkbox">
                <input id="{checkbox_id}" name="{checkbox_name}" class="use-pickup-drop" autocomplete="off" type="checkbox" {check_opt}>
                <label for="{checkbox_id}">{include_label}</label>
            </div>
            <div class="col-md-12 pickup-drop-list {pickup_drop_css}">
                <div class="form-group clearfix">
                    <p class="no-pickup-drop-data text-danger {no_data_css}">No data</p>
                	{pickup_drop_location_option}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- END location-block -->