<!-- BEGIN pdf-block -->

<link rel="stylesheet" type="text/css" href="{style}">
<div class="boarding-pass-block">

	<!-- BEGIN pdf-loop -->
	<table width="100%" border="0">
		<tr>
			<td style="width:190px;">NAME :</td>
			<td style="width:190px;">NAME :</td>
			<td>NAME :</td>
		</tr>
		<tr>
			<td>{name}</td>
			<td>{name}</td>
			<td>{name2}</td>
		</tr>
		<tr>
			<td>NATIONALITY : {nationality}</td>
			<td>NATIONALITY : {nationality}</td>
			<td>NATIONALITY : {nationality2}</td>
		</tr>
		<tr>
			<td>TRIP :</td>
			<td>TRIP :</td>
			<td>TRIP :</td>
		</tr>
		<tr>
			<td>{route}</td>
			<td>{route}</td>
			<td>{route2}{via_by}</td>
		</tr>
		<tr>
			<td>DATE : {date}</td>
			<td>DATE : {date}</td>
			<td>DATE : {date}</td>
		</tr>

		{transport}

		<tr>
			<td>BOOK SOURCE :</td>
			<td>BOOK SOURCE :</td>
			<td>BOOK SOURCE :</td>
		</tr>
		<tr>
			<td>{source}</td>
			<td>{source}</td>
			<td>{source}</td>
		</tr>
		<tr>
			<td>PAYMENT :</td>
			<td>PAYMENT :</td>
			<td>TIME : {time}</td>
		</tr>
		<tr>
			<td>{payment}</td>
			<td>{payment}</td>
			<td>&nbsp;</td>
			<!--PRICE : IDR {price}-->
		</tr>
	</table>

	{pagebreak}
	<!-- END pdf-loop -->

</div>

<!-- END pdf-block -->