<!-- BEGIN cancel-block -->
<div class="wrapper-block revise-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12"> 
                <h2>Cancel Reservation</h2>
                <div class="sr-only">
                    <input type="text" name="route_type" value="{route_type}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#ticket" aria-controls="ticket" role="tab" data-toggle="tab">Cancel Ticket</a></li>
                    <li role="presentation"><a href="#trip" aria-controls="trip" role="tab" data-toggle="tab">Cancel Trip</a></li>
                    <li role="presentation"><a href="#passenger" aria-controls="passenger" role="tab" data-toggle="tab">Cancel Passenger</a></li>
                </ul>               
                <div class="tab-content">
                    <div role="tabpanel" class="wrapper-block booking-block booking-block-form tab-pane fade in active" id="ticket">
                        <form>
                            <div class="top-bar">
                            <div class="row">
                                <div class="col-md-6 text-left">
                                    <p class="small-title">Booking/Ticket #</p>
                                    <strong>{no_ticket}</strong>
                                </div>
                                <div class="col-md-6 text-right sr-only">
                                    <p class="small-title">Booking Status</p>
                                    <strong>{bstatus}</strong>
                                </div>
                            </div>
                            </div>
                            <div class="booked-detail">
                                <div class="row row-eq-height">
                                    <div class="col-md-4">
                                        <span class="small-title">Booking Date</span>
                                        <strong class="strong-text">{bdate}</strong>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="small-title">Booking Source</span>
                                        <strong class="strong-text">{bsource}</strong>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="small-title">Booking Email</span>
                                        <strong class="strong-text">{bemail}</strong>
                                    </div>
                                </div>
                            </div>  
                            <div class="detail-item">
                                <div class="detail-title">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="head-title">
                                                <h3>Trip Detail</h3>
                                                <strong class="subtitle">{btype}</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="detail-item">
                                    <div class="row {dep_css}">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="item-title">
                                                    <div class="col-md-2">
                                                        <span class="small-title">Departure</span>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <span class="small-title">Arrival</span>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <span class="small-title">Adult (IDR)</span>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <span class="small-title">Child (IDR)</span>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <span class="small-title">Infant (IDR)</span>
                                                    </div>
                                                    <div class="col-md-3 text-right">
                                                        <span class="small-title">Sub Total (IDR)</span>
                                                    </div>
                                                    <div class="col-md-2 text-right">
                                                        <span class="small-title">Status</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row {dep_css}">
                                        <!-- BEGIN dept-data-loop-block -->
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="item-list">
                                                    <div class="col-md-2">
                                                        <strong class="strong-text">{dep_bdfrom}</strong>
                                                        <p class="regular-text">{dep_bddate}, {dep_bddeparttime}</p>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <strong class="strong-text">{dep_bdto}</strong>
                                                        <p class="regular-text">{dep_bddate}, {dep_bdarrivetime}</p>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <strong class="strong-text">{dep_type}</strong>
                                                        <p class="regular-text">{dep_pa_display}</p>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <strong class="strong-text">{dep_type}</strong>
                                                        <p class="regular-text">{dep_pc_display}</p>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <strong class="strong-text">{dep_type}</strong>
                                                        <p class="regular-text">{dep_pi_display}</p>
                                                    </div>
                                                    <div class="col-md-3 text-right">
                                                        <p class="regular-text">{dep_pt_display}</p>
                                                    </div>
                                                    <div class="col-md-2 text-right">
                                                        <p class="strong-text">{dep_status}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END dept-data-loop-block -->
                                    </div>
                                    <div class="row {rtn_css}">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="item-title">
                                                    <div class="col-md-2">
                                                        <span class="small-title">Return</span>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <span class="small-title">Arrival</span>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <span class="small-title">Adult (IDR)</span>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <span class="small-title">Child (IDR)</span>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <span class="small-title">Infant (IDR)</span>
                                                    </div>
                                                    <div class="col-md-3 text-right">
                                                        <span class="small-title">Sub Total (IDR)</span>
                                                    </div>
                                                    <div class="col-md-2 text-right">
                                                        <span class="small-title">Status</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row {rtn_css}">
                                        <!-- BEGIN ret-data-loop-block -->
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="item-list">
                                                    <div class="col-md-2">
                                                        <strong class="strong-text">{rtn_bdfrom}</strong>
                                                        <p class="regular-text">{rtn_bddate}, {rtn_bddeparttime}</p>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <strong class="strong-text">{rtn_bdto}</strong>
                                                        <p class="regular-text">{rtn_bddate}, {rtn_bdarrivetime}</p>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <strong class="strong-text">{rtn_type}</strong>
                                                        <p class="regular-text">{rtn_pa_display}</p>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <strong class="strong-text">{trtn_ype}</strong>
                                                        <p class="regular-text">{rtn_pc_display}</p>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <strong class="strong-text">{rtn_type}</strong>
                                                        <p class="regular-text">{rtn_pi_display}</p>
                                                    </div>
                                                    <div class="col-md-3 text-right">
                                                        <p class="regular-text">{rtn_pt_display}</p>
                                                    </div>
                                                    <div class="col-md-2 text-right">
                                                        <p class="strong-text">{rtn_status}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END ret-data-loop-block -->
                                    </div>
                                </div>
                            </div>                             
                            <div class="booked-detail">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="head-title">
                                            <h3>Cancellation Ticket</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-eq-height">
                                    <div class="col-md-4">
                                        <span class="small-title">Reason of cancellation</span>
                                        <div class="text-left">
                                            <select name="tcreason" class="select-option rev-status form-control">
                                                <option value="Accident">Accident</option>
                                                <option value="Force Majeure">Force Majeure</option>
                                                <option value="Cancel Trip">Cancel Trip</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="small-title">Request Cancellation Date</span>
                                        <input type="text" class="text txt-date form-control" name="tcrcdate" value="{brcdate}" autocomplete="off" required>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="small-title">Cancellation Date</span>
                                        <input type="text" class="text txt-date form-control" name="tccdate" value="{bcdate}" autocomplete="off" required>
                                    </div>
                                </div>
                                <div class="row row-eq-height sr-only">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" name="tcoreason">
                                    </div>
                                </div>
                                <div class="row row-eq-height">
                                    <div class="col-md-12">
                                        <span class="small-title">Message of cancellation</span>
                                        <textarea class="form-control text" name="tcmessage" required>{bcmessage}</textarea>
                                    </div>
                                </div>
                                <div class="row row-eq-height">
                                    <div class="col-md-4">
                                        <span class="small-title">Total (IDR)</span>
                                        <input type="text" data-v-min="0" data-a-sep="." data-a-dec="," data-m-dec="0" class="text text-number form-control text-right" name="tcbtotal" value="{btotal}" autocomplete="off" readonly required>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="small-title">On Hand (IDR)</span>
                                        <input type="text" data-v-min="0" data-a-sep="." data-a-dec="," data-m-dec="0" class="text text-number form-control text-right" name="tconhand" value="{bonhandtotal}" autocomplete="off" readonly required>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="small-title">Refund (IDR)</span>
                                        <input type="text" data-v-min="0" data-a-sep="." data-a-dec="," data-m-dec="0" class="text text-number form-control text-right" name="tcbrefund" value="0" autocomplete="off" readonly required>
                                    </div>
                                </div> 
                                <div class="row row-eq-height">
                                    <div class="col-md-4">
                                        <span class="small-title">Cancellation percent fee (%)</span>
                                        <input type="text" data-v-min="0" data-a-sep="." data-a-dec="," data-m-dec="0" class="text text-number form-control" name="tccancelpercent" value="0" autocomplete="off" required>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="small-title">Cancellation fee (IDR)</span>
                                        <input type="text" data-v-min="0" data-a-sep="." data-a-dec="," data-m-dec="0" class="text text-number form-control text-right" name="tccancelfee" value="0" autocomplete="off" required>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="small-title">Transaction Fee (IDR)</span>
                                        <input type="text" data-v-min="0" data-a-sep="." data-a-dec="," data-m-dec="0" class="text text-number form-control text-right" name="tctransactionfee" value="0" autocomplete="off">
                                    </div>
                                </div> 
                                <br/>                                   
                            </div>
                            <div class="bottom-bar form-action">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn-save pull-left" name="save_cancelation_ticket">Save Cancellation</button>
                                        <a class="cancel pull-left" style="cursor:pointer;">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </form>                       
                    </div>
                    <div role="tabpanel" class="wrapper-block booking-block booking-block-form tab-pane" id="trip">
                        <form>
                            <div class="top-bar">
                            <div class="row">
                                <div class="col-md-6 text-left">
                                    <p class="small-title">Booking/Ticket #</p>
                                    <strong>{no_ticket}</strong>
                                </div>
                                <div class="col-md-6 text-right sr-only">
                                    <p class="small-title">Booking Status</p>
                                    <strong>{bstatus}</strong>
                                </div>                               
                            </div>
                            </div>
                            <div class="booked-detail">
                                <div class="row row-eq-height">
                                    <div class="col-md-6">
                                        <span class="small-title">Booking Date</span>
                                        <strong class="strong-text">{bdate}</strong>
                                    </div>
                                    <div class="col-md-6">
                                        <span class="small-title">Booking Source</span>
                                        <strong class="strong-text">{bsource}</strong>
                                    </div>
                                    <div class="col-md-6">
                                        <span class="small-title">Booking Email</span>
                                        <strong class="strong-text">{bemail}</strong>
                                    </div>
                                </div>
                            </div> 
                            <div class="detail-item">
                                <div class="detail-title">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="head-title">
                                                <h3>Trip Detail</h3>
                                                <strong class="subtitle">{btype}</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="detail-item">
                                    <div class="row {dep_css}">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="item-title">
                                                    <div class="col-md-2">
                                                        <span class="small-title">Departure</span>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <span class="small-title">Arrival</span>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <span class="small-title">Adult (IDR)</span>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <span class="small-title">Child (IDR)</span>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <span class="small-title">Infant (IDR)</span>
                                                    </div>
                                                    <div class="col-md-3 text-right">
                                                        <span class="small-title">Sub Total (IDR)</span>
                                                    </div>
                                                    <div class="col-md-2 text-right">
                                                        <span class="small-title">Status</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row {dep_css}">

                                        <!-- BEGIN dept-data-loop-block -->

                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="item-list">
                                                    <div class="col-md-2">
                                                        <strong class="strong-text">{dep_bdfrom}</strong>
                                                        <p class="regular-text">{dep_bddate}, {dep_bddeparttime}</p>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <strong class="strong-text">{dep_bdto}</strong>
                                                        <p class="regular-text">{dep_bddate}, {dep_bdarrivetime}</p>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <strong class="strong-text">{dep_type}</strong>
                                                        <p class="regular-text">{dep_pa_display}</p>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <strong class="strong-text">{dep_type}</strong>
                                                        <p class="regular-text">{dep_pc_display}</p>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <strong class="strong-text">{dep_type}</strong>
                                                        <p class="regular-text">{dep_pi_display}</p>
                                                    </div>
                                                    <div class="col-md-3 text-right">
                                                        <p class="regular-text">{dep_pt_display}</p>
                                                    </div>
                                                    <div class="col-md-2 text-right">
                                                        <p class="strong-text">{dep_status}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- END dept-data-loop-block -->

                                    </div>
                                    <div class="row {rtn_css}">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="item-title">
                                                    <div class="col-md-2">
                                                        <span class="small-title">Return</span>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <span class="small-title">Arrival</span>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <span class="small-title">Adult (IDR)</span>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <span class="small-title">Child (IDR)</span>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <span class="small-title">Infant (IDR)</span>
                                                    </div>
                                                    <div class="col-md-3 text-right">
                                                        <span class="small-title">Sub Total (IDR)</span>
                                                    </div>
                                                    <div class="col-md-2 text-right">
                                                        <span class="small-title">Status</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row {rtn_css}">

                                        <!-- BEGIN ret-data-loop-block -->

                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="item-list">
                                                    <div class="col-md-2">
                                                        <strong class="strong-text">{rtn_bdfrom}</strong>
                                                        <p class="regular-text">{rtn_bddate}, {rtn_bddeparttime}</p>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <strong class="strong-text">{rtn_bdto}</strong>
                                                        <p class="regular-text">{rtn_bddate}, {rtn_bdarrivetime}</p>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <strong class="strong-text">{rtn_type}</strong>
                                                        <p class="regular-text">{rtn_pa_display}</p>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <strong class="strong-text">{trtn_ype}</strong>
                                                        <p class="regular-text">{rtn_pc_display}</p>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <strong class="strong-text">{rtn_type}</strong>
                                                        <p class="regular-text">{rtn_pi_display}</p>
                                                    </div>
                                                    <div class="col-md-3 text-right">
                                                        <p class="regular-text">{rtn_pt_display}</p>
                                                    </div>
                                                    <div class="col-md-2 text-right">
                                                        <p class="strong-text">{rtn_status}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- END ret-data-loop-block -->

                                    </div>
                                </div>
                            </div>
                            <div class="booked-detail">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="head-title">
                                            <h3>Cancellation Trip</h3>
                                        </div>
                                    </div>
                                </div> 
                                <div class="row row-eq-height">
                                    <div class="col-md-4">
                                        <span class="small-title">Reason of cancellation</span>
                                        <div class="text-left">
                                            <select name="trreason" class="select-option rev-status form-control">
                                                <option value="Accident">Accident</option>
                                                <option value="Force Majeure">Force Majeure</option>
                                                <option value="Cancel Trip">Cancel Trip</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="small-title">Request Cancellation Date</span>
                                        <input type="text" class="text txt-date form-control" name="trrcdate" value="{brcdate}" autocomplete="off" required>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="small-title">Cancellation Date</span>
                                        <input type="text" class="text txt-date form-control" name="trdate" value="{bcdate}" autocomplete="off" required>
                                    </div>
                                </div>
                                <div class="row row-eq-height sr-only">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" name="troreason">
                                    </div>
                                </div>
                                <div class="row row-eq-height">
                                    <div class="col-md-12">
                                        <span class="small-title">Message of cancellation</span>
                                        <textarea class="form-control text" name="trmessage" required>{bcmessage}</textarea>
                                    </div>
                                </div>                           
                                <div class="row row-eq-height">
                                    <div class="col-md-4 sr-only">
                                        <span class="small-title">Booking Type</span>
                                        <input type="text" class="form-control" name="trbtype" value="{bdtype}" readonly>
                                    </div>
                                    <div class="col-md-8">
                                        <span class="small-title">Trip Cancellation</span>
                                        <select name="trcancel" class="select-option rev-status form-control" required>
                                            {trip}
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="small-title">Price per Trip</span>
                                        <input type="text" data-v-min="0" data-a-sep="." data-a-dec="," data-m-dec="0" class="text text-number form-control text-right" name="trprice" value="0" autocomplete="off" readonly required>
                                    </div>
                                </div>
                                <div class="row row-eq-height">
                                    <div class="col-md-4">
                                        <span class="small-title">Total (IDR)</span>
                                        <input type="text" data-v-min="0" data-a-sep="." data-a-dec="," data-m-dec="0" class="text text-number form-control text-right" name="trbtotal" value="{btotal}" autocomplete="off" required>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="small-title">On Hand (IDR)</span>
                                        <input type="text" data-v-min="0" data-a-sep="." data-a-dec="," data-m-dec="0" class="text text-number form-control text-right" name="tronhand" value="{bonhandtotal}" autocomplete="off" readonly required>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="small-title">Refund (IDR)</span>
                                        <input type="text" data-v-min="0" data-a-sep="." data-a-dec="," data-m-dec="0" class="text text-number form-control text-right" name="trrefund" value="0" autocomplete="off" readonly required>
                                    </div>
                                </div> 
                                <div class="row row-eq-height">
                                    <div class="col-md-4">
                                        <span class="small-title">Cancellation percent fee (%)</span>
                                        <input type="text" data-v-min="0" data-a-sep="." data-a-dec="," data-m-dec="0" id="tt" class="text text-number form-control" name="trcancelpercent" value="0" autocomplete="off" required>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="small-title">Cancellation fee (IDR)</span>
                                        <input type="text" data-v-min="0" data-a-sep="." data-a-dec="," data-m-dec="0" class="text text-number form-control text-right" name="trcancelfee" value="0" autocomplete="off" required>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="small-title">Transaction Fee (IDR)</span>
                                        <input type="text" data-v-min="0" data-a-sep="." data-a-dec="," data-m-dec="0" class="text text-number form-control text-right" name="trtransactionfee" value="0" autocomplete="off" required>
                                    </div>
                                </div>                              
                                <br/>                                 
                            </div>
                            <div class="bottom-bar form-action">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn-save pull-left" name="save_cancelation_trip">Save Cancellation</button>
                                        <a class="cancel pull-left" style="cursor:pointer;">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </form>                        
                    </div>
                    <div role="tabpanel" class="wrapper-block booking-block booking-block-form tab-pane" id="passenger">
                        <div class="top-bar">
                            <div class="row">
                                <div class="col-md-6 text-left">
                                    <p class="small-title">Booking/Ticket #</p>
                                    <strong>{no_ticket}</strong>
                                </div>
                                <div class="col-md-6 text-right sr-only">
                                    <p class="small-title">Booking Status</p>
                                    <strong>{bstatus}</strong>
                                </div>
                            </div>
                        </div>
                        <div class="booked-detail">
                            <div class="row row-eq-height">
                                <div class="col-md-6">
                                    <span class="small-title">Booking Date</span>
                                    <strong class="strong-text">{bdate}</strong>
                                </div>
                                <div class="col-md-6">
                                    <span class="small-title">Booking Source</span>
                                    <strong class="strong-text">{bsource}</strong>
                                </div>
                                <div class="col-md-6">
                                    <span class="small-title">Booking Email</span>
                                    <strong class="strong-text">{bemail}</strong>
                                </div>
                            </div>
                        </div> 
                        <form method="POST" name="cancelation_pass_form">
                            <div class="booked-detail">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="head-title">
                                            <h3>Cancellation Passanger</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-eq-height">
                                    <div class="col-md-4">
                                        <span class="small-title">Reason of cancellation</span>
                                        <div class="text-left">
                                            <select name="pcreason" class="select-option rev-status form-control">
                                                <option value="Accident">Accident</option>
                                                <option value="Force Majeure">Force Majeure</option>
                                                <option value="Cancel Trip">Cancel Trip</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="small-title">Request Cancellation Date</span>
                                        <input type="text" class="text txt-date form-control" name="prcdate" value="{brcdate}" autocomplete="off">
                                    </div>
                                    <div class="col-md-4">
                                        <span class="small-title">Cancellation Date</span>
                                        <input type="text" class="text txt-date form-control" name="pcdate" value="{bcdate}" autocomplete="off">
                                    </div>
                                </div>                                
                                <div class="row row-eq-height sr-only">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" name="poreason">
                                    </div>
                                </div>
                                <div class="row row-eq-height">
                                    <div class="col-md-12">
                                        <span class="small-title">Message of cancellation</span>
                                        <textarea class="form-control text" name="pmessage" required>{bcmessage}</textarea>
                                    </div>
                                </div>
                                <div class="row row-eq-height">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12"> 
                                                <table class="table">
                                                    {dep_name}
                                                </table>
                                                <table class="table">
                                                    {ret_name}
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                   
                            </div>
                            <div class="bottom-bar form-action">
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="hidden" name="pkey" value="booking-cancelation">
                                        <input type="hidden" name="ctype" value="passanger">
                                        <input type="hidden" name="bid" value="{bid}">
                                        <button type="button" class="btn-save pull-left" name="save_cancelation_passanger">Save Cancellation</button>
                                        <a class="cancel pull-left" style="cursor:pointer;">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div> 
                <div class="sr-only">
                    <input type="text" class="form-control" name="bid" value="{bid}">
                    <input type="text" class="form-control" name="filter" value="{filter}">
                    <input type="text" class="form-control" name="no_ticket" value="{no_ticket}">
                    <input type="text" class="form-control" name="state_url" value="{state_url}">
                    <input type="text" class="form-control" name="agtr" value="{agtr}">
                </div>                    
            </div>
        </div>
    </div>
    <script type="text/javascript">
        jQuery(document).ready(function(){
            action_cancel_ticket();
            action_cancel_trip();
            action_cancel_passanger();

            jQuery('.bottom-bar .cancel').on('click', function(){
                var bfilter = jQuery('[name=filter]').val();
                window.location = jQuery('[name=state_url]').val() + '&sub=booking' + ( bfilter == '' ? '' : '&prm=' + bfilter ) ;

                return false;
            });
        });

        function action_cancel_ticket(){
            jQuery('[name=tccdate]').datetimepicker({
                controlType: 'select',
                dateFormat:'dd M yy',
                timeFormat: 'HH:mm:ss',
                changeMonth: true,
                changeYear: true
            });

            jQuery('[name=tcrcdate]').datetimepicker({
                controlType: 'select',
                dateFormat:'dd M yy',
                timeFormat: 'HH:mm:ss',
                changeMonth: true,
                changeYear: true
            });
            
            jQuery('[name=tcreason]').unbind();
            jQuery('[name=tcreason]').on('change', function(){
                if( jQuery(this).val() == 'Other' )
                {
                    jQuery('[name=tcoreason]').parent().parent().removeClass('sr-only');
                }
                else
                {
                    jQuery('[name=tcoreason]').parent().parent().addClass('sr-only');
                }
            });

            jQuery('[name=tccancelpercent]').unbind();
            jQuery('[name=tccancelpercent]').on('keyup', function(event){
                var $this            = jQuery(this);
                                       $this.val($this.val().replace(/[^\d.]/g, ''));
                var btotal           = jQuery('[name=tcbtotal]').val();
                var onhand           = jQuery('[name=tconhand]').val() != '' ? jQuery('[name=tconhand]').val() : 0;
                var brefund          = jQuery('[name=tcbrefund]').val() != '' ? jQuery('[name=tcbrefund]').val() : 0;
                var trtransactionfee = jQuery('[name=tctransactionfee]').val() != '' ? jQuery('[name=tctransactionfee]').val() : 0;
                var result           = ( jQuery('[name=tccancelpercent]').val() * btotal ) / 100;

                if ( onhand != 0 ) {
                    brefund = parseInt(onhand) - (parseInt(result) + parseInt(trtransactionfee)); 
                }
                    
                jQuery('[name=tccancelfee]').val( result || '' );
                jQuery('[name=tcbrefund]').val( brefund );
            });

            jQuery('[name=tccancelfee]').unbind();
            jQuery('[name=tccancelfee]').on('keyup', function(){
                var $this            = jQuery(this);
                                       $this.val($this.val().replace(/[^\d.]/g, ''));
                var btotal           = jQuery('[name=tcbtotal]').val();
                var onhand           = jQuery('[name=tconhand]').val() != '' ? jQuery('[name=tconhand]').val() : 0;
                var brefund          = jQuery('[name=tcbrefund]').val() != '' ? jQuery('[name=tcbrefund]').val() : 0;
                var trtransactionfee = jQuery('[name=tctransactionfee]').val() != '' ? jQuery('[name=tctransactionfee]').val() : 0;
                var result           = jQuery(this).val() / btotal;
                var cancelfee        = jQuery(this).val() != '' ? jQuery(this).val() : 0;

                if ( onhand != 0 ) {
                    brefund = parseInt(onhand) - ( parseInt( cancelfee ) + parseInt( trtransactionfee ) );
                }

                jQuery('[name=tccancelpercent]').val( ( result * 100 ).toFixed(2) || '' );
                jQuery('[name=tcbrefund]').val( brefund );
            });

            jQuery('[name=tctransactionfee]').unbind();
            jQuery('[name=tctransactionfee]').on('keyup', function(){
                var $this            = jQuery(this);
                                       $this.val($this.val().replace(/[^\d.]/g, ''));
                var onhand           = jQuery('[name=tconhand]').val() != '' ? jQuery('[name=tconhand]').val() : 0;
                var brefund          = jQuery('[name=tcbrefund]').val() != '' ? jQuery('[name=tcbrefund]').val() : 0;
                var trtransactionfee = jQuery('[name=tctransactionfee]').val() != '' ? jQuery('[name=tctransactionfee]').val() : 0;
                var cancelfee        = jQuery('[name=tccancelfee]').val() != '' ? jQuery('[name=tccancelfee]').val() : 0;

                if ( onhand != 0 ) {
                    brefund = parseInt(onhand) - (parseInt(cancelfee) + parseInt(trtransactionfee));
                }

                jQuery('[name=tcbrefund]').val( brefund );
            });

            jQuery('[name=save_cancelation_ticket]').unbind();
            jQuery('[name=save_cancelation_ticket]').on('click', function(){

                var error = 0;

                if( jQuery('[name=tcmessage]').val() == '' )
                {
                    error++;
                }
                if( jQuery('[name=tccancelpercent]').val() == '' )
                {
                    error++;
                }
                if( jQuery('[name=tccancelfee]').val() == '' )
                {
                    error++;
                }

                if( error == 0 )
                {
                    if ( jQuery('[name=agtr]').val() == '1' ) 
                    {
                        jQuery('<div></div>').dialog({
                            modal: true,
                            draggable: false,
                            resizable: false,
                            title: 'Confirmation',
                            open: function()
                            {
                                jQuery(this).parent().find('.ui-dialog-titlebar-close').hide(); 

                                jQuery(this).html( 'This booking already has a previous payment from the agent. <br/>Are you sure want to cancel this booking?' );                                
                            },
                            buttons:
                            {
                                Yes: function()
                                {
                                    jQuery(this).dialog('close');

                                    submit_cancellation_ticket();
                                },
                                No: function()
                                {
                                    jQuery( this ).dialog('close');                                     
                                }
                            }
                        });
                    }
                    else
                    {
                        submit_cancellation_ticket();
                    }
                }

                return false;
            });
        }

        function action_cancel_trip(){
            jQuery('[name=trrcdate]').datetimepicker({
                controlType: 'select',
                dateFormat:'dd M yy',
                timeFormat: 'HH:mm:ss',
                changeMonth: true,
                changeYear: true
            });

            jQuery('[name=trdate]').datetimepicker({
                controlType: 'select',
                dateFormat:'dd M yy',
                timeFormat: 'HH:mm:ss',
                changeMonth: true,
                changeYear: true
            });

            jQuery('[name=trreason]').unbind();
            jQuery('[name=trreason]').on('change', function(){
                if( jQuery(this).val() == 'Other' )
                {
                    jQuery('[name=troreason]').parent().parent().removeClass('sr-only');
                }
                else
                {
                    jQuery('[name=troreason]').parent().parent().addClass('sr-only');
                }
            });

            jQuery('[name=trcancel]').unbind();
            jQuery('[name=trcancel]').on('change', function(){
                if ( jQuery('[name=trcancel]').val() != '' ) {
                    var percent          = jQuery('[name=trcancelpercent]').val() != '' ? jQuery('[name=trcancelpercent]').val() : 0;
                    var trtransactionfee = jQuery('[name=trtransactionfee]').val() != '' ? jQuery('[name=trtransactionfee]').val() : 0;
                    var onhand           = jQuery('[name=tronhand]').val() != '' ? jQuery('[name=tronhand]').val() : 0;
                    var price            = jQuery(this).find(':selected').data('price') != '' ? jQuery(this).find(':selected').data('price') : 0;
                    var cancelfee        = ( jQuery(this).find(':selected').data('price') * percent ) / 100;
                    var brefund          = 0;

                    if ( onhand != 0 ) {
                        brefund = parseInt(price) - ( parseInt(cancelfee) + parseInt(trtransactionfee) );
                    }

                    jQuery('[name=trprice]').val( jQuery(this).find(':selected').data('price') );
                    jQuery('[name=trcancelfee]').val( cancelfee || '0' );
                    jQuery('[name=trrefund]').val( brefund );
                } else {
                    jQuery('[name=trprice]').val(0);
                    jQuery('[name=trcancelfee]').val(0);
                }  
            });

            jQuery('[name=trcancelpercent]').unbind();
            jQuery('[name=trcancelpercent]').on('keyup', function(){
                var $this            = jQuery(this);
                                       $this.val($this.val().replace(/[^\d.]/g, ''));
                var ttotal           = jQuery('[name=trprice]').val() != '' ? jQuery('[name=trprice]').val() : 0;
                var onhand           = jQuery('[name=tronhand]').val() != '' ? jQuery('[name=tronhand]').val() : 0;
                var trtransactionfee = jQuery('[name=trtransactionfee]').val() != '' ? jQuery('[name=trtransactionfee]').val() : 0;
                var result           = 0;
                var brefund          = 0;

                if ( ttotal != 0 ) 
                {
                    result = ( jQuery('[name=trcancelpercent]').val() * ttotal ) / 100;
                }

                if ( onhand != 0 ) {
                    brefund = parseInt(ttotal) - (parseInt(result) + parseInt(trtransactionfee)); 
                }
                    
                jQuery('[name=trcancelfee]').val( result || '' );
                jQuery('[name=trrefund]').val( brefund );
            });

            jQuery('[name=trcancelfee]').unbind();
            jQuery('[name=trcancelfee]').on('keyup', function(){
                var $this            = jQuery(this);
                                       $this.val($this.val().replace(/[^\d.]/g, ''));
                var ttotal           = jQuery('[name=trprice]').val() != '' ? jQuery('[name=trprice]').val() : 0;
                var onhand           = jQuery('[name=tronhand]').val() != '' ? jQuery('[name=tronhand]').val() : 0;
                var trcancelfee      = jQuery(this).val() != '' ? jQuery(this).val() : 0;
                var trtransactionfee = jQuery('[name=trtransactionfee]').val() != '' ? jQuery('[name=trtransactionfee]').val() : 0;
                var result           = 0;
                var brefund          = 0;

                if ( ttotal != 0 ) 
                {                   
                    result           = jQuery('[name=trcancelfee]').val() / ttotal;
                }                
                
                if ( onhand != 0 ) {
                    brefund = parseInt(ttotal) - (parseInt(trcancelfee) + parseInt(trtransactionfee));
                }

                jQuery('[name=trcancelpercent]').val( ( result * 100 ).toFixed(2) || '' );
                jQuery('[name=trrefund]').val( brefund );
            });

            jQuery('[name=trtransactionfee]').unbind();
            jQuery('[name=trtransactionfee]').on('keyup', function(){
                var $this            = jQuery(this);
                                       $this.val($this.val().replace(/[^\d.]/g, ''));
                var ttotal           = jQuery('[name=trprice]').val() != '' ? jQuery('[name=trprice]').val() : 0;
                var onhand           = jQuery('[name=tronhand]').val() != '' ? jQuery('[name=tronhand]').val() : 0;
                var brefund          = jQuery('[name=trrefund]').val() != '' ? jQuery('[name=trrefund]').val() : 0;
                var trtransactionfee = jQuery('[name=trtransactionfee]').val() != '' ? jQuery('[name=trtransactionfee]').val() : 0;
                var trcancelfee      = jQuery('[name=trcancelfee]').val() != '' ? jQuery('[name=trcancelfee]').val() : 0;

                if ( onhand != 0 ) {
                    brefund = parseInt(ttotal) - ( parseInt(trcancelfee) + parseInt(trtransactionfee) );
                }

                jQuery('[name=trrefund]').val( brefund );
            });

            jQuery('[name=save_cancelation_trip]').unbind();
            jQuery('[name=save_cancelation_trip]').on('click', function(){
                var error = 0;

                if( jQuery('[name=trprice]').val() == '' )
                {
                    error++;
                }
                if( jQuery('[name=trrefund]').val() == '' )
                {
                    error++;
                }
                if( jQuery('[name=trcancelpercent]').val() == '' )
                {
                    error++;
                }
                if( jQuery('[name=trcancelfee]').val() == '' )
                {
                    error++;
                }
                if( jQuery('[name=trmessage]').val() == '' )
                {
                    error++;
                }
                if( jQuery('[name=trcancel]').val() == '' )
                {
                    error++;
                }

                if( error == 0 )
                {
                    if ( jQuery('[name=agtr]').val() == '1' ) 
                    {
                        jQuery('<div></div>').dialog({
                            modal: true,
                            draggable: false,
                            resizable: false,
                            title: 'Confirmation',
                            open: function()
                            {
                                jQuery(this).parent().find('.ui-dialog-titlebar-close').hide(); 

                                jQuery(this).html( 'This booking already has a previous payment from the agent. <br/>Are you sure want to cancel this trip?' );                                
                            },
                            buttons:
                            {
                                Yes: function()
                                {
                                    jQuery(this).dialog('close');

                                    submit_cancellation_trip();
                                },
                                No: function()
                                {
                                    jQuery( this ).dialog('close');                                     
                                }
                            }
                        });
                    }
                    else
                    {
                        submit_cancellation_trip();
                    }
                }

                return false;                
            });
        }

        function action_cancel_passanger(){

            jQuery('[name=prcdate]').datetimepicker({
                controlType: 'select',
                dateFormat:'dd M yy',
                timeFormat: 'HH:mm:ss',
                changeMonth: true,
                changeYear: true
            });

            jQuery('[name=pcdate]').datetimepicker({
                controlType: 'select',
                dateFormat:'dd M yy',
                timeFormat: 'HH:mm:ss',
                changeMonth: true,
                changeYear: true
            });

            jQuery('[name=pcreason]').unbind();
            jQuery('[name=pcreason]').on('change', function(){
                if( jQuery(this).val() == 'Other' )
                {
                    jQuery('[name=poreason]').parent().parent().removeClass('sr-only');
                }
                else
                {
                    jQuery('[name=poreason]').parent().parent().addClass('sr-only');
                }
            });

            jQuery('[name=save_cancelation_passanger]').unbind();
            jQuery('[name=save_cancelation_passanger]').on('click', function(){
                var error = 0;

                if( jQuery('[name=pmessage]').val() == '' )
                {
                    error++;
                }

                if( error == 0 )
                {
                    if ( jQuery('[name=agtr]').val() == '1' ) 
                    {
                        jQuery('<div></div>').dialog({
                            modal: true,
                            draggable: false,
                            resizable: false,
                            title: 'Confirmation',
                            open: function()
                            {
                                jQuery(this).parent().find('.ui-dialog-titlebar-close').hide(); 

                                jQuery(this).html( 'This booking already has a previous payment from the agent. <br/>Are you sure want to cancel this passanger?' );                                
                            },
                            buttons:
                            {
                                Yes: function()
                                {
                                    jQuery(this).dialog('close');

                                    submit_cancellation_passanger();
                                },
                                No: function()
                                {
                                    jQuery( this ).dialog('close');                                     
                                }
                            }
                        });
                    }
                    else
                    {
                        submit_cancellation_passanger();
                    }
                }

                return false;
            });
        }

        function submit_cancellation_ticket(){
            var prm = new Object();
                prm.pkey             = 'booking-cancelation';
                prm.ctype            = 'ticket';       
                prm.bid              = jQuery('[name=bid]').val();
                prm.tccdate          = jQuery('[name=tccdate]').val();
                prm.tcrcdate         = jQuery('[name=tcrcdate]').val();                     
                prm.tcreason         = jQuery('[name=tcreason]').val();
                prm.tcoreason        = jQuery('[name=tcoreason]').val(); 
                prm.tcmessage        = jQuery('[name=tcmessage]').val();
                prm.tcbtotal         = jQuery('[name=tcbtotal]').val();
                prm.tconhand         = jQuery('[name=tconhand]').val();
                prm.tcbrefund        = jQuery('[name=tcbrefund]').val(); 
                prm.tccancelpercent  = jQuery('[name=tccancelpercent]').val();
                prm.tccancelfee      = jQuery('[name=tccancelfee]').val();
                prm.tctransactionfee = jQuery('[name=tctransactionfee]').val();                 
            jQuery.ajax({
                method: 'POST',
                url: '{ajax_url}',
                data: prm,
                dataType : 'json',
                success: function( e ){
                    console.log(e);

                    if( e.result == 'success' )
                    {
                        show_popup('Info', 'Your tiket with number "<b>#' + jQuery('[name=no_ticket]').val() + '</b>" has been canceled', 'window.location.href = "{state_url}&filter={filter}"' );
                    }
                    else
                    {
                        show_popup('Warning', 'Sorry you can\'t canceled this reservation at this moment. Please try again later');
                    }
                },         
                beforeSend: function(){
                    jQuery(".section-overlay").show();
                },
                complete:function(data){
                    jQuery(".section-overlay").hide();
                },
                error: function( e ){                            
                    show_popup('Warning', 'Sorry you can\'t canceled this reservation at this moment. Please try again later');
                }
            });
        }

        function submit_cancellation_trip(){
            var prm = new Object();
                prm.pkey             = 'booking-cancelation';
                prm.ctype            = 'trip';       
                prm.bid              = jQuery('[name=bid]').val(); 
                prm.trreason         = jQuery('[name=trreason]').val();
                prm.troreason        = jQuery('[name=troreason]').val(); 
                prm.trmessage        = jQuery('[name=trmessage]').val();
                prm.trcancel         = jQuery('[name=trcancel]').val();
                prm.trprice          = jQuery('[name=trprice]').val();
                prm.tronhand         = jQuery('[name=tronhand]').val(); 
                prm.trrefund         = jQuery('[name=trrefund]').val();
                prm.trcancelpercent  = jQuery('[name=trcancelpercent]').val();
                prm.trcancelfee      = jQuery('[name=trcancelfee]').val();     
                prm.trtransactionfee = jQuery('[name=trtransactionfee]').val(); 
                prm.trbtype          = jQuery('[name=trbtype]').val(); 
                prm.bdid             = jQuery('[name=trcancel]').find(':selected').data('id');
                prm.trrcdate         = jQuery('[name=trrcdate]').val();
                prm.trdate           = jQuery('[name=trdate]').val();              
            jQuery.ajax({
                method: 'POST',
                url: '{ajax_url}',
                data: prm,
                dataType : 'json',
                success: function( e ){
                    if( e.result == 'success' )
                    {
                        show_popup('Info', 'Your tiket with number "<b>#' + jQuery('[name=no_ticket]').val() + '</b>" has been canceled trip', 'window.location.href = "{state_url}&filter={filter}"' );
                    }
                    else
                    {
                        show_popup('Warning', 'Sorry you can\'t canceled this reservation at this moment. Please try again later');
                    }
                },         
                beforeSend: function(){
                    jQuery(".section-overlay").show();
                },
                complete:function(data){
                    jQuery(".section-overlay").hide();
                },
                error: function( e ){                            
                    show_popup('Warning', 'Sorry you can\'t canceled this reservation at this moment. Please try again later');
                }
            });
        }

        function submit_cancellation_passanger(){
            var prm = jQuery('[name=cancelation_pass_form]').serializeArray();
            jQuery.ajax({
                method: 'POST',
                url: '{ajax_url}',
                data: prm,
                dataType : 'json',
                success: function( e ){
                    if( e.result == 'success' )
                    {
                        show_popup('Info', 'Your tiket with number "<b>#' + jQuery('[name=no_ticket]').val() + '</b>" has been canceled passanger', 'window.location.href = "{state_url}&filter={filter}"' );
                    }
                    else
                    {
                        show_popup('Warning', 'Sorry you can\'t canceled this reservation at this moment. Please try again later');
                    }
                },         
                beforeSend: function(){
                    jQuery(".section-overlay").show();
                },
                complete:function(data){
                    jQuery(".section-overlay").hide();
                },
                error: function( e ){                            
                    show_popup('Warning', 'Sorry you can\'t canceled this reservation at this moment. Please try again later');
                }
            });
        }
    </script>
</div>
<!-- END cancel-block -->