<!-- BEGIN cancel-block -->
<div class="wrapper-block booking-block booking-block-detail cancel-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12"> 
                <h2>Cancel Ticket #{bticket}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active">
                        <form action="" method="POST" name="cancel_booking_form">
							<div class="top-bar">
								<div class="row">
									<div class="col-md-4">
										<p class="small-title">Booking/Ticket #</p>
										<strong class="strong-text">{bticket}</strong>
									</div>
									<div class="col-md-4">
										<p class="small-title">Booking Status</p>
                                    	<strong class="strong-text">{bstatus}</strong>
									</div>
								</div>
							</div>
                            <div class="booked-detail">
								<div class="inner">
									<div class="row row-eq-height">
                                    	<div class="col-md-4">
											<span class="small-title">Booking Date</span>
											<strong class="strong-text">{bdate}</strong>
										</div>
                                    	<div class="col-md-4">
											<span class="small-title">Booking Source</span>
											<strong class="strong-text">{bsource}</strong>
										</div>
	                                    <div class="col-md-4">
	                                        <span class="small-title">Booking Email</span>
	                                        <strong class="strong-text">{bemail}</strong>
	                                    </div>
									</div>
								</div>
                            </div>  
							<div class="trip-detail">
                                <div class="detail-title">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="head-title">
                                                <h3>Trip Detail</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="detail-item">
									<!-- BEGIN departure-trip-block -->
									<div class="row row-block">
										<div class="col-md-12">
											<div class="wrapp-item-block wrap-item-depart">
												<div class="row">
													<div class="col-md-12">
														<h4>Departure Trip</h4>
													</div>
												</div>
												<div class="row">
													<!-- BEGIN departure-trip-loop-block -->
							    					<div class="col-md-12">
														<div class="item-list" data-id="{dep_bdid}">
													        <div class="row">
													            <div class="col-md-2">
													                <span class="small-title">Departure</span>
																	<strong class="strong-text">{dep_bdfrom}</strong>
																	<p class="regular-text">{dep_bddate}, {dep_bddeparttime}</p>
																</div>
																<div class="col-md-2">
						                							<span class="small-title">Arrival</span>
																	<strong class="strong-text">{dep_bdto}</strong>
																	<p class="regular-text">{dep_bddate}, {dep_bdarrivetime}</p>
																</div>
																<div class="col-md-2">
						                        					<span class="small-title">Adult (IDR)</span>
																	<strong class="regular-text">{dep_pa_display}</strong>
																	<p class="regular-text">{dep_pa_after_discount}</p>
																</div>
																<div class="col-md-2">
						                        					<span class="small-title">Child (IDR)</span>
																	<strong class="regular-text">{dep_pc_display}</strong>
																	<p class="regular-text">{dep_pc_after_discount}</p>
																</div>
																<div class="col-md-2">
						                        					<span class="small-title">Infant (IDR)</span>
																	<strong class="regular-text">{dep_pi_display}</strong>
																	<p class="regular-text">{dep_pi_after_discount}</p>
																</div>
																<div class="col-md-2 text-right">
						                							<span class="small-title">Sub Total (IDR)</span>
																	<p class="regular-text">{dep_pt_display}</p>
																</div>
															</div>

															<div class="detail-transport detail-pickup {dep_transport_css} {dep_trans_css} clearfix">
													        	<div class="row">
																	{dep_transport}
																</div>
															</div>

															{dep_add_ons}
															{dep_passenger}

															<div class="trip-status trip-status-{dep_bdid}">
																<div class="row">
																	<div class="col-md-10 text-right">
							                							<span class="small-title">Payment Status</span>
																		<p class="strong-text">{dep_payment_status}</p>
																	</div>
																	<div class="col-md-2 text-right">
							                							<span class="small-title">Trip Status</span>
							                							<p class="toggle-wrapp">
																			<input id="toogle-check-trip-{dep_bdid}" type="checkbox" class="toogle-check red toogle-check-trip" data-trip-id="{dep_bdid}" name="trip[{dep_bdid}][bdstatus]" {dep_trip_status} autocomplete="off">
																			<label for="toogle-check-trip-{dep_bdid}" data-off="Active" data-on="Cancelled"></label>
																		</p>
																	</div>
																	<div class="col-md-12 col-field {dep_trip_wrapp}">
																		<div class="row">
																			<div class="col-md-12 col-row">
																				<div class="col-md-10 text-right">
								                									<span class="small-title">Onhand</span>
								                								</div>
																				<div class="col-md-2">
													                                <div class="input-group">
	                                    												<span class="input-group-addon">IDR</span>
												                                        <input type="text" data-v-min="0" data-a-sep="." data-a-dec="," data-m-dec="0" class="text text-number form-control text-right bdonhand" name="trip[{dep_bdid}][bdonhand]" value="{dep_onhand}" autocomplete="off" readonly {dep_trip_field}>
		                                        									</div>
																				</div>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-md-12 col-row">
																				<div class="col-md-10 text-right">
								                									<span class="small-title">Cancellation Fee</span>
								                								</div>
																				<div class="col-md-2">
													                                <div class="input-group">
												                                        <input type="text" data-v-max="100" data-v-min="0" data-a-sep="." data-a-dec="," data-m-dec="2" class="text text-number form-control text-right bdcancelpercentfee" name="trip[{dep_bdid}][bdcancelpercentfee]" value="{dep_bdcancelpercentfee}" autocomplete="off" {dep_trip_field}>
												                                        <span class="input-group-addon">%</span>
												                                    </div>
													                                <div class="input-group">
	                                    												<span class="input-group-addon">IDR</span>
												                                        <input type="text" data-v-min="0" data-a-sep="." data-a-dec="," data-m-dec="0" class="text text-number form-control text-right bdcancelfee" name="trip[{dep_bdid}][bdcancelfee]" value="{dep_bdcancelfee}" autocomplete="off" {dep_trip_field}>
		                                        									</div>
		                                        								</div>
		                                        							</div>
																		</div>
																		<div class="row">
																			<div class="col-md-12 col-row">
																				<div class="col-md-10 text-right">
								                									<span class="small-title">Transaction Fee</span>
								                								</div>
																				<div class="col-md-2">
													                                <div class="input-group">
	                                    												<span class="input-group-addon">IDR</span>
		                                        										<input type="text" data-v-min="0" data-a-sep="." data-a-dec="," data-m-dec="0" class="text text-number form-control text-right bdtransactionfee" name="trip[{dep_bdid}][bdtransactionfee]" value="{dep_bdtransactionfee}" autocomplete="off" {dep_trip_field}>
		                                        									</div>
		                                        								</div>
		                                        							</div>
																		</div>
																		<div class="row">
																			<div class="col-md-12 col-row col-no-border">
																				<div class="col-md-10 text-right">
								                									<span class="small-title">Refund</span>
								                								</div>
																				<div class="col-md-2">
													                                <div class="input-group">
	                                    												<span class="input-group-addon">IDR</span>
		                                        										<input type="text" data-v-min="0" data-a-sep="." data-a-dec="," data-m-dec="0" class="text text-number form-control text-right bdrefund" name="trip[{dep_bdid}][bdrefund]" value="{dep_bdrefund}" autocomplete="off" readonly {dep_trip_field}>
		                                        									</div>
		                                        								</div>
		                                        							</div>
																		</div>

							                							<input type="text" class="sr-only trip-total" name="trip[{dep_bdid}][total]" value="{dep_total}" {dep_trip_field}>
							                							<input type="text" class="sr-only trip-bdtype" name="trip[{dep_bdid}][bdtype]" value="{dep_bdtype}" {dep_trip_field}>
							                							<input type="text" class="sr-only trip-subtotal" name="trip[{dep_bdid}][subtotal]" value="{dep_subtotal}" {dep_trip_field}>
																		<input type="text" class="sr-only trip-price-per-adult" name="trip[{dep_bdid}][price_per_adult]" value="{dep_price_per_adult}" {dep_trip_field}>
																		<input type="text" class="sr-only trip-price-per-child" name="trip[{dep_bdid}][price_per_child]" value="{dep_price_per_child}" {dep_trip_field}>
																		<input type="text" class="sr-only trip-price-per-infant" name="trip[{dep_bdid}][price_per_infant]" value="{dep_price_per_infant}" {dep_trip_field}>
																		<input type="text" class="sr-only trip-disc-price-per-adult" name="trip[{dep_bdid}][disc_price_per_adult]" value="{dep_disc_price_per_adult}" {dep_trip_field}>
																		<input type="text" class="sr-only trip-disc-price-per-child" name="trip[{dep_bdid}][disc_price_per_child]" value="{dep_disc_price_per_child}" {dep_trip_field}>
																		<input type="text" class="sr-only trip-disc-price-per-infant" name="trip[{dep_bdid}][disc_price_per_infant]" value="{dep_disc_price_per_infant}" {dep_trip_field}>
																	</div>
																</div>
															</div>
														</div>
							    					</div>
													<!-- END departure-trip-loop-block -->
												</div>
											</div>
										</div>
									</div>
									<!-- END departure-trip-block -->

									<!-- BEGIN return-trip-block -->
									<div class="row row-block">
										<div class="col-md-12">
											<div class="wrapp-item-block wrap-item-depart">
												<div class="row">
													<div class="col-md-12">
														<h4>Return Trip</h4>
													</div>
												</div>
												<div class="row">
													<!-- BEGIN return-trip-loop-block -->
							    					<div class="col-md-12">
														<div class="item-list">
													        <div class="row">
													            <div class="col-md-2">
													                <span class="small-title">Departure</span>
																	<strong class="strong-text">{rtn_bdfrom}</strong>
																	<p class="regular-text">{rtn_bddate}, {rtn_bddeparttime}</p>
																</div>
																<div class="col-md-2">
						                							<span class="small-title">Arrival</span>
																	<strong class="strong-text">{rtn_bdto}</strong>
																	<p class="regular-text">{rtn_bddate}, {rtn_bdarrivetime}</p>
																</div>
																<div class="col-md-2">
						                        					<span class="small-title">Adult (IDR)</span>
																	<strong class="regular-text">{rtn_pa_display}</strong>
																	<p class="regular-text">{rtn_pa_after_discount}</p>
																</div>
																<div class="col-md-2">
						                        					<span class="small-title">Child (IDR)</span>
																	<strong class="regular-text">{rtn_pc_display}</strong>
																	<p class="regular-text">{rtn_pc_after_discount}</p>
																</div>
																<div class="col-md-2">
						                        					<span class="small-title">Infant (IDR)</span>
																	<strong class="regular-text">{rtn_pi_display}</strong>
																	<p class="regular-text">{rtn_pi_after_discount}</p>
																</div>
																<div class="col-md-2 text-right">
						                							<span class="small-title">Sub Total (IDR)</span>
																	<p class="regular-text">{rtn_pt_display}</p>
																</div>
															</div>

															<div class="detail-transport detail-drop-off {rtn_transport_css} {rtn_trans_css} clearfix">
													        	<div class="row">
																	{rtn_transport}
																</div>
															</div>

															{rtn_add_ons}
															{rtn_passenger}

															<div class="trip-status trip-status-{rtn_bdid}">
																<div class="row">
																	<div class="col-md-10 text-right">
							                							<span class="small-title">Payment Status</span>
																		<p class="strong-text">{rtn_payment_status}</p>
																	</div>
																	<div class="col-md-2 text-right">
							                							<span class="small-title">Trip Status</span>
							                							<p class="toggle-wrapp">
																			<input id="toogle-check-trip-{rtn_bdid}" type="checkbox" class="toogle-check red toogle-check-trip" data-trip-id="{rtn_bdid}" name="trip[{rtn_bdid}][bdstatus]" {rtn_trip_status} autocomplete="off">
																			<label for="toogle-check-trip-{rtn_bdid}" data-off="Active" data-on="Cancelled"></label>
																		</p>
																	</div>
																	<div class="col-md-12 col-field {rtn_trip_wrapp}">
																		<div class="row">
																			<div class="col-md-12 col-row">
																				<div class="col-md-10 text-right">
								                									<span class="small-title">Onhand</span>
								                								</div>
																				<div class="col-md-2">
													                                <div class="input-group">
	                                    												<span class="input-group-addon">IDR</span>
												                                        <input type="text" data-v-min="0" data-a-sep="." data-a-dec="," data-m-dec="0" class="text text-number form-control text-right bdonhand" name="trip[{rtn_bdid}][bdonhand]" value="{rtn_onhand}" autocomplete="off" readonly {rtn_trip_field}>
		                                        									</div>
																				</div>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-md-12 col-row">
																				<div class="col-md-10 text-right">
								                									<span class="small-title">Cancellation Fee</span>
								                								</div>
																				<div class="col-md-2">
													                                <div class="input-group">
												                                        <input type="text" data-v-max="100" data-v-min="0" data-a-sep="." data-a-dec="," data-m-dec="2" class="text text-number form-control text-right bdcancelpercentfee" name="trip[{rtn_bdid}][bdcancelpercentfee]" value="{rtn_bdcancelpercentfee}" autocomplete="off" {rtn_trip_field}>
												                                        <span class="input-group-addon">%</span>
												                                    </div>
													                                <div class="input-group">
	                                    												<span class="input-group-addon">IDR</span>
												                                        <input type="text" data-v-min="0" data-a-sep="." data-a-dec="," data-m-dec="0" class="text text-number form-control text-right bdcancelfee" name="trip[{rtn_bdid}][bdcancelfee]" value="{rtn_bdcancelfee}" autocomplete="off" {rtn_trip_field}>
		                                        									</div>
		                                        								</div>
		                                        							</div>
																		</div>
																		<div class="row">
																			<div class="col-md-12 col-row">
																				<div class="col-md-10 text-right">
								                									<span class="small-title">Transaction Fee</span>
								                								</div>
																				<div class="col-md-2">
													                                <div class="input-group">
	                                    												<span class="input-group-addon">IDR</span>
		                                        										<input type="text" data-v-min="0" data-a-sep="." data-a-dec="," data-m-dec="0" class="text text-number form-control text-right bdtransactionfee" name="trip[{rtn_bdid}][bdtransactionfee]" value="{rtn_bdtransactionfee}" autocomplete="off" {rtn_trip_field}>
		                                        									</div>
		                                        								</div>
		                                        							</div>
																		</div>
																		<div class="row">
																			<div class="col-md-12 col-row col-no-border">
																				<div class="col-md-10 text-right">
								                									<span class="small-title">Refund</span>
								                								</div>
																				<div class="col-md-2">
													                                <div class="input-group">
	                                    												<span class="input-group-addon">IDR</span>
		                                        										<input type="text" data-v-min="0" data-a-sep="." data-a-dec="," data-m-dec="0" class="text text-number form-control text-right bdrefund" name="trip[{rtn_bdid}][bdrefund]" value="{rtn_bdrefund}" autocomplete="off" readonly {rtn_trip_field}>
		                                        									</div>
		                                        								</div>
		                                        							</div>
																		</div>

																		<input type="text" class="sr-only trip-total" name="trip[{rtn_bdid}][total]" value="{rtn_total}" {rtn_trip_field}>
							                							<input type="text" class="sr-only trip-bdtype" name="trip[{rtn_bdid}][bdtype]" value="{rtn_bdtype}" {rtn_trip_field}>
							                							<input type="text" class="sr-only trip-subtotal" name="trip[{rtn_bdid}][subtotal]" value="{rtn_subtotal}" {rtn_trip_field}>
																		<input type="text" class="sr-only trip-price-per-adult" name="trip[{rtn_bdid}][price_per_adult]" value="{rtn_price_per_adult}" {rtn_trip_field}>
																		<input type="text" class="sr-only trip-price-per-child" name="trip[{rtn_bdid}][price_per_child]" value="{rtn_price_per_child}" {rtn_trip_field}>
																		<input type="text" class="sr-only trip-price-per-infant" name="trip[{rtn_bdid}][price_per_infant]" value="{rtn_price_per_infant}" {rtn_trip_field}>
																		<input type="text" class="sr-only trip-disc-price-per-adult" name="trip[{rtn_bdid}][disc_price_per_adult]" value="{rtn_disc_price_per_adult}" {rtn_trip_field}>
																		<input type="text" class="sr-only trip-disc-price-per-child" name="trip[{rtn_bdid}][disc_price_per_child]" value="{rtn_disc_price_per_child}" {rtn_trip_field}>
																		<input type="text" class="sr-only trip-disc-price-per-infant" name="trip[{rtn_bdid}][disc_price_per_infant]" value="{rtn_disc_price_per_infant}" {rtn_trip_field}>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<!-- END return-trip-loop-block -->
												</div>
											</div>
										</div>
									</div>
									<!-- END return-trip-block -->
                                </div>
                            </div>
                            <div class="cancelation-data">
                                <div class="row">
									<div class="col-md-4">
										<div class="form-group">
	        								<span class="small-title">Cancellation Date</span>
	        								<input type="text" class="text txt-date form-control" name="bcdate" value="{bcdate}" autocomplete="off" required>
	        							</div>
										<div class="form-group">
											<span class="small-title">Reason</span>
		                                    <select name="bcreason" class="select-option select-reason form-control" autocomplete="off" required>
		                                        {bcreason}
		                                    </select>
		                                </div>
										<div class="form-group col-other-reason">
											<span class="small-title">Other Reason</span>
											<input type="text" class="text form-control" name="bcoreason" value="{bcoreason}" autocomplete="off" required>
										</div>
        							</div>
									<div class="col-md-8">
										<div class="form-group">
											<span class="small-title">Message</span>
	                                        <textarea class="text form-control bcmessage" name="bcmessage" autocomplete="off" rows="8" required>{bcmessage}</textarea>
										</div>
									</div>
                                </div>
                            </div>
                            <br/>
                            <div class="bottom-bar form-action">
                                <div class="row">
                                    <div class="col-md-12">
                    					<input type="text" class="sr-only" name="bagenttrans" value="{bagenttrans}">

                                        <button type="submit" class="btn-save pull-left" name="cancel_booking_data" value="1">Save Cancellation</button>
                                        <a href="{bcancellink}" class="cancel pull-left" style="cursor:pointer;">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </form>                       
                    </div>
               	</div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        jQuery(document).ready(function(){
            action_cancel_booking();
        });

        function action_cancel_booking()
        {
            jQuery('.select-option').select2();
            jQuery('.text-number').autoNumeric('init');

            jQuery('.txt-date').datepicker({
                dateFormat:'dd M yy',
                changeMonth: true,
                changeYear: true
            });

            jQuery('.toogle-check-trip').on('change', function(e){
            	var trpid = jQuery(this).data('trip-id');
			    var wrapp = jQuery(this).parents('.trip-status');

            	if( e.originalEvent === undefined ) 
            	{
            		var pwrap  = jQuery('.passenger-detail-' + trpid);
			        var acheck = true;

			        pwrap.find('.toogle-check-passenger:not([disabled])').each(function(){
			        	acheck = acheck && this.checked;

				        if( this.checked )
				        {
				        	jQuery(this).parent().parent().parent().find('.col-field').removeClass('sr-only');
				        }
				        else
				        {
				        	jQuery(this).parent().parent().parent().find('.col-field').addClass('sr-only');
				        }
			        });


			        if( this.disabled === false )
			        {
			        	this.checked = acheck;

				        if( this.checked )
				        {
				        	wrapp.find('.col-field').removeClass('sr-only');
				        	pwrap.find('.col-field').addClass('sr-only');
				        }
				        else
				        {
				        	wrapp.find('.col-field').addClass('sr-only');
				        }
				    }
            	}
            	else
            	{
            		var pwrap = jQuery('.passenger-detail-' + trpid + ' .toogle-check-passenger:not([disabled])').parent().parent().parent();

            		jQuery('.passenger-detail-' + trpid + ' .toogle-check-passenger:not([disabled])').prop( 'checked', this.checked );

			        pwrap.find('.col-field').addClass('sr-only');

	            	pwrap.find('.col-field .bptransactionfee').val(0);
	            	pwrap.find('.col-field .bppercentfee').val(0).trigger('blur');

			        if( this.checked )
			        {
			        	wrapp.find('.col-field').removeClass('sr-only');
			        }
			        else
			        {
			        	wrapp.find('.col-field').addClass('sr-only');
			        }
            	}
            });

            jQuery('.toogle-check-passenger').on('change', function(){
            	var trpid = jQuery(this).data('trip-id');

            	jQuery('.trip-status-' + trpid + ' .toogle-check-trip').trigger('change');

            	jQuery(this).parent().parent().parent().find('.col-field .bptransactionfee').val(0);
            	jQuery(this).parent().parent().parent().find('.col-field .bppercentfee').val(0).trigger('blur');
            });

            jQuery('.select-reason').on('change.select2', function(){
            	var prt = jQuery('[name=bcoreason');
            	var sel = jQuery(this);

                if( sel.val() == 'Other' )
                {
                    prt.prop( 'disabled', false );
                    sel.prop( 'required', true );
                }
                else
                {
                    prt.prop( 'disabled', true );
                    sel.prop( 'required', false );
                }
            });
            
            jQuery('.bdcancelpercentfee').on('blur', function(event){
            	var cfield = jQuery(this);

                var bdtotal            = cfield.parents('.col-field').find('.trip-total').val() || 0;
                var bdrefund           = cfield.parents('.col-field').find('.bdrefund').autoNumeric('get') || 0;
                var bdonhand           = cfield.parents('.col-field').find('.bdonhand').autoNumeric('get') || 0;
                var bdtransactionfee   = cfield.parents('.col-field').find('.bdtransactionfee').autoNumeric('get') || 0;
                var bdcancelpercentfee = cfield.autoNumeric('get') || 0;
                var bdcancelfee        = 0;

                if( bdtotal > 0 )
                {
                	bdcancelfee = ( bdcancelpercentfee * parseInt( bdtotal ) ) / 100;
                }

                if( bdonhand > 0 )
                {
                    bdrefund = parseInt( bdonhand ) - ( parseInt( bdcancelfee ) + parseInt( bdtransactionfee ) ); 
                }

                    
                cfield.parents('.col-field').find('.bdcancelfee').autoNumeric( 'set', bdcancelfee );
                cfield.parents('.col-field').find('.bdrefund').autoNumeric( 'set', bdrefund );
            });

            jQuery('.bdcancelfee').on('blur', function(){
            	var cfield = jQuery(this);

                var bdtotal            = cfield.parents('.col-field').find('.trip-total').val() || 0;
                var bdrefund           = cfield.parents('.col-field').find('.bdrefund').autoNumeric('get') || 0;
                var bdonhand           = cfield.parents('.col-field').find('.bdonhand').autoNumeric('get') || 0;
                var bdtransactionfee   = cfield.parents('.col-field').find('.bdtransactionfee').autoNumeric('get') || 0;
                var bdcancelfee        = jQuery(this).autoNumeric('get') || 0;
                var bdcancelpercentfee = 0;

                if( bdtotal > 0 )
                {
	                bdcancelpercentfee = ( ( parseInt( bdcancelfee ) / parseInt( bdtotal ) ) * 100 ).toFixed( 2 ) || 0;
                }

                if( bdonhand > 0 )
                {
                    bdrefund     = parseInt( bdonhand ) - ( parseInt( bdcancelfee ) + parseInt( bdtransactionfee ) );
                }

                cfield.parents('.col-field').find('.bdcancelpercentfee').autoNumeric( 'set', bdcancelpercentfee );
                cfield.parents('.col-field').find('.bdrefund').autoNumeric( 'set', bdrefund );
            });

            jQuery('.bdtransactionfee').on('blur', function(){
            	var cfield = jQuery(this);

                var bdrefund         = cfield.parents('.col-field').find('.bdrefund').autoNumeric('get') || 0;
                var bdonhand         = cfield.parents('.col-field').find('.bdonhand').autoNumeric('get') || 0;
                var bdcancelfee      = cfield.parents('.col-field').find('.bdcancelfee').autoNumeric('get') || 0;
                var bptransactionfee = jQuery(this).autoNumeric('get') || 0;

                if( bdonhand > 0 )
                {
                    bdrefund = parseInt( bdonhand ) - ( parseInt( bdcancelfee ) + parseInt( bptransactionfee ) );
                }

                cfield.parents('.col-field').find('.bdrefund').autoNumeric( 'set', bdrefund );
            });

            jQuery('.bppercentfee').on('blur', function(event){
            	var cfield = jQuery(this);

            	var bptotal          = cfield.parents('.row-passenger').find('.bptotal').val() || 0;
                var bprefund         = cfield.parents('.row-passenger').find('.bprefund').autoNumeric('get') || 0;
                var bponhand         = cfield.parents('.row-passenger').find('.bponhand').autoNumeric('get') || 0;
                var bptransactionfee = cfield.parents('.row-passenger').find('.bptransactionfee').autoNumeric('get') || 0;
                var bppercentfee     = cfield.autoNumeric('get') || 0;
                var bpcancelfee      = 0;

                if( bptotal > 0 )
                {
                	bpcancelfee = ( bppercentfee * parseInt( bptotal ) ) / 100;
                }

                if( bponhand > 0 )
                {
                    bprefund    = parseInt( bponhand ) - ( parseInt( bpcancelfee ) + parseInt( bptransactionfee ) ); 
                }
                    
                cfield.parents('.row-passenger').find('.bpcancelfee').autoNumeric( 'set', bpcancelfee );
                cfield.parents('.row-passenger').find('.bprefund').autoNumeric( 'set', bprefund );
            });

            jQuery('.bpcancelfee').on('blur', function(){
            	var cfield = jQuery(this);

            	var bptotal          = cfield.parents('.row-passenger').find('.bptotal').val() || 0;
                var bprefund         = cfield.parents('.row-passenger').find('.bprefund').autoNumeric('get') || 0;
                var bponhand         = cfield.parents('.row-passenger').find('.bponhand').autoNumeric('get') || 0;
                var bptransactionfee = cfield.parents('.row-passenger').find('.bptransactionfee').autoNumeric('get') || 0;
                var bpcancelfee      = jQuery(this).autoNumeric('get') || 0;
                var bppercentfee     = 0;

                if( bptotal > 0 )
                {
                	bppercentfee = ( ( parseInt( bpcancelfee ) / parseInt( bptotal ) ) * 100 ).toFixed( 2 ) || 0;
                }

                if( bponhand > 0 )
                {
                    bprefund = parseInt( bponhand ) - ( parseInt( bpcancelfee ) + parseInt( bptransactionfee ) );
                }

                cfield.parents('.row-passenger').find('.bppercentfee').autoNumeric( 'set', bppercentfee );
                cfield.parents('.row-passenger').find('.bprefund').autoNumeric( 'set', bprefund );
            });

            jQuery('.bptransactionfee').on('keyup', function(){
            	var cfield = jQuery(this);
            	
                var bprefund         = cfield.parents('.row-passenger').find('.bprefund').autoNumeric('get') || 0;
                var bponhand         = cfield.parents('.row-passenger').find('.bponhand').autoNumeric('get') || 0;
                var bpcancelfee      = cfield.parents('.row-passenger').find('.bpcancelfee').autoNumeric('get') || 0;
                var bptransactionfee = jQuery(this).autoNumeric('get') || 0;

                if( bponhand != 0 )
                {
                    bprefund = parseInt( bponhand ) - ( parseInt( bpcancelfee ) + parseInt( bptransactionfee ) );
                }

                cfield.parents('.row-passenger').find('.bprefund').autoNumeric( 'set', bprefund );
            });

            jQuery('[name=cancel_booking_data]').on('click', function(e){
            	var form    = jQuery('[name=cancel_booking_form]')[0];

        		if( form.checkValidity() )
        		{
	            	var checked = jQuery('.toogle-check:not(:disabled):checked').length;
	            	var flag    = false;

	            	if( checked == 0 )
	            	{
	            		show_popup( 'Warning', 'Please select trip or passenger that you want to cancel before proceed' );
	            	}
	            	else
	            	{
	                    if( jQuery('[name=bagenttrans]').val() == '1' && flag == false ) 
	                    {
	                    	jQuery('<div></div>').dialog({
	                            modal: true,
	                            draggable: false,
	                            resizable: false,
	                            title: 'Confirmation',
	                            open: function()
	                            {
	                                jQuery(this).html( 'This booking already has a previous payment from the agent. <br/>Are you sure want to cancel this booking?' );                                
	                            },
	                            buttons:
	                            {
	                                Yes: function()
	                                {
						            	flag = true;

	                                    jQuery(this).dialog('close');

						            	jQuery('.text-number').each(function(i){
						                    var v = jQuery(this).autoNumeric('get');
						                    jQuery(this).autoNumeric('destroy');
						                    jQuery(this).val(v);
						                });

						                jQuery('[name=cancel_booking_form]').trigger('submit');
	                                },
	                                No: function()
	                                {
	                                    jQuery( this ).dialog('close');                                     
	                                }
	                            }
	                        });
	                    }
	                    else
	                    {
						    flag = true;

			            	jQuery('.text-number').each(function(i){
			                    var v = jQuery(this).autoNumeric('get');
			                    jQuery(this).autoNumeric('destroy');
			                    jQuery(this).val(v);
			                });
	                    }
	            	}

	                return flag;
        		}
        		else
        		{
        			form.reportValidity();
        		}
            });
        }
    </script>
</div>
<!-- END cancel-block -->