<!-- BEGIN detail-block -->

<div class="wrapper-block booking-block booking-block-detail">
	<div class="container-fluid">
		<div class="overlay">
			<img class="loader" src="{img_url}/loader.gif" alt="Loading..." width="100">
		</div>
		<div class="top-bar">
			<div class="row">
				<div class="col-md-6 text-left">
					<p class="small-title">Booking/Ticket #</p>
					<strong>{bticket}</strong>
				</div>
				<div class="col-md-6 text-right sr-only">
					<p class="small-title">Booking Status</p>
					<strong>{bstatus}</strong>
				</div>
			</div>
		</div>
		<div class="booked-detail">
			<div class="row row-eq-height">
				<div class="col-md-4">
					<span class="small-title">Booking Date</span>
					<strong class="strong-text">{bdate}</strong>
				</div>
				<div class="col-md-4">
					<span class="small-title">Booking Source</span>
					<strong class="strong-text">{bchannel}</strong>
				</div>
				<div class="col-md-4">
					<span class="small-title">Payment Method</span>
					<strong class="strong-text">{bpaymethod}</strong>
					{bpaydetail}
				</div>
			</div>
		</div>
		<div class="booked-detail {cancelation_css}">
			<div class="row">
				<div class="col-md-4">
					<span class="small-title">Reason of cancellation</span>
					<p><strong class="strong-text">{bcreason}</strong>{bcmessage}</p>
				</div>
				<div class="col-md-4 {req_cancelation_date_css}">
					<span class="small-title">Request Cancelation Date</span>
					<p><strong class="strong-text">{brcdate}</strong></p>
				</div>
				<div class="col-md-4 {cancelation_date_css}">
					<span class="small-title">Cancelation Date</span>
					<p><strong class="strong-text">{bcdate}</strong></p>
				</div>
			</div>
		</div>
		<div class="booked-detail">
			<div class="row">
				<div class="col-md-4">
					<span class="small-title">Cancellation fee (IDR)</span>
					<p>
						<strong class="strong-text text-number" data-a-sep="." data-a-dec="," data-m-dec="2">{bcancellationpercent}</strong>
						<strong class="strong-text text-number" data-a-sep="." data-a-dec="," data-m-dec="0">{bcancellationfee}</strong>
					</p>
				</div>
				<div class="col-md-4">
					<span class="small-title">Transaction Fee (IDR)</span>
					<p><strong class="strong-text text-number" data-a-sep="." data-a-dec="," data-m-dec="0">{btransactionfee}</strong></p>
				</div>
				<div class="col-md-4">
					<span class="small-title">Refund (IDR)</span>
					<p><strong class="strong-text text-number" data-a-sep="." data-a-dec="," data-m-dec="0">{brefund}</strong></p>
				</div>
			</div>
		</div>
		<div class="booked-by">
			<div class="row">
				<div class="col-md-12">
					<div class="head-title">
						<h3>Booked By</h3>
					</div>
				</div>
			</div>
			<div class="detail-content">
				<div class="row row-eq-height">
					<div class="col-md-3">
						<span class="small-title">Name</span>
						<strong class="strong-text">{bbname}</strong>
					</div>
					<div class="col-md-3">
						<span class="small-title">Email</span>
						<strong class="strong-text">{bbemail}</strong>
					</div>
					<div class="col-md-3">
						<span class="small-title">Phone</span>
						<strong class="strong-text">{bbphone}</strong>
					</div>
					<div class="col-md-3 sr-only">
						<span class="small-title">Country</span>
						<strong class="strong-text">{bbcountry}</strong>
					</div>
				</div>
			</div>
			<div class="detail-content">
				<div class="row row-eq-height">
					<div class="col-md-3">
						<span class="small-title">Reservation Type</span>
						<strong class="strong-text">{bbrevtype}</strong>
					</div>
					<div class="col-md-3">
						<span class="small-title">Booking Staf</span>
						<strong class="strong-text">{bbooking_staf}</strong>
					</div>
					<div class="col-md-3">
						<span class="small-title">Reference Code Agent</span>
						<strong class="strong-text">{bbrevagent}</strong>
					</div>
					<div class="col-md-3">
						<span class="small-title">Blocking Time</span>
						<strong class="strong-text">{bblockingtime}</strong>
					</div>
				</div>
			</div>
			<div class="detail-content">
				<div class="row row-eq-height">
				</div>
			</div>
		</div>
		<div class="trip-detail">
			<div class="detail-title">
				<div class="row">
					<div class="col-md-12">
						<div class="head-title">
							<h3>Trip Detail</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="detail-item">

				<!-- BEGIN detail-departure-block -->
				<div class="row row-block row-detail-booking-pos">
					<div class="col-md-12">
						<div class="wrapp-item-block wrap-item-depart">
							<div class="row">
								<div class="col-md-12">
									<h4>Departure Trip</h4>
								</div>
							</div>
							<div class="row">

								<!-- BEGIN detail-departure-loop-block -->
							    <div class="col-md-12">
									<div class="row-detail-item-block {dep_cancel_block_css}">
							            <div class="row-detail-col-block">
							                <h2 class="row-detail-block-font">Cancelled</h2>
							            </div>
							        </div>
									<div class="item-list">
								        <div class="row">
								            <div class="col-md-2">
								                <span class="small-title">Departure</span><br/>
												<strong class="strong-text">{dep_bdfrom}</strong>
												<p class="regular-text">{dep_bddate}, {dep_bddeparttime}</p>
											</div>
											<div class="col-md-2">
	                							<span class="small-title">Arrival</span><br/>
												<strong class="strong-text">{dep_bdto}</strong>
												<p class="regular-text">{dep_bddate}, {dep_bdarrivetime}</p>
											</div>
											<div class="col-md-2">
	                        					<span class="small-title">Adult (IDR)</span><br/>
												<strong class="regular-text">{dep_pa_display}</strong>
												<p class="regular-text">{dep_pa_after_discount}</p>
											</div>
											<div class="col-md-2">
	                        					<span class="small-title">Child (IDR)</span><br/>
												<strong class="regular-text">{dep_pc_display}</strong>
												<p class="regular-text">{dep_pc_after_discount}</p>
											</div>
											<div class="col-md-2">
	                        					<span class="small-title">Infant (IDR)</span><br/>
												<strong class="regular-text">{dep_pi_display}</strong>
												<p class="regular-text">{dep_pi_after_discount}</p>
											</div>
											<div class="col-md-2 text-right">
	                							<span class="small-title">Sub Total (IDR)</span>
												<p class="regular-text">{dep_pt_display}</p>
											</div>
										</div>

										<div class="detail-transport detail-pickup {dep_transport_css} {dep_trans_css} clearfix">
								        	<div class="row">
												{dep_transport}
											</div>
										</div>

										{dep_add_ons}

										<div class="passenger-detail">
											<ul class="row row-head">
												<li class="col-md-4">
													<span class="small-title">Reservation Status</span>
												</li>
												<li class="col-md-8">
													<span class="small-title">Booking Status</span>
												</li>
											</ul>
						                    <ul class="row">
						                        <li class="col-md-4">
						                            <p class="regular-text">{dep_bdrevstatus}</p>
						                        </li>
						                        <li class="col-md-8">
						                            <p class="regular-text">{dep_bdpstatus}</p>
						                        </li>
						                    </ul>
										</div>

										<div class="passenger-detail">
											<ul class="row row-head">
												<li class="col-md-4">
													<span class="small-title">Passenger Name</span>
												</li>
												<li class="col-md-1">
													<span class="small-title">Type</span>
												</li>
												<li class="col-md-1">
													<span class="small-title">Gender</span>
												</li>
												<li class="col-md-2">
													<span class="small-title">Nationality</span>
												</li>
												<li class="col-md-2 text-right">
													<span class="small-title">Date Of Birth</span>
												</li>
												<li class="col-md-2 text-right">
													<span class="small-title">Status</span>
												</li>
											</ul>

											{dep_passenger}
										</div>

										{dep_checkin_passenger}
									</div>
								</div>
								<!-- END detail-departure-loop-block -->

							</div>
						</div>
					</div>
				</div>
				<!-- END detail-departure-block -->

				<!-- BEGIN detail-return-block -->
				<div class="row row-detail-booking-pos">
					<div class="col-md-12">
						<div class="wrapp-item-block wrap-item-depart">
							<div class="row">
								<div class="col-md-12">
									<h4>Return Trip</h4>
								</div>
							</div>
							<div class="row">

								<!-- BEGIN detail-return-loop-block -->
							    <div class="col-md-12">
									<div class="row-detail-item-block {rtn_cancel_block_css}">
							            <div class="row-detail-col-block">
							                <h2 class="row-detail-block-font">Cancelled</h2>
							            </div>
							        </div>
									<div class="item-list">
								        <div class="row">
								            <div class="col-md-2">
								                <span class="small-title">Departure</span><br/>
												<strong class="strong-text">{rtn_bdfrom}</strong>
												<p class="regular-text">{rtn_bddate}, {rtn_bddeparttime}</p>
											</div>
											<div class="col-md-2">
	                							<span class="small-title">Arrival</span><br/>
												<strong class="strong-text">{rtn_bdto}</strong>
												<p class="regular-text">{rtn_bddate}, {rtn_bdarrivetime}</p>
											</div>
											<div class="col-md-2">
	                        					<span class="small-title">Adult (IDR)</span><br/>
												<strong class="regular-text">{rtn_pa_display}</strong>
												<p class="regular-text">{rtn_pa_after_discount}</p>
											</div>
											<div class="col-md-2">
	                        					<span class="small-title">Child (IDR)</span><br/>
												<strong class="regular-text">{rtn_pc_display}</strong>
												<p class="regular-text">{rtn_pc_after_discount}</p>
											</div>
											<div class="col-md-2">
	                        					<span class="small-title">Infant (IDR)</span><br/>
												<strong class="regular-text">{rtn_pi_display}</strong>
												<p class="regular-text">{rtn_pi_after_discount}</p>
											</div>
											<div class="col-md-2 text-right">
	                							<span class="small-title">Sub Total (IDR)</span>
												<p class="regular-text">{rtn_pt_display}</p>
											</div>
										</div>

										<div class="detail-transport detail-drop-off {rtn_transport_css} {rtn_trans_css} clearfix">
								        	<div class="row">
												{rtn_transport}
											</div>
										</div>

										{rtn_add_ons}

										<div class="passenger-detail">
											<ul class="row row-head">
												<li class="col-md-4">
													<span class="small-title">Reservation Status</span>
												</li>
												<li class="col-md-8">
													<span class="small-title">Booking Status</span>
												</li>
											</ul>
						                    <ul class="row">
						                        <li class="col-md-4">
						                            <p class="regular-text">{rtn_bdrevstatus}</p>
						                        </li>
						                        <li class="col-md-8">
						                            <p class="regular-text">{rtn_bdpstatus}</p>
						                        </li>
						                    </ul>
										</div>

										<div class="passenger-detail">
											<ul class="row row-head">
												<li class="col-md-4">
													<span class="small-title">Passenger Name</span>
												</li>
												<li class="col-md-1">
													<span class="small-title">Type</span>
												</li>
												<li class="col-md-1">
													<span class="small-title">Gender</span>
												</li>
												<li class="col-md-2">
													<span class="small-title">Nationality</span>
												</li>
												<li class="col-md-2 text-right">
													<span class="small-title">Date Of Birth</span>
												</li>
												<li class="col-md-2 text-right">
													<span class="small-title">Status</span>
												</li>
											</ul>

											{rtn_passenger}
										</div>

										{rtn_checkin_passenger}
									</div>
								</div>
								<!-- END detail-return-loop-block -->

							</div>
						</div>
					</div>
				</div>
				<!-- END detail-return-block -->

			</div>
		</div>
		<div class="payment-summary payment-sub-sum {sub_css}">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="item-title">
							<div class="col-md-2 col-md-push-10 text-right">
								<span class="small-title">Subtotal</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="item-list">
							<div class="col-md-2 col-md-push-10 text-right">
								<p class="regular-text subtotal text-number" data-a-sep="." data-a-dec="," data-m-dec="0">{subtotal}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="payment-summary {cancel_fee_css}">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="item-title">
							<div class="col-md-2 col-md-push-10 text-right">
								<span class="small-title">Fee</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="item-list">
							<div class="col-md-2 col-md-push-10 text-right">
								<p class="regular-text cancel-fee text-number" data-a-sep="." data-a-dec="," data-m-dec="0">{fee}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="payment-summary payment-sub-sum {disc_css}">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="item-title">
							<div class="col-md-2 col-md-push-10 text-right">
								<span class="small-title">Discount</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="item-list">
							<div class="col-md-2 col-md-push-10 text-right">
								<p class="regular-text discount text-number" data-a-sep="." data-a-dec="," data-m-dec="0">{discount}</p>
								<p class="regular-text pmcode">{pmcode}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="payment-summary">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="item-title">
							<div class="col-md-2 col-md-push-10 text-right">
								<span class="small-title">Total</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="item-list">
							<div class="col-md-2 col-md-push-10 text-right">
								<p class="regular-text total text-number" data-a-sep="." data-a-dec="," data-m-dec="0">{grandtotal}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="payment-summary">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="item-title">
							<div class="col-md-2 col-md-push-10 text-right">
								<span class="small-title">On Hand</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="item-list">
							<div class="col-md-2 col-md-push-10 text-right">
								<p class="regular-text onhandtotal text-number" data-a-sep="." data-a-dec="," data-m-dec="0">{onhandtotal}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="payment-summary {refund_css}">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="item-title">
							<div class="col-md-2 col-md-push-10 text-right">
								<span class="small-title">Refund</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="item-list">
							<div class="col-md-2 col-md-push-10 text-right">
								<p class="regular-text refund text-number" data-a-sep="." data-a-dec="," data-m-dec="0">{brefund}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="payment-summary">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="item-title">
							<div class="col-md-2 col-md-push-10 text-right">
								<span class="small-title">Balance</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="item-list">
							<div class="col-md-2 col-md-push-10 text-right">
								<p class="remaintotal text-danger text-number" data-a-sep="." data-a-dec="," data-m-dec="0">{remaintotal}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="hotel-detail {baccommodationcss}">
			<div class="row">
				<div class="col-md-12">
                    <span class="small-title">Accommodation in {baaccommodationarea}</span>
                    <p class="strong-text">{bhotelname}</p>
        			<p class="regular-text">
        				{bhoteladdress}
        				{bhotelphone}
        				{bhotelemail}
        			</p>
				</div>
			</div>
		</div>

		<div class="remark-detail {bremark_css}">
			<div class="row">
				<div class="col-md-12">
                    <span class="small-title">Remark</span>
        			<p class="regular-text">{bremark}</p>
				</div>
			</div>
		</div>

		<div class="bottom-bar {action_css}">
			<div class="row">
				<div class="col-md-12">
					<div class="detail-content">
						<form class="action-form" action="" method="POST">
			                <select class="select-option" name="action">
						        <option value="0">Print Ticket</option>
						        <option value="1">Email Ticket</option>
						        <option value="2">Email Receipt</option>
						        <!--option value="3">Email Ticket and Receipt</option-->
						        <option value="4">Download Ticket</option>
						        <option value="5">Download Receipt</option>
						        <!--option value="6">Print Reconfirmation</option-->
						        <option value="7">Email Reconfirmation</option>
						        <option value="8">Download Reconfirmation</option>
						        <option value="11">Download Doc Reconfirmation</option>
						        <option value="12">Email Invoice Agent</option>
						        <option value="13">Download Invoice Agent</option>
						        <option value="10">Print Boarding Pass</option>
						        <option value="9">Edit Reservation</option>
			                </select>
		                	<button class="ticket-act-btn" type="submit" name="booking_action">Confirm</button>
			            </form>
			        </div>
				</div>
			</div>
			<div class="form-block">
				{message}
			</div>
		</div>
		<script type="text/javascript">
			jQuery(document).ready(function(){
				jQuery('.select-option').select2();
				jQuery('.text-number').autoNumeric('init');
				
				jQuery('[name=booking_action]').on('click', function(){
					var id  = jQuery('[name=action]').val();

					if( id == 1 || id == 2 || id == 7 || id == 12 )
					{
						jQuery('<div></div>').dialog({
					        modal: true,
					        draggable: false,
					        resizable: false,
					        title: 'Confirmation',
					        open: function()
					        {
					        	if( id == 1 )
					            {
					            	jQuery(this).html( 'Are you sure want to email the ticket?' );
					            }
					            else if( id == 2 )
					            {
					            	jQuery(this).html( 'Are you sure want to email the receipt?' );
					            }
					            else if( id == 7 )
					            {
					            	jQuery(this).html( 'Are you sure want to email the reconfirmation?' );
					            }
					            else if( id == 12 )
					            {
					            	jQuery(this).html( 'Are you sure want to email the invoice?' );
					            }
					        },
					        buttons:
					        {
					            Yes: function()
					            {
				              		jQuery(this).dialog('close');
				              		jQuery('.overlay').show();

				                    var prm = new Object();
				                        prm.pkey   = 'execute-reservation-action';
				                        prm.bid    = '{bid}';
				                        prm.action = id;

				                    jQuery.ajax({
				                        method: 'POST',
				                        url: '{ajax_url}',
				                        data: prm,
				                        dataType : 'json',
				                        success: function( e ){
				                        	jQuery('.overlay').hide();

				                            if( e.result = 'success' )
				                            {
				                                show_popup('Notification', e.message);
				                            }
				                            else
				                            {
				                                show_popup('Warning', e.message);
				                            }
				                        },
				                        error: function( e ){
				                            jQuery('.overlay').hide();

				                            show_popup('Warning', 'Sorry the action can\'t be completed. Please try again later');
				                        }
				                    });
					            },
					            No: function()
					            {
					                jQuery( this ).dialog('close');
					            }
					        }
					    });

						return false;
					}
					else if( id == 9 )
					{
						var prc = '{prc}';

						if( prc == 'view' )
						{
							window.location.assign('{detail_link}');
							return false;
						}
						else
						{
	                    	parent.jQuery.fancybox.close();
	                    	parent.jQuery('.edit-detail[rel={bid}]').trigger('click');
							return false;
						}
					}
					else if( id == 10 )
					{
						window.open( '//{site_url}/print-and-download-report/?id={bid}&action=' + id, '_blank' );
						return false;
					}
				});
			});
		</script>
	</div>
</div>

<!-- END detail-block -->