<!-- BEGIN form-block -->
<div class="wrapper-block booking-block booking-block-form">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="form-block">
					{message}
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<form class="form-edit-booking" name="form_edit_booking" action="" method="POST">
			<div class="top-bar">
				<div class="row">
					<div class="col-md-6 text-left">
						<p class="small-title">Booking/Ticket #</p>
						<strong>{bticket}</strong>
					</div>
					<div class="col-md-6 text-right sr-only">
						<p class="small-title">Booking Status</p>
						<div class="text-left pull-right">
	                        <select name="booked[{bid}][bstatus]" class="bstatus select-option form-control status-option">
	                        	{bstatus_option}
	                        </select>
	                    </div>
					</div>
				</div>
			</div>
			<div class="booked-detail">
				<div class="inner">
					<div class="row row-eq-height">
						<div class="col-md-6">
							<span class="small-title">Booking Date</span>
							<strong class="strong-text">{bdate}</strong>
						</div>
						<div class="col-md-6">
							<span class="small-title">Booking Source</span>
							<strong class="strong-text">{bsource}</strong>
						</div>
					</div>
					<div class="row row-eq-height">
						<div class="col-md-6">
							<span class="small-title">Remark</span>
							<textarea class="form-control text" name="booked[{bid}][bremark]">{bremark}</textarea>
						</div>
						<div class="col-md-6">
							<span class="small-title">Agent Remark</span>
							<textarea class="form-control text" name="booked[{bid}][bagremark]" readonly>{bagremark}</textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="booked-by">
				<div class="row">
					<div class="col-md-12">
						<div class="head-title">
							<h3>Booked By</h3>
						</div>
					</div>
				</div>
				<div class="inner">
					<div class="row row-eq-height form-group">
						<div class="col-md-6">
							<span class="small-title">Name</span>
	                        <input type="text" class="text form-control" name="booked_by[{bid}][bbname]" value="{bbname}">
						</div>
						<div class="col-md-3">
							<span class="small-title">Email</span>
	                        <input type="text" class="text form-control" name="booked_by[{bid}][bbemail]" value="{bbemail}">
						</div>
						<div class="col-md-3">
							<span class="small-title">Phone</span>
	                        <input type="text" class="text form-control" name="booked_by[{bid}][bbphone]" value="{bbphone}">
						</div>
						<div class="col-md-3 sr-only">
							<span class="small-title">Country</span>
	                        <select name="booked_by[{bid}][bbcountry]" class="select-option form-control">
	                            {bbcountry_list_option}
	                        </select>
						</div>
					</div>
					<div class="row row-eq-height">
						<div class="col-md-3">
							<span class="small-title">Reservation Type</span>
	                        <select name="booked_by[{bid}][bbrevtype]" class="select-option form-control">
	                            {bbrevtype_option}
	                        </select>
						</div>
						<div class="col-md-3">
							<span class="small-title">Booking Staf</span>
	                        <input type="text" class="form-control" name="booked_by[{bid}][bbooking_staf]" value="{bbooking_staf}">
						</div>
						<div class="col-md-3">
							<span class="small-title">Reference (Agent Code)</span>
	                        <input type="text" class="form-control" name="booked_by[{bid}][bbrevagent]" value="{bbrevagent}">
						</div>
						<div class="col-md-3">
							<span class="small-title">Blocking Time</span>
	                        <input type="text" class="time-picker form-control" name="booked[{bid}][bblockingtime]" value="{bblockingtime}">
						</div>
					</div>
				</div>
			</div>
			<div class="booked-by">
				<div class="row">
					<div class="col-md-12">
						<div class="head-title">
							<h3>Guest Contact</h3>
						</div>
					</div>
				</div>
				<div class="inner">
					<div class="row row-eq-height">
						<div class="col-md-6">
							<span class="small-title">Guest Email</span>
	                        <input type="text" class="text form-control" name="booked[{bid}][gemail]" value="{gemail}">
						</div>
						<div class="col-md-6">
							<span class="small-title">Guest Mobile</span>
	                        <input type="text" class="text form-control" name="booked[{bid}][gmobile]" value="{gmobile}">
						</div>
					</div>
				</div>
			</div>
			<div class="trip-detail">
				<div class="detail-title">
					<div class="row">
						<div class="col-md-12">
							<div class="head-title">
								<h3>Trip Detail</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="detail-item">

					<!-- BEGIN form-departure-block -->
					<div class="row row-block">
						<div class="col-md-12">
							<div class="wrapp-item-block wrap-item-depart">
								<div class="row">
									<div class="col-md-12">
										<h4 class="title">Departure Trip {dep_status_sub_heading}</h4>
									</div>
								</div>

								<!-- BEGIN form-departure-loop-block -->
								<div class="inner">
									<div class="row">
										<div class="col-md-12">
											{dep_item}
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="detail-pickup {dep_trans_css}">
								                {dep_transport}
											</div>
										</div>
									</div>

									{dep_add_ons}

									<div class="row">
										<div class="col-md-12 passenger-detail">
											<table class="table">
												<tr>
													<td colspan="12">
														<h4>Passenger Detail</h4>
													</td>
												</tr>

						                        {dep_passenger}
											</table>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<table class="table">
												<tr>
													<td colspan="2">
														<h4>Trip Status</h4>
													</td>
												</tr>
												<tr>
									                <td>
									                    <span class="small-title">Reservation Status</span>
									                    <select name="booked_detail[{dep_bdid}][bdrevstatus]" class="select-option form-control" autocomplete="off">
									                    	{dep_bdrevstatus}
														</select>
									                </td>
									            </tr>
												<tr>
									                <td>
									                    <span class="small-title">Payment Status</span>
									                    <select id="bdpstatus_{dep_bdid}" name="booked_detail[{dep_bdid}][bdpstatus]" class="select-option form-control select-bdpstatus" autocomplete="off">
									                    	{dep_bdpstatus}
														</select>
									                </td>
												<tr>
											</table>
										</div>
									</div>

									<div class="row">
										<div class="col-md-12">
											<div class="trip-total">
												<div class="row">
													<div class="col-md-2 col-md-push-10 text-right">
														<span class="small-title">Total By Trip</span>
														<p class="regular-text total-trip text-number {dep_total_cancel_css}" data-a-sep="." data-a-dec="," data-m-dec="0">{dep_total}</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- END form-departure-loop-block -->

							</div>
						</div>
					</div>
					<!-- END form-departure-block -->

					<!-- BEGIN form-return-block -->
					<div class="row row-block {rtn_css}">
						<div class="col-md-12">
							<div class="wrapp-item-block wrap-item-return">
								<div class="row">
									<div class="col-md-12">
										<h4 class="title">Return Trip {rtn_status_sub_heading}</h4>
									</div>
								</div>

								<!-- BEGIN form-return-loop-block -->
								<div class="inner">
									<div class="row">
										<div class="col-md-12">
											{rtn_item}
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="detail-drop-off {rtn_trans_css}">
								                {rtn_transport}
											</div>
										</div>
									</div>

									{rtn_add_ons}

									<div class="row">
										<div class="col-md-12 passenger-detail">
											<table class="table">
												<tr>
													<td colspan="12">
														<h4>Passenger Detail</h4>
														<a class="same-info">Same as above information</a>
													</td>
												</tr>

												{rtn_passenger}
											</table>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<table class="table">
												<tr>
													<td colspan="2">
														<h4>Trip Status</h4>
													</td>
												</tr>
												<tr>
									                <td>
									                    <span class="small-title">Reservation Status</span>
									                    <select name="booked_detail[{rtn_bdid}][bdrevstatus]" class="select-option form-control" autocomplete="off">
									                    	{rtn_bdrevstatus}
														</select>
									                </td>
									            </tr>
												<tr>
									                <td>
									                    <span class="small-title">Payment Status</span>
									                    <select id="bdpstatus_{rtn_bdid}" name="booked_detail[{rtn_bdid}][bdpstatus]" class="select-option form-control select-bdpstatus" autocomplete="off">
									                    	{rtn_bdpstatus}
														</select>
									                </td>
												<tr>
											</table>
										</div>
									</div>

									<div class="row">
										<div class="col-md-12">
											<div class="trip-total">
												<div class="row">
													<div class="col-md-2 col-md-push-10 text-right">
														<span class="small-title">Total By Trip</span>
														<p class="regular-text total-trip text-number {rtn_total_cancel_css}" data-a-sep="." data-a-dec="," data-m-dec="0">{rtn_total}</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- END form-return-loop-block -->

							</div>
						</div>
					</div>
					<!-- END form-return-block -->

				</div>
			</div>

			<div class="payment-summary payment-sub-sum {sub_css}">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="item-title">
								<div class="col-md-2 col-md-push-10 text-right">
									<span class="small-title">Subtotal</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="item-list">
								<div class="col-md-2 col-md-push-10 text-right">
									<p class="regular-text subtotal text-number" data-a-sep="." data-a-dec="," data-m-dec="0">{subtotal}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="payment-summary {cancel_fee_css}">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="item-title">
								<div class="col-md-2 col-md-push-10 text-right">
									<span class="small-title">Fee</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="item-list">
								<div class="col-md-2 col-md-push-10 text-right">
									<p class="regular-text cancel-fee text-number" data-a-sep="." data-a-dec="," data-m-dec="0">{fee}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="payment-summary payment-sub-sum {disc_css}">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="item-title">
								<div class="col-md-2 col-md-push-10 text-right">
									<span class="small-title">Discount</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="item-list">
								<div class="col-md-2 col-md-push-10 text-right">
									<p class="regular-text discount text-number" data-a-sep="." data-a-dec="," data-m-dec="0">{discount}</p>
									<p class="regular-text pmcode">{pmcode}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="payment-summary">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="item-title">
								<div class="col-md-2 col-md-push-10 text-right">
									<span class="small-title">Total</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="item-list">
								<div class="col-md-2 col-md-push-10 text-right">
									<p class="regular-text total text-number" data-a-sep="." data-a-dec="," data-m-dec="0">{grandtotal}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="payment-summary">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="item-title">
								<div class="col-md-2 col-md-push-10 text-right">
									<span class="small-title">On Hand</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="item-list">
								<div class="col-md-2 col-md-push-10 text-right">
									<p class="regular-text onhandtotal text-number" data-a-sep="." data-a-dec="," data-m-dec="0">{onhandtotal}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="payment-summary {refund_css}">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="item-title">
								<div class="col-md-2 col-md-push-10 text-right">
									<span class="small-title">Refund</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="item-list">
								<div class="col-md-2 col-md-push-10 text-right">
									<p class="regular-text refund text-number" data-a-sep="." data-a-dec="," data-m-dec="0">{brefund}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="payment-summary">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="item-title">
								<div class="col-md-2 col-md-push-10 text-right">
									<span class="small-title">Balance</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="item-list">
								<div class="col-md-2 col-md-push-10 text-right">
									<p class="remaintotal text-danger text-number" data-a-sep="." data-a-dec="," data-m-dec="0">{remaintotal}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="cancelation-detail">
				<div class="row">
					<div class="col-md-12">
						<div class="head-title">
							<h3>Cancellation</h3>
						</div>
					</div>
				</div>
				<div class="inner">
					<div class="row row-eq-height form-group">
						<div class="col-md-4">
							<span class="small-title">Reason of cancellation</span>
	                        <input type="text" class="text form-control" name="booked[{bid}][bcreason]" value="{bcreason}" readonly>
						</div>
						<div class="col-md-4">
							<span class="small-title">Request Cancelation Date</span>
							<input type="text" class="text txt-date form-control" name="booked[{bid}][brcdate]" value="{brcdate}" autocomplete="off">
						</div>
						<div class="col-md-4">
							<span class="small-title">Cancelation Date</span>
							<input type="text" class="text txt-date form-control" name="booked[{bid}][bcdate]" value="{bcdate}" autocomplete="off">
						</div>
					</div>
					<div class="row row-eq-height form-group">
						<div class="col-md-4">
							<span class="small-title">Cancellation fee (IDR)</span>
							<input type="text" data-v-min="0" data-a-sep="." data-a-dec="," data-m-dec="0" class="text text-number form-control text-right" name="booked[{bid}][bcancellationfee]" value="{bcancellationfee}" autocomplete="off">
						</div>
						<div class="col-md-4">
							<span class="small-title">Transaction Fee (IDR)</span>
							<input type="text" data-v-min="0" data-a-sep="." data-a-dec="," data-m-dec="0" class="text text-number form-control text-right" name="booked[{bid}][btransactionfee]" value="{btransactionfee}" autocomplete="off">
						</div>
						<div class="col-md-4">
							<span class="small-title">Refund (IDR)</span>
							<input type="text" data-v-min="0" data-a-sep="." data-a-dec="," data-m-dec="0" class="text text-number form-control text-right" name="booked[{bid}][brefund]" value="{brefund}" autocomplete="off">
						</div>
					</div>
					<div class="row row-eq-height">
						<div class="col-md-12">
							<span class="small-title">Message</span>
							<textarea class="form-control text" name="booked[{bid}][bcmessage]">{bcmessage}</textarea>
						</div>
					</div>
				</div>
			</div>

			<div class="payment-detail">
				{payment_detail_content}
			</div>

			<div class="accommodation-detail">
				<h2>Accommodation In Gili</h2>
				<div class="row">
					<div class="col-md-12">
						<div class="inner">
							<div class="row">
								<div class="form-group col-md-4">
									<span class="small-title">Name</span>
			                        <input type="text" class="text text-large form-control" name="booked[{bid}][bhotelname]" value="{bhotelname}">
			                    </div>
								<div class="form-group col-md-4">
									<span class="small-title">Phone</span>
			                        <input type="text" class="text form-control" name="booked[{bid}][bhotelphone]" value="{bhotelphone}">
								</div>
								<div class="form-group col-md-4">
									<span class="small-title">Email</span>
			                        <input type="email" class="text form-control" name="booked[{bid}][bhotelemail]" value="{bhotelemail}">
								</div>
								<div class="form-group col-md-12">
									<span class="small-title">Address</span>
			                        <textarea class="text form-control" name="booked[{bid}][bhoteladdress]">{bhoteladdress}</textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- BEGIN form-archive-block -->
			<div class="archive-detail">
				<div class="row">
					<div class="col-md-12">
						<div class="head-title">
							<h3>Archive Data</h3>
						</div>
					</div>
				</div>
				<div class="inner">
					<ul class="archive-list">
						<!-- BEGIN form-archive-loop-block -->
						<li class="row row-aligned">
							<div class="col-md-10 col-aligned-center">{atitle}</div>
							<div class="col-md-2 col-justify-end">
								<div class="btn-group" role="group" aria-label="...">
									<a id="view-{abid}" href="javascript:;" class="btn btn-default view-archive" data-type="iframe" data-src="{view_link}" rel="{abid}" class="btn btn-default">View</a>
									<a id="restore-{abid}" href="javascript:;" class="btn btn-default restore-archive" data-id="{abid}">Restore</a>
								</div>
							</div>
						</li>
						<!-- END form-archive-loop-block -->
					</ul>
				</div>
			</div>
			<!-- END form-archive-block -->

			<div class="action-detail">
				<div class="row">
					<div class="col-md-12">
						<div class="inner">
							<div class="form-group">
								<div class="row">
									<div class="col-md-12">
						                <select id="action-option" class="select-option" name="action">
									        <option value="0">Print Ticket</option>
									        <option value="1">Email Ticket</option>
									        <option value="2">Email Receipt</option>
									        <option value="4">Download Ticket</option>
									        <option value="5">Download Receipt</option>
									        <option value="7">Email Reconfirmation</option>
									        <option value="8">Download Reconfirmation</option>
									        <option value="11">Download Doc Reconfirmation</option>
									        <option value="12">Email Invoice Agent</option>
									        <option value="13">Download Invoice Agent</option>
									        <option value="10">Print Boarding Pass</option>
						                </select>
			            				<button class="ticket-act-btn" name="booking_action">Confirm</button>
						            </div>
			            		</div>
		                    </div>
						</div>
					</div>
				</div>
			</div>

            <div class="sr-only">
                <input type="text" class="form-control" name="agid" value="{agid}">
                <input type="text" class="form-control" name="bcode" value="{bcode}">
                <input type="text" class="form-control" name="bid" value="{bid}">
                <input type="text" class="form-control" name="bticket" value="{bticket}">
                <input type="text" class="form-control" name="bfilter" value="{bfilter}">
                <input type="text" class="form-control" name="subtotal" value="{subtotal}">
                <input type="text" class="form-control" name="discount" value="{discount}">
                <input type="text" class="form-control" name="onhandtotal" value="{onhandtotal}">
                <input type="text" class="form-control" name="state_url" value="{state_url}">
            </div>

			<div class="bottom-bar form-action">
				<div class="row">
					<div class="col-md-12">
                    	<button type="submit" class="btn-save pull-left" name="update_booking">Save Booking</button>
                    	<button type="submit" class="btn-revise pull-left" name="revise_booking">Revise Booking</button>
                    	<a href="{cancel_booking_link}" class="btn btn-cancel pull-left">Cancel Booking</a>
                    	<a class="cancel pull-left" style="cursor:pointer;">Cancel</a>
					</div>
				</div>
			</div>
		</form>

		<script type="text/javascript">
			function agent_payment_func()
			{
				jQuery('.add-new-payment').on('click', function(){
					jQuery('.add-new-payment-field [name=atmethod]').val(0).trigger('change.select2');
					jQuery('.add-new-payment-field [name=atdate]').datepicker('setDate', new Date());
					jQuery('.add-new-payment-field [name=atcredit]').autoNumeric('set', 0);

					jQuery('.add-new-payment-field .inner').removeClass('sr-only');
					jQuery(this).toggleClass('sr-only');
				});

				jQuery('.cancel-new-payment').on('click', function(){
					jQuery('.add-new-payment-field [name=atmethod]').val(0).trigger('change.select2');
					jQuery('.add-new-payment-field [name=atdate]').datepicker('setDate', new Date());
					jQuery('.add-new-payment-field [name=atcredit]').autoNumeric('set', 0);

					jQuery('.add-new-payment-field .inner').addClass('sr-only');
					jQuery('.add-new-payment').removeClass('sr-only');
				});

				jQuery('.save-new-payment').on('click', function(){
                    var prm = new Object();
                        prm.pkey     = 'save-outstanding-payment';
                        prm.bid      = jQuery('[name=bid]').val();
                        prm.agid     = jQuery('[name=agid]').val();
                        prm.bcode    = jQuery('[name=bcode]').val();
                        prm.atcredit = jQuery('[name=atcredit]').autoNumeric('get');
                        prm.atmethod = jQuery('[name=atmethod]').val();
                        prm.atdate   = jQuery('[name=atdate]').val();
                        prm.atstatus = 2;

                    jQuery.ajax({
                        method: 'POST',
                        url: '{ajax_url}',
                        data: prm,
                        dataType : 'json',
                        beforeSend: function( xhr ){
				           	jQuery('.section-overlay').fadeIn(200);
                        },
                        success: function( e ){
							if( e.result == 'success' )
							{
								location.reload();
							}
							else
							{
                    			jQuery('.section-overlay').fadeOut(200, function(){
									show_popup( 'Warning', 'Save payment data failed, please try again later' );
                    			});
							}
                        },
                        error: function( e ){
                    		jQuery('.section-overlay').fadeOut(200, function(){
								show_popup( 'Warning', 'Save payment data failed, please try again later' );
                    		});
                        }
                    });
				});

				jQuery('.update-outstanding-payment').on('click', function(){
					var sel   = jQuery(this).parent().parent().parent();
					var error = new Array;

					if( jQuery(sel).find('.atmethod').val() == '' )
					{
						error.push( '<li>payment method can\'t be empty</li>' );
					}

					if( jQuery(sel).find('.atgname').val() == '' )
					{
						error.push( '<li>guest name can\'t be empty</li>' );
					}

					if( jQuery(sel).find('.atcredit').autoNumeric('get') == 0 )
					{
						error.push( '<li>credit value can\'t be empty</li>' );
					}

					if( error.length > 0 )
					{
						var message = '<ol>' + error.join('') + '</ol>';

						show_popup( 'Warning', message );
					}
					else
					{
	                    var prm = new Object();
	                        prm.pkey        = 'update-outstanding-payment';
	                        prm.atid        = jQuery(this).data('id');
	                        prm.bid         = jQuery('[name=bid]').val();
                        	prm.bcode       = jQuery('[name=bcode]').val();
	                        prm.atgname     = jQuery(sel).find('.atgname').val();
	                        prm.atmethod    = jQuery(sel).find('.atmethod').val();
	                        prm.atcredit    = jQuery(sel).find('.atcredit').autoNumeric('get');
	                        prm.atdate      = jQuery.datepicker.formatDate( 'yy-mm-dd', jQuery(sel).find('.atdate').datepicker('getDate') );
                        	prm.atstatus    = 2;

                        jQuery('<div></div>').dialog({
					        modal: true,
					        draggable: false,
					        resizable: false,
					        title: 'Confirmation',
					        open: function()
					        {
					            jQuery(this).html('Do you want to change this payment data?');
					        },
					        buttons:
					        {
					            Yes: function()
					            {
					            	jQuery.ajax({
				                        method: 'POST',
				                        url: '{ajax_url}',
				                        data: prm,
				                        dataType : 'json',
				                        beforeSend: function( xhr ){
				                        	jQuery('.section-overlay').fadeIn(200);
				                        },
				                        success: function( e ){
											if( e.result == 'success' )
											{
												location.reload();
											}
											else
											{
					                        	jQuery('.section-overlay').fadeOut(200, function(){
													show_popup( 'Warning', 'Update payment data failed, please try again later' );
					                        	});
											}
				                        },
				                        error: function( e ){
                    						jQuery('.section-overlay').fadeOut(200, function(){
												show_popup( 'Warning', 'Update payment data failed, please try again later' );
					                        });
				                        }
				                    });

				                    jQuery( this ).dialog('close');
					            },
					            No: function()
					            {
				                    jQuery( this ).dialog('close');
					            }
					        }
					    });
					}
				});

				jQuery('.delete-outstanding-payment').on('click', function(){
					var prm = new Object();
                        prm.pkey = 'delete-outstanding-payment';
	                    prm.bid  = jQuery('[name=bid]').val();
                        prm.atid = jQuery(this).data('id');

                    jQuery('<div></div>').dialog({
				        modal: true,
				        draggable: false,
				        resizable: false,
				        title: 'Confirmation',
				        open: function()
				        {
				            jQuery(this).html('Do you want to delete this payment data?');
				        },
				        buttons:
				        {
				            Yes: function()
				            {
				            	jQuery.ajax({
			                        method: 'POST',
			                        url: '{ajax_url}',
			                        data: prm,
			                        dataType : 'json',
			                        beforeSend: function( xhr ){
			                        	jQuery('.section-overlay').fadeIn(200);
			                        },
			                        success: function( e ){
										if( e.result == 'success' )
										{
											location.reload();
										}
										else
										{
				                        	jQuery('.section-overlay').fadeOut(200, function(){
												show_popup( 'Warning', 'Update payment data failed, please try again later' );
				                        	});
										}
			                        },
			                        error: function( e ){
                						jQuery('.section-overlay').fadeOut(200, function(){
											show_popup( 'Warning', 'Update payment data failed, please try again later' );
				                        });
			                        }
			                    });

			                    jQuery( this ).dialog('close');
				            },
				            No: function()
				            {
			                    jQuery( this ).dialog('close');
				            }
				        }
				    });
				});

				jQuery('.edit-outstanding-payment').on('click', function(){
					jQuery(this).parent().parent().parent().addClass('editing');
					jQuery('.atmethod').select2();
				});

				jQuery('.cancel-edit-outstanding-payment').on('click', function(){
					jQuery(this).parent().parent().parent().removeClass('editing');
				});
			}

			function non_agent_payment_func()
			{
				jQuery('.add-new-payment-2').on('click', function(){
					jQuery('.add-new-payment-field [name=npmethod]').val(0).trigger('change.select2');
					jQuery('.add-new-payment-field [name=nppaydate]').datepicker('setDate', new Date());
					jQuery('.add-new-payment-field [name=nptotal]').autoNumeric('set', 0);
					jQuery('.add-new-payment-field [name=npvirtualacc]').val('');
					jQuery('.add-new-payment-field [name=nppayemail]').val('');
					jQuery('.add-new-payment-field [name=nprefcode]').val('');

					jQuery('.add-new-payment-field .inner').removeClass('sr-only');
					jQuery(this).toggleClass('sr-only');
				});

				jQuery('.cancel-new-payment-2').on('click', function(){
					jQuery('.add-new-payment-field [name=npmethod]').val(0).trigger('change.select2');
					jQuery('.add-new-payment-field [name=nppaydate]').datepicker('setDate', new Date());
					jQuery('.add-new-payment-field [name=nptotal]').autoNumeric('set', 0);
					jQuery('.add-new-payment-field [name=npvirtualacc]').val('');
					jQuery('.add-new-payment-field [name=nppayemail]').val('');
					jQuery('.add-new-payment-field [name=nprefcode]').val('');

					jQuery('.add-new-payment-field .inner').addClass('sr-only');
					jQuery('.add-new-payment-2').removeClass('sr-only');
				});

				jQuery('.save-new-payment-2').on('click', function(){
					var error = new Array;

					if( jQuery('[name=npmethod]').val() == '' || jQuery('[name=npmethod]').val() == null )
					{
						error.push( '<li>payment method can\'t be empty</li>' );
					}

					if( error.length > 0 )
					{
						var message = '<ol>' + error.join('') + '</ol>';

						show_popup( 'Warning', message );
					}
					else
					{
	                    var prm = new Object();
	                        prm.pkey        = 'save-booking-payment';
	                        prm.bid         = jQuery('[name=bid]').val();
	                        prm.bticket     = jQuery('[name=bticket]').val();
	                        prm.ptotal      = jQuery('[name=nptotal]').autoNumeric('get');
	                        prm.pvirtualacc = jQuery('[name=npvirtualacc]').val();
	                        prm.ppayemail   = jQuery('[name=nppayemail]').val();
	                        prm.ppaydate    = jQuery('[name=nppaydate]').val();
	                        prm.prefcode    = jQuery('[name=nprefcode]').val();
	                        prm.pmethod     = jQuery('[name=npmethod]').val();
	                        prm.pstatus     = 1;

                        jQuery('<div></div>').dialog({
					        modal: true,
					        draggable: false,
					        resizable: false,
					        title: 'Confirmation',
					        open: function()
					        {
					            jQuery(this).html('Do you want to change the on hand value as well?');
					        },
					        buttons:
					        {
					            Yes: function()
					            {
					            	popup = jQuery( this );

					                prm.updateonhand = 1;

				                    jQuery.ajax({
				                        method: 'POST',
				                        url: '{ajax_url}',
				                        data: prm,
				                        dataType : 'json',
				                        beforeSend: function( xhr ){
								           	jQuery('.section-overlay').fadeIn(200);
				                        },
				                        success: function( e ){
											if( e.result == 'success' )
											{
												location.reload();
											}
											else
											{
				                    			jQuery('.section-overlay').fadeOut(200, function(){
								                    popup.dialog('close');
													popup.dialog('destroy').remove();

													show_popup( 'Warning', 'Save payment data failed, please try again later' );
				                    			});
											}
				                        },
				                        error: function( e ){
				                    		jQuery('.section-overlay').fadeOut(200, function(){
							                    popup.dialog('close');
												popup.dialog('destroy').remove();

												show_popup( 'Warning', 'Save payment data failed, please try again later' );
				                    		});
				                        }
				                    });
					            },
					            No: function()
					            {
					            	popup = jQuery( this );

					                prm.updateonhand = 0;

				                    jQuery.ajax({
				                        method: 'POST',
				                        url: '{ajax_url}',
				                        data: prm,
				                        dataType : 'json',
				                        beforeSend: function( xhr ){
								           	jQuery('.section-overlay').fadeIn(200);
				                        },
				                        success: function( e ){
											if( e.result == 'success' )
											{
												location.reload();
											}
											else
											{
				                    			jQuery('.section-overlay').fadeOut(200, function(){
								                    popup.dialog('close');
													popup.dialog('destroy').remove();

													show_popup( 'Warning', 'Save payment data failed, please try again later' );
				                    			});
											}
				                        },
				                        error: function( e ){
				                    		jQuery('.section-overlay').fadeOut(200, function(){
							                    popup.dialog('close');
												popup.dialog('destroy').remove();

												show_popup( 'Warning', 'Save payment data failed, please try again later' );
				                    		});
				                        }
				                    });
					            }
					        }
					    });
	                }
				});

				jQuery('.update-link').on('click', function(){
					var sel   = jQuery(this).parent().parent().parent();
					var error = new Array;

					if( jQuery(sel).find('[name=pmethod]').val() == '' )
					{
						error.push( '<li>payment method can\'t be empty</li>' );
					}

					if( error.length > 0 )
					{
						var message = '<ol>' + error.join('') + '</ol>';

						show_popup( 'Warning', message );
					}
					else
					{
	                    var prm = new Object();
	                        prm.pkey        = 'update-booking-payment';
	                        prm.pid         = jQuery(this).data('id');
	                        prm.bid         = jQuery('[name=bid]').val();
	                        prm.bticket     = jQuery('[name=bticket]').val();
	                        prm.pmethod     = jQuery(sel).find('[name=pmethod]').val();
	                        prm.ppaydate    = jQuery(sel).find('[name=ppaydate]').val();
	                        prm.ppaycode    = jQuery(sel).find('[name=ppaycode]').val();
	                        prm.prefcode    = jQuery(sel).find('[name=prefcode]').val();
	                        prm.ppayemail   = jQuery(sel).find('[name=ppayemail]').val();
	                        prm.pvirtualacc = jQuery(sel).find('[name=pvirtualacc]').val();
	                        prm.ptotal      = jQuery(sel).find('[name=ptotal]').autoNumeric('get');
	                        prm.pstatus     = 1;

                        jQuery('<div></div>').dialog({
					        modal: true,
					        draggable: false,
					        resizable: false,
					        title: 'Confirmation',
					        open: function()
					        {
					            jQuery(this).html('Do you want to change the on hand value as well?');
					        },
					        buttons:
					        {
					            Yes: function()
					            {
					                prm.updateonhand = 1;

				                    jQuery.ajax({
				                        method: 'POST',
				                        url: '{ajax_url}',
				                        data: prm,
				                        dataType : 'json',
				                        beforeSend: function( xhr ){
						                   	jQuery('.section-overlay').fadeIn(200);
				                        },
				                        success: function( e ){
											if( e.result == 'success' )
											{
												location.reload();
											}
											else
											{
					                        	jQuery('.section-overlay').fadeOut(200, function(){
													show_popup( 'Warning', 'Update payment data failed, please try again later' );
												});
											}
				                        },
				                        error: function( e ){
	                						jQuery('.section-overlay').fadeOut(200, function(){
												show_popup( 'Warning', 'Update payment data failed, please try again later' );
											});
				                        }
				                    });

				                    jQuery( this ).dialog('close');
					            },
					            No: function()
					            {
					                prm.updateonhand = 0;

				                    jQuery.ajax({
				                        method: 'POST',
				                        url: '{ajax_url}',
				                        data: prm,
				                        dataType : 'json',
				                        beforeSend: function( xhr ){
						                   	jQuery('.section-overlay').fadeIn(200);
				                        },
				                        success: function( e ){
											if( e.result == 'success' )
											{
												location.reload();
											}
											else
											{
					                        	jQuery('.section-overlay').fadeOut(200, function(){
													show_popup( 'Warning', 'Update payment data failed, please try again later' );
												});
											}
				                        },
				                        error: function( e ){
	                						jQuery('.section-overlay').fadeOut(200, function(){
												show_popup( 'Warning', 'Update payment data failed, please try again later' );
											});
				                        }
				                    });

				                    jQuery( this ).dialog('close');
					            }
					        }
					    });
					}
				});

				jQuery('.delete-link').on('click', function(){
					var sel = jQuery(this);

                    jQuery('<div></div>').dialog({
				        modal: true,
				        draggable: false,
				        resizable: false,
				        title: 'Confirmation',
				        open: function()
				        {
				            jQuery(this).html('Do you want to delete this payment data?');
				        },
				        buttons:
				        {
				            Yes: function()
				            {
				            	jQuery( this ).dialog('close');
								jQuery( this ).dialog('destroy').remove();

				            	jQuery('<div></div>').dialog({
							        modal: true,
							        draggable: false,
							        resizable: false,
							        title: 'Confirmation',
							        open: function()
							        {
				            			jQuery(this).html('Do you want to update current on hand value to?');
							        },
							        buttons:
							        {
							            Yes: function()
							            {
						                    var prm = new Object();
						                        prm.pkey   = 'delete-payment';
						                        prm.pid    = sel.data('id');
						                        prm.bid    = jQuery('[name=bid]').val();
						                        prm.status = 1;

							            	jQuery.ajax({
						                        method: 'POST',
						                        url: '{ajax_url}',
						                        data: prm,
						                        dataType : 'json',
						                        beforeSend: function( xhr ){
						                        	jQuery('.section-overlay').fadeIn(200);
						                        },
						                        success: function( e ){
													if( e.result == 'success' )
													{
														location.reload();
													}
													else
													{
							                        	jQuery('.section-overlay').fadeOut(200, function(){
															show_popup( 'Warning', 'Delete payment data failed, please try again later' );
							                        	});
													}
						                        },
						                        error: function( e ){
			                						jQuery('.section-overlay').fadeOut(200, function(){
														show_popup( 'Warning', 'Delete payment data failed, please try again later' );
							                        });
						                        }
						                    });

						                    jQuery( this ).dialog('close');
											jQuery( this ).dialog('destroy').remove();
				            			},
							            No: function()
							            {
						                    var prm = new Object();
						                        prm.pkey   = 'delete-payment';
						                        prm.pid    = jQuery(this).data('id');
						                        prm.status = 0;

							            	jQuery.ajax({
						                        method: 'POST',
						                        url: '{ajax_url}',
						                        data: prm,
						                        dataType : 'json',
						                        beforeSend: function( xhr ){
						                        	jQuery('.section-overlay').fadeIn(200);
						                        },
						                        success: function( e ){
													if( e.result == 'success' )
													{
														location.reload();
													}
													else
													{
							                        	jQuery('.section-overlay').fadeOut(200, function(){
															show_popup( 'Warning', 'Delete payment data failed, please try again later' );
							                        	});
													}
						                        },
						                        error: function( e ){
			                						jQuery('.section-overlay').fadeOut(200, function(){
														show_popup( 'Warning', 'Delete payment data failed, please try again later' );
							                        });
						                        }
						                    });

						                    jQuery( this ).dialog('close');
											jQuery( this ).dialog('destroy').remove();
							            }
				            		}
				            	});
				            },
				            No: function()
				            {
			                    jQuery( this ).dialog('close');
								jQuery( this ).dialog('destroy').remove();
				            }
				        }
				    });
				});

				jQuery('.edit-link').on('click', function(){
					jQuery(this).parent().parent().parent().addClass('editing');
					jQuery(this).parent().parent().parent().find('[name=pmethod]').select2();
				});

				jQuery('.cancel-edit').on('click', function(){
					jQuery(this).parent().parent().parent().removeClass('editing');
				});
			}

            function count_new_grandtotal()
            {
                var transfee     = 0;
                var addons       = 0;
                var grandtotal   = 0;
                var balance      = 0;
                var subtotal     = 0;
                var discount     = 0;

                if( jQuery('.ptotal').length > 0 && jQuery('[name=onhandtotal]').val() > 0 )
                {
                	var onhandtotal  = 0;

                	jQuery('.ptotal').each(function(){
                		if( !jQuery(this).hasClass('ptotalusd') )
                		{
                			onhandtotal += parseInt( jQuery(this).autoNumeric('get') ) || 0;
                		}
                	});
                }
                else
                {
                	var onhandtotal  = jQuery('[name=onhandtotal]').val();
                }

                jQuery('.detail-item .row-block .inner').each(function(i, e){
	                var adult_pax    = parseInt( jQuery(this).find('.adult-group .numpax').val() ) || 0;
	                var child_pax    = parseInt( jQuery(this).find('.child-group .numpax').val() ) || 0;
	                var infant_pax   = parseInt( jQuery(this).find('.infant-group .numpax').val() ) || 0;

	                var adult_price  = jQuery(this).find('.adult-group .text-number').length > 0 ? parseInt( jQuery(this).find('.adult-group .text-number').autoNumeric('get') ) || 0 : 0;
	                var child_price  = jQuery(this).find('.child-group .text-number').length > 0 ? parseInt( jQuery(this).find('.child-group .text-number').autoNumeric('get') ) || 0 : 0;
	                var infant_price = jQuery(this).find('.infant-group .text-number').length > 0 ? parseInt( jQuery(this).find('.infant-group .text-number').autoNumeric('get') ) || 0 : 0;

	                var adult_disc  = jQuery(this).find('.adult-group .text-disc').length > 0 ? parseInt( jQuery(this).find('.adult-group .text-disc').autoNumeric('get') ) || 0 : 0;
	                var child_disc  = jQuery(this).find('.child-group .text-disc').length > 0 ? parseInt( jQuery(this).find('.child-group .text-disc').autoNumeric('get') ) || 0 : 0;
	                var infant_disc = jQuery(this).find('.infant-group .text-disc').length > 0 ? parseInt( jQuery(this).find('.infant-group .text-disc').autoNumeric('get') ) || 0 : 0;

	                var subt = ( adult_pax * adult_price ) + ( child_pax * child_price ) + ( infant_pax * infant_price );
	                var disc = ( adult_pax * adult_disc ) + ( child_pax * child_disc ) + ( infant_pax * infant_disc );
	                // var disc = jQuery(this).find('.disc').length > 0 ? parseInt( jQuery(this).find('.disc').autoNumeric('get') ) || 0 : 0;

	                jQuery(this).find('.adult-group .text-disc-pax').autoNumeric('set', adult_price - adult_disc );
	                jQuery(this).find('.child-group .text-disc-pax').autoNumeric('set', child_price - child_disc );
	                jQuery(this).find('.infant-group .text-disc-pax').autoNumeric('set', infant_price - infant_disc );

	                jQuery(this).find('.disc').autoNumeric('set', disc );
	                jQuery(this).find('.d-subtotal').val( subt );
	                jQuery(this).find('.d-total').autoNumeric('set', subt - disc );

                });

                jQuery('.add-ons-detail input[type=checkbox]:checked').each(function(){
                    addons += parseInt( jQuery(this).parents('.row-items').find('.tbaoprice').autoNumeric('get') ) || 0;
                });

                jQuery('.h-transfee').each(function(){
                    transfee += parseInt( jQuery(this).autoNumeric('get') ) || 0;
                });

                jQuery('.discount-group').each(function(){
                    discount += parseInt( jQuery(this).find('.disc').autoNumeric('get') ) || 0;
                });

                jQuery('.d-subtotal').each(function(){
                	if( jQuery(this).data('status') != 'cn' ){
                		subtotal += parseInt( jQuery(this).val() ) || 0;
                	}
                });

                grandtotal = transfee + addons + ( subtotal - discount );
                balance    = grandtotal - onhandtotal;

                jQuery('.total').autoNumeric('set', grandtotal);
                jQuery('.remaintotal').autoNumeric('set', balance);
            }

            function check_rates_func( idx )
            {
				var price = jQuery('#'+idx+'-price').val().replace(/\./g, '');
				var disc  = jQuery('#'+idx+'-disc').val().replace(/\./g, '');
				var net   = jQuery('#'+idx+'-net').val().replace(/\./g, '');
				var sell  = price - disc;

				if ( net > sell )
				{
					jQuery('<div></div>').dialog({
                        modal: true,
                        draggable: false,
                        resizable: false,
                        title: 'Warning',
                        open: function()
                        {
                            jQuery(this).parent().find('.ui-dialog-titlebar-close').hide();

                            jQuery(this).html( 'Net Rates cannot be greater than Selling Rates' );
                        },
                        buttons:
                        {
                            Ok: function()
                            {
                                jQuery('#'+idx+'-net').autoNumeric('set', sell);

                                jQuery(this).dialog('close');
                            }
                        }
                    });
				}
            }

			jQuery(document).ready(function(){
				jQuery('.select-option, .select-modal-edit, .passenger-detail select, .add-ons-id').select2();
				jQuery('.text-number').autoNumeric('init');

				agent_payment_func();
				non_agent_payment_func();

                jQuery('.same-info').unbind();
    			jQuery('.same-info').on('click', function(){
                	jQuery('.wrap-item-depart .passenger-detail tr').each(function(i, e){
                        var obj = new Object();
						obj.name        = jQuery(this).find('.bpname').val();
						obj.gender      = jQuery(this).find('.bpgender').val();
						obj.birthday    = jQuery(this).find('.bpbirthdate').val();
						obj.nationality = jQuery(this).find('.lcountry_id').val();
								
						jQuery('.wrap-item-return .passenger-detail tr:eq('+i+') .bpname').val(obj.name);
						jQuery('.wrap-item-return .passenger-detail tr:eq('+i+') .bpgender').val(obj.gender).trigger('change.select2');
						jQuery('.wrap-item-return .passenger-detail tr:eq('+i+') .bpbirthdate').val(obj.birthday);
						jQuery('.wrap-item-return .passenger-detail tr:eq('+i+') .lcountry_id').val(obj.nationality).trigger('change.select2');
					});
    			});

                jQuery('.add-new-addons').on('click', function(){
                	var prm = new Object();
	                    prm.pkey = 'add-new-addons';
	                    prm.bdid = jQuery(this).data('bdid');

	                jQuery.ajax({
	                    type: 'POST',
	                    url: '{ajax_url}',
	                    data: prm,
	                    dataType : 'html',
	                    beforeSend: function( xhr ){
	                    	show_ajax_overlay();
	                    },
	                    success: function( e ){
	                    	if( jQuery('.add-ons-items-' + prm.bdid).length == 0 )
	                    	{
				            	var addons = 
				            	'<div class="row">'+
					                '<div class="col-md-3">'+
					                    '<div class="option">'+
					                        '<span class="small-title">Name</span>'+
					                    '</div>'+
					                '</div>'+
					                '<div class="col-md-4">'+
					                    '<span class="small-title">Notes</span>'+
					                '</div>'+
					                '<div class="col-md-1 text-right">'+
					                    '<span class="small-title">Pax</span>'+
					                '</div>'+
					                '<div class="col-md-2 text-right">'+
					                    '<span class="small-title">Price (IDR)</span>'+
					                '</div>'+
					                '<div class="col-md-2 text-right">'+
					                    '<span class="small-title">Total Price (IDR)</span>'+
					                '</div>'+
					            '</div>'+
					            '<div class="add-ons-items add-ons-items-' + prm.bdid + '">'
					            	+ e +
					            '</div>';
				            	
				            	jQuery( addons ).insertAfter( jQuery( '.add-ons-detail-' + prm.bdid + ' .row-title' ) );
				            }
				            else
				            {
	                    		jQuery('.add-ons-items-' + prm.bdid).append(e);
				            }

							jQuery('.add-ons-items-' + prm.bdid + ' .row-items:last-child .add-ons-id').select2();
							jQuery('.add-ons-items-' + prm.bdid + ' .row-items:last-child .text-number').autoNumeric('init');

							jQuery('.add-ons-items-' + prm.bdid + ' .add-ons-id').unbind();
							jQuery('.add-ons-items-' + prm.bdid + ' .add-ons-id').on('change', function(e){
								var typ = jQuery(this).find('option').filter(':selected').data('type');
								var prc = jQuery(this).find('option').filter(':selected').data('price');

								jQuery(this).parents('.row-items').find('.baoprice').autoNumeric('set', prc );
								jQuery(this).parents('.row-items').find('.baoprice').trigger('blur');

								if( typ == 1 )
								{
									jQuery(this).parents('.row-items').find('.col-block').addClass('hidden');
			                        jQuery(this).parents('.row-block').find('.transport-type option[value!=1]').prop('disabled', true);
			                        jQuery(this).parents('.row-block').find('.transport-type').val(1).trigger('change.select2');
								}
								else
								{
									jQuery(this).parents('.row-items').find('.col-block').removeClass('hidden');
			                        jQuery(this).parents('.row-block').find('.transport-type option[value!=1]').prop('disabled', false);
			                        jQuery(this).parents('.row-block').find('.transport-type').trigger('change.select2');
								}
							});

							jQuery('.add-ons-items-' + prm.bdid + ' input[type=checkbox]').unbind();
							jQuery('.add-ons-items-' + prm.bdid + ' input[type=checkbox]').on('change', function(e){
			                	var typ = jQuery(this).parents('.row-items').find('.add-ons-id option').filter(':selected').data('type');
			                	
			                	if( this.checked )
			                    {
			                        if( typ == 1 )
									{
				                        jQuery(this).parents('.row-block').find('.transport-type option[value!=1]').prop('disabled', true);
				                        jQuery(this).parents('.row-block').find('.transport-type').val(1).trigger('change.select2');
									}
			                    }
			                    else
			                    {
			                        if( typ == 1 )
									{
				                        jQuery(this).parents('.row-block').find('.transport-type option[value!=1]').prop('disabled', false);
				                        jQuery(this).parents('.row-block').find('.transport-type').trigger('change.select2');
									}
			                    }

			                	count_new_grandtotal();
			                });

							jQuery('.add-ons-items-' + prm.bdid + ' .baopax').unbind();
			                jQuery('.add-ons-items-' + prm.bdid + ' .baopax').on('blur', function(e){
			                    var pax = parseInt( jQuery(this).autoNumeric('get') ) || 0;
			                    var prc = parseInt( jQuery(this).parents('.row-items').find('.baoprice').autoNumeric('get') ) || 0;
			                    var tot = pax * prc;

			                    jQuery(this).parents('.row-items').find('.tbaoprice').autoNumeric('set', tot );

			                	count_new_grandtotal();
			                });

			                jQuery('.add-ons-items-' + prm.bdid + ' .baoprice').unbind();
			                jQuery('.add-ons-items-' + prm.bdid + ' .baoprice').on('blur', function(e){
			                    var pax = parseInt( jQuery(this).parents('.row-items').find('.baopax').autoNumeric('get') ) || 0;
			                    var prc = parseInt( jQuery(this).autoNumeric('get') ) || 0;
			                    var tot = pax * prc;

			                    jQuery(this).parents('.row-items').find('.tbaoprice').autoNumeric('set', tot );

			                	count_new_grandtotal();
			                });
	                    },
	                    complete: function( e ){	                    	
	                    	hide_ajax_overlay();
	                    },
	                    error: function( e ){
	                        show_popup('Warning', 'Sorry the action can\'t be completed. Please try again later');
	                    }
	                });
                });

				jQuery('[name=update_booking]').click(function(e) {
					e.preventDefault();
					jQuery('<div></div>').dialog({
						modal: true,
						draggable: false,
						resizable: false,
						title: 'Confirmation',
						open: function()
						{
							jQuery(this).html( 'Have you make sure the "Net Rate" is correct?' );
						},
						buttons:
						{
							Yes: function()
							{
								var update = jQuery('<input type="text" name="update_booking" class="sr-only" />');

								jQuery('[name=form_edit_booking]').append(update);
								jQuery('[name=form_edit_booking]').trigger('submit');
							},
							No: function()
							{
								jQuery( this ).dialog('close');
							}
						}
					});
				});

				jQuery('[name=form_edit_booking]').submit(function() {
    				jQuery('.text-number').each(function(i){
    			        var v = jQuery(this).autoNumeric('get');
    
    		            jQuery(this).autoNumeric('destroy');
    		            jQuery(this).val(v);
    			    });
				});

                jQuery('.flight-time input').datetimepicker({
					controlType: 'select',
		            dateFormat: 'dd MM yy',
					timeFormat: 'HH:mm',
					oneLine: true,
		            minDate: 0
				});

				jQuery('.txt-date').datepicker({
                    dateFormat:'dd MM yy',
                    changeMonth: true,
                    changeYear: true
                });

                var dt = jQuery('[name=dp_date]').val();

                var maxAdult = new Date( dt );
                    maxAdult.setFullYear(maxAdult.getFullYear() - 11);
                    maxAdult.setMonth(maxAdult.getMonth() - 12);
                    maxAdult.setDate(maxAdult.getDate() -1);

                var maxChild = new Date( dt );
                    maxChild.setFullYear(maxChild.getFullYear() - 3);
                var minChild = new Date( dt );
                    minChild.setFullYear(minChild.getFullYear() - 12);

                var minInfant = new Date( dt );
                    minInfant.setFullYear(minInfant.getFullYear() - 3);
                    minInfant.setDate(minInfant.getDate() +1);
                var maxInfant = new Date( dt );
                    maxInfant.setFullYear(maxInfant.getFullYear());

                jQuery('.txt-date-adult').datepicker({
                    dateFormat:'dd MM yy',
                    changeMonth: true,
                    changeYear: true,
                    maxDate: maxAdult,
                    yearRange: '-100:+0',
                    defaultDate: '01 January 1985'
                });

                jQuery('.txt-date-child').datepicker({
                    dateFormat:'dd MM yy',
                    changeMonth: true,
                    changeYear: true,
                    minDate: minChild,
                    maxDate: maxChild
                });

                jQuery('.txt-date-infant').datepicker({
                    dateFormat:'dd MM yy',
                    changeMonth: true,
                    changeYear: true,
                    minDate: minInfant,
                    maxDate: maxInfant,
                    yearRange: '-10:+0'
                });

                jQuery('.time-picker').datetimepicker({
					controlType: 'select',
		            dateFormat: 'dd MM yy',
					timeFormat: 'HH:mm',
					oneLine: true,
		            minDate: 0
				});

				jQuery('.rev-status').on('change', function(){
                    if( jQuery(this).val() == 'Blocking' )
                    {
                        jQuery('.time-picker').parent().removeClass('sr-only');
                    }
                    else
                    {
                        jQuery('.time-picker').parent().addClass('sr-only');
                    }
                });

                jQuery('.bottom-bar .cancel').on('click', function(){
                	var bfilter = jQuery('[name=bfilter]').val();
                	window.location = jQuery('[name=state_url]').val() + '&sub=booking' + ( bfilter == '' ? '' : '&prm=' + bfilter ) ;

                	return false;
                });

                jQuery('.transport-type').each(function(i, e){
                	var sel = jQuery(this);

                	jQuery(this).parents('.row-block').find('.add-ons-id').each(function(ii, ee){
                		if( jQuery(this).find('option:selected').data('type') == 1 )
                		{
                			sel.find('option[value!=1]').prop('disabled', true).trigger('change.select2');
                		}
                	});
                });

                jQuery('.transport-type').on('change', function(e){
                    var sel   = jQuery(this);
                    var wrapp = sel.parents('.item-list');
                    var hotel = wrapp.find('.hotels').val();
                    var type  = wrapp.find('.transport-type').val();
                    var area  = wrapp.find('.hotels-area option').filter(':selected').data('area-id');
                    var addr  = wrapp.find('.hotels option').filter(':selected').data('address');
                    var phone = wrapp.find('.hotels option').filter(':selected').data('phone');
                    var email = wrapp.find('.hotels option').filter(':selected').data('email');

                    if( type == 2 )
                    {
                    	wrapp.find('.hotels-area').prop('disabled', true).trigger('change.select2');
                    	wrapp.find('.hotels-area option[data-area-id="0"]').prop('selected', true).trigger('change.select2');

                    	wrapp.find('.hotels').prop('disabled', true).val('').trigger('change.select2');
                    	wrapp.find('.h-transfee').val(0).prop('readonly', true);
                        wrapp.find('.h-transfee').autoNumeric('set', 0 );

                    	wrapp.find('.driver-block input').prop({ 'disabled':false, 'required':true });
                    	wrapp.find('.driver-block').removeClass('sr-only');

                    	wrapp.find('.hotel-block input').prop({ 'disabled':true });
                    	wrapp.find('.hotel-block').addClass('sr-only');
                    }
                    else
                    {
                    	wrapp.find('.hotels-area').prop('disabled', false).trigger('change.select2');
                    	wrapp.find('.hotels-area option[data-area-id="' + area + '"]').prop('selected', true).trigger('change.select2');

                    	wrapp.find('.driver-block input').prop({ 'disabled':true, 'required':false });
                    	wrapp.find('.driver-block').addClass('sr-only');

                    	wrapp.find('.hotel-block input').prop({ 'disabled':false });
                    	wrapp.find('.hotel-block').removeClass('sr-only');

                        if( area == 0 )
	                    {
	                    	wrapp.find('.hotels option:first-child').prop('disabled', false);
	                        wrapp.find('.hotels').prop('disabled', true).val('').trigger('change.select2');
	                        wrapp.find('.hotel-name-block').addClass('sr-only');
	                    }
	                    else
	                    {
	                    	wrapp.find('.hotels option:first-child').prop('disabled', false);
	                        wrapp.find('.hotels').prop('disabled', false).val( ( hotel == '' ? 1 : hotel ) ).trigger('change.select2');

	                        if( wrapp.find('.hotels').val() == 1 )
	                        {
	                        	wrapp.find('.hotel-name-block').removeClass('sr-only');
	                        }
	                        else
	                        {
	                        	wrapp.find('.hotel-name-block').addClass('sr-only');
	                        }
	                    }

	                    if( type == 0 )
	                    {
                        	wrapp.find('.h-transfee').val(0).prop('readonly', true);
                        	wrapp.find('.h-transfee').autoNumeric('set', 0 );
	                    }
	                    else
	                    {
                        	var fee = wrapp.find('.hotels-area option').filter(':selected').data('fee');

                        	wrapp.find('.h-transfee').val(fee).prop('readonly', false);
                        	wrapp.find('.h-transfee').autoNumeric('set', fee );
	                    }
                    }

                    var airport = wrapp.find('.hotels-area option').filter(':selected').data('airport');

                	if( airport == 1 )
                	{
                		wrapp.find('.flight-time').removeClass('sr-only');
                    	wrapp.find('.flight-time input').prop('disabled', false);
                	}
                	else
                	{
                		wrapp.find('.flight-time').addClass('sr-only');
                    	wrapp.find('.flight-time input').prop('disabled', true);
                	}

                    wrapp.find('.h-address').attr('placeholder', addr);
                    wrapp.find('.h-phone').attr('placeholder', phone);
                    wrapp.find('.h-email').attr('placeholder', email);

                    count_new_grandtotal();
                });

				jQuery('.hotels-area').on('change', function(e){
                    var sel   = jQuery(this);
                    var wrapp = sel.parents('.item-list');
                    var hotel = wrapp.find('.hotels').val();
                    var type  = wrapp.find('.transport-type').val();
                    var area  = wrapp.find('.hotels-area option').filter(':selected').data('area-id');
                    var addr  = wrapp.find('.hotels option').filter(':selected').data('address');
                    var phone = wrapp.find('.hotels option').filter(':selected').data('phone');
                    var email = wrapp.find('.hotels option').filter(':selected').data('email');

                    if( area == 0 )
                    {
                    	wrapp.find('.hotels option:first-child').prop('disabled', false);
                        wrapp.find('.hotels').prop('disabled', true).val('').trigger('change.select2');
                    	wrapp.find('.hotel-block input').prop('disabled', true);
                    }
                    else
                    {
                    	wrapp.find('.hotels option:first-child').prop('disabled', false);
                        wrapp.find('.hotels').prop('disabled', false).val(1).trigger('change.select2');
                    	wrapp.find('.hotel-block input').prop('disabled', false);

                        if( wrapp.find('.hotels').val() == 1 )
                        {
                        	wrapp.find('.hotel-name-block').removeClass('sr-only');
                        }
                        else
                        {
                        	wrapp.find('.hotel-name-block').addClass('sr-only');
                        }
                    }

                    var airport = wrapp.find('.hotels-area option').filter(':selected').data('airport');

                	if( airport == 1 )
                	{
                		wrapp.find('.flight-time').removeClass('sr-only');
                    	wrapp.find('.flight-time input').prop('disabled', false);
                	}
                	else
                	{
                		wrapp.find('.flight-time').addClass('sr-only');
                    	wrapp.find('.flight-time input').prop('disabled', true);
                	}

                    if( type == 0 )
                    {
                    	wrapp.find('.h-transfee').val(0).prop('readonly', true);
                        wrapp.find('.h-transfee').autoNumeric('set', 0 );
                    }
                    else if( type == 1 )
                    {
                        var fee = wrapp.find('.hotels-area option').filter(':selected').data('fee');

                        wrapp.find('.h-transfee').val(fee).prop('readonly', false);
                        wrapp.find('.h-transfee').autoNumeric('set', fee );
                    }
                    else if( type == 2 )
                    {
                    	wrapp.find('.h-transfee').val(0).prop('readonly', true);
                        wrapp.find('.h-transfee').autoNumeric('set', 0 );
                    }

                    wrapp.find('.h-address').attr('placeholder', addr);
                    wrapp.find('.h-phone').attr('placeholder', phone);
                    wrapp.find('.h-email').attr('placeholder', email);

                    count_new_grandtotal();
				});

                jQuery('.hotels').on('change', function(e){
                    var sel   = jQuery(this);
                    var wrapp = sel.parents('.item-list');
                    var hotel = wrapp.find('.hotels').val();
                    var type  = wrapp.find('.transport-type').val();
                    var area  = wrapp.find('.hotels option').filter(':selected').data('area-id');
                    var addr  = wrapp.find('.hotels option').filter(':selected').data('address');
                    var phone = wrapp.find('.hotels option').filter(':selected').data('phone');
                    var email = wrapp.find('.hotels option').filter(':selected').data('email');
                    var name  = wrapp.find('.hotels option').filter(':selected').text();

                    if( area != 0 )
                    {
                        wrapp.find('.hotels-area option[data-area-id="' + area + '"]').prop('selected', true).trigger('change.select2');
                    }

                    if( hotel == 1 )
                    {
                    	wrapp.find('.hotel-name-block').removeClass('sr-only');
                    }
                    else
                    {
                    	wrapp.find('.hotel-name-block').addClass('sr-only');
                    }

                	var airport = wrapp.find('.hotels-area option').filter(':selected').data('airport');

                	if( airport == 1 )
                	{
                		wrapp.find('.flight-time').removeClass('sr-only');
                		wrapp.find('.flight-time input').prop('disabled', false);
                	}
                	else
                	{
                		wrapp.find('.flight-time').addClass('sr-only');
                		wrapp.find('.flight-time input').prop('disabled', true);
                	}

                    if( type == 0 )
                    {
                    	wrapp.find('.h-transfee').val(0).prop('readonly', true);
                        wrapp.find('.h-transfee').autoNumeric('set', 0 );
                    }
                    else if( type == 1 )
                    {
                        var fee = wrapp.find('.hotels-area option').filter(':selected').data('fee');

                        wrapp.find('.h-transfee').val(fee).prop('readonly', false);
                        wrapp.find('.h-transfee').autoNumeric('set', fee );
                    }
                    else if( type == 2 )
                    {
                    	wrapp.find('.h-transfee').val(0).prop('readonly', true);
                        wrapp.find('.h-transfee').autoNumeric('set', 0 );
                    }

                    wrapp.find('.h-name').val( jQuery.trim( name ) );
                    wrapp.find('.h-phone').val( jQuery.trim( phone ) );
                    wrapp.find('.h-email').val( jQuery.trim( email ) );
                    wrapp.find('.h-address').val( jQuery.trim( addr ) );

                    count_new_grandtotal();
                });

                jQuery('.add-ons-detail input[type=checkbox]').on('change', function(e){
                	var typ = jQuery(this).parents('.row-items').find('.add-ons-id option').filter(':selected').data('type');

                	if( this.checked )
                    {
                        if( typ == 1 )
						{
	                        jQuery(this).parents('.row-block').find('.transport-type option[value!=1]').prop('disabled', true);
	                        jQuery(this).parents('.row-block').find('.transport-type').val(1).trigger('change.select2');
						}
                    }
                    else
                    {
                        if( typ == 1 )
						{
	                        jQuery(this).parents('.row-block').find('.transport-type option[value!=1]').prop('disabled', false);
	                        jQuery(this).parents('.row-block').find('.transport-type').trigger('change.select2');
						}
                    }

                	count_new_grandtotal();
                });

				jQuery('.add-ons-id').on('change', function(e){
					var typ = jQuery(this).find('option').filter(':selected').data('type');
					var prc = jQuery(this).find('option').filter(':selected').data('price');

					jQuery(this).parents('.row-items').find('.baoprice').autoNumeric('set', prc );
					jQuery(this).parents('.row-items').find('.baoprice').trigger('blur');

					if( typ == 1 )
					{
						jQuery(this).parents('.row-items').find('.col-block').addClass('hidden');
                        jQuery(this).parents('.row-block').find('.transport-type option[value!=1]').prop('disabled', true);
                        jQuery(this).parents('.row-block').find('.transport-type').val(1).trigger('change.select2');
					}
					else
					{
						jQuery(this).parents('.row-items').find('.col-block').removeClass('hidden');
                        jQuery(this).parents('.row-block').find('.transport-type option[value!=1]').prop('disabled', false);
                        jQuery(this).parents('.row-block').find('.transport-type').trigger('change.select2');
					}
				});

                jQuery('.baopax').on('blur', function(e){
                    var pax = parseInt( jQuery(this).autoNumeric('get') ) || 0;
                    var prc = parseInt( jQuery(this).parents('.row-items').find('.baoprice').autoNumeric('get') ) || 0;
                    var tot = pax * prc;

                    jQuery(this).parents('.row-items').find('.tbaoprice').autoNumeric('set', tot );

                	count_new_grandtotal();
                });

                jQuery('.baoprice').on('blur', function(e){
                    var pax = parseInt( jQuery(this).parents('.row-items').find('.baopax').autoNumeric('get') ) || 0;
                    var prc = parseInt( jQuery(this).autoNumeric('get') ) || 0;
                    var tot = pax * prc;

                    jQuery(this).parents('.row-items').find('.tbaoprice').autoNumeric('set', tot );

                	count_new_grandtotal();
                });

                jQuery('.h-transfee').on('blur', function(e){
                	count_new_grandtotal();
                });

                jQuery('.numprice').on('blur', function(e){
                    var idx  = jQuery(this).attr('data-typecheck');
                	check_rates_func(idx);

                	count_new_grandtotal();
                });

                jQuery('.numdisc').on('blur', function(e){
                    var idx  = jQuery(this).attr('data-typecheck');
                	check_rates_func(idx);

                	count_new_grandtotal();
                });

                jQuery('.netprice').blur(function(){
        			var idx  = jQuery(this).attr('data-typecheck');
                	check_rates_func(idx);
        		});

                jQuery('.edit-trip').fancybox({
			        toolbar:false,
			        slideClass:'edit-trip-dialog',
			        afterLoad: function( instance, current ){
			            var button = '<button data-fancybox-close="" class="fancybox-close-small" title="Close"></button>';
			            var iframe = jQuery('.edit-trip-dialog .fancybox-content iframe').contents().find('.wrapper-block');

			            jQuery('.edit-trip-dialog .fancybox-content').append(button);
			            jQuery('.edit-trip-dialog .close').on('click', function(){
			                instance.close();
			            });

			            jQuery('.edit-trip-dialog .fancybox-content').css({
			            	'width' : iframe.innerWidth() + 'px',
			            	'height' : iframe.innerHeight() + 'px'
			           	});

						instance.update();
			        },
			        afterClose: function(){
			            location.reload();
			        }
			    });

			    jQuery('.select-bdpstatus').each(function(){
			    	var stat = jQuery(this).val();

            		jQuery(this).on('select2:selecting', function(){
            			stat = jQuery(this).val();
            		});

            		jQuery(this).on('change.select2', function(e){
            			var sel = jQuery(this);

            			if( stat == 'cn' )
            			{
	                		var val = sel.val();
	                		var txt = sel.find('option:selected' ).text();

	                		if( jQuery.inArray( val, [ 'pa', 'ca', 'pp', 'cr' ] ) !== -1 )
	                		{
				        		jQuery('<div></div>').dialog({
							        modal: true,
							        draggable: false,
							        resizable: false,
							        title: 'Confirmation',
							        open: function()
							        {
							        	jQuery(this).html('Before changing <b>Cancelled</b> to <b>' + txt + '</b> status please make sure you have checked the seats is available for this booking! <br/><br/> Are you sure want to change to <b>' + txt + '</b>?');

							        	jQuery(this).parent().find('.ui-dialog-titlebar-close').hide();
							        },
							        buttons:
							        {
							            Yes: function()
							            {
						              		jQuery(this).dialog('close');
							            },
							            No: function()
							            {
							            	sel.val( stat ).trigger('change.select2');

							                jQuery(this).dialog('close');
							            }
							        }
							    });
				        	}
				        }
				        else
				        {
				        	var val = sel.val();
	                		var txt = sel.find('option:selected' ).text();

				        	if( val == 'pa' )
				        	{
				        		var rttl = jQuery('.remaintotal').autoNumeric('get') || 0;
		                		var leng = jQuery('.select-bdpstatus').length;
		                		var pnum = 0;

		                		jQuery('.select-bdpstatus').each(function(){
		                			if( jQuery(this).val() == 'pa' )
		                			{
		                				pnum++;
		                			}
		                		});

		                		if( rttl > 0 )
		                		{
			                		if( pnum == leng  )
			                		{
			                			jQuery('<div></div>').dialog({
									        modal: true,
									        draggable: false,
									        resizable: false,
									        title: 'Notification',
									        open: function()
									        {
									        	jQuery(this).html('Before changing payment status for this trip to <b>' + txt + '</b> please make sure you already add the payment and <b>Balance = 0</b>');

									        	jQuery(this).parent().find('.ui-dialog-titlebar-close').hide();
									        },
									        buttons:
									        {
									            Close: function()
									            {
									            	sel.val( stat ).trigger('change.select2');

								              		jQuery(this).dialog('close');
									            }
									        }
									    });
			                		}
			                		else
			                		{
			                			jQuery('<div></div>').dialog({
									        modal: true,
									        draggable: false,
									        resizable: false,
									        title: 'Confirmation',
									        open: function()
									        {
									        	jQuery(this).html('Before changing payment status for this trip to <b>' + txt + '</b> please make sure you already add the payment!<br/><br/>Are you sure want to change payment status for this trip?');

									        	jQuery(this).parent().find('.ui-dialog-titlebar-close').hide();
									        },
									        buttons:
									        {
									            Yes: function()
									            {
								              		jQuery(this).dialog('close');
									            },
									            No: function()
									            {
									            	sel.val( stat ).trigger('change.select2');

									                jQuery(this).dialog('close');
									            }
									        }
									    });
			                		}
			                	}
			                }
				        }
				    });
			    });

	            jQuery('.view-archive').fancybox({
	                slideClass:'modal-dialog',
	                toolbar:false,
	                afterShow : function( instance, current ) {
	                    var button   = '<button data-fancybox-close="" class="fancybox-close-small" title="Close"></button>';
	                    var instance = jQuery.fancybox.getInstance();

	                    jQuery('.modal-dialog .fancybox-content').append(button);
	                    jQuery('.modal-dialog .close').on('click', function(){
	                        instance.close();
	                    });
	                }
	            });

	            jQuery('.restore-archive').on('click', function(){
	            	var id = jQuery(this).data('id');

	            	jQuery('<div></div>').dialog({
				        modal: true,
				        draggable: false,
				        resizable: false,
				        title: 'Confirmation',
				        open: function(){
				        	jQuery(this).html( 'Are you sure want to restore this point?' );
				        },
				        buttons:
				        {
				            Yes: function()
				            {
			              		jQuery(this).dialog('close');
			              		jQuery('.overlay').show();

			                    var prm = new Object();
			                        prm.pkey    = 'restore-archive';
                					prm.filter  = jQuery('[name=bfilter]').val();
                					prm.bticket = jQuery('[name=bticket]').val();
			                        prm.rbid    = id;

			                    jQuery.ajax({
			                        method: 'POST',
			                        url: '{ajax_url}',
			                        data: prm,
			                        dataType : 'json',
			                        success: function( e ){
			                        	jQuery('.overlay').hide();

			                            if( e.result == 'success' )
			                            {
			                                show_popup( 'Notification', e.message, 'window.location="' + e.link + '"' );
			                            }
			                            else
			                            {
			                                show_popup( 'Warning', e.message );
			                            }
			                        },
			                        error: function( e ){
			                            jQuery('.overlay').hide();

			                            show_popup('Warning', 'Sorry the action can\'t be completed. Please try again later');
			                        }
			                    });
				            },
				            No: function()
				            {
				                jQuery( this ).dialog('close');
				            }
				        }
				    });
	            });

				jQuery('[name=booking_action]').on('click', function(){
					var id  = jQuery('[name=action]').val();

					if( id == 1 || id == 2 || id == 7 || id == 12 )
					{
						jQuery('<div></div>').dialog({
					        modal: true,
					        draggable: false,
					        resizable: false,
					        title: 'Confirmation',
					        open: function()
					        {
					        	if( id == 1 )
					            {
					            	jQuery(this).html( 'Are you sure want to email the ticket?' );
					            }
					            else if( id == 2 )
					            {
					            	jQuery(this).html( 'Are you sure want to email the receipt?' );
					            }
					            else if( id == 7 )
					            {
					            	jQuery(this).html( 'Are you sure want to email the reconfirmation?' );
					            }
					            else if( id == 12 )
					            {
					            	jQuery(this).html( 'Are you sure want to email the invoice?' );
					            }
					        },
					        buttons:
					        {
					            Yes: function()
					            {
				              		jQuery(this).dialog('close');
				              		jQuery('.overlay').show();

				                    var prm = new Object();
				                        prm.pkey   = 'execute-reservation-action';
				                        prm.bid    = '{bid}';
				                        prm.action = id;

				                    jQuery.ajax({
				                        method: 'POST',
				                        url: '{ajax_url}',
				                        data: prm,
				                        dataType : 'json',
				                        success: function( e ){
				                        	jQuery('.overlay').hide();

				                            if( e.result == 'success' )
				                            {
				                                show_popup( 'Notification', e.message );
				                            }
				                            else
				                            {
				                                show_popup( 'Warning', e.message );
				                            }
				                        },
				                        error: function( e ){
				                            jQuery('.overlay').hide();

				                            show_popup('Warning', 'Sorry the action can\'t be completed. Please try again later');
				                        }
				                    });
					            },
					            No: function()
					            {
					                jQuery( this ).dialog('close');
					            }
					        }
					    });

						return false;
					}
					else if( id == 0 || id == 4 || id == 5 || id == 8 || id == 10 || id == 11 || id == 13 )
					{
						window.open( '//{site_url}/print-and-download-report/?id={bid}&action=' + id, '_blank' );
						return false;
					}
				});
            });
		</script>
	</div>
</div>

<!-- END form-block -->