<!-- BEGIN pdf-invoice-block -->

<link rel="stylesheet" type="text/css" href="{style}">
<div class="receipt-block">
	<div class="container">
		<header class="clearfix">
			<div class="left-box">
				<img src="{img_url}/logo.png" alt="{web_title}" width="400" height="200" />
			</div>
			<div class="right-box">
				<h2>{agtype}Invoice</h2>
				<h2 style="color: color:rgb(181, 46, 39);">{pstatus}</h2>
			</div>
		</header>
		<section>
			<ul class="list">
				<li class="clearfix no-border">
					<div class="item-invoice">
						<p><b>Booking Code</b></p>
						<p>#{bticket}</p>
					</div>
					<div class="item-invoice">
						<p><b>Booker Staff/Ref. Code</b></p>
						<p>{bbooking_staf}/{bbrevagent}</p>
					</div>
					<div class="item-invoice">
						<p><b>Booking Date</b></p>
						<p>{bdate}</p>
					</div>
				</li>
				<li class="clearfix no-border">
					<div class="item-invoice">
						<p><b>Bill To :</b></p>
						<p>{bchannel}</p>
						<p>{agaddress}<br/>Phone : {agphone}</p>
					</div>
					<div class="item-invoice">
						<p><b>Email</b></p>
						<p>{bbemail}</p>
					</div>
					<div class="item-invoice">
						<p><b>Due Date</b></p>
						<p>{ddate}</p>
					</div>
				</li>
			</ul>
		</section>

		<section>
			<h3>Trip Detail</h3>

			<!-- BEGIN pdf-invoice-detail-departure-block -->
			<div class="list-trip-block {trip_dep_css}">
				<h4>Departure Trip</h4>
				<ul class="list list-table">
						
					<!-- BEGIN pdf-invoice-detail-departure-loop-block -->
				    <li class="clearfix {dep_item_class}">
						<div class="inner">
							<div class="trip-detail clearfix">
								<div class="item trip">
			                        <strong>Departure</strong>
			                        <p><b>{dep_bdfrom}</b></p>
			                        <p>{dep_bddate}, {dep_bddeparttime}</p>
								</div>
								<div class="item trip">
			                        <strong>Arrival</strong>
			                        <p><b>{dep_bdto}</b></p>
			                        <p>{dep_bddate}, {dep_bdarrivetime}</p>
								</div>
								<div class="item price">
			                        <strong>Adult (IDR)</strong>
			                        <p><b>{dep_pa_display}</b></p>
								</div>
								<div class="item price">
			                        <strong>Child (IDR)</strong>
			                        <p><b>{dep_pc_display}</b></p>
								</div>
								<div class="item price">
			                        <strong>Infant (IDR)</strong>
			                        <p><b>{dep_pi_display}</b></p>
								</div>
								<div class="item subtotal">
			                        <strong>Subtotal (IDR)</strong>
			                        <p><b>{dep_pt_display}</b></p>
								</div>
							</div>
							<div class="transport-detail clearfix">
								{dep_trans_detail}
							</div>

							{dep_add_ons}

							<div class="passenger-detail">
								<ul class="clearfix">
									{dep_passenger}
								</ul>
							</div>
						</div>
					</li>
					<!-- END pdf-invoice-detail-departure-loop-block -->

				</ul>
			</div>
				<!-- END pdf-invoice-detail-departure-block -->

			<!-- BEGIN pdf-invoice-detail-return-block -->
			<div class="list-trip-block {trip_rtn_css}">
				<h4>Return Trip</h4>
				<ul class="list list-table">
						
					<!-- BEGIN pdf-invoice-detail-return-loop-block -->
				    <li class="clearfix {rtn_item_class}">
						<div class="inner">
							<div class="trip-detail clearfix">
								<div class="item trip">
			                        <strong>Departure</strong>
			                        <p><b>{rtn_bdfrom}</b></p>
			                        <p>{rtn_bddate}, {rtn_bddeparttime}</p>
								</div>
								<div class="item trip">
			                        <strong>Arrival</strong>
			                        <p><b>{rtn_bdto}</b></p>
			                        <p>{rtn_bddate}, {rtn_bdarrivetime}</p>
								</div>
								<div class="item price">
			                        <strong>Adult (IDR)</strong>
			                        <p><b>{rtn_pa_display}</b></p>
								</div>
								<div class="item price">
			                        <strong>Child (IDR)</strong>
			                        <p><b>{rtn_pc_display}</b></p>
								</div>
								<div class="item price">
			                        <strong>Infant (IDR)</strong>
			                        <p><b>{rtn_pi_display}</b></p>
								</div>
								<div class="item subtotal">
			                        <strong>Subtotal (IDR)</strong>
			                        <p><b>{rtn_pt_display}</b></p>
								</div>
							</div>
							<div class="transport-detail clearfix">
								{rtn_trans_detail}
							</div>
							
							{rtn_add_ons}

							<div class="passenger-detail">
								<ul class="clearfix">
									{rtn_passenger}
								</ul>
							</div>
						</div>
					</li>
					<!-- END pdf-invoice-detail-return-loop-block -->

				</ul>
			</div>
			<!-- END pdf-invoice-detail-return-block -->
		</section>

		<section>
			<div class="payment-left">
				<strong>Method of Payment :</strong>
				<p>
					<b>
						<ul>
							<li>CASH to BLUE WATER SAFARIS</li>
							<li>TRANSFER : Rupiah Account PT. BLUE WATER SAFARIS<br />
								BANK BNI, CABANG RENON Account No. 052-2594976<br />
								Swift Code BNINIDJARNN
							</li>
							<li>paypal@bluewater-express.com</li>
						</ul>
					</b>
					<strong>Confirmation payment :</strong>
					<ul>
						<li>Email : ar@bluewater-express.com</li>
						<li>Telp. +62 (361) 8951111/12 | Mobile +62 813-3963-8640</li>
					</ul>
				</p>
			</div>
			<div class="payment-right">
				<strong>Payment</strong>
				<p><b>{bpaymethod}</b></p>
			</div>
			<div class="payment-right {sub_css}">
				<strong>Subtotal</strong>
				<p><b>{subtotal_display}</b></p>
			</div>
			<div class="payment-right {sub_css}">
				<strong>Discount</strong>
				<p><b>{discount_display}</b></p>
				<p>{pmcode}</p>
			</div>
			<div class="payment-right">
				<strong>Total</strong>
				<p><b>{grandtotal_display}</b></p>
			</div>
			<div class="payment-right">
				<strong>Paid</strong>
				<p><b>{onhandtotal_display}</b></p>
			</div>
			<div class="payment-right">
				<strong>Balance</strong>
				<p><b>{remaintotal_display}</b></p>
			</div>
		</section>
	</div>
</div>

<!-- END pdf-invoice-block -->