<!-- BEGIN pdf-block -->

<link rel="stylesheet" type="text/css" href="{style}">
<div class="receipt-block">
	<div class="container">
		<header class="clearfix">
			<div class="left-box">
				<img src="{img_url}/logo.png" alt="{web_title}" width="300" />
			</div>
			<div class="right-box">
				<p>Booking Code : {booking_ticket}</p>
			</div>
		</header>
		<section>
			<ul class="list">
				<li class="clearfix no-border">
					<div class="item">
						<p><b>Booking Date</b></p>
						<p>{bdate}</p>
					</div>
					<div class="item">
						<p><b>Booking Source</b></p>
						<p>{bchannel}</p>
					</div>
				</li>
			</ul>
		</section>
		<section>
			<h3>Booked By</h3>
			<ul class="list">
				<li class="clearfix no-border">
					<div class="item">
						<p><b>Name</b></p>
						<p>{bbname}</p>
					</div>
					<div class="item">
						<p><b>Email</b></p>
						<p>{bbemail}</p>
					</div>
					<div class="item">
						<p><b>Phone</b></p>
						<p>{bbphone}</p>
					</div>
				</li>
			</ul>
		</section>
		<section>
			<h3>Trip Detail</h3>

			<!-- BEGIN pdf-departure-block -->
			<div class="list-trip-block">
				<h4>Departure Trip</h4>
				<ul class="list list-table">

					<!-- BEGIN pdf-departure-loop-block -->
					<li class="clearfix {dep_item_class}">					
						<div class="inner">
							<div class="trip-detail clearfix">
								<h4 {dep_cancel_mention_css}>Cancelled</h4>
							</div>
							<div class="trip-detail clearfix">
								<div class="item trip">
			                        <strong>Departure</strong>
			                        <p><b>{dep_bdfrom}</b></p>
			                        <p>{dep_bddate}, {dep_bddeparttime}</p>
								</div>
								<div class="item trip">
			                        <strong>Arrival</strong>
			                        <p><b>{dep_bdto}</b></p>
			                        <p>{dep_bddate}, {dep_bdarrivetime}</p>
								</div>
								<div class="item price">
			                        <strong>Adult (IDR)</strong>
			                        <p><b>{dep_pa_display}</b></p>
								</div>
								<div class="item price">
			                        <strong>Child (IDR)</strong>
			                        <p><b>{dep_pc_display}</b></p>
								</div>
								<div class="item price">
			                        <strong>Infant (IDR)</strong>
			                        <p><b>{dep_pi_display}</b></p>
								</div>
								<div class="item subtotal">
			                        <strong>Subtotal (IDR)</strong>
			                        <p><b>{dep_pt_display}</b></p>
								</div>
							</div>
							<div class="transport-detail clearfix">
								{dep_trans_detail}
							</div>
							<div class="passenger-detail">
								<ul class="clearfix">
									{dep_passenger}
								</ul>
							</div>
						</div>
					</li>
					<!-- END pdf-departure-loop-block -->

				</ul>
			</div>
			<!-- END pdf-departure-block -->

			<!-- BEGIN pdf-return-block -->
			<div class="list-trip-block">
				<h4>Return Trip</h4>
				<ul class="list list-table">

					<!-- BEGIN pdf-return-loop-block -->
					<li class="clearfix {rtn_item_class}">
						<div class="inner">
							<div class="trip-detail clearfix">
								<h4 {rtn_cancel_mention_css}>Cancelled</h4>
							</div>
							<div class="trip-detail clearfix">
								<div class="item trip">
			                        <strong>Departure</strong>
			                        <p><b>{rtn_bdfrom}</b></p>
			                        <p>{rtn_bddate}, {rtn_bddeparttime}</p>
								</div>
								<div class="item trip">
			                        <strong>Arrival</strong>
			                        <p><b>{rtn_bdto}</b></p>
			                        <p>{rtn_bddate}, {rtn_bdarrivetime}</p>
								</div>
								<div class="item price">
			                        <strong>Adult (IDR)</strong>
			                        <p><b>{rtn_pa_display}</b></p>
								</div>
								<div class="item price">
			                        <strong>Child (IDR)</strong>
			                        <p><b>{rtn_pc_display}</b></p>
								</div>
								<div class="item price">
			                        <strong>Infant (IDR)</strong>
			                        <p><b>{rtn_pi_display}</b></p>
								</div>
								<div class="item subtotal">
			                        <strong>Subtotal (IDR)</strong>
			                        <p><b>{rtn_pt_display}</b></p>
								</div>
							</div>
							<div class="transport-detail clearfix">
								{rtn_trans_detail}
							</div>
							<div class="passenger-detail">
								<ul class="clearfix">
									{rtn_passenger}
								</ul>
							</div>
						</div>
					</li>
					<!-- END pdf-return-loop-block -->

				</ul>
			</div>
			<!-- END pdf-return-block -->
		</section>
		<section>
			<ul class="list list-table">
				<li class="clearfix {sub_css}">
					<div class="item summary">
                        <strong>Subtotal</strong>
                        <p><b>{subtotal_display}</b></p>
					</div>
				</li>
				<li class="clearfix {sub_css}">
					<div class="item summary">
                        <strong>Discount</strong>
                        <p><b>{discount_display}</b></p>
                        <p>{pmcode}</p>
					</div>
				</li>
				<li class="clearfix">
					<div class="item summary">
                        <strong>Total</strong>
                        <p><b>{grandtotal_display}</b></p>
					</div>
				</li>
				<li class="clearfix">
					<div class="item summary">
                        <strong>Paid</strong>
                        <p><b>{onhandtotal_display}</b></p>
					</div>
				</li>
				<li class="clearfix">
					<div class="item summary">
                        <strong>Balance</strong>
                        <p><b>{remaintotal_display}</b></p>
					</div>
				</li>
			</ul>
		</section>
		<section style="{baccommodationcss}">
			<ul class="list">
				<li class="clearfix">
					<div class="item trip">
			            <strong>Accommodation in {dep_bdto}</strong>
			            <p>
			                <b>{bhotelname}</b>
			                {bhoteladdress}
			                {bhotelphone}
			                {bhotelemail}
			            </p>
			        </div>
			    </li>
			</ul>
		</section>
	</div>
</div>

<!-- END pdf-block -->