<!-- BEGIN pdf-block -->

<link rel="stylesheet" type="text/css" href="{style}">
<div class="reconfirmation-block">
	<div class="container">
		<header class="clearfix">
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
			<div class="left-box">
				<img src="{img_url}/logo.png" alt="{web_title}" />
			</div>
			<div class="right-box">
				<div class="inner">
					<p>
						<b>BlueWater Express</b><br />
						Jl. Tukad Punggawa<br />
						Banjar Ponjok, Kelurahan Serangan<br />
						Denpasar Selatan - 80229, Bali - Indonesia<br />
						Telp: (0361) 895 1111, Fax: (0361) 8413428 / 8951084<br/>
						Reservation: 08133 841 8988<br/>
						online@bluewater-express.com | www.bluewater-express.com
					</p>
				</div>
			</div>
		</header>
		<section>
			<p>Dear {bbname},</p>
			<p>Please find below details of your upcoming trip.</p>
			<p><strong><em>NB: Please make sure you are ready on time for your pick up</em></strong><em>! Most pick ups are shared and have a few hotels to visit - if you are not ready we cannot guarantee the minibus will wait, as it may affect other pick ups and boat departure time, and you will have to make your own arrangements to the harbour at your own cost. Thankyou for your understanding.</em></p>
			<ul class="list">
				<li class="clearfix">
					<p class="first">Passangers Name</p>
					<p class="middle">:</p>
					<p class="last">{pass_name}</p>
				</li>
				<li class="clearfix">
					<p class="first">Number of Persons</p>
					<p class="middle">:</p>
					<p class="last">{num_of_person}</p>
				</li>
				<li class="clearfix">
					<p class="first">Route/Time</p>
					<p class="middle">:</p>
					<p class="last">{dep_route}<br />{rtn_route}{via_by}</p>
				</li>
				<li class="clearfix">
					<p class="first">Out Transport</p>
					<p class="middle">:</p>
					<p class="last">{dep_trans_detail}</p>
				</li>
				<li class="clearfix" style="{rtn_css}">
					<p class="first">Return Transport</p>
					<p class="middle">:</p>
					<p class="last">{rtn_trans_detail}</p>
				</li>
				<li class="clearfix">
					<p class="first">cNote</p>
					<p class="middle">:</p>
					<p class="last">Passport is required upon check in.</p>
				</li>
			</ul>
			<p><u>IMPORTANT NOTES:</u></p>
			<ul class="notes">
				<li>Cancellations or no-show made within 48 hours prior to departure date will be subject to 100% cancellation fee.</li>
			</ul>
			<p>Should you need further information, please feel free to call us at hotline number <b>+62 813 3841 8988.</b><br />Thank you for choosing Bluewater Express and look forward to welcoming you onboard.<br /><br /><br /><br /></p>
			<p>Sincerely Yours,<br /><br /><br /><br /><b>{users}</b></p>
		</section>
		<section class="accommodation-in" style="{baccommodationcss}">
			<ul class="list">
				<li class="clearfix">
					<div class="item trip">
						<strong>Accommodation in {dep_bdto}</strong>
						<p>
							<b>{bhotelname}</b>
							{bhoteladdress}
							{bhotelphone}
							{bhotelemail}
						</p>
					</div>
				</li>
			</ul>
		</section>
	</div>
</div>

<!-- END pdf-block -->