<!-- BEGIN table-block -->

<table id="last-reservation" class="table table-striped" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>Resv/Ticket #</th>
			<th width="80">Chn</th>
			<th width="100">Resv. Date</th>
			<th width="200">Booked By</th>
			<th width="200">Guest</th>
			<th>From/To</th>
			<th width="100">Dept. Date</th>
			<th>Time</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		{list}
	</tbody>
</table>

<div class="sr-only">
	<div id="wrap-popup" class="wrap-popup"></div>
</div>

<!-- END table-block -->