<!-- BEGIN pdf-block -->

<link rel="stylesheet" type="text/css" href="{style}">
<div class="ticket-block">
	<div class="container">
		<header class="clearfix">
			<div class="left-box">
				<img src="{img_url}/logo.png" alt="{web_title}" />
			</div>
			<div class="right-box">
				<div class="inner">
					<h3>Voucher</h3>
					<img src="{booking_ticket_qrcode}" alt="{booking_ticket}" />
					<p>{booking_ticket}</p>
				</div>
			</div>
		</header>
		<section>
			<h2>Customer's Detail Information</h2>
			<ul class="list">
				<li class="clearfix">
					<p class="first">Name</p>
					<p class="middle">:</p>
					<p class="last">{bbname}</p>
				</li>
				<li class="clearfix">
					<p class="first">Phone</p>
					<p class="middle">:</p>
					<p class="last">{bbphone}</p>
				</li>
				<li class="clearfix">
					<p class="first">Email</p>
					<p class="middle">:</p>
					<p class="last">{bbemail}</p>
				</li>
			</ul>
		</section>
		<section>
			<h2>Voucher Information</h2>
			<ul class="list">
				<li class="clearfix">
					<p class="first">Voucher Code</p>
					<p class="middle">:</p>
					<p class="last">{booking_ticket}</p>
				</li>
				<li class="clearfix">
					<p class="first">Participants</p>
					<p class="middle">:</p>
					<p class="last">{participans}</p>
				</li>
				<li class="clearfix">
					<p class="first">Out Transport</p>
					<p class="middle">:</p>
					<p class="last">{dep_trans_detail}</p>
				</li>
				<li class="clearfix" style="{rtn_css}">
					<p class="first">Return Transport</p>
					<p class="middle">:</p>
					<p class="last">{rtn_trans_detail}</p>
				</li>
			</ul>
		</section>
		<section>
			<h2>Trip Detail</h2>
			<div class="t-list">
				<div class="item">
		        	<ul>
		        		<!-- BEGIN pdf-departure-block -->
			            <li class="clearfix">
			            	<h3>Departure Trip</h3>
										<!-- BEGIN pdf-departure-loop-block -->
			            	<ul>
			            		<li class="clearfix">
					                <div>
					                    <strong>Departure</strong>
					                    <p>
					                        <b>{dep_bdfrom}</b><br/>
					                        {dep_bddate}, {dep_bddeparttime}<br/>
					                    </p>
					                </div>
					                <div>
					                    <strong>Arrival</strong>
					                    <p>
					                        <b>{dep_bdto}</b><br/>
					                        {dep_bddate}, {dep_bdarrivetime}<br/>
					                    </p>
					                </div>
					                <div>
					                    <strong>Boat Name</strong>
					                    <p><b>{dep_boname}</b></p>
					                </div>
					            </li>
					            {dep_addons}
										</ul>
										<ul>
											<li>
												<div class="route-div">
														<strong>Route Detail</strong>
														<ul class="r-detail"  style="{margin_left}">
															{dep_route}
														</ul>
												</div>
											</li>
										</ul>
		        				<!-- END pdf-departure-loop-block -->
			            </li>
		        		<!-- END pdf-departure-block -->

		        		<!-- BEGIN pdf-return-block -->
			            <li class="clearfix">
			            	<h3>Return Trip</h3>
										<!-- BEGIN pdf-return-loop-block -->
			            	<ul>
				            		<li>
						                <div>
						                    <strong>Departure</strong>
						                    <p>
						                        <b>{rtn_bdfrom}</b><br/>
						                        {rtn_bddate}, {rtn_bddeparttime}<br/>
						                    </p>
						                </div>
						                <div>
						                    <strong>Arrival</strong>
						                    <p>
						                        <b>{rtn_bdto}</b><br/>
						                        {rtn_bddate}, {rtn_bdarrivetime}<br/>
						                    </p>
						                </div>
						                <div>
						                    <strong>Boat Name</strong>
						                    <p><b>{rtn_boname}</b></p>
						                </div>
						            </li>
						            {rtn_addons}
						        </ul>
										<ul>
												<li>
													<div class="route-div">
														<strong>Route Detail</strong>
														<ul class="r-detail" style="{margin_left}">
															{rtn_route}
														</ul>
													</div>
												</li>
										</ul>
									<!-- END pdf-return-loop-block -->

			            </li>
		        		<!-- END pdf-return-block -->
			        </ul>
			    </div>
	        </div>
		</section>
		<section>
			<h2>Participant(s)</h2>
			<div class="p-list">
				<div class="item" style="{dprt_css}">
					<h3>Departure</h3>
					<ul>
						{dep_passenger}
					</ul>
				</div>
				<div class="item" style="{rtn_css}">
					<h3>Return</h3>
					<ul>
						{rtn_passenger}
					</ul>
				</div>
			</div>
		</section>
		<pagebreak>
		<section>
			<h2>Voucher Terms and Conditions</h2>
			<div class="tac">
				{term_and_condition}
			</div>
		</section>

		<section class="footer">
			<strong>BlueWater Express</strong>
			<p>
				Jalan Tukad Punggawa, Br. Ponjok - Serangan<br />
				T: +62 361 895 1111<br />
				{email}<br />
				www.bluewater-express.com
			</p>

			{footer_images}
		</section>
	</div>
</div>

<!-- END pdf-block -->
