<!-- BEGIN edit-block -->

<div class="wrapper-block availability-block availability-popup-block">
    <div class="container-fluid">
        <form action="" method="post" name="avform">
            <div class="row">
                <div class="col-md-12"> 
                    <h2>Check Availability</h2>
                    <div class="sr-only">
                        <input type="text" name="route_type" value="{route_type}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline route-option">
                        <div class="form-group">
                            <div class="radio">
                                <input id="one-way-option" class="one-way-option" value="0" name="route_type" autocomplete="off" type="radio" {one_way_check} />
                                <label for="one-way-option">One Way</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="radio">
                                <input id="return-option" class="return-option" value="1" name="route_type" autocomplete="off" type="radio" {return_check} />
                                <label for="return-option">Return</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                	<fieldset class="form-block">
                    	<label>Choose Destination <small>*</small></label>
                    	<div class="clearfix">
                        	<div class="col-md-3 loc">
                        		<select class="select-option required" name="depart_start_point" autocomplete="off">
                        			{depart_start_point_list}
                        		</select>
                        	</div>
                        	<div class="col-md-3 loc">
                        		<select class="select-option required" name="depart_end_point" autocomplete="off">
                        			{depart_end_point_list}
                        		</select>
                        	</div>
                            <div class="col-md-3 loc">
                                <select class="select-option required" name="return_start_point" autocomplete="off" {return_point_css}>
                                    {return_start_point_list}
                                </select>
                            </div>
                            <div class="col-md-3 loc">
                                <select class="select-option required" name="return_end_point" autocomplete="off" {return_point_css}>
                                    {return_end_point_list}
                                </select>
                            </div>
                    	</div>
                	</fieldset>
                	<fieldset class="form-block">
                		<div class="row">
                            <div class="col-md-6 date">
                                <label>Departing <small>*</small></label>
                                <input type="text" class="text form-control required" name="depart_date" placeholder="Date" value="{depart_date}" readonly>
                            </div>
                            <div class="col-md-6 date">
                                <label>Returning <small>*</small></label>
                                <input type="text" class="text form-control required" name="return_date" placeholder="Date" value="{return_date}" readonly {return_point_css}>
                            </div>
	                    </div>
                    </fieldset>
                	<fieldset class="form-block">
                		<div class="row">
                            <div class="col-md-6 passenger">
                                <div class="row">
        	                		<div class="col-md-4 col-xs-4 adult">
        	                    		<label>Adult <small>*</small></label>
        	                            <div class="number-field">
        	                        	    <input type="number" class="text form-control prequired" name="adult" value="{adult_num}" min="0" oninput="this.value = Math.abs(this.value)">
                                            <div class="number-nav">
                                                <div class="number-button up">+</div>
                                                <div class="number-button down">-</div>
                                            </div>
        	                            </div>
        	                        </div>
        	                		<div class="col-md-4 col-xs-4 child">
        			                    <label>Child (3 - 12)</label>
        	                            <div class="number-field">
        			                        <input type="number" class="text form-control prequired" name="child" value="{child_num}" min="0" oninput="this.value = Math.abs(this.value)">
                                            <div class="number-nav">
                                                <div class="number-button up">+</div>
                                                <div class="number-button down">-</div>
                                            </div>
        	                            </div>
        	                        </div>
        	                		<div class="col-md-4 col-xs-4 infant">
        			                    <label>Infant (< 3yo)</label>
        	                            <div class="number-field">
        			                       	<input type="number" class="text form-control prequired" name="infant" value="{infant_num}" min="0" oninput="this.value = Math.abs(this.value)">
                                            <div class="number-nav">
                                                <div class="number-button up">+</div>
                                                <div class="number-button down">-</div>
                                            </div>
        	                            </div>
        	                        </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row sr-only">
                                    <input type="text" name="depart_id" value="{depart_id}">
                                    <input type="text" name="return_id" value="{return_id}" {return_point_css}>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 source {source_css}">
                                        <label>Booking Source <small>*</small></label>
                                        <select class="select-option required" name="booking_source" autocomplete="off">
                                            {booking_source_list}
                                        </select>
                                    </div>
                                    <div class="col-md-6">                                    
                                        <label>&nbsp;</label>
                                        <input type="submit" name="check_trip_availability" class="check" value="Check Availability">
                                    </div>
                                </div>
                            </div>
			            </div>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="wrapper-block availability-result-block availability-result-popup-block {result_class}">
    <div class="container-fluid">
        <form action="" method="post" name="etform">
            <div class="row">
                <div class="col-md-12">
                	<div class="wrapp-list departure-list">
                		<h3>Departure, {depart_date_format}</h3>
						<h4>{depart_routes}</h4>
						<div class="row">
							<div class="col-md-12">
								<div class="result">									
						            <!-- BEGIN departure-trip-block -->
						            <div class="item col-md-12 {include_css} {include_trans_css} {closed_css}">
										<div class="row row-eq-height">
											<div class="col-md-9 shadow">
												<div class="row head-title">
													<div class="col col-md-6 title">
														<p>{boname}</p>
													</div>
													<div class="col col-md-6 notif">
														<span>{discount_notif}</span>
													</div>
												</div>
												<div class="row row-detail row-eq-height">
                                                    <div class="closed-overlay">
                                                        <div class="co-inner">
                                                            <span><b>CLOSED</b></span>
                                                        </div>
                                                    </div>
													<div class="col col-md-4">
														<p class="subtitle route">Route</p>
														<ul>
															{route_list}
														</ul>
													</div>
													<div class="col col-md-4">
														<p class="subtitle passenger">Passenger</p>
														{passenger_number}
													</div>
													<div class="col col-md-4">
														<p class="subtitle transport">Transport</p>
                                                        <p><b>Included </b></p>
													</div>
												</div>
												<div class="row row-detail row-eq-height">
													<div class="col-md-12">
														{include_transport}
													</div>
												</div>
											</div>
											<div class="col-md-3 price">
												<div class="tb">
													<div class="tb-c">
														<small>Total Price</small>
														{include_price_disc_number}
														<p>{include_price_number}</p>
														<div class="opt-btn">
															<input type="radio" name="departure_trip_transport_val" autocomplete="off" value="{trip_inc_transport_val}" {closed_attr}>
															<label></label>
														</div>
                                                        <div class="sr-only">
                                                            <input type="text" name="booked_detail[departure][{trip_inc_transport_val}][boid]" value="{boid}">
                                                            <input type="text" name="booked_detail[departure][{trip_inc_transport_val}][rid]" value="{rid}">
                                                            <input type="text" name="booked_detail[departure][{trip_inc_transport_val}][sid]" value="{sid}">
                                                            <input type="text" name="booked_detail[departure][{trip_inc_transport_val}][bdtype]" value="departure">
                                                            <input type="text" name="booked_detail[departure][{trip_inc_transport_val}][bdfrom]" value="{depart_start_point_name}">
                                                            <input type="text" name="booked_detail[departure][{trip_inc_transport_val}][bdto]" value="{depart_end_point_name}">
                                                            <input type="text" name="booked_detail[departure][{trip_inc_transport_val}][bdfrom_id]" value="{depart_start_point}">
                                                            <input type="text" name="booked_detail[departure][{trip_inc_transport_val}][bdto_id]" value="{depart_end_point}">
                                                            <input type="text" name="booked_detail[departure][{trip_inc_transport_val}][bddeparttime]" value="{bddeparttime}">
                                                            <input type="text" name="booked_detail[departure][{trip_inc_transport_val}][bdarrivetime]" value="{bdarrivetime}">
                                                            <input type="text" name="booked_detail[departure][{trip_inc_transport_val}][bddate]" value="{depart_date}">
                                                            <input type="text" name="booked_detail[departure][{trip_inc_transport_val}][bdtranstype]" value="1">
                                                            <input type="text" name="booked_detail[departure][{trip_inc_transport_val}][num_adult]" value="{adult_num}">
                                                            <input type="text" name="booked_detail[departure][{trip_inc_transport_val}][num_child]" value="{child_num}">
                                                            <input type="text" name="booked_detail[departure][{trip_inc_transport_val}][num_infant]" value="{infant_num}">
                                                            <input type="text" name="booked_detail[departure][{trip_inc_transport_val}][price_per_adult]" value="{inc_adult_price}">
                                                            <input type="text" name="booked_detail[departure][{trip_inc_transport_val}][price_per_child]" value="{inc_child_price}">
                                                            <input type="text" name="booked_detail[departure][{trip_inc_transport_val}][price_per_infant]" value="{inc_infant_price}">
                                                            <input type="text" name="booked_detail[departure][{trip_inc_transport_val}][selling_price_per_adult]" value="{inc_sell_adult_price}">
                                                            <input type="text" name="booked_detail[departure][{trip_inc_transport_val}][selling_price_per_child]" value="{inc_sell_child_price}">
                                                            <input type="text" name="booked_detail[departure][{trip_inc_transport_val}][selling_price_per_infant]" value="{inc_sell_infant_price}">
                                                            <input type="text" name="booked_detail[departure][{trip_inc_transport_val}][disc_price_per_adult]" value="{inc_disc_adult}">
                                                            <input type="text" name="booked_detail[departure][{trip_inc_transport_val}][disc_price_per_child]" value="{inc_disc_child}">
                                                            <input type="text" name="booked_detail[departure][{trip_inc_transport_val}][disc_price_per_infant]" value="{inc_disc_infant}">
                                                            <input type="text" name="booked_detail[departure][{trip_inc_transport_val}][subtotal]" value="{inc_total_price}">
                                                            <input type="text" name="booked_detail[departure][{trip_inc_transport_val}][discount]" value="{inc_disc_price}">
                                                        </div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="item col-md-12 {exclude_css} {closed_css}">
										<div class="row row-eq-height">
											<div class="col-md-9 shadow">
												<div class="row head-title">
													<div class="col col-md-6 title">
														<p>{boname}</p>
													</div>
													<div class="col col-md-6 notif">
														<span>{discount_notif}</span>
													</div>
												</div>
												<div class="row row-detail row-eq-height">
                                                    <div class="closed-overlay">
                                                        <div class="co-inner">
                                                            <span><b>CLOSED</b></span>
                                                        </div>
                                                    </div>
													<div class="col col-md-4">
														<p class="subtitle route">Route</p>
														<ul>
															{route_list}
														</ul>
													</div>
													<div class="col col-md-4">
														<p class="subtitle passenger">Passenger</p>
														{passenger_number}
													</div>
													<div class="col col-md-4">
														<p class="subtitle transport">Transport</p>
														<p><b>Excluded </b></p>
													</div>
												</div>
                                                <div class="row row-detail row-eq-height">
                                                    <div class="col-md-12">
                                                        {exclude_transport}
                                                    </div>
                                                </div>
											</div>
											<div class="col-md-3 price">
												<div class="tb">
													<div class="tb-c">
														<small>Total Price</small>
														{exclude_price_disc_number}
														<p>{exclude_price_number}</p>
														<div class="opt-btn">
                                                            <input type="radio" name="departure_trip_transport_val" autocomplete="off" value="{trip_exc_transport_val}" {closed_attr}>
															<label></label>
														</div>
                                                        <div class="sr-only">
                                                            <input type="text" name="booked_detail[departure][{trip_exc_transport_val}][boid]" value="{boid}">
                                                            <input type="text" name="booked_detail[departure][{trip_exc_transport_val}][rid]" value="{rid}">
                                                            <input type="text" name="booked_detail[departure][{trip_exc_transport_val}][sid]" value="{sid}">
                                                            <input type="text" name="booked_detail[departure][{trip_exc_transport_val}][bdtype]" value="departure">
                                                            <input type="text" name="booked_detail[departure][{trip_exc_transport_val}][bdfrom]" value="{depart_start_point_name}">
                                                            <input type="text" name="booked_detail[departure][{trip_exc_transport_val}][bdto]" value="{depart_end_point_name}">
                                                            <input type="text" name="booked_detail[departure][{trip_exc_transport_val}][bdfrom_id]" value="{depart_start_point}">
                                                            <input type="text" name="booked_detail[departure][{trip_exc_transport_val}][bdto_id]" value="{depart_end_point}">
                                                            <input type="text" name="booked_detail[departure][{trip_exc_transport_val}][bddeparttime]" value="{bddeparttime}">
                                                            <input type="text" name="booked_detail[departure][{trip_exc_transport_val}][bdarrivetime]" value="{bdarrivetime}">
                                                            <input type="text" name="booked_detail[departure][{trip_exc_transport_val}][bddate]" value="{depart_date}">
                                                            <input type="text" name="booked_detail[departure][{trip_exc_transport_val}][bdtranstype]" value="0">
                                                            <input type="text" name="booked_detail[departure][{trip_exc_transport_val}][num_adult]" value="{adult_num}">
                                                            <input type="text" name="booked_detail[departure][{trip_exc_transport_val}][num_child]" value="{child_num}">
                                                            <input type="text" name="booked_detail[departure][{trip_exc_transport_val}][num_infant]" value="{infant_num}">
                                                            <input type="text" name="booked_detail[departure][{trip_exc_transport_val}][price_per_adult]" value="{exc_adult_price}">
                                                            <input type="text" name="booked_detail[departure][{trip_exc_transport_val}][price_per_child]" value="{exc_child_price}">
                                                            <input type="text" name="booked_detail[departure][{trip_exc_transport_val}][price_per_infant]" value="{exc_infant_price}">
                                                            <input type="text" name="booked_detail[departure][{trip_exc_transport_val}][selling_price_per_adult]" value="{exc_sell_adult_price}">
                                                            <input type="text" name="booked_detail[departure][{trip_exc_transport_val}][selling_price_per_child]" value="{exc_sell_child_price}">
                                                            <input type="text" name="booked_detail[departure][{trip_exc_transport_val}][selling_price_per_infant]" value="{exc_sell_infant_price}">
                                                            <input type="text" name="booked_detail[departure][{trip_exc_transport_val}][disc_price_per_adult]" value="{exc_disc_adult}">
                                                            <input type="text" name="booked_detail[departure][{trip_exc_transport_val}][disc_price_per_child]" value="{exc_disc_child}">
                                                            <input type="text" name="booked_detail[departure][{trip_exc_transport_val}][disc_price_per_infant]" value="{exc_disc_infant}">
                                                            <input type="text" name="booked_detail[departure][{trip_exc_transport_val}][subtotal]" value="{exc_total_price}">
                                                            <input type="text" name="booked_detail[departure][{trip_exc_transport_val}][discount]" value="{exc_disc_price}">
                                                        </div>
													</div>
												</div>
											</div>
										</div>
									</div>
						            <!-- END departure-trip-block -->

						            <!-- BEGIN no-departure-trip-block -->
							    	<div class="item col-md-12">
										<div class="row row-eq-height">
											<div class="col-md-12">
												<div class="row">
													<div class="col col-md-12 title">
														<p>Ooops, sold out for that date and route! If your dates are flexible please try day before or after.</p>
													</div>
												</div>
											</div>
										</div>
									</div>
						            <!-- END no-departure-trip-block -->
								</div>
							</div>
						</div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="passenger-detail">
                                    <h3>Passenger Detail</h3>
                                    <div class="row">
                                        <div class="col-md-12">  
                                            <fieldset class="form-block no-border">               
                                                <table class="table">
                                                    {depart_passenger}
                                                </table>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                	</div>

                    <div class="wrapp-list return-list {return_css}">
                        <h3>Return, {return_date_format}</h3>
                        <h4>{return_routes}</h4>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="result">                                    
                                    <!-- BEGIN return-trip-block -->                                    
                                    <div class="item col-md-12 {include_css} {include_trans_css} {closed_css}">
                                        <div class="row row-eq-height">
                                            <div class="col-md-9 shadow">
                                                <div class="row head-title">
                                                    <div class="col col-md-6 title">
                                                        <p>{boname}</p>
                                                    </div>
                                                    <div class="col col-md-6 notif">
                                                        <span>{discount_notif}</span>
                                                    </div>
                                                </div>
                                                <div class="row row-detail row-eq-height">
                                                    <div class="closed-overlay">
                                                        <div class="co-inner">
                                                            <span><b>CLOSED</b></span>
                                                        </div>
                                                    </div>
                                                    <div class="col col-md-4">
                                                        <p class="subtitle route">Route</p>
                                                        <ul>
                                                            {route_list}
                                                        </ul>
                                                    </div>
                                                    <div class="col col-md-4">
                                                        <p class="subtitle passenger">Passenger</p>
                                                        {passenger_number}
                                                    </div>
                                                    <div class="col col-md-4">
                                                        <p class="subtitle transport">Transport</p>
                                                        <p><b>Included </b></p>
                                                    </div>
                                                </div>
                                                <div class="row row-detail row-eq-height">
                                                    <div class="col-md-12">
                                                        {include_transport}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 price">
                                                <div class="tb">
                                                    <div class="tb-c">
                                                        <small>Total Price</small>
                                                        {include_price_disc_number}
                                                        <p>{include_price_number}</p>
                                                        <div class="opt-btn">
                                                            <input type="radio" name="return_trip_transport_val" autocomplete="off" value="{trip_inc_transport_val}" {closed_attr}>
                                                            <label></label>
                                                        </div>
                                                        <div class="sr-only">
                                                            <input type="text" name="booked_detail[return][{trip_inc_transport_val}][boid]" value="{boid}">
                                                            <input type="text" name="booked_detail[return][{trip_inc_transport_val}][rid]" value="{rid}">
                                                            <input type="text" name="booked_detail[return][{trip_inc_transport_val}][sid]" value="{sid}">
                                                            <input type="text" name="booked_detail[return][{trip_inc_transport_val}][bdtype]" value="return">
                                                            <input type="text" name="booked_detail[return][{trip_inc_transport_val}][bdfrom]" value="{return_start_point_name}">
                                                            <input type="text" name="booked_detail[return][{trip_inc_transport_val}][bdto]" value="{return_end_point_name}">
                                                            <input type="text" name="booked_detail[return][{trip_inc_transport_val}][bdfrom_id]" value="{return_start_point}">
                                                            <input type="text" name="booked_detail[return][{trip_inc_transport_val}][bdto_id]" value="{return_end_point}">
                                                            <input type="text" name="booked_detail[return][{trip_inc_transport_val}][bddeparttime]" value="{bddeparttime}">
                                                            <input type="text" name="booked_detail[return][{trip_inc_transport_val}][bdarrivetime]" value="{bdarrivetime}">
                                                            <input type="text" name="booked_detail[return][{trip_inc_transport_val}][bddate]" value="{return_date}">
                                                            <input type="text" name="booked_detail[return][{trip_inc_transport_val}][bdtranstype]" value="1">
                                                            <input type="text" name="booked_detail[return][{trip_inc_transport_val}][num_adult]" value="{adult_num}">
                                                            <input type="text" name="booked_detail[return][{trip_inc_transport_val}][num_child]" value="{child_num}">
                                                            <input type="text" name="booked_detail[return][{trip_inc_transport_val}][num_infant]" value="{infant_num}">
                                                            <input type="text" name="booked_detail[return][{trip_inc_transport_val}][price_per_adult]" value="{inc_adult_price}">
                                                            <input type="text" name="booked_detail[return][{trip_inc_transport_val}][price_per_child]" value="{inc_child_price}">
                                                            <input type="text" name="booked_detail[return][{trip_inc_transport_val}][price_per_infant]" value="{inc_infant_price}">
                                                            <input type="text" name="booked_detail[return][{trip_inc_transport_val}][selling_price_per_adult]" value="{inc_sell_adult_price}">
                                                            <input type="text" name="booked_detail[return][{trip_inc_transport_val}][selling_price_per_child]" value="{inc_sell_child_price}">
                                                            <input type="text" name="booked_detail[return][{trip_inc_transport_val}][selling_price_per_infant]" value="{inc_sell_infant_price}">
                                                            <input type="text" name="booked_detail[return][{trip_inc_transport_val}][disc_price_per_adult]" value="{inc_disc_adult}">
                                                            <input type="text" name="booked_detail[return][{trip_inc_transport_val}][disc_price_per_child]" value="{inc_disc_child}">
                                                            <input type="text" name="booked_detail[return][{trip_inc_transport_val}][disc_price_per_infant]" value="{inc_disc_infant}">
                                                            <input type="text" name="booked_detail[return][{trip_inc_transport_val}][subtotal]" value="{inc_total_price}">
                                                            <input type="text" name="booked_detail[return][{trip_inc_transport_val}][discount]" value="{inc_disc_price}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item col-md-12 {exclude_css} {closed_css}">
                                        <div class="row row-eq-height">
                                            <div class="col-md-9 shadow">
                                                <div class="row head-title">
                                                    <div class="col col-md-6 title">
                                                        <p>{boname}</p>
                                                    </div>
                                                    <div class="col col-md-6 notif">
                                                        <span>{discount_notif}</span>
                                                    </div>
                                                </div>
                                                <div class="row row-detail row-eq-height">
                                                    <div class="closed-overlay">
                                                        <div class="co-inner">
                                                            <span><b>CLOSED</b></span>
                                                        </div>
                                                    </div>
                                                    <div class="col col-md-4">
                                                        <p class="subtitle route">Route</p>
                                                        <ul>
                                                            {route_list}
                                                        </ul>
                                                    </div>
                                                    <div class="col col-md-4">
                                                        <p class="subtitle passenger">Passenger</p>
                                                        {passenger_number}
                                                    </div>
                                                    <div class="col col-md-4">
                                                        <p class="subtitle transport">Transport</p>
                                                        <p><b>Excluded </b></p>
                                                    </div>
                                                </div>
                                                <div class="row row-detail row-eq-height">
                                                    <div class="col-md-12">
                                                        {exclude_transport}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 price">
                                                <div class="tb">
                                                    <div class="tb-c">
                                                        <small>Total Price</small>
                                                        {exclude_price_disc_number}
                                                        <p>{exclude_price_number}</p>
                                                        <div class="opt-btn">
                                                            <input type="radio" name="return_trip_transport_val" autocomplete="off" value="{trip_exc_transport_val}" {closed_attr}>
                                                            <label></label>
                                                        </div>
                                                        <div class="sr-only">
                                                            <input type="text" name="booked_detail[return][{trip_exc_transport_val}][boid]" value="{boid}">
                                                            <input type="text" name="booked_detail[return][{trip_exc_transport_val}][rid]" value="{rid}">
                                                            <input type="text" name="booked_detail[return][{trip_exc_transport_val}][sid]" value="{sid}">
                                                            <input type="text" name="booked_detail[return][{trip_exc_transport_val}][bdtype]" value="return">
                                                            <input type="text" name="booked_detail[return][{trip_exc_transport_val}][bdfrom]" value="{return_start_point_name}">
                                                            <input type="text" name="booked_detail[return][{trip_exc_transport_val}][bdto]" value="{return_end_point_name}">
                                                            <input type="text" name="booked_detail[return][{trip_exc_transport_val}][bdfrom_id]" value="{return_start_point}">
                                                            <input type="text" name="booked_detail[return][{trip_exc_transport_val}][bdto_id]" value="{return_end_point}">
                                                            <input type="text" name="booked_detail[return][{trip_exc_transport_val}][bddeparttime]" value="{bddeparttime}">
                                                            <input type="text" name="booked_detail[return][{trip_exc_transport_val}][bdarrivetime]" value="{bdarrivetime}">
                                                            <input type="text" name="booked_detail[return][{trip_exc_transport_val}][bddate]" value="{return_date}">
                                                            <input type="text" name="booked_detail[return][{trip_exc_transport_val}][bdtranstype]" value="0">
                                                            <input type="text" name="booked_detail[return][{trip_exc_transport_val}][num_adult]" value="{adult_num}">
                                                            <input type="text" name="booked_detail[return][{trip_exc_transport_val}][num_child]" value="{child_num}">
                                                            <input type="text" name="booked_detail[return][{trip_exc_transport_val}][num_infant]" value="{infant_num}">
                                                            <input type="text" name="booked_detail[return][{trip_exc_transport_val}][price_per_adult]" value="{exc_adult_price}">
                                                            <input type="text" name="booked_detail[return][{trip_exc_transport_val}][price_per_child]" value="{exc_child_price}">
                                                            <input type="text" name="booked_detail[return][{trip_exc_transport_val}][price_per_infant]" value="{exc_infant_price}">
                                                            <input type="text" name="booked_detail[return][{trip_exc_transport_val}][selling_price_per_adult]" value="{exc_sell_adult_price}">
                                                            <input type="text" name="booked_detail[return][{trip_exc_transport_val}][selling_price_per_child]" value="{exc_sell_child_price}">
                                                            <input type="text" name="booked_detail[return][{trip_exc_transport_val}][selling_price_per_infant]" value="{exc_sell_infant_price}">
                                                            <input type="text" name="booked_detail[return][{trip_exc_transport_val}][disc_price_per_adult]" value="{exc_disc_adult}">
                                                            <input type="text" name="booked_detail[return][{trip_exc_transport_val}][disc_price_per_child]" value="{exc_disc_child}">
                                                            <input type="text" name="booked_detail[return][{trip_exc_transport_val}][disc_price_per_infant]" value="{exc_disc_infant}">
                                                            <input type="text" name="booked_detail[return][{trip_exc_transport_val}][subtotal]" value="{exc_total_price}">
                                                            <input type="text" name="booked_detail[return][{trip_exc_transport_val}][discount]" value="{exc_disc_price}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END return-trip-block -->

                                    <!-- BEGIN no-return-trip-block -->
                                    <div class="item col-md-12">
                                        <div class="row row-eq-height">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col col-md-12 title">
                                                        <p>Ooops, sold out for that date and route! If your dates are flexible please try day before or after.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END no-return-trip-block -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="passenger-detail">
                                    <h3>Passenger Detail</h3>
                                    <a class="same-info">Same as above information</a>
                                    <div class="row">
                                        <div class="col-md-12">  
                                            <fieldset class="form-block no-border">               
                                                <table class="table">
                                                    {return_passenger}
                                                </table>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="sr-only">
                        <input type="text" name="booked[btype]" value="{route_type}">
                        <input type="text" name="booked[chid]" value="{chid}">
                        <input type="text" name="booked[agid]" value="{agid}">
                    </div>
                	<div class="actions clearfix">
                		<input class="submit disabled" type="submit" name="edit_trip_data" value="Continue Edit" disabled>
                	</div>
                </div>
            </div>
        </form>
	</div>
</div>

<script type="text/javascript">
    function validate_form()
    {
        var type  = jQuery('[name=route_type]').val();
        var error = 0;
        var sum   = 0;

        jQuery('.required:not(:disabled)').each(function(){
            var vals = jQuery(this).val();

            if( vals == '' )
            {
                jQuery(this).parent().addClass('has-error');
                error++;
            }
        });

        jQuery('.prequired').each(function(){
            var vals = jQuery(this).val();
                sum  = sum + parseInt(vals);

            if( vals == '' )
            {
                jQuery(this).parent().addClass('has-error');
                error++;
            }
        });
        
        if( error == 0 )
        {
            if( sum == 0 )
            {
                show_popup('Warning', 'Number of passenger can\'t be empty');

                return false;
            }
            else
            {
                return true;
            }
        }
        else
        {
            show_popup('Warning', 'Please check again your data before submited request, some of field may be empty or not valid');

            return false;
        }
    }

    jQuery(document).ready(function(){
		jQuery('.select-option').chosen({ max_selected_options:10, search_contains:true });

        jQuery('[name=route_type]').on('change', function(){
            var vals = jQuery(this).val();

            if( vals == 0 )
            {
                jQuery('[name=return_start_point]').prop('disabled', true).trigger('chosen:updated');
                jQuery('[name=return_end_point]').prop('disabled', true).trigger('chosen:updated');
                jQuery('[name=return_date]').prop('disabled', true);
            }
            else
            {
                jQuery('[name=return_start_point]').prop('disabled', false).trigger('chosen:updated');
                jQuery('[name=return_end_point]').prop('disabled', false).trigger('chosen:updated');
                jQuery('[name=return_date]').prop('disabled', false);
            }

            jQuery('.required, .select-option').parent().removeClass('has-error');
        });

        jQuery('[name=check_trip_availability]').on('click', function(){
            if( validate_form() )
            {
                return true;
            }

            return false;
        });

        jQuery('.flight-time input').datetimepicker({
            controlType: 'select',
            dateFormat: 'dd MM yy',
            timeFormat: 'HH:mm',
            oneLine: true,
            minDate: 0
        });

        jQuery('.txt-date-adult').datepicker({
            dateFormat:'dd MM yy',
            changeMonth: true,
            changeYear: true,
            maxDate: '-13Y',
            yearRange: '-50:+0',
            defaultDate: '01 January 1985'
        });

        jQuery('.txt-date-child').datepicker({
            dateFormat:'dd MM yy',
            changeMonth: true,
            changeYear: true,
            minDate: '-12Y',
            maxDate: '-3Y'
        });
        
        jQuery('.txt-date-infant').datepicker({
            dateFormat:'dd MM yy',
            changeMonth: true,
            changeYear: true,
            minDate: '-3Y',
            yearRange: '-10:+0'
        });
		
        jQuery('[name=depart_date]').datepicker({
            dateFormat:'dd MM yy',
            onSelect: function(date){
                var date2 = jQuery('[name=return_date]').datepicker('getDate');

                if( date2 == null )
                {
                    jQuery('[name=return_date]').datepicker('setDate', date);
                    jQuery('[name=return_date]').parent().removeClass('has-error');
                }

                jQuery('[name=return_date]').datepicker('option', 'minDate', date);
            }
        });

        jQuery('[name=return_date]').datepicker({
            dateFormat:'dd MM yy',
            minDate: jQuery('[name=depart_date]').datepicker('getDate'),
            onClose: function(date){
                var date2 = jQuery('[name=depart_date]').datepicker('getDate');

                if( date2 == null )
                {
                    jQuery('[name=depart_date]').datepicker('setDate', date);
                    jQuery('[name=depart_date]').parent().removeClass('has-error');
                }
                
                jQuery('[name=depart_date]').datepicker('option', 'maxDate', date);
            }
        });

		jQuery('.price .opt-btn input').on('click', function(e){
            var type = jQuery('[name=route_type]').val();
            var num  = type == 0 ? 1 : 2;

	        if( jQuery('.price .opt-btn input:checked').length == num )
	        {
	            jQuery('[name=edit_trip_data]').removeAttr('disabled').removeClass('disabled');
	        }

			if( this.checked )
			{
				jQuery('.departure-list .item').removeClass('selected');
				jQuery(this).parent('.item').addClass('selected');
			}
		});

        jQuery('.transport-type').on('change', function(e){
            var sel   = jQuery(this);
            var wrapp = sel.parents('.trans-opt-block');
            var hotel = wrapp.find('.hotels').val();
            var type  = wrapp.find('.transport-type').val();
            var area  = wrapp.find('.hotels-area option').filter(':selected').data('area-id');
            var addr  = wrapp.find('.hotels option').filter(':selected').data('address');
            var phone = wrapp.find('.hotels option').filter(':selected').data('phone');
            var email = wrapp.find('.hotels option').filter(':selected').data('email');

            if( type == 2 )
            {
            	wrapp.find('.hotels-area').prop('disabled', true).trigger('chosen:updated');
            	wrapp.find('.hotels-area option[data-area-id="0"]').prop('selected', true).trigger('chosen:updated');

            	wrapp.find('.hotels').prop('disabled', true).val('').trigger('chosen:updated');
            	wrapp.find('.trans-fee').val(0).prop({ 'readonly':true, 'required':false });

                wrapp.find('.driver-block input').prop({ 'disabled':false, 'required':true });
                wrapp.find('.driver-block').removeClass('sr-only');
            }
            else
            {
            	wrapp.find('.hotels-area').prop('disabled', false).trigger('chosen:updated');
            	wrapp.find('.hotels-area option[data-area-id="' + area + '"]').prop('selected', true).trigger('chosen:updated');

                wrapp.find('.driver-block input').prop({ 'disabled':true, 'required':false });
                wrapp.find('.driver-block').addClass('sr-only');

                if( area == 0 )
                {
                	wrapp.find('.hotels option:first-child').prop('disabled', false);
                    wrapp.find('.hotels').prop('disabled', true).val('').trigger('chosen:updated');
                }
                else
                {
                	wrapp.find('.hotels option:first-child').prop('disabled', true);
                    wrapp.find('.hotels').prop('disabled', false).val( ( hotel == '' ? 1 : hotel ) ).trigger('chosen:updated');
                }

                if( type == 0 )
                {
                	wrapp.find('.trans-fee').val(0).prop({ 'readonly':true, 'required':false });
                }
                else
                {
                	var fee = wrapp.find('.hotels-area option').filter(':selected').data('fee');

                	wrapp.find('.trans-fee').val(fee).prop({ 'readonly':false, 'required':true });
                }
            }
            
            var airport = wrapp.find('.hotels-area option').filter(':selected').data('airport');
            var hotel   = wrapp.find('.hotels').val();

            if( hotel == 1 )
            {
                wrapp.find('.hotel-detail-block').removeClass('sr-only');
            }
            else
            {
                wrapp.find('.hotel-detail-block').addClass('sr-only');
            }

            if( airport == 1 )
            {
                wrapp.find('.flight-time').removeClass('sr-only');
                wrapp.find('.flight-time input').prop('disabled', false);
            }
            else
            {
                wrapp.find('.flight-time').addClass('sr-only');
                wrapp.find('.flight-time input').prop('disabled', true);
            }
        });

		jQuery('.hotels-area').on('change', function(e){
            var sel   = jQuery(this);
            var wrapp = sel.parents('.trans-opt-block');
            var hotel = wrapp.find('.hotels').val();
            var type  = wrapp.find('.transport-type').val();
            var area  = wrapp.find('.hotels-area option').filter(':selected').data('area-id');
            var addr  = wrapp.find('.hotels option').filter(':selected').data('address');
            var phone = wrapp.find('.hotels option').filter(':selected').data('phone');
            var email = wrapp.find('.hotels option').filter(':selected').data('email');

            if( area == 0 )
            {
            	wrapp.find('.hotels option:first-child').prop('disabled', false);
                wrapp.find('.hotels').prop('disabled', true).val('').trigger('chosen:updated');
                        
                wrapp.find('.flight-time').addClass('sr-only');
                wrapp.find('.flight-time input').prop('disabled', true);
            }
            else
            {
            	wrapp.find('.hotels option:first-child').prop('disabled', true);
                wrapp.find('.hotels').prop('disabled', false).val(1).trigger('chosen:updated');
            }

            var airport = wrapp.find('.hotels-area option').filter(':selected').data('airport');
            var hotel   = wrapp.find('.hotels').val();

            if( hotel == 1 )
            {
                wrapp.find('.hotel-detail-block').removeClass('sr-only');
            }
            else
            {
                wrapp.find('.hotel-detail-block').addClass('sr-only');
            }

            if( airport == 1 )
            {
                wrapp.find('.flight-time').removeClass('sr-only');
                wrapp.find('.flight-time input').prop('disabled', false);
            }
            else
            {
                wrapp.find('.flight-time').addClass('sr-only');
                wrapp.find('.flight-time input').prop('disabled', true);
            }

            if( type == 0 )
            {
            	wrapp.find('.trans-fee').val(0).prop({ 'readonly':true, 'required':false });
            }
            else if( type == 1 )
            {
                var fee = wrapp.find('.hotels-area option').filter(':selected').data('fee');

                wrapp.find('.trans-fee').val(fee).prop({ 'readonly':false, 'required':true });
            }
            else if( type == 2 )
            {
            	wrapp.find('.trans-fee').val(0).prop({ 'readonly':true, 'required':false });
            }
		});

        jQuery('.hotels').on('change', function(e){
            var sel   = jQuery(this);
            var wrapp = sel.parents('.trans-opt-block');
            var hotel = wrapp.find('.hotels').val();
            var type  = wrapp.find('.transport-type').val();
            var area  = wrapp.find('.hotels option').filter(':selected').data('area-id');
            var addr  = wrapp.find('.hotels option').filter(':selected').data('address');
            var phone = wrapp.find('.hotels option').filter(':selected').data('phone');
            var email = wrapp.find('.hotels option').filter(':selected').data('email');

            if( hotel == 1 )
            {
                wrapp.find('.hotel-detail-block').removeClass('sr-only');
            }
            else
            {
                wrapp.find('.hotel-detail-block').addClass('sr-only');
            }

            if( area != 0 )
            {
                wrapp.find('.hotels-area option[data-area-id="' + area + '"]').prop('selected', true).trigger('chosen:updated');
            }            

            var airport = wrapp.find('.hotels-area option').filter(':selected').data('airport');

            if( airport == 1 )
            {
                wrapp.find('.flight-time').removeClass('sr-only');
                wrapp.find('.flight-time input').prop('disabled', false);
            }
            else
            {
                wrapp.find('.flight-time').addClass('sr-only');
                wrapp.find('.flight-time input').prop('disabled', true);
            }

            if( type == 0 )
            {
            	wrapp.find('.trans-fee').val(0).prop({ 'readonly':true, 'required':false });
            }
            else if( type == 1 )
            {
                var fee = wrapp.find('.hotels option').filter(':selected').data('fee');

                wrapp.find('.trans-fee').val(fee).prop({ 'readonly':false, 'required':true });
            }
            else if( type == 2 )
            {
            	wrapp.find('.trans-fee').val(0).prop({ 'readonly':true, 'required':false });
            }
        });

        jQuery('.same-info').unbind();
        jQuery('.same-info').on('click', function(){
            jQuery('.departure-list .passenger-detail tr').each(function(i, e){                         
                var obj = new Object();
                    obj.name        = jQuery(this).find('.bpname').val();
                    obj.gender      = jQuery(this).find('.bpgender').val();
                    obj.birthday    = jQuery(this).find('.bpbirthdate').val();
                    obj.nationality = jQuery(this).find('.lcountry_id').val();

                jQuery('.return-list .passenger-detail tr:eq('+i+') .bpname').val(obj.name);
                jQuery('.return-list .passenger-detail tr:eq('+i+') .bpgender').val(obj.gender).trigger('chosen:updated');
                jQuery('.return-list .passenger-detail tr:eq('+i+') .bpbirthdate').val(obj.birthday);
                jQuery('.return-list .passenger-detail tr:eq('+i+') .lcountry_id').val(obj.nationality).trigger('chosen:updated');
            });                    
        });
    });
</script>

<!-- END edit-block -->