<!-- BEGIN form-block -->

<div class="wrapper-block settings-block">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">	
				<h1>{title}</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">	
				<ul class="tabs">
				   {tab}
				</ul>
			</div>
			<div class="col-md-12">	
		        <form action="{action}" method="post" name="alist" enctype="multipart/form-data">
		            <div class="row">
		                <div class="col-md-12">
		                    <div class="form-block">
		                    	{alert}

                                <fieldset>
                                    <label>Feedback Email Content</label> 
                                    <div class="form-group-block">
                                        <textarea class="textarea text-large tinymce form-control" rows="5" name="feedback_email_content" autocomplete="off">
                                            {feedback_email_content}
                                        </textarea>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <label>Reconfirmation Email Content</label> 
                                    <div class="form-group-block">
                                        <textarea class="textarea text-large tinymce form-control" rows="5" name="reconfirmation_email_content" autocomplete="off">
                                            {reconfirmation_email_content}
                                        </textarea>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <label>Voucher Terms and Conditions</label> 
                                    <div class="form-group-block">
                                        <textarea class="textarea text-large tinymce form-control" rows="5" name="term_and_condition_content" autocomplete="off">
                                            {term_and_condition_content}
                                        </textarea>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <label>Default Booking Email</label> 
                                    <div class="form-group-block">
                                        <input type="email" class="text text-large form-control" name="default_booking_email" value="{default_booking_email}" autocomplete="off" />
                                        <p><br/>This email will used in detail booking as default value</p>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <label>Reschedule Email Content - Single Guest</label> 
                                    <div class="form-group-block">
                                        <span class="sub">Subject</span>
                                        <input type="text" class="text text-full form-control" name="reschedule_email_single_guest_subject" value="{reschedule_email_single_guest_subject}" autocomplete="off" />
                                    </div>
                                    <div class="form-group-block">
                                        <span class="sub">Body</span>
                                        <textarea class="textarea text-large tinymce form-control" rows="5" name="reschedule_email_single_guest_content" autocomplete="off">
                                            {reschedule_email_single_guest_content}
                                        </textarea>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <label>Reschedule Email Content - Multi Guest</label> 
                                    <div class="form-group-block">
                                        <span class="sub">Subject</span>
                                        <input type="text" class="text text-full form-control" name="reschedule_email_multi_guest_subject" value="{reschedule_email_multi_guest_subject}" autocomplete="off" />
                                    </div>
                                    <div class="form-group-block">
                                        <span class="sub">Body</span>
                                        <textarea class="textarea text-large tinymce form-control" rows="5" name="reschedule_email_multi_guest_content" autocomplete="off">
                                            {reschedule_email_multi_guest_content}
                                        </textarea>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <label>Force Majeure Email Content - Single Guest</label> 
                                    <div class="form-group-block">
                                        <span class="sub">Subject</span>
                                        <input type="text" class="text text-full form-control" name="force_majeure_email_single_guest_subject" value="{force_majeure_email_single_guest_subject}" autocomplete="off" />
                                    </div>
                                    <div class="form-group-block">
                                        <span class="sub">Body</span>
                                        <textarea class="textarea text-large tinymce form-control" rows="5" name="force_majeure_email_single_guest_content" autocomplete="off">
                                            {force_majeure_email_single_guest_content}
                                        </textarea>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <label>Force Majeure Email Content - Multi Guest</label> 
                                    <div class="form-group-block">
                                        <span class="sub">Subject</span>
                                        <input type="text" class="text text-full form-control" name="force_majeure_email_multi_guest_subject" value="{force_majeure_email_multi_guest_subject}" autocomplete="off" />
                                    </div>
                                    <div class="form-group-block">
                                        <span class="sub">Body</span>
                                        <textarea class="textarea text-large tinymce form-control" rows="5" name="force_majeure_email_multi_guest_content" autocomplete="off">
                                            {force_majeure_email_multi_guest_content}
                                        </textarea>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <label>Cancellation Email Content - Single Guest</label> 
                                    <div class="form-group-block">
                                        <span class="sub">Subject</span>
                                        <input type="text" class="text text-full form-control" name="cancellation_email_single_guest_subject" value="{cancellation_email_single_guest_subject}" autocomplete="off" />
                                    </div>
                                    <div class="form-group-block">
                                        <span class="sub">Body</span>
                                        <textarea class="textarea text-large tinymce form-control" rows="5" name="cancellation_email_single_guest_content" autocomplete="off">
                                            {cancellation_email_single_guest_content}
                                        </textarea>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <label>Cancellation Email Content - Multi Guest</label> 
                                    <div class="form-group-block">
                                        <span class="sub">Subject</span>
                                        <input type="text" class="text text-full form-control" name="cancellation_email_multi_guest_subject" value="{cancellation_email_multi_guest_subject}" autocomplete="off" />
                                    </div>
                                    <div class="form-group-block">
                                        <span class="sub">Body</span>
                                        <textarea class="textarea text-large tinymce form-control" rows="5" name="cancellation_email_multi_guest_content" autocomplete="off">
                                            {cancellation_email_multi_guest_content}
                                        </textarea>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <label>Recheck Reservation Email Content</label> 
                                    <div class="form-group-block">
                                        <span class="sub">Interval Time</span>
                                        <div class="input-group" style="width:max-content; margin-bottom: 10px;">
                                            <input type="text" class="text text-small form-control" name="recheck_reservation_email_interval" value="{recheck_reservation_email_interval}" autocomplete="off" />
                                            <span class="input-group-addon">days</span>
                                        </div>
                                    </div>
                                    <div class="form-group-block">
                                        <span class="sub">Subject</span>
                                        <input type="text" class="text text-full form-control" name="recheck_reservation_email_subject" value="{recheck_reservation_email_subject}" autocomplete="off" />
                                    </div>
                                    <div class="form-group-block">
                                        <span class="sub">Body</span>
                                        <textarea class="textarea text-large tinymce form-control" rows="5" name="recheck_reservation_email_content" autocomplete="off">
                                            {recheck_reservation_email_content}
                                        </textarea>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <label>Paypal Setting</label> 
                                    <div class="form-group-block">
                                        <span class="sub">Client ID</span>
                                        <input type="text" class="text text-large form-control" name="paypal_client_id" value="{paypal_client_id}" autocomplete="off" />
                                    </div>
                                    <div class="form-group-block">
                                        <span class="sub">Client Secret</span>
                                        <input type="text" class="text text-large form-control" name="paypal_client_secret" value="{paypal_client_secret}" autocomplete="off" />
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <label>NicePay Setting</label> 
                                    <div class="form-group-block">
                                        <span class="sub">NicePay IMID</span>
                                        <input type="text" class="text text-large form-control" name="nicepay_imid" value="{nicepay_imid}" autocomplete="off" />
                                    </div>
                                    <div class="form-group-block">
                                        <span class="sub">NicePay Merchant Key</span>
                                        <input type="text" class="text text-large form-control" name="nicepay_merchant_key" value="{nicepay_merchant_key}" autocomplete="off" />
                                    </div>
                                    <div class="form-group-block">
                                        <span class="sub">NicePay Callback URL</span>
                                        <input type="text" class="text text-large form-control" name="nicepay_callback_url" value="{nicepay_callback_url}" autocomplete="off" />
                                    </div>
                                    <div class="form-group-block">
                                        <span class="sub">NicePay DBProcess URL</span>
                                        <input type="text" class="text text-large form-control" name="nicepay_dbprocess_url" value="{nicepay_dbprocess_url}" autocomplete="off" />
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <label>Doku Setting</label> 
                                    <div class="form-group-block">
                                        <span class="sub">Mall ID</span>
                                        <input type="text" class="text text-large form-control" name="doku_mall_id" value="{doku_mall_id}" autocomplete="off" />
                                    </div>
                                    <div class="form-group-block">
                                        <span class="sub">Sharedkey</span>
                                        <input type="text" class="text text-large form-control" name="doku_shared_key" value="{doku_shared_key}" autocomplete="off" />
                                    </div>
                                    <div class="form-group-block">
                                        <span class="sub">URL Action</span>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="radio" name="doku_url" value="0" {staging_doku_url_checked}>
                                            </span>
                                            <input type="text" class="text text-large form-control" value="http://staging.doku.com/Suite/Receive" readonly>
                                        </div>
                                        <br/>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="radio" name="doku_url" value="1" {live_doku_url_checked}>
                                            </span>
                                            <input type="text" class="text text-large form-control" value="https://pay.doku.com/Suite/Receive" readonly>
                                        </div>
                                        <p><br/>First URL used if you in development stage</p>
                                    </div> 
                                </fieldset>

                                <fieldset>
                                    <label>Mandrill</label>
                                    <div class="form-group-block">
                                        <span class="sub">API Key</span>
                                        <input type="text" class="text text-large form-control" name="mandrill_api_key" value="{mandrill_api_key}" autocomplete="off" />
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <label>Mailchimp</label> 
                                    <div class="form-group-block">
                                        <span class="sub">API Key</span>
                                        <input type="text" class="text text-large form-control" name="mailchimp_api_key" value="{mailchimp_api_key}" autocomplete="off" />
                                    </div>
                                    <div class="form-group-block">
                                        <span class="sub">List ID</span>
                                        <input type="text" class="text text-large form-control" name="mailchimp_list_id" value="{mailchimp_list_id}" autocomplete="off" />
                                    </div>
                                </fieldset>

				                <fieldset>
				                	<label>Footer Image</label> 
		                            <div class="form-group-block" style="margin-bottom:30px;">
		                                <div id="dropzone">
		                                    <div class="dropzone" id="footer-pictures"></div>
		                                </div>
		                                <div id="footer-pic-template" class="dz-preview dz-file-preview" style="display:none;">
		                                    <div class="dz-preview dz-file-preview">
		                                        <div class="dz-image">
		                                            <img data-dz-thumbnail data-dz-thumbnail-filename />
		                                        </div>
		                                        <div class="dz-details">
		                                            <a class="dz-delete">
		                                                <img src="../l-plugins/ticket/images/delete.svg" />
		                                            </a>
		                                        </div>
		                                        <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
		                                    </div>
		                                </div>
		                            </div>
				                </fieldset>

                                <fieldset>
                                    <label>Background Image</label>
                                    <div class="form-group">
                                        <div class="background-block">
                                            {background_img}
                                        </div>
                                        <div class="upload-btn">
                                            <input type="file" class="file-upload" name="background" autocomplete="off" />
                                            <span>Upload Background</span>
                                        </div>
                                    </div>                                    
                                </fieldset>
		                   	</div>
		                    <div class="form-action clearfix">
		                    	<button type="submit" class="btn-save pull-left" name="save_changes">Save Changes</button>
		                    </div>
		                </div>
		            </div>
		        </form>
			</div>
		</div>

        <script type="text/javascript">

            Dropzone.autoDiscover = false;

            jQuery(document).ready(function(){
                set_tinymce();
                set_background_image();
                delete_background_image();
                set_ticket_footer_image();
            });

            function delete_background_image()
            {
                jQuery('.delete-background').unbind();
                jQuery('.delete-background').on('click', function(e){
                    var prm = new Object;
                        prm.pkey = 'delete-background-image';

                    jQuery.ajax({
                        method: 'POST',
                        url: '{ajax_link}',
                        data: prm,
                        dataType : 'json',
                        success: function(e){
                            if( e.result=='success' )
                            {
                                jQuery('.background-block').html('');
                            }
                            else
                            {
                                show_popup('Warning', 'Something Wrong!!');
                            }
                        },
                        error: function(e){
                            show_popup('Warning', 'Something Wrong!!');
                        }
                    });
                });
            }

            function set_background_image()
            {
                jQuery('.file-upload').on('change', function(el){
                    var prm = new FormData();
                        prm.append('pkey', 'add-background-image');
                        prm.append('background', el.currentTarget.files[0]);

                    jQuery.ajax({
                        method: 'POST',
                        url: '{ajax_link}',
                        data: prm,
                        type: 'POST',
                        contentType: false,
                        processData: false,
                        dataType : 'json',
                        success: function(e){
                            if( e.result == 'success' )
                            {
                                var img_block = 
                                '<div class="background-overlay">'+
                                    '<a class="delete-background"></a>'+
                                '</div>'+
                                '<div class="background-img">'+
                                    '<img src="{site_link}/l-plugins/ticket/uploads/background/'+ e.filename +'" alt="Background Image" />'+
                                '</div>';

                                jQuery('.background-block').html(img_block);
                                delete_background_image();
                            }
                            else
                            {
                                show_popup('Warning', e.message);
                            }
                        }
                    });
                });
            }

            function set_ticket_footer_image()
            {
                if( document.getElementById('footer-pictures') )
                {
                    var myDropzone = new Dropzone('#footer-pictures', { 
                        url: '{ajax_link}',
                        previewTemplate: document.querySelector('#footer-pic-template').innerHTML,
                        maxFilesize: 2,
                        init: function()
                        {
                            var prm = new Object;
                                prm.pkey = 'get-footer-pictures';

                            jQuery.ajax({
                                method: 'POST',
                                url: '{ajax_link}',
                                data: prm,
                                dataType : 'json',
                                success: function(e){
                                    if( e.result=='success' )
                                    {
                                        jQuery.each(e.image, function(i, e){
                                            var mockFile = new Object
                                                mockFile.filename = e.filename;

                                            myDropzone.emit('addedfile', mockFile);
                                            myDropzone.emit('thumbnail', mockFile, e.link);
                                            myDropzone.emit('complete', mockFile);
                                            myDropzone.files.push(mockFile);
                                        });
                                    }
                                }
                            });
                
                            this.on('addedfile', function(file) {
                                var filename = ( typeof file.filename != 'undefined' ? file.filename : '');
                                var selector = jQuery(file.previewElement);

                                selector.find('img').attr('data-dz-thumbnail-filename', filename);

                                selector.find('.dz-delete').unbind('click');
                                selector.find('.dz-delete').click(function(){
                                    var prm = new Object;
                                        prm.pkey = 'delete-footer-pictures';
                                        prm.file = selector.find('img').data('dz-thumbnail-filename');

                                    jQuery.ajax({
                                        method: 'POST',
                                        url: '{ajax_link}',
                                        data: prm,
                                        dataType : 'json',
                                        success: function(e){
                                            if( e.result=='success' )
                                            {
                                                myDropzone.removeFile(file);
                                            }
                                            else
                                            {
                                                show_popup('Warning', 'Something Wrong!!');
                                            }
                                        },
                                        error: function(e){
                                            show_popup('Warning', 'Something Wrong!!');
                                        }
                                    });
                                });
                            });

                            this.on('error', function(file, message) {
                                show_popup('Warning', message);
                                myDropzone.removeFile(file);
                            });

                            this.on('sending', function(file, xhr, formData){
                                formData.append('pkey', 'upload-footer-pictures');
                            });

                            this.on('success', function(file, responseText){
                                var e = JSON.parse(responseText);

                                if( e && typeof e === 'object' )
                                {
                                    if( e.result = 'success' )
                                    {
                                        jQuery(file.previewElement).find('img').attr('data-dz-thumbnail-filename', e.filename);
                                    }
                                    else
                                    {
                                        myDropzone.removeFile(file);   
                                    }
                                }
                            });
                        }
                    });
                }
            }

            function set_tinymce()
            {
                tinymce.init({
                    selector: '.tinymce',
                    height: 300,
                    theme: 'modern',
                    plugins: [
                        'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                        'searchreplace wordcount visualblocks visualchars code fullscreen',
                        'insertdatetime media nonbreaking save table contextmenu directionality',
                        'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
                    ],
                    toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link unlink image | print preview media | forecolor backcolor emoticons | codesample code',
                    image_advtab: true,
                    content_css: [
                        '../l-admin/themes/{admin_theme}/css/textarea.css',
                    ]
                });
            }
        </script>
	</div>
</div>

<!-- END form-block -->

<!-- BEGIN method-form-block -->

<div class="wrapper-block settings-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12"> 
                <h1>{title}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"> 
                <ul class="tabs">
                   {tab}
                </ul>
            </div>
            <div class="col-md-12"> 
                <form action="{action}" method="post" name="alist" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-block">
                                {alert}

                                <fieldset style="position:relative;">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input class="text" type="text" name="payment_method" style="width:300px;" />
                                                <input class="text sr-only" type="text" name="payment_method_id" />
                                                <a class="add-new">Add New</a>
                                                <span class="edit-wrapp-btn sr-only">
                                                    <a class="edit-existing">Edit</a>
                                                    <a class="cancel-edit">Cancel</a>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="search-box clearfix">
                                                <input type="text" name="spmethod" class="searchtext" value="{search}" placeholder="Search" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-block">
                                        <table id="payment-method-table" class="table table-striped" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th width="15" data-orderable="false"><input type="checkbox" name="check_all" autocomplete="off" /></th>
                                                    <th>Method Name</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="form-action clearfix">
                                <button type="submit" class="btn-save pull-left" name="save_changes">Save Changes</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <script type="text/javascript">
            var table;

            jQuery(document).ready(function(){
                table = jQuery('#payment-method-table').DataTable({
                    dom: '<"row"<"col-xs-5 col-sm-6"l><"col-xs-7 col-sm-6 text-right">r>t<"row"<"col-md-12"i><"col-md-12 text-center"p>>',
                    lengthChange: false,
                    processing: true,
                    serverSide: true,
                    searching: true,
                    pageLength: parseInt('{limit}'),
                    info: false,
                    ajax:{
                        url: '{ajax_link}',
                        type: 'post',
                        data: function(d){
                            d.pkey = 'load-payment-method';
                        },
                        error: function(){
         
                        }
                    },
                    columns: [
                        {
                            data: 'mid', 
                            render: function ( data, type, row ){
                                return '<input type="checkbox" name="select[]" autocomplete="off" value="' + data + '" />';
                            }
                        },
                        { 
                            data: 'mname',
                            render: function ( data, type, row ) {
                                var dcls = row.mid == 8 ? 'sr-only' : '';
                                var html = data +
                                '<p>'+
                                    '<a id="edit-' + row.mid + '" href="javascript:;" class="edit-row" data-name="' + row.mname + '" data-id="' + row.mid + '">Edit</a>'+
                                    '<a id="delete-' + row.mid + '" href="javascript:;" class="delete-row ' + dcls + '" data-id="' + row.mid + '">Delete</a>'+
                                '</p>';

                                return html;
                            }
                        }
                    ]
                });

                table.on( 'draw.dt', function () {
                    set_link_action();
                });

                jQuery('[name=spmethod]').on('keyup', function(){
                    table.search( this.value ).draw() ;
                });

                set_payment_method();
            });

            function set_payment_method()
            {
                jQuery('.edit-existing').on('click', function(){
                    var selector = jQuery(this);
                    var mid      = jQuery('[name=payment_method_id]').val();
                    var mname    = jQuery('[name=payment_method]').val();

                    if( mname == '' )
                    {
                        show_popup('Warning', 'Please insert payment method name');
                    }
                    else
                    {
                        var prm = new Object;
                            prm.pkey  = 'edit-payment-method';
                            prm.mname = mname;
                            prm.mid   = mid;

                        jQuery.ajax({
                            method: 'POST',
                            url: '{ajax_link}',
                            data: prm,
                            dataType : 'json',
                            success: function(e){
                                if( e.result=='failed' )
                                {
                                    show_popup('Warning', 'Failed to edit payment method');
                                }
                                else
                                {
                                    table.ajax.reload(function(){
                                        set_link_action();
                                    }, false);
                                }
                            }
                        });
                    }
                });

                jQuery('.add-new').on('click', function(){
                    var selector = jQuery(this);
                    var mname    = jQuery('[name=payment_method]').val();

                    if( mname == '' )
                    {
                        show_popup('Warning', 'Please insert payment method name');
                    }
                    else
                    {
                        var prm = new Object;
                            prm.pkey  = 'add-new-payment-method';
                            prm.mname = mname;

                        jQuery.ajax({
                            method: 'POST',
                            url: '{ajax_link}',
                            data: prm,
                            dataType : 'json',
                            success: function(e){
                                if( e.result=='failed' )
                                {
                                    show_popup('Warning', 'Failed to add new payment method');
                                }
                                else
                                {
                                    table.ajax.reload(function(){
                                        set_link_action();
                                    }, false);
                                }
                            }
                        });
                    }
                });

                jQuery('.cancel-edit').on('click', function(){
                    jQuery('.edit-wrapp-btn').addClass('sr-only');
                    jQuery('.add-new').removeClass('sr-only');
                    jQuery('[name=payment_method]').val('');
                    jQuery('[name=payment_method_id]').val('');
                });
            }

            function set_link_action()
            {
                jQuery('.edit-wrapp-btn').addClass('sr-only');
                jQuery('.add-new').removeClass('sr-only');
                jQuery('[name=payment_method_id]').val('');
                jQuery('[name=payment_method]').val('');

                jQuery('.edit-row').unbind('click');
                jQuery('.edit-row').on('click', function(){
                    var mid   = jQuery(this).data('id');
                    var mname = jQuery(this).data('name');

                    jQuery('[name=payment_method]').val(mname);
                    jQuery('[name=payment_method_id]').val(mid);
                    jQuery('.edit-wrapp-btn').removeClass('sr-only');
                    jQuery('.add-new').addClass('sr-only');

                    jQuery('html, body').animate({
                        'scrollTop': jQuery('.settings-block form').offset().top
                    }, 500);
                });

                jQuery('.delete-row').unbind('click');
                jQuery('.delete-row').on('click', function(){
                    var sel = jQuery(this).parent();
                    var prm = new Object;
                        prm.pkey = 'delete-payment-method';
                        prm.pmid = jQuery(this).data('id');

                    jQuery('<div></div>').dialog({
                        modal: true,
                        draggable: false,
                        resizable: false,
                        title: 'Notification',
                        open: function(){
                            jQuery(this).html('Are you sure want to delete this payment method?');
                        },
                        buttons: {
                            Yes: function(){
                                var popup = jQuery(this);

                                jQuery.ajax({
                                    method: 'POST',
                                    url: '{ajax_link}',
                                    data: prm,
                                    dataType : 'json',
                                    success: function(e){
                                        popup.dialog('close');

                                        if( e.result == 'success' )
                                        {
                                            table.ajax.reload(function(){
                                                set_link_action();
                                            }, false);
                                        }
                                        else if( e.result == 'error' )
                                        {
                                            show_popup('Warning', 'Failed to delete payment method, this method already used in reservation');
                                        }
                                        else
                                        {
                                            show_popup('Warning', 'Failed to delete payment method');
                                        }
                                    }
                                });
                            },
                            No: function(){
                                jQuery( this ).dialog('close');
                            }
                        }
                    });
                });
            }
        </script>
    </div>
</div>

<!-- END method-form-block -->