<!-- BEGIN form-block -->

<div class="wrapper-block area-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-12"> 
                    <h1>Manage Area</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-block no-field-border">
                    	{message}
                    	<fieldset class="sr-only">
                    		<input type="text" name="taid" value="{taid}" />
                    	</fieldset>
                    	<fieldset>
                    		<label>Area Name</label>
                    		<div class="form-group">
							    <input type="text" class="text text-medium form-control" name="taname" value="{taname}" />
						  	</div>
                        </fieldset>
                        <fieldset>
                            <label>Is Airport Area?</label>
                            <div class="form-group">
                                <label class="radio-inline"><input type="radio" name="taairport" value="0" {is_taairport_no_checked}>No</label>
                                <label class="radio-inline"><input type="radio" name="taairport" value="1" {is_taairport_yes_checked}>Yes</label>
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <div class="departure-list-block">
                                {departure_and_fee}
                            </div>
                            <div class="departure-list-action">
                                <div class="form-group">
                                    <a href="{ajax_link}" class="add-new-departure">Add more departure</a>
                                    <img class="loader" src="{img_url}/loader.gif" alt="Loading..." width="100">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-action clearfix">
                    	<button type="submit" class="btn-save pull-left" name="publish">Save Area</button>
                    	<a class="cancel pull-left" href="{cancel_link}">Cancel</a>
                    	<a class="delete pull-right {delete_class}" href="{ajax_link}">Delete</a>
                    </div>
                    <div class="form-note">
                        {last_update_note}
                    </div>
                </div>
            </div>
        </form>

        <script type="text/javascript">
            function delete_departure_item()
            {
                jQuery('.delete-depart-fee').unbind();
                jQuery('.delete-depart-fee').on('click', function(e){
                    var tdid = jQuery(this).parent().parent().find('.tdid').val();

                    if( tdid == '' )
                    {
                        jQuery(this).parent().parent().fadeOut(200, function(){
                            jQuery(this).remove();
                        });
                    }
                    else
                    {
                        var sel = jQuery(this).parent().parent();
                        var url = jQuery(this).attr('href');
                        var prm = new Object();
                            prm.pkey = 'delete-transport-fee';
                            prm.taid = jQuery('[name=taid]').val();
                            prm.tdid = tdid;

                        jQuery.ajax({
                            method: 'POST',
                            url: url,
                            data: prm,
                            dataType : 'json',
                            success: function(e){                                
                                if( e.result=='success' )
                                {                                       
                                    sel.fadeOut(200, function(){
                                        jQuery(this).remove();
                                    })
                                }
                                else if( e.result=='error' )
                                {
                                    show_popup('Warning', 'Sorry, This item can\'t be deleted. Minimum have 1 departure');
                                }
                                else if( e.result=='failed' )
                                {
                                    show_popup('Warning', 'Sorry, This item can\'t be deleted. Please try again later');
                                }
                            },
                            error: function(e){
                               show_popup('Warning', 'Sorry, This item can\'t be deleted. Please try again later');
                            }
                        });
                    }

                    return false;
                });
            }

            jQuery(document).ready(function(){
                jQuery('.form-action .delete').on('click', function(e){
                    var url = jQuery(this).attr('href');
                    var prm = new Object();
                        prm.pkey = 'delete-transport-area';
                        prm.taid = jQuery('[name=taid]').val();

                    jQuery('<div></div>').dialog({
                        modal: true,
                        draggable: false,
                        resizable: false,
                        title: 'Notification',
                        open: function(){
                            jQuery(this).html('Are you sure want to delete this area?');
                        },
                        buttons: {
                            Yes: function(){
                                var popup = jQuery(this);

                                jQuery.ajax({
                                    method: 'POST',
                                    url: url,
                                    data: prm,
                                    dataType : 'json',
                                    success: function(e){
                                        popup.dialog('close');

                                        if( e.result=='success' )
                                        {                                       
                                            show_popup('Notification', 'This area has been successfully deleted', 'window.location.assign("{cancel_link}")');
                                        }
                                        else if( e.result=='failed' )
                                        {
                                            show_popup('Warning', 'Sorry, This area can\'t be deleted. Please try again later');
                                        }
                                    },
                                    error: function(e){
                                       popup.dialog('close');

                                       show_popup('Warning', 'Sorry, This area can\'t be deleted. Please try again later');
                                    }
                                });
                            },
                            No: function(){
                                jQuery( this ).dialog('close');
                            }
                        }
                    });

                    return false;
                });

                jQuery('.add-new-departure').on('click', function(e){
                    var loader = jQuery(this).parent().find('.loader');
                    var url    = jQuery(this).attr('href');
                    var prm    = new Object();
                        prm.pkey  = 'add-new-departure';

                    loader.css('display', 'inline');

                    jQuery.ajax({
                        method: 'POST',
                        url: url,
                        data: prm,
                        dataType : 'html',
                        success: function(e){
                            loader.css('display', 'none');

                            jQuery('.departure-list-block').append(e);
                            delete_departure_item();
                        },
                        error: function(e){
                            loader.css('display', 'none');

                            show_popup('Warning', 'Sorry, can\'t completed your request. Please try again later');
                        }
                    });

                    return false;                    
                });

                delete_departure_item();
            });
        </script>
    </div>
</div>

<!-- END form-block -->