html{ height: 100%; }
body{ background-color:#e6eeef; font-family:'Open Sans', sans-serif; position:relative; min-height: 100%; font-size:13px; }

.form-login{ width:500px; position:absolute; height:450px; margin-top:-225px; top:50%; left:50%; margin-left:-250px; color:rgb(73, 73, 85); }
.form-login h1{ color:rgb(35, 34, 126); font-weight:300; font-size:32px; margin:0 0 15px; }
.form-login .logo{ text-align:center; margin-bottom:30px; }
.form-login .wrapper{ background-color:#ffffff; padding:20px 30px; border-radius:2px; }
.form-login .wrapper .alert{ padding:0; margin:0; }
.form-login .wrapper fieldset{ padding:10px 0; }
.form-login .wrapper fieldset label{ margin-bottom:5px; display:block; font-weight:600; color:rgb(35, 34, 126); }
.form-login .wrapper fieldset .text-field{
	box-shadow:0 1px 5px rgba(0, 0, 0, 0.1) inset;
	border:1px solid rgb(210, 210, 210);	
	border-radius:2px;
	padding:10px;
	width:100%;}
.form-login .wrapper fieldset .login-btn{ 
	background-color:rgb(220, 91, 14);
	color:rgb(255, 255, 255);
	text-align:center;
	border-radius:3px;
	font-weight:600;
	font-size:16px;
	display:block;
	padding:10px;
	border:none;
	width:200px;}
.form-login .wrapper fieldset p{ margin:20px 0 0; font-size:14px; }
.form-login .wrapper fieldset p a{ color:rgb(16, 163, 193); }