html{ height:100%; }
body{ background-color:rgb(230, 238, 239); font-family:'Open Sans', sans-serif; font-weight:400; position:relative; min-height:100%; font-size:13px; color:rgb(62, 117, 128); }
a:hover, a:focus{ text-decoration:none; }
a:focus{ outline:none; }

button{
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
        border-radius:3px; 
            border:1px solid rgb(21, 54, 76);
            padding:0 15px 0 40px;
            color:rgb(21, 54, 76);
            font-weight:600;
            font-size:14px;
            height:35px;}
button span{ padding-right:10px; }
select{
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
        border-radius:3px;
            -webkit-appearance:none;
            -moz-appearance:none;
                appearance:none;
                	-webkit-box-shadow:0 1px 5px rgba(0, 0, 0, 0.15) inset;
                	-moz-box-shadow:0 1px 5px rgba(0, 0, 0, 0.15) inset;
                		box-shadow:0 1px 5px rgba(0, 0, 0, 0.15) inset;
		                    background-image:url('../images/select-arrows.svg');
		                    background-color:rgb(255, 255, 255);
		                    background-position:right center;
		                    background-repeat:no-repeat;
		                    background-size:auto auto;
		                        border:1px solid rgb(134, 167, 174);
		                        color:rgb(73, 73, 85);
		                        padding:0 20px 0 5px;
		                        margin-right:10px;
		                        font-weight:600;
		                        font-size:12px;
		                        display:block;
		                        height:34px;}
select:focus{ 
	-webkit-box-shadow:0 1px 5px rgba(0, 0, 0, 0.15) inset;
	-moz-box-shadow:0 1px 5px rgba(0, 0, 0, 0.15) inset;
		box-shadow:0 1px 5px rgba(0, 0, 0, 0.15) inset;
			outline:none;}
input[type=checkbox]:focus{ outline:none; }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{ -webkit-appearance:none; margin:0; }
input[type=number]{ -moz-appearance:textfield; }

.combobox{ min-width:250px; }
.white{ background-color:rgb(255,255,255); }
.input-group-addon{ border-color:rgb(134, 167, 174); }
.dataTables_empty{ text-align:center; color:rgb(169, 68, 66) !important; }
.dataTables_paginate ul{ margin:15px 0 0; }
.row-aligned{ display:flex; flex-flow:row wrap; }
.row-aligned:before{ display: block; }
.col-aligned-center{ display:flex; align-items:center; }
.col-justify-end{ display:flex; justify-content:flex-end; }

.ui-timepicker-div dl dt{ margin-top:5px; }
.ui-timepicker-div.ui-timepicker-oneLine dl{ margin-bottom:8px; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd select{ height:30px; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_minute select{ margin-left:10px; margin-right:0; }
.ui-timepicker-div.ui-timepicker-oneLine .ui-corner-all{ border-radius:0; }
.ui-timepicker-div.ui-timepicker-oneLine .ui-widget-header{ border:none; border-bottom:1px solid rgb(170, 170, 170); }
.ui-datepicker .ui-datepicker-buttonpane{ border-color:rgb(170, 170, 170); }

.hide-calendar .ui-datepicker-calendar{ display:none; }
.hide-month .ui-datepicker-month{ display:none; }

.number-field{ position:relative; }
.number-nav{ position:absolute; top:0; right:0; bottom:0; }
.number-button{
    -webkit-transform:translateX(-100%);
        transform:translateX(-100%);
            -webkit-user-select:none;
            -moz-user-select:none;
            -ms-user-select:none;
            -o-user-select:none;
                user-select:none;
                    border-left:1px solid rgb(134, 167, 174);
                    text-align:center;
                    position:relative;
                    line-height:20px;
                    cursor:pointer;
                    font-size:13px;
                    width:20px;}
.number-button.up{ position:absolute; height:50%; top:0; border-bottom:1px solid rgb(134, 167, 174); }
.number-button.down{ position:absolute; bottom:1px; height:50%; }

.bold{ font-weight:700; }
.medium-bold{ font-weight:600; }
.no-padding{ padding:0 !important; }
.no-border{ border:0 !important; }

.chosen-container-single .chosen-single{
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
        border-radius:2px;
        	-webkit-box-shadow:0 1px 5px rgba(0, 0, 0, 0.15) inset;
        	-moz-box-shadow:0 1px 5px rgba(0, 0, 0, 0.15) inset;
        		box-shadow:0 1px 5px rgba(0, 0, 0, 0.15) inset;
				    border-color:rgb(134, 167, 174);
				    background:rgb(255, 255, 255);
				    line-height:34px;
				    height:34px;}
.chosen-container-single .chosen-single span{ font-size:13px; }
.chosen-container-single .chosen-single div b{ background:url('../images/select-arrows.svg') no-repeat 0 8px; }
.chosen-container-single .chosen-single abbr{ top:12px; }
.chosen-container-active.chosen-with-drop .chosen-single{ background:rgb(255, 255, 255); box-shadow:none; border-color:rgb(134, 167, 174); }
.chosen-container .chosen-drop{ border-color:rgb(134, 167, 174); }
.chosen-container .chosen-results{ width:100%; padding:0; margin:5px 0 0; }

.chosen-container-multi .chosen-choices{
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
        border-radius:2px;
        	-webkit-box-shadow:0 1px 5px rgba(0, 0, 0, 0.15) inset;
        	-moz-box-shadow:0 1px 5px rgba(0, 0, 0, 0.15) inset;
        		box-shadow:0 1px 5px rgba(0, 0, 0, 0.15) inset;
				    background-image:url('../images/select-arrows.svg');
				    background-color:rgb(255, 255, 255);
				    background-position:right 8px;
				    background-repeat:no-repeat;
					    border-color:rgb(134, 167, 174);
					    min-height:34px;}
.chosen-container-multi .chosen-choices li.search-choice{ margin-bottom:0; height:26px; line-height:26px; padding:0 25px 0 5px; }
.chosen-container-multi .chosen-choices li.search-field input[type="text"]{ height:34px; padding-left:5px; margin:0; }
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close{ top:7px; }

.row-eq-height{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:        flex;}

.nopadding{ padding-left:0 !important; padding-right:0 !important; }
.disabled{ opacity:0.5; }
.timepicker, .ui-timepicker-wrapper{ width:100px !important; }
.timepicker{
	background-image:url('../images/select-arrows.svg');
    background-color:rgb(255, 255, 255);
    background-position:right center;
    background-repeat:no-repeat;
    background-size:auto auto;}
.no-authorization-block{ padding:20px; margin-top:20px; }

.dropzone{ 
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
        border-radius:2px; 
        	border:1px solid rgb(134, 167, 174); 
        	background-color:rgb(242, 246, 247);
        	min-height:130px;
        	padding:12px;}
.dropzone .dz-message{ margin:65px 0; }
.dropzone .dz-preview{ min-height:94px; margin:5px; }
.dropzone .dz-preview .dz-image{  
    -webkit-border-radius:0;
    -moz-border-radius:0;
        border-radius:0; 
        	height:94px;
        	width:94px;}
.dropzone .dz-preview .dz-image img{ width:100%; }
.dropzone .dz-preview .dz-details{ padding:35px 0; }
.dropzone .dz-preview .dz-delete img{ width:24px; cursor:pointer; }

.btn-delete{  
    -webkit-transition:opacity 0.1s ease-in; 
        transition:opacity 0.1s ease-in; 
            background-image:url(../images/button-delete.svg);
            background-color:rgb(230, 238, 239);
            background-position:10px center;
            background-repeat:no-repeat; 
            background-size:14px;}
.btn-add{  
    -webkit-transition:opacity 0.1s ease-in; 
        transition:opacity 0.1s ease-in;
            background-image:url(../images/button-add.svg); 
            background-color:rgb(21, 54, 76); 
            background-position:10px center; 
            background-repeat:no-repeat; 
            background-size:14px;
            	color:rgb(255, 255, 255);}
.btn-add:hover{ background-color:rgb(43, 111, 156); border-color:rgb(43, 111, 156); }
.btn-cancel{ 
    background-image:url(../images/button-cancel.svg); 
    background-color:rgb(220,91,14);
    background-position:15px center; 
    background-repeat:no-repeat; 
    background-size:28px;
        border-color:rgb(220,91,14);
        color:rgb(255, 255, 255);}
.btn-revise{ 
    background-image:url(../images/button-revise.svg); 
    background-color:rgb(220,91,14);
    background-position:15px center; 
    background-repeat:no-repeat; 
    background-size:28px;
        border-color:rgb(220,91,14);
        color:rgb(255, 255, 255);}
.btn-save{ 
    background-image:url(../images/button-save.svg); 
    background-color:rgb(220,91,14);
    background-position:15px center; 
    background-repeat:no-repeat; 
    background-size:32px;
    	border-color:rgb(220,91,14);
    	color:rgb(255, 255, 255);}
.btn-print{ 
    background-image:url(../images/button-print.svg); 
    background-color:rgb(220,91,14);
    background-position:10px center; 
    background-repeat:no-repeat; 
    background-size:32px;
    	border-color:rgb(220,91,14);
    	color:rgb(255, 255, 255);}
.btn-copy {
    background-image: url(../images/button-copy.svg);
    background-color: rgb(220,91,14);
    background-position: 15px center;
    background-repeat: no-repeat;
    background-size: 20px;
    border-color: rgb(220,91,14);
    color: rgb(255, 255, 255);}
.btn-yes,
.btn-no{  
    -webkit-transition:opacity 0.1s ease-in; 
        transition:opacity 0.1s ease-in; 
            background-color:rgb(230, 238, 239);
        	padding:0 15px;}
.btn-yes:hover,
.btn-no:hover{ background-color:rgb(21, 54, 76); border-color:rgb(21, 54, 76); color:rgb(255, 255, 255); }
.btn-add-transport{ 
    background-image:url(../images/btn-add-transport.svg); 
    background-color:rgb(220,91,14);
    background-position:10px center; 
    background-repeat:no-repeat; 
    background-size:32px;
    	border-color:rgb(220,91,14);
    	color:rgb(255, 255, 255);}
.btn-export-pdf{ 
    background-image:url(../images/button-export-pdf.svg); 
    background-color:rgb(220,91,14);
    background-position:10px center; 
    background-repeat:no-repeat; 
    background-size:26px;
        border-color:rgb(220,91,14);
        color:rgb(255, 255, 255);}
.btn-export-csv{ 
    background-image:url(../images/button-export-csv.svg); 
    background-color:rgb(220,91,14);
    background-position:10px center; 
    background-repeat:no-repeat; 
    background-size:22px;
        border-color:rgb(220,91,14);
        color:rgb(255, 255, 255);}
.btn-add-port-clearance{ 
    background-image:url(../images/btn-add-port.svg); 
    background-color:rgb(220,91,14);
    background-position:10px center; 
    background-repeat:no-repeat; 
    background-size:24px;
        border-color:rgb(220,91,14);
        color:rgb(255, 255, 255);}
.btn-send{ 
    background-image:url(../images/button-send.svg); 
    background-color:rgb(220,91,14);
    background-position:10px center; 
    background-repeat:no-repeat; 
    background-size:24px;
        border-color:rgb(220,91,14);
        color:rgb(255, 255, 255);}

.button-box{ float:right; padding-top:15px; }
.button-box button{ margin-right:5px;}
.button-box button:last-child{ margin:0; }

.delete-list-form .message{ margin-top:10px; border-top:1px solid; padding-top:15px; }
.delete-list-form .message-text{ padding:20px; }
.delete-list-form .message-text ol{ margin:10px 0 0; padding-left:15px; }
.delete-list-form .message-text ul{ margin:0; padding-left:15px; }
.delete-list-form .message-text ul li:last-child{ padding-bottom:10px; }

.table-block{ margin-top:10px; }
.table-block .message{ border:none; padding:0; margin-top:5px; }
.table-block .message p{ padding:15px; margin:0; }
.table-block .message span{ padding-right:10px; }
.table-block .table > thead > tr > .sorting,
.table-block .table > thead > tr > .sorting_asc,
.table-block .table > thead > tr > .sorting_desc{ cursor:pointer; }
.table-block .table > thead > tr > .sorting::after, 
.table-block .table > thead > tr > .sorting_asc::after, 
.table-block .table > thead > tr > .sorting_desc::after, 
.table-block .table > thead > tr > .sorting_asc_disabled::after, 
.table-block .table > thead > tr > .sorting_desc_disabled::after{
    font-family:'Glyphicons Halflings';
    position:absolute;
    display:block;
    opacity:0.5;
    bottom:8px;
    right:8px;}
.table-block .table > thead > tr > .sorting::after{ content:'\e150'; opacity:0.2; }  
.table-block .table > thead > tr > .sorting_asc::after{ content:'\e155'; }    
.table-block .table > thead > tr > .sorting_desc::after{ content:'\e156'; opacity:0.2; }   
.table-block .table > thead > tr > .sorting_asc_disabled::after, 
.table-block .table > thead > tr > .sorting_desc_disabled::after{ color:#eee }
.table-block .table > thead > tr > th{ 
    border-bottom-color:rgb(230, 238, 239);
    color:rgb(134, 167, 174);
    border-bottom-width:1px;
    vertical-align:middle;
    position:relative;
    font-weight:400;
    font-size:11px;}

.table-block .table > thead > tr > th .move,
.table-block .table > tbody > tr > td .move{
    background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAM1BMVEUAAACFp62Fp66GqqqHqK+Gp66Hp66FprGGp62Gp66Gp66Gp66GqK6Hp66Hp6+Gp64AAAA1YwdgAAAAD3RSTlMAgIgVZunaF4Nu7N1+d38CdtqMAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAAd0SU1FB+QFBAUhKlds9c0AAABsSURBVCjPvVHZEoAgCASv1FT+/2+TbKZD6KlpX4DdWeUAOIEGRCCRUXhRsc5575yVPCHIf3whLEeM8U5gelqTGf3PAs/T58prRxlc4TwToS5AlZ5qHOostPd2f9nVDv1QlU/bJE9V+L42vBQbk98EFu26VK8AAAAldEVYdGRhdGU6Y3JlYXRlADIwMjAtMDUtMDRUMDU6MzM6NDIrMDA6MDCaCNYNAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDIwLTA1LTA0VDA1OjMzOjQyKzAwOjAw61VusQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAASUVORK5CYII=');
    background-repeat:no-repeat;
    background-position:center;
    background-size:16px 16px;
    display:block;
    height:16px;
    width:16px;}
.table-block .table > tbody > tr > td .move{ cursor:move }

.table-block .table > tbody > tr.dt-rowReorder-moving{
    outline:1px solid #ebcccf;
    background-color:#f2dedc;
    color:#ac260d;
}

.table-block .table > tbody > tr.dt-rowReorder-moving td{
    color:#ac260d;
}

.table-block .table > tbody > tr.dt-rowReorder-moving td a,
.table-block .table > tbody > tr.dt-rowReorder-moving td p{
    color:inherit;
}

.table-block .table > thead > tr > th > input{ margin-top:3px; }
.table-block .table > tbody > tr > .red{ color:red; }
.table-block .table > tbody > tr > td img{ margin-right:20px; }
.table-block .table > tbody > tr > td p{ margin:7px 0; }
.table-block .table > tbody > tr > td p a{ 
    -webkit-transition:opacity 0.1s ease-in; 
        transition:opacity 0.1s ease-in;
            color:rgb(16, 163, 193);
            margin-right:10px;
            font-weight:400;
            font-size:12px; 
            opacity:0; }
.table-block .table > tbody > tr > td p a:last-child{ margin-right:0; }
.table-block .table > tbody > tr > td{ border-top-color:rgb(230, 238, 239); color:rgb(73, 73, 85); font-weight:600; font-size:12px; }
.table-block .table > tbody > tr > td > input{ margin-top:2px; }
.table-block .table > tbody > tr:hover > td p a{ opacity:1; }
.table-block .table > tbody > tr:last-child > td{ border-bottom:1px solid rgb(230, 238, 239); }
.table-block .table-striped > tbody > tr:nth-of-type(odd){ background-color:rgb(255, 255, 255); }
.table-block .table-striped > tbody > tr:nth-of-type(even){ background-color:rgb(242, 246, 247); }

.table-action{ padding:25px 0 0; border-top:1px solid rgb(198, 216, 220); margin-top:25px; }
.table-action button{ height:44px; line-height:42px; padding:0 60px; }

.form-block{ border-top:1px solid rgb(134, 167, 174); margin-top:15px; }
.form-block fieldset{ border-bottom:1px solid rgb(134, 167, 174); padding:20px 15px 25px; }
.form-block label{ color:rgb(62, 117, 128); font-size:16px; font-weight:600; display:block; }
.form-block .radio-inline{ font-size:14px; display:inline-block; font-weight:normal; }
.form-block .checkbox input{ margin:0 5px 0 0; }
.form-block .checkbox label{ font-size:14px; font-weight:400; display:inline-block; color:rgb(73, 73, 85);; }
.form-block .message{ border:none; padding:0; }
.form-block .message p{ padding:15px; margin:0; }
.form-block .text,
.form-block .textarea{  
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
		border-radius:2px;
			box-shadow:0 1px 5px rgba(0, 0, 0, 0.15) inset;
			border:1px solid rgb(134, 167, 174);
			background-color:rgb(255, 255, 255);
			padding:6px 0 6px 10px;
			font-size:12px;
			width:100%;}
.form-block .text{ padding-right:10px; }
.form-block .textarea{ resize:vertical; }
.form-block .text-date,
.form-block .text-date-from,
.form-block .text-date-to{
	background-image:url(../images/calendar.svg); 
	background-position:5px center; 
	background-repeat:no-repeat; 
	background-size:26px;
	padding-left:35px;}
.form-block .text-small{ width:150px; }
.form-block .text-medium{ width:300px; }
.form-block .text-large{ width:700px; }
.form-block .form-inline .form-group{ margin-right:10px; }
.form-block .form-inline .form-group:last-child{ margin-right:0; }
.form-block .form-inline .form-group .subtitle{ font-size:12px; color:rgb(73, 73, 85); font-weight:600; margin-bottom:5px; }
.form-block .form-inline .form-group .chosen-container{ margin-right:10px; }
.form-block .message{ margin-top:0; border-bottom:1px solid rgb(134, 167, 174); }
.form-block .message ul{ margin:0; padding:10px 15px; list-style:none; }
.form-block .message ul li{ padding:5px 0; font-weight:600; }
.form-block .message ul li span{ padding-right:10px; }
.form-block .sr-only{ padding:0; margin:0; }
.form-note p{ padding:30px 15px 0; color:rgb(134, 167, 174); font-size:12px; }
.form-note small{ font-size:12px; padding:20px 15px 0; display:block; }

.no-field-border{ padding-top:10px; }
.no-field-border fieldset{ border-bottom:0; padding:10px 15px 0; }
.no-field-border fieldset:last-child{ border-bottom:1px solid rgb(134, 167, 174); padding-bottom:15px; }
.no-field-border .form-inline{ padding-bottom:15px; }
.no-field-border .form-inline:last-child{ padding-bottom:25px; }
.no-field-border .message{ margin-top:-10px; margin-bottom:10px; border-bottom:1px solid rgb(134, 167, 174); }

.form-action{ padding:30px 15px 0; }
.form-action a{ height:44px; line-height:42px; }
.form-action .cancel{ padding-left:15px; color:rgb(16, 163, 193); }
.form-action .delete{ color:rgb(242, 78, 78); }
.form-action button, 
.form-action .btn{ height:44px; line-height:42px; padding:0 30px 0 60px; font-weight:600; }
.form-action .btn:hover{ color:rgb(255, 255, 255); }

.not-found-block .message{ border-top:1px solid rgb(134, 167, 174); margin-top:15px; padding-top:10px; }
.not-found-block .message div{ padding:20px; }
.not-found-block .message p{ margin:0; }
.not-found-block .message span{ padding-right:10px; }

.ui-dialog-error-list{ padding:0; margin-left:15px; }
.ui-widget-overlay{ background:rgba(0, 0, 0, 0.7); opacity:1; filter:Alpha(Opacity=1) }
.ui-dialog{ padding:0; overflow:visible; }
.ui-dialog .ui-dialog-titlebar{  
	-webkit-border-radius:0;
	-moz-border-radius:0;
		border-radius:0;
			background-color:rgb(255, 255, 255);
			border:1px solid rgb(230, 238, 239);
			border-width:0 0 1px 0;
			padding:10px;}
.ui-dialog .ui-dialog-content{ padding:10px; font-size:14px; line-height:1.68; }
.ui-dialog .ui-dialog-title{ font-size:20px; font-weight:300; padding:0; margin:0; }
.ui-dialog .ui-dialog-buttonpane{ 
	-webkit-border-radius:0;
	-moz-border-radius:0;
		border-radius:0;
			border:1px solid rgb(230, 238, 239); 
			border-width:1px 0 0 0; 
			padding:10px; 
			margin:0;}
.ui-dialog .ui-dialog-titlebar-close{  
	-webkit-border-radius:17px;
	-moz-border-radius:17px;
		border-radius:17px;
			background-image:url(../images/close.svg);
			background-color:rgb(39, 38, 94);
			background-repeat:no-repeat;
			background-position:center;
			background-size:16px 16px;
				z-index:1051; 
				border:none;
				right:-17px; 
				height:35px;
				width:35px; 
				top:-17px; 
				margin:0;}
.ui-dialog .ui-dialog-titlebar-close,
.ui-dialog .ui-dialog-titlebar-close:hover{ opacity:1; }
.ui-dialog .ui-dialog-buttonpane button{
    background-color:rgb(198, 216, 220);
    border:1px solid rgb(62, 117, 128);
    color:rgb(21, 54, 76);
	padding:5px 10px;
    font-weight:400;
    font-size:12px;
    margin:0 5px;
    height:auto;
	width:80px;}
.ui-dialog .ui-dialog-buttonpane button:last-child{ margin-right:0; }
.ui-widget-overlay{ position:fixed; }
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year{ width:45%; display:inline; }
.ui-datepicker .ui-datepicker-title select{ margin:1px 3px; }

.wrap-popup{ width:900px; min-height:100px; padding:17px !important; max-width:100%; background:transparent !important; }
.wrap-popup .fancybox-close-small{ 
	-webkit-border-radius:17px;
	-moz-border-radius:17px;
		border-radius:17px;
			background-image:url(../images/close.svg);
			background-color:rgb(39, 38, 94);
			background-repeat:no-repeat;
			background-position:center;
			background-size:16px 16px;
				z-index:1051; 
				border:none;
				right:0; 
				height:35px;
				width:35px; 
				top:0; 
				margin:0;}
.wrap-popup .fancybox-close-small:after{ content:none; }
.wrap-popup .loader-wrapp{ background-color:rgb(255, 255, 255); position:relative; height:100px; }
.wrap-popup .loader{ 
    background-image:url('../images/loader.gif');
    background-repeat:no-repeat;
    position:absolute;
    margin-left:-80px;  
    margin-top:-10px; 
    display:block; 
    width:160px; 
    height:20px;
    left:50%; 
    top:50%;}

.modal-dialog .fancybox-content{ max-height:none !important; max-width:1024px !important; width:100% !important; }
.modal-dialog .fancybox-close-small{ 
    -webkit-border-radius:17px;
    -moz-border-radius:17px;
        border-radius:17px;
            background-image:url(../images/close.svg);
            background-color:rgb(39, 38, 94);
            background-repeat:no-repeat;
            background-position:center;
            background-size:16px 16px;
                right:-17px !important; 
                top:-17px !important; 
                z-index:1051; 
                border:none;
                height:35px;
                width:35px; 
                margin:0;}
.modal-dialog .fancybox-close-small:after{ content:none; }

.paging{ list-style:none; margin:30px 0 0; text-align:center; padding:0; }
.paging li{ display:inline; font-weight:600; }
.paging li a, .paging li span{ color:rgb(16, 163, 193); padding:0 10px; }
.paging li a:hover,
.paging li .selected{ text-decoration:underline; }

.pagination{ list-style:none; margin:30px 0 0; text-align:center; padding:0; }
.pagination li{ display:inline; font-weight:600; }
.pagination li a{ color:rgb(16, 163, 193); padding:0 10px; border:none; }
.pagination li a:focus,
.pagination li a:hover,
.pagination li.active a,
.pagination li.active a:focus,
.pagination li.active a:hover{ text-decoration:underline; background-color:transparent; color:rgb(16, 163, 193); }
.pagination li a:focus{ text-decoration:none; }

.nicescroll-cursors{
	background:rgba(0, 0, 0, 0.25) !important; 
	border:none !important; 
	margin-right:5px; 
	z-index:1002;}

.wrapper{ min-height:100vh; height:100%; }

.sidebar{ width:15%; min-width:250px; float:left; min-height:100vh; height:100%; position:absolute; bottom:0; }
.sidebar .inner{ position:absolute; top:100px; left:0; right:0; bottom:0; }
.sidebar .logo{ padding:20px 10px; }
.sidebar nav ul{ padding:0; margin:0; }
.sidebar nav ul li.notifications,
.sidebar nav ul li.friends,
.sidebar nav ul li.people,
.sidebar nav ul li.comments,
.sidebar nav ul li.articles,
.sidebar nav ul li.pages,
.sidebar nav ul li.applications,
.sidebar nav ul li.personal-settings,
.sidebar nav ul li.plugins,
.sidebar nav ul li.themes,
.sidebar nav ul li.global_settings,
.sidebar nav ul li.users,
.sidebar nav ul li.menus{ display:none; }
.sidebar nav ul li.dashboard{ background-image:url(../images/dashboard.svg); }
.sidebar nav ul li{ 
	-webkit-transition:border-left-width 0.1s ease-in, background-color 0.1s ease-in; 
		transition:border-left-width 0.1s ease-in, background-color 0.1s ease-in;
			background-repeat:no-repeat;
			background-size:20px auto;
			background-position:10px 10px;
				border-left:0 solid rgb(16, 163, 193);
				margin-bottom:20px;
                position:relative;}
.sidebar nav ul li.has-sub:after{ 
    content:''; 
    background-image:url(../images/down-darkblue.svg); 
    background-repeat:no-repeat; 
    position:absolute; 
    height:10px; 
    right:10px; 
    width:10px;
    top:17px;}
.sidebar nav ul li.opened.has-sub:after{ background-image:url(../images/up-dark-blue.svg); } 
.sidebar nav ul li.active,
.sidebar nav ul li:hover{ border-left-width:3px; background-color:rgb(198, 216, 220); }
.sidebar nav ul li.opened{ background-color:transparent; }
.sidebar nav ul li.active{ border-left:3px solid rgb(16, 163, 193); }
.sidebar nav ul li a{ display:block; color:inherit; padding-left:10px; font-weight:600; padding:10px 5px 10px 40px; }
.sidebar nav ul ul li{ list-style:none; margin:7px 0; border-left:0; }
.sidebar nav ul ul li.active{ border-left:0; }
.sidebar nav ul ul li:hover li.active{ border-color:transparent; }
.sidebar nav ul ul li a{ padding:10px 5px 10px 40px; }
.sidebar nav ul ul li li a{ padding-left:50px; }
.sidebar nav ul ul li li{ position:relative; }
.sidebar nav ul ul li li.active:before{ content:''; position:absolute; top:0; left:0; bottom:0; width:3px; background-color::rgb(198, 216, 220); }
.sidebar nav ul ul{ margin-bottom:-10px; }

.content{ padding-left:15%; float:left; width:100%; }
.content header{ height:40px; line-height:40px; padding:0 20px; }
.content header ul{ padding:0; text-align:right; margin:0; }
.content header ul li{ display:inline; padding:0 5px; position:relative; }
.content header ul li:after{ content:'|'; position:absolute; right:-5px; top:9px; line-height:0; }
.content header ul li:last-child:after{ content:none; }
.content header ul li a{ color:inherit; }
.content section{  
	-webkit-border-radius:2px 2px 0px 0px;
	-moz-border-radius:2px 2px 0px 0px;
		border-radius:2px 2px 0px 0px; 
			background-color:rgb(255, 255, 255);
			min-height:calc(100vh - 40px);
			padding:30px 15px;
            position:relative;}
.content section h1{ font-weight:300; font-size:50px; margin:0; }
.content section h1 small{ font-size:20px; }
.content section .section-overlay{ position:absolute; top:0; left:0; width:100%; height:100%; background-color:rgba( 255, 255, 255, 0.8 ); z-index:3; display:none; }
.content section .section-overlay img{
    position:absolute;
    margin-left:-80px;  
    margin-top:-10px; 
    display:block; 
    width:160px; 
    height:20px;
    left:50%; 
    top:50%;}

.dashboard-block .memo-wrapp{ background-color:rgb(251, 226, 78); padding:20px; margin-top:20px; } 
.dashboard-block .memo-wrapp h4{ margin:0 0 15px; color:rgb(73, 73, 85); font-size:20px; }
.dashboard-block .memo-wrapp .show-all{ color:rgba(16, 163, 193, 0.7); }
.dashboard-block .memo{ position:relative; padding:0 0 10px 20px; margin-bottom:10px; border-bottom:1px solid rgba(16, 163, 193, 0.2); }
.dashboard-block .memo:last-child{ margin-bottom:0; border-bottom:none; }
.dashboard-block .memo:before{ content:'\f00c'; font-family:'FontAwesome'; font-size:inherit; position:absolute; left:0; color:rgb(0,0,0); top:1px; }
.dashboard-block .memo p{ color:rgb(0, 0, 0); margin:0; line-height:1.68; }
.dashboard-block .memo strong a{ color:inherit; }
.dashboard-block .memo a{ color:rgb(16, 163, 193); }
.dashboard-block .memo .close{ position:absolute; top:0; right:0; }

.dashboard-block .count-block{   
	background-image:-webkit-linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(16, 163, 193, 0.08) 100%);
	background-image:   -moz-linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(16, 163, 193, 0.08) 100%);
	background-image:     -o-linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(16, 163, 193, 0.08) 100%);
	background-image:    -ms-linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(16, 163, 193, 0.08) 100%);
	background-image:        linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(16, 163, 193, 0.08) 100%);
		-webkit-border-radius:2px;
		-moz-border-radius:2px;
			border-radius:2px; 
				border:1px solid rgb(198, 216, 220);
				color:rgb(73, 73, 85);
				text-align:center;
				margin:20px 0; 
				padding:20px;}
.dashboard-block .count-block p{ color:rgb(62, 117, 128); font-size:16px; margin-bottom:0; }
.dashboard-block .count-block strong{ display:block; font-size:42px; }
.dashboard-block .count-block small{ display:block; font-size:12px; }

.dashboard-block .seat-block{ margin-bottom:20px; }
.dashboard-block .seat-block h3{ border-bottom:1px solid rgb(198, 216, 220); padding:5px; margin-bottom:15px; font-size:20px; font-weight:600; line-height:1.4; }
.dashboard-block .boxs .tab-content{ color:rgb(73, 73, 85); }
.dashboard-block .boxs .tab-pane .col{ text-align:center; }
.dashboard-block .boxs .tab-pane .col span{ display:block; height:25px; border-bottom:1px solid rgb(198, 216, 220); }
.dashboard-block .boxs .tab-pane .col p{ margin:0; padding:20px 10px 0; height:90px; }
.dashboard-block .boxs .tab-pane .col p span{ border-bottom:none; height:auto; padding-top:3px; }
.dashboard-block .boxs .tab-pane .col strong{ font-size:42px; font-weight:700; letter-spacing:-1px; }
.dashboard-block .boxs .tab-pane .col-md-4:first-child p{ border-left:1px solid rgb(198, 216, 220); }
.dashboard-block .boxs .tab-pane .col-md-4:last-child p{ border-right:1px solid rgb(198, 216, 220); }
.dashboard-block .boxs .tab-pane .col-md-12 small{ display:block; border-left:1px solid rgb(198, 216, 220); border-right:1px solid rgb(198, 216, 220); padding:10px 10px 20px; }

.dashboard-block .single-block{ color:rgb(73, 73, 85); }
.dashboard-block .single-block .col{ text-align:center; }
.dashboard-block .single-block .col span{ display:block; height:25px; border-bottom:1px solid rgb(198, 216, 220); }
.dashboard-block .single-block .col p{ margin:0; padding:20px 10px 0; }
.dashboard-block .single-block .col strong{ font-size:42px; font-weight:700; letter-spacing:-1px; }
.dashboard-block .single-block .col-md-12 small{ display:block; padding:10px 10px 20px; border:1px solid rgb(198, 216, 220); border-top:none; }
.dashboard-block .single-block .col-md-1:first-child p{ border-left:1px solid rgb(198, 216, 220); }
.dashboard-block .single-block .col-md-1:last-child p{ border-right:1px solid rgb(198, 216, 220); }
.dashboard-block .single-block .seven-cols .col-md-1,
.dashboard-block .single-block .seven-cols .col-sm-1,
.dashboard-block .single-block .seven-cols .col-lg-1{ width:14.285714285714285714285714285714%; *width:14.285714285714285714285714285714%; }

.dashboard-block .boxs .nav-tabs{ border:1px solid rgb(198, 216, 220); border-top:0; border-bottom:0; background-color:rgb(198, 216, 220); }
.dashboard-block .boxs .nav-tabs li{ text-align:center; }
.dashboard-block .boxs .nav-tabs li:hover,
.dashboard-block .boxs .nav-tabs li.active{ background-color:rgb(255, 255, 255); }
.dashboard-block .boxs .nav-tabs li a{ color:rgb(73, 73, 85); padding:11px; display:block; border-bottom:1px solid rgb(198, 216, 220); margin:0; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }

.dashboard-block .feedback-block{ margin-bottom:20px; }
.dashboard-block .feedback-block h3{ border-bottom:1px solid rgb(198, 216, 220); padding:5px; margin-bottom:15px; font-size:20px; font-weight:600; line-height:1.4; }
.dashboard-block .feedback-block .boxs a{ font-size:12px; color:rgb(16, 163, 193); cursor:pointer; }
.dashboard-block .feedback-block .boxs p{ font-size:12px; color:rgb(73, 73, 85); padding-right:20px; }
.dashboard-block .feedback-block .boxs strong{ font-size:14px; font-weight:600; }
.dashboard-block .feedback-block .boxs label{ display:block; font-size:11px; color:rgb(134, 167, 174); font-weight:400; }
.dashboard-block .feedback-block .boxs fieldset{ margin-bottom:10px; padding:0 5px; }
.dashboard-block .feedback-block .boxs .no-data{ font-weight:600; }
.dashboard-block .feedback-block .rating{ margin-top:5px; width:150px; }
.dashboard-block .feedback-block .rating-empty, .rating-fill{ 
	background:url(../images/star-empty.svg);
	position:relative; 
	margin-right:5px;
	display:block;
	height:16px;
	float:left; 
	width:16px;
	padding:0;}
.dashboard-block .feedback-block .rating-fill{ background:url(../images/star-full.svg); }
.dashboard-block .feedback-block .rating-half{ background:url(../images/star-half.svg); }

.dashboard-block .chart-block{ margin-bottom:20px; }
.dashboard-block .chart-block .report-chart-legend{ top:10px; }
.dashboard-block .chart-block h3{ border-bottom:1px solid rgb(198, 216, 220); padding:5px; margin-bottom:15px; font-size:20px; font-weight:600; line-height:1.4; }

.dashboard-block .table-block{ margin-bottom:20px; }
.dashboard-block .table-block h3{ border-bottom:1px solid rgb(198, 216, 220); padding:5px; margin-bottom:15px; font-size:20px; font-weight:600; line-height:1.4; }
.dashboard-block .table-block .table{ margin-top:-15px; margin-bottom:0; }
.dashboard-block .table-block .table > thead > tr > th{ font-size:11px; color:rgb(134, 167, 174); font-weight:400; border-bottom-width:1px; border-bottom-color:rgb(230, 238, 239); }
.dashboard-block .table-block .table > tbody > tr > td, 
.dashboard-block .table-block .table > tfoot > tr > td, 
.dashboard-block .table-block .table > thead > tr > td{ border-top-color:rgb(230, 238, 239); font-size:12px; color:rgb(73, 73, 85); font-weight:600; padding:15px 8px; }
.dashboard-block .table-block .table-striped > tbody > tr:nth-of-type(odd){ background-color:rgb(255, 255, 255); }
.dashboard-block .table-block .table-striped > tbody > tr:nth-of-type(even){ background-color:rgb(242, 246, 247); }
.dashboard-block .table-block .table > tbody > tr > td p{ margin:7px 0 0; }
.dashboard-block .table-block .table > tbody > tr > td p a:first-child{ margin-right:10px; }
.dashboard-block .table-block .table > tbody > tr > td p a{ 
	-webkit-transition:opacity 0.1s ease-in; 
		transition:opacity 0.1s ease-in;
			color:rgb(16, 163, 193);
			font-weight:400;
			font-size:12px; 
			opacity:0; }
.dashboard-block .table-block .table > tbody > tr > .red{ color:red; }
.dashboard-block .table-block .table > tbody > tr:hover > td p a{ opacity:1; }
.dashboard-block .table-block .see-all{ display:block; border-top:1px solid rgb(230, 238, 239); margin:0; padding:10px 5px 0; }
.dashboard-block .table-block .see-all a{ color:rgb(16, 163, 193); }

.role-block .select-option{ width:350px; },
.role-block .table-block{ border-top:1px solid rgb(134, 167, 174); margin-top:10px; }
.role-block .role-section{ padding:0; max-width:550px; }
.role-block .role-section .rs-head{ padding:0 0 10px; border-bottom:1px solid rgb(198, 216, 220); }
.role-block .role-section .rs-content{ margin-bottom:20px; }
.role-block .role-section .rs-content ul{ padding:0; margin:0; list-style:none; }
.role-block .role-section .rs-content ul li{ width:50%; float:left; }
.role-block .role-section .rs-content ul li:nth-child(odd){ padding-right:10px; }
.role-block .role-section .rs-content ul li:nth-child(even){ padding-left:10px; }
.role-block .role-section .rs-content ul li div{ border-bottom:1px solid rgb(198, 216, 220); width:100%; padding:10px 0 }

.users-block .no-field-border{ padding-top:0; }
.users-block .no-field-border fieldset{ border-bottom:1px solid rgb(134, 167, 174); padding:20px 15px; }
.users-block .no-field-border fieldset h2{ color:rgb(62, 117, 128); font-size:16px; margin:0 0 15px; font-weight:600; }
.users-block .no-field-border fieldset label{ font-size:14px; color:rgb(73, 73, 85) }
.users-block .no-field-border fieldset p{ color:rgb(73, 73, 85); font-size:12px; }
.users-block .no-field-border fieldset .select-option{ width:300px; }
.users-block .no-field-border fieldset:last-child{ padding-bottom:15px; }
.users-block .no-field-border .message{ margin:0; padding:0; }
.users-block .filter-box{ border-top:1px solid rgb(134, 167, 174); border-bottom:1px solid rgb(134, 167, 174); position:relative; padding:20px 5px; margin-top:20px; }
.users-block .search-box{ float:right; }
.users-block .search-box input[type=text]{ 
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
        border-radius:20px; 
            background-image:url('../images/find.svg');
            background-color:rgb(255, 255, 255);
            background-repeat:no-repeat;
            background-position:96% 50%;
            background-size:24px auto;
                box-shadow:0 1px 5px rgba(0, 0, 0, 0.15) inset;
                border:1px solid rgb(134, 167, 174);
                color:rgb(73, 73, 85);
                font-weight:400;
                font-size:14px;
                display:block;
                padding:0 15px;
                width:220px;
                height:34px;}

.settings-block .tabs{ background-color:rgb(198, 216, 220); padding:0; margin:30px 0 0; line-height:normal; height:40px; }
.settings-block .tabs li{ text-align:center; display:inline-block; }
.settings-block .tabs li:hover,
.settings-block .tabs li.active{ background-color:rgb(255, 255, 255); }
.settings-block .tabs li a{ 
    border-bottom:1px solid rgb(198, 216, 220); 
    border-top:1px solid rgb(198, 216, 220);  
    text-overflow:ellipsis; 
    color:rgb(73, 73, 85); 
    white-space:nowrap; 
    padding:10px 20px; 
    overflow:hidden; 
    display:block; 
    margin:0;}

.settings-block .form-block{ margin-top:0; border-top:0; border-bottom:1px solid rgb(134, 167, 174); padding-bottom:10px; }
.settings-block .form-block fieldset{ border-bottom:0; padding-bottom:0; }
.settings-block .form-block fieldset .format{ margin:0; padding:0; list-style:none; }
.settings-block .form-block fieldset .format li{ margin-bottom:7px; }
.settings-block .form-block fieldset .format li:last-child{ margin-bottom:0; }
.settings-block .form-block fieldset .format li input{ vertical-align:middle; margin:-3px 5px 0 0; }
.settings-block .form-block fieldset em{ display:block; margin-top:-7px; }
.settings-block .form-block fieldset input + span{ margin-right:5px; }
.settings-block .form-block fieldset input + span + input{ display:block; margin-top:10px !important; margin-left:20px !important;  }
.settings-block .form-block fieldset input + i{ margin-left:5px; }
.settings-block .form-block fieldset h2{ margin:0 0 20px; font-size:22px; font-weight:600; }
.settings-block .form-block fieldset .form-group{ margin-bottom:0; margin-top:10px; }
.settings-block .form-block fieldset .form-group i + input{ margin-left:5px; }
.settings-block .form-block fieldset:last-child .form-group{ margin-bottom:20px; }
.seats-production  tr:nth-of-type(odd){
        background-color: #e6eeef;
}
.seats-production  tr:nth-of-type(even){
        background-color: rgb(242, 246, 247);
}