<!-- BEGIN form-block -->

<div class="wrapper-block driver-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-12"> 
                    <h1>New/Edit Driver</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-block no-field-border">
                    	{message}
                    	<fieldset class="sr-only">
                    		<input type="text" name="did" value="{did}" />
                            <input type="text" name="davatar" value="{davatar}" />
                    	</fieldset>
                        <fieldset class="form-inline">
                    		<label>Driver Name</label>
                    		<div class="form-group">
							    <input type="text" class="text text-medium form-control" name="dname" value="{dname}" />
						  	</div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <div class="form-group">
                                <div class="avatar-block">
                                    <div class="avatar-overlay">
                                        <a class="delete-avatar"></a>
                                    </div>
                                    <img class="avatar-img" src="{davatar_thumb}" alt="Avatar Image" width="120" />
                                </div>
                                <div class="upload-btn">
                                    <input type="file" class="file-upload" name="avatar" autocomplete="off" />
                                    <span>New Photo</span>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Handphone 1</label>
                            <div class="form-group">
                                <input type="text" class="text text-medium form-control" name="dphone" value="{dphone}" />
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Handphone 2</label>
                            <div class="form-group">
                                <input type="text" class="text text-medium form-control" name="dphone2" value="{dphone2}" />
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Driver</label>
                            <div class="form-group">
                                <select class="select-option" name="dtype" autocomplete="off">
                                    {dtype}
                                </select>
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Status</label>
                            <div class="form-group driver-status-group">
                                <div class="checkbox">
                                    <input id="driver-status-1" name="dstatus" class="driver-status" autocomplete="off" type="radio" {radio_active_opt} value="1">
                                    <label for="driver-status-1">Active</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <input id="driver-status-2" name="dstatus" class="driver-status" autocomplete="off" type="radio" {radio_inactive_opt} value="0">
                                    <label for="driver-status-2">Inactive</label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-action clearfix">
                    	<button type="submit" class="btn-save pull-left" name="publish">Save Driver</button>
                    	<a class="cancel pull-left" href="{cancel_link}">Cancel</a>
                    	<a class="delete pull-right {delete_class}" href="{ajax_link}">Delete</a>
                    </div>
                    <div class="form-note">
                        {last_update_note}
                    </div>
                </div>
            </div>
        </form>

        <script type="text/javascript">
            jQuery(document).ready(function(){
                jQuery('.form-action .delete').on('click', function(e){
                    var url = jQuery(this).attr('href');
                    var prm = new Object();
                        prm.pkey = 'delete-transport-driver';
                        prm.did  = jQuery('[name=did]').val();

                    jQuery('<div></div>').dialog({
                        modal: true,
                        draggable: false,
                        resizable: false,
                        title: 'Notification',
                        open: function(){
                            jQuery(this).html('Are you sure want to delete this driver?');
                        },
                        buttons: {
                            Yes: function(){
                                var popup = jQuery(this);

                                jQuery.ajax({
                                    method: 'POST',
                                    url: url,
                                    data: prm,
                                    dataType : 'json',
                                    success: function(e){
                                        popup.dialog('close');

                                        if( e.result=='success' )
                                        {                                       
                                            show_popup('Notification', 'This driver has been successfully deleted', 'window.location.assign("{cancel_link}")');
                                        }
                                        else if( e.result=='failed' )
                                        {
                                            show_popup('Warning', 'Sorry, This driver can\'t be deleted. Please try again later');
                                        }
                                    },
                                    error: function(e){
                                       popup.dialog('close');

                                       show_popup('Warning', 'Sorry, This driver can\'t be deleted. Please try again later');
                                    }
                                });
                            },
                            No: function(){
                                jQuery( this ).dialog('close');
                            }
                        }
                    });

                    return false;
                });

                jQuery('.file-upload').on('change', function(e){
                    if( this.files && this.files[0] )
                    {
                        var reader = new FileReader();

                        reader.onload = function (e)
                        {
                            jQuery('.avatar-img').attr('src', e.target.result);
                        }

                        reader.readAsDataURL(this.files[0]);
                    }
                });

                jQuery('.delete-avatar').on('click', function(e){
                    var ele = jQuery('.file-upload');
                    ele.wrap('<form>').closest('form').get(0).reset();
                    ele.unwrap();

                    jQuery('[name=davatar]').val('');
                    jQuery('.avatar-img').attr('src', '{default_avatar}');
                });
            });
        </script>
    </div>
</div>

<!-- END form-block -->