<!-- BEGIN list-block -->

<div class="wrapper-block driver-block transport-search">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-8"> 
                    <h1>Driver</h1>
                </div>
                <div class="col-md-4">
                    <div class="button-box clearfix">
                        <button type="submit" class="button btn-delete disabled" name="delete" value="Delete" disabled="disabled">Delete Driver</button>
                        <button type="button" class="button btn-add" name="add_new" onclick="location.href='{add_new_link}';">New Driver</button>
                    </div>
                </div>
            </div>
            <div class="row">     
                <div class="col-md-12"> 
                    <div class="filter-box clearfix">
                        <div class="search-box clearfix">
                            <input type="text" class="searchtext" name="sdriver" placeholder="Search" autocomplete="off" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-block">
                        {message}
                        <table id="driver-table" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="15" data-orderable="false"><input type="checkbox" name="check_all" autocomplete="off" /></th>
                                    <th width="30%">Driver Name</th>
                                    <th>Handphone 1</th>
                                    <th>Handphone 2</th>
                                    <th>Driver</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function(){
            set_driver_table();
        });

        function set_driver_table()
        {
            var table = jQuery('#driver-table').DataTable({
                dom          : '<"row"<"col-xs-5 col-sm-6"l><"col-xs-7 col-sm-6 text-right">r>t<"row"<"col-md-12"i><"col-md-12 text-center"p>>',
                pageLength   : parseInt('{limit}'),
                lengthChange : false,
                info         : false,
                processing   : true,
                serverSide   : true,
                searching    : true,
                deferRender  : true,
                order        : [],
                ajax         : {
                    url  : '{ajax_link}',
                    type : 'POST',
                    data : { 
                        pkey : 'load-data'
                    }
                },
                columns: [
                    { 
                        data: 'did', render: function ( data, type, row ) {
                            var html = '<input type="checkbox" name="select[]" autocomplete="off" value="' + data + '" />';

                            return html;
                        }
                    },
                    { 
                        data: 'dname', render: function ( data, type, row ) {
                            var html = 
                            '<img src="' + row.davatar + '" alt="Avatar" width="120" class="pull-left" />'+ data +
                            '<p>'+
                                '<a id="edit-' + row.did + '" rel="' + row.did + '" href="' + row.edit_link + '">Edit  &raquo;</a>'+
                                '<a id="delete-' + row.did + '" rel="' + row.did + '" href="javascript:;" class="delete-driver">Delete &raquo;</a>'+
                            '</p>';

                            return html;
                        }
                    },
                    { 
                        data: 'dphone', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'dphone2', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'dtype', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'dstatus', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                ]
            });

            table.on( 'draw.dt', function () {
                action_link_func( table );
            });

            table.on( 'page.dt', function () {
                start = table.page.info().start;
            });
            
            jQuery('[name=sdriver]').on('keyup', function(){
                table.search( this.value ).draw() ;
            });
        }

        function action_link_func( table )
        {
            jQuery('.delete-driver').unbind();
            jQuery('.delete-driver').on('click', function(){
                var url = '{ajax_link}';
                var prm = new Object();
                    prm.pkey = 'delete-transport-driver';
                    prm.did = jQuery(this).attr('rel');

                jQuery('<div></div>').dialog({
                    modal: true,
                    draggable: false,
                    resizable: false,
                    title: 'Notification',
                    open: function(){
                        jQuery(this).html('Are you sure want to delete this driver?');
                    },
                    buttons: {
                        Yes: function(){
                            var popup = jQuery(this);

                            jQuery.ajax({
                                method: 'POST',
                                url: url,
                                data: prm,
                                dataType : 'json',
                                success: function(e){
                                    popup.dialog('close');

                                    if( e.result == 'success' )
                                    {                            
                                        table.ajax.reload(function(){
                                            action_link_func( table );                                            
                                            show_popup('Notification', 'This driver has been successfully deleted');
                                        }, false);
                                    }
                                    else if( e.result == 'failed' )
                                    {
                                        show_popup('Warning', 'Sorry, This driver can\'t be deleted. Please try again later');
                                    }
                                },
                                error: function(e){
                                   popup.dialog('close');

                                   show_popup('Warning', 'Sorry, This driver can\'t be deleted. Please try again later');
                                }
                            });
                        },
                        No: function(){
                            jQuery( this ).dialog('close');
                        }
                    }
                });
            });
        }
    </script>
</div>

<!-- END list-block -->