<!-- BEGIN form-block -->

<div class="wrapper-block location-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-12"> 
                    <h1>New/Edit Location</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-block">
                    	{message}
                    	<fieldset class="sr-only">
                    		<input type="text" name="lcid" value="{lcid}" />
                    	</fieldset>
                        <fieldset class="form-inline">
                            <label>Location / Port Name Alias</label>
                            <div class="form-group">
                                <input type="text" class="text text-small form-control" name="lcalias" value="{lcalias}" placeholder="">
                            </div>
                        </fieldset>
                    	<fieldset class="form-inline">
                    		<label>Location / Port Name</label>
                    		<div class="form-group">
							    <input type="text" class="text text-large form-control" name="lcname" value="{lcname}" placeholder="">
						  	</div>
                    	</fieldset>
                        <fieldset class="form-inline">
                            <label>Location / Port Type</label>
                            <div class="form-group">
                                <select name="lctype" autocomplete="off">
                                    {lctype}
                                </select>
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Order for 'From Destination'</label>
                            <input type="text" class="text text-small form-control" name="lcorder_from" value="{lcorder_from}" placeholder="">
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Order for 'To Destination'</label>
                            <input type="text" class="text text-small form-control" name="lcorder_to" value="{lcorder_to}" placeholder="">
                        </fieldset>
                    </div>
                    <div class="form-action clearfix">
                    	<button type="submit" class="btn-save pull-left" name="publish">Save Location</button>
                    	<a class="cancel pull-left" href="{cancel_link}">Cancel</a>
                    	<a class="delete pull-right {delete_class}" href="{ajax_link}">Delete</a>
                    </div>
                    <div class="form-note">
                        {last_update_note}
                    </div>
                </div>
            </div>
        </form>

        <script type="text/javascript">
            jQuery(document).ready(function(){
                jQuery('.form-action .delete').on('click', function(e){
                    var url = jQuery(this).attr('href');
                    var prm = new Object();
                        prm.pkey = 'delete-location';
                        prm.lcid = jQuery('[name=lcid]').val();

                    jQuery('<div></div>').dialog({
                        modal: true,
                        draggable: false,
                        resizable: false,
                        title: 'Notification',
                        open: function(){
                            jQuery(this).html('Are you sure want to delete this location?');
                        },
                        buttons: {
                            Yes: function(){
                                var popup = jQuery(this);

                                jQuery.ajax({
                                    method: 'POST',
                                    url: url,
                                    data: prm,
                                    dataType : 'json',
                                    success: function(e){
                                        popup.dialog('close');

                                        if( e.result=='success' )
                                        {                                       
                                            show_popup('Notification', 'This location has been successfully deleted', 'window.location.assign("{cancel_link}")');
                                        }
                                        else if( e.result=='error-query' )
                                        {
                                            if( e.error_code==1451 )
                                            {
                                                show_popup('Warning', 'Sorry, This location can\'t be deleted. May already be used in another data');
                                            }
                                            else
                                            {
                                                show_popup('Warning', 'Sorry, This location can\'t be deleted. Please try again later');
                                            }
                                        }
                                    },
                                    error: function(e){
                                       popup.dialog('close');

                                       show_popup('Warning', 'Sorry, This location can\'t be deleted. Please try again later');
                                    }
                                });
                            },
                            No: function(){
                                jQuery( this ).dialog('close');
                            }
                        }
                    });

                    return false;
                });
            });
        </script>
    </div>
</div>

<!-- END form-block -->