<!-- BEGIN form-block -->

<div class="wrapper-block schedule-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-12"> 
                    <h1>New/Edit Schedule</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-block no-field-border">
                    	{message}
                    	<fieldset class="sr-only">
                    		<input type="text" name="sid" value="{sid}" />
                    	</fieldset>
                    	<fieldset class="form-inline">
                    		<label>Schedule</label>
                    		<div class="form-group">
                    			<p class="subtitle">From</p>
							    <input type="text" class="text text-date text-medium form-control" name="sfrom" value="{sfrom}" placeholder="Date" readonly>
						  	</div>
                    		<div class="form-group">
                    			<p class="subtitle">To</p>
							    <input type="text" class="text text-date text-medium form-control" name="sto" value="{sto}" placeholder="Date" readonly>
						  	</div>
                    	</fieldset>
                        <fieldset class="form-inline">
                            <label>Route</label>
                            <div class="form-group">
                                {rid}
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Boat</label>
                            <div class="form-group">
                                <select class="select-option" name="boid" autocomplete="off">
                                    {boid}
                                </select>
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Status</label>
                            <div class="form-group schedule-status-group">
                                <div class="checkbox">
                                    <input id="schedule-status-1" name="sstatus" class="schedule-status" autocomplete="off" type="radio" {radio_publish_opt} value="publish">
                                    <label for="schedule-status-1">Published</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <input id="schedule-status-2" name="sstatus" class="schedule-status" autocomplete="off" type="radio" {radio_draft_opt} value="draft">
                                    <label for="schedule-status-2">Unpublished</label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-action clearfix">
                    	<button type="submit" class="btn-save pull-left" name="publish">Save Schedule</button>
                    	<a class="cancel pull-left" href="{cancel_link}">Cancel</a>
                    	<a class="delete pull-right {delete_class}" href="{ajax_link}">Delete</a>
                    </div>
                    <div class="form-note">
                        {last_update_note}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery('.select-option').chosen({ max_selected_options:10, search_contains:true });

        jQuery('[name=sfrom]').datepicker({
            dateFormat:'dd MM yy',
            onSelect: function(date){
                var date2 = jQuery('[name=sto]').datepicker('getDate');

                if( date2 == null )
                {
                    jQuery('[name=sto]').datepicker('setDate', date);
                }

                jQuery('[name=sto]').datepicker('option', 'minDate', date);
            }
        });

        jQuery('[name=sto]').datepicker({
            dateFormat:'dd MM yy',
            onClose: function(date){
                var date2 = jQuery('[name=sfrom]').datepicker('getDate');

                if( date2 == null )
                {
                    jQuery('[name=sfrom]').datepicker('setDate', date);
                }
                
                jQuery('[name=sfrom]').datepicker('option', 'maxDate', date);
            }
        });

        jQuery('.form-action .delete').on('click', function(e){
            var url = jQuery(this).attr('href');
            var prm = new Object();
                prm.pkey = 'delete-schedule';
                prm.sid = jQuery('[name=sid]').val();

            jQuery('<div></div>').dialog({
                modal: true,
                draggable: false,
                resizable: false,
                title: 'Notification',
                open: function(){
                    jQuery(this).html('Are you sure want to delete this schedule?');
                },
                buttons: {
                    Yes: function(){
                        var popup = jQuery(this);

                        jQuery.ajax({
                            method: 'POST',
                            url: url,
                            data: prm,
                            dataType : 'json',
                            success: function(e){
                                popup.dialog('close');

                                if( e.result=='success' )
                                {                                       
                                    show_popup('Notification', 'This schedule has been successfully deleted', 'window.location.assign("{cancel_link}")');
                                }
                                else if( e.result=='failed' )
                                {
                                    show_popup('Warning', 'Sorry, This schedule can\'t be deleted. Please try again later');
                                }
                            },
                            error: function(e){
                               popup.dialog('close');

                               show_popup('Warning', 'Sorry, This schedule can\'t be deleted. Please try again later');
                            }
                        });
                    },
                    No: function(){
                        jQuery( this ).dialog('close');
                    }
                }
            });

            return false;
        });
    });
</script>

<!-- END form-block -->