<!-- BEGIN list-block -->

<div class="wrapper-block schedule-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-8"> 
                    <h1>Schedule</h1>
                </div>
                <div class="col-md-4">
                    <div class="button-box clearfix">
                        <button type="submit" class="button btn-delete disabled" name="delete" value="Delete" disabled="disabled">Delete Schedule</button>
                        <button type="button" class="button btn-add" name="add_new" onclick="location.href='{add_new_link}';">New Schedule</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="filter-box">
                        <div class="form-group clearfix">
                            <input name="period" type="text" placeholder="Period" value="{period}"  class="medium_textbox dpicker">
                            <select name="rid" id="select_route" class="select-option select-option-route">
                                {route_option}
                            </select>
                            <select name="boid" id="select_boat" class="select-option select-option-boat">
                                {boat_option}
                            </select>
                            <select name="sstatus" id="select_status" class="select-option select-option-status">
                                {status_option}
                            </select>
                            <input name="filter" type="submit" value="Filter" class="filters">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-block">
                        <table id="schedule-table" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="15" data-orderable="false"><input type="checkbox" name="check_all" autocomplete="off" /></th>
                                    <th>Route Name</th>
                                    <th>Period</th>
                                    <th>Boat</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {list}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function(){
            set_schedule_table();

            jQuery('[name=period]').daterangepicker({
                autoUpdateInput: false,
                locale: {
                    format: 'DD/MM/YYYY',
                    cancelLabel: 'Clear'
                }
            });

            jQuery('[name=period]').on('apply.daterangepicker', function( ev, pc ){
                jQuery(this).val( pc.startDate.format('DD/MM/YYYY') + ' - ' + pc.endDate.format('DD/MM/YYYY') );
            });

            jQuery('[name=period]').on('cancel.daterangepicker', function( ev, pc ){
                jQuery(this).val('');
            });

            jQuery('.select-option').chosen({ max_selected_options:10, search_contains:true });
        });

        function set_schedule_table()
        {
            var table = jQuery('#schedule-table').DataTable({
                dom          : '<"row"<"col-xs-5 col-sm-6"l><"col-xs-7 col-sm-6 text-right">r>t<"row"<"col-md-12"i><"col-md-12 text-center"p>>',
                pageLength   : parseInt('{limit}'),
                lengthChange : false,
                info         : false,
                processing   : true,
                serverSide   : true,
                searching    : true,
                deferRender  : true,
                order        : [],
                ajax         : {
                    url  : '{ajax_link}',
                    type : 'POST',
                    data : { 
                        pkey    : 'load-data',
                        rid     : jQuery('[name=rid]').val(),
                        boid    : jQuery('[name=boid]').val(),
                        period  : jQuery('[name=period]').val(),
                        sstatus : jQuery('[name=sstatus]').val()
                    }
                },
                columns: [
                    { 
                        data: 'sid', render: function ( data, type, row ) {
                            var html = '<input type="checkbox" name="select[]" autocomplete="off" value="' + data + '" />';

                            return html;
                        }
                    },
                    { 
                        data: 'rname', render: function ( data, type, row ) {
                            var html = data +
                            '<p>'+
                                '<a id="edit-' + row.sid + '" rel="' + row.sid + '" href="' + row.edit_link + '">Edit  &raquo;</a>'+
                                '<a id="delete-' + row.sid + '" rel="' + row.sid + '" href="javascript:;" class="delete-schedule">Delete &raquo;</a>'+
                            '</p>';

                            return html;
                        }
                    },
                    { 
                        data: 'period', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'boname', render: function ( data, type, row ) {
                            return data;
                        }
                    },
                    {
                        data: 'sstatus', render: function ( data, type, row ) {
                            return data;
                        }
                    }
                ]
            });

            table.on( 'draw.dt', function () {
                action_link_func( table );
            });

            table.on( 'page.dt', function () {
                start = table.page.info().start;
            });
        }

        function action_link_func( table )
        {
            jQuery('.delete-schedule').unbind();
            jQuery('.delete-schedule').on('click', function(){
                var url = '{ajax_link}';
                var prm = new Object();
                    prm.pkey = 'delete-schedule';
                    prm.sid  = jQuery(this).attr('rel');

                jQuery('<div></div>').dialog({
                    modal: true,
                    draggable: false,
                    resizable: false,
                    title: 'Notification',
                    open: function(){
                        jQuery(this).html('Are you sure want to delete this schedule?');
                    },
                    buttons: {
                        Yes: function(){
                            var popup = jQuery(this);

                            jQuery.ajax({
                                method: 'POST',
                                url: url,
                                data: prm,
                                dataType : 'json',
                                success: function(e){
                                    popup.dialog('close');

                                    if( e.result == 'success' )
                                    {                            
                                        table.ajax.reload(function(){
                                            action_link_func( table );                                            
                                            show_popup('Notification', 'This schedule has been successfully deleted');
                                        }, false);
                                    }
                                    else if( e.result == 'failed' )
                                    {
                                        show_popup('Warning', 'Sorry, This schedule can\'t be deleted. Please try again later');
                                    }
                                },
                                error: function(e){
                                   popup.dialog('close');

                                   show_popup('Warning', 'Sorry, This schedule can\'t be deleted. Please try again later');
                                }
                            });
                        },
                        No: function(){
                            jQuery( this ).dialog('close');
                        }
                    }
                });
            });
        }
    </script>
</div>

<!-- END list-block -->