<!-- BEGIN list-block -->

<div class="wrapper-block agent-report-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-8"> 
                    <h1>Report</h1>
                </div>
            </div>
            <div class="row">     
                <div class="col-md-12">
                    <div class="filter-box clearfix">
                        <span class="text">Filter</span>
                        <input name="bticket" type="text" placeholder="Booking Ticket" value="{boking_ticket}" class="medium_textbox" autocomplete="off">
                        <select name="atstatus" id="select-status">
                            {status_option}
                        </select>
                        <select name="atdatetype" id="select-date" style="width:150px;">
                            {date_option}
                        </select>
                        <input name="date_start" type="text" placeholder="Start date" value="{date_start}" class="medium_textbox dpicker" autocomplete="off">
                        <input name="date_end" type="text" placeholder="End date" value="{date_end}" class="medium_textbox dpicker" autocomplete="off">
                        <input name="filter" type="submit" value="Filter" class="filters">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-block">
                        <table id="agent-report-table" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Booking Date</th>
                                    <th>Depart Date</th>
                                    <th>Booking Code</th>
                                    <th>Reference Code Agent</th>
                                    <th>Guest Name</th>
                                    <th>Status</th>
                                    <th class="text-right">Debet</th>
                                    <th class="text-right">Credit</th>
                                    <th class="text-right">Outstanding</th>
                                </tr>
                            </thead>
                            <tbody>
                                {list}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-action clearfix">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="submit" class="btn-print pull-left" name="print">Print Report</button>
                        </div>
                        <div class="col-md-6">
                            {paging}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery('[name=atstatus], [name=atdatetype]').chosen({ max_selected_options:10, search_contains:true });
        jQuery('[name=date_start]').datepicker({
            dateFormat:'dd MM yy',
            onSelect: function (date) {
                var date2 = jQuery('[name=date_start]').datepicker('getDate');
                    date2.setDate(date2.getDate());

                jQuery('[name=date_end]').datepicker('setDate', date2);
                jQuery('[name=date_end]').datepicker('option', 'minDate', date2);
            }
        });

        jQuery('[name=date_end]').datepicker({
            dateFormat:'dd MM yy',
            onClose: function () {
                var dt1 = jQuery('[name=date_start]').datepicker('getDate');
                var dt2 = jQuery('[name=date_end]').datepicker('getDate');

                if( dt2 < dt1)
                {
                    var minDate = jQuery('[name=date_end]').datepicker('option', 'minDate');
                    jQuery('[name=date_end]').datepicker('setDate', minDate);
                }
            }
        });

        jQuery('[name=print]').on('click', function(){
            window.open('', '_blank').location.href = '//{site_url}/agent-outstanding-print-report?filter={filter}&id={agid}&print=true';
            return false;
        });
    });
</script>

<!-- END list-block -->