<!-- BEGIN loop-block -->

<tr id="item-{id}">
    <td class="rev-date">{atdate}</td>
    <td class="booking-date">{bdate}</td>
    <td class="depart-date">{bddate}</td>
    <td class="no-ticket">{bticket}</td>
    <td class="ref-code">{bbrevagent}</td>
    <td class="guest-name">{atgname}</td>
    <td class="status">{atstatus}</td>
    <td class="debet text-right">{atdebet}</td>
    <td class="credit text-right">{atcredit}</td>
    <td class="outstanding text-right">{atoutstanding}</td>
</tr>

<!-- END loop-block -->