<!-- BEGIN delete-block -->

<div class="wrapper-block vehicle-block">
    <div class="container-fluid">
        <form class="delete-list-form" action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-8"> 
                    <h1>Vehicle Owner</h1>
                </div>
                <div class="col-md-4">
                    <div class="button-box clearfix">
                        <button type="submit" class="button btn-yes" name="confirm_delete" value="Yes">
                        	<span class="glyphicon glyphicon-ok"></span>Yes
                        </button>
                        <button type="button" class="button btn-no" name="confirm_delete" value="No" onclick="location.href='{action}';">
                        	<span class="glyphicon glyphicon-remove"></span>No
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                	<div class="message">
                		<div class="message-text bg-warning text-warning">
							<strong>{message}</strong>
							<ol>
								<!-- BEGIN loop-block -->
								<li>
									<span>{voname}</span>
									<input type="hidden" name="id[]" value="{void}">
								</li>
								<!-- END loop-block -->
							</ol>
						</div>
					</div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- END delete-block -->