<!-- BEGIN list-block -->

<div class="wrapper-block vehicle-block transport-search">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-8"> 
                    <h1>Vehicle Owner</h1>
                </div>
                <div class="col-md-4">
                    <div class="button-box clearfix">
                        <button type="submit" class="button btn-delete disabled" name="delete" value="Delete" disabled="disabled">Delete Owner</button>
                        <button type="button" class="button btn-add" name="add_new" onclick="location.href='{add_new_link}';">New Owner</button>
                    </div>
                </div>
            </div>
            <div class="row">     
                <div class="col-md-12"> 
                    <div class="filter-box clearfix">
                        <div class="search-box clearfix">
                            <input type="text" name="sowner" class="searchtext" placeholder="Search" autocomplete="off" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-block">
                        {message}
                        <table id="vehicle-table" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="15" data-orderable="false"><input type="checkbox" name="check_all" autocomplete="off" /></th>
                                    <th>Owner Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                {list}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function(){
            var table = jQuery('#vehicle-table').DataTable({
                'dom'               : '<"row"<"col-xs-5 col-sm-6"l><"col-xs-7 col-sm-6 text-right">r>t<"row"<"col-md-12"i><"col-md-12 text-center"p>>',
                // 'dom'            : "<'row'<'col-xs-5 col-sm-6'l><'col-xs-7 col-sm-6 text-right'f>r>t<'row'<'col-md-12'i><'col-md-12 text-center'p>>",
                'pageLength'        : parseInt('{limit}'),
                'lengthChange'      : false,
                'searching'         : true,
                'info'              : false,
                'order'             : []
            });
            jQuery('[name=sowner]').on('keyup change', function(){
                table.search( this.value ).draw() ;
            });
        });
    </script>
</div>

<!-- END list-block -->