<!-- BEGIN list-block -->

<div class="wrapper-block reservation-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-8"> 
                    <h1>{page_title}</h1>
                </div>
                <div class="col-md-4">
                    <div class="search-box clearfix">
                        <input type="text" name="sbooking" class="searchtext" value="{search}" placeholder="Search" autocomplete="off" />
                    </div>
                </div>
            </div>
            <div class="row">     
                <div class="col-md-12">
                    <div class="filter-box clearfix">
                        <span class="text">Filter</span>
                        <select name="chid" id="select_chanel" class="sr-only">
                            {chanel_option}
                        </select>
                        <select name="lcid" id="select_dep" class="select-option">
                            {location_option}
                        </select>
                        <select name="lcid2" id="select_arv" class="select-option">
                            {location2_option}
                        </select>
                        <select name="rid" id="select_route" class="select-option">
                            {route_option}
                        </select>
                        <select name="bstatus" id="select_status" class="{status_option_css} bstatus">
                            {status_option}
                        </select>
                        <input name="sub" type="text" value="{sub}" class="sr-only" />
                        <input name="date_start" type="text" placeholder="Start date" value="{date_start}"  class="medium_textbox dpicker">
                        <input name="date_end" type="text" placeholder="End date" value="{date_end}"  class="medium_textbox dpicker">
                        <input name="filter" type="submit" value="Filter" class="filters">
                        <input name="print" type="submit" value="Print" class="btn-print">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-block">
                        <table id="reservation-table" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="110" data-orderable="false">Booking#</th>
                                    <th width="110">Agent Code</th>
                                    <th width="250" data-orderable="false">Guest Name</th>
                                    <th width="150" data-orderable="false">Booking Source</th>
                                    <th width="110" data-orderable="false">Booker Staf</th>
                                    <th width="110">Travel Date</th>
                                    <th width="150" data-orderable="false">Route</th>
                                    <th width="80" data-orderable="false">ETD</th>
                                    <th width="80" data-orderable="false">ETA</th>
                                    <th width="150" data-orderable="false">Transport</th>
                                    <th width="100">Rsv. Status</th>
                                    <th width="100" data-orderable="false" class="text-right">Total</th>
                                    <th width="120" data-orderable="false">Payment Status</th>
                                    <th width="120" data-orderable="false">Remarks</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <td colspan="3" align="right"><b>Total </b></td>
                                <td colspan="11"></td>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            
            <!--{booking_view}-->
            <div id="cancel-popup-form"" class="cancel-popup-form">
                <fieldset class="form-group">
                    <label>Reason For Cancelation</label>
                    <select class="form-control" name="bcreason">
                        <option value="Accident">Accident</option>
                        <option value="Other">Other</option>
                    </select>
                </fieldset>
                <fieldset class="form-group sr-only">
                    <input type="text" class="form-control" name="bcoreason">
                </fieldset>
                <fieldset class="form-group">
                    <label for="" class="blue">Message</label>
                    <textarea class="form-control" name="bcmessage" rows="4"></textarea>
                </fieldset>
                <fieldset class="cancel-request">
                    <input type="text" class="sr-only" name="bid" value="">
                    <button class="btn-save" type="button" name="cancel_booking">Save Cancelation</button>
                </fieldset>
                <div class="overlay">
                    <img class="loader" src="{img_url}/loader.gif" alt="Loading..." width="100">
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery('.select-option').chosen({ max_selected_options:10, search_contains:true });

        jQuery('[name=date_start]').datepicker({
            dateFormat:'dd MM yy',
            onSelect: function (date) {
                var date2 = jQuery('[name=date_start]').datepicker('getDate');
                    date2.setDate(date2.getDate());

                jQuery('[name=date_end]').datepicker('setDate', date2);
                jQuery('[name=date_end]').datepicker('option', 'minDate', date2);
            }
        });

        jQuery('[name=date_end]').datepicker({
            dateFormat:'dd MM yy',
            onClose: function () {
                var dt1 = jQuery('[name=date_start]').datepicker('getDate');
                var dt2 = jQuery('[name=date_end]').datepicker('getDate');

                if( dt2 < dt1)
                {
                    var minDate = jQuery('[name=date_end]').datepicker('option', 'minDate');
                    jQuery('[name=date_end]').datepicker('setDate', minDate);
                }
            }
        });

        set_reservation_table();
    });

    function set_reservation_table()
    {
        var status = jQuery('.bstatus').val();
        var table  = jQuery('#reservation-table').DataTable({
            dom          : '<"row"<"col-xs-5 col-sm-6"l><"col-xs-7 col-sm-6 text-right">r>t<"row"<"col-md-12"i><"col-md-12 text-center"p>>',
            columnDefs   : [{ targets:5, type:'date' }],
            order        : [[ 0, 'desc' ]],
            pageLength   : parseInt('{limit}'),
            lengthChange : false,
            info         : false,
            processing   : true,
            serverSide   : true,
            searching    : true,
            deferRender  : true,
            autoWidth    : false,
            ajax         : {
                url  : '{ajax_url}',
                type : 'POST',
                data : { 
                    pkey       : 'load-data',
                    sub        : jQuery('[name=sub]').val(),
                    rid        : jQuery('[name=rid]').val(), 
                    chid       : jQuery('[name=chid]').val(), 
                    lcid       : jQuery('[name=lcid]').val(), 
                    lcid2      : jQuery('[name=lcid2]').val(), 
                    status     : status.length == 0 ? '' : status, 
                    date_start : jQuery('[name=date_start]').val(), 
                    date_end   : jQuery('[name=date_end]').val(), 
                    sbooking   : jQuery('[name=sbooking]').val()
                }
            },
            columns: [
                {
                    data: 'no_ticket', render: function ( data, type, row ){
                        return data + '<br/><span>' + row.rev_date + '</span>';
                    }
                },
                { 
                    data: 'ref_agent', render: function ( data, type, row ) {
                        return data;
                    }
                },
                { 
                    data: 'guest_name', render: function ( data, type, row ) {
                        var html = data +
                        '<p>'+
                            '<a id="detail-' + row.id + '" href="javascript:;" class="show-detail" data-type="iframe" data-src="' + row.detail_link + '" rel="' + row.id + '">Show Detail &raquo;</a>'+
                            '<a id="edit-' + row.id + '" href="' + row.edit_link + '" class="edit-detail sr-only" rel="' + row.id + '"></a>'+
                            '<a id="cancel-' + row.id + '" href="javascript:;" class="cancel-rev ' + row.cancel_css + '" rel="' + row.id + '" data-ticket="' + row.no_ticket + '" data-status="' + row.bstatus + '" data-rcdate="' + row.brcdate + '" data-total="' + row.btotal + '" data-onhand="' + row.bonhandtotal + '" data-reason="' + row.bcreason + '" data-message="' + row.bcmessage + '">Cancel Reservation &raquo;</a>'+
                        '</p>';

                        return html;
                    }
                },
                { 
                    data: 'chanel', render: function ( data, type, row ) {
                        return data;
                    }
                },
                { 
                    data: 'booked_by', render: function ( data, type, row ) {
                        return data;
                    }
                },
                { 
                    data: 'dept_date', render: function ( data, type, row ) {
                        return data;
                    }
                },
                { 
                    data: 'route', render: function ( data, type, row ) {
                        return data;
                    }
                },
                { 
                    data: 'dept_time', render: function ( data, type, row ) {
                        return data;
                    }
                },
                { 
                    data: 'arrive_time', render: function ( data, type, row ) {
                        return data;
                    }
                },
                { 
                    data: 'transport', render: function ( data, type, row ) {
                        return data;
                    }
                },
                { 
                    data: 'rsv_status', render: function ( data, type, row ) {
                        return data;
                    }
                },
                { 
                    data: 'total', render: function ( data, type, row ) {
                        return '<div class="text-right">' + data + '</div>';
                    }
                },
                { 
                    data: 'status', render: function ( data, type, row ) {
                        return data;
                    }
                },
                {
                    data: 'remarks', render: function ( data, type, row ) {
                        return data;
                    }
                }
            ],
            footerCallback: function( row, data, start, end, display ){
                var apidata = this.api(), data;
                var items   = apidata.column( 2, { page: 'current'} ).data();
                var ptotal  = 0;
                var atotal  = 0;
                var ctotal  = 0;
                var itotal  = 0;

                jQuery.each( items, function(i, ele){
                    if( jQuery.type( ele ) !== 'null' )
                    {
                        ele = ele.split('<span class="sr-only">');

                        if( ele.length > 1 )
                        {
                            ele = ele[1].split('</span>');
                            prt = ele[0];
                            prt = prt.split('|');
                            
                            ptotal = ptotal + parseInt( prt[0] );
                            atotal = atotal + parseInt( prt[1] );
                            ctotal = ctotal + parseInt( prt[2] );
                            itotal = itotal + parseInt( prt[3] );
                        }
                    }
                });

                jQuery( apidata.column( 2 ).footer() ).html( '<b>Pax : ' + ptotal + ' | Adult : ' + atotal + ' | Child : ' + ctotal + ' | Infant : ' + itotal + '</b>' );
            }
        });

        table.on( 'init.dt', function () {
            action_link_func( table );
        });

        table.on( 'draw.dt', function () {
            action_link_func( table );
        });

        table.on( 'page.dt', function () {
            start = table.page.info().start;
        });

        jQuery('[name=sbooking]').on('keyup change', function(){
            table.search( this.value ).draw() ;
        });
    }

    function cancel_popup_action( bid, data, dlg, table )
    {
        if( data.status == 'cr' )
        {
            var inc = ['Accident'];

            if( jQuery.inArray( data.reason, inc ) == '-1' )
            {
                jQuery('[name=bcoreason]').parent().removeClass('sr-only');
                jQuery('[name=bcreason]').val('Other').prop('readonly', true); 
                jQuery('[name=bcoreason]').val(data.reason).prop('readonly', true); 
                jQuery('[name=bcmessage]').val(data.message).prop('readonly', true); 
            }
            else
            {
                jQuery('[name=bcoreason]').parent().addClass('sr-only');
                jQuery('[name=bcreason]').val(data.reason).prop('readonly', true); 
                jQuery('[name=bcoreason]').val('').prop('readonly', true); 
                jQuery('[name=bcmessage]').val(data.message).prop('readonly', true); 
            }
        }

        jQuery('[name=bcreason]').unbind();
        jQuery('[name=bcreason]').on('change', function(){                    
            jQuery('[name=bcoreason]').parent().removeClass('has-error');

            if( jQuery(this).val() == 'Other' )
            {
                jQuery('[name=bcoreason]').parent().removeClass('sr-only');
            }
            else
            {
                jQuery('[name=bcoreason]').parent().addClass('sr-only');
            }
        });

        jQuery('[name=cancel_booking]').unbind();
        jQuery('[name=cancel_booking]').on('click', function(){
            if( jQuery('[name=bcreason]').val() == 'Other' && jQuery('[name=bcoreason]').val() == '' ){
                jQuery('[name=bcoreason]').parent().addClass('has-error');
                return false;
            }

            if( jQuery('[name=bcmessage]').val() == '' ){
                jQuery('[name=bcmessage]').parent().addClass('has-error');
                return false;
            }

            var prm = new Object();
                prm.bid       = bid;
                prm.bdid      = data.bdid;
                prm.pkey      = 'agent-request-cancelation';
                prm.bcreason  = jQuery('[name=bcreason]').val();
                prm.bcoreason = jQuery('[name=bcoreason]').val(); 
                prm.bcmessage = jQuery('[name=bcmessage]').val();

            jQuery.ajax({
                method: 'POST',
                url: '{ajax_url}',
                data: prm,
                dataType : 'json',
                beforeSend: function( xhr ){
                    jQuery('.cancel-popup-form .overlay').fadeIn(200);
                },
                success: function( e ){
                    dlg.dialog('close');

                    jQuery('.cancel-popup-form .overlay').fadeOut(200);

                    if( e.result == 'success' )
                    {
                        table.ajax.reload(function(){
                            action_link_func();
                            show_popup('Info', 'Your request to canceled tiket with number "<b>#' + data.ticket + '</b>" has been sent');
                        }, false);
                    }
                    else
                    {
                        show_popup('Warning', 'Sorry you can\'t sent request cancelation for this reservation at this moment. Please try again later');
                    }
                },
                error: function( e ){                    
                    dlg.dialog('close');

                    jQuery('.cancel-popup-form .overlay').fadeOut(200);

                    show_popup('Warning', 'Sorry you can\'t sent request cancelation for this reservation at this moment. Please try again later');
                }
            });
        });

        jQuery('[name=bcoreason]').unbind();
        jQuery('[name=bcoreason]').on('focusin', function(){
            jQuery('[name=bcoreason]').parent().removeClass('has-error');
        });

        jQuery('[name=bcmessage], [name=bcoreason]').on('focusin', function(){
            jQuery(this).parent().removeClass('has-error');
        });
    }

    function action_link_func( table )
    {
        jQuery('[name=print]').unbind();
        jQuery('[name=print]').on('click', function(){
            var order = jQuery.base64.encode( JSON.stringify( table.order() ) );
            window.open('', '_blank').location.href = '//{site_url}/agent-rsv-retrive-print-report?filter={filter}&order=' + order;
            return false;
        });

        jQuery('.show-detail').fancybox({
            slideClass:'modal-dialog',
            toolbar:false,
            afterShow : function( instance, current ) {
                var button   = '<button data-fancybox-close="" class="fancybox-close-small" title="Close"></button>';
                var instance = jQuery.fancybox.getInstance();

                jQuery('.modal-dialog .fancybox-content').append(button);
                jQuery('.modal-dialog .close').on('click', function(){
                    instance.close();
                });
            }
        });

        jQuery('.edit-detail').unbind();
        jQuery('.edit-detail').on('click', function(){
            window.location = jQuery(this).attr('href');
            return false;
        });

        jQuery('.cancel-rev').unbind();
        jQuery('.cancel-rev').on('click', function(){
            var data   = jQuery(this).data();
            var bookid = jQuery(this).attr('rel');

            jQuery('#cancel-popup-form').dialog({
                resizable: false,
                height: 'auto',
                width: 400,
                modal: true,
                title: 'Cancel Reservation',
                open: function(){
                    var dlg = jQuery(this);
                        dlg.parent().addClass('cancel-popup');

                    cancel_popup_action( bookid, data, dlg, table );
                },
                close: function(){
                    jQuery('.cancel-popup-form .overlay').css('display', 'none');
                }
            });

            return false;
        });

        jQuery('#cancel-popup-form').unbind();
        jQuery('#cancel-popup-form').on('dialogclose', function(event) {
            jQuery('[name=bcoreason]').parent().addClass('sr-only');
            jQuery('[name=bcreason]').val('Accident').prop('readonly', false);
            jQuery('[name=bcoreason]').val('').prop('readonly', false);
            jQuery('[name=bcmessage]').val('').prop('readonly', false);
        });
    }
</script>

<!-- END list-block -->