<!-- BEGIN detail-block -->

<div class="wrapper-block booking-block booking-block-detail">
	<div class="container-fluid">
		<div class="overlay">
			<img class="loader" src="{img_url}/loader.gif" alt="Loading..." width="100">
		</div>
		<div class="top-bar">
			<div class="row row-eq-height">
				<div class="col-md-6 text-left">
					<p class="small-title">Booking/Ticket #</p>
					<strong>{bticket}</strong>
				</div>
				<div class="col-md-6 text-right {edit_link_css}">
					<a href="#" class="edit-booking">Edit</a>
				</div>
			</div>
		</div>
		<div class="booked-detail">
			<div class="row row-eq-height">
				<div class="col-md-4">
					<span class="small-title">Booking Date</span>
					<strong class="strong-text">{bdate}</strong>
				</div>
				<div class="col-md-4">
					<span class="small-title">Booking Source</span>
					<strong class="strong-text">{bchannel}</strong>
				</div>
			</div>
		</div>
		<div class="booked-detail {cancelation_css}">
			<div class="row">
				<div class="col-md-4">
					<span class="small-title">Reason of cancellation</span>
					<p><strong class="strong-text">{bcreason}</strong>{bcmessage}</p>
				</div>
				<div class="col-md-4 {req_cancelation_date_css}">
					<span class="small-title">Request Cancelation Date</span>
					<p><strong class="strong-text">{brcdate}</strong></p>
				</div>
				<div class="col-md-4 {cancelation_date_css}">
					<span class="small-title">Cancelation Date</span>
					<p><strong class="strong-text">{bcdate}</strong></p>
				</div>
			</div>
		</div>
		<div class="booked-detail {cancelation_css}">
			<div class="row">
				<div class="col-md-4">
					<span class="small-title">Cancellation fee (IDR)</span>
					<p><strong class="strong-text">{bcancellationfee}</strong></p>
				</div>
				<div class="col-md-4">
					<span class="small-title">Transaction Fee (IDR)</span>
					<p><strong class="strong-text">{btransactionfee}</strong></p>
				</div>
				<div class="col-md-4">
					<span class="small-title">Refund (IDR)</span>
					<p><strong class="strong-text">{brefund}</strong></p>
				</div>
			</div>
		</div>
		<div class="booked-by">
			<div class="row">
				<div class="col-md-12">
					<div class="head-title">
						<h3>Booked By</h3>
					</div>
				</div>
			</div>
			<div class="detail-content">
				<div class="row row-eq-height">
					<div class="col-md-4">
						<span class="small-title">Name</span>
						<strong class="strong-text">{bbname}</strong>
					</div>
					<div class="col-md-4">
						<span class="small-title">Email</span>
						<strong class="strong-text">{bbemail}</strong>
					</div>
					<div class="col-md-4">
						<span class="small-title">Phone</span>
						<strong class="strong-text">{bbphone}</strong>
					</div>
				</div>
			</div>
			<div class="detail-content">
				<div class="row row-eq-height">
					<div class="col-md-4">
						<span class="small-title">Reservation Type</span>
						<strong class="strong-text">{bbrevtype}</strong>
					</div>
					<div class="col-md-4">
						<span class="small-title">Reservation Status</span>
						<strong class="strong-text">{bbrevstatus}</strong>
					</div>
					<div class="col-md-4">
						<span class="small-title">Reference Code Agent</span>
						<strong class="strong-text">{bbrevagent}</strong>
					</div>
				</div>
			</div>
			<div class="detail-content">
				<div class="row row-eq-height">
					<div class="col-md-4">
						<span class="small-title">Country</span>
						<strong class="strong-text">{bbcountry}</strong>
					</div>
					<div class="col-md-4">
						<span class="small-title">Booking Staf</span>
						<strong class="strong-text">{bbooking_staf}</strong>
					</div>
					<div class="col-md-4">
						<span class="small-title">Blocking Time</span>
						<strong class="strong-text">{bblockingtime}</strong>
					</div>
				</div>
			</div>
		</div>
		<div class="trip-detail">
			<div class="detail-title">
				<div class="row">
					<div class="col-md-12">
						<div class="head-title">
							<h3>Trip Detail</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="detail-item">

				<!-- BEGIN detail-departure-block -->
				<div class="row row-block">
					<div class="col-md-12">
						<div class="wrapp-item-block wrap-item-depart">
							<div class="row">
								<div class="col-md-12">
									<h4>Departure Trip</h4>
								</div>
							</div>
							<div class="row">

								<!-- BEGIN detail-departure-loop-block -->
							    <div class="col-md-12">
									<div class="item-list">
								        <div class="row">
								            <div class="col-md-2">
								                <span class="small-title">Departure</span><br/>
												<strong class="strong-text">{dep_bdfrom}</strong>
												<p class="regular-text">{dep_bddate}, {dep_bddeparttime}</p>
											</div>
											<div class="col-md-2">
	                							<span class="small-title">Arrival</span><br/>
												<strong class="strong-text">{dep_bdto}</strong>
												<p class="regular-text">{dep_bddate}, {dep_bdarrivetime}</p>
											</div>
											<div class="col-md-2">
	                        					<span class="small-title">Adult (IDR)</span>
												<strong class="strong-text">{dep_type}</strong>
												<p class="regular-text">{dep_pa_display}</p>
											</div>
											<div class="col-md-2">
	                        					<span class="small-title">Child (IDR)</span>
												<strong class="strong-text">{dep_type}</strong>
												<p class="regular-text">{dep_pc_display}</p>
											</div>
											<div class="col-md-2">
	                        					<span class="small-title">Infant (IDR)</span>
												<strong class="strong-text">{dep_type}</strong>
												<p class="regular-text">{dep_pi_display}</p>
											</div>
											<div class="col-md-2 text-right">
	                							<span class="small-title">Sub Total (IDR)</span>
												<p class="regular-text">{dep_pt_display}</p>
											</div>
										</div>

										<div class="detail-transport detail-pickup {dep_transport_css} {dep_trans_css} clearfix">
								        	<div class="row">
												{dep_transport}
											</div>
										</div>
										
										{dep_add_ons}

										<div class="passenger-detail">
											<ul class="row row-head">
												<li class="col-md-4">
													<span class="small-title">Passenger Name</span>
												</li>
												<li class="col-md-2">
													<span class="small-title">Type</span>
												</li>
												<li class="col-md-2">
													<span class="small-title">Gender</span>
												</li>
												<li class="col-md-2">
													<span class="small-title">Nationality</span>
												</li>
												<li class="col-md-2 text-right">
													<span class="small-title">Date Of Birth</span>
												</li>
											</ul>

											{dep_passenger}
										</div>
									</div>
								</div>
								<!-- END detail-departure-loop-block -->

							</div>
						</div>
					</div>
				</div>
				<!-- END detail-departure-block -->

				<!-- BEGIN detail-return-block -->
				<div class="row">
					<div class="col-md-12">
						<div class="wrapp-item-block wrap-item-depart">
							<div class="row">
								<div class="col-md-12">
									<h4>Return Trip</h4>
								</div>
							</div>
							<div class="row">

								<!-- BEGIN detail-return-loop-block -->
							    <div class="col-md-12">
									<div class="item-list">
								        <div class="row">
								            <div class="col-md-2">
								                <span class="small-title">Departure</span><br/>
												<strong class="strong-text">{rtn_bdfrom}</strong>
												<p class="regular-text">{rtn_bddate}, {rtn_bddeparttime}</p>
											</div>
											<div class="col-md-2">
	                							<span class="small-title">Arrival</span><br/>
												<strong class="strong-text">{rtn_bdto}</strong>
												<p class="regular-text">{rtn_bddate}, {rtn_bdarrivetime}</p>
											</div>
											<div class="col-md-2">
	                        					<span class="small-title">Adult (IDR)</span>
												<strong class="strong-text">{rtn_type}</strong>
												<p class="regular-text">{rtn_pa_display}</p>
											</div>
											<div class="col-md-2">
	                        					<span class="small-title">Child (IDR)</span>
												<strong class="strong-text">{rtn_type}</strong>
												<p class="regular-text">{rtn_pc_display}</p>
											</div>
											<div class="col-md-2">
	                        					<span class="small-title">Infant (IDR)</span>
												<strong class="strong-text">{rtn_type}</strong>
												<p class="regular-text">{rtn_pi_display}</p>
											</div>
											<div class="col-md-2 text-right">
	                							<span class="small-title">Sub Total (IDR)</span>
												<p class="regular-text">{rtn_pt_display}</p>
											</div>
										</div>

										<div class="detail-transport detail-drop-off {rtn_transport_css} {rtn_trans_css} clearfix">
								        	<div class="row">
												{rtn_transport}
											</div>
										</div>
										
										{rtn_add_ons}

										<div class="passenger-detail">
											<ul class="row row-head">
												<li class="col-md-4">
													<span class="small-title">Passenger Name</span>
												</li>
												<li class="col-md-2">
													<span class="small-title">Type</span>
												</li>
												<li class="col-md-2">
													<span class="small-title">Gender</span>
												</li>
												<li class="col-md-2">
													<span class="small-title">Nationality</span>
												</li>
												<li class="col-md-2 text-right">
													<span class="small-title">Date Of Birth</span>
												</li>
											</ul>

											{rtn_passenger}
										</div>
									</div>
								</div>
								<!-- END detail-return-loop-block -->

							</div>
						</div>
					</div>
				</div>
				<!-- END detail-return-block -->

			</div>
		</div>
		<div class="payment-summary payment-sub-sum {sub_css}">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="item-title">
							<div class="col-md-2 col-md-push-10 text-right">
								<span class="small-title">Subtotal</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="item-list">
							<div class="col-md-2 col-md-push-10 text-right">
								<p class="regular-text subtotal">{subtotal_display}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="item-title">
							<div class="col-md-2 col-md-push-10 text-right">
								<span class="small-title">Discount</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="item-list">
							<div class="col-md-2 col-md-push-10 text-right">
								<p class="regular-text discount">{discount_display}</p>
								<p class="regular-text pmcode">{pmcode}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="payment-summary">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="item-title">
							<div class="col-md-2 col-md-push-10 text-right">
								<span class="small-title">Total</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="item-list">
							<div class="col-md-2 col-md-push-10 text-right">
								<p class="regular-text total">{grandtotal_display}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="passenger-detail">
			<div class="row">
				<div class="col-md-12">
					<table class="table">
						<tr class="rows {baccommodationcss}">
							<td colspan="4">
			                    <span class="small-title">Accommodation in {baaccommodationarea}</span>
			                    <p class="strong-text">{bhotelname}</p>
                    			<p class="regular-text">
                    				{bhoteladdress}
                    				{bhotelphone}
                    				{bhotelemail}
                    			</p>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>

		<div class="passenger-detail">
			<div class="row">
				<div class="col-md-12">
					<table class="table">
						<tr class="rows {bremarkcss}">
							<td colspan="4">
			                    <span class="small-title">Remark</span>
                    			<p class="regular-text">
                    				{bagremark}
                    			</p>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>

		<div class="bottom-bar"></div>

		<script type="text/javascript">
			jQuery(document).ready(function(){
                jQuery('.edit-booking').on('click', function(){
                    parent.jQuery.fancybox.close();
                    parent.jQuery('.edit-detail[rel={booking_id}]').trigger('click');
                    return false;
                });
           	});
        </script>
	</div>
</div>

<!-- END detail-block -->