<!-- BEGIN edit-block -->

<div class="wrapper-block booking-block booking-block-form">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="form-block">
					{message}
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<form class="form-edit-booking" name="form_edit_booking" action="" method="POST">
			<div class="top-bar">
				<div class="row">
					<div class="col-md-6 text-left">
						<p class="small-title">Booking/Ticket #</p>
						<strong>{bticket}</strong>
					</div>
					<div class="col-md-6 text-right">
						<p class="small-title">Booking Status</p>
						<strong>{bstatus_message}</strong>
					</div>
				</div>
			</div>
			<div class="booked-detail">
				<div class="inner">
					<div class="row row-eq-height">
						<div class="col-md-4">
							<span class="small-title">Booking Date</span>
							<strong class="strong-text">{bdate}</strong>
						</div>
						<div class="col-md-4">
							<span class="small-title">Booking Source</span>
							<strong class="strong-text">{bsource}</strong>
						</div>
					</div>
					<div class="row row-eq-height">
						<div class="col-md-12">
							<span class="small-title">Remark</span>
							<textarea class="form-control text" name="booked[{booking_id}][bagremark]">{bagremark}</textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="booked-by">
				<div class="row">
					<div class="col-md-12">
						<div class="head-title">
							<h3>Booked By</h3>
						</div>
					</div>
				</div>
				<div class="detail-content">
					<div class="form-block">
						<div class="row row-eq-height">
							<div class="col-md-4">
								<span class="small-title">Name</span>
		                        <input type="text" class="text form-control" name="booked_by[{booking_id}][bbname]" value="{bbname}">
							</div>
							<div class="col-md-4">
								<span class="small-title">Email</span>
		                         <input type="text" class="text form-control" name="booked_by[{booking_id}][bbemail]" value="{bbemail}">
							</div>
							<div class="col-md-4">
								<span class="small-title">Phone</span>
		                        <input type="text" class="text form-control" name="booked_by[{booking_id}][bbphone]" value="{bbphone}">
							</div>
						</div>
					</div>
				</div>
				<div class="detail-content">
					<div class="form-block">
						<div class="row row-eq-height">
							<div class="col-md-4">
								<span class="small-title">Reservation Type</span>
		                        <select name="booked_by[{booking_id}][bbrevtype]" class="form-control" disabled>
		                            {bbrevtype_option}
		                        </select>
							</div>
							<div class="col-md-4">
								<span class="small-title">Reservation Status</span>
		                        <select name="booked_by[{booking_id}][bbrevstatus]" class="form-control" disabled>
		                            {bbrevstatus_option}
		                        </select>
							</div>
							<div class="col-md-4">
								<span class="small-title">Reference (Agent Code)</span>
		                        <input type="text" class="form-control" name="booked_by[{booking_id}][bbrevagent]" value="{bbrevagent}">
							</div>
						</div>
					</div>
				</div>
				<div class="detail-content">
					<div class="form-block">
						<div class="row row-eq-height">
							<div class="col-md-4">
								<span class="small-title">Booking Staf</span>
		                        <input type="text" class="form-control" name="booked_by[{booking_id}][bbooking_staf]" value="{bbooking_staf}">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="booked-by">
				<div class="row">
					<div class="col-md-12">
						<div class="head-title">
							<h3>Guest Contact</h3>
						</div>
					</div>
				</div>
				<div class="detail-content">
					<div class="form-block">
						<div class="row row-eq-height">
							<div class="col-md-4">
								<span class="small-title">Guest Email</span>
		                        <input type="email" class="text form-control" name="booked_by[{booking_id}][gemail]" value="{gemail}">
							</div>
							<div class="col-md-4">
								<span class="small-title">Guest Mobile</span>
		                         <input type="text" class="text form-control" name="booked_by[{booking_id}][gmobile]" value="{gmobile}">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="trip-detail">
				<div class="detail-title">
					<div class="row">
						<div class="col-md-12">
							<div class="head-title">
								<h3>Trip Detail</h3>
								<strong class="subtitle">{btype}</strong>
							</div>
						</div>
					</div>
				</div>
				<div class="detail-item">

					<!-- BEGIN form-departure-block -->
					<div class="row row-block {dep_css}">
						<div class="col-md-12">
							<div class="wrapp-item-block wrap-item-depart">
								<div class="row">
									<div class="col-md-12">
										<h4 class="title">Departure Trip</h4>
									</div>
								</div>

								<!-- BEGIN form-departure-loop-block -->
								<div class="inner">
									<div class="row">
										<div class="col-md-12">
											{dep_item}
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="detail-pickup {dep_trans_css}">
								                {dep_transport}
											</div>
										</div>
									</div>

									{dep_add_ons}

									<div class="row">
										<div class="col-md-12">
											<table class="table">
												<tr>
													<td colspan="4">
														<h4>Passenger Detail</h4>
													</td>
												</tr>

						                        {dep_passenger}
											</table>
										</div>
									</div>
								</div>
								<!-- END form-departure-loop-block -->

							</div>
						</div>
					</div>
					<!-- END form-departure-block -->

					<!-- BEGIN form-return-block -->
					<div class="row row-block {rtn_css}">
						<div class="col-md-12">
							<div class="wrapp-item-block wrap-item-return">
								<div class="row">
									<div class="col-md-12">
										<h4 class="title">Return Trip</h4>
									</div>
								</div>

								<!-- BEGIN form-return-loop-block -->
								<div class="inner">
									<div class="row">
										<div class="col-md-12">
											{rtn_item}
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="detail-drop-off {rtn_trans_css}">
								                {rtn_transport}
											</div>
										</div>
									</div>

									{rtn_add_ons}

									<div class="row">
										<div class="col-md-12">
											<table class="table">
												<tr>
													<td colspan="4">
														<h4>Passenger Detail</h4>
													</td>
												</tr>

												{rtn_passenger}
											</table>
										</div>
									</div>
								</div>
								<!-- END form-return-loop-block -->

							</div>
						</div>
					</div>
					<!-- END form-return-block -->

				</div>
			</div>
			<div class="payment-summary payment-sub-sum {sub_css}">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="item-title">
								<div class="col-md-2 col-md-push-10 text-right">
									<span class="small-title">Subtotal</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="item-list">
								<div class="col-md-2 col-md-push-10 text-right">
									<p class="regular-text subtotal text-number" data-a-sep="." data-a-dec="," data-m-dec="0">{subtotal_display}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="item-title">
								<div class="col-md-2 col-md-push-10 text-right">
									<span class="small-title">Discount</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="item-list">
								<div class="col-md-2 col-md-push-10 text-right">
									<p class="regular-text discount text-number" data-a-sep="." data-a-dec="," data-m-dec="0">{discount_display}</p>
									<p class="regular-text pmcode">{pmcode}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="payment-summary">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="item-title">
								<div class="col-md-2 col-md-push-10 text-right">
									<span class="small-title">Total</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="item-list">
								<div class="col-md-2 col-md-push-10 text-right">
									<p class="regular-text total text-number" data-a-sep="." data-a-dec="," data-m-dec="0">{grandtotal_display}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--
			<div class="passenger-detail">
				<h2>Passenger Detail</h2>
				<div class="row">
					<div class="col-md-12">
						<table class="table">
							<tr>
								<td colspan="4">
									<span class="small-title">Departure</span>
								</td>
							</tr>

	                        {dep_passenger}

							<tr class="{rtn_css}">
								<td colspan="4">
									<span class="small-title">Return</span>
								</td>
							</tr>

							{rtn_passenger}
						</table>
					</div>
				</div>
			</div>
			-->

			<div class="accommodation-detail">
				<h2>Accommodation In Gili</h2>
				<div class="row">
					<div class="col-md-12">
						<div class="inner">
							<div class="form-group">
								<span class="small-title">Name</span>
		                        <input type="text" class="text text-large form-control" name="booked[{booking_id}][bhotelname]" value="{bhotelname}">
		                    </div>
							<div class="form-group">
								<span class="small-title">Address</span>
		                        <textarea class="text form-control" name="booked[{booking_id}][bhoteladdress]">{bhoteladdress}</textarea>
							</div>
							<div class="form-group">
								<span class="small-title">Phone</span>
		                        <input type="text" class="text form-control" name="booked[{booking_id}][bhotelphone]" value="{bhotelphone}">
							</div>
							<div class="form-group">
								<span class="small-title">Email</span>
		                        <input type="email" class="text form-control" name="booked[{booking_id}][bhotelemail]" value="{bhotelemail}">
							</div>
						</div>
					</div>
				</div>
			</div>
            <div class="sr-only">
                <input type="text" class="form-control" name="agid" value="{agid}">
                <input type="text" class="form-control" name="bid" value="{booking_id}">
                <input type="text" class="form-control" name="bticket" value="{bticket}">
                <input type="text" class="form-control" name="subtotal" value="{subtotal}">
                <input type="text" class="form-control" name="discount" value="{discount}">
                <input type="text" class="form-control" name="state_url" value="{state_url}">
            </div>
			<div class="bottom-bar form-action">
				<div class="row">
					<div class="col-md-12">
                    	<button type="submit" class="btn-save pull-left" name="update_booking">Save Booking</button>
                    	<a class="cancel pull-left" style="cursor:pointer;">Cancel</a>
					</div>
				</div>
			</div>
		</form>

		<script type="text/javascript">
			jQuery(document).ready(function(){
				jQuery('.text-number').autoNumeric('init');

                jQuery('.add-new-addons').on('click', function(){
                	var prm = new Object();
	                    prm.pkey = 'add-new-addons';
	                    prm.bdid = jQuery(this).data('bdid');

	                jQuery.ajax({
	                    type: 'POST',
	                    url: '{ajax_url}',
	                    data: prm,
	                    dataType : 'html',
	                    beforeSend: function( xhr ){
	                    	show_ajax_overlay();
	                    },
	                    success: function( e ){
	                    	if( jQuery('.add-ons-items-' + prm.bdid).length == 0 )
	                    	{
				            	var addons = 
				            	'<div class="row">'+
					                '<div class="col-md-7">'+
					                    '<div class="option">'+
					                        '<span class="small-title">Name</span>'+
					                    '</div>'+
					                '</div>'+
					                '<div class="col-md-1 text-right">'+
					                    '<span class="small-title">Pax</span>'+
					                '</div>'+
					                '<div class="col-md-2 text-right">'+
					                    '<span class="small-title">Price (IDR)</span>'+
					                '</div>'+
					                '<div class="col-md-2 text-right">'+
					                    '<span class="small-title">Total Price (IDR)</span>'+
					                '</div>'+
					            '</div>'+
					            '<div class="add-ons-items add-ons-items-' + prm.bdid + '">'
					            	+ e +
					            '</div>';
				            	
				            	jQuery( addons ).insertAfter( jQuery( '.add-ons-detail-' + prm.bdid + ' .row-title' ) );
				            }
				            else
				            {
	                    		jQuery('.add-ons-items-' + prm.bdid).append(e);
				            }

							jQuery('.add-ons-items-' + prm.bdid + ' .row-items:last-child .add-ons-id').chosen({ max_selected_options:10, search_contains:true, allow_single_deselect:true });
							jQuery('.add-ons-items-' + prm.bdid + ' .row-items:last-child .text-number').autoNumeric('init');

							jQuery('.add-ons-items-' + prm.bdid + ' .add-ons-id').unbind();
							jQuery('.add-ons-items-' + prm.bdid + ' .add-ons-id').on('change', function(e){
								var typ = jQuery(this).find('option').filter(':selected').data('type');
								var prc = jQuery(this).find('option').filter(':selected').data('price');

								jQuery(this).parents('.row-items').find('.baoprice').autoNumeric('set', prc );
								jQuery(this).parents('.row-items').find('.baoprice').trigger('blur');

								if( typ == 1 )
								{
									jQuery(this).parents('.row-items').find('.col-block').addClass('hidden');
			                        jQuery(this).parents('.row-block').find('.transport-type option[value!=1]').prop('disabled', true);
			                        jQuery(this).parents('.row-block').find('.transport-type').val(1).trigger('chosen:updated').trigger('change');
								}
								else
								{
									jQuery(this).parents('.row-items').find('.col-block').removeClass('hidden');
			                        jQuery(this).parents('.row-block').find('.transport-type option[value!=1]').prop('disabled', false);
			                        jQuery(this).parents('.row-block').find('.transport-type').trigger('chosen:updated');
								}
							});

							jQuery('.add-ons-items-' + prm.bdid + ' input[type=checkbox]').unbind();
							jQuery('.add-ons-items-' + prm.bdid + ' input[type=checkbox]').on('change', function(e){
			                	var typ = jQuery(this).parents('.row-items').find('.add-ons-id option').filter(':selected').data('type');
			                	
			                	if( this.checked )
			                    {
			                        if( typ == 1 )
									{
				                        jQuery(this).parents('.row-block').find('.transport-type option[value!=1]').prop('disabled', true);
				                        jQuery(this).parents('.row-block').find('.transport-type').val(1).trigger('chosen:updated').trigger('change');
									}
			                    }
			                    else
			                    {
			                        if( typ == 1 )
									{
				                        jQuery(this).parents('.row-block').find('.transport-type option[value!=1]').prop('disabled', false);
				                        jQuery(this).parents('.row-block').find('.transport-type').trigger('chosen:updated');
									}
			                    }

			                	count_new_grandtotal();
			                });

							jQuery('.add-ons-items-' + prm.bdid + ' .baopax').unbind();
			                jQuery('.add-ons-items-' + prm.bdid + ' .baopax').on('blur', function(e){
			                    var pax = parseInt( jQuery(this).autoNumeric('get') ) || 0;
			                    var prc = parseInt( jQuery(this).parents('.row-items').find('.baoprice').autoNumeric('get') ) || 0;
			                    var tot = pax * prc;

			                    jQuery(this).parents('.row-items').find('.tbaoprice').autoNumeric('set', tot );

			                	count_new_grandtotal();
			                });

			                jQuery('.add-ons-items-' + prm.bdid + ' .baoprice').unbind();
			                jQuery('.add-ons-items-' + prm.bdid + ' .baoprice').on('blur', function(e){
			                    var pax = parseInt( jQuery(this).parents('.row-items').find('.baopax').autoNumeric('get') ) || 0;
			                    var prc = parseInt( jQuery(this).autoNumeric('get') ) || 0;
			                    var tot = pax * prc;

			                    jQuery(this).parents('.row-items').find('.tbaoprice').autoNumeric('set', tot );

			                	count_new_grandtotal();
			                });
	                    },
	                    complete: function( e ){	                    	
	                    	hide_ajax_overlay();
	                    },
	                    error: function( e ){
	                        show_popup('Warning', 'Sorry the action can\'t be completed. Please try again later');
	                    }
	                });
                });

				jQuery('[name=form_edit_booking]').submit(function() {
					jQuery('.text-number').each(function(i){
				        var v = jQuery(this).autoNumeric('get');

			            jQuery(this).autoNumeric('destroy');
			            jQuery(this).val(v);
					});
				});

				jQuery('.select-option, .select-modal-edit, .passenger-detail select').chosen({ max_selected_options:10, search_contains:true });

                jQuery('.flight-time input').datetimepicker({
					controlType: 'select',
		            dateFormat: 'dd MM yy',
					timeFormat: 'HH:mm',
					oneLine: true,
		            minDate: 0
				});

				jQuery('.txt-date').datepicker({
                    dateFormat:'dd MM yy',
                    changeMonth: true,
                    changeYear: true
                });

                jQuery('.txt-date-adult').datepicker({
                    dateFormat:'dd MM yy',
                    changeMonth: true,
                    changeYear: true,
                    maxDate: '-13Y',
                    yearRange: '-100:+0',
                    defaultDate: '01 January 1985'
                });

                jQuery('.txt-date-child').datepicker({
                    dateFormat:'dd MM yy',
                    changeMonth: true,
                    changeYear: true,
                    minDate: '-12Y',
                    maxDate: '-3Y',
                });

                jQuery('.txt-date-infant').datepicker({
                    dateFormat:'dd MM yy',
                    changeMonth: true,
                    changeYear: true,
                    minDate: '-3Y',
                    yearRange: '-10:+0'
                });

                jQuery('.bottom-bar .cancel').on('click', function(){
                	window.location = jQuery('[name=state_url]').val();
                	return false;
                });

                jQuery('.transport-type').each(function(i, e){
                	var sel = jQuery(this);

                	jQuery(this).parents('.row-block').find('.add-ons-id').each(function(ii, ee){
                		if( jQuery(this).find('option:selected').data('type') == 1 )
                		{
                			sel.find('option[value!=1]').prop('disabled', true).trigger('chosen:updated');
                		}
                	});
                });

                jQuery('.transport-type').on('change', function(e){
                    var sel   = jQuery(this);
                    var wrapp = sel.parents('.item-list');
                    var hotel = wrapp.find('.hotels').val();
                    var type  = wrapp.find('.transport-type').val();
                    var area  = wrapp.find('.hotels-area option').filter(':selected').data('area-id');
                    var addr  = wrapp.find('.hotels option').filter(':selected').data('address');
                    var phone = wrapp.find('.hotels option').filter(':selected').data('phone');
                    var email = wrapp.find('.hotels option').filter(':selected').data('email');

                    if( type == 2 )
                    {
                    	wrapp.find('.hotels-area').prop('disabled', true).trigger('chosen:updated');
                    	wrapp.find('.hotels-area option[data-area-id="0"]').prop('selected', true).trigger('chosen:updated');

                    	wrapp.find('.hotels').prop('disabled', true).val('').trigger('chosen:updated');
                    	wrapp.find('.h-transfee').val(0).prop('readonly', true);

                    	wrapp.find('.driver-block input').prop({ 'disabled':false, 'required':true });
                    	wrapp.find('.driver-block').removeClass('sr-only');

                    	wrapp.find('.hotel-block input').prop({ 'disabled':true });
                    	wrapp.find('.hotel-block').addClass('sr-only');
                    }
                    else
                    {
                    	wrapp.find('.hotels-area').prop('disabled', false).trigger('chosen:updated');
                    	wrapp.find('.hotels-area option[data-area-id="' + area + '"]').prop('selected', true).trigger('chosen:updated');

                    	wrapp.find('.driver-block input').prop({ 'disabled':true, 'required':false });
                    	wrapp.find('.driver-block').addClass('sr-only');

                    	wrapp.find('.hotel-block input').prop({ 'disabled':false });
                    	wrapp.find('.hotel-block').removeClass('sr-only');

                        if( area == 0 )
	                    {
	                    	wrapp.find('.hotels option:first-child').prop('disabled', false);
	                        wrapp.find('.hotels').prop('disabled', true).val('').trigger('chosen:updated');
	                        wrapp.find('.hotel-name-block').addClass('sr-only');
	                    }
	                    else
	                    {
	                    	wrapp.find('.hotels option:first-child').prop('disabled', true);
	                        wrapp.find('.hotels').prop('disabled', false).val( ( hotel == '' ? 1 : hotel ) ).trigger('chosen:updated');

	                        if( wrapp.find('.hotels').val() == 1 )
	                        {
	                        	wrapp.find('.hotel-name-block').removeClass('sr-only');
	                        }
	                        else
	                        {
	                        	wrapp.find('.hotel-name-block').addClass('sr-only');
	                        }
	                    }

	                    if( type == 0 )
	                    {
                        	wrapp.find('.h-transfee').val(0).prop('readonly', true);
	                    }
	                    else
	                    {
                        	var fee = wrapp.find('.hotels-area option').filter(':selected').data('fee');

                        	wrapp.find('.h-transfee').val(fee).prop('readonly', true);
	                    }
                    }

                    var airport = wrapp.find('.hotels-area option').filter(':selected').data('airport');

                	if( airport == 1 )
                	{
                		wrapp.find('.flight-time').removeClass('sr-only');
                    	wrapp.find('.flight-time input').prop('disabled', false);
                	}
                	else
                	{
                		wrapp.find('.flight-time').addClass('sr-only');
                    	wrapp.find('.flight-time input').prop('disabled', true);
                	}

                    wrapp.find('.h-address').attr('placeholder', addr);
                    wrapp.find('.h-phone').attr('placeholder', phone);
                    wrapp.find('.h-email').attr('placeholder', email);

                    count_new_grandtotal();
                });

				jQuery('.hotels-area').on('change', function(e){
                    var sel   = jQuery(this);
                    var wrapp = sel.parents('.item-list');
                    var hotel = wrapp.find('.hotels').val();
                    var type  = wrapp.find('.transport-type').val();
                    var area  = wrapp.find('.hotels-area option').filter(':selected').data('area-id');
                    var addr  = wrapp.find('.hotels option').filter(':selected').data('address');
                    var phone = wrapp.find('.hotels option').filter(':selected').data('phone');
                    var email = wrapp.find('.hotels option').filter(':selected').data('email');

                    if( area == 0 )
                    {
                    	wrapp.find('.hotels option:first-child').prop('disabled', false);
                        wrapp.find('.hotels').prop('disabled', true).val('').trigger('chosen:updated');
                    	wrapp.find('.hotel-block input').prop('disabled', true);
                    }
                    else
                    {
                    	wrapp.find('.hotels option:first-child').prop('disabled', true);
                        wrapp.find('.hotels').prop('disabled', false).val(1).trigger('chosen:updated');
                    	wrapp.find('.hotel-block input').prop('disabled', false);

                        if( wrapp.find('.hotels').val() == 1 )
                        {
                        	wrapp.find('.hotel-name-block').removeClass('sr-only');
                        }
                        else
                        {
                        	wrapp.find('.hotel-name-block').addClass('sr-only');
                        }
                    }

                    var airport = wrapp.find('.hotels-area option').filter(':selected').data('airport');

                	if( airport == 1 )
                	{
                		wrapp.find('.flight-time').removeClass('sr-only');
                    	wrapp.find('.flight-time input').prop('disabled', false);
                	}
                	else
                	{
                		wrapp.find('.flight-time').addClass('sr-only');
                    	wrapp.find('.flight-time input').prop('disabled', true);
                	}

                    if( type == 0 )
                    {
                    	wrapp.find('.h-transfee').val(0).prop('readonly', true);
                    }
                    else if( type == 1 )
                    {
                        var fee = wrapp.find('.hotels-area option').filter(':selected').data('fee');

                        wrapp.find('.h-transfee').val(fee).prop('readonly', true);
                    }
                    else if( type == 2 )
                    {
                    	wrapp.find('.h-transfee').val(0).prop('readonly', true);
                    }

                    wrapp.find('.h-address').attr('placeholder', addr);
                    wrapp.find('.h-phone').attr('placeholder', phone);
                    wrapp.find('.h-email').attr('placeholder', email);

                    count_new_grandtotal();
				});

                jQuery('.hotels').on('change', function(e){
                    var sel   = jQuery(this);
                    var wrapp = sel.parents('.item-list');
                    var hotel = wrapp.find('.hotels').val();
                    var type  = wrapp.find('.transport-type').val();
                    var area  = wrapp.find('.hotels option').filter(':selected').data('area-id');
                    var addr  = wrapp.find('.hotels option').filter(':selected').data('address');
                    var phone = wrapp.find('.hotels option').filter(':selected').data('phone');
                    var email = wrapp.find('.hotels option').filter(':selected').data('email');
                    var name  = wrapp.find('.hotels option').filter(':selected').text();

                    if( area != 0 )
                    {
                        wrapp.find('.hotels-area option[data-area-id="' + area + '"]').prop('selected', true).trigger('chosen:updated');
                    }

                    if( hotel == 1 )
                    {
                    	wrapp.find('.hotel-name-block').removeClass('sr-only');
                    }
                    else
                    {
                    	wrapp.find('.hotel-name-block').addClass('sr-only');
                    }

                	var airport = wrapp.find('.hotels-area option').filter(':selected').data('airport');

                	if( airport == 1 )
                	{
                		wrapp.find('.flight-time').removeClass('sr-only');
                		wrapp.find('.flight-time input').prop('disabled', false);
                	}
                	else
                	{
                		wrapp.find('.flight-time').addClass('sr-only');
                		wrapp.find('.flight-time input').prop('disabled', true);
                	}

                    if( type == 0 )
                    {
                    	wrapp.find('.h-transfee').val(0).prop('readonly', true);
                    }
                    else if( type == 1 )
                    {
                        var fee = wrapp.find('.hotels option').filter(':selected').data('fee');

                        wrapp.find('.h-transfee').val(fee).prop('readonly', true);
                    }
                    else if( type == 2 )
                    {
                    	wrapp.find('.h-transfee').val(0).prop('readonly', true);
                    }

                    wrapp.find('.h-name').val( jQuery.trim( name ) );
                    wrapp.find('.h-phone').val( jQuery.trim( phone ) );
                    wrapp.find('.h-email').val( jQuery.trim( email ) );
                    wrapp.find('.h-address').val( jQuery.trim( addr ) );

                    count_new_grandtotal();
                });

                jQuery('.add-ons-detail input[type=checkbox]').on('change', function(e){
                	var typ = jQuery(this).parents('.row-items').find('.add-ons-id option').filter(':selected').data('type');

                	if( this.checked )
                    {
                        if( typ == 1 )
						{
	                        jQuery(this).parents('.row-block').find('.transport-type option[value!=1]').prop('disabled', true);
	                        jQuery(this).parents('.row-block').find('.transport-type').val(1).trigger('chosen:updated').trigger('change');
						}
                    }
                    else
                    {
                        if( typ == 1 )
						{
	                        jQuery(this).parents('.row-block').find('.transport-type option[value!=1]').prop('disabled', false);
	                        jQuery(this).parents('.row-block').find('.transport-type').trigger('chosen:updated');
						}
                    }

                	count_new_grandtotal();
                });

				jQuery('.add-ons-id').on('change', function(e){
					var typ = jQuery(this).find('option').filter(':selected').data('type');
					var prc = jQuery(this).find('option').filter(':selected').data('price');

					jQuery(this).parents('.row-items').find('.baoprice').autoNumeric('set', prc );
					jQuery(this).parents('.row-items').find('.baoprice').trigger('blur');

					if( typ == 1 )
					{
						jQuery(this).parents('.row-items').find('.col-block').addClass('hidden');
                        jQuery(this).parents('.row-block').find('.transport-type option[value!=1]').prop('disabled', true);
                        jQuery(this).parents('.row-block').find('.transport-type').val(1).trigger('chosen:updated').trigger('change');
					}
					else
					{
						jQuery(this).parents('.row-items').find('.col-block').removeClass('hidden');
                        jQuery(this).parents('.row-block').find('.transport-type option[value!=1]').prop('disabled', false);
                        jQuery(this).parents('.row-block').find('.transport-type').trigger('chosen:updated');
					}
				});

                jQuery('.baopax').on('blur', function(e){
                    var pax = parseInt( jQuery(this).autoNumeric('get') ) || 0;
                    var prc = parseInt( jQuery(this).parents('.row-items').find('.baoprice').autoNumeric('get') ) || 0;
                    var tot = pax * prc;

                    jQuery(this).parents('.row-items').find('.tbaoprice').autoNumeric('set', tot );

                	count_new_grandtotal();
                });

                jQuery('.baoprice').on('blur', function(e){
                    var pax = parseInt( jQuery(this).parents('.row-items').find('.baopax').autoNumeric('get') ) || 0;
                    var prc = parseInt( jQuery(this).autoNumeric('get') ) || 0;
                    var tot = pax * prc;

                    jQuery(this).parents('.row-items').find('.tbaoprice').autoNumeric('set', tot );

                	count_new_grandtotal();
                });

                jQuery('.h-transfee').on('blur', function(e){
                	count_new_grandtotal();
                });

                jQuery('.numprice').on('blur', function(e){
                	count_new_grandtotal();
                });

                jQuery('.disc').on('blur', function(e){
                	count_new_grandtotal();
                });
            });

            function count_new_grandtotal()
            {
                var transfee     = 0;
                var addons       = 0;
                var grandtotal   = 0;
                var balance      = 0;
                var subtotal     = 0;
                var discount     = 0;

                if( jQuery('.ptotal').length > 0 )
                {
                	var onhandtotal  = 0;

                	jQuery('.ptotal').each(function(){
                		onhandtotal += parseInt( jQuery(this).autoNumeric('get') ) || 0;
                	});
                }
                else
                {
                	var onhandtotal  = jQuery('[name=onhandtotal]').val();
                }

                jQuery('.detail-item .row-block .inner').each(function(i, e){
	                var adult_pax    = parseInt( jQuery(this).find('.adult-group .numpax').val() ) || 0;
	                var child_pax    = parseInt( jQuery(this).find('.child-group .numpax').val() ) || 0;
	                var infant_pax   = parseInt( jQuery(this).find('.infant-group .numpax').val() ) || 0;

	                var adult_price  = jQuery(this).find('.adult-group .text-number').length > 0 ? parseInt( jQuery(this).find('.adult-group .text-number').autoNumeric('get') ) || 0 : 0;
	                var child_price  = jQuery(this).find('.child-group .text-number').length > 0 ? parseInt( jQuery(this).find('.child-group .text-number').autoNumeric('get') ) || 0 : 0;
	                var infant_price = jQuery(this).find('.infant-group .text-number').length > 0 ? parseInt( jQuery(this).find('.infant-group .text-number').autoNumeric('get') ) || 0 : 0;

	                var subt = ( adult_pax * adult_price ) + ( child_pax * child_price ) + ( infant_pax * infant_price );
	                var disc = jQuery(this).find('.disc').length > 0 ? parseInt( jQuery(this).find('.disc').autoNumeric('get') ) || 0 : 0;

	                jQuery(this).find('.d-subtotal').val( subt );
	                jQuery(this).find('.d-total').autoNumeric('set', subt - disc );

                });

                jQuery('.add-ons-detail input[type=checkbox]:checked').each(function(){
                    addons += parseInt( jQuery(this).parents('.row-items').find('.tbaoprice').autoNumeric('get') ) || 0;
                });

                jQuery('.h-transfee').each(function(){
                    transfee += parseInt( jQuery(this).autoNumeric('get') ) || 0;
                });

                jQuery('.discount-group').each(function(){
                    discount += parseInt( jQuery(this).find('.disc').autoNumeric('get') ) || 0;
                });

                jQuery('.d-subtotal').each(function(){
                    subtotal += parseInt( jQuery(this).val() ) || 0;
                });

                grandtotal = transfee + addons + ( subtotal - discount );
                balance    = grandtotal - onhandtotal;

                jQuery('.total').autoNumeric('set', grandtotal);
                jQuery('.remaintotal').autoNumeric('set', balance);
            }
		</script>
	</div>
</div>

<!-- END edit-block -->