<!-- BEGIN loop-block -->

<tr id="item-{id}">
    <td class="no-ticket">
        {no_ticket}        
        <p>
            <a id="detail-{id}" href="javascript:;" class="show-detail" data-type="iframe" data-src="{detail_link}" rel="{id}">Show Detail  &raquo;</a>
            <a id="edit-{id}" href="javascript:;" class="edit-detail sr-only" data-type="iframe" data-src="{edit_link}" rel="{id}"></a>
            <a id="cancel-{id}" href="javascript:;" class="{cancel_css}">Request Cancelation &raquo;</a>
        </p>
    </td>
    <td class="chanel">{chanel}</td>
    <td class="rev-date">{rev_date}</td>
    <td class="booked-by">{booked_by}</td>
    <td class="guest-name">{guest_name}</td>
    <td class="route">{route}</td>
    <td class="dept-date">{dept_date}</td>
    <td class="dept-time">{dept_time}</td>
    <td class="status">{status}</td>
</tr>

<script>
    jQuery('.show-detail').fancybox({
        slideClass:'modal-dialog',
        toolbar:false,
        afterShow : function( instance, current ) {
            var button   = '<button data-fancybox-close="" class="fancybox-close-small" title="Close"></button>';
            var instance = jQuery.fancybox.getInstance();

            jQuery('.modal-dialog .fancybox-content').append(button);
            jQuery('.modal-dialog .close').on('click', function(){
                instance.close();
            });
        }
    });

    jQuery('.edit-detail').fancybox({
        slideClass:'modal-dialog',
        toolbar:false,
        afterShow : function( instance, current ) {
            var button   = '<button data-fancybox-close="" class="fancybox-close-small" title="Close"></button>';
            var instance = jQuery.fancybox.getInstance();

            jQuery('.modal-dialog .fancybox-content').append(button);
            jQuery('.modal-dialog .close').on('click', function(){
                instance.close();
            });
        }
    });

    jQuery('#cancel-{id}').unbind();
    jQuery('#cancel-{id}').on('click', function(){

        jQuery('<div></div>').dialog({
            resizable: false,
            height: 'auto',
            width: 400,
            modal: true,
            title: 'Cancel Reservation',
            open: function(){
                jQuery(this).html('Are you sure want to cancel this ticket <b>"#{no_ticket}"</b>?');
            },
            buttons:{
                Yes: function(){
                    var dlg = jQuery(this);
                    var prm = new Object();
                        prm.pkey = 'agent-request-cancelation';
                        prm.bid  = '{id}';

                    jQuery.ajax({
                        method: 'POST',
                        url: '{ajax_url}',
                        data: prm,
                        dataType : 'json',
                        success: function( e ){
                            dlg.dialog('close');

                            if( e.result = 'success' )
                            {
                                show_popup('Warning', 'Your tiket with number "<b>#{no_ticket}</b>" has been canceled', 'window.location.assign("{action}")');
                            }
                            else
                            {
                                show_popup('Warning', 'Sorry you can\'t canceled this reservation at this moment. Please try again later');
                            }
                        },
                        error: function( e ){
                            dlg.dialog('close');

                            show_popup('Warning', 'Sorry you can\'t canceled this reservation at this moment. Please try again later');
                        }
                    });
                },
                No: function(){
                    jQuery(this).dialog('close');
                }
            }
        });

        return false;
    });
</script>

<!-- END loop-block -->