<!-- BEGIN form-block -->

<div class="wrapper-block vehicle-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-12"> 
                    <h1>New/Edit Vehicle</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-block no-field-border">
                    	{message}
                    	<fieldset class="sr-only">
                    		<input type="text" name="vid" value="{vid}" />
                    	</fieldset>
                        <fieldset class="form-inline">
                    		<label>Vehicle Name</label>
                    		<div class="form-group">
							    <input type="text" class="text text-large form-control" name="vname" value="{vname}" /">
						  	</div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Passenger</label>
                            <div class="form-group">
                                <input type="text" class="text text-large form-control" name="vpassenger" value="{vpassenger}" /">
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Used For</label>
                            <div class="form-group">
                                <select name="vusedfor" autocomplete="off">
                                    {vusedfor}
                                </select>
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Owned By</label>
                            <div class="form-group">
                                <select name="void" autocomplete="off">
                                    {void}
                                </select>
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Status</label>
                            <div class="form-group vehicle-status-group">
                                <div class="checkbox">
                                    <input id="vehicle-status-1" name="vstatus" class="vehicle-status" autocomplete="off" type="radio" {radio_ready_opt} value="0">
                                    <label for="vehicle-status-1">Ready</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <input id="vehicle-status-2" name="vstatus" class="vehicle-status" autocomplete="off" type="radio" {radio_maintenance_opt} value="1">
                                    <label for="vehicle-status-2">Maintenance</label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-action clearfix">
                    	<button type="submit" class="btn-save pull-left" name="publish">Save Vehicle</button>
                    	<a class="cancel pull-left" href="{cancel_link}">Cancel</a>
                    	<a class="delete pull-right {delete_class}" href="{ajax_link}">Delete</a>
                    </div>
                    <div class="form-note">
                        {last_update_note}
                    </div>
                </div>
            </div>
        </form>

        <script type="text/javascript">
            jQuery(document).ready(function(){
                jQuery('.form-action .delete').on('click', function(e){
                    var url = jQuery(this).attr('href');
                    var prm = new Object();
                        prm.pkey = 'delete-vehicle';
                        prm.vid  = jQuery('[name=vid]').val();

                    jQuery('<div></div>').dialog({
                        modal: true,
                        draggable: false,
                        resizable: false,
                        title: 'Notification',
                        open: function(){
                            jQuery(this).html('Are you sure want to delete this vehicle?');
                        },
                        buttons: {
                            Yes: function(){
                                var popup = jQuery(this);

                                jQuery.ajax({
                                    method: 'POST',
                                    url: url,
                                    data: prm,
                                    dataType : 'json',
                                    success: function(e){
                                        popup.dialog('close');

                                        if( e.result=='success' )
                                        {                                       
                                            show_popup('Notification', 'This vehicle has been successfully deleted', 'window.location.assign("{cancel_link}")');
                                        }
                                        else if( e.result=='failed' )
                                        {
                                            show_popup('Warning', 'Sorry, This vehicle can\'t be deleted. Please try again later');
                                        }
                                    },
                                    error: function(e){
                                       popup.dialog('close');

                                       show_popup('Warning', 'Sorry, This vehicle can\'t be deleted. Please try again later');
                                    }
                                });
                            },
                            No: function(){
                                jQuery( this ).dialog('close');
                            }
                        }
                    });

                    return false;
                });
            });
        </script>
    </div>
</div>

<!-- END form-block -->