<!-- BEGIN list-block -->

<div class="wrapper-block vehicle-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-8"> 
                    <h1>Vehicle</h1>
                </div>
                <div class="col-md-4">
                    <div class="button-box clearfix">
                        <button type="submit" class="button btn-delete disabled" name="delete" value="Delete" disabled="disabled">Delete Vehicle</button>
                        <button type="button" class="button btn-add" name="add_new" onclick="location.href='{add_new_link}';">New Vehicle</button>
                    </div>
                </div>
            </div>
            <div class="row">     
                <div class="col-md-12"> 
                    <div class="filter-box clearfix">
                        <div class="row">          
                            <div class="col-md-8">                   
                                <div class="form-inline filter-wrapp clearfix">
                                    <div class="form-group">
                                        <span class="text">Filter :</span>
                                        <select class="select-option" name="fowner" autocomplete="off">
                                            {owner_list}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select class="select-option" name="fstatus" autocomplete="off">
                                            {status_list}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input name="filter" type="submit" value="Filter" class="filters">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="search-box clearfix">
                                    <input type="text" name="svehicle" class="searchtext" placeholder="Search" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-block">
                        {message}
                        <table id="vehicle-table" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="15" data-orderable="false"><input type="checkbox" name="check_all" autocomplete="off" /></th>
                                    <th width="30%">Vehicle Name</th>
                                    <th>Passenger</th>
                                    <th>Owner</th>
                                    <th>User For</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {list}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery('[name=fowner]').chosen({ max_selected_options:10, search_contains:true, placeholder_text_single:'Select Owner' });
            jQuery('[name=fstatus]').chosen({ max_selected_options:10, search_contains:true, placeholder_text_single:'Select Status' });

            var table = jQuery('#vehicle-table').DataTable({
                'dom'           : '<"row"<"col-xs-5 col-sm-6"l><"col-xs-7 col-sm-6 text-right">r>t<"row"<"col-md-12"i><"col-md-12 text-center"p>>',
                // 'dom':"<'row'<'col-xs-5 col-sm-6'l><'col-xs-7 col-sm-6 text-right'f>r>t<'row'<'col-md-12'i><'col-md-12 text-center'p>>",
                'pageLength'    : parseInt('{limit}'),
                'lengthChange'  : false,
                'info'          : false,
                'searching'     : true,
                'deferRender'   : true,
                'order'         : []
            });
            jQuery('[name=svehicle]').on('keyup change', function(){
                table.search( this.value ).draw() ;
            });
        });
    </script>
</div>

<!-- END list-block -->