<!-- BEGIN summary-report-block -->
<div class="wrapper-block tab-report report-block reservation-report-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="areport">
            <div class="row">
                <div class="col-md-6"> 
                    <h1>Reservation Add-ons Report</h1>
                </div>
            </div>\
            <div class="row">     
                <div class="col-md-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation"><a href="{addons_daily_pre_book_report}">Daily Pre-book Report</a></li>
                        <li role="presentation" class="active"><a href="{addons_summary_report_link}">Summary Report</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active">
                            <div class="filter-box clearfix">                            
                                <div class="form-group clearfix">
                                    <span class="text">Filter</span>
                                    <select name="lcid" id="select-dep" class="select-option">
                                        {departure_option}
                                    </select>
                                    <select name="lcid2" id="select-arv" class="select-option">
                                        {arrival_option}
                                    </select>
                                    <select name="rtype" id="select-report-type" class="select-option">
                                        {summary_report_type_option}
                                    </select>
                                    <input name="bdate" type="text" placeholder="Date" value="{bdate}"  class="medium_textbox dpicker sr-only">
                                    <input name="bdateto" type="text" placeholder="Date" value="{bdateto}"  class="medium_textbox dpicker sr-only">
                                    <input name="filter" type="submit" value="Apply" class="filters">
                                </div>
                            </div>
                            <div id="data-list" class="data-list"></div>
                        </div>
                    </div>
                </div>
            </div>                 	
        </form>
    </div>

    <div class="sr-only">
        <div class="no-data-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="report-list">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-center text-danger">No data was found<p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="data-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="report-chart-wrapp">
                        <div id="report-chart" class="report-chart"></div>                        
                        <div class="report-chart-legend"></div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="report-list reservation-list">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row-total">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h3>Total Add-ons</h3>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-9">                                       
                                                            <p class="bold text-right total-pax"></p>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <p class="bold text-right total-price"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-item">
                                    <div class="row">
                                        <ul class="col-md-12">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>
                    <div class="row">
                        <div class="form-action clearfix">
                            <textarea class="sr-only" name="chart_data"></textarea>
                            <button type="submit" class="btn-print pull-left" name="print">Print Report</button>
                            <button type="submit" class="btn-export-pdf pull-left" name="export_pdf">Export as PDF</button>
                            <button type="submit" class="btn-export-csv pull-left" name="export_csv">Export as CSV</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ul class="data-content-list">
            <li>
                <a class="r-head">
                    <div class="row">
                        <div class="col-md-6">
                            <h4></h4>
                        </div>
                        <div class="col-md-6">
                            <p class="text-right medium-bold"></p>
                        </div>
                    </div>
                </a>
                <div class="r-content"></div>
            </li>
        </ul>

        <div class="data-content-item">
            <div class="item">
                <a class="rs-head">
                    <div class="row">
                        <div class="col-md-6">
                            <h5></h5>
                        </div>
                        <div class="col-md-6">
                            <p class="text-right medium-bold"></p>
                        </div>
                    </div>
                </a>
                <div class="sub-item"></div>
            </div>
        </div>

        <div class="data-sub-content-item">
            <div class="sub-content">
                <a class="rs-sub-head">
                    <div class="row">
                        <div class="col-md-6">
                            <h5></h5>
                        </div>
                        <div class="col-md-6">
                            <p class="text-right medium-bold"></p>
                        </div>
                    </div>
                </a>
                <div class="rs-table">
                    <table class="table table-striped" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th width="50%">Add-ons</th>
                                <th width="5%" class="text-right">Qty</th>
                                <th width="10%" class="text-right">Price</th>
                                <th width="10%" class="text-right">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        function load_ajax_data( filter )
        {
            var prm         = new Object;
                prm.plog    = 'summary-addons-list';
                prm.lcid    = jQuery('[name=lcid]').val();
                prm.lcid2   = jQuery('[name=lcid2]').val();
                prm.rtype   = jQuery('[name=rtype]').val();
                prm.bdate   = jQuery('[name=bdate]').val();
                prm.bdateto = jQuery('[name=bdateto]').val();

            jQuery.ajax({
                method: 'POST',
                url: '{ajax_response}',
                data: prm,
                dataType : 'json',           
                success: function( data ){
                    if( data.total == 0 )
                    {
                        var content = jQuery('.no-data-content').html();

                        jQuery('.data-list').html( content );
                    }
                    else
                    {
                        var content = jQuery('.data-content').html();

                        jQuery('.data-list').html( content );
                        jQuery('.data-list .total-price').html( data.total_format + ' (100%)' );
                        jQuery('.data-list .total-pax').html( 'Total Qty : ' + data.total_pax );

                        var i = 0;
                        var d = '';

                        jQuery.each( data.items, function( date, by_date ){
                            var dt = jQuery.parseJSON( jQuery.base64.decode( date ) );
                            var op = i <= 0 ? 'opened' : '';

                            var list = jQuery('.data-content-list').html();

                            jQuery('.data-list .row-item ul').append( list );
                            jQuery('.data-list .row-item ul li:last-child').addClass( op );
                            jQuery('.data-list .row-item ul li:last-child h4').html( 'Trip : ' + dt[0] );
                            jQuery('.data-list .row-item ul li:last-child .medium-bold').html( dt[2] + ' (' + dt[3] + '%)' );

                            jQuery.each( by_date, function( trip, by_trip ){
                                var trp = jQuery.parseJSON( jQuery.base64.decode( trip ) );

                                var item = jQuery('.data-content-item').html();

                                jQuery('.data-list .row-item ul li:last-child .r-content').append( item );
                                jQuery('.data-list .row-item ul li:last-child .r-content .item:last-child .rs-head h5').html( 'Port : ' + trp[0] );
                                jQuery('.data-list .row-item ul li:last-child .r-content .item:last-child .rs-head .medium-bold').html( trp[2] + ' (' + trp[3] + '%)' );

                                jQuery.each( by_trip, function( group, by_group ){
                                    var grp = jQuery.parseJSON( jQuery.base64.decode( group ) );
                                    var sub = jQuery('.data-sub-content-item').html();
                                    var row = '';

                                    jQuery('.data-list .row-item ul li:last-child .r-content .item:last-child .sub-item').append( sub );
                                    jQuery('.data-list .row-item ul li:last-child .r-content .item:last-child .sub-item .sub-content:last-child .rs-sub-head h5').html( grp[0] );
                                    jQuery('.data-list .row-item ul li:last-child .r-content .item:last-child .sub-item .sub-content:last-child .rs-sub-head .medium-bold').html( grp[2] + ' (' + grp[3] + '%)' );

                                    jQuery.each( by_group, function( i, d ){
                                        row +=
                                        '<tr>'+
                                            '<td>' + d.aoname + '</td>'+
                                            '<td align="right">' + d.baopax + '</td>'+
                                            '<td align="right">' + d.bfaoprice + '</td>'+
                                            '<td align="right">' + d.bfaototal + '</td>'+
                                        '</tr>';
                                    });

                                    jQuery('.data-list .row-item ul li:last-child .r-content .item:last-child .sub-item .sub-content:last-child tbody').append( row );
                                });

                                i++;
                            });
                        });

                        gen_chart( data.chart );

                        print_action( data.filter );

                        jQuery('.r-head').on('click', function(){
                            jQuery(this).parent().toggleClass('opened');
                        });

                        jQuery('.rs-head').on('click', function(){
                            jQuery(this).parent().toggleClass('sub-opened');
                        });

                        jQuery('.rs-sub-head').on('click', function(){
                            jQuery(this).parent().toggleClass('tab-opened');
                        });
                    }
                },          
                beforeSend: function(){
                    jQuery('.section-overlay').show();
                },
                complete:function(data){
                    jQuery('.section-overlay').hide();
                },
                error: function(e){
                    console.log('Ajax Error!! ' + e);
                }
            });
        }

        function print_action( fltr )
        {
            jQuery('[name=print]').on('click', function(){
                window.open('', '_blank').location.href = '{site_url}/summary-addons-print-report?filter=' + fltr;
                return false;
            });

            jQuery('[name=export_pdf]').on('click', function(){
                window.open('', '_blank').location.href = '{site_url}/summary-addons-pdf-report?filter=' + fltr;
                return false;
            });

            jQuery('[name=export_csv]').on('click', function(){
                window.open('', '_blank').location.href = '{site_url}/summary-addons-csv-report?filter=' + fltr;
                return false;
            });
        }

        jQuery(document).ready(function(){

            set_filter_period( jQuery('[name=rtype]').val(), 'bdate', 'bdateto', false );

            load_ajax_data();

            jQuery('.select-option').chosen({ max_selected_options:10, search_contains:true });

            jQuery('[name=filter]').on('click', function(){
                load_ajax_data();

                return false;
            });
            
            jQuery('[name=rtype]').on('change', function(){
                jQuery('[name=bdate]').datepicker('destroy').val('');
                jQuery('[name=bdateto]').datepicker('destroy').val('');

                set_filter_period( jQuery(this).val(), 'bdate', 'bdateto', false );
            });

        });
    </script>
</div>
<!-- END summary-report-block -->

<!-- BEGIN daily-report-block -->
<div class="wrapper-block tab-report report-block reservation-report-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="areport">
            <div class="row">
                <div class="col-md-6"> 
                    <h1>Reservation Add-ons Report</h1>
                </div>
            </div>\
            <div class="row">     
                <div class="col-md-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="{addons_daily_pre_book_report}">Daily Pre-book Report</a></li>
                        <li role="presentation"><a href="{addons_summary_report_link}">Summary Report</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active">
                            <div class="filter-box clearfix">                             
                                <div class="form-group clearfix">
                                    <span class="text">Filter</span>
                                    <select name="lcid" id="select-dep" class="select-option">
                                        {departure_option}
                                    </select>
                                    <select name="lcid2" id="select-arv" class="select-option">
                                        {arrival_option}
                                    </select>
                                    <select name="rtype" id="select-report-type" class="select-option">
                                        {daily_report_type_option}
                                    </select>                                    
                                    <input name="bdate" type="text" placeholder="Date" value="{bdate}"  class="medium_textbox dpicker sr-only">
                                    <input name="bdateto" type="text" placeholder="Date" value="{bdateto}"  class="medium_textbox dpicker sr-only">
                                    <input name="filter" type="submit" value="Apply" class="filters">
                                </div>
                            </div>
                            <div id="data-list" class="data-list"></div>
                        </div>
                    </div>
                </div>
            </div>                  
        </form>
    </div>

    <div class="sr-only">
        <div class="no-data-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="report-list">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-center text-danger">No data was found<p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="data-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="report-chart-wrapp">
                        <div id="report-chart" class="report-chart"></div>                        
                        <div class="report-chart-legend"></div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="report-list reservation-list">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row-total">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h3>Total Add-ons</h3>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-9">                                       
                                                            <p class="bold text-right total-pax"></p>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <p class="bold text-right total-price"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-item">
                                    <div class="row">
                                        <ul class="col-md-12">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>
                    <div class="row">
                        <div class="form-action clearfix">
                            <textarea class="sr-only" name="chart_data"></textarea>
                            <button type="submit" class="btn-print pull-left" name="print">Print Report</button>
                            <button type="submit" class="btn-export-pdf pull-left" name="export_pdf">Export as PDF</button>
                            <button type="submit" class="btn-export-csv pull-left" name="export_csv">Export as CSV</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ul class="data-content-list">
            <li>
                <a class="r-head">
                    <div class="row">
                        <div class="col-md-6">
                            <h4></h4>
                        </div>
                        <div class="col-md-6">
                            <p class="text-right medium-bold"></p>
                        </div>
                    </div>
                </a>
                <div class="r-content"></div>
            </li>
        </ul>

        <div class="data-content-item">
            <div class="item">
                <a class="rs-head">
                    <div class="row">
                        <div class="col-md-6">
                            <h5></h5>
                        </div>
                        <div class="col-md-6">
                            <p class="text-right medium-bold"></p>
                        </div>
                    </div>
                </a>
                <div class="sub-item"></div>
            </div>
        </div>

        <div class="data-sub-content-item">
            <div class="sub-content">
                <a class="rs-sub-head">
                    <div class="row">
                        <div class="col-md-6">
                            <h5></h5>
                        </div>
                        <div class="col-md-6">
                            <p class="text-right medium-bold"></p>
                        </div>
                    </div>
                </a>
                <div class="rs-table">
                    <table class="table table-striped" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th width="10%">Resv #</th>
                                <th width="25%">Guest Name</th>
                                <th width="25%">Add-ons</th>
                                <th width="5%" class="text-right">Qty</th>
                                <th width="10%" class="text-right">Price</th>
                                <th width="10%" class="text-right">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        function load_ajax_data( filter )
        {
            var prm         = new Object;
                prm.plog    = 'daily-addons-list';
                prm.lcid    = jQuery('[name=lcid]').val();
                prm.lcid2   = jQuery('[name=lcid2]').val();
                prm.rtype   = jQuery('[name=rtype]').val();
                prm.bdate   = jQuery('[name=bdate]').val();
                prm.bdateto = jQuery('[name=bdateto]').val();

            jQuery.ajax({
                method: 'POST',
                url: '{ajax_response}',
                data: prm,
                dataType : 'json',           
                success: function( data ){
                    if( data.total == 0 )
                    {
                        var content = jQuery('.no-data-content').html();

                        jQuery('.data-list').html( content );
                    }
                    else
                    {
                        var content = jQuery('.data-content').html();

                        jQuery('.data-list').html( content );
                        jQuery('.data-list .total-price').html( data.total_format + ' (100%)' );
                        jQuery('.data-list .total-pax').html( 'Total Qty : ' + data.total_pax );

                        var i = 0;
                        var d = '';

                        jQuery.each( data.items, function( date, by_date ){
                            var dt = jQuery.parseJSON( jQuery.base64.decode( date ) );
                            var op = i <= 0 ? 'opened' : '';

                            var list = jQuery('.data-content-list').html();

                            jQuery('.data-list .row-item ul').append( list );
                            jQuery('.data-list .row-item ul li:last-child').addClass( op );
                            jQuery('.data-list .row-item ul li:last-child h4').html( 'Book for : ' + dt[0] );
                            jQuery('.data-list .row-item ul li:last-child .medium-bold').html( dt[2] + ' (' + dt[3] + '%)' );

                            jQuery.each( by_date, function( trip, by_trip ){
                                var trp = jQuery.parseJSON( jQuery.base64.decode( trip ) );

                                var item = jQuery('.data-content-item').html();

                                jQuery('.data-list .row-item ul li:last-child .r-content').append( item );
                                jQuery('.data-list .row-item ul li:last-child .r-content .item:last-child .rs-head h5').html( 'Dept. ' + trp[0] );
                                jQuery('.data-list .row-item ul li:last-child .r-content .item:last-child .rs-head .medium-bold').html( trp[2] + ' (' + trp[3] + '%)' );

                                jQuery.each( by_trip, function( group, by_group ){
                                    var grp = jQuery.parseJSON( jQuery.base64.decode( group ) );
                                    var sub = jQuery('.data-sub-content-item').html();
                                    var row = '';

                                    jQuery('.data-list .row-item ul li:last-child .r-content .item:last-child .sub-item').append( sub );
                                    jQuery('.data-list .row-item ul li:last-child .r-content .item:last-child .sub-item .sub-content:last-child .rs-sub-head h5').html( '(' + grp[0] + ') ' + grp[1] );
                                    jQuery('.data-list .row-item ul li:last-child .r-content .item:last-child .sub-item .sub-content:last-child .rs-sub-head .medium-bold').html( grp[3] + ' (' + grp[4] + '%)' );

                                    jQuery.each( by_group, function( i, d ){
                                        row +=
                                        '<tr>'+
                                            '<td><a rel="' + d.bid + '">' + d.bticket + '</a></td>'+
                                            '<td>' + d.gname + '</td>'+
                                            '<td>' + d.aoname + '</td>'+
                                            '<td align="right">' + d.baopax + '</td>'+
                                            '<td align="right">' + d.bfaoprice + '</td>'+
                                            '<td align="right">' + d.bfaototal + '</td>'+
                                        '</tr>';
                                    });

                                    jQuery('.data-list .row-item ul li:last-child .r-content .item:last-child .sub-item .sub-content:last-child tbody').append( row );
                                });

                                i++;
                            });
                        });

                        gen_chart( data.chart );

                        print_action( data.filter );

                        jQuery('.r-head').on('click', function(){
                            jQuery(this).parent().toggleClass('opened');
                        });

                        jQuery('.rs-head').on('click', function(){
                            jQuery(this).parent().toggleClass('sub-opened');
                        });

                        jQuery('.rs-sub-head').on('click', function(){
                            jQuery(this).parent().toggleClass('tab-opened');
                        });
                    }
                },          
                beforeSend: function(){
                    jQuery('.section-overlay').show();
                },
                complete:function(data){
                    jQuery('.section-overlay').hide();
                },
                error: function(e){
                    console.log('Ajax Error!! ' + e);
                }
            });
        }

        function print_action( fltr )
        {
            jQuery('[name=print]').on('click', function(){
                window.open('', '_blank').location.href = '{site_url}/daily-addons-print-report?filter=' + fltr;

                return false;
            });

            jQuery('[name=export_pdf]').on('click', function(){
                window.open('', '_blank').location.href = '{site_url}/daily-addons-pdf-report?filter=' + fltr;

                return false;
            });

            jQuery('[name=export_csv]').on('click', function(){
                window.open('', '_blank').location.href = '{site_url}/daily-addons-csv-report?filter=' + fltr;

                return false;
            });
        }

        jQuery(document).ready(function(){

            set_filter_period( jQuery('[name=rtype]').val(), 'bdate', 'bdateto', false );

            load_ajax_data();

            jQuery('.select-option').chosen({ max_selected_options:10, search_contains:true });

            jQuery('[name=filter]').on('click', function(){
                load_ajax_data();

                return false;
            });
        });
    </script>
</div>
<!-- END daily-report-block -->