<!-- BEGIN report-block -->

<div class="wrapper-block report-block daily-pax-report-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="areport">
            <div class="row">
                <div class="col-md-12"> 
                    <h1>Daily Pax Numbers Report</h1>
                </div>
            </div>
            <div class="row">     
                <div class="col-md-12">
                    <div class="filter-box clearfix">
                        <div class="form-group clearfix">
                            <span class="text">Filter</span>
                            <select name="rview" id="select-report-view" class="sr-only">
                                {report_view_option}
                            </select>
                            <select class="select-multiple-option" multiple="" name="rid[]" id="select-route" style="width:100%;">
                                {route_option}
                            </select>
                            <select name="chid" id="select-channel" class="select-option">
                                {booking_source_option}
                            </select>
                            <select name="rtype" id="select-report-type" class="select-option">
                                {report_type_option}
                            </select>
                            <input name="bdate" type="text" placeholder="Date" value="{bdate}"  class="medium_textbox dpicker sr-only">
                            <input name="bdateto" type="text" placeholder="Date" value="{bdateto}"  class="medium_textbox dpicker sr-only">
                        </div>
                        <div class="clearfix">
                            <span class="text ">&nbsp;</span>
                            <select class="select-multiple-option" multiple="" name="bstatus[]" id="select-booking-status">
                                {booking_status_option}
                            </select>
                            <input name="filter" type="submit" value="Apply" class="filters">
                        </div>
                    </div>
                </div>
            </div>
            <div id="data-list"></div>	
        </form>
    </div>
</div>

<script type="text/javascript">
    function load_ajax_data( filter )
    {
        var prm         = new Object;
            prm.plog    = 'daily-pax-numbers-list';
            prm.rid     = jQuery('#select-route').val();
            prm.bstatus = jQuery('#select-booking-status').val();
            prm.rview   = jQuery('[name=rview]').val();
            prm.chid    = jQuery('[name=chid]').val();
            prm.rtype   = jQuery('[name=rtype]').val();
            prm.bdate   = jQuery('[name=bdate]').val();
            prm.bdateto = jQuery('[name=bdateto]').val();

        jQuery.ajax({
            method: 'POST',
            url: '{ajax_response}',
            data: prm,
            dataType : 'json',           
            success: function( data ){
                if( data.total == 0 )
                {
                    var html =
                    '<div class="row">'+
                        '<div class="col-md-12">'+
                            '<div class="report-list passenger-list">'+
                                '<div class="row">'+
                                    '<div class="col-md-12">'+
                                        '<p class="text-center text-danger">No data was found<p>'+
                                    '</div>'+
                                '</div>'+
                            '</div>'+
                        '</div>'+
                    '</div>';  

                    $('#data-list').html(html);
                }
                else
                {
                    var i    = 0;
                    var html =
                    '<div class="row">'+
                        '<div class="col-md-12">'+
                            '<div class="report-chart-wrapp">'+
                                '<div id="report-chart" class="report-chart"></div>'+                        
                                '<div class="report-chart-legend"></div>'+
                            '</div>'+
                        '</div>'+
                        '<div class="col-md-12">'+
                            '<div class="report-list reservation-list">'+
                                '<div class="row">'+
                                    '<div class="col-md-12">'+
                                        '<div class="row-total">'+
                                            '<div class="row">'+
                                                '<div class="col-md-12">'+
                                                    '<div class="row">'+
                                                        '<div class="col-md-6">'+
                                                            '<h3>Total Amount</h3>'+
                                                        '</div>'+
                                                        '<div class="col-md-6">'+
                                                            '<div class="row">'+
                                                                '<div class="col-md-9">'+                                                    
                                                                    '<p class="bold text-right">Total Pax : '+ data.total_pax +'</p>'+
                                                                '</div>'+
                                                                '<div class="col-md-3">'+
                                                                    '<p class="bold text-right">'+ data.total +' (100%)</p>'+
                                                                '</div>'+
                                                            '</div>'+
                                                        '</div>'+
                                                    '</div>'+
                                                '</div>'+
                                            '</div>'+
                                        '</div>'+
                                        '<div class="row-item">'+
                                            '<div class="row">'+
                                                '<ul class="col-md-12">';
                                                    $.each( data.items, function( idx, items ) {                                                       
                                                        var opened = '';
                                                        if ( i <= 0 ){ opened = 'opened'; }
                                                        var itms = jQuery.parseJSON( jQuery.base64.decode( idx ) );
                                                        html +=
                                                        '<li class="'+ opened +'">'+
                                                            '<a class="r-head">'+
                                                                '<div class="row">'+
                                                                    '<div class="col-md-6">'+
                                                                        '<h4>'+ itms[0] +'</h4>'+
                                                                    '</div>'+
                                                                    '<div class="col-md-6">'+
                                                                        '<p class="text-right medium-bold">'+ itms[1] +' ('+ itms[2] +'%)</p>'+
                                                                    '</div>'+
                                                                '</div>'+
                                                            '</a>'+
                                                            '<div class="r-content">';
                                                                $.each( items, function( grp, group ) {
                                                                    var grps = jQuery.parseJSON( jQuery.base64.decode( grp ) );
                                                                    html +=
                                                                    '<div class="item">'+
                                                                        '<a class="rs-head">'+
                                                                            '<div class="row">'+
                                                                                '<div class="col-md-6">'+
                                                                                    '<h5>' + grps[0] + ' - ' + grps[1] + '</h5>'+
                                                                                '</div>'+
                                                                                '<div class="col-md-6">'+
                                                                                    '<p class="text-right medium-bold">' + grps[2] + ' (' + grps[3] + '%)</p>'+
                                                                                '</div>'+
                                                                            '</div>'+
                                                                        '</a>';
                                                                        $.each( group, function( chl, child ) {
                                                                            var chls = jQuery.parseJSON( jQuery.base64.decode( chl ) );
                                                                            html +=
                                                                            '<div class="sub-content">'+
                                                                                '<a class="rs-sub-head">'+
                                                                                    '<div class="row">'+
                                                                                        '<div class="col-md-6">'+
                                                                                            '<h5>(' + chls[0] + ') ' + chls[1] + '</h5>'+
                                                                                        '</div>'+
                                                                                        '<div class="col-md-6">'+
                                                                                            '<p class="text-right medium-bold">' + chls[2] + ' (' + chls[3] + '%)</p>'+
                                                                                        '</div>'+
                                                                                    '</div>'+
                                                                                '</a>'+
                                                                                '<div class="rs-table">'+
                                                                                    '<table id="reservation-table" class="table table-striped" cellspacing="0" width="100%">'+
                                                                                        '<thead>'+
                                                                                            '<tr>'+
                                                                                                '<th width="20%">Resv #</th>'+
                                                                                                '<th width="20%">Adult</th>'+
                                                                                                '<th width="10%">Child</th>'+
                                                                                                '<th width="10%">Infant</th>'+
                                                                                                '<th width="10%">Booking Source</th>'+
                                                                                                '<th width="10%">Amount</th>'+
                                                                                            '</tr>'+
                                                                                        '</thead>'+
                                                                                        '<tbody>';
                                                                                        $.each( child, function( dt, dts ) {
                                                                                            html +=
                                                                                            '<tr>'+
                                                                                                '<td>'+
                                                                                                    '<a rel="' + dts.bid + '">' + dts.bticket + '</a>'+
                                                                                                '</td>'+
                                                                                                '<td>' + dts.num_adult + '</td>'+
                                                                                                '<td>' + dts.num_child + '</td>'+
                                                                                                '<td>' + dts.num_infant + '</td>'+
                                                                                                '<td>' + dts.bsource + '</td>'+
                                                                                                '<td>' + dts.amount + '</td>'+
                                                                                            '</tr>';
                                                                                        });
                                                                                        html +=
                                                                                        '</tbody>'+
                                                                                    '</table>'+
                                                                                '</div>'+
                                                                            '</div>';
                                                                        });
                                                                    html +=
                                                                    '</div>';
                                                                });
                                                            html +=
                                                            '</div>'+
                                                        '</li>';

                                                        i = i + 1;
                                                    });
                                                html +=
                                                '</ul>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                            '</div>'+
                        '</div>'+
                    '</div>'+
                    '<div class="row">'+
                        '<div class="form-action clearfix">'+
                            '<textarea class="sr-only" name="chart_data">{chart_data}</textarea>'+
                            '<button type="submit" class="btn-print pull-left" name="print">Print Report</button>'+
                            '<button type="submit" class="btn-export-pdf pull-left" name="export_pdf">Export as PDF</button>'+
                            '<button type="submit" class="btn-export-csv pull-left" name="export_csv">Export as CSV</button>'+
                        '</div>'+
                    '</div>';
                    $('#data-list').html(html);

                    gen_chart( data.chart );
                    print_action( data.filter );

                    jQuery('.r-head').unbind();
                    jQuery('.r-head').on('click', function(){
                        jQuery(this).parent().toggleClass('opened');
                    });

                    jQuery('.rs-head').unbind();
                    jQuery('.rs-head').on('click', function(){
                        jQuery(this).parent().toggleClass('sub-opened');
                    });

                    jQuery('.rs-sub-head').unbind();
                    jQuery('.rs-sub-head').on('click', function(){
                        jQuery(this).parent().toggleClass('tab-opened');
                    });
                }
            },          
            beforeSend: function(){
                $(".section-overlay").show();
            },
            complete:function(data){
                $(".section-overlay").hide();
            },
            error: function(e){
                console.log('Error!!');
            }
        });
    }

    function print_action( fltr )
    {
        jQuery('[name=print]').on('click', function(){
            window.open('', '_blank').location.href = '{site_url}/daily-pax-print-report?filter='+fltr;
            return false;
        });

        jQuery('[name=export_pdf]').on('click', function(){
            window.open('', '_blank').location.href = '{site_url}/daily-pax-pdf-report?filter='+fltr;
            return false;
        });

        jQuery('[name=export_csv]').on('click', function(){
            window.open('', '_blank').location.href = '{site_url}/daily-pax-csv-report?filter='+fltr;
            return false;
        });
    }


    jQuery(document).ready(function(){
        jQuery('[name=filter]').on('click', function(){
            load_ajax_data();
            return false;
        });

        load_ajax_data();

        jQuery('.select-option').chosen({ max_selected_options:10, search_contains:true });
        jQuery('#select-route').chosen({ max_selected_options:10, search_contains:true, placeholder_text_multiple:'All Route' });
        jQuery('#select-booking-status').chosen({ max_selected_options:10, search_contains:true, placeholder_text_multiple:'Payment Status' });

        set_filter_period( jQuery('[name=rtype]').val(), 'bdate', 'bdateto', false );
        
        jQuery('[name=rtype]').on('change', function(){
            jQuery('[name=bdate]').datepicker('destroy').val('');
            jQuery('[name=bdateto]').datepicker('destroy').val('');

            set_filter_period( jQuery(this).val(), 'bdate', 'bdateto', false );
        });
    });
</script>

<!-- END report-block -->