<!-- BEGIN report-block -->

<div class="wrapper-block feedback-block">
    <div class="container-fluid">
        <form action="{action}" method="post">
            <div class="row">
                <div class="col-md-9"> 
                    <div class="col-md-12">
                        <h1>Guest Feedback</h1>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <h3>Average Rating : {avgrat}</h3>
                    </div>
                </div>
            </div>
            <div class="row">     
                <div class="col-md-12"> 
                    <div class="filter-box clearfix">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="search-box clearfix">
                                    <input type="text" name="search" class="searchtext" value="{search}" placeholder="Search" />
                                    <input name="search_feedback" type="submit" value="yes" class="sr-only">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-block">
                        <table id="feedback-table-report" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Guest Name</th>
                                    <th>Rating</th>
                                    <th>Message</th>
                                </tr>
                            </thead>
                            <tbody>
                                {list}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
        <script type="text/javascript">
            jQuery(document).ready(function(){
                jQuery('.searchtext').keypress(function (e) {
                    if( e.which == 13 )
                    {
                        jQuery('[name=search_feedback]').trigger('click');
                        return false;
                    }
                });
                
                jQuery('#feedback-table-report').DataTable({
                    'dom':"<'row'<'col-xs-5 col-sm-6'l><'col-xs-7 col-sm-6 text-right'f>r>t<'row'<'col-md-12'i><'col-md-12 text-center'p>>",
                    'pageLength': parseInt('{limit}'),
                    'lengthChange': false,
                    'searching': false,
                    'info': false,
                    'order': []
                });
            });
        </script>
    </div>
</div>

<!-- END report-block -->