<!-- BEGIN report-block -->

<div class="wrapper-block report-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="areport">
            <div class="row">
                <div class="col-md-12">
                    <h1>Hi-Season Sales Summary Report</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="filter-box clearfix">
                        <div class="form-group clearfix">
                            <span class="text">Filter</span>
                            <select name="lcid" id="select-report-view" class="select-option" autocomplete="off">
                                {destination_option}
                            </select>
                            <select class="select-option" name="rtype" id="select-report-type" autocomplete="off">
                                {report_type_option}
                            </select>
                            <input name="bdate" type="text" placeholder="Date" value="{bdate}" class="medium_textbox dpicker sr-only" readonly="readonly" autocomplete="off">
                            <input name="bdateto" type="text" placeholder="Date" value="{bdateto}" class="medium_textbox dpicker sr-only" readonly="readonly" autocomplete="off">
                        </div>
                        <div class="form-group clearfix">
                            <span class="text ">&nbsp;</span>
                            <select class="source-option select-multiple-option" multiple="true" name="rsource[]" id="select-report-source" autocomplete="off">
                                {report_source_option}
                            </select>
                        </div>
                        <div class="clearfix">
                            <span class="text">&nbsp;</span>
                            <select class="status-option select-multiple-option" multiple="" name="bstatus[]" id="select-booking-status" autocomplete="off">
                                {report_status_option}
                            </select>
                            <input name="filter" type="submit" value="Apply" class="filters">
                        </div>
                    </div>
                </div>
            </div>
            <div id="data-list" class="row"></div>
        </form>
    </div>
</div>

<script>
    function load_ajax_data()
    {
        var prm          = new Object;
            prm.plog     = 'hs-sales-sum-report';
            prm.bdate    = jQuery('[name=bdate]').val();
            prm.bdateto  = jQuery('[name=bdateto]').val();
            prm.rtype    = jQuery('#select-report-type').val();
            prm.lcid     = jQuery('#select-report-view').val();
            prm.rsource  = jQuery('#select-report-source').val();
            prm.bstatus  = jQuery('#select-booking-status').val();

        jQuery.ajax({
            method: 'POST',
            url: '{ajax_response}',
            data: prm,
            dataType : 'json',           
            success: function( data ){
                if( data.total == 0 ) 
                {
                    var html =
                    '<div class="col-md-12">'+
                        '<div class="report-list">'+
                            '<div class="row">'+
                                '<div class="col-md-12">'+
                                    '<p class="text-center text-danger">No data was found<p>'+
                                '</div>'+
                            '</div>'+
                        '</div>'+
                    '</div>';

                    jQuery('#data-list').html( html );
                }
                else
                {
                    var i    = 0;
                    var html =
                    '<div id="print" class="row">'+
                        '<div class="col-md-12">'+
                            '<div class="report-chart-wrapp">'+
                                '<div id="report-chart" class="report-chart"></div>'+
                                '<div class="report-chart-legend"></div>'+
                            '</div>'+
                        '</div>'+
                        '<div class="col-md-12">'+
                            '<div class="report-list market-segment">'+
                                '<div class="row">'+
                                    '<div class="col-md-12">'+
                                        '<div class="row-total">'+
                                            '<div class="row">'+
                                                '<div class="col-md-12">'+
                                                    '<div class="row">'+
                                                        '<div class="col-md-6">'+
                                                            '<h3>Total Amount</h3>'+
                                                        '</div>'+
                                                        '<div class="col-md-6">'+
                                                            '<p class="bold text-right">'+ data.total + '(100%)</p>'+
                                                        '</div>'+
                                                    '</div>'+
                                                '</div>'+
                                            '</div>'+
                                        '</div>'+
                                        '<div class="row-item">'+
                                            '<div class="row">'+
                                                '<ul class="col-md-12">';

                                                    jQuery.each( data.items, function( bmonth, dt_bbm ){
                                                        var total_bbm_num = data.total_bbm[ bmonth ];
                                                        var total_bbm_prc = ( total_bbm_num * 100 ) / data.total;

                                                        html +=
                                                        '<li class="'+ ( i == 0 ? 'opened' : '' ) +'">'+
                                                            '<a class="r-head">'+
                                                                '<div class="row">'+
                                                                    '<div class="col-md-6">'+
                                                                        '<h4>'+ bmonth +'</h4>'+
                                                                    '</div>'+
                                                                    '<div class="col-md-6">'+
                                                                        '<p class="text-right medium-bold">'+ total_bbm_num +' ('+ round( total_bbm_prc, 2 ) +'%)</p>'+
                                                                    '</div>'+
                                                                '</div>'+
                                                            '</a>'+
                                                            '<div class="r-content">';

                                                                jQuery.each( dt_bbm.list, function( bdmonth, dt_bdm ){
                                                                    var total_bdm_num = data.total_bdm[ bmonth ][ bdmonth ];
                                                                    var total_bdm_prc = ( total_bdm_num * 100 ) / total_bbm_num;

                                                                    html +=
                                                                    '<div class="item">'+
                                                                        '<a class="rs-head">'+
                                                                            '<div class="row">'+
                                                                                '<div class="col-md-6">'+
                                                                                    '<h5>'+ bdmonth +' Departure</h5>'+
                                                                                '</div>'+
                                                                                '<div class="col-md-6">'+
                                                                                    '<p class="text-right medium-bold">'+ total_bdm_num +' ('+ round( total_bdm_prc, 2 ) +'%)</p>'+
                                                                                '</div>'+
                                                                            '</div>'+
                                                                        '</a>';

                                                                        jQuery.each( dt_bdm.list, function( port_type, dt_btt ){
                                                                            var total_btt_num = data.total_btt[ bmonth ][ bdmonth ][ port_type ];
                                                                            var total_btt_prc = ( total_btt_num * 100 ) / total_bdm_num;

                                                                            html +=
                                                                            '<div class="sub-content">'+
                                                                                '<a class="rs-sub-head">'+
                                                                                    '<div class="row">'+
                                                                                        '<div class="col-md-6">'+
                                                                                            '<h5>'+ port_type +'</h5>'+
                                                                                        '</div>'+
                                                                                        '<div class="col-md-6">'+
                                                                                            '<p class="text-right medium-bold">'+ total_btt_num +' ('+ round( total_btt_prc, 2 ) +'%)</p>'+
                                                                                        '</div>'+
                                                                                    '</div>'+
                                                                                '</a>'+
                                                                                '<div class="rs-table">';

                                                                                    jQuery.each( dt_btt, function( port, dt_bpt ){
                                                                                        var total_bpt_num = data.total_bpt[ bmonth ][ bdmonth ][ port_type ][ port ];
                                                                                        var total_bpt_prc = ( total_bpt_num * 100 ) / total_btt_num;

                                                                                        html +=
                                                                                        '<div class="sub-more-content">'+
                                                                                            '<a class="rs-more-sub-head">'+
                                                                                                '<div class="row">'+
                                                                                                    '<div class="col-md-6">'+
                                                                                                        '<h5>'+ port +'</h5>'+
                                                                                                    '</div>'+
                                                                                                    '<div class="col-md-6">'+
                                                                                                        '<p class="text-right medium-bold">'+ total_bpt_num +' ('+ round( total_bpt_prc, 2 ) +'%)</p>'+
                                                                                                    '</div>'+
                                                                                                '</div>'+
                                                                                            '</a>'+
                                                                                            '<div class="rs-more-table">'+
                                                                                                '<table id="reservation-table" class="table table-striped" cellspacing="0" width="100%">'+
                                                                                                    '<tbody>';

                                                                                                        jQuery.each( dt_bpt, function( trip, dt_btn ){
                                                                                                            var total_btn_num = data.total_btn[ bmonth ][ bdmonth ][ port_type ][ port ][ trip ];
                                                                                                            var total_btn_prc = ( total_btn_num * 100 ) / total_bpt_num;

                                                                                                            html +=
                                                                                                            '<tr>'+
                                                                                                                '<td>'+ trip +'</td>'+
                                                                                                                '<td align="right">'+ total_btn_num +' ('+ round( total_btn_prc, 2 ) +'%)</td>'+
                                                                                                            '</tr>';
                                                                                                        });

                                                                                                        html +=
                                                                                                    '</tbody>'+
                                                                                                '</table>'+
                                                                                            '</div>'+
                                                                                        '</div>';
                                                                                    });

                                                                                    html +=
                                                                                '</div>'+
                                                                            '</div>';

                                                                        });

                                                                        html +=
                                                                    '</div>';
                                                                });

                                                                html +=
                                                            '</div>'+
                                                        '</li>';

                                                        i++;
                                                    });

                                                    html +=
                                                '</ul>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                            '</div>'+
                        '</div>'+
                    '</div>'+
                    '<div class="row">'+
                        '<div class="form-action clearfix">'+
                            '<textarea class="sr-only" name="chart_data">{chart_data}</textarea>'+
                            '<button type="submit" class="btn-print pull-left" name="print">Print Report</button>'+
                            '<button type="submit" class="btn-export-pdf pull-left" name="export_pdf">Export as PDF</button>'+
                            '<button type="submit" class="btn-export-csv pull-left" name="export_csv">Export as CSV</button>'+
                        '</div>'+
                    '</div>';

                    jQuery('#data-list').html(html);

                    gen_chart( data.chart );

                    print_action( data.filter );

                    jQuery('.r-head').unbind();
                    jQuery('.r-head').on('click', function(){
                        jQuery(this).parent().toggleClass('opened');
                    });

                    jQuery('.r-head').unbind();
                    jQuery('.r-head').on('click', function(){
                        jQuery(this).parent().toggleClass('opened');
                    });

                    jQuery('.rs-head').unbind();
                    jQuery('.rs-head').on('click', function(){
                        jQuery(this).parent().toggleClass('sub-opened');
                    });

                    jQuery('.rs-sub-head').unbind();
                    jQuery('.rs-sub-head').on('click', function(){
                        jQuery(this).parent().toggleClass('tab-opened');
                    });

                    jQuery('.rs-more-sub-head').unbind();
                    jQuery('.rs-more-sub-head').on('click', function(){
                        jQuery(this).parent().toggleClass('sub-2-opened');
                    });
                }
            },          
            beforeSend: function(){
                jQuery('.section-overlay').show();
            },
            complete:function(data){
                jQuery('.section-overlay').hide();
            },
            error: function(e){
                console.log('Ajax Error!!');
            }
        });
    }

    function print_action( fltr )
    {
        jQuery('[name=print]').on('click', function(){
            window.open('', '_blank').location.href = '{site_url}/hs-sales-sum-print-report?filter='+fltr;
            return false;
        });

        jQuery('[name=export_pdf]').on('click', function(){
            window.open('', '_blank').location.href = '{site_url}/hs-sales-sum-pdf-report?filter='+fltr;
            return false;
        });

        jQuery('[name=export_csv]').on('click', function(){
            window.open('', '_blank').location.href = '{site_url}/hs-sales-sum-csv-report?filter='+fltr;
            return false;
        });
    }

    jQuery(document).ready(function(){
        jQuery('.select-option').chosen({ disable_search_threshold:10 });
        jQuery('.status-option').chosen({ max_selected_options:10, search_contains:true, placeholder_text_multiple:'Payment Status' });
        jQuery('.source-option').chosen({ max_selected_options:10, search_contains:true, placeholder_text_multiple:'Booking Source' });

        jQuery('[name=filter]').on('click', function(){
            load_ajax_data();
            return false;
        });

        jQuery('[name=rtype]').on('change', function(){
            jQuery('[name=bdate]').datepicker('destroy').val('');
            jQuery('[name=bdateto]').datepicker('destroy').val('');

            set_filter_period( jQuery(this).val(), 'bdate', 'bdateto' );
        });

        set_filter_period( jQuery('[name=rtype]').val(), 'bdate', 'bdateto' );

        load_ajax_data();
    });
</script>

<!-- END report-block -->
