<!-- BEGIN report-block -->

<div class="wrapper-block report-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="areport">
            <div class="row">
                <div class="col-md-12"> 
                    <h1>Market Segment</h1>
                </div>
            </div>
            <div class="row">    
                <div class="col-md-12">
                    <div class="filter-box clearfix">
                        <span class="text">Filter</span>
                        <select name="rview" id="select-report-view" class="sr-only">
                            {report_view_option}
                        </select>
                        <select name="ryear" id="select-report-year" class="select-option">
                            <option value="">Select Period</option>
                            {report_year_option}
                        </select>
                        <input name="filter" type="submit" value="Apply" class="filters">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="report-chart-wrapp">
                        <div id="report-chart" class="report-chart"></div>                        
                        <div class="report-chart-legend"></div>
                    </div>
                </div>
                <div class="col-md-12">
	                <div class="report-list market-segment">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row-total">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h3>Total Amount</h3>
                                                </div>
                                                <div class="col-md-6">
                                                    <p class="bold text-right">{total} (100%)</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-item">
                                    <div class="row">
                                        <ul class="col-md-12">

                                            <!-- BEGIN report-data-block -->

                                            <li class="{trip_item_cls}">
                                                <a class="r-head">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <h4>{rev_month}</h4>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <p class="text-right medium-bold">{total_revenue_by_month} ({total_percent_revenue_by_month}%)</p>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="r-content">
                                                    {trip_data}
                                                </div>
                                            </li>

                                            <!-- END report-data-block -->

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-action clearfix">
                    <textarea class="sr-only" name="chart_data">{chart_data}</textarea>
                    <button type="submit" class="btn-print pull-left" name="print">Print Report</button>
                    <button type="submit" class="btn-export-pdf pull-left" name="export_pdf">Export as PDF</button>
                    <button type="submit" class="btn-export-csv pull-left" name="export_csv">Export as CSV</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    jQuery(function () {
        var data    = jQuery('[name=chart_data]').val();
        var legend  = jQuery('.report-chart-legend');
        var options = jQuery.parseJSON( jQuery.base64.decode( data ) );
        
        jQuery.each( options.series, function(i, e){
            legend.append('<a><span></span>'+e.name+'</a>');
        });

        options.chart.marginTop = legend.innerHeight() + 50;

        var report = Highcharts.chart('report-chart', options );

        jQuery(report.series).each(function(i, e){
            jQuery('.report-chart-legend a:eq('+i+')').css('border-bottom-color', e.color);
        });

        jQuery('.report-chart-legend a').click(function (){
            var idx = jQuery(this).index();

            jQuery(this).toggleClass('leg-clicked');
            jQuery('.highcharts-legend-item:eq('+idx+')').trigger('click');
        });
    });

    jQuery(document).ready(function(){
        jQuery('.select-option').chosen({ disable_search_threshold:10 });

        jQuery('.r-head').on('click', function(){
            jQuery(this).parent().toggleClass('opened');
        });

        jQuery('.rs-head').on('click', function(){
            jQuery(this).parent().toggleClass('sub-opened');
        });

        jQuery('.rs-sub-head').on('click', function(){
            jQuery(this).parent().toggleClass('tab-opened');
        });

        jQuery('[name=print]').on('click', function(){
            window.open('', '_blank').location.href = '{site_url}/market-segment-pdf-report?filter={filter}&print=true';
            return false;
        });

        jQuery('[name=export_pdf]').on('click', function(){
            window.open('', '_blank').location.href = '{site_url}/market-segment-pdf-report?filter={filter}';
            return false;
        });

        jQuery('[name=export_csv]').on('click', function(){
            window.open('', '_blank').location.href = '{site_url}/market-segment-csv-report?filter={filter}';
            return false;
        });
    });
</script>

<!-- END report-block -->

<!-- BEGIN no-report-block -->

<div class="wrapper-block report-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="areport">
            <div class="row">
                <div class="col-md-12"> 
                    <h1>Market Segment</h1>
                </div>
            </div>
            <div class="row">     
                <div class="col-md-12">
                    <div class="filter-box clearfix">
                        <span class="text">Filter</span>
                        <select name="rview" id="select-report-view" class="select-option">
                            {report_view_option}
                        </select>
                        <select name="ryear" id="select-report-year" class="select-option">
                            <option value="">Select Period</option>
                            {report_year_option}
                        </select>
                        <input name="filter" type="submit" value="Apply" class="filters">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="report-list market-segment">
                        <p class="text-center text-danger">No data was found<p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery('.select-option').chosen({ disable_search_threshold:10 });
    });
</script>

<!-- END no-report-block -->