<!-- BEGIN report-block -->

<div class="wrapper-block report-block passenger-report-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="areport">
            <div class="row">
                <div class="col-md-12"> 
                    <h1>Passenger List</h1>
                </div>
            </div>
            <div class="row">     
                <div class="col-md-12">
                    <div class="filter-box">
                        <div class="form-group clearfix">
                            <span class="text">Filter</span>
                            <select class="select-option-route select-multiple-option" multiple="" name="rid[]" id="select-booking-status">
                                {route_option}
                            </select>
                            <select class="select-option" name="boid" id="select-boat">
                                {boat_option}
                            </select>
                            <select class="select-option" name="chids" id="select-chanel">
                                {booking_source_option}
                            </select>
                            <select class="select-option" name="taid" id="select-area">
                                {area_option}
                            </select>
                        </div>
                        <div class="clearfix">
                            <span class="text ">&nbsp;</span>
                            <select class="select-booking-status select-multiple-option" multiple="" name="bstatus[]" id="select-booking-status">
                                {booking_status_option}
                            </select>
                            <select class="select-option" name="rtype" id="select-report-type">
                                {report_type_option}
                            </select>
                            <input name="bddate" type="text" placeholder="Date" value="{bddate}" class="medium_textbox dpicker sr-only" readonly="readonly">
                            <input name="bddateto" type="text" placeholder="Date" value="{bddateto}" class="medium_textbox dpicker sr-only" readonly="readonly">
                            <input name="filter" type="submit" value="Apply" class="filters">
                        </div>
                    </div>
                </div>
            </div>
            <div id="data-list"></div>
        </form>
    </div>

    <div id="report-content" class="report-content sr-only">
        <textarea name="report_content">{pdf_data}</textarea>
    </div>
</div>

<script type="text/javascript">

    function load_ajax_data()
    {
        var rid = [];
        jQuery('.select-option-route option:selected').each(function() {
            rid.push( jQuery(this).val() );
        });

        var bstatus = [];
        jQuery('.select-booking-status option:selected').each(function() {
            bstatus.push( jQuery(this).val() );
        });

        var prm          = new Object;
            prm.plog     = 'passanger-list';
            prm.bstatus  = bstatus;
            prm.rid      = rid;
            prm.boid     = jQuery('[name=boid]').val();
            prm.chids    = jQuery('[name=chids]').val();
            prm.taid     = jQuery('[name=taid]').val();
            prm.bddate   = jQuery('[name=bddate]').val();
            prm.bddateto = jQuery('[name=bddateto]').val();
            prm.rtype    = jQuery('[name=rtype]').val();

        jQuery.ajax({
            method: 'POST',
            url: '{ajax_response}',
            data: prm,
            dataType : 'json',           
            success: function( data ){
                if( data.total == 0 )
                {
                    var html =
                    '<div class="row">'+
                        '<div class="col-md-12">'+
                            '<div class="report-list passenger-list">'+
                                '<div class="row">'+
                                    '<div class="col-md-12">'+
                                        '<p class="text-center text-danger">No data was found<p>'+
                                    '</div>'+
                                '</div>'+
                            '</div>'+
                        '</div>'+
                    '</div>';  

                    jQuery('#data-list').html(html);
                }
                else
                {
                    var i    = 0;
                    var html =
                    '<div class="row">'+
                        '<div class="col-md-12">'+
                            '<div class="report-chart-wrapp">'+
                                '<div id="report-chart" class="report-chart"></div>'+
                                '<div class="report-chart-legend"></div>'+
                            '</div>'+
                        '</div>'+
                        '<div class="col-md-12">'+
                            '<div class="report-list passenger-list">'+
                                '<div class="row">'+
                                    '<div class="col-md-12">'+
                                        '<div class="row-total">'+
                                            '<div class="row">'+
                                                '<div class="col-md-12">'+
                                                    '<div class="row">'+
                                                        '<div class="col-md-6">'+
                                                            '<h3>Total Passenger</h3>'+
                                                        '</div>'+
                                                        '<div class="col-md-6">'+
                                                            '<p class="bold text-right">' + data.total + ' (100%)</p>'+
                                                        '</div>'+
                                                    '</div>'+
                                                '</div>'+
                                            '</div>'+
                                        '</div>'+
                                        '<div class="row-item">'+
                                            '<div class="row">'+
                                                '<ul class="col-md-12">';

                                                    jQuery.each( data.items, function( loc, data_loc ){
                                                        var opt    = jQuery.parseJSON( jQuery.base64.decode( loc ) );
                                                        var opened = i <= 0 ? 'opened' : '';

                                                        html +=
                                                        '<li class="' + opened + '">'+
                                                            '<a class="r-head">'+
                                                                '<div class="row">'+
                                                                    '<div class="col-md-6">'+
                                                                        '<h4>' + opt[0] + '</h4>'+
                                                                    '</div>'+
                                                                    '<div class="col-md-6">'+
                                                                        '<p class="text-right medium-bold">' + opt[1] + ' (' + opt[2] + ' %)</p>'+
                                                                    '</div>'+
                                                                '</div>'+
                                                            '</a>'+
                                                            '<div class="r-content">';

                                                                jQuery.each( data_loc, function( cnl, data_channel ){
                                                                    var channel = jQuery.parseJSON( jQuery.base64.decode( cnl ) );
                                                                    
                                                                    html +=
                                                                    '<div id="' + channel[0] + '" class="item">'+
                                                                        '<div class="rs-head">'+
                                                                            '<div class="row">'+
                                                                                '<div class="col-md-6">'+
                                                                                    '<h5>(' + channel[1] + ') ' + channel[2] + '</h5>'+
                                                                                '</div>'+
                                                                                '<div class="col-md-6">'+
                                                                                    '<p class="text-right medium-bold">' + channel[3] + ' (' + channel[4] + '%)</p>'+
                                                                                '</div>'+
                                                                            '</div>'+
                                                                        '</div>'+
                                                                        '<div class="rs-table">'+
                                                                            '<table id="reservation-table" class="table table-striped" cellspacing="0" width="100%">'+
                                                                                '<thead>'+
                                                                                    '<tr>'+
                                                                                        '<th width="15%">Booked By</th>'+
                                                                                        '<th width="10%">Booking Date</th>'+
                                                                                        '<th width="10%">Guest Name</th>'+
                                                                                        '<th width="5%">Chn</th>'+
                                                                                        '<th width="15%">Route</th>'+
                                                                                        '<th width="10%">Resv/Ticket #</th>'+
                                                                                        '<th width="10%">Travel Date</th>'+
                                                                                        '<th width="10%">Boat</th>'+
                                                                                        '<th width="10%">Pickup Area</th>'+
                                                                                        '<th width="10%">Drop-off Area</th>'+
                                                                                        '<th width="15%">Remark</th>'+
                                                                                    '</tr>'+
                                                                                '</thead><tbody>';
                                                                                jQuery.each(data_channel, function(i, dt) {
                                                                                    html +=
                                                                                    '<tr>'+
                                                                                        '<td>' + dt.bbname + '</td>'+
                                                                                        '<td>' + dt.bdate + '</td>'+
                                                                                        '<td>' + dt.gname + '</td>'+
                                                                                        '<td>' + dt.chcode + '</td>'+
                                                                                        '<td>' + dt.rname + '</td>'+
                                                                                        '<td><a rel="' + dt.bid + '"></a>' + dt.bticket + '</td>'+
                                                                                        '<td>' + dt.bddate + '</td>'+
                                                                                        '<td>' + dt.bocode + '</td>'+
                                                                                        '<td>' + dt.bdpickup + '</td>'+
                                                                                        '<td>' + dt.bddropoff + '</td>'+
                                                                                        '<td>' + dt.bremark + '</td>'+
                                                                                    '</tr>';
                                                                                });
                                                                                html +=
                                                                                '</tbody>'+
                                                                            '</table>'+
                                                                        '</div>'+
                                                                    '</div>';
                                                                });

                                                                html += 
                                                            '</div>'+
                                                        '</li>';
                                                        i = i + 1;
                                                    });
                                                    html +=
                                                '</ul>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                            '</div>'+
                        '</div>'+
                    '</div>'+
                    '<div class="row">'+
                        '<div class="form-action clearfix">'+
                            '<button type="submit" class="btn-print pull-left" name="print">Print Report</button>'+
                            '<button type="submit" class="btn-print pull-left" name="print2">Print Report FO</button>'+
                            '<button type="submit" class="btn-print pull-left" name="print3">Print Report Accounting</button>'+
                            '<button type="submit" class="btn-export-pdf pull-left" name="export_pdf">Export as PDF</button>'+
                            '<button type="submit" class="btn-export-csv pull-left" name="export_csv">Export as CSV</button>'+
                            '<button type="submit" class="btn-export-csv pull-left" name="export_row">Export ROW as CSV</button>'+
                        '</div>'+
                    '</div>';

                    jQuery('#data-list').html(html);

                    gen_chart( data.chart );
                    print_action( data.filter );
                    
                    jQuery('.r-head').unbind();
                    jQuery('.r-head').on('click', function(){
                        jQuery(this).parent().toggleClass('opened');
                    });
                }
            },          
            beforeSend: function(){
                jQuery(".section-overlay").show();
            },
            complete:function(data){
                jQuery(".section-overlay").hide();
            },
            error: function(e){
                console.log('Error!!');
            }
        });
    }

    function print_action( fltr )
    {
        jQuery('[name=print]').on('click', function(){
            window.open('', '_blank').location.href = '{site_url}/passenger-list-print-report?filter='+fltr;
            return false;
        });

        jQuery('[name=print2]').on('click', function(){
            window.open('', '_blank').location.href = '{site_url}/passenger-list-fo-print-report?filter='+fltr;
            return false;
        });

        jQuery('[name=print3]').on('click', function(){
            window.open('', '_blank').location.href = '{site_url}/passenger-list-accounting-print-report?filter='+fltr;
            return false;
        });

        jQuery('[name=export_pdf]').on('click', function(){
            window.open('', '_blank').location.href = '{site_url}/passenger-list-pdf-report?filter='+fltr;
            return false;
        });

        jQuery('[name=export_csv]').on('click', function(){
            window.open('', '_blank').location.href = '{site_url}/passenger-list-csv-report?filter='+fltr;
            return false;
        });
        
        jQuery('[name=export_row]').on('click', function(){
            window.open('', '_blank').location.href = '{site_url}/passenger-row-csv-report?filter='+fltr;
            return false;
        });
    }

    function set_filter_period( val, from, to )
    {
        if( val == '' )
        {
            jQuery('[name=' + from + ']').addClass('sr-only');
            jQuery('[name=' + to + ']').addClass('sr-only');
        }
        else if( val == 0 )
        {         
            jQuery('[name=' + from + ']').removeClass('sr-only');
            jQuery('[name=' + from + ']').datepicker({
                dateFormat:'dd MM yy',
                yearRange: '-15:+2',
                beforeShow : function(input, inst){
                    jQuery('#ui-datepicker-div').removeClass('hide-calendar hide-month');                   
                }
            });

            jQuery('[name=' + from + ']').datepicker('setDate', new Date());

            jQuery('[name=' + to + ']').datepicker('setDate', '');
            jQuery('[name=' + to + ']').addClass('sr-only');           
        }
        else if( val == 1 )
        {
            jQuery('[name=' + from + ']').removeClass('sr-only');
            jQuery('[name=' + from + ']').datepicker({
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'MM yy',
                yearRange: '-15:+2',
                onClose: function( dateText, inst ){ 
                    var month = jQuery('#ui-datepicker-div .ui-datepicker-month :selected').val();
                    var year  = jQuery('#ui-datepicker-div .ui-datepicker-year :selected').val();
                    var date  = new Date( year, month, 1 );
                    
                    jQuery(this).datepicker('setDate', date).trigger('change');
                },
                beforeShow : function(input, inst){                        
                    jQuery('#ui-datepicker-div').addClass('hide-calendar');

                    var datestr = jQuery(this).val();

                    if( datestr.length > 0 )
                    {
                        var year  = new Date( Date.parse( '1 ' + datestr ) ).getFullYear();
                        var month = new Date( Date.parse( '1 ' + datestr ) ).getMonth() + 1;

                        jQuery(this).datepicker('option', 'defaultDate', new Date( year, month - 1, 1 ));
                        jQuery(this).datepicker('setDate', new Date( year, month - 1, 1 ));
                    }
                }
            });

            jQuery('[name=' + from + ']').datepicker('setDate', new Date());

            jQuery('[name=' + to + ']').datepicker('setDate', '');
            jQuery('[name=' + to + ']').addClass('sr-only');
        }
        else if( val == 2 )
        {
            jQuery('[name=' + from + ']').removeClass('sr-only');
            jQuery('[name=' + from + ']').datepicker({
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'yy',
                yearRange: '-15:+2',
                onClose: function( dateText, inst ){ 
                    var year  = jQuery('#ui-datepicker-div .ui-datepicker-year :selected').val();
                    var date  = new Date( year, 1, 1 );
                    
                    jQuery(this).datepicker('setDate', date).trigger('change');
                },
                beforeShow : function(input, inst){                        
                    jQuery('#ui-datepicker-div').addClass('hide-calendar hide-month');

                    var datestr = jQuery(this).val();

                    if( datestr.length > 0 )
                    {
                        var year  = new Date( Date.parse( '1 Jan ' + datestr ) ).getFullYear();

                        jQuery(this).datepicker('option', 'defaultDate', new Date( year, 1, 1 ));
                        jQuery(this).datepicker('setDate', new Date( year, 1, 1 ));
                    }
                }
            });

            jQuery('[name=' + from + ']').datepicker('setDate', new Date());

            jQuery('[name=' + to + ']').datepicker('setDate', '');
            jQuery('[name=' + to + ']').addClass('sr-only');
        }
        else if( val == 3 )
        {
            jQuery('[name=' + from + ']').removeClass('sr-only');
            jQuery('[name=' + from + ']').datepicker({
                dateFormat:'dd MM yy',
                yearRange: '-15:+2',
                beforeShow : function(input, inst){
                    jQuery('#ui-datepicker-div').removeClass('hide-calendar hide-month');
                },
                onSelect: function(date){
                    var date2 = jQuery('[name=' + to + ']').datepicker('getDate');

                    if( date2 == null )
                    {
                        jQuery('[name=' + to + ']').datepicker('setDate', date);
                    }

                    jQuery('[name=' + to + ']').datepicker('option', 'minDate', date);
                }
            });

            jQuery('[name=' + to + ']').removeClass('sr-only');
            jQuery('[name=' + to + ']').datepicker({
                dateFormat:'dd MM yy',
                yearRange: '-15:+2',
                onClose: function(date){
                    var date2 = jQuery('[name=' + from + ']').datepicker('getDate');

                    if( date2 == null )
                    {
                        jQuery('[name=' + from + ']').datepicker('setDate', date);
                    }
                    
                    jQuery('[name=' + from + ']').datepicker('option', 'maxDate', date);
                }
            });

            jQuery('[name=' + from + ']').datepicker('setDate', new Date());
            jQuery('[name=' + to + ']').datepicker('setDate', new Date());
        }
        else if( val == 4 )
        {
            jQuery('[name=' + from + ']').removeClass('sr-only');
            jQuery('[name=' + from + ']').datepicker({
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'yy',
                yearRange: '-15:+2',
                onClose: function( dateText, inst ){ 
                    var year  = jQuery('#ui-datepicker-div .ui-datepicker-year :selected').val();
                    var year2  = jQuery('[name=' + to + ']').val();    
                    var date  = new Date( year, 1, 1 );

                    if( year2 == "" )
                    {
                        jQuery('[name=' + to + ']').datepicker('setDate', date).trigger('change');
                    }
                    
                    jQuery(this).datepicker('setDate', date).trigger('change');
                },
                beforeShow : function(input, inst){                        
                    jQuery('#ui-datepicker-div').addClass('hide-calendar hide-month');

                    var datestr = jQuery('[name=' + to + ']').val();

                    if( datestr.length > 0 )
                    {
                        var year  = new Date( Date.parse( '1 Jan ' + datestr ) ).getFullYear();
                        
                        jQuery(this).datepicker('option', 'maxDate', new Date( year, 1, 1 ));
                        jQuery(this).datepicker('option', 'yearRange', ( year - 5 ) + ':' + year );                   
                    }
                }
            });

            jQuery('[name=' + to + ']').removeClass('sr-only');
            jQuery('[name=' + to + ']').datepicker({
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'yy',
                yearRange: '-15:+2',
                onClose: function( dateText, inst ){ 
                    var year  = jQuery('#ui-datepicker-div .ui-datepicker-year :selected').val();
                    var date  = new Date( year, 1, 1 );

                    jQuery(this).datepicker('setDate', date).trigger('change');
                },
                beforeShow : function(input, inst){                        
                    jQuery('#ui-datepicker-div').addClass('hide-calendar hide-month');

                    var datestr = jQuery('[name=' + from + ']').val();

                    if( datestr.length > 0 )
                    {
                        var year  = new Date( Date.parse( '1 Jan ' + datestr ) ).getFullYear();
                        jQuery(this).datepicker('option', 'minDate', new Date( year, 1, 1 ));

                        if ( datestr >= new Date().getFullYear()) 
                        {
                            jQuery(this).datepicker('option', 'yearRange', year + ':' + year );                       
                        }
                        else
                        {
                            var min = new Date().getFullYear() - datestr;
                            if ( min >= 5 ) 
                            {
                                jQuery(this).datepicker('option', 'yearRange', year + ':' + ( year + 5 ) );
                            }
                            else
                            {
                                jQuery(this).datepicker('option', 'yearRange', year + ':' + ( year + min ) );
                            }
                        }                    
                    }
                }
            });
        }
    }

    jQuery(document).ready(function(){
        jQuery('[name=filter]').on('click', function(){
            load_ajax_data();
            return false;
        });

        load_ajax_data();

        jQuery('.select-option').chosen({ max_selected_options:10, search_contains:true });
        jQuery('.select-option-route').chosen({ max_selected_options:10, search_contains:true, placeholder_text_multiple:'All Route' });
        jQuery('.select-multiple-option').chosen({ max_selected_options:10, search_contains:true, placeholder_text_multiple:'Payment Status' });

        set_filter_period( jQuery('[name=rtype]').val(), 'bddate', 'bddateto' );
        
        jQuery('[name=rtype]').on('change', function(){
            jQuery('[name=bddate]').datepicker('destroy').val('');
            jQuery('[name=bddateto]').datepicker('destroy').val('');

            set_filter_period( jQuery(this).val(), 'bddate', 'bddateto' );
        });
    });
</script>

<!-- END report-block -->