<!-- BEGIN report-block -->

<div class="wrapper-block report-block promo-code-report-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="areport">
            <div class="row">
                <div class="col-md-12">
                    <h1>Promo Code Report</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="filter-box clearfix">
                        <div class="form-group clearfix">
                            <span class="text">Filter</span>
                            <select name="pmcode[]" id="select-pmcode" class="select-multiple-option" autocomplete="off" multiple="" style="width:350px;">
                                {promo_code_option}
                            </select>
                            <select name="rbased" id="select-report-view" class="select-option">
                               {report_based_on_option}
                            </select>
                            <select name="rtype" id="select-report-type" class="select-option">
                                {report_type_option}
                            </select>
                            <input name="bdate" type="text" placeholder="Date" value="{bdate}" class="medium_textbox dpicker sr-only" readonly>
                            <input name="bdateto" type="text" placeholder="Date" value="{bdateto}"  class="medium_textbox dpicker sr-only" readonly>
                        </div>
                        <div class="form-group clearfix">
                            <span class="text"></span>
                            <select name="chid" id="select-channel" class="select-option" autocomplete="off">
                                {booking_source_option}
                            </select>
                            <select name="bstatus[]" id="select-booking-status" class="select-multiple-option" autocomplete="off" multiple="">
                                {booking_status_option}
                            </select>
                            <input name="filter" type="submit" value="Apply" class="filters">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
	                <div class="report-list promo-code-list">
	                	<div class="row">
		                	<div class="col-md-12">
		            			<div class="row-total">
	                				<div class="row">
		                				<div class="col-md-12">
				            				<div class="row">
						            			<div class="col-md-6">
						            				<h3>Total Used</h3>
						            			</div>
						            			<div class="col-md-6">
													<p class="bold text-right">{total} (100%)</p>
						            			</div>
						            		</div>
					            		</div>
					            	</div>
			            		</div>
			            		<div class="row-item">
	                				<div class="row">
				            			<ul class="col-md-12">

                                            <!-- BEGIN report-data-block -->

                                            <li class="{trip_item_cls}">
                                                <a class="r-head">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <h4>{pmcode}</h4>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <p class="text-right medium-bold">{total_used} ({total_used_percent}%)</p>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="r-content">
                                                    {trip_data}
                                                </div>
                                            </li>

                                            <!-- END report-data-block -->

				            			</ul>
				            		</div>
			            		</div>
			            	</div>
			            </div>
			        </div>
			    </div>
			</div>
        	<div class="row">
                <div class="form-action clearfix">
                    <textarea class="sr-only" name="chart_data">{chart_data}</textarea>
                	<button type="submit" class="btn-print pull-left" name="print">Print Report</button>
                	<button type="submit" class="btn-export-pdf pull-left" name="export_pdf">Export as PDF</button>
                	<button type="submit" class="btn-export-csv pull-left" name="export_csv">Export as CSV</button>
                </div>
        	</div>
        </form>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function(){
        set_filter_period( jQuery('[name=rtype]').val(), 'bdate', 'bdateto' );

        jQuery('.select-option').chosen({ max_selected_options:10, search_contains:true });
        jQuery('#select-pmcode').chosen({ max_selected_options:10, search_contains:true, placeholder_text_multiple:'Promo Code' });
        jQuery('#select-booking-status').chosen({ max_selected_options:10, search_contains:true, placeholder_text_multiple:'Payment Status' });

        jQuery('.r-head').on('click', function(){
            jQuery(this).parent().toggleClass('opened');
        });

        jQuery('[name=print]').on('click', function(){
            window.open('', '_blank').location.href = '{site_url}/promo-print-report?filter={filter}';
            return false;
        });

        jQuery('[name=export_pdf]').on('click', function(){
            window.open('', '_blank').location.href = '{site_url}/promo-pdf-report?filter={filter}';
            return false;
        });

        jQuery('[name=export_csv]').on('click', function(){
            window.open('', '_blank').location.href = '{site_url}/promo-csv-report?filter={filter}';
            return false;
        });

        jQuery('[name=rtype]').change(function(){
            jQuery('[name=bdate]').datepicker('destroy').val('');
            jQuery('[name=bdateto]').datepicker('destroy').val('');

            set_filter_period( jQuery(this).val(), 'bdate', 'bdateto' );
        });
    });
</script>

<!-- END report-block -->

<!-- BEGIN no-report-block -->

<div class="wrapper-block report-block promo-code-report-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="areport">
            <div class="row">
                <div class="col-md-12">
                    <h1>Promo Code Report</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="filter-box clearfix">
                        <div class="form-group clearfix">
                            <span class="text">Filter</span>
                            <select name="pmcode[]" id="select-pmcode" class="select-multiple-option" autocomplete="off" multiple="" style="width:350px;">
                                {promo_code_option}
                            </select>
                            <select name="rbased" id="select-report-view" class="select-option">
                               {report_based_on_option}
                            </select>
                            <select name="rtype" id="select-report-type" class="select-option">
                                {report_type_option}
                            </select>
                            <input name="bdate" type="text" placeholder="Date" value="{bdate}" class="medium_textbox dpicker sr-only" readonly>
                            <input name="bdateto" type="text" placeholder="Date" value="{bdateto}"  class="medium_textbox dpicker sr-only" readonly>
                        </div>
                        <div class="form-group clearfix">
                            <span class="text"></span>
                            <select name="chid" id="select-channel" class="select-option" autocomplete="off">
                                {booking_source_option}
                            </select>
                            <select name="bstatus[]" id="select-booking-status" class="select-multiple-option" autocomplete="off" multiple="">
                                {booking_status_option}
                            </select>
                            <input name="filter" type="submit" value="Apply" class="filters">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="report-chart-wrapp">
                        <div id="report-chart" class="report-chart"></div>
                        <div class="report-chart-legend"></div>
                    </div>
                </div>
                <div class="col-md-12">
	                <div class="report-list promo-code-list">
                        <p class="text-center text-danger">No data was found<p>
			        </div>
			    </div>
			</div>
        </form>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function(){
        set_filter_period( jQuery('[name=rtype]').val(), 'bdate', 'bdateto' );

        jQuery('.select-option').chosen({ max_selected_options:10, search_contains:true });
        jQuery('#select-pmcode').chosen({ max_selected_options:10, search_contains:true, placeholder_text_multiple:'Promo Code' });
        jQuery('#select-booking-status').chosen({ max_selected_options:10, search_contains:true, placeholder_text_multiple:'Payment Status' });

        jQuery('[name=rtype]').change(function(){
            jQuery('[name=bdate]').datepicker('destroy').val('');
            jQuery('[name=bdateto]').datepicker('destroy').val('');

            set_filter_period( jQuery(this).val(), 'bdate', 'bdateto' );
        });
    });
</script>

<!-- END no-report-block -->
