<!-- BEGIN report-block -->

<div class="wrapper-block tab-report report-block reservation-report-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="areport">
            <div class="row">
                <div class="col-md-6"> 
                    <h1>Reservation Report</h1>
                </div>
            </div>
            <div class="row">     
                <div class="col-md-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="{reservation_report_link}">Reservation Report</a></li>
                        <li role="presentation"><a href="{reservation_timeline_report}">Reservation Timeline Report</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active">
                            <div class="filter-box clearfix">                            
                                <div class="form-group clearfix">
                                    <span class="text">Filter</span>
                                    <select name="rview" id="select-report-view" class="sr-only">
                                        {report_view_option}
                                    </select>
                                    <select name="rid" id="select-route" class="select-option">
                                        {route_option}
                                    </select>
                                    <select name="chid" id="select-channel" class="select-option">
                                        {booking_source_option}
                                    </select>
                                    <select name="rtype" id="select-report-type" class="select-option">
                                        {report_type_option}
                                    </select>
                                    <input name="bdate" type="text" placeholder="Date" value="{bdate}"  class="medium_textbox dpicker sr-only">
                                    <input name="bdateto" type="text" placeholder="Date" value="{bdateto}"  class="medium_textbox dpicker sr-only">
                                </div>
                                <div class="form-group clearfix">
                                    <span class="text ">&nbsp;</span>
                                    <select class="select-multiple-option" multiple="" name="bstatus[]" id="select-booking-status">
                                        {booking_status_option}
                                    </select>
                                    <input name="filter" type="submit" value="Apply" class="filters">
                                </div>
                            </div>
                            <div id="data-list"></div> 
                        </div>                        
                    </div>
                </div>
            </div>                 	
        </form>
    </div>
</div>

<script type="text/javascript">

    function load_ajax_data( filter )
    {
        var prm         = new Object;
            prm.plog    = 'reservation-list';
            prm.rview   = jQuery('[name=rview]').val();
            prm.rid     = jQuery('[name=rid]').val();
            prm.chid    = jQuery('[name=chid]').val();
            prm.rtype   = jQuery('[name=rtype]').val();
            prm.bdate   = jQuery('[name=bdate]').val();
            prm.bdateto = jQuery('[name=bdateto]').val();
            prm.bstatus = jQuery('#select-booking-status').val();

        jQuery.ajax({
            method: 'POST',
            url: '{ajax_response}',
            data: prm,
            dataType : 'json',           
            success: function( data ){
                if( data.total == 0 )
                {
                    var html =
                    '<div class="row">'+
                        '<div class="col-md-12">'+
                            '<div class="report-list">'+
                                '<div class="row">'+
                                    '<div class="col-md-12">'+
                                        '<p class="text-center text-danger">No data was found<p>'+
                                    '</div>'+
                                '</div>'+
                            '</div>'+
                        '</div>'+
                    '</div>';    

                    $('#data-list').html(html);
                }
                else
                {
                    var i    = 0;
                    var html =
                    '<div class="row">'+
                        '<div class="col-md-12">'+
                            '<div class="report-chart-wrapp">'+
                                '<div id="report-chart" class="report-chart"></div>'+                        
                                '<div class="report-chart-legend"></div>'+
                            '</div>'+
                        '</div>'+
                        '<div class="col-md-12">'+
                            '<div class="report-list reservation-list">'+
                                '<div class="row">'+
                                    '<div class="col-md-12">'+
                                        '<div class="row-total">'+
                                            '<div class="row">'+
                                                '<div class="col-md-12">'+
                                                    '<div class="row">'+
                                                        '<div class="col-md-6">'+
                                                            '<h3>Total Amount</h3>'+
                                                        '</div>'+
                                                        '<div class="col-md-6">'+
                                                            '<div class="row">'+
                                                                '<div class="col-md-9">'+                                       
                                                                    '<p class="bold text-right">Total Pax : ' + data.total_pax + '</p>'+
                                                                '</div>'+
                                                                '<div class="col-md-3">'+
                                                                    '<p class="bold text-right">' + data.total + ' (100%)</p>'+
                                                                '</div>'+
                                                            '</div>'+
                                                        '</div>'+
                                                    '</div>'+
                                                '</div>'+
                                            '</div>'+
                                        '</div>'+
                                        '<div class="row-item">'+
                                            '<div class="row">'+
                                                '<ul class="col-md-12">';

                                                    $.each(data.items, function(date, by_date) {
                                                        var opened = '';
                                                        if ( i <= 0 ){ opened = 'opened'; }
                                                        var dt = jQuery.parseJSON( jQuery.base64.decode( date ) );

                                                        html += 
                                                        '<li class="' + opened + '">'+
                                                            '<a class="r-head">'+
                                                                '<div class="row">'+
                                                                    '<div class="col-md-6">'+
                                                                        '<h4>' + dt[0] + '</h4>'+
                                                                    '</div>'+
                                                                    '<div class="col-md-6">'+
                                                                        '<p class="text-right medium-bold">' + dt[1] + ' (' + dt[2] + ' %)</p>'+
                                                                    '</div>'+
                                                                '</div>'+
                                                            '</a>'+
                                                            '<div class="r-content">';
                                                                $.each(by_date, function(grp, by_group) {
                                                                    var group = jQuery.parseJSON( jQuery.base64.decode( grp ) );
                                                                    html +=
                                                                    '<div class="item">'+
                                                                        '<a class="rs-head">'+
                                                                            '<div class="row">'+
                                                                                '<div class="col-md-6">'+
                                                                                    '<h5>(' + group[0] + ') ' + group[1] + '</h5>'+
                                                                                '</div>'+
                                                                                '<div class="col-md-6">'+
                                                                                    '<p class="text-right medium-bold">' + group[2] + ' (' + group[3] + '%)</p>'+
                                                                                '</div>'+
                                                                            '</div>'+
                                                                        '</a>'+
                                                                        '<div class="sub-content tab-opened">'+
                                                                            '<div class="rs-table">'+
                                                                                '<table id="reservation-table" class="table table-striped" cellspacing="0" width="100%">'+
                                                                                    '<thead>'+
                                                                                        '<tr>'+
                                                                                            '<th width="20%">Resv #</th>'+
                                                                                            '<th width="20%">Trip</th>'+
                                                                                            '<th width="20%">Adult</th>'+
                                                                                            '<th width="10%">Child</th>'+
                                                                                            '<th width="10%">Infant</th>'+
                                                                                            '<th width="10%">Booking Source</th>'+
                                                                                            '<th width="10%">Amount</th>'+
                                                                                        '</tr>'+
                                                                                    '</thead>'+
                                                                                    '<tbody>';
                                                                                        $.each(by_group, function(i, dt) {
                                                                                            console.log(dt);
                                                                                            html +=
                                                                                            '<tr>'+
                                                                                                '<td><a rel="' + dt.bid + '">' + dt.bticket + '</a></td>'+
                                                                                                '<td>' + dt.trips + '</td>'+
                                                                                                '<td>' + dt.num_adult + '</td>'+
                                                                                                '<td>' + dt.num_child + '</td>'+
                                                                                                '<td>' + dt.num_infant + '</td>'+
                                                                                                '<td>' + dt.bsource + '</td>'+
                                                                                                '<td>' + dt.amount + '</td>'+
                                                                                            '</tr>';
                                                                                        });
                                                                                    html +=
                                                                                    '</tbody>'+
                                                                                '</table>'+
                                                                            '</div>'+
                                                                        '</div>'+
                                                                    '</div>';
                                                                });
                                                        html +=
                                                            '</div>'+
                                                        '</li>';

                                                        i = i + 1;
                                                    });

                                                html +=
                                                '</ul>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                            '</div>'+
                        '</div>'+   
                    '</div>';  
                    html += 
                    '<div class="row">'+
                        '<div class="form-action clearfix">'+
                            '<textarea class="sr-only" name="chart_data">{chart_data}</textarea>'+
                            '<button type="submit" class="btn-print pull-left" name="print">Print Report</button>'+
                            '<button type="submit" class="btn-export-pdf pull-left" name="export_pdf">Export as PDF</button>'+
                            '<button type="submit" class="btn-export-csv pull-left" name="export_csv">Export as CSV</button>'+
                        '</div>'+
                    '</div>';

                    $('#data-list').html(html);

                    gen_chart( data.chart );
                    print_action( data.filter );

                    jQuery('.r-head').on('click', function(){
                        jQuery(this).parent().toggleClass('opened');
                    });

                    jQuery('.rs-head').on('click', function(){
                        jQuery(this).parent().toggleClass('sub-opened');
                    });

                    jQuery('.rs-sub-head').on('click', function(){
                        jQuery(this).parent().toggleClass('tab-opened');
                    });
                }
            },          
            beforeSend: function(){
                $(".section-overlay").show();
            },
            complete:function(data){
                $(".section-overlay").hide();
            },
            error: function(e){
                console.log('Ajax Error!! ' + e);
            }
        });
    }

    function print_action( fltr )
    {
        jQuery('[name=print]').on('click', function(){
            window.open('', '_blank').location.href = '{site_url}/rsv-print-report?filter='+fltr;
            return false;
        });

        jQuery('[name=export_pdf]').on('click', function(){
            window.open('', '_blank').location.href = '{site_url}/rsv-pdf-report?filter='+fltr;
            return false;
        });

        jQuery('[name=export_csv]').on('click', function(){
            window.open('', '_blank').location.href = '{site_url}/rsv-csv-report?filter='+fltr;
            return false;
        });
    }

    jQuery(document).ready(function(){
        jQuery('[name=filter]').on('click', function(){
            load_ajax_data();
            return false;
        });

        load_ajax_data();

        jQuery('.select-option').chosen({ max_selected_options:10, search_contains:true });
        jQuery('.select-multiple-option').chosen({ max_selected_options:10, search_contains:true, placeholder_text_multiple:'Payment Status' });

        set_filter_period( jQuery('[name=rtype]').val(), 'bdate', 'bdateto', true );
        
        jQuery('[name=rtype]').on('change', function(){
            jQuery('[name=bdate]').datepicker('destroy').val('');
            jQuery('[name=bdateto]').datepicker('destroy').val('');

            set_filter_period( jQuery(this).val(), 'bdate', 'bdateto', true );
        });

    });
</script>

<!-- END report-block -->