<!-- BEGIN report-block -->

<div class="wrapper-block tab-report report-block reservation-report-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="areport">
            <div class="row">
                <div class="col-md-6"> 
                    <h1>Reservation Timeline Report</h1>
                </div>
            </div>
            <div class="row">     
                <div class="col-md-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation"><a href="{reservation_report_link}">Reservation Report</a></li>
                        <li role="presentation" class="active"><a href="{reservation_timeline_report}">Reservation Timeline Report</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active">
                            <div class="filter-box clearfix">                            
                                <div class="form-group clearfix">
                                    <span class="text">Filter</span>
                                    <select name="rid" id="select-route" class="select-option">
                                        {route_option}
                                    </select>
                                    <select name="cid" id="select-sales-person" class="select-option">
                                        {sales_channel_option}
                                    </select>
                                    <select name="chid" id="select-channel" class="select-option">
                                        {booking_source_option}
                                    </select>
                                    <select name="rtype" id="select-report-type" class="select-option">
                                        {report_type_option}
                                    </select>
                                    <input name="bdate" type="text" placeholder="Date" value="{bdate}"  class="medium_textbox dpicker sr-only">
                                    <input name="bdateto" type="text" placeholder="Date" value="{bdateto}"  class="medium_textbox dpicker sr-only">
                                </div>
                                <div class="form-group clearfix">
                                    <span class="text ">&nbsp;</span>
                                    <select class="select-multiple-option" multiple="" name="bstatus[]" id="select-booking-status">
                                        {booking_status_option}
                                    </select>
                                    <select name="rbased" id="select-report-view" class="select-option">
                                       {report_based_on_option}
                                    </select>
                                    <input name="filter" type="submit" value="Apply" class="filters">
                                </div>
                            </div>
                            <div id="data-list"></div> 
                        </div>                        
                    </div>
                </div>
            </div>                 	
        </form>
    </div>
</div>

<script type="text/javascript">

    function load_ajax_data( filter )
    {
        var prm          = new Object;
            prm.plog     = 'reservation-timeline';
            prm.rid      = jQuery('[name=rid]').val();
            prm.chid     = jQuery('[name=chid]').val();
            prm.rtype    = jQuery('[name=rtype]').val();
            prm.rbased   = jQuery('[name=rbased]').val();
            prm.cid      = jQuery('[name=cid]').val();  
            prm.bdate    = jQuery('[name=bdate]').val();
            prm.bdateto  = jQuery('[name=bdateto]').val();
            prm.bstatus  = jQuery('#select-booking-status').val();
        jQuery.ajax({
            method: 'POST',
            url: '{ajax_response}',
            data: prm,
            dataType : 'json',           
            success: function( data ){
                if( data.total == 0 )
                {
                    var html =
                    '<div class="row">'+
                        '<div class="col-md-12">'+
                            '<div class="report-list">'+
                                '<div class="row">'+
                                    '<div class="col-md-12">'+
                                        '<p class="text-center text-danger">No data was found<p>'+
                                    '</div>'+
                                '</div>'+
                            '</div>'+
                        '</div>'+
                    '</div>';    

                    $('#data-list').html(html);
                }
                else
                {
                    var i    = 0;
                    var html =
                    '<div class="row">'+
                        '<div class="col-md-12">'+
                            '<div class="report-chart-wrapp">'+
                                '<div id="report-chart" class="report-chart"></div>'+                        
                                '<div class="report-chart-legend"></div>'+
                            '</div>'+
                        '</div>'+
                        '<div class="col-md-12">'+
                            '<div class="report-list reservation-list">'+
                                '<div class="row">'+
                                    '<div class="col-md-12">'+
                                        '<div class="row-total">'+
                                            '<div class="row">'+
                                                '<div class="col-md-12">'+
                                                    '<div class="row">'+
                                                        '<div class="col-md-6">'+
                                                            '<h3>Total Reservation</h3>'+
                                                        '</div>'+
                                                        '<div class="col-md-6">'+
                                                            '<div class="row">'+
                                                                '<div class="col-md-6">'+                                       
                                                                    '<p class="bold text-right">' + data.tbooking + ' Booking</p>'+
                                                                '</div>'+
                                                                '<div class="col-md-3">'+
                                                                    '<p class="bold text-right">' + data.total + ' Pax</p>'+
                                                                '</div>'+
                                                                '<div class="col-md-3">'+
                                                                    '<p class="bold text-right">(100%)</p>'+
                                                                '</div>'+
                                                            '</div>'+
                                                        '</div>'+
                                                    '</div>'+
                                                '</div>'+
                                            '</div>'+
                                        '</div>'+
                                        '<div class="row-item">'+
                                            '<div class="row">'+
                                                '<ul class="col-md-12">';

                                                    $.each( data.items, function( sub, subtimeline ) {
                                                        var opened = '';
                                                        if ( i <= 0 ){ opened = 'opened'; }
                                                        var subs = jQuery.parseJSON( jQuery.base64.decode( sub ) );

                                                        html += 
                                                        '<li class="' + opened + '">'+
                                                            '<a class="r-head">'+
                                                                '<div class="row">'+
                                                                    '<div class="col-md-6">'+
                                                                        '<h4>' + subs[0] + '</h4>'+
                                                                    '</div>'+
                                                                    '<div class="col-md-6">'+
                                                                        '<div class="row">'+
                                                                            '<div class="col-md-6">'+                                       
                                                                                '<p class="text-right medium-bold">' + subs[1] + ' Booking</p>'+
                                                                            '</div>'+
                                                                            '<div class="col-md-3">'+
                                                                                '<p class="text-right medium-bold">' + subs[2] + ' Pax</p>'+
                                                                            '</div>'+
                                                                            '<div class="col-md-3">'+
                                                                                '<p class="text-right medium-bold">(' + subs[3] + '%)</p>'+
                                                                            '</div>'+
                                                                        '</div>'+
                                                                    '</div>'+
                                                                '</div>'+
                                                            '</a>'+
                                                            '<div class="r-content">'+
                                                                '<div class="item">'+
                                                                    '<div class="rs-head">'+
                                                                        '<div class="row">'+
                                                                            '<div class="col-md-1">'+
                                                                                '<h5 class="medium-bold">Booking#</h5>'+
                                                                            '</div>'+
                                                                            '<div class="col-md-2">'+
                                                                                '<p class="medium-bold">Agent/Booker</p>'+
                                                                            '</div>'+
                                                                            '<div class="col-md-2">'+
                                                                                '<p class="medium-bold">Trip</p>'+
                                                                            '</div>'+
                                                                            '<div class="col-md-1">'+
                                                                                '<p class="medium-bold">Booking Date</p>'+
                                                                            '</div>'+
                                                                            '<div class="col-md-1">'+
                                                                                '<p class="medium-bold">Travel Date</p>'+
                                                                            '</div>'+
                                                                            '<div class="col-md-1">'+
                                                                                '<p class="medium-bold">Adult</p>'+
                                                                            '</div>'+
                                                                            '<div class="col-md-1">'+
                                                                                '<p class="medium-bold">Child</p>'+
                                                                            '</div>'+
                                                                            '<div class="col-md-1">'+
                                                                                '<p class="medium-bold">Infant</p>'+
                                                                            '</div>'+
                                                                            '<div class="col-md-1">'+
                                                                                '<p class="medium-bold">Amount</p>'+
                                                                            '</div>'+
                                                                            '<div class="col-md-1">'+
                                                                                '<p class="text-right medium-bold">Payment Status</p>'+
                                                                            '</div>'+
                                                                        '</div>'+
                                                                    '</div>'+
                                                                '</div>';

                                                                $.each( subtimeline ,function( tls, timelines ) {
                                                                    html +=
                                                                    '<div class="item">'+
                                                                        '<div class="rs-head">'+
                                                                            '<div class="row">'+
                                                                                '<div class="col-md-1">'+
                                                                                    '<a rel="' + timelines.code + '">' + timelines.code + '</a>'+
                                                                                '</div>'+
                                                                                '<div class="col-md-2">'+
                                                                                    '<p>' + timelines.agent + '</p>'+
                                                                                '</div>'+
                                                                                '<div class="col-md-2">'+
                                                                                    '<p>' + timelines.trip + '</p>'+
                                                                                '</div>'+
                                                                                '<div class="col-md-1">'+
                                                                                    '<p>' + timelines.bdate + '</p>'+
                                                                                '</div>'+
                                                                                '<div class="col-md-1">'+
                                                                                    '<p>' + timelines.dtrip + '</p>'+
                                                                                '</div>'+
                                                                                '<div class="col-md-1">'+
                                                                                    '<p>' + timelines.adult + '</p>'+
                                                                                '</div>'+
                                                                                '<div class="col-md-1">'+
                                                                                    '<p>' + timelines.child + '</p>'+
                                                                                '</div>'+
                                                                                '<div class="col-md-1">'+
                                                                                    '<p>' + timelines.infant + '</p>'+
                                                                                '</div>'+
                                                                                '<div class="col-md-1">'+
                                                                                    '<p>' + timelines.pax + '</p>'+
                                                                                '</div>'+
                                                                                '<div class="col-md-1">'+
                                                                                    '<p class="text-right">' + timelines.status + '</p>'+
                                                                                '</div>'+
                                                                            '</div>'+
                                                                        '</div>'+
                                                                    '</div>';
                                                                });

                                                            html += 
                                                            '</div>'+   
                                                        '</li>';

                                                        i++;
                                                    });

                                                html +=
                                                '</ul>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                            '</div>'+
                        '</div>'+   
                    '</div>';  
                    html += 
                    '<div class="row">'+
                        '<div class="form-action clearfix">'+
                            '<textarea class="sr-only" name="chart_data">{chart_data}</textarea>'+
                            '<button type="submit" class="btn-print pull-left" name="print">Print Report</button>'+
                            '<button type="submit" class="btn-export-pdf pull-left" name="export_pdf">Export as PDF</button>'+
                            '<button type="submit" class="btn-export-csv pull-left" name="export_csv">Export as CSV</button>'+
                        '</div>'+
                    '</div>';

                    $('#data-list').html(html);

                    gen_chart( data.chart );
                    print_action( data.filter );

                    jQuery('.r-head').on('click', function(){
                        jQuery(this).parent().toggleClass('opened');
                    });
                }
            },          
            beforeSend: function(){
                $(".section-overlay").show();
            },
            complete:function(data){
                $(".section-overlay").hide();
            },
            error: function(e){
                console.log('Ajax Error!! ' + e);
            }
        });
    }

    function print_action( fltr )
    {
        jQuery('[name=print]').on('click', function(){
            window.open('', '_blank').location.href = '{site_url}/rsv-timeline-print-report?filter='+fltr;
            return false;
        });

        jQuery('[name=export_pdf]').on('click', function(){
            window.open('', '_blank').location.href = '{site_url}/rsv-timeline-pdf-report?filter='+fltr;
            return false;
        });

        jQuery('[name=export_csv]').on('click', function(){
            window.open('', '_blank').location.href = '{site_url}/rsv-timeline-csv-report?filter='+fltr;
            return false;
        });
    }

    function set_filter_period_timeline( val, from, to )
    {
        if( val == '' )
        {
            jQuery('[name=' + from + ']').addClass('sr-only');
            jQuery('[name=' + to + ']').addClass('sr-only');
        }
        else if( val == 1 )
        {
            jQuery('[name=' + from + ']').removeClass('sr-only');
            jQuery('[name=' + from + ']').datepicker({
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'MM yy',
                minDate:'-15Y',
                maxDate:'+5Y',
                onClose: function( dateText, inst ){ 
                    var month = jQuery('#ui-datepicker-div .ui-datepicker-month :selected').val();
                    var year  = jQuery('#ui-datepicker-div .ui-datepicker-year :selected').val();
                    var date  = new Date( year, month, 1 );
                    
                    jQuery(this).datepicker('setDate', date).trigger('change');
                },
                beforeShow : function(input, inst){                        
                    jQuery('#ui-datepicker-div').addClass('hide-calendar');

                    var datestr = jQuery(this).val();

                    if( datestr.length > 0 )
                    {
                        var year  = new Date( Date.parse( '1 ' + datestr ) ).getFullYear();
                        var month = new Date( Date.parse( '1 ' + datestr ) ).getMonth() + 1;

                        jQuery(this).datepicker('option', 'defaultDate', new Date( year, month - 1, 1 ));
                        jQuery(this).datepicker('setDate', new Date( year, month - 1, 1 ));
                    }
                }
            });

            jQuery('[name=' + from + ']').datepicker('setDate', new Date());

            jQuery('[name=' + to + ']').datepicker('setDate', '');
            jQuery('[name=' + to + ']').addClass('sr-only');
        }
        else if( val == 2 )
        {
            jQuery('[name=' + from + ']').removeClass('sr-only');
            jQuery('[name=' + from + ']').datepicker({
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'yy',
                yearRange: '-15:+5',
                onClose: function( dateText, inst ){ 
                    var year  = jQuery('#ui-datepicker-div .ui-datepicker-year :selected').val();
                    var date  = new Date( year, 1, 1 );
                    
                    jQuery(this).datepicker('setDate', date).trigger('change');
                },
                beforeShow : function(input, inst){                        
                    jQuery('#ui-datepicker-div').addClass('hide-calendar hide-month');

                    var datestr = jQuery(this).val();

                    if( datestr.length > 0 )
                    {
                        var year  = new Date( Date.parse( '1 Jan ' + datestr ) ).getFullYear();

                        jQuery(this).datepicker('option', 'defaultDate', new Date( year, 1, 1 ));
                        jQuery(this).datepicker('setDate', new Date( year, 1, 1 ));
                    }
                }
            });

            jQuery('[name=' + from + ']').datepicker('setDate', new Date());

            jQuery('[name=' + to + ']').datepicker('setDate', '');
            jQuery('[name=' + to + ']').addClass('sr-only');
        }
        else if( val == 3 )
        {
            jQuery('[name=' + from + ']').removeClass('sr-only');
            jQuery('[name=' + from + ']').datepicker({
                dateFormat:'dd MM yy',
                minDate: '-15Y',
                maxDate: '+5Y',
                beforeShow : function(input, inst){
                    jQuery('#ui-datepicker-div').removeClass('hide-calendar hide-month');
                },
                onSelect: function(date){
                    var date2 = jQuery('[name=' + to + ']').datepicker('getDate');

                    if( date2 == null )
                    {
                        jQuery('[name=' + to + ']').datepicker('setDate', date);
                    }

                    jQuery('[name=' + to + ']').datepicker('option', 'minDate', date);
                }
            });

            jQuery('[name=' + to + ']').removeClass('sr-only');
            jQuery('[name=' + to + ']').datepicker({
                dateFormat:'dd MM yy',
                minDate: '-15Y',
                maxDate: '+5Y',
                onClose: function(date){
                    var date2 = jQuery('[name=' + from + ']').datepicker('getDate');

                    if( date2 == null )
                    {
                        jQuery('[name=' + from + ']').datepicker('setDate', date);
                    }
                    
                    jQuery('[name=' + from + ']').datepicker('option', 'maxDate', date);
                }
            });

            jQuery('[name=' + from + ']').datepicker('setDate', new Date());
            jQuery('[name=' + to + ']').datepicker('setDate', new Date());
        }
    }

    jQuery(document).ready(function(){
        jQuery('[name=filter]').on('click', function(){
            load_ajax_data();
            return false;
        });

        load_ajax_data();

        jQuery('.select-option').chosen({ max_selected_options:10, search_contains:true });
        jQuery('.select-multiple-option').chosen({ max_selected_options:10, search_contains:true, placeholder_text_multiple:'Payment Status' });

        set_filter_period_timeline( jQuery('[name=rtype]').val(), 'bdate', 'bdateto' );
        
        jQuery('[name=rtype]').on('change', function(){
            jQuery('[name=bdate]').datepicker('destroy').val('');
            jQuery('[name=bdateto]').datepicker('destroy').val('');

            set_filter_period_timeline( jQuery(this).val(), 'bdate', 'bdateto' );
        });
    });
</script>

<!-- END report-block -->