<!-- BEGIN report-block -->

<div class="wrapper-block report-block revenue-report-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="areport">
            <div class="row">
                <div class="col-md-12"> 
                    <h1>Revenue Report</h1>
                </div>
            </div>
            <div class="row">     
                <div class="col-md-12">
                    <div class="filter-box clearfix">
                        <div class="form-group clearfix">
                            <span class="text">View By</span>
                            <select name="rview" id="select-report-view" class="select-option">
                                {report_view_option}
                            </select>
                            <select name="rbased" id="select-report-view" class="select-option">
                               {report_based_on_option}
                            </select>
                            
                            <select name="rtype" id="select-report-type" class="select-option">
                                {report_type_option}
                            </select>
                            <input name="bdate" type="text" placeholder="Date" value="{bdate}" class="medium_textbox dpicker sr-only" readonly>
                            <input name="bdateto" type="text" placeholder="Date" value="{bdateto}"  class="medium_textbox dpicker sr-only" readonly>
                        </div>
                        <div class="form-group clearfix">
                            <span class="text ">&nbsp;</span>
                            <select class="depart-port-option select-multiple-option" multiple="true" name="deport[]" id="select-departure-port">
                                {depart_port_list}
                            </select>
                            <select class="select-option" name="boid" id="select-boat">
                                {boat_option}
                            </select>
                        </div>
                        <div class="form-group clearfix">
                            <span class="text ">&nbsp;</span>
                            <select class="source-option select-multiple-option" multiple="true" name="rsource[]" id="select-report-source">
                                {report_source_option}
                            </select>
                            <select class="fee-option select-option" name="feeopt" id="select-fee-option">
                                {report_fee_option}
                            </select>
                        </div>
                        <div class="form-group clearfix">
                            <span class="text ">&nbsp;</span>
                            <select class="select-report-channel select-multiple-option" multiple="true" name="chid[]" id="select-report-channel">
                                {report_sale_channel_option}
                            </select>
                            <select class="addons-option select-option" name="addonsopt" id="select-addons-option">
                                {report_addons_option}
                            </select>
                        </div>
                        <div class="clearfix">
                            <span class="text ">&nbsp;</span>
                            <select class="status-option select-multiple-option" multiple="" name="bstatus[]" id="select-booking-status">
                                {report_status_option}
                            </select>
                            <select name="agsp" id="select-sales-person" class="select-option">
                                {sales_person_option}
                            </select>
                            <input name="filter" type="submit" value="Apply" class="filters">
                        </div>
                    </div>
                </div>
            </div>
            <div id="data-list"></div>
        </form>
    </div>
</div>

<script type="text/javascript">

    function load_ajax_data()
    {
        var prm             = new Object;
            prm.plog        = 'revenue-list';
            prm.rtype       = jQuery('[name=rtype]').val();
            prm.agsp        = jQuery('[name=agsp]').val();
            prm.rbased      = jQuery('[name=rbased]').val();
            prm.rview       = jQuery('[name=rview]').val();
            prm.bdate       = jQuery('[name=bdate]').val();
            prm.bdateto     = jQuery('[name=bdateto]').val();
            prm.fchid       = jQuery('[name=fchid]').val();
            prm.fagid       = jQuery('[name=fagid]').val();
            prm.boid        = jQuery('[name=boid]').val(); 
            prm.feeopt      = jQuery('[name=feeopt]').val();
            prm.addonsopt   = jQuery('[name=addonsopt]').val();
            prm.rsource     = jQuery('.source-option').val();
            prm.deport      = jQuery('#select-departure-port').val();
            prm.bstatus     = jQuery('#select-booking-status').val();
            prm.chid        = jQuery('#select-report-channel').val();

        jQuery.ajax({
            method: 'POST',
            url: '{ajax_response}',
            data: prm,
            dataType : 'json',           
            success: function( data ){

                if( ( data !== null && data.total == 0 ) || data === null ) 
                {
                    var html =
                    '<div class="row">'+
                        '<div class="col-md-12">'+
                            '<div class="report-list">'+
                                '<div class="row">'+
                                    '<div class="col-md-12">'+
                                        '<p class="text-center text-danger">No data was found<p>'+
                                    '</div>'+
                                '</div>'+
                            '</div>'+
                        '</div>'+
                    '</div>';    

                    $('#data-list').html(html);
                }
                else
                {
                    var i    = 0;
                    var html =
                    '<div id="print" class="row">'+
                        '<div class="col-md-12">'+
                            '<div class="report-chart-wrapp">'+
                                '<div id="report-chart" class="report-chart"></div>'+
                                '<div class="report-chart-legend"></div>'+
                            '</div>'+
                        '</div>'+
                        '<div class="col-md-12">'+
                            '<div class="report-list revenue">'+
                                '<div class="row">'+
                                    '<div class="col-md-12">'+
                                        '<div class="row-total">'+
                                            '<div class="row">'+
                                                '<div class="col-md-12">'+
                                                    '<div class="row">'+
                                                        '<div class="col-md-2">'+
                                                            '<h3>Total Amount</h3>'+
                                                        '</div>'+
                                                        '<div class="col-md-3">'+
                                                            '<p class="bold">' + data.booking + ' Booking</p>'+
                                                        '</div>'+
                                                        '<div class="col-md-7">'+
                                                            '<p class="bold text-right">'+ data.total +' (100%)</p>'+
                                                        '</div>'+
                                                    '</div>'+
                                                '</div>'+
                                            '</div>'+
                                        '</div>'+
                                        '<div class="row-item">'+
                                            '<div class="row">'+
                                                '<ul class="col-md-12">';
                                                    $.each(data.items, function(date, by_date) {

                                                        var opened = '';
                                                        if ( i <= 0 ){ opened = 'opened'; }
                                                        var dt = jQuery.parseJSON( jQuery.base64.decode( date ) );

                                                        html +=
                                                        '<li class="' + opened + '">'+
                                                            '<a class="r-head">'+
                                                                '<div class="row">'+
                                                                    '<div class="col-md-2">'+
                                                                        '<h4>' + dt[0] + '</h4>'+
                                                                    '</div>'+
                                                                    '<div class="col-md-3">'+
                                                                        '<p class="medium-bold">' + dt[3] + ' Booking</p>'+
                                                                    '</div>'+
                                                                    '<div class="col-md-7">'+
                                                                        '<p class="text-right medium-bold">' + dt[1] + ' (' + dt[2] + ' %)</p>'+
                                                                    '</div>'+
                                                                '</div>'+
                                                            '</a>'+
                                                            '<div class="r-content">';
                                                                if ( data.rtype == 4 ) 
                                                                {
                                                                    $.each(by_date, function(group, by_group) {
                                                                        html +=
                                                                        '<div class="item">'+
                                                                            '<div class="rs-head">'+
                                                                                '<div class="row">'+
                                                                                    '<div class="col-md-2">'+
                                                                                        '<h5>' + by_group.bmonth + '</h5>'+
                                                                                    '</div>'+
                                                                                    '<div class="col-md-3">'+
                                                                                        '<p class="medium-bold">' + by_group.mbooking + ' Booking</p>'+
                                                                                    '</div>'+
                                                                                    '<div class="col-md-7">'+
                                                                                        '<p class="text-right medium-bold">' + by_group.mtotal + ' (' + by_group.mavg + '%)</p>'+
                                                                                    '</div>'+
                                                                                '</div>'+
                                                                            '</div>'+
                                                                        '</div>';

                                                                    });
                                                                }
                                                                else
                                                                {
                                                                    $.each(by_date, function(group, by_group) {
                                                                        var grp = jQuery.parseJSON( jQuery.base64.decode( group ) );

                                                                        html +=
                                                                        '<div class="item">'+
                                                                            '<div class="rs-head">'+
                                                                                '<div class="row">'+
                                                                                    '<div class="col-md-2">';
                                                                                        if ( data.rview > 1 ) 
                                                                                        {
                                                                                            html +=
                                                                                            '<h5>' + grp[1] + '</h5>';
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            html +=
                                                                                            '<h5> (' + grp[0] + ') ' + grp[1] + '</h5>';
                                                                                        }
                                                                                    html +=    
                                                                                    '</div>'+
                                                                                    '<div class="col-md-3">'+
                                                                                        '<p class="medium-bold">' + grp[4] + ' Booking</p>'+
                                                                                    '</div>'+
                                                                                    '<div class="col-md-7">'+
                                                                                        '<p class="text-right medium-bold">' + grp[2] + ' (' + grp[3] + '%)</p>'+
                                                                                    '</div>'+
                                                                                '</div>'+
                                                                            '</div>'+
                                                                            '<div class="rs-table">'+
                                                                                '<table id="reservation-table" class="table table-striped table-revenue" cellspacing="0" width="100%">'+
                                                                                    '<thead>'+
                                                                                        '<tr>'+
                                                                                            '<th width="15%">Date</th>'+
                                                                                            '<th width="35%">Note</th>'+
                                                                                            '<th width="35%">Booking Source</th>'+
                                                                                            '<th width="15%" class="text-right">Amount</th>'+
                                                                                        '</tr>'+
                                                                                    '</thead>'+
                                                                                    '<tbody>';
                                                                            $.each(by_group, function(i, dt) {
                                                                                html += 
                                                                                        '<tr>'+
                                                                                            '<td>' + dt.bdate + '</td>'+
                                                                                            '<td>Booking #' + dt.bticket + '</td>'+
                                                                                            '<td>(' + dt.chcode + ') ' + dt.agname+ '</td>'+
                                                                                            '<td>' + dt.btotal + '</td>'+
                                                                                        '</tr>';
                                                                            });
                                                                        html += 
                                                                                    '</tbody>'+
                                                                                '</table>'+
                                                                            '</div>'+      
                                                                        '</div>';
                                                                    });
                                                                }

                                                            	html += 
                                                            '</div>'+   
                                                        '</li>';

                                                        i = i + 1;
                                                    });
                                                html +=
                                                '</ul>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                            '</div>'+
                        '</div>'+
                    '</div>';

                    html +=
                    '<div class="row">'+
                        '<div class="form-action clearfix">'+
                            '<textarea class="sr-only" name="chart_data">{chart_data}</textarea>'+
                            '<button type="submit" class="btn-print pull-left" name="print">Print Report</button>'+
                            '<button type="submit" class="btn-print pull-left" name="print_block">Print Chart</button>'+
                            '<button type="submit" class="btn-export-pdf pull-left" name="export_pdf">Export as PDF</button>'+
                            '<button type="submit" class="btn-export-csv pull-left" name="export_csv">Export as CSV</button>'+
                        '</div>'+
                    '</div>';

                    $('#data-list').html(html);

                    gen_chart( data.chart );

                    print_action( data.filter );

                    jQuery('.r-head').unbind();
                    jQuery('.r-head').on('click', function(){
                        jQuery(this).parent().toggleClass('opened');
                    });
                }
            },          
            beforeSend: function(){
                jQuery('.section-overlay').show();
            },
            complete:function(data){
                jQuery('.section-overlay').hide();
            },
            error: function(e){
                console.log(e);

                jQuery('.section-overlay').hide();
            }
        });
    }

    function print_action( fltr )
    {
        jQuery('[name=print]').on('click', function(){
            window.open('', '_blank').location.href = '{site_url}/revenue-pdf-report?filter='+fltr+'&print=true';
            return false;
        });

        jQuery('[name=print_block]').on('click', function(){
            var html    = document.createElement('html');
            var newbody = document.createElement('body');
            var prn     = window.open('', 'Print-Window');

            jQuery( html ).html( '<head><title>Revenue Report</title><link rel="stylesheet" href="{site_url}/l-plugins/ticket/css/admin.css" /></head>' );
            jQuery( newbody ).html( '<h1>Revenue Report</h1>' + jQuery('#print').html() ).attr('onload', 'window.print();');
            jQuery( html ).append( newbody );

            prn.document.open();
            prn.document.write( html.outerHTML );
            prn.document.close();

            return true;
        });

        jQuery('[name=export_pdf]').on('click', function(){
            window.open('', '_blank').location.href = '{site_url}/revenue-pdf-report?filter='+fltr;
            return false;
        });

        jQuery('[name=export_csv]').on('click', function(){
            window.open('', '_blank').location.href = '{site_url}/revenue-csv-report?filter='+fltr;
            return false;
        });
    }

    jQuery(document).ready(function(){

        jQuery('[name=filter]').on('click', function(){
            load_ajax_data();
            return false;
        });

        load_ajax_data();

        set_filter_period( jQuery('[name=rtype]').val(), 'bdate', 'bdateto' );

        jQuery('.select-option').chosen({ max_selected_options:10, search_contains:true });
        jQuery('.status-option').chosen({ max_selected_options:10, search_contains:true, placeholder_text_multiple:'Payment Status' });
        jQuery('.source-option').chosen({ max_selected_options:10, search_contains:true, placeholder_text_multiple:'Booking Source' });
        jQuery('.depart-port-option').chosen({ max_selected_options:10, search_contains:true, placeholder_text_multiple:'Port Departure' });
        jQuery('.select-report-channel').chosen({ max_selected_options:10, search_contains:true, placeholder_text_multiple:'Sales Channel' });
        
        jQuery('[name=rtype]').on('change', function(){
            jQuery('[name=bdate]').datepicker('destroy').val('');
            jQuery('[name=bdateto]').datepicker('destroy').val('');

            set_filter_period( jQuery(this).val(), 'bdate', 'bdateto' );
        });

    });
</script>

<!-- END report-block -->