<!-- BEGIN report-block -->

<div class="wrapper-block report-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="areport">
            <div class="row">
                <div class="col-md-12">
                    <h1>Seats Production</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="filter-box">
                        <div class="form-group clearfix">
                            <select name="ryear[]" id="select-report-year" class="select-report-year select-multiple-option" multiple="true">
                                {report_year_option}
                            </select>
                            <select name="rid[]" id="select-route" class="select-option-route select-multiple-option" multiple="true" style="width:70%;">
                                {route_option}
                            </select>
                        </div>
                        <div class="form-group clearfix">
                            <select name="bstatus[]" id="select-status" class="status-option select-status select-multiple-option" multiple="true">
                                {status_option}
                            </select>
                            <select name="tid[]" id="select-trip" class="select-option-trip select-multiple-option" multiple="true" style="width:70%;">
                                {trip_option}
                            </select>
                        </div>
                        <div class="form-group clearfix">
                            <select name="bmehtod[]" id="select-bmethod" class="select-option-bmethod select-multiple-option" multiple="true" style="width:70%;">
                                {bmethod_option}
                            </select>
                            <select name="pmethod[]" id="select-payment" class="select-option-payment select-multiple-option" multiple="true" style="width:70%;">
                                {pmethod_option}
                            </select>
                        </div>
                        <div class="clearfix">
                            <select name="rstatus[]" id="select-status" class="select-status-rev select-multiple-option" multiple="true">
                                {rev_status}
                            </select>
                            <span class="text">View By</span>
                            <select name="rview" id="select-report-view" class="select-option">
                                {report_view_option}
                            </select>
                            <select name="agsp" id="select-sales-person" class="select-option">
                                {sales_person_option}
                            </select>
                            <select name="chid" id="select-chanel" class="select-option">
                                {bsource_option}
                            </select>
                            <input name="filter" type="submit" value="Apply" class="filters">
                        </div>
                    </div>
                </div>
            </div>
            <div id="data-list"></div>
        </form>
    </div>
</div>

<script type="text/javascript">
    function load_ajax_data()
    {
        var syear   = [];
        jQuery('#select-report-year option:selected').each(function() {
            syear.push($(this).val());
        });
        
        var sstatus = [];
        jQuery('.status-option option:selected').each(function() {
            sstatus.push( jQuery(this).val() );
        });

        var rvstatus = [];
        jQuery('.select-status-rev option:selected').each(function() {
            rvstatus.push( jQuery(this).val() );
        });
        
        var bmethod = [];
        jQuery('.select-option-bmethod option:selected').each(function() {
            bmethod.push( jQuery(this).val() );
        });
        
        var pmethod = [];
        jQuery('.select-option-payment option:selected').each(function() {
            pmethod.push( jQuery(this).val() );
        });
        
        var prm         = new Object;
            prm.plog    = 'seats-production-list';
            prm.rview   = jQuery('[name=rview]').val();
            prm.chid    = jQuery('[name=chid]').val();
            prm.agsp    = jQuery('[name=agsp]').val();
            prm.rid     = jQuery('.select-option-route').val();
            prm.tid     = jQuery('.select-option-trip').val();
            prm.rstatus = rvstatus;
            prm.ryear   = syear;
            prm.bstatus = sstatus;
            prm.bmethod = bmethod;
            prm.pmethod = pmethod;

        jQuery.ajax({
            method: 'POST',
            url: '{ajax_response}',
            data: prm,
            dataType : 'json',
            success: function( data ){
                if( data.total == 0 )
                {
                    var html =
                    '<div class="row">'+
                        '<div class="col-md-12">'+
                            '<div class="report-list">'+
                                '<div class="row">'+
                                    '<div class="col-md-12">'+
                                        '<p class="text-center text-danger">No data was found<p>'+
                                    '</div>'+
                                '</div>'+
                            '</div>'+
                        '</div>'+
                    '</div>';
                    $('#data-list').html(html);
                }
                else
                {
                    var i    = 0;
                    var html =
                    '<div class="row">'+
                        '<div class="col-md-12">'+
                            '<div class="report-chart-wrapp">'+
                                '<div id="report-chart" class="report-chart"></div>'+
                                '<div class="report-chart-legend"></div>'+
                            '</div>'+
                        '</div>'+
                        '<div class="col-md-12">'+
                            '<div class="report-list seats-production">'+
                                '<div class="row">'+
                                    '<div class="col-md-12">'+
                                        '<div class="row-total">'+
                                            '<div class="row">'+
                                                '<div class="col-md-12">'+
                                                    '<div class="row">'+
                                                        '<div class="col-md-6">'+
                                                            '<h3>Total Seat</h3>'+
                                                        '</div>'+
                                                        '<div class="col-md-6">'+
                                                            '<p class="bold text-right">'+ data.total +' (100%)</p>'+
                                                        '</div>'+
                                                    '</div>'+
                                                '</div>'+
                                            '</div>'+
                                        '</div>'+
                                        '<div class="row-item">'+
                                            '<div class="row">'+
                                                '<ul class="col-md-12">';
                                                    $.each(data.items, function(idx, index) {
                                                        var opened = '';
                                                        if ( i <= 0 ){ opened = 'opened'; }
                                                        var inxs = jQuery.parseJSON( jQuery.base64.decode( idx ) );
                                                        html +=
                                                        '<li class="'+ opened +'">'+
                                                            '<a class="r-head">'+
                                                                '<div class="row">'+
                                                                    '<div class="col-md-6">'+
                                                                        '<h4>'+ inxs[0] +'</h4>'+
                                                                    '</div>'+
                                                                    '<div class="col-md-6">'+
                                                                        '<p class="text-right medium-bold">'+ inxs[1] +' ('+ inxs[2] +'%)</p>'+
                                                                    '</div>'+
                                                                '</div>'+
                                                            '</a>'+
                                                            '<div class="r-content">';
                                                                $.each(index, function(group, by_group) {
                                                                    var g = jQuery.parseJSON( jQuery.base64.decode( group ) );
                                                                    html +=
                                                                    '<div class="item">'+
                                                                        '<a class="rs-head">'+
                                                                            '<div class="row">'+
                                                                                '<div class="col-md-6">'+
                                                                                    '<h5>' + g[0] + '</h5>'+
                                                                                '</div>'+
                                                                                '<div class="col-md-6">'+
                                                                                    '<p class="text-right medium-bold">' + g[1] + ' (' + g[2] + '%)</p>'+
                                                                                '</div>'+
                                                                            '</div>'+
                                                                        '</a>';
                                                                        $.each( by_group, function( chl, by_channel ) {
                                                                            var c = jQuery.parseJSON( jQuery.base64.decode( chl ) );
                                                                            html +=
                                                                            '<div class="sub-content">'+
                                                                                '<a class="rs-sub-head">'+
                                                                                    '<div class="row">'+
                                                                                        '<div class="col-md-6">'+
                                                                                            '<h5>' + c[0] + '</h5>'+
                                                                                        '</div>'+
                                                                                        '<div class="col-md-6">'+
                                                                                            '<p class="text-right medium-bold">' + c[1] + ' (' + c[2] + '%)</p>'+
                                                                                        '</div>'+
                                                                                    '</div>'+
                                                                                '</a>'+
                                                                                '<div class="rs-table">'+
                                                                                    '<table id="reservation-table" class="table table-striped" cellspacing="0" width="100%">'+
                                                                                        '<thead>'+
                                                                                            '<tr>'+
                                                                                                '<th width="20%">Resv #</th>'+
                                                                                                '<th width="20%">Adult</th>'+
                                                                                                '<th width="10%">Child</th>'+
                                                                                                '<th width="10%">Infant</th>'+
                                                                                                '<th width="10%">Booking Source</th>'+
                                                                                                '<th width="10%">Amount</th>'+
                                                                                            '</tr>'+
                                                                                        '</thead>'+
                                                                                        '<tbody>';
                                                                                        $.each( by_channel, function( d, datas ) {
                                                                                            html +=
                                                                                            '<tr>'+
                                                                                                '<td>' + datas.bticket + '</td>'+
                                                                                                '<td>' + datas.num_adult + '</td>'+
                                                                                                '<td>' + datas.num_child + '</td>'+
                                                                                                '<td>' + datas.num_infant + '</td>'+
                                                                                                '<td>' + datas.agname + '</td>'+
                                                                                                '<td>' + datas.amount + '</td>'+
                                                                                            '</tr>';
                                                                                        });
                                                                                        html +=
                                                                                        '</tbody>'+
                                                                                    '</table>'+
                                                                                '</div>'+
                                                                            '</div>';
                                                                        });
                                                                    html +=
                                                                    '</div>';
                                                                });
                                                            html +=
                                                            '</div>'+
                                                        '</li>';
                                                        i = i + 1;
                                                    });
                                                html +=
                                                '</ul>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                            '</div>'+
                        '</div>'+
                    '</div>'+
                    '<div class="row">'+
                        '<div class="form-action clearfix">'+
                            '<textarea class="sr-only" name="chart_data">{chart_data}</textarea>'+
                            '<button type="submit" class="btn-print pull-left" name="print">Print Report</button>'+
                            '<button type="submit" class="btn-export-pdf pull-left" name="export_pdf">Export as PDF</button>'+
                            '<button type="submit" class="btn-export-csv pull-left" name="export_csv">Export as CSV</button>'+
                        '</div>'+
                    '</div>';
                    $('#data-list').html(html);

                    gen_chart( data.chart );
                    print_action( data.filter );

                    jQuery('.r-head').unbind();
                    jQuery('.r-head').on('click', function(){
                        jQuery(this).parent().toggleClass('opened');
                    });
                    jQuery('.rs-head').on('click', function(){
                        jQuery(this).parent().toggleClass('sub-opened');
                    });
                    jQuery('.rs-sub-head').unbind();
                    jQuery('.rs-sub-head').on('click', function(){
                        jQuery(this).parent().toggleClass('tab-opened');
                    });
                }
            },
            beforeSend: function(){
                $(".section-overlay").show();
            },
            complete:function(data){
                $(".section-overlay").hide();
            },
            error: function(e){
                console.log('Ajax Error!!' + e);
            }
        });
    }

    function print_action( fltr )
    {
        jQuery('[name=print]').on('click', function(){
            window.open('', '_blank').location.href = '{site_url}/seats-production-pdf-report?filter='+fltr+'&print=true';
            return false;
        });

        jQuery('[name=export_pdf]').on('click', function(){
            window.open('', '_blank').location.href = '{site_url}/seats-production-pdf-report?filter='+fltr;
            return false;
        });

        jQuery('[name=export_csv]').on('click', function(){
            window.open('', '_blank').location.href = '{site_url}/seats-production-csv-report?filter='+fltr;
            return false;
        });
    }

    jQuery(document).ready(function(){
        jQuery('[name=filter]').on('click', function(){
            load_ajax_data();
            return false;
        });

        load_ajax_data();

        jQuery('.select-option').chosen({ max_selected_options:10, search_contains:true });
        jQuery('.select-option-trip').chosen({ max_selected_options:100, search_contains:true, placeholder_text_multiple:'All Trip' });
        jQuery('.select-status').chosen({ max_selected_options:10, search_contains:true, placeholder_text_multiple:'Payment Status' });
        jQuery('.select-option-route').chosen({ max_selected_options:100, search_contains:true, placeholder_text_multiple:'All Route' });
        jQuery('.select-report-year').chosen({ max_selected_options:10, search_contains:true, placeholder_text_multiple:'Year Period' });
        jQuery('.select-status-rev').chosen({ max_selected_options:10, search_contains:true, placeholder_text_multiple:'Reservation Status' });
        jQuery('.select-option-bmethod').chosen({ max_selected_options:10, search_contains:true, placeholder_text_multiple:'Select Booking Method' });
        jQuery('.select-option-payment').chosen({ max_selected_options:10, search_contains:true, placeholder_text_multiple:'Select Payment Method' });
    });
</script>

<!-- END report-block -->