<!-- BEGIN report-block -->

<div class="wrapper-block report-block trans-revenue-report-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="areport">
            <div class="row">
                <div class="col-md-12"> 
                    <h1>Transport Revenue</h1>
                </div>
            </div>
            <div class="row">     
                <div class="col-md-12">
                    <div class="filter-box clearfix">
                        <div class="form-group clearfix">
                            <span class="text">Filter</span>
                            <select class="select-option" name="type" id="select-trans-type">
                                {trans_type_option}
                            </select>
                            <select class="select-option" name="rtype" id="select-report-type">
                                {report_type_option}
                            </select>
                            <input name="ttdate" type="text" placeholder="Date" value="{ttdate}" class="medium_textbox dpicker sr-only" readonly="readonly">
                            <input name="ttdateto" type="text" placeholder="Date" value="{ttdateto}" class="medium_textbox dpicker sr-only" readonly="readonly">
                        </div>
                        <div class="clearfix">
                            <span class="text ">&nbsp;</span>
                            <select class="select-multiple-option" multiple="" name="bstatus[]" id="select-booking-status">
                                {report_status_option}
                            </select>
                            <input name="filter" type="submit" value="Apply" class="filters">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="report-chart-wrapp">
                        <div id="report-chart" class="report-chart"></div>                        
                        <div class="report-chart-legend"></div>
                    </div>
                </div>
                <div class="col-md-12">
	                <div class="report-list transport-list">
	                	<div class="row">
		                	<div class="col-md-12">
		            			<div class="row-total">
	                				<div class="row">
		                				<div class="col-md-12">
				            				<div class="row">
						            			<div class="col-md-6">
						            				<h3>Total Amount</h3>
						            			</div>
						            			<div class="col-md-6">
						            				<p class="bold text-right">{total}</p>
						            			</div>
						            		</div>
					            		</div>
					            	</div>
			            		</div>
			            		<div class="row-item">
	                				<div class="row">
				            			<ul class="col-md-12">

                                            <!-- BEGIN report-data-block -->

                                            <li class="{trip_item_cls}">
                                                <a class="r-head">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <h4>{trip_location}</h4>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <p class="text-right medium-bold">{total_by_location}</p>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="r-content">
                                                    {trip_data}
                                                </div>
                                            </li>

                                            <!-- END report-data-block -->

				            			</ul>
				            		</div>
			            		</div>
			            	</div>
			            </div>
		            </div>
            	</div>
            </div>
        	<div class="row">
                <div class="form-action clearfix">
                    <textarea class="sr-only" name="chart_data">{chart_data}</textarea>
                	<button type="submit" class="btn-print pull-left" name="print">Print Report</button>
                	<button type="submit" class="btn-export-pdf pull-left" name="export_pdf">Export as PDF</button>
                	<button type="submit" class="btn-export-csv pull-left" name="export_csv">Export as CSV</button>
                </div>
        	</div>
        </form>
    </div>
</div>

<script type="text/javascript">
    jQuery(function () {
        var data    = jQuery('[name=chart_data]').val();
        var legend  = jQuery('.report-chart-legend');
        var options = jQuery.parseJSON( jQuery.base64.decode( data ) );

        jQuery.each( options.series, function(i, e){
            legend.append('<a><span></span>'+e.name+'</a>');
        });

        options.chart.marginTop = legend.innerHeight() + 50;

        var report = Highcharts.chart('report-chart', options );

        jQuery(report.series).each(function(i, e){
            jQuery('.report-chart-legend a:eq('+i+')').css('border-bottom-color', e.color);
        });

        jQuery('.report-chart-legend a').click(function (){
            var idx = jQuery(this).index();

            jQuery(this).toggleClass('leg-clicked');
            jQuery('.highcharts-legend-item:eq('+idx+')').trigger('click');
        });
    });

    jQuery(document).ready(function(){
        set_filter_period( jQuery('[name=rtype]').val(), 'ttdate', 'ttdateto' );

        jQuery('.select-option').chosen({ max_selected_options:10, search_contains:true });
        jQuery('.select-multiple-option').chosen({ max_selected_options:10, search_contains:true, placeholder_text_multiple:'Payment Status' });
        
        jQuery('[name=rtype]').on('change', function(){
            jQuery('[name=ttdate]').datepicker('destroy').val('');
            jQuery('[name=ttdateto]').datepicker('destroy').val('');

            set_filter_period( jQuery(this).val(), 'ttdate', 'ttdateto' );
        });

        jQuery('.r-head').on('click', function(){
        	jQuery(this).parent().toggleClass('opened');
        });

        jQuery('[name=print]').on('click', function(){
            window.open('', '_blank').location.href = '{site_url}/transport-revenue-pdf-report?filter={filter}&print=true';
            return false;
        });

        jQuery('[name=export_pdf]').on('click', function(){
            window.open('', '_blank').location.href = '{site_url}/transport-revenue-pdf-report?filter={filter}';
            return false;
        });

        jQuery('[name=export_csv]').on('click', function(){
            window.open('', '_blank').location.href = '{site_url}/transport-revenue-csv-report?filter={filter}';
            return false;
        });
    });
</script>

<!-- END report-block -->

<!-- BEGIN no-report-block -->

<div class="wrapper-block report-block trans-revenue-report-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="areport">
            <div class="row">
                <div class="col-md-12"> 
                    <h1>Transport Revenue</h1>
                </div>
            </div>
            <div class="row">     
                <div class="col-md-12">
                    <div class="filter-box clearfix">
                        <div class="form-group clearfix">
                            <span class="text">Filter</span>
                            <select class="select-option" name="type" id="select-trans-type">
                                {trans_type_option}
                            </select>
                            <select class="select-option" name="rtype" id="select-report-type">
                                {report_type_option}
                            </select>
                            <input name="ttdate" type="text" placeholder="Date" value="{ttdate}" class="medium_textbox dpicker sr-only" readonly="readonly">
                            <input name="ttdateto" type="text" placeholder="Date" value="{ttdateto}" class="medium_textbox dpicker sr-only" readonly="readonly">
                        </div>
                        <div class="clearfix">
                            <span class="text ">&nbsp;</span>
                            <select class="select-multiple-option" multiple="" name="bstatus[]" id="select-booking-status">
                                {report_status_option}
                            </select>
                            <input name="filter" type="submit" value="Apply" class="filters">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="report-list passenger-list">
                        <p class="text-center text-danger">No data was found<p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function(){
        set_filter_period( jQuery('[name=rtype]').val(), 'ttdate', 'ttdateto' );

        jQuery('.select-option').chosen({ max_selected_options:10, search_contains:true });
        jQuery('.select-multiple-option').chosen({ max_selected_options:10, search_contains:true, placeholder_text_multiple:'Payment Status' });
        
        jQuery('[name=rtype]').on('change', function(){
            jQuery('[name=ttdate]').datepicker('destroy').val('');
            jQuery('[name=ttdateto]').datepicker('destroy').val('');

            set_filter_period( jQuery(this).val(), 'ttdate', 'ttdateto' );
        });
    });
</script>

<!-- END no-report-block -->