<!-- BEGIN report-block -->

<div class="wrapper-block report-block transport-report-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="areport">
            <div class="row">
                <div class="col-md-12">
                    <h1>Transport List</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="filter-box">
                        <div class="form-group clearfix">
                            <span class="text">Filter</span>
                            <select name="taid" id="select-area" class="select-option">
                                {area_option}
                            </select>
                            <select name="rid" id="select-route" class="select-option">
                                {route_option}
                            </select>
                            <select name="ttype" id="select-trans-type" class="select-option">
                                {trans_type_option}
                            </select>
                            <input name="filter" type="submit" value="Apply" class="filters">
                        </div>
                        <div class="clearfix">
                            <span class="text">&nbsp;</span>
                            <select class="select-multiple-option" multiple="" name="bstatus[]" id="select-booking-status">
                                {booking_status_option}
                            </select>
                            <select name="rtype" id="select-report-type" class="select-option">
                                {report_type_option}
                            </select>
                            <input name="ttdate" type="text" placeholder="Date" value="{ttdate}" class="medium_textbox dpicker sr-only" readonly="readonly">
                            <input name="ttdateto" type="text" placeholder="Date" value="{ttdateto}" class="medium_textbox dpicker sr-only" readonly="readonly">
                        </div>
                    </div>
                </div>
            </div>
            <div id="data-list"></div>
        </form>
    </div>
</div>

<script type="text/javascript">
    function load_ajax_data( filter )
    {
        var prm          = new Object;
            prm.plog     = 'transport-list';
            prm.taid     = jQuery('[name=taid]').val();
            prm.rid      = jQuery('[name=rid]').val();
            prm.ttype    = jQuery('[name=ttype]').val();
            prm.rtype    = jQuery('[name=rtype]').val();
            prm.ttdate   = jQuery('[name=ttdate]').val();
            prm.ttdateto = jQuery('[name=ttdateto]').val();
            prm.bstatus  = jQuery('#select-booking-status').val();

        jQuery.ajax({
            method: 'POST',
            url: '{ajax_response}',
            data: prm,
            dataType : 'json',
            success: function( data ){
                if( data.total == 0 )
                {
                    var html =
                    '<div class="row">'+
                        '<div class="col-md-12">'+
                            '<div class="report-list passenger-list">'+
                                '<div class="row">'+
                                    '<div class="col-md-12">'+
                                        '<p class="text-center text-danger">No data was found<p>'+
                                    '</div>'+
                                '</div>'+
                            '</div>'+
                        '</div>'+
                    '</div>';

                    $('#data-list').html(html);
                }
                else
                {
                    var i    = 0;
                    var html =
                    '<div class="row">'+
                        '<div class="col-md-12">'+
                            '<div class="report-chart-wrapp">'+
                                '<div id="report-chart" class="report-chart"></div>'+
                                '<div class="report-chart-legend"></div>'+
                            '</div>'+
                        '</div>'+
                        '<div class="col-md-12">'+
                            '<div class="report-list transport-list">'+
                                '<div class="row">'+
                                    '<div class="col-md-12">'+
                                        '<div class="row-total">'+
                                            '<div class="row">'+
                                                '<div class="col-md-12">'+
                                                    '<div class="row">'+
                                                        '<div class="col-md-6">'+
                                                            '<h3>Total Amount</h3>'+
                                                        '</div>'+
                                                        '<div class="col-md-6">'+
                                                            '<p class="bold text-right">' + data.total + ' (100%)</p>'+
                                                        '</div>'+
                                                    '</div>'+
                                                '</div>'+
                                            '</div>'+
                                        '</div>'+
                                        '<div class="row-item">'+
                                            '<div class="row">'+
                                                '<ul class="col-md-12">';
                                                    $.each(data.items, function( idx, items ) {
                                                        var opened = '';
                                                        if ( i <= 0 ){ opened = 'opened'; }
                                                        var itms = jQuery.parseJSON( jQuery.base64.decode( idx ) );
                                                        html +=
                                                        '<li class="'+ opened +'">'+
                                                            '<a class="r-head">'+
                                                                '<div class="row">'+
                                                                    '<div class="col-md-6">'+
                                                                        '<h4>'+ itms[0] +'</h4>'+
                                                                    '</div>'+
                                                                    '<div class="col-md-6">'+
                                                                        '<p class="text-right medium-bold">'+ itms[1] +' ('+ itms[2] +'%)</p>'+
                                                                    '</div>'+
                                                                '</div>'+
                                                            '</a>'+
                                                            '<div class="r-content">';
                                                            $.each(items, function( grp, group ) {
                                                                var grps  = jQuery.parseJSON( jQuery.base64.decode( grp ) );
                                                                html +=
                                                                '<div class="item">'+
                                                                    '<div class="rs-head">'+
                                                                        '<div class="row">'+
                                                                            '<div class="col-md-6">'+
                                                                                '<h5>' + grps[0] + ' - ' + grps[1] + '</h5>'+
                                                                            '</div>'+
                                                                            '<div class="col-md-6">'+
                                                                                '<p class="text-right medium-bold">' + grps[2] + ' (' + grps[3] + '%)</p>'+
                                                                            '</div>'+
                                                                        '</div>'+
                                                                    '</div>'+
                                                                    '<div class="rs-table">'+
                                                                        '<table id="reservation-table" class="table table-striped" cellspacing="0" width="100%">'+
                                                                            '<thead>'+
                                                                                '<tr>'+
                                                                                    '<th width="10%">Booked By</th>'+
                                                                                    '<th width="10%">Guest Name</th>'+
                                                                                    '<th width="20%">Hotel Address</th>'+
                                                                                    '<th>Phone</th>'+
                                                                                    '<th>Trans. Type</th>'+
                                                                                    '<th>Type</th>'+
                                                                                    '<th>Resv/Ticket #</th>'+
                                                                                    '<th>Vehicle</th>'+
                                                                                    '<th>Driver</th>'+
                                                                                    '<th>Phone</th>'+
                                                                                '</tr>'+
                                                                            '</thead>'+
                                                                            '<tbody>';
                                                                            $.each(group, function( dt, dts ) {
                                                                                html +=
                                                                                '<tr>'+
                                                                                    '<td>' + dts.bbname + '</td>'+
                                                                                    '<td>' + dts.gname + '</td>'+
                                                                                    '<td>' + dts.hname + '<br/>' + dts.haddress + '</td>'+
                                                                                    '<td>' + dts.hphone + '</td>'+
                                                                                    '<td>' + dts.tttype + '</td>'+
                                                                                    '<td>' + dts.type + '</td>'+
                                                                                    '<td>'+
                                                                                        '<a rel="' + dts.bid + '">' + dts.bticket + '</a>'+
                                                                                    '</td>'+
                                                                                    '<td>' + dts.vname + '</td>'+
                                                                                    '<td>' + dts.dname + '</td>'+
                                                                                    '<td>' + dts.phone + '</td>'+
                                                                                '</tr>';
                                                                            });
                                                                            html +=
                                                                            '</tbody>'+
                                                                        '</table>'+
                                                                    '</div>'+
                                                                '</div>';
                                                            });
                                                            html +=
                                                            '</div>'+
                                                        '</li>';
                                                        i = i + 1;
                                                    });
                                                html +=
                                                '</ul>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                            '</div>'+
                        '</div>'+
                    '</div>'+
                    '<div class="row">'+
                        '<div class="form-action clearfix">'+
                            '<textarea class="sr-only" name="chart_data">{chart_data}</textarea>'+
                            '<button type="submit" class="btn-print pull-left" name="print">Print Report</button>'+
                            '<button type="submit" class="btn-export-pdf pull-left" name="export_pdf">Export as PDF</button>'+
                            '<button type="submit" class="btn-export-csv pull-left" name="export_csv">Export as CSV</button>'+
                        '</div>'+
                    '</div>';

                    $('#data-list').html(html);

                    gen_chart( data.chart );
                    print_action( data.filter );

                    jQuery('.r-head').unbind();
                    jQuery('.r-head').on('click', function(){
                        jQuery(this).parent().toggleClass('opened');
                    });
                }
            },
            beforeSend: function(){
                $(".section-overlay").show();
            },
            complete:function(data){
                $(".section-overlay").hide();
            },
            error: function(e){
                console.log('Error!!');
            }
        });
    }

    function print_action( fltr )
    {
        jQuery('[name=print]').on('click', function(){
            window.open('', '_blank').location.href = '{site_url}/transport-list-pdf-report?filter='+fltr+'&print=true';
            return false;
        });

        jQuery('[name=export_pdf]').on('click', function(){
            window.open('', '_blank').location.href = '{site_url}/transport-list-pdf-report?filter='+fltr;
            return false;
        });

        jQuery('[name=export_csv]').on('click', function(){
            window.open('', '_blank').location.href = '{site_url}/transport-list-csv-report?filter='+fltr;
            return false;
        });
    }

    jQuery(document).ready(function(){
        jQuery('[name=filter]').on('click', function(){
            load_ajax_data();
            return false;
        });

        load_ajax_data();

        jQuery('.select-option').chosen({ max_selected_options:10, search_contains:true });
        jQuery('.select-multiple-option').chosen({ max_selected_options:10, search_contains:true, placeholder_text_multiple:'Payment Status' });

        set_filter_period( jQuery('[name=rtype]').val(), 'ttdate', 'ttdateto' );

        jQuery('[name=rtype]').on('change', function(){
            jQuery('[name=ttdate]').datepicker('destroy').val('');
            jQuery('[name=ttdateto]').datepicker('destroy').val('');

            set_filter_period( jQuery(this).val(), 'ttdate', 'ttdateto' );
        });
    });
</script>

<!-- END report-block -->
