<!-- BEGIN form-block -->

<div class="wrapper-block add-ons-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="addons_form">
            <div class="row">
                <div class="col-md-12">
                    <h1>New/Edit Add-ons</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-block no-field-border">
                    	{message}
                    	<fieldset class="sr-only">
                    		<input type="text" name="aoid" value="{aoid}" />
                    	</fieldset>
                        <fieldset>
                            <label>Name</label>
                    		<div class="form-group">
							    <input type="text" class="text text-large form-control" name="aoname" value="{aoname}">
						  	</div>
                        </fieldset>
                        <fieldset>
                            <label>Description</label>
                            <div class="form-group">
                                <textarea class="textarea tinymce text-large form-control" name="aodesc" rows="6">{aodesc}</textarea>
                            </div>
                        </fieldset>
                        <fieldset>
                            <label>Brief Text</label>
                            <div class="form-group">
                                <textarea class="textarea text-large form-control" name="aobrief" rows="6">{aobrief}</textarea>
                            </div>
                        </fieldset>
                        <fieldset>
                            <label>Period</label>
                            <div class="form-group">
                                <input type="text" class="text text-date text-medium form-control" name="aoperiod" value="{aoperiod}" placeholder="" readonly>
                            </div>
                        </fieldset>
                        <fieldset>
                            <label>Type</label>
                            <div class="form-group">
                                <select class="select-option" name="aotype" autocomplete="off" style="width:250px;">
                                    {aotype}
                                </select>
                            </div>
                        </fieldset>
                        <fieldset>
                            <label>Apply On</label>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <p class="subtitle">Schedule</p>
                                    <select data-placeholder="All Schedule" class="select-multiple-option" name="aosid[]" autocomplete="off" multiple>
                                        {aosid}
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <p class="subtitle">Departure Point</p>
                                    <select data-placeholder="All Departure Point" class="select-multiple-option" name="aodepart[]" autocomplete="off" multiple>
                                        {aodepart}
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <p class="subtitle">Arrival Point</p>
                                    <select data-placeholder="All Arrival Point" class="select-multiple-option" name="aoarrive[]" autocomplete="off" multiple>
                                        {aoarrive}
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <p class="subtitle">Booking Source</p>
                                    <select data-placeholder="All Booking Source" class="select-multiple-option" name="aobsource[]" autocomplete="off" multiple>
                                        {aobsource}
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <label>Supplier Detail</label>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <p class="subtitle">Name</p>
                                    <input type="text" class="text text-large form-control" name="aosname" value="{aosname}">
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <p class="subtitle">Telp.</p>
                                    <input type="text" class="text text-medium form-control" name="aostelp" value="{aostelp}">
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <p class="subtitle">Email</p>
                                    <input type="email" class="text text-medium form-control" name="aosemail" value="{aosemail}">
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Price</label>
                            <div class="form-group">
                                <div class="input-group price-group">
                                    <span class="input-group-addon">IDR</span>
                                    <input type="text" data-v-min="0" data-a-sep="." data-a-dec="," data-m-dec="0" class="text text-number text-right form-control" value="{aoprice}" name="aoprice" autocomplete="off">
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Discount</label>
                            <div class="form-group">
                                <div class="input-group discount-group">
                                    <span class="input-group-addon">IDR</span>
                                    <input type="text" data-v-min="0" data-a-sep="." data-a-dec="," data-m-dec="0" class="text text-number text-right form-control" value="{aodiscount}" name="aodiscount" autocomplete="off">
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <label>Featured Image</label>
                            <div class="form-group">
                                <div class="featured-block">
                                    {aopicture}
                                </div>
                                <div class="upload-btn">
                                    <input type="file" class="file-upload" name="picture" autocomplete="off" />
                                    <span>Upload Image</span>
                                </div>
                            </div>                                    
                        </fieldset>
                        <fieldset>
                            <label>Status</label>
                            <div class="form-group">
                                <select class="select-option" name="aostatus" autocomplete="off">
                                    {aostatus}
                                </select>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-action clearfix">
                    	<button type="submit" class="btn-save pull-left" name="publish">Save Add-ons</button>
                    	<a class="cancel pull-left" href="{cancel_link}">Cancel</a>
                    	<a class="delete pull-right {delete_class}" href="{ajax_link}">Delete</a>
                    </div>
                    <div class="form-note">
                        {last_update_note}
                    </div>
                </div>
            </div>
        </form>

        <script type="text/javascript">
            function set_tinymce()
            {
                tinymce.init({
                    selector: '.tinymce',
                    height: 300,
                    theme: 'modern',
                    plugins: [
                        'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                        'searchreplace wordcount visualblocks visualchars code fullscreen',
                        'insertdatetime media nonbreaking save table contextmenu directionality',
                        'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
                    ],
                    toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link unlink image | print preview media | forecolor backcolor emoticons | codesample code',
                    image_advtab: true,
                    content_css: [
                        '../l-admin/themes/custom/css/textarea.css',
                    ]
                });
            }

            function delete_featured_image()
            {
                jQuery('.delete-featured').unbind();
                jQuery('.delete-featured').on('click', function(e){
                    var prm = new Object;
                        prm.pkey = 'delete-featured-image';
                        prm.aoid = jQuery('[name=aoid]').val();

                    jQuery.ajax({
                        method: 'POST',
                        url: '{ajax_link}',
                        data: prm,
                        dataType : 'json',
                        success: function(e){
                            if( e.result=='success' )
                            {
                                jQuery('.featured-block').html('');
                            }
                            else
                            {
                                show_popup('Warning', 'Something Wrong!!');
                            }
                        },
                        error: function(e){
                            show_popup('Warning', 'Something Wrong!!');
                        }
                    });
                });
            }

            function set_featured_image()
            {
                jQuery('.file-upload').on('change', function(el){
                    var prm = new FormData();
                        prm.append('pkey', 'add-featured-image');
                        prm.append('aoid', jQuery('[name=aoid]').val());
                        prm.append('featured', el.currentTarget.files[0]);

                    jQuery.ajax({
                        method: 'POST',
                        url: '{ajax_link}',
                        data: prm,
                        type: 'POST',
                        contentType: false,
                        processData: false,
                        dataType : 'json',
                        success: function(e){
                            if( e.result == 'success' )
                            {
                                var img_block = 
                                '<div class="featured-overlay">'+
                                    '<a class="delete-featured"></a>'+
                                '</div>'+
                                '<div class="featured-img">'+
                                    '<textarea class="sr-only" name="aopicture">'+ e.picture +'</textarea>'+
                                    '<img src="{site_link}/l-plugins/ticket/uploads/featured/'+ e.filename +'" alt="Featured Image" />'+
                                '</div>';

                                jQuery('.featured-block').html(img_block);
                                delete_featured_image();
                            }
                            else
                            {
                                show_popup('Warning', e.message);
                            }
                        }
                    });
                });
            }

            jQuery(document).ready(function(){
                set_tinymce();
                set_featured_image();
                delete_featured_image();

                jQuery('.select-multiple-option').chosen({ max_selected_options:10, search_contains:true });
                jQuery('.select-option').chosen({ max_selected_options:10, search_contains:true });
                jQuery('.text-number').autoNumeric('init');

                jQuery('.text-date').daterangepicker({ 
                    autoUpdateInput:false,
                    locale: {
                        cancelLabel: 'Clear',
                        format: 'DD/MM/YYYY',
                    }
                });

                jQuery('[name=addons_form]').submit(function() {
                    jQuery('.text-number').each(function(i){
                        var v = jQuery(this).autoNumeric('get');

                        jQuery(this).autoNumeric('destroy');
                        jQuery(this).val(v);
                    });
                });

                jQuery('.text-date').on('apply.daterangepicker', function(ev, picker) {
                    jQuery(this).val( picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY') );
                });

                jQuery('.text-date').on('cancel.daterangepicker', function(ev, picker) {
                    jQuery(this).val('');
                });

                jQuery('.form-action .delete').on('click', function(e){
                    var url = jQuery(this).attr('href');
                    var prm = new Object();
                        prm.aoid  = jQuery('[name=aoid]').val();
                        prm.pkey  = 'delete-add-ons';
                        prm.state = '{state}';
                        prm.sub   = '{sub}';

                    jQuery('<div></div>').dialog({
                        modal: true,
                        draggable: false,
                        resizable: false,
                        title: 'Notification',
                        open: function(){
                            jQuery(this).html('Are you sure want to delete this add-ons?');
                        },
                        buttons: {
                            Yes: function(){
                                var popup = jQuery(this);

                                jQuery.ajax({
                                    method: 'POST',
                                    url: url,
                                    data: prm,
                                    dataType : 'json',
                                    success: function(e){
                                        popup.dialog('close');

                                        if( e.result=='success' )
                                        {                                       
                                            show_popup('Notification', 'This add-ons has been successfully deleted', 'window.location.assign("{cancel_link}")');
                                        }
                                        else if( e.result=='failed' )
                                        {
                                            show_popup('Warning', 'Sorry, This add-ons can\'t be deleted. Please try again later');
                                        }
                                    },
                                    error: function(e){
                                       popup.dialog('close');

                                       show_popup('Warning', 'Sorry, This add-ons can\'t be deleted. Please try again later');
                                    }
                                });
                            },
                            No: function(){
                                jQuery( this ).dialog('close');
                            }
                        }
                    });

                    return false;
                });
            });
        </script>
    </div>
</div>

<!-- END form-block -->