<!-- BEGIN result-loop-block -->

<div class="container container-add {include_css} {include_trans_css}">
    <div class="col-md-12">
        <article class="clearfix">
            <div class="container-result-first">
                <div class="title">
                    {port_name}
                    {remain_seat}
                    <span>{discount_notif}</span>
                </div>
                <div class="img-ship">
                    <img src="{bopicture}" class="img-responsive" alt="">
                </div>
                <div class="info-route">
                    <p class="heading-route">{boname}</p>
                    <div class="routes">
                        <ul class="list-unstyled">
                        	{route_list}
                        </ul>
                    </div>
                </div>
                <div class="info-passenger">
                    <p class="heading-passenger">Passenger</p>
                    <div class="passenger-result">
                        <ul class="list-unstyled">
                            {passenger_number}
                        </ul>
                    </div>
                </div>
                <div class="info-transport">
                    <p class="heading-transport">Transport</p>
                    <div class="transport-result">
                        <ul class="list-unstyled">
                            {transport_label}
                            <!--
                            <li>Shared <span>(Free)</span></li>
                            <li>Private <span>(Addtional)</span></li>
                            <li>No Transport <span>(Own Transport)</span></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-result-second">
                <div class="container-price-select">
                    <div class="total-price">
                        Total Price
                    </div>
                    {include_price_disc_number}
                    <div class="price">
                        {include_price_number}
                    </div>
        			<div class="opt-btn">
        				<input type="radio" name="{radio_name}" autocomplete="off" value="{rid}|{sid}|{boid}|{rtdid}|{inc_adult_price}|{inc_child_price}|{inc_infant_price}|{inc_sell_adult_price}|{inc_sell_child_price}|{inc_sell_infant_price}|{inc_disc_adult}|{inc_disc_child}|{inc_disc_infant}|{inc_total_price}|{inc_disc_price}|1" {btnstatus}>
        				<label></label>
        			</div>
                </div>
            </div>
        </article>
    </div>
</div>

<div class="container container-add {exclude_css} {exclude_trans_css}">
    <div class="col-md-12">
        <article class="clearfix">
            <div class="container-result-first">
                <div class="title">
                    {port_name}
                    {remain_seat}
                    <span>{discount_notif}</span>
                </div>
                <div class="img-ship">
                    <img src="{bopicture}" class="img-responsive" alt="">
                </div>
                <div class="info-route">
                    <p class="heading-route">{boname}</p>
                    <div class="routes">
                        <ul class="list-unstyled">
                        	{route_list}
                        </ul>
                    </div>
                </div>
                <div class="info-passenger">
                    <p class="heading-passenger">Passenger</p>
                    <div class="passenger-result">
                        <ul class="list-unstyled">
                            {passenger_number}
                        </ul>
                    </div>
                </div>
                <div class="info-transport">
                    <p class="heading-transport">Transport</p>
                    <div class="transport-result">
                        <ul class="list-unstyled">
                            <li>Excluded</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-result-second">
                <div class="container-price-select">
                    <div class="total-price">
                        Total Price
                    </div>
                    {exclude_price_disc_number}
                    <div class="price">
                        {exclude_price_number}
                    </div>
        			<div class="opt-btn">
        				<input type="radio" name="{radio_name}" autocomplete="off" value="{rid}|{sid}|{boid}|{rtdid}|{exc_adult_price}|{exc_child_price}|{exc_infant_price}|{exc_sell_adult_price}|{exc_sell_child_price}|{exc_sell_infant_price}|{exc_disc_adult}|{exc_disc_child}|{exc_disc_infant}|{exc_total_price}|{exc_disc_price}|0" {btnstatus}>
        				<label></label>
        			</div>
                </div>
            </div>
        </article>
    </div>
</div>

<!-- END result-loop-block -->

<!-- BEGIN empty-loop-block -->
<div class="container container-no-result">
    <div class="row">
        <div class="col-md-12">
            <p>The trip you are looking for is not available or already fully booked</p>
           <!-- <t>At the moment we are running a limited service to the Gili Islands and Lombok. Please see below for further details.....</t>
                <ul>
                    <li>Boats are only running on Mondays and Fridays.</li>
                    <li>Serangan will be the only Bali port in service. For the time being we are not running from Padang Bai.</li>
                    <li>Rapid tests will be available at our departure area in Serangan harbour. Guests without a negative rapid test will not be permitted to board the boat.</li>
                </ul>-->
                <!--<t>Due to global travel restrictions, all services are suspended until April 1st, 2021</t>
                <ul>
                    <li>From April onwards we have opened daily departures to the Gili Islands from both Serangan (South Bali) and Padang Bai (East Bali).</li>
                    <li>All services to Lembongan and Penida are suspended until further notice.</li>
                    <li>Looking forward to travelling with you again soon!</li>
                </ul>-->
                <!--All Services suspended until further notice . . .-->
        </div>
    </div>
</div>
<!-- END empty-loop-block -->

<!-- BEGIN suggestion-result-block -->
<div class="container-sugestion-result">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sr-only">
                    <input type="text" name="use_sugested_trip" value="1" />
                </div>

                <div class="title-information">
                    <div class="title-note">
                        The trip you are looking for is not available or already fully booked, below is another trip that we can suggest to you
                    </div>
                    <div class="title-desc">
                        {suggested-trip}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BEGIN suggestion-result-loop-block -->
    <div class="container container-add {include_css} {include_trans_css}">
        <div class="col-md-12">
            <article class="clearfix">
                <div class="container-result-first">
                    <div class="title">
                        {port_name}
                        {remain_seat}
                        <span>{discount_notif}</span>
                    </div>
                    <div class="img-ship">
                        <img src="{bopicture}" class="img-responsive" alt="">
                    </div>
                    <div class="info-route">
                        <p class="heading-route">{boname}</p>
                        <div class="routes">
                            <ul class="list-unstyled">
                                {route_list}
                            </ul>
                        </div>
                    </div>
                    <div class="info-passenger">
                        <p class="heading-passenger">Passenger</p>
                        <div class="passenger-result">
                            <ul class="list-unstyled">
                                {passenger_number}
                            </ul>
                        </div>
                    </div>
                    <div class="info-transport">
                        <p class="heading-transport">Transport</p>
                        <div class="transport-result">
                            <ul class="list-unstyled">
                                <li>Shared <span>(Free)</span></li>
                                <li>Private <span>(Addtional)</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="container-result-second">
                    <div class="container-price-select">
                        <div class="total-price">
                            Total Price
                        </div>
                        {include_price_disc_number}
                        <div class="price">
                            {include_price_number}
                        </div>
                        <div class="opt-btn">
                            <input type="radio" name="{radio_name}" autocomplete="off" value="{rid}|{sid}|{boid}|{rtdid}|{inc_adult_price}|{inc_child_price}|{inc_infant_price}|{inc_sell_adult_price}|{inc_sell_child_price}|{inc_sell_infant_price}|{inc_disc_adult}|{inc_disc_child}|{inc_disc_infant}|{inc_total_price}|{inc_disc_price}|1">
                            <label></label>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>

    <div class="container container-add {exclude_css} {exclude_trans_css}">
        <div class="col-md-12">
            <article class="clearfix">
                <div class="container-result-first">
                    <div class="title">
                        {port_name}
                        {remain_seat}
                        <span>{discount_notif}</span>
                    </div>
                    <div class="img-ship">
                        <img src="{bopicture}" class="img-responsive" alt="">
                    </div>
                    <div class="info-route">
                        <p class="heading-route">{boname}</p>
                        <div class="routes">
                            <ul class="list-unstyled">
                                {route_list}
                            </ul>
                        </div>
                    </div>
                    <div class="info-passenger">
                        <p class="heading-passenger">Passenger</p>
                        <div class="passenger-result">
                            <ul class="list-unstyled">
                                {passenger_number}
                            </ul>
                        </div>
                    </div>
                    <div class="info-transport">
                        <p class="heading-transport">Transport</p>
                        <div class="transport-result">
                            <ul class="list-unstyled">
                                <li>Excluded</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="container-result-second">
                    <div class="container-price-select">
                        <div class="total-price">
                            Total Price
                        </div>
                        {exclude_price_disc_number}
                        <div class="price">
                            {exclude_price_number}
                        </div>
                        <div class="opt-btn">
                            <input type="radio" name="{radio_name}" autocomplete="off" value="{rid}|{sid}|{boid}|{rtdid}|{exc_adult_price}|{exc_child_price}|{exc_infant_price}|{exc_sell_adult_price}|{exc_sell_child_price}|{exc_sell_infant_price}|{exc_disc_adult}|{exc_disc_child}|{exc_disc_infant}|{exc_total_price}|{exc_disc_price}|0">
                            <label></label>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <!-- END suggestion-result-loop-block -->
</div>
<!-- END suggestion-result-block -->