html, body{ display:block; font-family:'Arial'; margin:0; font-size:10px; }

.boarding-pass-block table{  padding:40px 0 5px;  line-height:1.5; }
.boarding-pass-block table td{ padding-bottom:0; vertical-align:top; letter-spacing:1px; }
.boarding-pass-block table td strong{ font-weight:normal; }