.sidebar nav ul li.reservation{ background-image:url(../images/booking.svg); }
.sidebar nav ul li.boat{ background-image:url(../images/boat.svg); }
.sidebar nav ul li.schedules{ background-image:url(../images/schedule.svg); }
.sidebar nav ul li.booking-source{ background-image:url(../images/source.svg); }
.sidebar nav ul li.transport{ background-image:url(../images/transport.svg); }
.sidebar nav ul li.admin{ background-image:url(../images/admin.svg); }
.sidebar nav ul li.report{ background-image:url(../images/report.svg); }
.sidebar nav ul li.profile-setting{ background-image:url(../images/admin.svg); }
.sidebar nav ul li.outstanding-payment{ background-image:url(../images/booking.svg); }