.receipt-block{ padding:0; font-family:'Arial'; font-size:11px; }
.receipt-block .container{ background-color:rgb(255,255,255); padding:0 30px; margin:0 auto; width:800px; }
.receipt-block .container header{ border-bottom:1px solid rgb(198, 216, 220); margin-bottom:10px; }
.receipt-block .container header .left-box{ float:left; width:120px; }
.receipt-block .container header .right-box{ float:right; text-align:right; }
.receipt-block .container header p{ margin:10px 0 0; font-size:12px; font-weight:bold; color:rgb(62, 117, 128); }
.receipt-block .container section h3{ padding:7px; margin:0; font-size:12px; font-weight:bold; border-top:1px solid rgb(198, 216, 220); border-bottom:1px solid rgb(198, 216, 220); background-color:rgb(245,245,245); }
.receipt-block .container section h4{ margin:0; padding:7px; border-bottom:1px solid rgb(198, 216, 220); background-color:rgb(230, 238, 239); }
.receipt-block .container section p{ margin:0 0 0; }
.receipt-block .container section p.sub{ border-bottom:1px solid rgb(198, 216, 220); padding-bottom:5px; margin-bottom:0; }
.receipt-block .container section .list-trip-block{ margin:7px 0; border:1px solid rgb(198, 216, 220); }

.receipt-block .list{ padding:0; margin:0; list-style:none; }
.receipt-block .list li{ border-bottom:1px solid rgb(198, 216, 220); }
.receipt-block .list li.no-border{ border-bottom:0; }
.receipt-block .list-trip-block li{ border:none; }
.receipt-block .list li .inner{ margin:7px 7px 0; border:1px solid rgb(198, 216, 220); }
.receipt-block .list li.last{ border-bottom:0; }
.receipt-block .list li.last .inner{ margin-bottom:7px; }
.receipt-block .list .item{ float:left; width:247px; line-height:1.68; padding:7px; }
.receipt-block .list .item b{ color:rgb(62, 117, 128); display:block; font-weight:bold; }
.receipt-block .list .item small{ font-size:11px; text-decoration:line-through; color:red; display:block; }
.receipt-block .list .item strong{ display:block; font-weight:bold; }
.receipt-block .list-table .trip{ width:110px; }
.receipt-block .list-table .price{ width:100px; text-align:right; }
.receipt-block .list-table .subtotal{ width:111px; text-align:right; }
.receipt-block .list-table .transport{ width:463px; }
.receipt-block .list-table .summary{ width:100%; text-align:right; float:none; padding:7px 0; }

.receipt-block .transport-detail{ border-top:1px solid rgb(198, 216, 220); }
.receipt-block .passenger-detail{ background-color:rgb(255,255,255); width:100%; }
.receipt-block .passenger-detail .item{ padding:5px 0; }
.receipt-block .passenger-detail ul{ margin:0; padding:0; border-bottom:0; list-style:none; width:100%; }
.receipt-block .passenger-detail li{ padding:7px; border-bottom:1px solid rgb(198, 216, 220); }
.receipt-block .passenger-detail li.last{ border-bottom:0; }
.receipt-block .passenger-detail li.head{ background-color:rgb(245,245,245); border-top:1px solid rgb(198, 216, 220); }
.receipt-block .passenger-detail li div{ float:left; }
.receipt-block .passenger-detail li div strong{ color:rgb(62, 117, 128); display:block; font-weight:bold; font-size:11px; }
.receipt-block .passenger-detail li div p{ margin:0; line-height:17px; }
.receipt-block .passenger-detail li .pass-name{ width:122px; }
.receipt-block .passenger-detail li .pass-type{ width:169px; }
.receipt-block .passenger-detail li .pass-gender{ width:110px; }
.receipt-block .passenger-detail li .pass-nationality{ width:156px; }
.receipt-block .passenger-detail li .pass-birthdate{ width:144px; text-align:left; }
.receipt-block .passenger-detail h4{ margin:0; font-size:12px; font-weight:normal; border-bottom:1px solid rgb(198, 216, 220); padding-bottom:5px; }

.receipt-block .add-ons-detail ul{ padding:0; list-style:none; margin-bottom:0; border-bottom:1px solid rgb(198, 216, 220); }
.receipt-block .add-ons-detail ul.row-head{ background-color:rgb(245,245,245); border-top:1px solid rgb(198, 216, 220); }
.receipt-block .add-ons-detail ul.row:before,
.receipt-block .add-ons-detail ul.row:after{ display:table; content:" "; }
.receipt-block .add-ons-detail ul.row:after{ clear:both; }

.receipt-block .add-ons-detail ul:last-child{ border-bottom:0; }
.receipt-block .add-ons-detail ul li{ padding-top:5px; padding-bottom:5px; border:none; }
.receipt-block .add-ons-detail ul.row-head li{ font-weight:bold; color:rgb(62, 117, 128); font-size:11px; }
.receipt-block .add-ons-detail ul li p{ margin-bottom:0 !important; }
.receipt-block .add-ons-detail ul .add-ons-name{ float:left; width:110px; }
.receipt-block .add-ons-detail ul .add-ons-desc{ float:left; width:300px; }
.receipt-block .add-ons-detail ul .add-ons-price{ float:left; width:122px; text-align:right; }
.receipt-block .add-ons-detail ul .add-ons-tprice{ float:left; width:122px; text-align:right; }

.clearfix:before,
.clearfix:after{ display:table; content:" "; }
.clearfix:after{ clear:both; }

.sr-only{ display:none; }

.receipt-block  .payment-left{ float: left;width: 45%; height: auto; padding: 5px; }
.receipt-block  .payment-left ul li{  padding: 1px; }
.receipt-block  .payment-right{ float: right;width: 40%; height:auto;text-align: right; padding: 5px; }
.receipt-block  .payment-right b{ color: rgb(62, 117, 128); display: block; font-weight: bold; }
.receipt-block .list .item-invoice{ float:left; width:227px; line-height:1.68; padding:7px; }