.reconfirmation-block{ padding:0; font-family:'Arial'; font-size:11px; }
.reconfirmation-block .container{ background-color:rgb(255,255,255); padding:30px; margin:0 auto; }
.reconfirmation-block .container header{ border-bottom:1px solid rgb(230,238,239); }
.reconfirmation-block .container header .left-box{ float:left; width:374px; }
.reconfirmation-block .container header .left-box img{ display:block; width:100%; }
.reconfirmation-block .container header .right-box{ float:right; text-align:right; }
.reconfirmation-block .container header .right-box .inner p{ margin-top:5px; }
.reconfirmation-block .container header p{ margin:0 0 15px; font-size:12px; font-weight:700; }

.clearfix:before,
.clearfix:after{ display:table; content:" "; }
.clearfix:after{ clear:both; }

.reconfirmation-block .container section{ margin-bottom:0; }
.reconfirmation-block .container section h2{ color:rgb(62, 117, 128); font-size:13px; margin:0; font-weight:normal; border-bottom:1px solid rgb(230,238,239); padding:5px 0; }
.reconfirmation-block .container section ul{ padding:0 0 10px; margin:0; list-style:none; border-bottom:1px solid rgb(230,238,239); }
.reconfirmation-block .container section ul div{ padding-bottom:0; border:none; }
.reconfirmation-block .container section ul.notes{ list-style:square; padding-left:10px; }
.reconfirmation-block .container section ul li{ padding:5px 0 0; }
.reconfirmation-block .container section ul li p{ margin:0; float:left; }
.reconfirmation-block .container section ul li .first{ width:120px; color:rgb(73, 73, 85); font-weight:700; }
.reconfirmation-block .container section ul li .middle{ width:20px; text-align:center; }
.reconfirmation-block .container section ol{ padding:10px 0 0 15px; margin:0; }
.reconfirmation-block .container section ol li{ padding:0 0 0 10px; line-height:16px; }
.reconfirmation-block .container section .quote{ font-size:13px; text-align:center; padding:0 30px; }
.reconfirmation-block .container section.accommodation-in ul {
    padding: 10px 0 10px;
    margin: 0;
    list-style: none;
    border-bottom: 1px solid rgb(230,238,239);
    border-top: 1px solid rgb(230,238,239);

}