body{ font-family:"DejaVuSans"; font-size:10px; font-weight:400; color:rgb(73, 73, 85); }

.clearfix:before,
.clearfix:after{ display:table; content:" "; }
.clearfix:after{ clear:both; }

.header{ text-align:center; border-bottom:1px solid rgb(198, 216, 220); }
.header{ text-align:center; border-bottom:1px solid rgb(198, 216, 220); }
.header h1{ font-size:20px; text-transform:uppercase; }

.bold{ font-weight:bold; }
.hidden{ display:none !important; }
.text-right{ text-align:right; }
.col-md-4{ float:left; width:33.33%; }
.col-md-3{ float:left; width:25%; }
.col-md-6{ float:left; width:50%; }
.col-md-1{ float:left; width:10%; }
.col-md-11{ float:left; width:90%; }
.row-total{ background-color:rgb(255,255,255); padding:7px 10px; border:1px solid rgb(198, 216, 220); border-bottom:0; }
.row-total-bottom{ background-color:rgb(230,238,239); padding:7px 20px; border:1px solid rgb(198, 216, 220); border-top:0; }
.gray{ background-color:rgb(221,221,221); }

.content{ margin:20px 0 0; }
.content h3{ margin:0; font-size:11px; font-weight:bold; } 
.content p{ margin:0; font-size:10px; }
.content ul{ padding:0; margin:0; list-style:none; }
.content ul li{ border:1px solid rgb(198, 216, 220); border-bottom:0; }
.content ul li:last-child{ border-bottom:1px solid rgb(198, 216, 220); }
.content ul li .r-head{ padding:5px 10px; background-color:rgb(230,238,239); border-bottom:1px solid rgb(198, 216, 220); font-weight:bold; }
.content ul li .rs-head{ padding:5px 10px; border-bottom:1px solid rgb(198, 216, 220); font-weight:bold; }
.content ul li .rs-sub-head{ padding:5px 10px; background-color:rgb(230,238,239); border-bottom:1px solid rgb(198, 216, 220); font-weight:bold; }
.content ul li .rs-sub-head p{ padding-left:10px; }
.content ul li .rs-more-sub-head{ padding:5px 10px; border-bottom:1px solid rgb(198, 216, 220); background:rgb(245, 245, 245); font-weight:bold; }
.content ul li .rs-more-sub-head p{ padding-left:10px; }
.content ul li .r-content .head{ padding:5px 10px; border-bottom:1px solid rgb(198, 216, 220); font-weight:bold; }
.content ul li .r-content .head-2{ background-color:rgb(230,238,239); }
.content ul li .r-content .head-2 p{ padding-left:20px; }
.content ul li .r-content .head-3 p{ padding-left:40px; }

.content ul li .r-content .sub-head{ padding:5px 10px; border-bottom:1px solid rgb(198, 216, 220); font-weight:bold; background:#EEEEEE; }
.content ul li .r-content .sub-head-2{ padding:5px 10px 5px 20px; border-bottom:1px solid rgb(198, 216, 220); font-weight:bold; }
.content ul li .r-content .table .t-header{ background:#F8F8F8; }

.cont-block ul li{  border:0; }

.content .table{ font-size:14px; border-collapse:collapse; }
.content .table .t-content .item{ border-bottom:1px solid rgb(198, 216, 220); padding:5px 10px; }
.content .item:last-child .table .t-content .item:last-child{ border-bottom:0; }
.content .table .t-content .item-50{ padding-left:50px; }
.content .table .t-header{ border-bottom:1px solid rgb(198, 216, 220); padding:5px 10px; text-align:left; }
.content .table .t-header p{ float:left; padding:0 10px; font-weight:bold; }
.content .table .t-content p{ float:left; padding:0 10px; }
.content .table .name{ width:150px; }
.content .table .gname{ width:200px; }
.content .table .gname-small{ width:150px; }
.content .table .route{ width:200px; }
.content .table .ticket{ width:120px; }
.content .table .trips{ width:148px; }
.content .table .remark{ width:200px; }
.content .table .hotel{ width:200px; }
.content .table .hotel-small{ width:165px; }
.content .table .transport{ width:200px; }
.content .table .transport-small{ width:100px; }
.content .table .ticket-large{ width:150px; }
.content .table .adult{ width:80px; text-align:right; }
.content .table .child{ width:80px; text-align:right; }
.content .table .infant{ width:80px; text-align:right; }
.content .table .amount{ width:80px; text-align:right; }
.content .table .date{ width:150px; }
.content .table .tdate{ width:120px; }
.content .table .vehicle{ width:150px; }
.content .table .driver{ width:148px; }
.content .table .time{ width:65px; }
.content .table .type{ width:65px; }
.content .table .fee{ width:150px; text-align:right; }
.content .table .source{ width:157px; }
.content .table .route-large{ width:459px; }
.content .table .amount-large{ width:150px; text-align:right; }
.content .table .trip-name{ width:591px; }
.content .table .trip-num{ width:150px; text-align:right; }
.content .table .addons-daily{ width:150px; }
.content .table .addons{ width:480px; }
.content .table .addons-ticket{ width:90px; }
.content .table .addons-guest-name{ width:200px; }
.content .table .addons-pax{ width:30px; text-align:right; }
.content .table .addons-price{ width:80px; text-align:right; }
.content .table .addons-total{ width:98px; text-align:right; padding-right:0 !important; }

.transport-list-report .row{ margin-bottom:10px; }
.transport-list-report p{ font-size:14px; padding-right:15px; }
.transport-list-report table{ font-size:14px; margin-top:10px; border-collapse:collapse; }
.transport-list-report table th{ font-weight:bold; padding:10px 7px; border:1px solid rgb(0, 0, 0); }
.transport-list-report table td{ border:1px solid rgb(0, 0, 0); padding:7px; word-break:break-all; }
.transport-list-report table .head,
.transport-list-report table .foot{ background-color:rgb(204, 204, 204); }
.transport-list-report table .group{ background-color:rgb(221, 221, 221); }
.transport-list-report table .group-2{ background-color:rgb(238, 238, 238); }
.transport-list-report table .group-2 td{ padding-left:20px; }

.transport-guest-report .row{ margin-bottom:10px; }
.transport-guest-report p{ font-size:14px; }
.transport-guest-report table{ font-size:14px; margin-top:10px; border-collapse:collapse; }
.transport-guest-report table th{ font-weight:bold; padding:10px 5px; border:1px solid rgb(0, 0, 0); background-color:#ddd; }
.transport-guest-report table td{ border:1px solid rgb(0, 0, 0); padding:5px; }

.content ul li .sub-content .sub-head{ padding:5px 10px 5px 20px; border-bottom:1px solid rgb(198, 216, 220); font-weight:bold; }
.content .sub-content .table .t-header{ padding-left:35px; }
.content .sub-content .table .t-content .item{ padding-left:35px; }

.daily-report .row{ margin-bottom:7px; }
.daily-report table{ font-size:6px; margin-top:10px; border-collapse:collapse; }
.daily-report table thead td{ font-weight:bold; text-align:center; }
.daily-report table td{ border:1px solid rgb(73, 73, 85); padding:5px 2px; text-align:right; }

.promo-report .row{ margin-bottom:7px; }
.promo-report .col-md-1{ float:left; width:100px; }
.promo-report table{ font-size:11px; margin-top:10px; border-collapse:collapse; }
.promo-report table thead td{ font-weight:bold; }
.promo-report table td{ border:1px solid rgb(73, 73, 85); padding:5px; }

.seat-by-agent-report .row{ margin-bottom:7px; }
.seat-by-agent-report table{ font-size:10px; margin-top:10px; border-collapse:collapse; }
.seat-by-agent-report table thead td{ font-weight:bold; text-align:center; }
.seat-by-agent-report table td{ border:1px solid rgb(73, 73, 85); padding:5px; }

.agent-report .name{ width:150px; }
.agent-report .status{ width:128px; }
.agent-report .ticket{ width:120px; }
.agent-report .ticket span{ padding-bottom:10px; color:rgb(16, 163, 193); }
.agent-report .debet{ width:100px; text-align:right; }
.agent-report .credit{ width:100px; text-align:right; }
.agent-report .outstanding{ width:100px; text-align:right; }

.wrapper{ background-color:rgb(255,255,255); padding:0; }
.text-right{ text-align:right; }

.trip-transport-block{ font-size:12px; margin-top:-20px; }
.trip-transport-block p{ font-size:12px; }
.trip-transport-block .sr-only{ display:none; }
.trip-transport-block .col-md-3{ width:198px; float:left; }

.trip-transport-block .trip-detail{ padding:0; line-height:1.68; }
.trip-transport-block .trip-detail p{ margin:0; }
.trip-transport-block .trip-detail .row{ padding:10px 0; }
.trip-transport-block .trip-detail .row-border{ border-bottom:1px solid rgb(198, 216, 220); }
.trip-transport-block .trip-detail .small-title{ font-size:14px; color:rgb(62, 117, 128); font-weight:700; }
.trip-transport-block .trip-detail .strong-text{ color:rgb(73, 73, 85); font-size:14px; font-weight:700; }

.trip-transport-block .trip-guest-list h2{ margin:0; padding:7px 0; border-bottom:1px solid rgb(198, 216, 220); color:rgb(62, 117, 128); font-size:16px; }
.trip-transport-block .trip-guest-list .table-block .table thead tr th,
.trip-transport-block .trip-guest-list .table-block .table tbody tr td{ padding:7px 0; border-bottom:1px solid rgb(198, 216, 220); font-size:14px; line-height:1.68; }

.port-clearance-block .sr-only{ display:none; }
.port-clearance-block .col-md-6{ width:359px; float:left; }
.port-clearance-block .col-md-4{ width:264px; float:left; }
.port-clearance-block .col-md-3{ width:179px; float:left; }

.port-clearance-block .trip-detail{ padding:10px 0 0; line-height:1.68; }
.port-clearance-block .trip-detail .row-border{ border-bottom:1px solid rgb(198, 216, 220); }
.port-clearance-block .trip-detail .row{ padding:10px 0; }
.port-clearance-block .trip-detail .row-last{ padding:10px 0 0; }
.port-clearance-block .trip-detail p{ margin:0; }
.port-clearance-block .trip-detail .select-option{ margin-top:7px; width:200px; }
.port-clearance-block .trip-detail .text{ margin-top:5px; }

.port-clearance-block .trip-detail .subtitle{ font-size:11px; font-weight:bold; padding-top:10px; }
.port-clearance-block .trip-detail .small-title{ font-size:11px; color:rgb(62, 117, 128); font-weight:700; }
.port-clearance-block .trip-detail .strong-text{ color:rgb(73, 73, 85); font-size:11px; font-weight:700; }
.port-clearance-block .trip-detail .regular-text{ font-size:11px; color:rgb(73, 73, 85); margin:0; }

.port-clearance-block .trip-guest-list{ border-top:2px solid rgb(198, 216, 220); padding:10px 0 0; margin-top:10px; }
.port-clearance-block .trip-guest-list h2{ margin:0; padding-bottom:7px; border-bottom:1px solid rgb(198, 216, 220); font-size:11px; }
.port-clearance-block .trip-guest-list .table-block .table thead tr th,
.port-clearance-block .trip-guest-list .table-block .table tbody tr td{ padding:7px 0; border-bottom:1px solid rgb(230, 238, 239); font-size:11px; line-height:1.68; }

.hs-sales-sum .loader{ margin:50px auto; }
.hs-sales-sum .loader img{ display:block; margin:0 auto; }
.hs-sales-sum .loader p{ margin:0 0 30px; text-align:center; font-size:16px; }
.hs-sales-sum .sub-content .table .t-content .item{ padding-left:10px; padding-right:0; }
.content .hs-sales-sum-pdf .table .trip-name{ width:515px; }

.passanger-list .rs-table{ margin:10px 0; }
.passanger-list .rs-table table th{ font-weight:bold; border:1px solid rgb(0, 0, 0); padding:5px; }
.passanger-list .rs-table table td{ border:1px solid rgb(0, 0, 0); padding:5px; white-space:normal; word-break:break-all; }
.passanger-list .loader{ margin:50px auto; }
.passanger-list .loader img{ display:block; margin:0 auto; }
.passanger-list .loader p{ margin:0 0 30px; text-align:center; font-size:16px; }

.reservation-addons-list .rs-table{ margin:10px 0; }
.reservation-addons-list .rs-table table th{ font-weight:bold; border:1px solid rgb(0, 0, 0); padding:5px; }
.reservation-addons-list .rs-table table td{ border:1px solid rgb(0, 0, 0); padding:5px; white-space:normal; word-break:break-all; }
.reservation-addons-list .loader{ margin:50px auto; }
.reservation-addons-list .loader img{ display:block; margin:0 auto; }
.reservation-addons-list .loader p{ margin:0 0 30px; text-align:center; font-size:16px; }

.rsv-list .rs-table{ margin:10px 0; }
.rsv-list .rs-table table th{ font-weight:bold; border:1px solid rgb(0, 0, 0); padding:5px; }
.rsv-list .rs-table table td{ vertical-align:top; border:1px solid rgb(0, 0, 0); padding:5px; }
.rsv-list .rs-table table tr td ul{ margin:0 0 10px; padding:0; }
.rsv-list .rs-table table tr td ul li{ padding-bottom:5px; }
.rsv-list .rs-table table tr td ul li p{ font-weight:700; }
.rsv-list .rs-table table tr td ul ul li{ padding-bottom:0; }

.rsv-list .loader{ margin:50px auto; }
.rsv-list .loader img{ display:block; margin:0 auto; }
.rsv-list .loader p{ margin:0 0 30px; text-align:center; font-size:16px; }

.transport-list .loader{ margin:50px auto; }
.transport-list .loader img{ display:block; margin:0 auto; }
.transport-list .loader p{ margin:0 0 30px; text-align:center; font-size:16px; }

.reservation-block .col-md-6{ width:349px; float:left; }
.reservation-block .col-md-3{ width:174px; float:left; }

.agent-invoice-summary-wrapper .header{ font-size:11px; line-height:1.68; text-align:left; text-align:left; }
.agent-invoice-summary-wrapper .header b{ font-size:16px; }
.agent-invoice-summary-wrapper .header .boxs{ float:left; width:50%; }
.agent-invoice-summary-wrapper .content h1{ text-align:center; margin:20px 0 50px; }
.agent-invoice-summary-wrapper .content .push-right{ float:right; width:180px; }
.agent-invoice-summary-wrapper .content table{ margin-top:30px; border-collapse:collapse; width:100%; }
.agent-invoice-summary-wrapper .content table th,
.agent-invoice-summary-wrapper .content table tr td{ border-width:1px; border-style:solid; border-color:#c6d8dc; padding:7px; line-height:1.68; }
.agent-invoice-summary-wrapper .content table tr th{ background:rgb(245, 245, 245); }
