.ticket-block{ padding:0; font-family:'Arial'; font-size:11px; }
.ticket-block .container{ background-color:rgb(255,255,255); margin:0 auto; }
.ticket-block .container header{ border-bottom:1px solid rgb(230,238,239); }
.ticket-block .container header .left-box{ float:left; width:150px; }
.ticket-block .container header .right-box{ float:right; text-align:right; width:84px; }
.ticket-block .container header .right-box .inner{ text-align:center; }
.ticket-block .container header .right-box .inner p{ margin-top:5px; }
.ticket-block .container header h3{ margin:0 0 5px; color:rgb(62, 117, 128); font-size:13px; }
.ticket-block .container header p{ margin:0 0 15px; font-size:12px; font-weight:700; }

.clearfix:before,
.clearfix:after{ display:table; content:" "; }
.clearfix:after{ clear:both; }

.ticket-block .container section{ margin-bottom:0; }
.ticket-block .container section h2{ color:rgb(62, 117, 128); font-size:13px; margin:0; font-weight:normal; border-bottom:1px solid rgb(230,238,239); padding:5px 0; }
.ticket-block .container section ul{ padding:0 0 10px; margin:0; list-style:none; border-bottom:1px solid rgb(230,238,239); }
.ticket-block .container section ul li{ padding:5px 0 0; }
.ticket-block .container section ul li p{ margin:0; float:left; }
.ticket-block .container section ul li .trans p{ padding-right:20px; width:215px; }
.ticket-block .container section ul li .first{ width:120px; color:rgb(73, 73, 85); font-weight:700; }
.ticket-block .container section ul li .middle{ width:20px; text-align:center; }
.ticket-block .container section ol{ padding:10px 0 0 15px; margin:0; }
.ticket-block .container section ol li{ padding:0 0 0 10px; line-height:16px; }
.ticket-block .container .tac{ padding:20px 0; }
.ticket-block .container .tac h3{ margin:0 0 10px; font-size:12px; }
.ticket-block .container .tac ul{ border:none; padding:0 0 0 15px; margin:0; list-style:disc; }
.ticket-block .container .tac ul li{ padding:0 0 0 10px; line-height:16px; }
.ticket-block .container .p-list{ background-color:rgb(255,255,255); width:100%; }
.ticket-block .container .p-list ul{ margin-bottom:0; padding-bottom:0; border-bottom:0; }
.ticket-block .container .p-list li{ padding:5px; border-bottom:1px solid rgb(230,238,239); }
.ticket-block .container .p-list li div{ float:left; width:25%; }
.ticket-block .container .p-list li div strong{ color:rgb(62, 117, 128); display:block; margin-bottom:5px; font-weight:normal; font-size:11px; }
.ticket-block .container .p-list li div p{ color:rgb(73, 73, 85); margin:0 0 15px; line-height:17px; }
.ticket-block .container .p-list li .pass-name{ width:200px; }
.ticket-block .container .p-list li .pass-type{ width:123px; }
.ticket-block .container .p-list li .pass-gender{ width:110px; }
.ticket-block .container .p-list li .pass-nationality{ width:155px; text-align:right; }
.ticket-block .container .p-list li .pass-birthdate{ width:145px; }
.ticket-block .container .p-list .item{ padding:5px 0; }
.ticket-block .container .p-list h3{ margin:0; font-size:12px; font-weight:normal; border-bottom:1px solid rgb(230,238,239); padding-bottom:5px; }


.ticket-block .container .t-list{ background-color:rgb(255,255,255); width:100%; }
.ticket-block .container .t-list ul{ margin-bottom:0; padding-bottom:0; border-bottom:0; }
.ticket-block .container .t-list li{ padding:5px; border-bottom:1px solid rgb(230,238,239); }
.ticket-block .container .t-list li li{ border:none; }
.ticket-block .container .t-list li .r-detail{ font-size:11px; padding-left:0px; list-style:disc; padding-top:20px; list-style:none;
display:flex; flex-direction:row; flex-wrap:nowrap; justify-content:center; align-items:center;
}
.ticket-block .container .t-list li .r-detail li{ color:rgb(73, 73, 85); border:none; width:100px;text-align:center;align-items:center;justify-content:center; display:flex}

.ticket-block .container .t-list li div{ float:left; width:33.33%; }
.ticket-block .container .t-list li div strong{ color:rgb(62, 117, 128); display:block; margin-bottom:5px; font-weight:normal; font-size:11px; }
.ticket-block .container .t-list li div b{ display:block; margin-bottom:5px; font-weight:normal; font-size:11px; }
.ticket-block .container .t-list li div p{ color:rgb(73, 73, 85); margin:0 0 0; line-height:17px; padding-right:10px; float:none; }
.ticket-block .container .t-list .item{ padding:5px 0; }
.ticket-block .container .t-list h3{ margin:0; font-size:12px; font-weight:normal; border-bottom:1px solid rgb(230,238,239); padding-bottom:5px; }

.ticket-block .container .footer{ line-height:20px; padding-top:10px; border-top:1px solid rgb(230,238,239); }
.ticket-block .container .footer p{ margin:0; }
.ticket-block .container .footer-img{ margin-top:15px; }
.ticket-block .container .footer-img span{ padding-right:10px; float:left; }
.ticket-block .container .footer-img img{ max-width:500px; }

.ticket-block .container .t-list div.route-div{
   float:none;
   display:flex;
   width:100%;
   flex-direction:column;
   padding-bottom:25px;
}
div.route-custom{
   background-color:rgb(0, 148, 160)!important;
   justify-content:space-between;
   color:rgb(255, 255, 255)!important;
   flex-direction:column;
   text-align:center;
   line-height:10px;
   padding:3px 3px;
   display:flex;
   width:100px;
   font-size:9px;
}
div.different{ position:relative; display:flex;}
div.different b{ font-size:6px; color:rgb(0, 148, 160);}
div.different.r-0{ display:none; }
div.route-custom.lbl-departure{
   background-color: rgb(255, 255, 255)!important;
   border:1px solid rgb(0, 148, 160) ;
   color:rgb(0, 148, 160)!important;
   flex-direction:row;
}
div.route-custom.lbl-arrival{
   background-color: rgb(255, 255, 255)!important;
   border:1px solid rgb(0, 148, 160) ;
   color:rgb(0, 148, 160)!important;
   flex-direction:row;
}
.ticket-block .container .t-list li .r-detail div.route-custom{
width: 150px;
   float: left;
   display: flex;
   flex-direction: row;
}
.ticket-block .container .t-list li .r-detail div.different{
   padding: 0px;
}
