<!-- BEGIN loop-block -->

<tr id="item-{id}">
    <td class="id"><input type="checkbox" name="select[]" autocomplete="off" value="{id}" {delete_checkbox_attr} /></td>
    <td class="name">
    	{fname}
    	<p>
	        <a id="edit-{id}" rel="{id}" href="{ajax_link}">View  &raquo;</a>
	        <a id="delete-{id}" rel="{id}" href="{ajax_link}">Delete &raquo;</a>
	    </p>
	    <div id="edit-form-{id}" class="popup-form">
	    	<fieldset class="form-group">
	    		<label>Name</label>
	    		<p><b>{fname}</b></p>
	    	</fieldset>
	    	<fieldset class="form-group">
	    		<label>Email</label>
	    		<p><a href="mailto:{femail}">{femail}</a></p>
	    	</fieldset>
	    	<fieldset class="form-group">
	    		<label>Feedback</label>
	    		<p>{fmessage}</p>
	    	</fieldset>
	    	<fieldset class="form-group">
	    		<label>Rating</label>
	    		<p>{frating}</p>
	    	</fieldset>
	    	<fieldset class="form-group feedback-status">
	    		<label>Status</label>
	    		<select name="fstatus_{id}" autocomplete="off">
	    			{fstatus_option}	    			
	    		</select>
	    	</fieldset>
	    	<fieldset class="form-action">	    		
            	<button type="button" class="btn-save pull-left" data-ajax-link="{ajax_link}" name="save_{id}">Save</button>
            	<a class="cancel pull-left">Cancel</a>
            	<a class="delete pull-right" href="{ajax_link}" rel="{id}">Delete</a>
	    	</fieldset>
	    </div>
	    <script type="text/javascript">
	    	jQuery('#edit-{id}').on('click', function(e){
	    		jQuery('#edit-form-{id}').dialog({
	    			width: 600,
	                modal: true,
	                draggable: false,
	                resizable: false,
	                title: 'Guest Feedback',
	                open: function(){
	                	jQuery(this).parent().addClass('feedback-popup');
                		feedback_popup_action('{id}');
	                }
	            });

	            return false;
	    	});

	    	jQuery('#delete-{id}').on('click', function(e){
	    		delete_feedback( jQuery(this), '{id}' );
		        return false;
	    	});

	    	function feedback_popup_action( id )
	    	{
	    		jQuery('#edit-form-' + id +' button').unbind();
	    		jQuery('#edit-form-' + id +' button').on('click', function(){
	    			var url = jQuery(this).attr('data-ajax-link');
		    		var prm = new Object();
		    			prm.pkey   = 'edit-feedback-status';
		    			prm.status = jQuery('[name=fstatus_' + id + ']').val();
		    			prm.fid    = id;

		    		jQuery.ajax({
                        method: 'POST',
                        url: url,
                        data: prm,
                        dataType : 'json',
					    success: function(e){
					    	if( e.result=='success' )
					    	{
					    		show_popup('Notification', 'This feedback has been successfully edited', 'location.reload()');
					    	}
                            else if( e.result=='failed' )
                            {
                                show_popup('Warning', 'Sorry, This feedback can\'t be edited. Please try again later');
                            }
					    },
					    error: function(e){
					       show_popup('Warning', 'Sorry, This feedback can\'t be edited. Please try again later');
					    }
					});
	    		});

	    		jQuery('#edit-form-' + id +' .cancel').unbind();
	    		jQuery('#edit-form-' + id +' .cancel').on('click', function(){
	    			jQuery('#edit-form-' + id).dialog('close');
	    		});

	    		jQuery('#edit-form-' + id +' .delete').unbind();
	    		jQuery('#edit-form-' + id +' .delete').on('click', function(){	    			
	    			delete_feedback( jQuery(this), id );
		            return false;
	    		})
	    	}

	    	function delete_feedback( sel, id )
	    	{
	    		var url = sel.attr('href');
	    		var prm = new Object();
	    			prm.pkey = 'delete-feedback';
	    			prm.fid  = sel.attr('rel');

	    		jQuery('<div></div>').dialog({
	                modal: true,
	                draggable: false,
	                resizable: false,
	                title: 'Notification',
	                open: function(){
	                    jQuery(this).html('Are you sure want to delete this feedback?');
	                },
	                buttons: {
	                    Yes: function(){
	                    	var popup = jQuery(this);

	                    	jQuery.ajax({
		                        method: 'POST',
		                        url: url,
		                        data: prm,
		                        dataType : 'json',
							    success: function(e){
							    	popup.dialog('close');

							    	if( e.result=='success' )
							    	{
							    		jQuery('#item-'+id).fadeOut(200, function(){
							    			show_popup('Notification', 'This feedback has been successfully deleted');
							    		});
							    	}
                                    else if( e.result=='failed' )
                                    {
                                        show_popup('Warning', 'Sorry, This feedback can\'t be deleted. Please try again later');
                                    }
							    },
							    error: function(e){
							       popup.dialog('close');

							       show_popup('Warning', 'Sorry, This feedback can\'t be deleted. Please try again later');
							    }
							});
	                    },
	                    No: function(){
	                        jQuery( this ).dialog('close');
	                    }
	                }
	            });
	    	}
	    </script>
    </td>
    <td class="email">{femail}</td>
    <td class="rate">{frating}</td>
    <td class="status">{fstatus}</td>
</tr>

<!-- END loop-block -->