<!-- BEGIN form-block -->

<div class="wrapper-block rate-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-12"> 
                    <h1>New/Edit Rate</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-block">
                    	{message}
                    	<fieldset class="sr-only">
                    		<input type="text" name="rtid" value="{rtid}" />
                    	</fieldset>
                        <fieldset class="form-inline">
                            <label>Rate Period</label>
                            <div class="form-group">
                                <select class="select-option" name="rpid" autocomplete="off">
                                    {rpid}
                                </select>
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Applicable Route</label>
                            <div class="route-list-block">
                                {rid}
                            </div>
                            <div class="route-list-action">
                                <div class="form-group">
                                    <a href="{ajax_link}" class="add-new-route">Add new route</a>
                                    <img class="loader" src="{img_url}/loader.gif" alt="Loading..." width="100">
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <div class="form-group-block">
                                <select class="select-option rate-type" name="rttype" autocomplete="off">
                                    {rttype}
                                </select>
                            </div>
                            <div class="form-group-block rate-list-block">
                                {rate_option}
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Seat Discount</label>
                            <div class="form-group">
                                <div class="checkbox">
                                    <input id="seat-disc-check" class="seat-disc-check" value="1" name="rtseatdisc" autocomplete="off" type="checkbox" {seat_disc_check} />
                                    <label for="seat-disc-check">Add seat discount</label>
                                </div>
                            </div>
                            <div class="seat-disc-block {seat_disc_css}">
                                <div class="seat-disc-list-block">
                                    {seat_discount}
                                </div>
                                <div class="seat-disc-list-action">
                                    <div class="form-group">
                                        <a href="{ajax_link}" class="add-new-seat-disc">Add more condition</a>
                                        <img class="loader" src="{img_url}/loader.gif" alt="Loading..." width="100">
                                    </div>
                                </div>
                            </option>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Early Bird Discount</label>
                            <div class="form-group">
                                <div class="checkbox">
                                    <input id="early-disc-check" class="early-disc-check" value="1" name="rtearlydisc" autocomplete="off" type="checkbox" {early_disc_check} />
                                    <label for="early-disc-check">Add early bird discount </label>
                                </div>
                            </div>
                            <div class="early-disc-block {early_disc_css}">
                                <div class="early-disc-list-block">
                                    {early_discount}
                                </div>
                                <div class="early-disc-list-action">
                                    <div class="form-group">
                                        <a href="{ajax_link}" class="add-new-early-disc">Add more condition</a>
                                        <img class="loader" src="{img_url}/loader.gif" alt="Loading..." width="100">
                                    </div>
                                </div>
                            </option>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Inclusion</label>
                            <div class="form-group-block">
                                <textarea class="textarea text-large tinymce form-control" rows="5" name="rtinclude" autocomplete="off">{rtinclude}</textarea>
                            </div>
                        </fieldset>
                        <fieldset class="form-inline">
                            <label>Additional Info</label>
                            <div class="form-group-block">
                                <textarea class="textarea text-large tinymce form-control" rows="5" name="rtinfo" autocomplete="off">{rtinfo}</textarea>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-action clearfix">
                    	<button type="submit" class="btn-save pull-left" name="publish">Save Rate</button>
                    	<a class="cancel pull-left" href="{cancel_link}">Cancel</a>
                    	<a class="delete pull-right {delete_class}" href="{ajax_link}">Delete</a>
                    </div>
                    <div class="form-note">
                        {last_update_note}
                    </div>
                </div>
            </div>
        </form>

        <script type="text/javascript">
            jQuery(document).ready(function(){
                jQuery('.select-option').chosen({ max_selected_options:10, search_contains:true });
                jQuery('.form-action .delete').on('click', function(e){
                    var url = jQuery(this).attr('href');
                    var prm = new Object();
                        prm.pkey = 'delete-rate';
                        prm.rtid = jQuery('[name=rtid]').val();

                    jQuery('<div></div>').dialog({
                        modal: true,
                        draggable: false,
                        resizable: false,
                        title: 'Notification',
                        open: function(){
                            jQuery(this).html('Are you sure want to delete this rate?');
                        },
                        buttons: {
                            Yes: function(){
                                var popup = jQuery(this);

                                jQuery.ajax({
                                    method: 'POST',
                                    url: url,
                                    data: prm,
                                    dataType : 'json',
                                    success: function(e){
                                        popup.dialog('close');

                                        if( e.result=='success' )
                                        {                                       
                                            show_popup('Notification', 'This rate has been successfully deleted', 'window.location.assign("{cancel_link}")');
                                        }
                                        else if( e.result=='error-query' )
                                        {
                                            if( e.error_code==1451 )
                                            {
                                                show_popup('Warning', 'Sorry, This rate can\'t be deleted. May already be used in vehicle data');
                                            }
                                            else
                                            {
                                                show_popup('Warning', 'Sorry, This rate can\'t be deleted. Please try again later');
                                            }
                                        }
                                    },
                                    error: function(e){
                                       popup.dialog('close');

                                       show_popup('Warning', 'Sorry, This rate can\'t be deleted. Please try again later');
                                    }
                                });
                            },
                            No: function(){
                                jQuery( this ).dialog('close');
                            }
                        }
                    });

                    return false;
                });

                jQuery('.add-new-route').on('click', function(e){
                    var loader = jQuery(this).parent().find('.loader');
                    var url    = jQuery(this).attr('href');
                    var prm    = new Object();
                        prm.pkey  = 'add-new-route-options';

                    loader.css('display', 'inline');

                    jQuery.ajax({
                        method: 'POST',
                        url: url,
                        data: prm,
                        dataType : 'html',
                        success: function(e){
                            loader.css('display', 'none');

                            jQuery('.route-list-block').append(e);
                            jQuery('.route-list-block .form-group-block:last-child .select-option').chosen({ max_selected_options:10, search_contains:true });

                            run_after_ajax_request();
                        },
                        error: function(e){
                            loader.css('display', 'none');

                            show_popup('Warning', 'Sorry, can\'t completed your request. Please try again later');
                        }
                    });

                    return false;
                });

                jQuery('.rate-type').on('change', function(e){
                    var type = jQuery(this).val();
                    set_rate_options( type );
                });

                jQuery('.route-list').on('change', function(e){
                    var type = jQuery('.rate-type').val();
                    set_rate_options( type );
                });

                jQuery('.seat-disc-check').on('click', function(e){
                    var wrapper  = jQuery(this).parent().parent().parent();
                    var is_check = jQuery(this).prop('checked');

                    if( is_check )
                    {
                        wrapper.find('.seat-disc-block').removeClass('hidden');

                        jQuery('.early-disc-check').prop('checked', false);
                        jQuery('.early-disc-block').addClass('hidden');
                    }
                    else
                    {
                        wrapper.find('.seat-disc-block').addClass('hidden');
                    }
                });

                jQuery('.early-disc-check').on('click', function(e){
                    var wrapper  = jQuery(this).parent().parent().parent();
                    var is_check = jQuery(this).prop('checked');

                    if( is_check )
                    {
                        wrapper.find('.early-disc-block').removeClass('hidden');

                        jQuery('.seat-disc-check').prop('checked', false);
                        jQuery('.seat-disc-block').addClass('hidden');
                    }
                    else
                    {
                        wrapper.find('.early-disc-block').addClass('hidden');
                    }
                });

                jQuery('.add-new-seat-disc').on('click', function(e){
                    var loader = jQuery(this).parent().find('.loader');
                    var url    = jQuery(this).attr('href');
                    var prm    = new Object();
                        prm.pkey  = 'add-new-seat-disc';

                    loader.css('display', 'inline');

                    jQuery.ajax({
                        method: 'POST',
                        url: url,
                        data: prm,
                        dataType : 'html',
                        success: function(e){
                            loader.css('display', 'none');

                            jQuery('.seat-disc-list-block').append(e);
                        },
                        error: function(e){
                            loader.css('display', 'none');

                            show_popup('Warning', 'Sorry, can\'t completed your request. Please try again later');
                        }
                    });

                    return false;                    
                });

                jQuery('.add-new-early-disc').on('click', function(e){
                    var loader = jQuery(this).parent().find('.loader');
                    var url    = jQuery(this).attr('href');
                    var prm    = new Object();
                        prm.pkey  = 'add-new-early-disc';

                    loader.css('display', 'inline');

                    jQuery.ajax({
                        method: 'POST',
                        url: url,
                        data: prm,
                        dataType : 'html',
                        success: function(e){
                            loader.css('display', 'none');

                            jQuery('.early-disc-list-block').append(e);
                            run_after_ajax_request();
                        },
                        error: function(e){
                            loader.css('display', 'none');

                            show_popup('Warning', 'Sorry, can\'t completed your request. Please try again later');
                        }
                    });

                    return false;                    
                });

                set_tinymce();
                set_date_field();
                delete_applicable_route();
            });

            function set_date_field()
            {
                jQuery('.early-disc-list-block .item').each(function(i, e){
                    var sel = jQuery(this);

                    sel.find('.text-date-from').datepicker({
                        dateFormat:'dd MM yy',
                        onSelect: function(date){
                            var date2 = sel.find('.text-date-to').datepicker('getDate');

                            if( date2 == null )
                            {
                                sel.find('.text-date-to').datepicker('setDate', date);
                            }

                            sel.find('.text-date-to').datepicker('option', 'minDate', date);
                        }
                    });

                    sel.find('.text-date-to').datepicker({
                        dateFormat:'dd MM yy',
                        onClose: function(date){
                            var date2 = sel.find('.text-date-from').datepicker('getDate');

                            if( date2 == null )
                            {
                                sel.find('.text-date-from').datepicker('setDate', date);
                            }
                            
                            sel.find('.text-date-from').datepicker('option', 'maxDate', date);
                        }
                    });
                });
            }

            function set_rate_options( type )
            {
                var prm = new Object();
                    prm.pkey  = 'add-rate-options';
                    prm.rtype = type;
                    prm.rid   = new Array();
                    prm.rtid  = jQuery('[name=rtid]').val();

                    jQuery('.route-list').each(function(i, ee){
                        var vals = jQuery(this).val();
                        if( vals != '' )
                        {
                            if( jQuery.inArray( vals, prm.rid ) == -1 )
                            {
                                prm.rid.push( vals );
                            }
                        }
                    });

                if( prm.rid.length < jQuery('.route-list').length )
                {
                    show_popup('Warning', 'Please check again your route. Fill all route options and make sure there are no similar route');
                    jQuery('.rate-type').val('');
                    jQuery('.rate-list-block').html('');
                }
                else
                {
                    jQuery.ajax({
                        method: 'POST',
                        url: '{ajax_link}',
                        data: prm,
                        dataType : 'html',
                        success: function(e){
                            jQuery('.rate-list-block').html(e);
                            run_after_ajax_request();
                        },
                        error: function(e){
                            show_popup('Warning', 'Sorry, can\'t completed your request. Please try again later');
                        }
                    }); 
                }
            }

            function delete_applicable_route()
            {
                jQuery('.delete-route').unbind('click');
                jQuery('.delete-route').on('click', function(e){
                    var sel = jQuery(this).parent();
                    var id  = jQuery(this).data('id');

                    if( id != '' )
                    {
                        jQuery('<div></div>').dialog({
                            resizable: false,
                            height: 'auto',
                            modal: true,
                            width: 400,
                            title: 'Delete Applicable Route',
                            open: function(){
                                jQuery(this).html('Are you sure want to delete this route?');
                            },
                            buttons:{
                                Yes: function(){
                                    var dlg = jQuery(this);
                                    var prm = new Object();
                                        prm.pkey  = 'delete-applicable-route';
                                        prm.rtdid = id;

                                    jQuery.ajax({
                                        method: 'POST',
                                        url: '{ajax_link}',
                                        data: prm,
                                        dataType : 'json',
                                        success: function( e ){
                                            dlg.dialog('close');

                                            if( e.result = 'success' )
                                            {
                                                show_popup('Notification', 'Successfully remove this route from applicable route', 'location.reload()');
                                            }
                                            else
                                            {
                                                show_popup('Warning', 'Sorry you can\'t remove this route. Please try again later');
                                            }
                                        },
                                        error: function( e ){
                                            dlg.dialog('close');

                                            show_popup('Warning', 'Sorry you can\'t remove this route. Please try again later');
                                        }
                                    });
                                },
                                No: function(){
                                    jQuery(this).dialog('close');
                                }
                            }
                        });
                    }
                    else
                    {
                        sel.remove();
                    }
                });
            }

            function run_after_ajax_request()
            {
                set_date_field();
                delete_applicable_route();

                jQuery('.route-list').unbind('change');
                jQuery('.route-list').on('change', function(e){
                    var type = jQuery('.rate-type').val();
                    set_rate_options( type );
                });
            }

            function set_tinymce()
            {
                tinymce.init({
                    selector: '.tinymce',
                    height: 300,
                    theme: 'modern',
                    plugins: [
                        'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                        'searchreplace wordcount visualblocks visualchars code fullscreen',
                        'insertdatetime media nonbreaking save table contextmenu directionality',
                        'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
                    ],
                    toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link unlink image | print preview media | forecolor backcolor emoticons | codesample code',
                    image_advtab: true,
                    content_css: [
                        '../l-admin/themes/{admin_theme}/css/textarea.css',
                    ]
                });
            }
        </script>
    </div>
</div>

<!-- END form-block -->