<!-- BEGIN list-block -->

<div class="wrapper-block rate-block">
    <div class="container-fluid">
        <form action="{action}" method="post" name="alist">
            <div class="row">
                <div class="col-md-8"> 
                    <h1>Online Rate</h1>
                </div>
                <div class="col-md-4">
                    <div class="button-box clearfix">
                        <button type="submit" class="button btn-delete disabled" name="delete" value="Delete" disabled="disabled">Delete Rate</button>
                        <button type="button" class="button btn-add" name="add_new" onclick="location.href='{add_new_link}';">New Online Rate</button>
                    </div>
                </div>
            </div>
            <div class="row">     
                <div class="col-md-12">           
                    <input type="hidden" name="thaurl" value="{action}" />
                    <input type="hidden" name="state" value="schedules&sub=rate" />
                    <div class="filter-box clearfix">
                        <span class="text">Filter</span>
                        <select name="rid" id="select_sparent">
                            <option value="">All Route</option>
                            {route_option}
                        </select>
                        <select name="rpid" id="select_route">
                            <option value="">All Period</option>
                            {period_option}
                        </select>
                        <input name="filter" type="submit" value="Filter" class="filters">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-block">
                        {message}
                        <table id="rate-table" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="15" data-orderable="false"><input type="checkbox" name="check_all" autocomplete="off" /></th>
                                    <th>Period</th>
                                    <th data-orderable="false">Route</th>
                                    <th data-orderable="false">Depart</th>
                                    <th width="150" data-orderable="false" class="text-right">Adult</th>
                                    <th width="150" data-orderable="false" class="text-right">Child</th>
                                    <th width="150" data-orderable="false" class="text-right">Infant</th>
                                    <th width="100" data-orderable="false" class="text-center">Trans</th>
                                    <th width="100" class="text-center">Seat Disc</th>
                                    <th width="100" class="text-center">Early Disc</th>
                                </tr>
                            </thead>
                            <tbody>
                                {list}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery('#rate-table').DataTable({
                'dom':"<'row'<'col-xs-5 col-sm-6'l><'col-xs-7 col-sm-6 text-right'f>r>t<'row'<'col-md-12'i><'col-md-12 text-center'p>>",
                'pageLength': parseInt('{limit}'),
                'lengthChange': false,
                'searching': false,
                'info': false,
                'order': []
            });
        });
    </script>
</div>

<!-- END list-block -->