<!-- BEGIN loop-block -->

<tr id="item-{id}">
    <td class="name">
    	{ntitle}
    	<p>
	        <a id="close-{id}" rel="{id}" href="{ajax_link}" onclick="return false;" >{close_txt}</a>
	    </p>
	    <script type="text/javascript">
	    	jQuery('#close-{id}').on('click', function(e){
	    		var url = jQuery(this).attr('href');
	    		var prm = new Object();
					prm.pkey    = 'update-ticket-notification';
					prm.nid     = jQuery(this).attr('rel');
					prm.nstatus = 1;

	    		jQuery('<div></div>').dialog({
	                modal: true,
	                draggable: false,
	                resizable: false,
	                title: 'Notification',
	                open: function(){
	                    jQuery(this).html('Are you sure want to close this notification?');
	                },
	                buttons: {
	                    Yes: function(){
	                    	var popup = jQuery(this);

	                    	jQuery.ajax({
		                        method: 'POST',
		                        url: url,
		                        data: prm,
		                        dataType : 'json',
							    success: function(e){
							    	popup.dialog('close');

							    	if( e.result=='success' )
							    	{							    		
							    		show_popup('Notification', 'This notification has been successfully closed', 'location.reload()');
							    	}
							    	else if( e.result=='failed' )
							    	{
							    		show_popup('Warning', 'Sorry, This notification can\'t be closed. Please try again later');
							    	}
							    },
							    error: function(e){
							       popup.dialog('close');

							       show_popup('Warning', 'Sorry, This notification can\'t be closed. Please try again later');
							    }
							});
	                    },
	                    No: function(){
	                        jQuery( this ).dialog('close');
	                    }
	                }
	            });
	    	});
	    </script>
    </td>
    <td>{ncontent}</td>
    <td>{nstatus}</td>
</tr>

<!-- END loop-block -->